<div class="row content-area ">
    <div class="row module-heading title">
        <!-- <span class="module-back-button">
            <i aria-hidden="true" class="fas fa-arrow-left"></i>
        </span> -->
        <span class="module-header-title">Process Analyst Dashboard</span>
    </div>
    <div class="wrapper" style="height: 100%;overflow: scroll;overflow-x: hidden;">
        <div id="" class="row" style="margin-bottom: 10%;">
            <div class="col-md-9" style="width: 78%;">
                <div class="row">
                    <div class="col-md-4" style="margin-left: -15px;">
                        <div class="chartinner">
                            <div class="dbichart-block">
                                <div class="dbichart-body">
                                    <div style="display: flex;justify-content: center;">
                                        <img style="padding-right: 7%;margin-top: 0%;" src="..\assets\images\Projects\approved.svg" alt="" srcset="">
                                        <h2 style="margin-left:0%;">{{totalProjects}} <br> <span>Total Projects</span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="chartinner">
                            <div class="dbichart-block">
                                <div class="dbichart-body">
                                    <div style="display: flex;justify-content: center;">
                                        <img style="padding-right: 7%;margin-top: 0%;" src="..\assets\images\Projects\inprogress.svg" alt="" srcset="">
                                        <h2 style="margin-left:0%;">{{totalTasks}} <br> <span>Total Tasks</span></h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="chartinner">
                            <div class="dbichart-block">
                                <div class="dbichart-body">
                                    <div style="display: flex;justify-content: center;">
                                        <img style="padding-right: 7%;margin-top: 0%;" src="..\assets\images\Projects\inreview.svg" alt="" srcset="">
                                        <h2 style="margin-left:0%;">{{Processes}} <br> <span>Processes</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="dbichart-block block chartinner box">
                            <div class="dbichart-head">
                                <span class="module-header-title">Pending Approvals</span>
                                <span class="module-header-title">
                                    <select name="Filter by" class="form-control selectsize" (change)="projectPending($event.target.value)">
                                        <option value="All" disabled hidden>All</option>
                                        <option *ngFor="let item of filterByDays" [value]=item>{{item}}&nbsp;Days</option>
                                    </select>
                                </span>
                            </div>
                            <div class="dbichart-body">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="width: 30%;">Process Name</th>
                                            <th style="width: 27%;">Created Date</th>
                                            <th style="width: 39%;">Submitted By</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of pendingApprovals  | paginate: {id:'paginator2' , itemsPerPage: 5,currentPage: q }">
                                            <td>{{item['Process Name'] }}</td>
                                            <td>{{item['Created Date'] | date: 'dd/MM/yyyy hh:mm a' }}</td>
                                            <td>{{item['Submitted by'] }}</td>
                                            <td class="Tkt-eyehover" style="text-align: center;">
                                                <img src="../../../../assets/images/PI/eye-show.svg" alt="" class="testplus default-img">
                                                <img src="../../../../assets/images/Admin/eye-show-blue.svg" alt="" class="testplus hover-img">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right" style="margin-top: 1%;">
                                    <pagination-controls id="paginator2" (pageChange)="q = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 p-0">
                            <div class="dbichart-block block chartinner ">
                                <div class="dbichart-head">
                                    <span class="module-header-title">Task Status</span>
                                    <span class="module-header-title">
                                        <select name="Filter by" class="form-control selectsize" (change)="projectStatus($event.target.value)">
                                            <option value="All" disabled hidden>All</option>
                                            <option *ngFor="let item of filterByDays" [value]=item>{{item}}&nbsp;Days</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="dbichart-body">
                                    <div id="projectstatus-chart" class="amart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-2">
                            <div class="dbichart-block block chartinner ">
                                <div class="dbichart-head">
                                    <span class="module-header-title">Task Progress</span>
                                    <span class="module-header-title">
                                        <select name="Filter by" class="form-control selectsize" (change)="projectProgress($event.target.value)">
                                            <option value="All" disabled hidden>All</option>
                                            <option *ngFor="let item of filterByDays" [value]=item>{{item}}&nbsp;Days</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="dbichart-body">
                                    <div id="runtimestatistics-piechart" class="amart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5%;">
                        <div class="col-md-12 p-0">
                            <div class="dbichart-block block chartinner resources">
                                <div class="dbichart-head" style="margin-bottom: 2%;">
                                    <span class="module-header-title">Effort Expenditure Analytics</span>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-6 pl-1 dbichart-block" style="margin-left: 1%;">
                                        <h4>Total Projects</h4>
                                        <h3 style="color: #00a0e3;">{{expenditureProjects}}</h3>
                                    </div>
                                    <div class="col-md-5 pl-1 dbichart-block" style="margin-left: 5%;">
                                        <h4>Total Days</h4>
                                        <h3 style="color: #00a0e3;">{{expenditureDays}}</h3>
                                    </div>
                                </div>
                                <div class="dbichart-body">
                                    <div class="dbichart-head">
                                        <span class="module-header-title">Top Resources</span>
                                    </div>
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Project Name</th>
                                                <th>Days Spent</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of topEffortsSpent | keyvalue  | paginate: {id:'paginator3',itemsPerPage: 4,currentPage: a }">
                                                <td style="text-transform: lowercase;">{{item.key}}</td>
                                                <td style="text-transform: lowercase;">{{item.value}} days</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-right" style="margin-top: 1%;">
                                        <pagination-controls id="paginator3" (pageChange)="a = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-0" style="width: 22%;">
                <div class="row">
                    <div class="dbichart-block activitys">
                        <div class="dbichart-head">
                            <span class="module-header-title">Activity Sream</span>
                            <!-- <span class="module-header-title">
                                <select name="Filter by" class="form-control activity"
                                    (change)="activityList($event.target.value)">
                                    <option value="" disabled hidden>Recent Approvals</option>
                                    <option value="recentApprovals">Recent Approvals</option>
                                    <option value="pendingApprovals">Pending Approvals</option>
                                </select>
                            </span> -->
                        </div><br>
                        <div class="dbichart-body">
                            <div class="content" *ngFor="let item of activityStream | paginate: {id:'paginator5',itemsPerPage: 4,currentPage: r }">
                                <h3 style="font-size: 13px;">Approved By &nbsp;&nbsp;&nbsp; :
                                    <b>&nbsp;{{item.approverName}}</b></h3>
                                <h3 style="font-size: 13px;">Process Name : <b style="color: #00a0e3;">&nbsp;{{item.processName}}</b></h3>
                                <h3 style="font-size: 13px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">
                                    Review &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;{{item.reviewComments?item.reviewComments:'No Review Comments'}}
                                </h3>
                                <hr>
                            </div>
                            <div class="text-right">
                                <pagination-controls id="paginator5" (pageChange)="r = $event"></pagination-controls>
                            </div>
                        </div>
                    </div><br>
                    <div class="dbichart-block activitys">
                        <div class="dbichart-head">
                            <span class="module-header-title">Upcoming Due Dates</span>
                        </div>
                        <div class="dbichart-body">
                            <h3 style="position: inherit;margin-top: 5%;margin-bottom: 8%;padding: 2px;">
                                <span class="upcoming">
                                <img _ngcontent-tcl-c33=""  src="/assets/images/RPA/red-circle.png">
                                Tasks </span>
                                <span class="upcoming">
                                    <img _ngcontent-tcl-c33=""  src="/assets/images/RPA/GreenCricle.png">
                                    Projects </span>
                            </h3>
                            <div *ngFor="let item of upcomingDueDates | paginate: { itemsPerPage: 4,currentPage: t }">
                                <div class="timesheet">
                                    <p [ngClass]="item.Type == 'task' ? 'red' : 'green'"><b>{{item['Task Name'] ? item['Task Name'] : item['Project Name']}}</b></p>
                                    <p style="font-size: 13px;">Due Date : &nbsp;{{item['End Date'] | date: 'dd/MM/yyyy hh:mm a' }}</p>
                                    <p style="font-size: 13px;color: #00a0e3;">5 daysago</p>
                                </div><br>
                            </div>
                            <div class="text-right">
                                <pagination-controls (pageChange)="t = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spinoverlay" *ngIf="isLoading">
            <div class="spincenter">
                <img src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader" />
            </div>
        </div>
    </div>