.t-comments-box {
    padding: 10px;
  }
    
    .add-comment {
      display: flex;
      margin: 10px 0px 20px;
    }
      .comment-input {
        position: relative;
        width: 100%;
      }

    .comment-send {
      color: #001c47;
      position: absolute;
      right: 12px;
      top: 7px;
    }
    #sendcomment:hover {
      color: #00a1e3;
    }

      .comment-label {
        line-height: 1;
      }
     
        .comment-time {
          font-weight: 100;
          color: #768791;
        }
      
      .comment-action {
        margin-right: 4px;
        text-align:right;
        color:#000;
      }
      .comment-action:hover {
        color: #00a1e3;
      }
      .comment-level-1 {
        /* margin-left: 50px; */
        margin-top: 15px;
      }
      .comment-content {
        width: 100%;
        margin-bottom: 12px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
    }
    .updatecomments .modal-footer.modelprfooter {
      padding-bottom: 0px;
    }
    .comment-content-subdiv {
      display: inline-flex;
      width: 100%;
    }


    ::ng-deep .ng-select-container {
      height: auto !important;
      font-size: 1.0em!important;
      font-family:sans-serif;
    }
  
  
    
  label.label-control {
    /* padding: 4px 0px; */
    border: 1px solid transparent;
    border-bottom: medium none;
    margin: 0px !important;
    border-radius: 2px;
    color: black;
    font-weight: 600;
    font-size: 14px;
    /* height: 30px; */
    margin-bottom: 3px !important;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
  }
  
  .prj-crt-form {
    margin-right: -15px !important;
    margin-left: -15px !important;
    padding-top: 15px !important;
  }
  
  
  .maindivfoprm {
    width: 800px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .padding-10{
    padding:10px;
  }

  .labelcont{
    color: #00a0e3 !important;
    font-weight: 600;
    
  }
  
  


  img.testplus.hover-img ,
button.btn.btn-primary.prj-lst-btn:hover img.testplus.default-img{
    display: none;
}
button.btn.btn-primary.prj-lst-btn:hover img.testplus.hover-img {
    display: initial;
}


img.testplus.hover-img ,
button.btn.btn-primary.prj-lst-btn:hover img.testplus.default-img{
    display: none;
}
button.btn.btn-primary.prj-lst-btn:hover img.testplus.hover-img {
    display: initial;
}


.res-circle {
  width: 32px;
  border-radius: 100%;
  height: 32px;
  color: #00a0e3;
  background: #e6f2fd;
  /* font-weight: 600; */
  padding: 3px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  /* letter-spacing: 1px; */
}
.res-circle-img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}
.res-circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.ET-history .histcontent {
  padding-left: 15px;
}
.attachment-name{
  font-weight: bold;
  font-size: 0.95rem;
  color: #292929;
}

ul.historydiv, .edit-resourcesdiv  {
  padding: 15px 10px;
}
.attachmentdiv label.label-content {
  margin-left: 10px;
  font-weight: 500 !important;
  color: #001c47 !important;
}
.attachmentdiv{
  padding: 10px;
}
.row.attachment-content {
  margin-bottom: 10px !important;
}
 ul.historydiv, .edit-resourcesdiv  {
  padding: 10px;
}
.attachmentdiv label.label-content {
  margin-left: 10px;
  font-weight: 500 !important;
  color: #001c47 !important;
}
.row.attachment-content {
  margin-bottom: 10px !important;
}
ul.historydiv li {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0px 15px;
}
/* ul.historydiv li:first-child {
  padding-top: 0px;
} */
ul.historydiv li:last-child {
  border-bottom: none !important;
}
table tbody tr {
  height: 40px;
} 
.d-flex{
  display: flex;
}


.userimage{
  /* padding:10px; */
  margin-right: 15px;
}
.commentsadded {
  /* font-weight: 600; */
  color: #001c47;
  background-color: #f8f8f8;
  padding: 6px 10px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 15px;
  /* margin-left: 8px; */
}

::ng-deep .edit-task-tabs .mat-tab-body-content{
  height:178px !important;
  overflow:auto !important;
  border : 1px solid #ddd;
}


.bg-task{
  background-color: #F3F3F3;
  padding: 12px 10px !important;

}
.task-name{
  font-weight: 600;
  font-size: 22px;
  color: #001c47;
  line-height: 0px !important;
  padding-top:16px;
}
.level3{
  color: #001c47;
  font-size: 12px;
}
.value{
  color: #001C47;
  font-weight: 400;
  font-size: 13px;
  padding-top: 6px;
}

.edit-task-body {
  padding: 10px;
  height: calc(100% - 120px) !important;
  overflow: auto !important;
}


.edit-task-form .container-fluid{
  padding-left:0px !important;
  padding-right:0px !important;
}

img.hover-img {
  display: none;
}
.newinntalx:hover img.default-img {
  display: none;
  cursor: pointer;
}

.newinntalx:hover img.hover-img {
  display: initial;
  cursor: pointer;
}


.gridicon:hover img.default-img {
  display: none;
}
.gridicon:hover img.hover-img {
  display: initial;
}

.default-img,.hover-img{
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 5px;
}

.modal-footer.modelprfooter {
  padding: 20px 0px 0px !important;
}
.modal-footer.modelprfooter button.btn.btn-primary {
  margin-right: 0px !important;
}
.ET-history {
  display: flex;
  align-items: center;
}
.Attachmentsicons {
  float: right;
  padding-bottom: 15px;
}
.mat-paginator {
  padding-top: 6px;
}  
.task-name-input{
  width:200px; 
}