<div class="h-100">
  <div class="depart-btns">
    <span routerLink="/pages/admin/create-department" pTooltip="Create New" tooltipPosition="top">
      <img  src="../../../../assets/images/RPA/icon_latest/new-blue.svg" class="testplus" alt="Create New" />
    </span>
    <span *ngIf="Departmentdeleteflag" id="deletebtn" (click)="deleteDepartment()" pTooltip="Delete" tooltipPosition="top">      
      <img  src="../../../../assets/images/RPA/icon_latest/delete-blue.svg" class="testplus" alt="Delete" />
    </span>
    <span *ngIf="!Departmentdeleteflag" id="deletebtndis" >
      <img  src="../../../../assets/images/RPA/icon_latest/delete-dis.svg" class="testplus" alt="Delete" />
    </span>
    <!-- <span id="deletebtn" (click)="deleteDepartment()" pTooltip="Delete" tooltipPosition="top">      
      <img *ngIf="Departmentdeleteflag" src="../../../../assets/images/RPA/icon_latest/delete-blue.svg" class="testplus" alt="Delete" />
      <img *ngIf="!Departmentdeleteflag" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg" class="testplus" alt="Delete" />
    </span> -->
  </div>
      <!-- <div class=""> 
          <div class="row">-->
      <!-- <span class="module-header-title"><span>Departments</span></span> -->

     <!-- <div class="col-md-3 pl-0 departmentsearch">
                <input class="form-control toolbar-search departments-home-fileds" matInput (keyup)="applyFilter($event.target.value)"
                  placeholder="Search Department">
                <img src="../../../../assets/images/search.svg" alt="" class="testplus">
              </div> -->
        <!-- <button (click)="resetSearch()" id="deptreset" class="tsttooltipbtn">
                    <img src="../../../../../assets/images/RPA/icon_latest/reset-blue.svg" class="testplus" >
                    <span class="testtooltip">Reset</span>
                  </button > -->
          <!-- <div *ngIf="Departmentdeleteflag">
            <button
              id="deletebtn"
              class="btn btn-primary"
              (click)="deleteDepartment()"
            >
              Delete
            </button>
          </div> -->
      <!-- 
          </div>
          </div> -->
      <!-- <div class="ml-auto prj-lstscr-btn" >
          <button  class="btn btn-primary" type="button" routerLink="/pages/admin/create-department">
            <img  src="../../../../assets/images/Projects/White-plus.svg" class="testplus"/>Create New
          </button>
            <span class="pull-right">
              <div *ngIf="Departmentdeleteflag==true" class="env-btn">
                <button title="Delete Department" value="Delete" id="deletebtn" class="btn btn-primary"  (click)="deleteDepartment()">Delete</button>
            </div>       
            <div *ngIf="Departmentdeleteflag==false" class="env-btn">
                <button data-toggle="tooltip" data-placement="top" id="deletebtn" class="btn btn-primary" title="Delete Department" disabled>Delete</button>
            </div>
            </span>
          </div>     -->
  <div class="gridparentdiv">
    <app-dynamic-table
      [columns_list]="columns_list"
      [table_data]="departments_list"
      (selectedData)="readSelectedData($event)"
      [dataKeyId]="'categoryId'"
      [search_fields]="table_searchFields"
      (editRowById)="editdepartment($event)"
      [show_search_field]="true"
      [show_column_filter]="true"
      [show_clear_filter]="true"
      [show_edit_btn]="true"
      [checkBoxShow]="true"
      [search_fields]="table_searchFields"
    >
    </app-dynamic-table>
  </div>
</div>
