.depart-btns {
  width: fit-content;
  position: absolute;
  right: 205px;
  z-index: 1;
  padding: 7px 10px;
}
.depart-btns span {
  margin-left: 17px;
}
.depart-btns img {
  margin-right: 0px;
}
.depart-btns #deletebtndis img {
  cursor: no-drop;
}
