.depart-btns {
  width: fit-content;
  position: absolute;
  right: 295px;
  z-index: 1;
  padding: 8px 10px;
  /* right: 205px; */
}
.depart-btns span {
  margin-left: 17px;
}
.depart-btns img {
  margin-right: 0px;
}
.depart-btns #deletebtndis img {
  cursor: no-drop;
}
.depart-btns span:hover img.default-icon, .depart-btns img.hover-icon {
  display: none;
}
.depart-btns span:hover img.hover-icon {
  display: initial;
}