span li {
    cursor: pointer;
}

li {
    cursor: pointer;
}

select {
    border-top: none;
    border-right: none;
    border-left: none;
}

.bg-color {
    background-color: rgb(241, 240, 240);
}


.rpa-modal-content{
    padding-bottom: 25px !important;
}

.verticalalignmiddle{
    vertical-align: middle !important;
}
