<div class="bg-color">
<div class="container-fluid">
    <br>
    <div class="text-right">
        <span style="padding:10px">
          <mat-form-field class="example-full-width" id="bmsearch">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search" [(ngModel)]="search" (keyup)="applyFilter2($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </span>
      <span style="padding:10px">
        <mat-form-field id="bmategorySearch">
          <mat-label>Select Category</mat-label>
          <mat-select [(ngModel)]="selectedcat" (selectionChange)="applyFilter($event.value)">
              <mat-option *ngFor="let category of categaoriesList" [value]="category.categoryId">{{category.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span (click)="reset()" id="bmreset"  style="cursor:pointer" matTooltip="Reset">
        <i  class="fa fa-undo"></i>
      </span >
    </div>
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <table mat-table #sort1="matSort" [dataSource]="dataSource1" matSort class=" table" id="bmtable">

                <ng-container matColumnDef="botName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bot Name </th>
                    <td mat-cell *matCellDef="let element"> <button *ngIf="element.botName!=null" (click)="loadbotdatadesign(element.botId);"><span *ngIf="element.botName!=null" [matTooltip]="element.botName">{{(element.botName.length > 15) ? ((element.botName).slice(0, 15) + '...') : element.botName}}</span>
                        <span *ngIf="element.botName==null || element.botName==''">---</span></button> </td>
                </ng-container>


                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.description!=null" [matTooltip]="element.description">{{(element.description.length > 15) ? ((element.description).slice(0, 15) + '...') : element.description}}</span>
                         <span *ngIf="element.description==null || element.description==''">-</span> </td>
                </ng-container>
                <ng-container matColumnDef="botType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Bot Type </th>
                  <td mat-cell *matCellDef="let element"> <button *ngIf="element.botType!=null">{{element.botType}}</button> <span *ngIf="element.botName==''">-</span> </td>
              </ng-container>
              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                <td mat-cell *matCellDef="let element"> <button *ngIf="element.department !=null">{{element.department}}</button> <span *ngIf="element.botName==''">-</span> </td>
            </ng-container>
                <ng-container matColumnDef="version">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Version </th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="element.version!=null">V{{element.version}}</button>
                        <span *ngIf="element.version==''">-</span> </td>
                </ng-container>
                <ng-container matColumnDef="botStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="element.botStatus=='Running'" class="text-primary" ><span><img src="../../../../assets/images/RPA/DotSpin.gif" style="filter: none; width: 19px;"></span>&nbsp;{{element.botStatus}}</span>

                      <span *ngIf="element.botStatus=='Success'" class="text-success"><span><li class="verticalalignmiddle fa fa-check-circle"style="font-size:19px"></span>&nbsp;<span>{{element.botStatus}}</span></span>

                      <span *ngIf="element.botStatus=='Failure'" class="text-danger"><span><li class="verticalalignmiddle fa fa-times-circle" style="font-size:19px"></span>&nbsp;<span>{{element.botStatus}}</span></span>
                      <!--<img src="../../../../assets/images/RPA/newicon.png" style="filter: none; width: 20px;">-->
                      <span *ngIf="element.botStatus=='New'" class="text-primary">
                        <span>
                          <img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;"><!--<img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;">-->&nbsp;
                          <span>{{element.botStatus}}</span>
                        </span>
                      </span>

                      <span *ngIf="element.botStatus=='Stop'" ><span class="bg-danger" style="background-color:#a94442;border-radius: 50%;color:white;padding-right:6px;padding-left:5px;padding-top:5px;padding-bottom:4px;font-size:9px;text-align: center;align-content: center;align-items: center;"><!--<img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;">--><i class="verticalalignmiddle fas fa-stop"></i></span>&nbsp;<span>{{element.botStatus}}</span></span>

                      <span *ngIf="element.botStatus=='Pause'||element.botStatus=='Paused'" ><span class="text-primary" style="font-size:19px;"><!--<img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;">--><i class="verticalalignmiddle fas fa-pause-circle"></i></span>&nbsp;<span>{{element.botStatus}}</span></span>


                      <span *ngIf="element.botStatus==null">---</span> </td>
              </ng-container>
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef >Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <span (click)="executionAct(element.botId)"   matTooltip="Start Bot">
                          <li class="fa fa-play text-success" ></li>
                        </span>&nbsp;&nbsp;

                        <span (click)="stopBot(element.botId)"  matTooltip="Stop Bot">
                        <i class="fa fa-stop text-danger" aria-hidden="true"></i> &nbsp;&nbsp;
                      </span >
                    </td>
                </ng-container>
                <ng-container matColumnDef="Schedule">
                    <th mat-header-cell *matHeaderCellDef >Schedule</th>
                    <td mat-cell *matCellDef="let element" >
                        <span (click)="openscheduler(element.botId)" matTooltip="Scheduler" style="cursor: pointer;">
                        <i class="fa fa-calendar text-primary"  aria-hidden="true"></i>
                      </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Logs">
                    <th mat-header-cell *matHeaderCellDef >Logs </th>
                    <td mat-cell *matCellDef="let element">
                        <button><a class="text-primary" matTooltip="View Logs" (click)="viewlogdata(element.botId,element.version)">View</a></button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Loading">
                    <td mat-footer-cell class="mat-footer" style="text-align:center" *matFooterCellDef colspan="9">
                        Loading
                    </td>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <td mat-footer-cell class="mat-footer" style="text-align:center" *matFooterCellDef colspan="9">
                        No Records Found
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr class="row-highlight" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="row-highlight mat-footer" mat-footer-row *matFooterRowDef="['Loading']" [ngClass]="{'hide':dataSource1!=null}"></tr>
                <tr class="row-highlight mat-footer" mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !respdata1 && isTableHasData}"></tr>
            </table>
            <div [hidden]="isTableHasData" style="text-align:center;font-style:italic">
                No Record Found
            </div>
            <mat-paginator #paginator1 [pageSize]="10" [showFirstLastButtons]="true"></mat-paginator>
          </mat-card>
        </div>
    </div>
  </div>


<div style="margin-bottom:30px !important">
<div [id]="viewlogid" class="rpa-modal">
    <div class="rpa-modal-content">
        <div class="rpa-modal-header">
            <span class="rpa-modal-close" (click)="viewlogclose()">&times;</span>
            <h4>Logs</h4>
        </div>
        <div class="container-fluid" style="background: white;" >
          <button (click)="viewlogdata(log_botid,log_version)" matTooltip="Refresh" style='float:right;margin-top:10px;' ><i class="fas fa-sync-alt text-dark" aria-hidden="true"></i></button>

            <div class="container-fluid w-100" >
                <table mat-table [dataSource]="Viewloglist" #sort4="matSort" matSort style="width:100%;max-height: 300px;overflow-x:scroll;">


                    <!-- Run Id Column -->
                    <ng-container matColumnDef="run_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%"> Run ID </th>
                        <td mat-cell *matCellDef="let element" style="width:15%">
                            <button><a style="color:blue; text-decoration: underline;" (click)="ViewlogByrunid(element.run_id)">{{element.run_id}}</a></button>
                        </td>
                    </ng-container>

                    <!-- Version Column -->
                    <ng-container matColumnDef="version">
                        <th mat-header-cell *matHeaderCellDef style="width:15%"> Version </th>
                        <td mat-cell *matCellDef="let element" style="width:15%">
                            <span *ngIf="element.version!=null">V{{element.version}}</span>
                            <span *ngIf="element.version == undefined">-</span>
                        </td>
                    </ng-container>

                    <!-- Start Date Column -->
                    <ng-container matColumnDef="start_date">
                        <th mat-header-cell *matHeaderCellDef> Start Date </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.start_date!=null">{{element.start_date  | date:'EEE MMM d, yyyy' }} {{element.start_time}}</span>
                            <span *ngIf="element.start_date == undefined">-</span>
                        </td>
                    </ng-container>

                    <!-- End Date Column -->

                    <ng-container matColumnDef="end_date">
                        <th mat-header-cell *matHeaderCellDef> End Date </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.end_date!=null">{{element.end_date  | date:'EEE MMM d, yyyy'}} {{element.end_time}}</span>
                            <span *ngIf="element.end_date == undefined">-</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="bot_status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                            <!--<span *ngIf="element.bot_status!=null">
                              <span *ngIf="element.bot_status=='Running'" class="text-primary" ><span class="fa fa-spinner fa-spin"></span>&nbsp;<span>{{element.bot_status}}</span></span>

                            <span *ngIf="element.bot_status=='Success'" class="text-success"><span><li class="fa fa-check"></span>&nbsp;<span>{{element.bot_status}}</span></span>

                            <span *ngIf="element.bot_status=='New'" class="text-primary"><span><img src="../../../../assets/images/RPA/newicon.png" style="filter: none; width: 20px;"></span>&nbsp;<span>{{element.bot_status}}</span></span>

                            <span *ngIf="element.bot_status=='Failure'" class="text-danger"><span><li class="fa fa-times"></span>&nbsp;<span>{{element.bot_status}}</span></span>
                            </span>-->
                            <span *ngIf="element.bot_status=='Running'" class="text-primary" ><span><img src="../../../../assets/images/RPA/DotSpin.gif" style="filter: none; width: 19px;"></span>&nbsp;{{element.bot_status}}</span>

                        <span *ngIf="element.bot_status=='Success'" class="text-success"><span><li class="fa fa-check-circle"style="font-size:19px"></span>&nbsp;<span>{{element.bot_status}}</span></span>

                        <span *ngIf="element.bot_status=='Failure'" class="text-danger"><span><li class="fa fa-times-circle" style="font-size:19px"></span>&nbsp;<span>{{element.bot_status}}</span></span>
                        <!--<img src="../../../../assets/images/RPA/newicon.png" style="filter: none; width: 20px;">-->
                        <!--<span *ngIf="element.bot_status=='New'" class="text-primary"><span><img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;"></span>&nbsp;<span>{{element.bot_status}}</span></span>-->
                        <span *ngIf="element.bot_status=='New'" class="text-primary"><span style="background-color:#0062cf;border-radius: 50%;color:white;padding-right:5px;padding-left:4px;padding-top:5px;padding-bottom:5px;font-size:10px;text-align: center;align-content: center;align-items: center;"><!--<img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;">--><i class="fas fa-robot text-light"></i></span>&nbsp;<span>{{element.bot_status}}</span></span>

                        <span *ngIf="element.bot_status=='Stop'" class="text-danger"><span><li class="fas fa-stop-circle" style="font-size: 19px;"></span>&nbsp;<span>{{element.bot_status}}</span></span>
                            <span *ngIf="element.bot_status == undefined">-</span></td>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell class="mat-footer" style="text-align:center" *matFooterCellDef colspan="7">
                            No Records Found
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns4; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                    <tr class="row-highlight mat-footer" mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !respdata1}"></tr>
                </table>
                <mat-paginator #paginator4 [pageSize]="5" [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
    </div>
</div>
<div [id]="viewlogid1" class="rpa-modal">
    <div class="rpa-modal-content">
        <div class="rpa-modal-header">
            <span class="rpa-modal-close" (click)="viewlogclose1()">&times;</span>
            <h4>Logs</h4>
        </div>

        <div class="logs-container">
          <button (click)="back()" matTooltip="Back" style='float:right;margin-top:10px;'>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>&nbsp;&nbsp;
          <button (click)="ViewlogByrunid(botrunid)" matTooltip="Refresh" style='float:right;margin-top:10px;'>
            <i class="fas fa-sync-alt" aria-hidden="true"></i>
          </button>
            <table mat-table [dataSource]="logbyrunid" #sort5="matSort" matSort style="width:100%;">

                <!-- Task Name Column -->
                <ng-container matColumnDef="task_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:18%"> Task Name </th>
                    <td mat-cell *matCellDef="let element" style="width:18%">
                        <span *ngIf="element.task_name!=null" [matTooltip]="element.task_name">{{(element.task_name.length > 15) ? ((element.task_name).slice(0, 15) + '...') : element.task_name}}</span>
                        <span *ngIf="element.task_name == undefined">-</span>
                    </td>
                </ng-container>


                <!-- Start date Column -->
                <ng-container matColumnDef="start_date">
                    <th mat-header-cell *matHeaderCellDef style="width:18%"> Start Date </th>
                    <td mat-cell *matCellDef="let element" style="width:18%">
                        <span *ngIf="element.start_date != null">{{element.start_date.split('T')[0]  | date:'EEE MMM d, yyyy'}}, {{element.start_time.slice(11,19)}}</span>
                        <span *ngIf="element.start_date == undefined">-</span>
                    </td>
                </ng-container>

                <!-- End Date Column -->
                <ng-container matColumnDef="end_date">
                    <th mat-header-cell *matHeaderCellDef style="width:18%"> End Date </th>
                    <td mat-cell *matCellDef="let element" style="width:18%">
                        <span *ngIf="element.end_date != null">{{element.end_date.split('T')[0] | date:'EEE MMM d, yyyy'}}, {{element.end_time.slice(11,19)}}</span>
                        <span *ngIf="element.end_date == undefined">-</span>
                    </td>
                </ng-container>


                                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef style="width:10%">Status</th>
                  <td mat-cell *matCellDef="let element" style="width:10%">
                     <!-- <span *ngIf="element.status!=null">
                        <span *ngIf="element.status=='Running'" class="text-primary" ><span class="fa fa-spinner fa-spin"></span>&nbsp;<span>{{element.status}}</span></span>

                      <span *ngIf="element.status=='Success'" class="text-success"><span><li class="fa fa-check"></span>&nbsp;<span>{{element.status}}</span></span>

                      <span *ngIf="element.status=='New'" class="text-primary"><span><img src="../../../../assets/images/RPA/newicon.png" style="filter: none; width: 20px;"></span>&nbsp;<span>{{element.status}}</span></span>

                      <span *ngIf="element.status=='Failure'" class="text-danger"><span><li class="fa fa-times"></span>&nbsp;<span>{{element.status}}</span></span>
                      </span>-->

                      <span *ngIf="element.status=='Running'" class="text-primary" ><span><img src="../../../../assets/images/RPA/DotSpin.gif" style="filter: none; width: 19px;"></span>&nbsp;{{element.status}}</span>

                        <span *ngIf="element.status=='Success'" class="text-success"><span><li class="fa fa-check-circle"style="font-size:19px"></span>&nbsp;<span>{{element.status}}</span></span>

                        <span *ngIf="element.status=='Failure'" class="text-danger"><span><li class="fa fa-times-circle" style="font-size:19px"></span>&nbsp;<span>{{element.status}}</span></span>
                        <!--<img src="../../../../assets/images/RPA/newicon.png" style="filter: none; width: 20px;">-->
                        <!--<span *ngIf="element.status=='New'" class="text-primary"><span><img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;"></span>&nbsp;<span>{{element.status}}</span></span>-->
                        <span *ngIf="element.status=='New'" class="text-primary"><span style="background-color:#0062cf;border-radius: 50%;color:white;padding-right:5px;padding-left:4px;padding-top:5px;padding-bottom:5px;font-size:10px;text-align: center;align-content: center;align-items: center;"><!--<img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;">--><i class="fas fa-robot text-light"></i></span>&nbsp;<span>{{element.status}}</span></span>

                        <span *ngIf="element.status=='Stop'" class="text-danger"><span><li class="fas fa-stop-circle" style="font-size: 19px;"></span>&nbsp;<span>{{element.status}}</span></span>


                      <span *ngIf="element.status == undefined">-</span></td>
                </ng-container>



                <!-- Error Info Column -->
                <ng-container matColumnDef="error_info">
                    <th mat-header-cell *matHeaderCellDef> Error Info </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.error_info!=null && element.error_info != 'NA'" [matTooltip]="element.error_info">{{(element.error_info.length > 30) ? ((element.error_info).slice(0, 30) + '...') : element.error_info}}</span>
                        <span *ngIf="element.error_info == undefined ||element.error_info == 'NA' ">-</span></td>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <td mat-footer-cell class="mat-footer" style="text-align:center" *matFooterCellDef colspan="7">
                        No Records Found
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns5; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>
                <tr class="row-highlight mat-footer" mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !respdata2}"></tr>
            </table>
            <mat-paginator #paginator5 [pageSize]="5" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </div>
</div>

</div>
<br><br>
</div>


<div *ngIf="popup">
    <div id='sch' class="rpa-modal" style="display:block">
        <div class="rpa-modal-content">
            <div class="rpa-modal-header">
                <span class="rpa-modal-close" (click)="close()">&times;</span>
                <h4>Scheduler</h4>
            </div>
            <div class="rpa-modal-body">
                <app-so-scheduler [data]="schdata" id="Scheduler"></app-so-scheduler>
            </div>
        </div>
    </div>
</div>
