.hide {
    display: none;
  }

  .tableActionsIcons img {
    height: 20px;
    width: auto;
    margin-right: 4px;
  }
  
  
  .tableActionsIcons span {
    font-size: 16px;
    padding-top: 5px;
  }