
  .env-data-tool button.tsttooltipbtn {
    position: relative;
    padding: 0px 5px;
  }
  
  span.testtooltip {
    position: absolute;
    top: 35px;
    right: 0px;
    background-color: #001c47;
    color: #fff;
    width: max-content;
    padding: 3px 10px;
    border-radius: 4px;
    display: none;
    z-index: 999;
  }
  
  span.testtooltip:before {
    content: '';
    border: 2px solid #001c47;
    border-width: 0px 0px 2px 2px;
    position: absolute;
    padding: 4px;
    right: 13px;
    top:  -5px;
    background: #001c47;
    transform: rotate(45deg);
  }
  
  .tsttooltipbtn:hover span.testtooltip {
    display: block;
  }

  .incedent-management-table-container{
    height:calc(100vh - 269px);
    overflow: auto;
  }


::ng-deep .incident-table-cell-tooltip {
    /* position: relative !important;
    margin-left: 0px !important; */
}