.container-fluid{
    border-bottom: 5px solid #0061cf;
    position: fixed;
    bottom: 2px;
    width: 100%;
}
.tour_guide_row{
    float: right;
    margin-right: 15px !important;
}
.tour_guide{
    text-align: center;
    color: #0061cf;
    font-size: 12px;
    cursor: pointer;
}