.imageI{
    width: 16px;;
}
.btn_style{
    margin: 0px -6px 0px 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
}
.collection_btn{
    position: absolute;
    left: 60%;
    bottom: 15px;
}