<div class="">
    <p-table #dt1 [value]="table_data" [columns]="selectedColumns" [globalFilterFields]="search_fields"
        [reorderableColumns]="true" [(selection)]="selectedItem" [scrollable]="true"
        [resizableColumns]="true" responsiveLayout="scroll" [selectionMode]="selectionMode" [dataKey]="dataKeyId">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <!-- <p-multiSelect *ngIf="show_column_filter" [options]="columns_list" [(ngModel)]="selectedColumns" optionLabel="DisplayName"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                    placeholder="Choose Columns">
                    <ng-template let-item pTemplate="item">
                        <div class="country-item" *ngIf="item.DisplayName">
                            <div>{{item.DisplayName}}</div>
                        </div>
                        <div class="country-item" *ngIf="!item.DisplayName">
                            <div>Action</div>
                        </div>
                    </ng-template>
                </p-multiSelect> -->
                <span class="p-input-icon-right gridsearch" *ngIf="show_search_field">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Search" class="p-inputtext-lg" (input)="dt1.filterGlobal($event.target.value, 'contains')">
                </span>
                <button *ngIf="show_clear_filter" pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="flex: 0.09 1 0;" *ngIf="checkBoxShow" class="checkboxth">
                    <p-tableHeaderCheckbox (click)="selectRow()"></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" alignFrozen="right" pFrozenColumn [frozen]="col.ColumnName=='action' && col.freeze" pReorderableColumn pResizableColumn 
                    [pResizableColumnDisabled]="col.freeze" pSortableColumn="{{col.ColumnName}}"
                    [hidden]="!col.ShowGrid" [style]="col.width">{{col.DisplayName | removeUnderscore}}
                    <p-columnFilter *ngIf="col.ShowFilter && col.filterWidget == 'multiSelect'" field="representative"
                        matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Type</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="p-ml-1">{{option.name}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter  *ngIf="col.ShowFilter && col.filterWidget == 'dropdown'" [field]="col.ColumnName" matchMode="equals" [showMatchModes]="false" [showOperator]="false"
                    [showAddButton]="false" display="menu" [showApplyButton]="false" [showClearButton]="true">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="col.dropdownList" (onChange)="filter($event.value)" placeholder="Select"></p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                        <p-columnFilter *ngIf="col.ShowFilter && col.filterWidget == 'normal'&& col.filterType == 'text'"
                         field="{{col.ColumnName}}" [showMatchModes]="false" [showOperator]="false"
                        [showAddButton]="false" display="menu" matchMode="contains" [showApplyButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)"class="p-inputtext" placeholder="Search">
                            </ng-template>
                        </p-columnFilter>
                    <p-columnFilter *ngIf="col.ShowFilter && col.filterWidget == 'normal' && col.filterType == 'date'"
                        type="{{col.filterType}}" field="{{col.ColumnName}}" [showMatchModes]="false" [showOperator]="false"
                        [showAddButton]="false" display="menu"></p-columnFilter>
                    <p-sortIcon *ngIf="col.sort" field="{{col.ColumnName}}"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-data let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="selectionMode != 'single'" (dblclick)="onRowDoubleClick($event,rowData)">
                <td style="flex: 0.09 1 0;" *ngIf="checkBoxShow" class="checkboxth">
                    <p-tableCheckbox [value]="rowData" (click)="selectRow()"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" [hidden]="!col.ShowGrid" alignFrozen="right" pFrozenColumn [frozen]="col.ColumnName=='action' && col.freeze" [style]="col.width">
                    <span *ngIf="col.ColumnName!='action'">
                            <div class="d-flex align-items-center">
                                <span *ngIf='col.userProfile' class="prjlastupdateprofile">{{rowData[col.userProfileKey]|userLetters:users_list|uppercase}}</span>
                                <span *ngIf="col.multi">
                                    <span class="prjlastupdatename" [pTooltip]="rowData[col.ColumnName]" tooltipPosition="top" [tooltipDisabled]="!col.showTooltip">{{rowData[col.multiOptions[0]]}}</span>
                                    <span *ngIf="col.multiOptions[1] != 'priority'" class="prjgridtimestamp"> {{rowData[col.multiOptions[1]]|date:'MMM d, y HH:mm'}} </span>
                                    <span *ngIf="col.multiOptions[1] == 'priority'" class="prjgridpriority" [ngStyle]="{'color':getColor(rowData[col.multiOptions[1]])}"> {{rowData[col.multiOptions[1]]}} Priority</span>
                                </span>
                                <span *ngIf="!col.multi">
                                    <!-- <span *ngIf="col.userProfile" class="prjlastupdateprofile">{{rowData[col.ColumnName]|userLetters:users_list}}</span> -->
                                    <span *ngIf="col.ColumnName == 'connectionLogo'|| col.ColumnName == 'actionLogo'"><img [src]="'data:image/png;base64,'+rowData[col.ColumnName]" style="height:25px;" alt="img"></span>
                                    <span *ngIf="col.ColumnName != 'connectionLogo' && col.ColumnName!='actionLogo'" [pTooltip]="rowData[col.ColumnName]" tooltipPosition="top" [tooltipDisabled]="!col.showTooltip">
                                        <span *ngIf="getColor(rowData[col.ColumnName])" [ngStyle]="{'color':getColor(rowData[col.ColumnName])}">O- </span>
                                        <!-- <span *ngIf="(rowData['status']=='Running' && col.ColumnName == 'status' )" class="text-primary" [pTooltip]="rowData['status']">
                                            <img src="../../../../assets/images/RPA/DotSpin.gif" class="testplus" alt="">
                                        </span>
                                        <span *ngIf="((rowData['status']=='Success' || rowData['status']=='Started' || rowData['status']=='Completed' || rowData['status']=='Approved'))&& col.ColumnName == 'status'"
                                            [pTooltip]="rowData['status']" class="text-primary">
                                            <img src="../../../../assets/images/RPA/icon_latest/Success.svg" class="testplus" alt="">
                                        </span>
                                        <span *ngIf="(rowData['status']=='Failure' && col.ColumnName == 'status' )" class="text-primary" [pTooltip]="rowData['status']">
                                            <img src="../../../../assets/images/RPA/icon_latest/close-red.svg" class="testplus" alt="">
                                        </span>
                                        <span *ngIf="(rowData['status']=='Paused' && col.ColumnName == 'status' )" class="text-primary" [pTooltip]="rowData['status']">
                                            <img src="../../../../assets/images/RPA/icon_latest/pause-circle-fill.svg" alt="" class="testpause"></span>
                                        <span *ngIf="(rowData['status']=='New' && col.ColumnName == 'status' )" class="text-primary" [pTooltip]="rowData['status']">
                                            <img src="../../../../assets/images/RPA/userobot.png" class="testplus" alt="">
                                        </span>
                                        <span *ngIf="(rowData['status']=='Pending' && col.ColumnName == 'status' )" class="text-primary" [pTooltip]="rowData['status']"  [ngStyle]="{'color':getColor(rowData[col.ColumnName])}">
                                            <i class="fa fa-clock"></i>&nbsp;
                                        </span>
                                        <span *ngIf="(rowData['status']=='Stopped' && col.ColumnName == 'status')" [pTooltip]="rowData['status']" tooltipPosition="top">
                                            <img src="../../../../../assets/images/RPA/icon_latest/stop.svg" class="testplus" alt="">
                                        </span> -->
                                        <span *ngIf="screenTable == 'taskList'">{{col.filterType=='date' ?(screenTable=='taskList'?(rowData[col.ColumnName]|date:'MMM d, y'):(rowData[col.ColumnName]|date:'MMM d, y H:mm')):(rowData[col.ColumnName]?rowData[col.ColumnName]:'-' )}} </span>
                                        <span *ngIf="screenTable != 'taskList'">{{col.filterType=='date'?((rowData[col.ColumnName]|date:'MMM d, y HH:mm')?(rowData[col.ColumnName]|date:'MMM d, y HH:mm'):'-'):(rowData[col.ColumnName]?rowData[col.ColumnName]:'-')}}</span>
                                    </span>
                                </span>
                            </div>
                    </span>
                    
                    <span *ngIf="col.ColumnName == 'action'" alignFrozen="right" class="w-100">
                        <div class="newinntalx">
                            <span *ngIf="screenTable=='projectList'">
                                <!-- [hidden]="!(rowData.id == selectedItem.id)" -->
                                <a (click)="deleteRow(rowData)" *ngIf="(!(this.userRoles.includes('System Admin')) && loggedInUser==rowData['owner'])
                                || (this.userRoles.includes('System Admin'))" pTooltip="Delete" tooltipPosition="top">
                                    <img src="../../../assets/images-n/common/delete-blue.svg" alt="Delete" class="testplus default-img">
                            </a>
                        </span>
                        <span *ngIf="screenTable =='taskList'" class="taskList-table-actions">
                                <a *ngIf="rowData['taskCategory'] != 'Analysis'" class="" (click)="openWorkSpace(rowData)" pTooltip="Open Workspace" tooltipPosition="top">
                                    <img src="./../../../../assets/images-n/projects/Open.svg" alt="Open">
                                </a>
                        </span>
                    <span *ngIf="screenTable !='actionsTable'" >
                        <a *ngIf="show_view_btn" class="" (click)="viewDetailsbyId(rowData)" pTooltip="View" tooltipPosition="top">
                            <img src="../../../assets/images/Projects/eye-show-blue.svg" alt="View" class="testplus default-img">
                        </a>
                        <span *ngIf='rowData[col.kafkaConFail] == "Y" && show_retry_btn' (click)="onRetryGraphGenerate(rowData)">
                            <img src="../../../../assets/images/PI/refresh.svg" alt="Refresh" class="testplus default-img" >
                            <img src="../../../../assets/images/PI/refresh-blue.svg" alt="Refresh" class="testplus hover-img" >
                        </span>
                        <span *ngIf="show_edit_btn" class="editButton">
                            <a *ngIf="!isdisabled_edit" (click)="editRowBy_Id(rowData)" pTooltip="Edit" tooltipPosition="top">
                                <img src="../../../assets/images/Projects/Edit-blue.svg" alt="Edit" class="testplus default-img">
                            </a>
                            <a *ngIf="isdisabled_edit">
                                <img src='../../../../assets/images/RPA/icon_latest/edit-dis.svg' alt="dis_edit" class="testplus">
                            </a>
                        </span>
                        <span *ngIf="show_download_btn" class="editButton" >
                            <a  (click)="downloadRow(rowData)" pTooltip="Download" tooltipPosition="top">
                                <img src="../../../../assets/images-n/common/download-blue.svg" alt="download" class="default-img testplus">
                            </a>
                        </span>
                        <button *ngIf="show_approve_btn" [disabled]="rowData['status']=='Approved' || rowData['status']=='Rejected'" [class]="(rowData['status']=='Approved' || rowData['status']=='Rejected')?'undobtn':''" (click)="getapproved(rowData)"pTooltip="Approve" tooltipPosition="top">
                          <i class="fas fa-check text-success"></i>
                        </button>
                        <button *ngIf="show_reject_btn" [disabled]="rowData['status']=='Approved' || rowData['status']=='Rejected'"[class]="(rowData['status']=='Approved' || rowData['status']=='Rejected')?'undobtn':''"(click)="getRejected(rowData)"pTooltip="Reject"  tooltipPosition="top">
                            <i class="fas fa-times text-danger"></i>
                        </button>
                        <span *ngIf="show_delete_btn" class="editButton" >
                            <a *ngIf="!isdisabled_delete" (click)="deleteRow(rowData)" pTooltip="Delete" tooltipPosition="top">
                                <img src="../../../assets/images-n/common/delete-blue.svg" class="testplus default-img" alt="delete">
                            </a>
                            <a *ngIf="isdisabled_delete">
                                <img src='../../../../assets/images/RPA/icon_latest/delete-dis.svg' alt="dis_delete" class="testplus">
                            </a>
                        </span>
                    </span>
                    <span *ngIf="screenTable=='users_screen'">
                            <span *ngIf="loggedInUser==rowData['email']" class="editButton">
                                <a>
                                    <img src='../../../../assets/images/RPA/icon_latest/edit-dis.svg' alt="dis_edit" class="testplus">
                                </a>
                                <a>
                                    <img src='../../../../assets/images/RPA/icon_latest/delete-dis.svg' alt="dis_delete" class="testplus">
                                </a>
                            </span>
                            <span class="editButton" *ngIf="loggedInUser != rowData['email']" >
                                <a  (click)="editRowBy_Id(rowData)" pTooltip="Edit" tooltipPosition="top">
                                    <img src="../../../assets/images/Projects/Edit-blue.svg" alt="Edit" class="testplus default-img">
                                </a>
                                <a (click)="deleteRow(rowData)" pTooltip="Delete" tooltipPosition="top">
                                    <img src="../../../assets/images-n/common/delete-blue.svg" class="testplus default-img" alt="delete">
                                </a>
                            </span>
                    </span>
                    <span *ngIf="screenTable =='actionsTable'">
                            <!-- [hidden]="!(rowData.id == selectedItem.id)" -->
                            <a class="" (click)="viewDetailsbyId(rowData)" *ngIf="(this.loggedUserRole.includes('Process Owner') || this.loggedUserRole.includes('RPA Developer'))" pTooltip="Edit" tooltipPosition="top">
                                <img src="../../../assets/images/Projects/Edit-blue.svg" alt="Edit" class="testplus default-img">
                            </a>
                            <a (click)="deleteRow(rowData)" *ngIf="(this.loggedUserRole.includes('Process Owner') || this.loggedUserRole.includes('RPA Developer'))" pTooltip="Delete" tooltipPosition="top">
                                <img src='../../../assets/images-n/common/delete-blue.svg' alt="edit"class="testplus default-img">
                            </a>
                    </span>

                    <span *ngIf="screenTable =='connectionsList'">
                            <!-- [hidden]="!(rowData.id == selectedItem.id)" -->
                            <span class="" (click)="editRowBy_Id(rowData)" *ngIf="(this.loggedUserRole.includes('Process Owner') || this.loggedUserRole.includes('RPA Developer'))" pTooltip="Edit" tooltipPosition="top">
                                <img src="../../../assets/images/Projects/Edit-blue.svg" alt="Edit" class="testplus default-img">
                            </span>
                            <span (click)="deleteRow(rowData)" *ngIf="(this.loggedUserRole.includes('Process Owner') || this.loggedUserRole.includes('RPA Developer'))" pTooltip="Delete" tooltipPosition="top">
                                <img src='../../../assets/images-n/common/delete-blue.svg' alt="edit"class="testplus default-img">
                            </span>
                    </span>
                        </div>
                </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td style="justify-content: center;" colspan="7">No Records Found</td>
            </tr>
        </ng-template>
    </p-table>
</div>




