<div class="">
    <p-table #dt1 [value]="table_data" [columns]="selectedColumns" [globalFilterFields]="search_fields"
        [reorderableColumns]="true" [(selection)]="selectedItem" [scrollable]="true"
        [resizableColumns]="true" responsiveLayout="scroll" [selectionMode]="selectionMode" [dataKey]="dataKeyId">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <p-multiSelect *ngIf="show_column_filter" [options]="columns_list" [(ngModel)]="selectedColumns" optionLabel="DisplayName"
                    selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                    placeholder="Choose Columns">
                </p-multiSelect>
                <button *ngIf="show_clear_filter" pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)">
                </button>
                <span class="p-input-icon-right" *ngIf="show_search_field">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Search" class="p-inputtext-lg" 
                        (input)="dt1.filterGlobal($event.target.value, 'contains')">
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 0.5rem" *ngIf="checkBoxShow">
                    <p-tableHeaderCheckbox (click)="selectRow()"></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" pReorderableColumn pResizableColumn pSortableColumn="{{col.ColumnName}}"
                    [hidden]="!col.ShowGrid">{{col.DisplayName | removeUnderscore}}
                    <p-columnFilter *ngIf="col.ShowFilter && col.filterWidget == 'multiSelect'" field="representative"
                        matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false"
                        [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Type</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                                (onChange)="filter($event.value)" optionLabel="name">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="p-ml-1">{{option.name}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter  *ngIf="col.ShowFilter && col.filterWidget == 'dropdown'" [field]="col.ColumnName" matchMode="equals" [showMatchModes]="false" [showOperator]="false"
                    [showAddButton]="false" display="menu">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="col.dropdownList" (onChange)="filter($event.value)" placeholder="Any">
                                <!-- <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.categoryName}}</span>
                                </ng-template> -->
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter *ngIf="col.ShowFilter && col.filterWidget == 'normal'" [showAddButton]="false"
                        type="{{col.filterType}}" field="{{col.ColumnName}}" display="menu"></p-columnFilter>
                    <p-sortIcon *ngIf="col.sort" field="{{col.ColumnName}}"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-data let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="selectionMode != 'single'">
                <td *ngIf="checkBoxShow">
                    <p-tableCheckbox [value]="rowData" (click)="selectRow()"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" [hidden]="!col.ShowGrid">
                    <span *ngIf="!col.multi && col.ColumnName!='action'">
                        <span *ngIf="screenTable !='environment_table'">
                            <span *ngIf="col.ColumnName != 'priority' && col.ColumnName != 'department'"> {{rowData[col.ColumnName]?rowData[col.ColumnName]:'-' }} </span>
                            <span *ngIf="col.ColumnName == 'department'" [pTooltip]="rowData[col.ColumnName]" tooltipPosition="top"> {{rowData[col.ColumnName]}} </span>
                            <span *ngIf="col.ColumnName == 'priority'" [ngStyle]="{'color':getColor(rowData[col.ColumnName])}">{{rowData[col.ColumnName]}} Priority</span>
                        </span>
                        <span *ngIf="screenTable =='environment_table'">
                            <span *ngIf="col.ColumnName == 'activeStatus_new'" >
                                <span *ngIf="rowData['activeStatus_new'] == 'Active'" class='green'>Active</span>
                                <span *ngIf="rowData['activeStatus_new'] == 'Inactive'" class='red'>Inactive</span>
                            </span>
                            <span *ngIf="col.ColumnName == 'deploy_status_new'">
                                <span *ngIf="rowData['deploy_status_new'] == 'Yes'"class='green'>Yes</span>
                                <span *ngIf="rowData['deploy_status_new'] == 'No'"class='red'>No</span>
                            </span>
                            <span *ngIf="col.ColumnName != 'activeStatus_new' && col.ColumnName != 'deploy_status_new'">
                                {{rowData[col.ColumnName]?rowData[col.ColumnName]:'-' }}
                            </span>
                        </span>

                    </span>
                    
                    <span *ngIf="col.multi && col.ColumnName!='action'">
                        <div *ngIf="col.multiOptions[1] == 'priority'">
                            <span class="prjtaskname">{{rowData[col.multiOptions[0]]}}</span>
                            <span class="prjgridpriority"  [ngStyle]="{'color':getColor(rowData[col.multiOptions[1]])}"> {{rowData[col.multiOptions[1]]}} Priority</span>
                        </div>
                        <div *ngIf="col.multiOptions[1] != 'priority'">
                            <div class="d-flex align-items-center">
                                <!-- <span class="prjlastupdateprofile">RS</span> -->
                                <span>
                                    <span class="prjlastupdatename">{{rowData[col.multiOptions[0]]}}</span>
                                    <span class="prjgridtimestamp" > {{rowData[col.multiOptions[1]]}} </span>
                                </span>
                            </div>
                        </div>
                    </span>
                    <!-- <span *ngIf="col.multi && col.ColumnName!='action'">{{rowData[col.multiOptions[0]]}} <br>
                        <span class="prjgridpriority" *ngIf="col.multiOptions[1] == 'priority'" [ngStyle]="{'color':getColor(rowData[col.multiOptions[1]])}"> {{rowData[col.multiOptions[1]]}} Priority</span>
                        <span class="prjgridtimestamp" *ngIf="col.multiOptions[1] != 'priority'"> {{rowData[col.multiOptions[1]]}} </span>
                    </span> -->
                    <!-- <span> {{rowData[col.multiOptions[1]]}} </span> -->
                    <!-- <span *ngIf="col.ColumnName!='action' && col.multi">
                        {{ rowData[col.ColumnName]?rowData[col.ColumnName]:'-' }}
                    </span> -->
                    <span *ngIf="col.ColumnName == 'action'" class="newinntalx">
                        <span *ngIf="show_view_btn" class="" (click)="viewDetailsbyId(rowData)" pTooltip="View" tooltipPosition="top">
                            <img src="../../../assets/images/Projects/eye-show-blue.svg" alt="View" class="testplus default-img">
                        </span>
                        <span *ngIf='rowData[col.kafkaConFail] == "Y" && show_retry_btn' (click)="onRetryGraphGenerate(rowData)">
                            <img src="../../../../assets/images/PI/refresh.svg" alt="Refresh" class="testplus default-img" >
                            <img src="../../../../assets/images/PI/refresh-blue.svg" alt="Refresh" class="testplus hover-img" >
                        </span>
                        <span *ngIf="show_edit_btn" class="editButton">
                            <span *ngIf="!isdisabled_edit" (click)="editRowBy_Id(rowData)" pTooltip="Edit" tooltipPosition="top">
                                <img src="../../../assets/images/Projects/Edit-blue.svg" alt="Edit" class="testplus default-img">
                            </span>
                            <span *ngIf="isdisabled_edit">
                                <img src='../../../../assets/images/RPA/icon_latest/edit-dis.svg' alt="dis_edit" class="testplus">
                            </span>
                        </span>
                        <span *ngIf="show_delete_btn" class="editButton" >
                            <span *ngIf="!isdisabled_delete" (click)="deleteRow(rowData)" pTooltip="Delete" tooltipPosition="top">
                                <img src="../../../assets/images-n/common/delete-blue.svg" class="testplus default-img" alt="delete">
                            </span>
                            <span *ngIf="isdisabled_delete">
                                <img src='../../../../assets/images/RPA/icon_latest/delete-dis.svg' alt="dis_delete" class="testplus">
                            </span>
                        </span>
                    </span>
                    <span *ngIf="col.ColumnName == 'action' && screenTable=='users_screen'">
                        <div class="newinntalx">
                            <span *ngIf="loggedInUser==rowData['email']" class="editButton">
                                <span>
                                    <img src='../../../../assets/images/RPA/icon_latest/edit-dis.svg' alt="dis_edit" class="testplus">
                                </span>
                                <span>
                                    <img src='../../../../assets/images/RPA/icon_latest/delete-dis.svg' alt="dis_delete" class="testplus">
                                </span>
                            </span>
                            <span class="editButton" *ngIf="loggedInUser != rowData['email']" >
                                <span (click)="deleteRow(rowData)" pTooltip="Delete" tooltipPosition="top">
                                    <img src="../../../assets/images-n/common/delete-blue.svg" class="testplus default-img" alt="delete">
                                </span>
                                <span  (click)="editRowBy_Id(rowData)" pTooltip="Edit" tooltipPosition="top">
                                    <img src="../../../assets/images/Projects/Edit-blue.svg" alt="Edit" class="testplus default-img">
                                </span>
                            </span>
                        </div>
                    </span>
                    <span *ngIf="col.ColumnName == 'action' && screenTable=='projectList' && selectedItem != null" class="w-100 text-center">
                        <div class="newinntalx" [hidden]="!(rowData.id == selectedItem.id)">
                            <span class="" (click)="viewDetailsbyId(rowData)" pTooltip="View" tooltipPosition="top">
                                <img src="../../../assets/images/Projects/eye-show-blue.svg" alt="View" class="testplus default-img">
                            </span>
                            <span (click)="deleteRow(rowData)" *ngIf="(!(this.userRoles.includes('System Admin')) && loggedInUser==rowData['owner'])
                            || (this.userRoles.includes('System Admin'))" pTooltip="Delete" tooltipPosition="top">
                                <img src="../../../assets/images-n/common/delete-blue.svg" alt="Delete" class="testplus default-img">
                        </span>
                        </div>
                    </span>
                    
                    <span *ngIf="col.ColumnName == 'action' && screenTable =='taskList' && selectedItem != null" class="taskList-table-actions">
                        <div class="newinntalx" [hidden]="!(rowData.id == selectedItem.id)">
                            <a class="" (click)="openWorkSpace(rowData)" pTooltip="Open Workspace" tooltipPosition="top">
                                <img src="./../../../../assets/images-n/projects/Open.svg" alt="Open">
                            </a>
                            <a class="" (click)="viewDetailsbyId(rowData)" pTooltip="View" tooltipPosition="top">
                                <img src="../../../assets/images/Projects/eye-show-blue.svg" alt="View" class="default-img">
                            </a>
                            <a (click)="deleteRow(rowData)" pTooltip="Delete" tooltipPosition="top">
                                <img src="../../../assets/images-n/common/delete-blue.svg" alt="Delete" class="default-img">
                            </a>
                        </div>
                    </span>
                </td>
            </tr>
        </ng-template>

        <!-- <ng-template pTemplate="body" let-rowData let-columns="columns" *ngIf="screenTable !='common'">
            <tr>
                <td *ngFor="let col of columns" [hidden]="!col.ShowGrid">
                    <span *ngIf="!col.multi">{{rowData[col.ColumnName]}}</span>
                    <span *ngIf="col.multi">{{rowData[col.multiOptions[0]]}} <br>
                        <span *ngIf="col.multiOptions[1] == 'priority'"
                            [ngStyle]="{'color':getColor(rowData[col.multiOptions[1]])}">
                            {{rowData[col.multiOptions[1]]}} </span>
                        <span *ngIf="col.multiOptions[1] != 'priority'"> {{rowData[col.multiOptions[1]]}} </span>
                    </span>
                    <span *ngIf="col.ColumnName == 'action' && screenTable=='projectList'">
                        <div class="newinntalx">
                            <a class="" (click)="viewDetailsbyId(rowData)">
                                <img src="../../../../../assets/images/Projects/eye-show.svg" class="default-img">
                                <img src="../../../../../assets/images/Projects/eye-show-blue.svg" class="hover-img">
                            </a>
                            <a (click)="deleteRow(rowData)" *ngIf="(!(this.userRoles.includes('System Admin')) && userName==rowData[col.createdBy])
                            || (this.userRoles.includes('System Admin'))">
                                <img src="../../../../../assets/images/Projects/delete-black.svg" class="default-img">
                                <img src="../../../../../assets/images/Projects/delete-red.svg" class="hover-img">
                            </a>
                        </div>
                    </span>
                    
                    <span *ngIf="col.ColumnName == 'action' screenTable =='taskList'" class="taskList-table-actions">
                        <div class="newinntalx" [hidden]="!(rowData.id == selectedItem.id)">
                            <a class="">
                                <img src="./../../../../assets/images-n/projects/Open.svg" alt="Open">
                            </a>
                            <a class="" (click)="viewDetailsbyId(rowData)">
                                <img src="../../../../../assets/images/Projects/eye-show-blue.svg" class="default-img">
                            </a>
                            <a (click)="deleteRow(rowData)">
                                <img src="../../../assets/images-n/common/delete-blue.svg" class="default-img">
                                <img src="../../../../../assets/images/Projects/delete-red.svg" class="hover-img">
                            </a>
                        </div>
                    </span>
                </td>
            </tr>
        </ng-template> -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td style="justify-content: center;" colspan="7">No Records Found</td>
            </tr>
        </ng-template>
    </p-table>
</div>




<!-- <div class="" *ngIf="screenTable !='common'">
    <p-table #dt1 [value]="table_data" [columns]="selectedColumns" [globalFilterFields]="search_fields" [reorderableColumns]="true" [resizableColumns]="true" responsiveLayout="scroll"  [dataKey]="dataKeyId" selectionMode="single" [(selection)]="selectedItem" [scrollable]="true" >
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <p-multiSelect [options]="columns_list" [(ngModel)]="selectedColumns" optionLabel="DisplayName"
                selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Search" class="p-inputtext-lg"  (input)="dt1.filterGlobal($event.target.value, 'contains')" >
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pReorderableColumn pResizableColumn pSortableColumn="{{col.ColumnName}}" [hidden]="!col.ShowGrid">{{col.DisplayName}}
                    <p-columnFilter *ngIf="col.ShowFilter && col.filterWidget == 'multiSelect'" field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Type</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="p-ml-1">{{option.name}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter *ngIf="col.ShowFilter && col.filterWidget == 'normal'" [showAddButton]="false" type="{{col.filterType}}" field="{{col.ColumnName}}" display="menu"></p-columnFilter>
                    <p-sortIcon *ngIf="col.sort" field="{{col.ColumnName}}"></p-sortIcon>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" *ngIf="screenTable=='projectList'">
            <tr>
                <td *ngFor="let col of columns" [hidden]="!col.ShowGrid">
                    <span *ngIf="!col.multi">{{rowData[col.ColumnName]}}</span>
                    <span *ngIf="col.multi">{{rowData[col.multiOptions[0]]}} <br>
                        <span *ngIf="col.multiOptions[1] == 'priority'" [ngStyle]="{'color':getColor(rowData[col.multiOptions[1]])}"> {{rowData[col.multiOptions[1]]}} </span>
                        <span *ngIf="col.multiOptions[1] != 'priority'"> {{rowData[col.multiOptions[1]]}} </span>
                    </span>
                    <span *ngIf="col.ColumnName == 'action'">
                        <div class="newinntalx">
                            <a class="" (click)="viewDetailsbyId(rowData)" matTooltip="Go To Details">
                              <img src="../../../../../assets/images/Projects/eye-show.svg" class="default-img">
                              <img src="../../../../../assets/images/Projects/eye-show-blue.svg" class="hover-img">
                            </a>
                            <a (click)="deleteRow(rowData)" *ngIf="(!(this.userRoles.includes('System Admin')) && userName==rowData[col.createdBy])
                            || (this.userRoles.includes('System Admin'))" matTooltip="Delete Project">
                           <img src="../../../../../assets/images/Projects/delete-black.svg" class="default-img">
                           <img src="../../../../../assets/images/Projects/delete-red.svg" class="hover-img">
                         </a>
                           </div>
                    </span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" *ngIf="screenTable=='taskList'">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns" [hidden]="!col.ShowGrid">
                    <span *ngIf="!col.multi && col.ColumnName == 'priority' " [ngStyle]="{'color':getColor(rowData[col.ColumnName])}">{{rowData[col.ColumnName]}}</span>
                    <span *ngIf="!col.multi && col.ColumnName != 'priority' ">{{rowData[col.ColumnName]}}</span>
                    <span *ngIf="col.multi">
                        {{rowData[col.multiOptions[0]]}} <br>
                        <span> {{rowData[col.multiOptions[1]]}} </span>
                    </span>
                    <span *ngIf="col.ColumnName == 'action'" class="taskList-table-actions">
                        <div class="newinntalx" [hidden]="!(rowData.id == selectedItem.id)">
                            <a class="" matTooltip="Open Workspace">
                                <img src="./../../../../assets/images-n/projects/Open.svg" alt="Open">
                            </a>
                            <a class="" (click)="viewDetailsbyId(rowData)">
                                <img src="../../../../../assets/images/Projects/eye-show-blue.svg" class="default-img">
                              </a>
                              <a (click)="deleteRow(rowData)">
                             <img src="../../../assets/images-n/common/delete-blue.svg" class="default-img">
                             <img src="../../../../../assets/images/Projects/delete-red.svg" class="hover-img">
                           </a>
                           </div>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td  style="justify-content: center;" colspan="7">No Records Found</td>
            </tr>
        </ng-template>
    </p-table>
</div> -->
