th.checkboxth:before {
    bottom: 0px !important;
    border-bottom: 5px solid rgb(9 141 230 / 20%) !important;
}

.prjgridpriority,
.prjgridtimestamp,
.resourcerole {
    display: block;
    font-size: 14px;
    line-height: 14px;
}
.red {
    color: red;
    font-weight: 600;
}
.green {
    color: green;
    font-weight: 600;
}

/* .editButton{
    border : none !important;
    margin-right: 17px;
} */

.actionicons {
    display: none;
}

.undobtn {
    background-color:transparent !important; 
  }
  .undobtn:disabled i.fas {
    color: #a0a0a0 !important;
  }