th.checkboxth:before {
    bottom: 0px !important;
    border-bottom: 5px solid rgb(9 141 230 / 20%) !important;
}
.prjlastupdatename {
    text-transform: capitalize;
}
.prjgridpriority,
.resourcerole {
    display: block;
    font-size: 14px;
    line-height: 14px;
}
.prjgridtimestamp {
    display: block;
    font-size: 12px;
    line-height: 10px;
}
.resourcerole {
    opacity: 0.8;
}
span.deploy_no {
    border: 1px solid #fe665d;
    text-align: center;
    width: 50px;
    display: block;
    border-radius: 50px;
}
span.deploy_yes {
    border: 1px solid #4bd963;
    text-align: center;
    width: 50px;
    display: block;
    border-radius: 50px;
}
img.hover-icon, td a:hover img.default-icon,
.undobtn:hover img.default-icon {
    display: none;
}
td a:hover img.hover-icon,
.undobtn:hover img.hover-icon {
    display: initial;
}
.undobtn .disbtn {
    cursor: no-drop;
}
.disbtn img {
    cursor: no-drop !important;
}

.undobtn img {
    cursor: unset;
}

.red {
    color: red;
    font-weight: 600;
}
.green {
    color: green;
    font-weight: 600;
}


.undobtn:disabled i.fas {
    color: #a0a0a0 !important;
}


.approveOrReject{
    font-weight: bold;
}



span.testtooltip {
    position: absolute;
    background-color: #001c47;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
}
span.testtooltip:before {
    content: '';
    border: 2px solid #001c47;
    border-width: 0px 0px 2px 2px;
    position: absolute;
    padding: 4px;
    left: 6px;
    top:  -5px;
    background: #001c47;
    transform: rotate(45deg);
}
.tsttooltipbtn:hover span.testtooltip {
    display: block;
}