    <div class="main">
        <br><br>
        <div class="container">
            <div class="secone">
                <h1>Business Metrics</h1>
                <div class="row">
                    <div class="col-md-3">
                        <div class="innersecone d-flex">
                           <div class="leftinsec"><h2>10<span class="smalfon">Days</span></h2></div>
                            <div class="rightinsec"><p class="heading">Fastest Case</p></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="innersecone d-flex">
                            <div class="leftinsec"><h2>55<span class="smalfon">Days</span></h2></div>
                            <div class="rightinsec"><p class="heading">Slowest case</p></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="innersecone d-flex">
                            <div class="leftinsec"><h2>18<span class="smalfon">Days</span></h2></div>
                            <div class="rightinsec"><p class="heading">Average Turn Around Time</p></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="innersecone d-flex">
                            <div class="leftinsec"><h2>44%</h2></div>
                            <div class="rightinsec"><p class="heading">Rework Rate</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chartssc">
                <!-- <h2>Process Step Completion</h2> -->
                
                <h2 class="heading">Time Analysis</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="chartinnsec">
                            <div class="row pb-4">
                                <div class="col-md-12">
                                    <br>
                                    <h3 class="heading">Activity Time</h3>
                                </div>
                                
                            </div>
                            <br>
                            <div id="chartdiv"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chartinnsec">
                            <div class="row pb-4">
                                <div class="col-md-12">
                                    <br>
                                    <h3 class="heading">Throughput Time</h3>
                                </div>
                            </div>
                            <br>
                            <div id="chartdiv2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="varienanal">
                    <h1>Variant Analysis</h1>
                    <div class="maintx d-flex">
                        <div class="leftyext">
                            <h4>Variant 1</h4>
                        </div>
                        <div class="leftyight">
                          <h5>22% cases take 19 days on an average to complete the process</h5>
                        </div>
                        <!-- <div class="rightsecr">
                            <p>3.5 Days</p>
                        </div> -->
                    </div>
                    <div class="maintx d-flex">
                        <div class="leftyext">
                            <h4>Variant 2</h4>
                        </div>
                        <div class="leftyight">
                            <h5>22% cases take 16 days on an average to complete the process</h5>
                            
                        </div>
                        <!-- <div class="rightsecr">
                            <p>3.5 Days</p>
                        </div> -->
                    </div>
                    <div class="maintx d-flex">
                        <div class="leftyext">
                            <h4>Variant 3</h4>
                        </div>
                        <div class="leftyight">
                            <h5>17% of cases take 17.5 days on an average to complete the process</h5>
                        
                        </div>
                        <!-- <div class="rightsecr">
                            <p>3.5 Days</p>
                        </div> -->
                    </div>
                    <div class="maintx d-flex">
                        <div class="leftyext">
                            <h4>Variant 4</h4>
                        </div>
                        <div class="leftyight">
                            <h5>11% of cases take 24 days on an average to complete the process</h5>
                          
                        </div>
                        <!-- <div class="rightsecr">
                            <p>3.5 Days</p>
                        </div> -->
                    </div>
                
            </div>
        </div>

        <br><br>
    </div>
