.row.credential-search-tools {
  width: auto;
  position: absolute;
  right: 295px;
  z-index: 2;
}

.env-btn>button:disabled {
  background-color: transparent !important;
}
.credential-tablegrid table td span {
  font-size: 13px !important;
}

.credential-tools {
  padding: 0px !important;
  display: flex;
}

.credential-btntool {
  position: relative;
  padding: 7px 6px;
  margin: 0px !important;
}

.credential-btntool img {
  width: 16px;
  height: 16px;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #098de6;
  margin-bottom: 10px !important;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #098de6;
}
.logo{
  height: 35px;
  margin-left: 15px;
}
.disbtn img {
  cursor: no-drop !important;
}
