<div class="rpa-content-div">
    <div class="row credential-search-tools">
        <div class="env-data-tool credential-tools">
            <div class="env-btn credential-btntool">
                    <button value="Create"
                        id="addbtn" (click)="addNewConnection()" pTooltip="New" tooltipPosition="top">
                        <img src='../../../../assets/images/RPA/icon_latest/new-blue.svg' alt="add">
                    </button>
                    <!-- <button *ngIf="!(userRole.includes('Process Owner') || userRole.includes('RPA Developer'))" class="disbtn">
                        <img src="../../../../assets/images/RPA/icon_latest/new-dis.svg" alt="">
                    </button> -->
            </div>
        </div>
    </div>
    <div class="col-md-12 con-envr p-0">
        <div class="credential-tablegrid gridparentdiv">
            <app-dynamic-table
             [representatives]="representatives" 
             [columns_list]="columns_list" 
             [table_data]="connectorTable"
             (viewItem)="viewDetails($event)" 
             (deleteItem)="deleteById($event)" 
             [screenTable]="'connectionsList'" 
             [checkBoxShow]="false"
             (selectedData)="readSelectedData($event)" 
             [dataKeyId]="'id'" 
             [show_search_field]="true" 
             [show_column_filter]="true"
             [show_clear_filter]="true" 
             [search_fields]="table_searchFields" 
             [selectionMode]="'single'" 
             (updateItem)="openUpdateOverlay($event)"
             [show_view_btn]="true"
             (onRowDoubleClick)="viewDetails($event)"
             >
            </app-dynamic-table>
        </div>
    </div>
</div>    

<div [hidden]="!isFormOverlay">
        <app-split-overlay (closeOverlay)="closeFormOverlay($event)">
            <div class="h-100">
                <div class="create-header">
                    <h3 *ngIf="isCreate" > Create Connection</h3>
                    <h3 *ngIf="!isCreate" > Update Connection</h3>
                </div>
                <div class="h-100">
                    <div class="createform-overlay">
                        <form [formGroup]="createConnectorForm">
                            <div class="form-group col p-0">
                                <label class="label-control" for="connection"> Connector Name <span class="star">*</span></label>
                                <input type="text" pInputText [style]="{'width':'100%'}"  maxlength="51" formControlName="name"  (input)="checkConnectionName()"
                                    placeholder="Enter Connector Name">
                                <span *ngIf="createConnectorForm.get('name').invalid && createConnectorForm.get('name').touched && !createConnectorForm.get('name').hasError('pattern') && !createConnectorForm.controls['name'].hasError('maxlength')" class="required"> Connector Name Required </span>
                                <span *ngIf="createConnectorForm.controls['name'].hasError('maxlength')" class="required">
                                    Maximum of 50 characters
                                </span>
                                <span *ngIf="createConnectorForm.get('name').hasError('pattern') && !createConnectorForm.controls['name'].hasError('maxlength')" class="required">
                                    Only space between words are allowed,numbers & special characters are not allowed.
                                </span>
                                <span *ngIf="connectionNameCheck && createConnectorForm.get('name').value && !createConnectorForm.get('name').hasError('pattern')" class="required">
                                    Connection Name already exists*
                                </span>
                            </div> 
                            <div class="form-group col p-0 actionlogoblck">
                                <label *ngIf="isCreate"class="label-control" for="task_icon"> Connector Logo <span class="star" *ngIf="isCreate">*</span></label>                                <!-- <input type="file" pInputText [style]="{'width':'100%'}" formControlName="taskIcon" placeholder="Upload Icon"> -->
                                <label *ngIf="!isCreate"class="label-control" for="task_icon"> Replace Connector Logo</label> 
                                <!-- <div class="row">
                                    <input *ngIf="isCreate" pInputText [style]="{'width':'100%'}" title="only PNG accepted" accept="image/png, image/svg" (change)="imageUpload($event)"
                                    formControlName="taskIcon" id="formFileLg" type="file" />
                                    <input *ngIf="!isCreate" class="custom" pInputText [style]="{'width':'94%'}" title="only PNG accepted" accept="image/png, image/svg" (change)="imageUpload($event)"
                                    formControlName="taskIcon" id="formFileLg" type="file" />
                                    <img *ngIf="!isCreate" class="logo" [src]="'data:image/png;base64,'+connector_icon" alt="connector_icon"> 
                                </div>    -->
                                <div class="input-group">
                                    <input type="file" formControlName="taskIcon" pInputText class="form-control" title="only PNG accepted" accept="image/png, image/svg" (change)="imageUpload($event)" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                                      aria-label="Upload" />
                                    <span  id="inputGroupFileAddon04">
                                    <img *ngIf="!isCreate" class="logo" [src]="'data:image/png;base64,'+connector_icon" alt="connector_icon"> 
                                    </span>
                                </div>
                                <span *ngIf="isIconSize" class="required">
                                    File size must be less then 200kb 
                                </span>
                            </div>
                        </form>
                        <div class="createform-footer">
                            <button class="btn new-cancelbtn" (click)="resetForm()"> Reset </button> 
                            <button *ngIf="isCreate" [disabled]="isIconSize || createConnectorForm.invalid  || connectionNameCheck" (click)="saveConnector()" class="btn bluebg-button"> Save </button>
                            <button *ngIf="!isCreate" [disabled]="isIconSize || createConnectorForm.get('name').invalid  || connectionNameCheck" (click)="updateConnector()" class="btn bluebg-button"> Update </button> 
                        </div>
                    </div>
                </div>
            </div>
        </app-split-overlay>
</div>


<p-confirmDialog #cd [style]="{width: '30vw'}" key="positionDialog" position="center" [baseZIndex]="10000"
    rejectButtonStyleClass="btn bluebg-button" [closable]="false">
    <ng-template pTemplate="footer">
        <button type="button" pButton class="btn reset-btn" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton class="btn bluebg-button" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
