<div class="rpa-content-div mx-3">
    <div class="row credential-search-tools">
        <div class="env-data-tool credential-tools">
            <div *ngIf="addflag" class="env-btn credential-btntool">
                <button class="tsttooltipbtn" value="Create" id="addbtn" (click)="openConnectorForm()">
                    <img src='../../../../assets/images/RPA/icon_latest/new-blue.svg'>
                    <span class="testtooltip">New</span>
                </button>
            </div>
            <div *ngIf="!addflag" class="env-btn credential-btntool">
                <button (click)="addNewConnection()" class="tsttooltipbtn" id="addbtn" disabled>
                    <img src='../../../../assets/images/RPA/icon_latest/plus dis.svg'>
                    <span class="testtooltip">New</span>
                </button>
            </div>
            <div *ngIf="viewConnetorflag" class="env-btn credential-btntool">
                <button class="tsttooltipbtn" id="updateenvbtn" (click)="viewConnector()">
                    <img src='../../../../assets/images-n/projects/eye-show-blue.svg'>
                    <span class="testtooltip"> View</span>
                </button>
            </div>
            <div *ngIf="!viewConnetorflag" class="env-btn credential-btntool">
                <button id="updateenvbtn" disabled>
                    <img src='../../../../assets/images-n/projects/eye-show dis.svg'>
                    <span class="testtooltip"> View</span>
                </button>
            </div>
            <div *ngIf="updateflag" class="env-btn credential-btntool">
                <button class="tsttooltipbtn" id="updateenvbtn" (click)="openUpdateOverlay()">
                    <img src='../../../../assets/images/RPA/icon_latest/edit-blue.svg'>
                    <span class="testtooltip"> Edit</span>
                </button>
            </div>
            <div *ngIf="!updateflag" class="env-btn credential-btntool">
                <button id="updateenvbtn" disabled>
                    <img src='../../../../assets/images/RPA/icon_latest/edit-dis.svg'>
                    <span class="testtooltip"> Edit</span>
                </button>
            </div>
            <div class="env-btn credential-btntool" *ngIf="delete_flag">
                <button class="tsttooltipbtn" value="Delete" id="deletebtn" (click)="deleteConnection()">
                    <img src='../../../../assets/images/RPA/icon_latest/delete-blue.svg'>
                    <span class="testtooltip">Delete</span>
                </button>
            </div>
            <div *ngIf="!delete_flag" class="env-btn credential-btntool">
                <button data-placement="top" id="deletebtn" disabled>
                    <img src='../../../../assets/images/RPA/icon_latest/delete-dis.svg'>
                    <span class="testtooltip">Delete</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 con-envr">
        <div>
            <app-dynamic-table 
                [representatives]="representatives" 
                [columns_list]="columns_list"
                [table_data]="connectorTable" 
                (viewDetails)="viewDetails($event)" 
                (deleteItem)="deleteById($event)"
                [screenTable]="'common'" 
                [checkBoxShow]="checkBoxShow" 
                (selectedData)="readSelectedData($event)" 
                [dataKeyId]="'connectorId'"
                [show_search_field]="true"
                [show_column_filter]="true"
                [show_clear_filter]="true"
                >
            </app-dynamic-table>
        </div>
    </div>
    <!-- <app-rpa-connection-manager-form [isConnectorForm]="isConnectorForm"> </app-rpa-connection-manager-form> -->
    <div [hidden]="!isFormOverlay">
        <app-split-overlay (closeOverlay)="closeFormOverlay($event)">
            <h5 *ngIf="isCreate" class="create-title"> Create Connection</h5>
            <h5 *ngIf="!isCreate" class="create-title"> Update Connection</h5>
            <div class="container col-lg-12">
                <form [formGroup]="createConnectorForm">
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control" for="userName"> Connector Name <span class="star">*</span></label>
                        <input type="text" pInputText [style]="{'width':'100%'}"  maxlength="51" formControlName="connectionName"
                            placeholder="Enter Connector Name">
                        <span *ngIf="createConnectorForm.get('connectionName').invalid && createConnectorForm.get('connectionName').touched && !createConnectorForm.get('connectionName').hasError('pattern')" class="errspan required"> Connector Name Required* </span>
                        <span *ngIf="createConnectorForm.controls['connectionName'].hasError('maxlength')" class="errspan required">
                            Maximum of 50 characters
                        </span>
                    </div>
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control" for="userName"> Authorization Type <span class="star">*</span></label>
                        <p-dropdown [options]="authorizationType" formControlName="authorization_Type" autoWidth="false"
                      [(ngModel)]="optionValue" [style]="{'width':'100%'}" placeholder="Select Authorization"
                     (onChange)="changeAuth($event)" required></p-dropdown>
                        <span *ngIf="createConnectorForm.get('authorization_Type').invalid && createConnectorForm.get('authorization_Type').touched" class="errspan required"> Authorization Type Required* </span>
                    </div>
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control"> Task Icon <span class="star">*</span></label>
                        <input type="file" pInputText [style]="{'width':'100%'}" formControlName="taskIcon" placeholder="Upload Icon">
                        <span *ngIf="createConnectorForm.get('taskIcon').invalid && createConnectorForm.get('taskIcon').touched" class="errspan required"> Task Icon Required* </span>
                    </div>
                    <div class="form-footer">
                        <button *ngIf="isCreate" [disabled]="createConnectorForm.invalid" class="btn btn-primary"> Save </button>
                        <button *ngIf="!isCreate" [disabled]="createConnectorForm.invalid" class="btn btn-primary"> Update </button> &nbsp;
                        <button class="btn btn-primary"> Next </button>
                    </div>
                </form>
            </div>
        </app-split-overlay>
    </div>

    <div [hidden]="!isAuthOverlay">
        <app-split-overlay (closeOverlay)="closeAuthOverlay($event)">
            <h5 class="create-title"> Configuration Options </h5>
            <div class="container modal-body col-lg-12">
                <form [formGroup]="configurationOptions">
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="garnt_type"> Grant Type <span class="star">*</span></label>
                         <p-dropdown [options]="grantType" formControlName="GrantType" autoWidth="false"
                          [(ngModel)]="optionValue1" [style]="{'width':'100%'}" placeholder="Select Authorization"
                          optionLabel="" optionValue="" (onChange)="changeAuth($event)" required></p-dropdown>
                            <span *ngIf="configurationOptions.get('GrantType').invalid && configurationOptions.get('GrantType').touched" class="errspan required"> Grant Type Required* </span>
                        </div>
                    <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="access_token"> Access Token <span class="star">*</span></label>
                        <input type="text" pInputText [style]="{'width':'100%'}"  formControlName="accessToken" placeholder="Enter Access Token">
                        <span *ngIf="configurationOptions.get('accessToken').invalid && configurationOptions.get('accessToken').touched" class="errspan required"> Access Token Required* </span>
                    </div>
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control" for="client_id"> Client ID <span class="star">*</span></label>
                        <input type="text" pInputText [style]="{'width':'100%'}" formControlName="clienId" placeholder="Enter Client ID">
                        <span *ngIf="configurationOptions.get('clienId').invalid && configurationOptions.get('clienId').touched" class="errspan required"> Client ID Required* </span>
                    </div>
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control" for="client_secret"> Client Secret <span class="star">*</span></label>
                        <input type="text" pInputText [style]="{'width':'100%'}"  formControlName="clientSecret" placeholder="Enter Client Secret">
                        <span *ngIf="configurationOptions.get('clientSecret').invalid && configurationOptions.get('clientSecret').touched" class="errspan required"> Client Secret Required* </span>
                    </div>
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control" for="user_name"> User Name <span class="star">*</span></label>
                        <input type="text" pInputText [style]="{'width':'100%'}" formControlName="userName" placeholder="Enter User Name">
                        <span *ngIf="configurationOptions.get('userName').invalid && configurationOptions.get('userName').touched" class="errspan required"> User Name Required* </span>
                    </div>
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control" for="password"> Password <span class="star">*</span></label>
                        <input type="text" pInputText [style]="{'width':'100%'}" formControlName="password" placeholder="Enter Password">
                        <span *ngIf="configurationOptions.get('password').invalid && configurationOptions.get('password').touched" class="errspan required"> Password Required* </span>
                    </div>
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control" for="scope"> Scope <span class="star">*</span></label>
                        <input type="text" pInputText [style]="{'width':'100%'}" formControlName="scope" placeholder="Enter Scope">
                        <span *ngIf="configurationOptions.get('scope').invalid && configurationOptions.get('scope').touched" class="errspan required"> Scope Required* </span>
                    </div>
                    <div class="form-footer">
                        <button class="btn btn-default btn-test">Reset</button> &nbsp;
                        <button class="btn btn-primary" [disabled]="configurationOptions.invalid" (click)="saveConfigurations()"> Submit </button>
                    </div>
                </form>
            </div>
        </app-split-overlay>
    </div>
</div>