td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

select {
    width: 50%;
    cursor: pointer;
}

::placeholder {
    /* padding-left: 1%; */
}

textarea {
    border: 1px solid #dddddd;
}

.descriptionview {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 70%;
}

*::first-letter {
    text-transform: capitalize;
}

img {
    cursor: pointer;
}

.definitionscroll {
    overflow-x: hidden;
}