/* .new-PI-layout {
    padding: 15px 10px 10px;
} 
.PI-srh-graph {
    width: 35%;
    float: right;
}
*/

.PI-serwksp input {
    height: 36px;
}
.PI-srh-graph {
    display: flex;
    align-items: center;
    justify-content: end;
}

.PI.table thead {
    border-bottom: medium none !important;
}
.PI.table th {
    border-bottom: unset !important;
    padding: 0px 10px !important;
    background-color: #f9f9f9 !important;
    color: #232832 !important;
    font-weight: 600;
}
.PI.table th:first-child {
    padding-left: 0px !important;
}
.PI.table th:last-child {
    padding-right: 0px !important;
}
.PI.table thead tr {
    height: 24px !important;
}
.PI.table th select {
    margin-bottom: 10px !important;
}
.PI.table th {
    position: inherit;
}