<div class="container-fluid new-PI-layout">
    <div class="d-flex PI-srh-graph">
            <div class="form-group pr-0 PI-serwksp">
                <input class="form-control toolbar-search bps-home-fileds" type="text" placeholder="Search" aria-label="Search" id="search_process_data" [(ngModel)]="searchTerm">
                <img src="../../../../assets/images/search.svg" alt="" class="testplus1">
            </div>
            <div class="form-group pr-0">
                <button class="btn btn-primary" id="generateGraph" (click)="slideUp()">
                <img src="assets/images/Group 77.svg" class="testplus">Generate Process Graph</button>
            </div>  
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <table class="PI table table-hover">
                <thead  class="text-center">
                    <tr>
                        <th>CaseID</th>
                        <th>Activity</th>
                        <th>Resource</th>
                        <th >Complete Timestamp</th>
                    </tr>
                    <tr>
                        <th class="tableHeader">
                            <select name="cathead1" [disabled]='true' class="form-control">
                                <option>String</option>
                            </select> 
                        </th>
                        <th class="tableHeader">
                            <select name="cathead1" [disabled]='true' class="form-control">
                                <option>String</option>
                            </select> 
                        </th>
                        <th class="tableHeader">
                            <select name="cathead1" [disabled]='true' class="form-control">
                                <option>String</option>
                            </select> 
                        </th>
                        <th class="tableHeader">
                            <select name="cathead1" [disabled]='true' class="form-control">
                                <option [selected]>Date/Time</option>
                            </select> 
                        </th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of xesData |filter:searchTerm | paginate: { itemsPerPage: 50, currentPage: p };trackBy:loopTrackBy;let i=index">
                    <td>{{data[0]}}</td>
                    <td>{{dataResource(data)}}</td>
                    <td>{{dataName}}</td>
                    <td>{{dataTime| date:'MM/dd/yyyy hh:mm a' }}</td>
                    <!-- <td>{{getDateFormat(dataTime)}}</td> -->
                    <!-- <td>{{dataTime| date:"MM/dd/yyyy HH:mm:ss":'UTC' }}</td> -->
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls></div>
        </div>
    </div>
</div>

<process-category-overlay headerTitle="Save Process" buttonName="Save & Generate" (proceed)="generateGraph($event)"></process-category-overlay>
