.rpa-checkbox{
    display: flex;
    justify-content:center;
  }
  .rpa-table thead th {
  border-bottom-width: thin;
  border-bottom-color:#d9d9d9;
  }
  .rpa-table tfoot th{
    border-top-color:#d9d9d9;
    border-bottom-width: thin; 
    font-weight: 200; 
  }
  .rpa-table tbody tr td
  {
    border-top-color:#d9d9d9;
    border-bottom-width: thin; 
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 20px; 
  }

  tr.mat-footer-row, tr.mat-row {
    height: auto !important;
}

  .rpa-tablebox{
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
  height: 900px;
  }
  .rpa-table.dataTable thead .rpa-checkbox-th{
    background : none;
  }

  .rpa-modal-content{
    padding-bottom:25px !important;
  }

  
  .env-btn > button:disabled > img{
    color:rgb(116, 116, 116) !important;
    background-color:white!important;
  }
  .env-btn > button:disabled{
    background-color:white;
  }
  .env-btn > button > div{
    color:black !important;
  }

  .env-btn > button:disabled > div{
    color:lightgrey !important;
  }

  .rpa-image1 {
    height: 12px;
    width: 12px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  }

  td{
    white-space:nowrap;
  }
  
  th{
    white-space:nowrap;
  }

.credential-tablegrid table td span{
  font-size: 13px !important;
}

.credential-search {
  position: relative;
  padding: 0px !important;
}
.credential-search  img {
  position: absolute;
  top: 9px;
  right: 10px;
}
.credential-tools {
  padding: 0px !important;
  display: flex;
}
.credential-btntool {
  position: relative;
  padding: 6px;
  margin: 0px !important;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
.credential-btntool img {
  width: 16px;
  height: 16px;
}
.tsttooltipbtn:hover span.testtooltip {
  display: block;
}
span.testtooltip {
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: #001c47;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px 10px;
  border-radius: 4px;
  display: none;
  z-index: 999;
}
span.testtooltip:before {
  content: '';
  border: 2px solid #001c47;
  border-width: 0px 0px 2px 2px;
  position: absolute;
  padding: 4px;
  right: 13px;
  top: -5px;
  background: #001c47;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-body{
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.no-item-img{
  height:calc(100vh - 430px)
}
