<div class="row">
    <div class="col-md-2 pl-adj">
        <div class="card-history">
            <div class="col-md-12">
                <h4 class="histry-space">History</h4>
            </div>
            <div>
                <img src="../../../../assets/copilot/noviewmsg.svg" class="histry-img" alt="" />
                <p class="histry-text">You have no saved conversations</p>
            </div>

        </div>
    </div>
    <div class="col-md-10 pl-0 pr-0">
        <div class="maincontent">
            <div class="h-100">
                <div class="row main-content-head">
                    <div class="col-md-6 pl-0">
                        <h3>
                            <span class="title_text">Conversational AI Process Automation</span>

                        </h3>
                    </div>
                    <div class="col-md-6 title-help">
                        <a href="#"> Need Help <span class="ml-1"><img src="../../../../assets/copilot/needhelp.svg"
                                    alt="" /></span></a>
                    </div>

                </div>
                <div class="hr"></div>

                <div class="main-content-body row">
                    <div class="col-md-8 model-box " [hidden]="!showTable">
                        <div class="graph-designer">
                            <div class="studio_main">
                                <div class="drag-area">
                                    <!--Nodes inside designer-->
                                    <ng-container *ngFor="let node of nodes; let i = index">
                                        <div id="{{ node.id }}" [class]="node.updated?'node-updated':'node'" [ngStyle]="{
                            left: node.x,
                            top: node.y,
                            'background-image': 'url('+node.path+')'
                          }">
                                            <!--Node close button-->
                                            <div class="connector-name" *ngIf="node.selectedNodeTask == ''">
                                                {{ node.name }}
                                            </div>
                                            <div class="connector-name" *ngIf="node.selectedNodeTask != ''">
                                                {{ node.selectedNodeTask }}
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!--Show bot Image when no nodes in designer-->
                                    <!-- <div *ngIf="nodes.length == 0" class="dragactionsdiv">
                        <img src="../../../../assets/images/RPA/dragarea.png" alt="" />
                        <span>Drag an action here...</span>
                      </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 model-box " [hidden]="showTable">
                        <div class="mt-3 mb-4">

                            <h5>
                                <label id="popup_title">
                                    <a class="imageBox" (click)="showTable=false">
                                        <img class="default-arrow"
                                            src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
                                        <img class="hover-arrow"
                                            src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt="">
                                    </a>
                                </label>
                                <span class="title_text_haspath">
                                    <span class="">Fill in the time taken for below steps in the process:</span>
                                </span>
                            </h5>
                        </div>
                        <table class="table table-striped chat-form">
                            <thead>
                                <tr>
                                    <th scope="col">Time Taken (hrs)</th>
                                    <th scope="col">Mins</th>
                                    <th scope="col">Hrs</th>
                                    <th scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tableData">
                                    <th>{{item.name}}</th>
                                    <td>
                                        <select name="" id="" [(ngModel)]="item.min" (change)="onChange()">
                                            <option [value]="item" *ngFor="let item of minOptins">{{item}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="" id=""  [(ngModel)]="item.hrs">
                                          <option [value]="item" *ngFor="let item of hrsOptins">{{item}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="" id=""  [(ngModel)]="item.days">
                                          <option [value]="item" *ngFor="let item of daysOptins">{{item}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 chat-box">
                        <div id="chat-grid" class="chat-grid">
                            <div *ngFor="let sentMessage of messages" class="py-3 ">

                                <div *ngIf="sentMessage.user!='SYSTEM'" class="user-message ">

                                    <div class="py-3 px-3 mr-2 user-msgtext" [innerHTML]="sentMessage.message"></div>
                                    <div class="sys-image">
                                        <img src="../../../../assets/copilot/user.svg" alt="" />
                                    </div>
                                </div>
                                <div></div>
                                <div *ngIf="sentMessage.user=='SYSTEM' && sentMessage.message!=''" class="system-message">
                                    <div class="d-flex">
                                        <div class="sys-image">
                                            <img src="../../../../assets/copilot/systemicon.svg" alt="" />
                                        </div>
                                        <div class="ml-2 send-msgtext" [innerHTML]="sentMessage.message">
                                        </div>
                                    </div>
                                    <div *ngIf="sentMessage.steps.length" style="text-align: -webkit-right;">
                                       
                                        <div *ngFor="let step of sentMessage.steps">
                                            <div *ngIf="step.type=='PROCESS-IMAGE'">
                                                <div (click)="sendMessage(step.label, 'LABEL')" class="card">
                                                    <div class="py-1 px-1 text-center">
                                                        <img src="../../../../assets/graph.svg">
                                                       
                                                        <div class="h6 text-center">{{step.label}}</div>
                                                    </div>

                                                </div>
                                               
                                            </div>
                                            <div class="col-12 chat-btn " *ngIf="step.type=='BUTTON'">
                                                <button class="btn btn-primary text-white btn-sm"
                                                    (click)="sendMessage(step.label, 'LABEL');step.disable=true" [disabled]="step.disable">{{step.label}}</button>
                                            </div>
                                            <div class="col-12 chat-btn " *ngIf="step.type=='OUTLINE-BUTTON'">
                                                <button class="btn btn-outline-primary text-white btn-sm"
                                                    (click)="sendMessage(step.label, 'LABEL');step.disable=true" [disabled]="step.disable">{{step.label}}</button>
                                            </div>
                                            <div class="col-12 chat-btn " *ngIf="step.type=='IMG-BUTTON'">
                                                <a class="d-flex py-1 bg-success">
                                                   <div>
                                                    <img [src]="step.label=='Workday'?'../../../../assets/copilot/workday.png':'../../../../assets/copilot/SAP.png'">
                                                   </div>
                                                    <div>
                                                    {{step.label}}
                                                   </div>
                                                </a>
                                            </div>
                                            <div class="py-1 px-1" *ngIf="step.type=='MESSAGE'">
                                                <div class="py-0 px-2 ml-2 send-msgtext" [innerHTML]="step.label">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div *ngIf="message.components" class="">
                              <div *ngIf="message.components.includes('Buttons')">
                              <div class="col-12 chat-btn " *ngFor="let each of message.values[0]">
                              
                                <button type="button" class="btn btn-primary btn-sm text-white" (click)="submitButton(each)">{{ each.label}}</button>
                              </div>
                            </div>
                            </div> -->
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="px-3 adjtextarea-align">
                            <textarea [(ngModel)]="message" class="form-control message-input"
                                placeholder="Type to Automate" (keyup.enter)="sendMessage(message,'MESSAGE')"></textarea>
                            <a (click)="sendMessage(message, 'MESSAGE')" class="msg-snd-btn">
                                <img src="./../../../../assets/copilot/textareaicon.svg" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>