
.box_area .row {
    display: flex;
}
.drop_box.create_box {
    margin: 0px;
    display: flex;
    align-items: center;
    padding-top: 0px !important;
}

.model-text {
    text-align: left;
    padding-left: 22px;
}
.model-text button{
    margin-left: 0px;
    border-radius: 3px !important;
    margin-top: 14px;
    outline: none;
    border: none;
}

.drop_box ngx-dropzone {
    height: 145px !important;
}
.drop_box {
    height: 150px;
    margin: 0px 20px 0px 0px;
    border: 1px solid #e1e7ec;
    border-radius: 4px;
}    

.gen-newdiv .drop_box {
    margin: 20px 0px;
}
.gen-newdiv .model-img {
    margin-left: auto;
}

.gen-newdiv .model-text {
    padding-left: 10px;
}
.gen-newdiv h3 {
    margin-top: 0px;
}
.gen-newdiv {
    padding: 0px 15px;
}