.create_box button {
    margin-top: 14px;
}
.create_box h3 {
    /* padding-top: 10px; */
}
.create_box {
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding-top: 0px !important;
}

.model-text {
    text-align: left;
    padding-left: 22px;
}
.model-text button{
    margin-left: 0px;
}

.drop_box ngx-dropzone {
    height: 180px !important;
}
.drop_box {
    height: 186px;
}    