
thead>tr>th{
    padding:18px;
    color: black;
    font-weight: bold;
    font-size:15px;
    background-color:white;
}
.tablebutton {
    color: white;
    border-radius: 200px;
}

.card-header{
    background: #f1eeee;
      padding: 8px;
      color: #0062cf;
      font-weight: 700;
      font-size: 16px;
  }
  .card{
    border-top: 1px solid gray;
    border-left: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      border-right: 1px solid lightgray;
  }
  .card-body{
      padding:20px;
      overflow-y: scroll;
  }
  .pop-up{
    position: absolute;
      bottom: 0px;
      width: 100%;
      background: white;
      z-index: 1000;
      transition: width 2s;
      overflow-y: scroll;
  }
  .class-css{
    cursor: pointer;float: right;font-weight: 700;border: 1px solid gray;padding: 1px 6px
  }
 .iconfont{
  font-size:15px; 
  color:white;
 }
 .icon-button{  
   width: 50px; 
  height: 50px; 
  padding: 7px 10px; 
  border-radius: 25px; 
  font-size: 10px; 
  text-align: center; 

 }


 .data > input[type=search]{
 height: 70px;
}

.formelement{
  padding:10px;
}


.tablebox{
  padding:20px;
}
.btn{
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.env-btn{
  display:inline-block;
}