<div class="maincont">
    <div class="maincont-contentarea">
        <div class="maincontent h-100" id="my_workspace">
            <div class="row main-content-head">
                <h3>
                    <label id="popup_title">
                        <a (click)="backToWorkSpace()" class="imageBox">
                            <img class="default-arrow" src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
                            <img class="hover-arrow" src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt="">
                        </a>
                    </label>
                    <span class="title_text_haspath">
                        <span (click)="backToWorkSpace()"  class="breadcrum-back">RPA Studio</span>
                        <span class="breadcrum-align">/</span>
                        <span class="">{{botName}}</span>
                        <span class="breadcrum-align">-</span>
                        <span class="sub_title_text">Audit Logs</span>
                     </span>
                </h3>
            </div>
            <div class="main-content-body rpaauditsgrid">
                <div class="tabs_screen h-100">
      
       
                    <div class="gridparentdiv">
                        <app-dynamic-table 
                                [columns_list]="columns_list"
                                [table_data]="logsData"  
                                [dataKeyId]="'auditLog'"
                                [search_fields]="table_searchFields" 
                                [show_search_field]="true"
                                [show_column_filter]="true"
                                [show_clear_filter]="true"
                                [screenTable] = "'auditLogs'"
                                >
                        </app-dynamic-table>
                    </div>
                </div>
                <!-- <p-table #dt [value]="logsData" dataKey="id" [resizableColumns]="true" responsiveLayout="scroll"
                    [reorderableColumns]="true" [scrollable]="true"
                    [globalFilterFields]="['versionNew','changedDate','changeActivity','changedBy','comments','taskName','newValue','previousValue']">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-right gridsearch">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Search" />
                            </span>
                            <button pButton label="Clear" class="p-button-outlined only_clearbtn"
                                icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let each of columnList" [style]="each.width" pSortableColumn="{{each.field}}"
                                pReorderableColumn pResizableColumn>{{each.DisplayName}}
                                <p-columnFilter *ngIf="each.ShowFilter && each.filterType == 'text'" [showAddButton]="false" [showOperator]="false"
                                    matchMode="contains" [showMatchModes]="false" [field]="each.field" display="menu"
                                    [showApplyButton]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)"
                                            class="p-inputtext" placeholder="Search">
                                    </ng-template>
                                </p-columnFilter>
                                <p-columnFilter *ngIf="each.ShowFilter && each.filterType == 'date'" [showAddButton]="false"
                        [showOperator]="false" type="date" [showMatchModes]="false" [field]="each.field"
                        display="menu" [showApplyButton]="true">
                    </p-columnFilter>
                                <p-sortIcon *ngIf="each.ShowFilter" [field]="each.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-logs>
                        <tr class="action-desc">
                            <td style="flex: 0 0 10rem">{{logs.versionNew}}</td>
                            <td>{{logs.changedDate_new|date: 'MMM d, y, HH:mm'}}</td>
                            <td>
                                <span *ngIf="logs.Status=='UpdatedConfig'">
                                    Updated <b>{{logs.taskName}}</b> task input field <b>{{logs.changeActivity}}</b> from
                                    <b>{{logs.previousValue}}</b> to <b>{{logs.newValue}}</b></span>
                                <span *ngIf="logs.Status=='AddedTask'">
                                    Added task <b>{{logs.taskName}}</b></span>
                                <span *ngIf="logs.Status=='BotCreated'">
                                    Created Bot <b>{{logs.taskName}}</b></span>
                                <span *ngIf="logs.Status=='RemovedTask'">
                                    Removed task <b>{{logs.taskName}}</b></span>
                                <span *ngIf="logs.Status=='AddedEnv'">
                                    Added environment <b>{{logs.taskName}}</b></span>
                                <span *ngIf="logs.Status=='RemovedEnv'">
                                    Removed environment <b>{{logs.taskName}}</b></span>
                                <span *ngIf="logs.Status=='UpdatedVersion'">
                                    Version upgraded from <b>V{{logs.previousValue | number :'1.1-1'}}</b> to
                                    <b>V{{logs.newValue | number :'1.1-1'}}</b>
                                </span>
                            </td>
                            <td>{{logs.changedBy}}</td>
                            <td>
                                <span *ngIf="logs.comments != '' || logs.comments!=null"
                                    [pTooltip]="logs.comments">{{logs.comments}}</span>
                                <span *ngIf="logs.comments == '' || logs.comments == null">-</span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td style="justify-content: center;" colspan="5">No Records Found</td>
                        </tr>
                    </ng-template>
                </p-table> -->
            </div>
        </div>
    </div>
</div>