.p-button-outlined.only_clearbtn {
    margin:0px !important;
}

/* .table_responsive.graph_table {
    height: calc(100% - 44px);
    overflow: hidden auto;
    width: 100%;
  }


th.gconfig, td.gconfig {
    width: 1%;
}

th.gdescrip, td.gdescrip {
    width: 16%;
}

th.gactions, td.gactions {
    width: 35%;
    word-break: break-word;
}

th.gchangedby, td.gchangedby {
    width: 18%;
}

th.gcmnts, td.gcmnts  {
    width: 30%;
    word-break: break-word;
} */
