.createform-overlay {
  padding: 15px 10px;
  height: calc(100% - 180px);
  overflow: auto;
}
button.btn.new-cancelbtn {
  color: #098de6 !important;
  font-size: 16px;
}
.form-check span {
  margin-right: 40px;
}
.fromdate, .todate {
  width: 50%;
  position: relative;
}
.fromdate {
  position: relative;
}
span.dateseparator {
  position: absolute;
  top: 22px;
  right: 0;
  color: #7d7d7d;
  font-size: 20px;
}
.fromdate input.form-control.enteredfield-color {
  background: transparent;
  border: 1px solid #979797 !important;
  border-right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.todate input.form-control.enteredfield-color {
  background: transparent;
  border: 1px solid #979797 !important;
  border-left: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
