<div class="modal-header">
    <h4 class="modal-title pull-left">Create Task</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="createtaskmodalref.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container" style="width:100%">
        <br>

        <form [formGroup]="createtaskForm" (ngSubmit)="savetasks()">
            <div class="row">
                <div class="col-md-6">
                    <label for="taskCategory">Task Category<span style="color:red">*</span></label>
                    <select class="form-control" style="border:1px solid lightgray" formControlName="taskCategory">
                        <option value="">Select Category</option>
                        <option value="Analysis">Analysis</option>
                    </select>
                    <span
                        *ngIf="createtaskForm.get('taskCategory').invalid && createtaskForm.get('taskCategory').touched"
                        style="color:red" class="fa fa-info-circle errspan">Task Category Required*</span>
                    <br>

                    <label for="priority">Priority <span style="color:red">*</span></label>
                    <select formControlName="priority" class="form-control data">
                        <option value="">Select Priority</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                    <span
                        *ngIf="createtaskForm.get('priority').invalid && createtaskForm.get('priority').touched"
                        style="color:red" class="fa fa-info-circle errspan">Priority Required*</span>
                    <br>

                    <label class="label-control">Start Date <span style="color:red">*</span></label>
                    <input class="form-control" type="date" name="daytime" [min]="mindate" formControlName="startDate">
                    <span *ngIf="createtaskForm.get('startDate').invalid && createtaskForm.get('startDate').touched"
                        style="color:red" class="fa fa-info-circle errspan">Start Date Required*</span>
                    <br>

                    <label for="resources">Select Resources<span style="color:red">*</span></label>
                    <select formControlName="resources" class="form-control data">
                        <option value="">Select Resources</option>
                        <option *ngFor="let user of userslist" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</option>   
                    </select>

                     <!-- <ng-select  formControlName="resources" [multiple]="true"  placeholder="Select Resources"
                             [(ngModel)]="selectedresources"  required>
                            <ng-option *ngFor="let user of userslist" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</ng-option>
                        </ng-select>  -->

                    <span *ngIf="createtaskForm.get('resources').invalid && createtaskForm.get('resources').touched"
                        style="color:red" class="fa fa-info-circle errspan">Resources Required*</span>
                    <br>


                </div>
                <div class="col-md-6">
                    <label for="taskName">Task Name<span style="color:red">*</span></label>
                    <input type="text" formControlName="taskName" class="form-control data"
                        style="border:1px solid lightgray" placeholder="Enter Task Name">
                    <span *ngIf="createtaskForm.get('taskName').invalid && createtaskForm.get('taskName').touched"
                        style="color:red" class="fa fa-info-circle errspan">Task Name Required*</span>
                    <span *ngIf="createtaskForm.controls['taskName'].hasError('maxlength')" style="color:red"
                        class="fa fa-info-circle errspan">
                        Maximum of 50 characters
                    </span>
                    <br>


                    <label for="timeEstimate">Time Estimate<span style="color:red">*</span></label>
                    <input type="text" (keydown)="inputNumberOnly($event)" maxlength="6" formControlName="timeEstimate" class="form-control data"
                        style="border:1px solid lightgray" placeholder="Enter Time  Estimate">
                    <span
                        *ngIf="createtaskForm.get('timeEstimate').invalid && createtaskForm.get('timeEstimate').touched"
                        style="color:red" class="fa fa-info-circle errspan">Time Estimate Required*</span>
                    <span *ngIf="createtaskForm.controls['timeEstimate'].hasError('maxlength')" style="color:red"
                        class="fa fa-info-circle errspan">
                        Maximum of 50 characters
                    </span>
                    <br>

                    <label for="endDate">End Date<span style="color:red">*</span></label>
                    <input class="form-control" type="date" name="daytime" [min]="mindate" formControlName="endDate">
                    <span *ngIf="createtaskForm.get('endDate').invalid && createtaskForm.get('endDate').touched"
                        style="color:red" class="fa fa-info-circle errspan">End Date Required*</span>
                    <br>

                    <label for="approvers">Select Approvers<span style="color:red">*</span></label>
                    <select class="form-control" style="border:1px solid lightgray" formControlName="approvers">
                        <option value="">Select Approvers</option>
                        <option *ngFor="let user of userslist" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</option>   
                    </select>
                    <!-- <ng-select  formControlName="approvers" [multiple]="true"  placeholder="Select Approvers"
                             [(ngModel)]="selectedapprovers"  required>
                            <ng-option *ngFor="let user of userslist" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</ng-option>
                        </ng-select>  -->
                    <span *ngIf="createtaskForm.get('approvers').invalid && createtaskForm.get('approvers').touched"
                        style="color:red" class="fa fa-info-circle errspan">Approvers Required*</span>
                    <br>


                </div>
                <br><br>
                <div class="col-md-12">
                    <br>
                    <label>Task Description</label>
                    <textarea class="form-control" formControlName="description" placeholder="Enter Description..." style="height:100px;">

                    </textarea>

                </div>
            </div>
        </form>
        <br>
        <div class="pull-right">
            <button (click)="resettask()" class="btn btn-primary">Reset</button>
            &nbsp;&nbsp;
            <button [disabled]="createtaskForm.invalid" (click)="savetasks()" class="btn btn-primary">Save</button>
        </div>
        <br><br>
    </div>
</div>
