  <div class="main-content" [class.main-content1]="isPIHeaderShow">
    <div class="row content-area">
      <div class=" row module-heading title">
          <div class="col-md-5 new-bps-header-title p-0">
            <span class="bps-header-title">
              <span *ngIf="isBackbutton" class="module-back-button" (click)='gotoProcessgraph()'><i aria-hidden="true" class="fas fa-arrow-left"></i></span>
              <span *ngIf="isPIHeaderShow" class="module-back-button" (click)='backtoWorkspace()'><i aria-hidden="true" class="fas fa-arrow-left"></i></span>
              <span *ngIf="isProjDetails" class="module-back-button" (click)='gotoProjectDetails()'><i aria-hidden="true" class="fas fa-arrow-left"></i></span>
              <span class="module-header-title">Process Intelligence
              </span>
            </span>
          </div>
          <div class="col-md-7 new-bps-icons p-0" *ngIf="isPIHeaderShow || isProjDetails">
            <div class="row bps-float">
              <button mat-button [matMenuTriggerFor]="download" class="tsttooltipbtn">
                <img src="../../../assets/images/PI/download.svg">
                <span class="testtooltip">Download</span>
              </button>
                <mat-menu #download="matMenu">
                  <button mat-menu-item (click)="downloadNotaton('svg')">SVG</button>
                  <button mat-menu-item (click)="downloadNotaton('png')">PNG</button>
                  <button mat-menu-item (click)="downloadNotaton('jpg')">JPEG</button>
                  <button mat-menu-item (click)="downloadNotaton('pdf')">PDF</button>
                </mat-menu>
              <button (click)="playAnimation()" id="play_btn" class="tsttooltipbtn" *ngIf="!isplay">
                <img src="../../../assets/images/PI/play.svg">
                <span class="testtooltip">Play</span>
              </button>
              <button (click)="playAnimation()" class="tsttooltipbtn" *ngIf="isplay">
                <img src="../../../assets/images/PI/stop.svg">
                <span class="testtooltip">Stop</span>
              </button>
              <button class="tsttooltipbtn" id="kpi_btn"(click)="viewInsights()" >
                <img src="../../../assets/images/PI/insight.svg">
                <span class="testtooltip">PI Insights</span>
              </button>
              <button class="tsttooltipbtn" id="kpi_btn"(click)="viewbusinessinsights()" >
                <img src="../../../assets/images/PI/businessinsight.svg">
                <span class="testtooltip">Business Insights</span>
              </button>
              <button class="tsttooltipbtn" (click)="openHersOverLay()" *ngIf="isTimefeed">
                <img src="../../../assets/images/PI/timefeed.svg">
                <span class="testtooltip">Time Feed</span>
              </button>
              <button class="tsttooltipbtn" *ngIf="!isTimefeed" class="edit-disabled">
                <img src="../../../assets/images/PI/timefeed-dis.svg">
                <span class="testtooltip">Time Feed</span>
              </button>
                <div *ngIf="isAddHrs" aria-labelledby="dropdownForm1" id="dropdownForm2">
                    <form class="row">
                      <div class="timefeed-header">
                        <span class="close" (click)="canceladdHrs()">
                          <img alt="" class="default-img" src="../../../../assets/images/PI/close.svg">
                          <img alt="" class="hover-img" src="../../../../assets/images/PI/close-blue.svg">
                        </span>
                        <h3>Time Feed</h3>                        
                      </div>
                      <div class="timefeed-body">
                        <div class="col-sm-6 pl-0 form-group">
                          <label class="label-control" for="exampleDropdownFormEmail1">Working From</label>
                          <select name="weeks" class="form-control" id="from_id" name="formDay" [(ngModel)]="workingHours.formDay">
                            <option value="" selected disabled>Select</option>
                            <option value="Sun">Sunday</option>
                            <option value="Mon">Monday</option>
                            <option value="Tue">Tuesday</option>
                            <option value="Wed">Wednesday</option>
                            <option value="Thu">Thursday</option>
                            <option value="Fri">Friday</option>
                            <option value="Sat">Saturday</option>
                          </select>
                        </div>
                        <div class="col-sm-6 pr-0 form-group">
                          <label class="label-control" for="">Working To</label>
                          <select name="weeks" id="to_id"  class="form-control" name="toDay" [(ngModel)]="workingHours.toDay">
                            <option value="" selected disabled>Select</option>
                            <option value="Sun">Sunday</option>
                            <option value="Mon">Monday</option>
                            <option value="Tue">Tuesday</option>
                            <option value="Wed">Wednesday</option>
                            <option value="Thu">Thursday</option>
                            <option value="Fri">Friday</option>
                            <option value="Sat">Saturday</option>
                          </select>
                        </div>
                        <div class="col-sm-6 pl-0">
                          <label class="label-control" for="">Shift Start Time</label>
                          <ngx-timepicker-field [controlOnly]="true" [defaultTime]="'23:11'" [format]="24" name="shiftStartTime" [(ngModel)]="workingHours.shiftStartTime"></ngx-timepicker-field>
                        </div>
                        <div class="col-sm-6 pr-0">
                          <label class="label-control" for="">Shift End Time</label>
                          <ngx-timepicker-field [controlOnly]="true" name="shiftEndTime" [(ngModel)]="workingHours.shiftEndTime"  [format]="24"></ngx-timepicker-field>
                        </div>
                      </div>
                      <div class="timefeed-footer">
                          <button type="submit" class="btn btn-default" (click)="resetWorkingHours()">Reset</button>
                          <button type="submit" class="btn btn-default" (click)="canceladdHrs()">Cancel</button>
                          <button type="submit" class="btn btn-primary" (click)="addWorkingHours()">Apply</button>
                      </div>  
                    </form>
                </div>
              <button class="tsttooltipbtn" id="generate_btn" *ngIf="freetrail!='true'" (click)="generateBpmn()">
                <img src="../../../assets/images/PI/bpmn.svg">
                <span class="testtooltip">Generate BPMN</span>
              </button>
              <button class="tsttooltipbtn" (click)="openVariantListNav()">
                <img src="../../../assets/images/PI/varaintlist.svg">
                <span class="testtooltip">Variant List</span>
              </button>
            </div>  
          </div>
          <div class="col-md-7 new-bps-icons p-0" *ngIf="insights_header">
            <div class="row PI-insights-headericons pull-right">             
              <button class="tsttooltipbtn" (click)="openinsightsHrsOverLay()">
                <img src="../../../assets/images/PI/timefeed.svg">
                <span class="testtooltip">Time Feed</span>
              </button>
                <div *ngIf="isAddHrs1" aria-labelledby="dropdownForm1" id="dropdownForm2" class="PI-insights-timefeed">
                    <form class="row">
                      <div class="timefeed-header">
                        <span class="close" (click)="cancelinsightsaddHrs()">
                          <img alt="" class="default-img" src="../../../../assets/images/PI/close.svg">
                          <img alt="" class="hover-img" src="../../../../assets/images/PI/close-blue.svg">
                        </span>
                        <h3>Time Feed</h3>                        
                      </div>
                      <div class="timefeed-body">
                        <div class="col-sm-6 pl-0 form-group">
                          <label class="label-control" for="exampleDropdownFormEmail1">Working From</label>
                          <select name="weeks" class="form-control" id="from_id" name="formDay" [(ngModel)]="workingHours1.formDay">
                            <option value="" selected disabled>Select</option>
                            <option value="Sun">Sunday</option>
                            <option value="Mon">Monday</option>
                            <option value="Tue">Tuesday</option>
                            <option value="Wed">Wednesday</option>
                            <option value="Thu">Thursday</option>
                            <option value="Fri">Friday</option>
                            <option value="Sat">Saturday</option>
                          </select>
                        </div>
                        <div class="col-sm-6 pr-0 form-group">
                          <label class="label-control" for="">Working To</label>
                          <select name="weeks" id="to_id"  class="form-control" name="toDay" [(ngModel)]="workingHours1.toDay">
                            <option value="" selected disabled>Select</option>
                            <option value="Sun">Sunday</option>
                            <option value="Mon">Monday</option>
                            <option value="Tue">Tuesday</option>
                            <option value="Wed">Wednesday</option>
                            <option value="Thu">Thursday</option>
                            <option value="Fri">Friday</option>
                            <option value="Sat">Saturday</option>
                          </select>
                        </div>
                        <div class="col-sm-6 pl-0">
                          <label class="label-control" for="">Shift Start Time</label>
                          <ngx-timepicker-field [controlOnly]="true" [defaultTime]="'23:11'" [format]="24" name="shiftStartTime" [(ngModel)]="workingHours1.shiftStartTime"></ngx-timepicker-field>
                        </div>
                        <div class="col-sm-6 pr-0">
                          <label class="label-control" for="">Shift End Time</label>
                          <ngx-timepicker-field [controlOnly]="true" name="shiftEndTime" [(ngModel)]="workingHours1.shiftEndTime"  [format]="24"></ngx-timepicker-field>
                        </div>
                      </div>
                      <div class="timefeed-footer">
                          <button type="submit" class="btn btn-default" (click)="resetWorkingHours1()">Reset</button>
                          <button type="submit" class="btn btn-default" (click)="cancelinsightsaddHrs()">Cancel</button>
                          <button type="submit" class="btn btn-primary" (click)="addWorkingHrsInsights()">Apply</button>
                      </div>  
                    </form>
                </div>
              <button class="tsttooltipbtn" (click)="openInsightsVaraintOverLay()">
                <img src="../../../assets/images/PI/varaintlist.svg">
                <span class="testtooltip">Variant List</span>
              </button>
            </div>  
          </div>
      </div>    
        <div class="module-body">
            <router-outlet></router-outlet>
        </div>
  </div>
</div>