<div class="container">
    <div class="row">
        <div class="col-sm-4  my-1 border-right col-border  " id="automatedtasks">
            <div class="rpa-workspace-header text-dark" >
                Automation 
                <span class="rpa-workspace-span" >
                    <img src="..\\assets\\images\\RPA\\menu_icon.svg" class="rpa-workspace-toolicon">
                  </span>
                  <span class="rpa-workspace-span">
                      <img src="..\\assets\\images\\RPA\\search.svg" class="rpa-workspace-toolicon">
                  </span>
                  <span class="rpa-workspace-span" (click)="navigatetocreate()">
                    <img src="..\\assets\\images\\RPA\\plus.svg" class="rpa-workspace-toolicon">
                      
                  </span>
            </div>
            
            <div class="rpa-workspace-body rpa-container rpa-custom-scrollbar" >
               <div class="rpa-item" *ngFor="let automationtask of automationtasks" >
                
            
                <img src="..\\assets\\images\\RPA\\rpa-automation.svg" class="rpa-workspace-icons">      
                  <br>
                <div class="rpa-workspace-title">{{automationtask.botName.replace('_', ' ')}}</div>
            
                </div>
                  
            </div>
            <div class="rpa-workspace-total">Total : {{automationtasks.length}}</div>
                
        </div>
        <div class="col-sm-4 my-1 col-border" id="humantasks">
            <div class="rpa-workspace-header "  >
               Human
               <span class="rpa-workspace-span">
                <img src="..\\assets\\images\\RPA\\menu_icon.svg" class="rpa-workspace-toolicon">
                  
              </span>
              <span class="rpa-workspace-span">
                  <img src="..\\assets\\images\\RPA\\search.svg" class="rpa-workspace-toolicon">
              </span>
              <span class="rpa-workspace-span">
                <img src="..\\assets\\images\\RPA\\plus.svg" class="rpa-workspace-toolicon">
                  
              </span>
            </div>
            
            <div class="rpa-workspace-body rpa-container rpa-custom-scrollbar" >
                <div class="rpa-item" *ngFor="let manualtask of manualtasks" >
                
                  
                    <img src="..\\assets\\images\\RPA\\rpa-human.svg" class="rpa-workspace-icons">      
             
                      
                      <br>
                    <div class="rpa-workspace-title"> {{manualtask.taskName}}</div>
                
                </div>
            </div>
            <div class="rpa-workspace-total">Total : {{manualtasks.length}}</div>
        </div>
        <div class="col-sm-4 my-1 col-border" id="orchestrations">
            <div class="rpa-workspace-header " >
                Orchestration(Human+Bots)
                <span class="rpa-workspace-span">
                    <img src="..\\assets\\images\\RPA\\menu_icon.svg" class="rpa-workspace-toolicon">
                      
                  </span>
                  <span class="rpa-workspace-span">
                      <img src="..\\assets\\images\\RPA\\search.svg" class="rpa-workspace-toolicon">
                  </span>
                  <span class="rpa-workspace-span">
                    <img src="..\\assets\\images\\RPA\\plus.svg" class="rpa-workspace-toolicon">
                      
                  </span>
            </div>
            
            <div class="rpa-workspace-body  rpa-container rpa-custom-scrollbar">
              <div class="rpa-item" *ngFor="let orchestration of orchestrations" >
              
                
                  <img src="..\\assets\\images\\RPA\\rpa-human-n-bot.svg" class="rpa-workspace-icons">      
           
                    
                    <br>
                  <div class="rpa-workspace-title"> {{orchestration.processName}}</div>
              
              </div>
          </div>
          <div class="rpa-workspace-total">Total : {{orchestrations.length}}</div>
      </div>
     
    </div>
</div>
<div class="container">
    <div class="rpa-workspace-nav">
        <button  type="button" class="rpa-nav-btn" aria-hidden="true" placement="bottom" [routerLink]="[ '/pages/rpautomation/home']" > 
        <img src="..\\assets\\images\\RPA\\rpa-nav-workspace.svg" class="rpa-nav-btn-img">
     <br> 
    Open Bot Studio
          </button>
    </div>
</div>