/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
    }

    /* Modal Content */
    .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
    }

    /* The Close Button */
    .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

    .modal-header {
    padding: 2px 16px;
    background-color: #e5e5e5;
    color: #000;
    }
    .modal-header .close {
    margin-top: 5px;
   }

    .modal-body {padding: 2px 16px;}


    /* Add Animation */
    @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
    }

    @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
    }

    @-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
    }

    @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
    }

    select.form-control {
    margin: 0 auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    background-size: 1ex;
    background-origin: content-box;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICBpZD0ic3ZnMiIKICAgdmlld0JveD0iMCAwIDM1Ljk3MDk4MyAyMy4wOTE1MTgiCiAgIGhlaWdodD0iNi41MTY5Mzk2bW0iCiAgIHdpZHRoPSIxMC4xNTE4MTFtbSI+CiAgPGRlZnMKICAgICBpZD0iZGVmczQiIC8+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhNyI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8ZGM6dGl0bGU+PC9kYzp0aXRsZT4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGcKICAgICB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjAyLjAxNDUxLC00MDcuMTIyMjUpIgogICAgIGlkPSJsYXllcjEiPgogICAgPHRleHQKICAgICAgIGlkPSJ0ZXh0MzMzNiIKICAgICAgIHk9IjYyOS41MDUwNyIKICAgICAgIHg9IjI5MS40Mjg1NiIKICAgICAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXdlaWdodDpub3JtYWw7Zm9udC1zaXplOjQwcHg7bGluZS1oZWlnaHQ6MTI1JTtmb250LWZhbWlseTpzYW5zLXNlcmlmO2xldHRlci1zcGFjaW5nOjBweDt3b3JkLXNwYWNpbmc6MHB4O2ZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MXB4O3N0cm9rZS1saW5lY2FwOmJ1dHQ7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZS1vcGFjaXR5OjEiCiAgICAgICB4bWw6c3BhY2U9InByZXNlcnZlIj48dHNwYW4KICAgICAgICAgeT0iNjI5LjUwNTA3IgogICAgICAgICB4PSIyOTEuNDI4NTYiCiAgICAgICAgIGlkPSJ0c3BhbjMzMzgiPjwvdHNwYW4+PC90ZXh0PgogICAgPGcKICAgICAgIGlkPSJ0ZXh0MzM0MCIKICAgICAgIHN0eWxlPSJmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZTo0MHB4O2xpbmUtaGVpZ2h0OjEyNSU7Zm9udC1mYW1pbHk6Rm9udEF3ZXNvbWU7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpGb250QXdlc29tZTtsZXR0ZXItc3BhY2luZzowcHg7d29yZC1zcGFjaW5nOjBweDtmaWxsOiMwMDAwMDA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjFweDtzdHJva2UtbGluZWNhcDpidXR0O3N0cm9rZS1saW5lam9pbjptaXRlcjtzdHJva2Utb3BhY2l0eToxIj4KICAgICAgPHBhdGgKICAgICAgICAgaWQ9InBhdGgzMzQ1IgogICAgICAgICBzdHlsZT0iZmlsbDojMzMzMzMzO2ZpbGwtb3BhY2l0eToxIgogICAgICAgICBkPSJtIDIzNy41NjY5Niw0MTMuMjU1MDcgYyAwLjU1ODA0LC0wLjU1ODA0IDAuNTU4MDQsLTEuNDczMjIgMCwtMi4wMzEyNSBsIC0zLjcwNTM1LC0zLjY4MzA0IGMgLTAuNTU4MDQsLTAuNTU4MDQgLTEuNDUwOSwtMC41NTgwNCAtMi4wMDg5MywwIEwgMjIwLDQxOS4zOTM0NiAyMDguMTQ3MzIsNDA3LjU0MDc4IGMgLTAuNTU4MDMsLTAuNTU4MDQgLTEuNDUwODksLTAuNTU4MDQgLTIuMDA4OTMsMCBsIC0zLjcwNTM1LDMuNjgzMDQgYyAtMC41NTgwNCwwLjU1ODAzIC0wLjU1ODA0LDEuNDczMjEgMCwyLjAzMTI1IGwgMTYuNTYyNSwxNi41NDAxNyBjIDAuNTU4MDMsMC41NTgwNCAxLjQ1MDg5LDAuNTU4MDQgMi4wMDg5MiwwIGwgMTYuNTYyNSwtMTYuNTQwMTcgeiIgLz4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPgo=");
   }

   /* Full-width input fields */
   .p-name {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    .p-name:focus {
    background-color: #ddd;
    outline: none;
    }

    .m-btn {
    position: relative;
    left: 165px;
    }

    /* Set a style for all buttons */
    .m-contanier {
    padding: 16px;
    width: 35%;
    }
    #select_tagOne{
        display: none;
    }
    .activetag{
        display: block;
        position: absolute;
        z-index: 1000;
        border: 1px solid black;
        color: white;
        background-color: red;
        padding: 10px;
        margin-top: 150px !important;
        text-align: center;
        border-radius: 20px;
        cursor: default;
    }
    .reset_btn{
        color: #000;
        font-weight: 600;
    }
    .reset_btn:hover{
        font-weight: bold !important;
    }
    .modal_size{
        width: 500px;
    }
    .variable{
        color: blue;
        cursor: pointer;
        text-decoration-line: underline;
    }
    .variable:hover{
        font-weight: bold !important;
    }
    .modal_size .variable-input{
        width: 100px !important;
    }
    .modal_size .form-control{
        border-radius: 0px !important;
        box-shadow: none !important;
    }
    .cancel_btn{
        background-color: gray;
        color: #fff;
    }
    .border{
        border: 1px solid black;
    }
    .modal_size hr{
    padding-left: 22px !important;
    margin-left: -22px !important;
    width: 104% !important;
    margin-top: 15px !important;
    margin-bottom: 12px !important;
    }
    .business-input input{
        width: 95%;
    }
.zoom_btns{
    margin-left: 12%;
}


.hideTitle .menuToggleTitle{
    display: none;
}


.propertiesTitle.showTitle {
    width: 100%;
}

img.menuToggleIcon {
    vertical-align: bottom;
    margin-right: 10px;
}

label.menuToggleTitle {
    font-size: 15px;
    margin: 0px;
    color: #fff;
    font-weight: 400;
}

.menuToggle {
    display: flex;
    align-items: center;
}

div#propertiesPanelBody {
    height: calc(100% - 40px);
    position: absolute;
    top: 40px;
    overflow: auto;
    width: 100%;
}

mat-expansion-panel.mat-expansion-panel {
    border-radius: 0px !important;
}

label.accordionHeader {
    margin: 0px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.propertiesContainer mat-expansion-panel {
    background-color: #607088;
    margin: 0px !important;
    border:none !important;
    border-top: 1px solid #ebebeb !important;
    padding: 0px !important;
}
.propertiesContainer mat-expansion-panel-header:hover {
    background-color: #00a0e3;
}
.propertiesContainer .mat-expansion-panel-header-title {
    border: none;
}
mat-panel-description.mat-expansion-panel-header-description {
    background-color: #ffffff;
    width: 100%;
    color: #333;
    margin: 0px !important;
    min-height: 300px;
}
.activecollaboration {
    padding: 0px;
    height: 330px;
    overflow-y: scroll;
    width: 100%;
}
.collab {
    padding: 16px;
    height: 360px;
}
.row.lftusermsg {
    background: aliceblue;
    border-radius: 0px 15px 15px 15px;
    padding: 10px 0px 10px 40px;
    color: #001c47;
    margin: 10px 0px 20px !important;
    position: relative;
    width: 280px;
}
.row.rgtusermsg {
    background: #00a1e3;
    border-radius: 15px 0px 15px 15px;
    padding: 10px;
    margin: 10px 0px 20px !important;
    color: #fff;
}
.row.lftusermsg>img {
    position: absolute;
    top: -8px;
    left: -8px;
}
.row.lftusermsg p {
    width: 100%;
}
.lftusermsg a img {
    padding-right: 5px;
}
.collab p {
    margin-bottom: 10px;
}
.rgtusermsg p.rttime {
    text-align: right !important;
    width: 100%;
}
.row.collabottom {
    padding: 10px;
    background: #EDEBEB;
    display: flex;
    width: 100%;
}
textarea.msgip {
    width: 75%;
    margin-right: 15px;
    margin-right: 10px;
    border: 1px solid #607088;
    border-radius: 4px;
    resize:none;
    padding-left:5px;
}
.collabottom button {
    display: inline;
    background: transparent !important;
    padding: 0px !important;
    min-width: 15px !important;
    margin-right: 10px;
}
.shortcutslistdiv, .activitieslistdiv {
    padding: 10px;
    width:100%;
}
.shortcutslistdiv .row {
    display: flex;
}
.shortcutslistdiv label {
    min-width: 142px;
    font-size: 12px;
    font-weight: 600;
    margin: 7px 0px;
}
.shortcutslistdiv span.bluetext {
    color: #fff;
    background-color: #00a1e3;
    padding: 3px;
    border-radius: 2px;
}
.favouriteslistdiv {
    padding: 10px;
    position: relative;
}
.favouriteslistdiv .row {
    margin: 5px 0px !important;
    display: inline-block;
}
.favouriteslistdiv label  {  
    font-size: 12px;
    font-weight: 600;
}
.favouriteslistdiv img {
    vertical-align: middle;
    width: 14px;
    height: 14px;
}
.favouriteslistdiv .favsh {
    position: absolute;
    right: 15px;
}
.propexpandIcon {
    position: absolute;
    right: 15px;
    width: 14px;
    height: 14px;
}
.row.collabottom img {
    width: 18px;
    height: 18px;
}
@media screen and (max-width:1366px) {
    .collab p {
        font-size:12px;
    }
}


.bpm-notation-fields mat-form-field {
    width: 100%;
}

.bpm-notation-fields select.form-control {
    display: inline-block;
    width: 200px;
    padding: 0px 12px !important;
    height: 24px;
}

.bpm-notation-fields label.label-control {
    display: inline-block;
    margin: 0px !important;
    margin-right: 5px !important;
}
.modal-footer1 .footer-btns{
    margin-bottom: 20px;
}
.bps-c2-height {
    height: 95% !important;
}
.menuicons-disable{
    cursor: no-drop !important;
}
.menuicons-disable label{
    cursor: no-drop !important;
}
.xml-input textarea{
    width:100%
}