<mat-card >
    <div class="projects-header maincreat">
        <span class="projects-back-button" routerLink="/pages/projects/listOfProjects" >
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
        <span class="projects-header-title">
          <span class="prmaincolo">Projects</span> <span class="baclsl">/</span> Programs
        </span>
        <!-- <span class="pull-right" style="font-size:20px;">
          <span class="projects-menu-item" (click)="projects_toggle==false?projects_toggle=true:projects_toggle=false;" ><i class="ri-file-line"></i></span>
          <span class="projects-menu-item"><i class="ri-filter-line"></i></span>
          <span class="projects-menu-item"><i class="ri-more-2-line"></i></span>
        </span> -->
      </div>
      <br>
 

<div class="container-fluid h-scroll">
    <div class="maindivfoprm">
        <div class="innersform card-form">
          
            <div class="create-heading">Create New</div>
                        <mat-tab-group mat-align-tabs="end">
                           
                            <mat-tab label="Project">
                                <div class="container">
                                    <br>
                                    
                                    <form [formGroup]="insertForm2" (ngSubmit)="createproject()">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="label-control">Project Name <span  style="color:red">*</span></label>
                                                <input type="text"  formControlName="projectName" class="form-control data" style="border:1px solid lightgray" placeholder="Enter Project Name">
                                                <span *ngIf="insertForm2.get('projectName').invalid && insertForm2.get('projectName').touched" style="color:red" class="fa fa-info-circle errspan">Project Name Required*</span>
                                                <span *ngIf="insertForm2.controls['projectName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                                    Maximum of 50 characters
                                                </span>
                                                <br>
                                                <label class="label-control">Add Resources<span  style="color:red">*</span></label>
                                                <select   formControlName="resources"  class="form-control data">
                                                    <option value="">Select Resources</option>
                                                    <option *ngFor="let user of userslist" [value]="user.userId.userId">{{user.userId.firstName}} {{user.userId.lastName}}</option>   
                                                </select>

                                                <!-- <ng-select  formControlName="resources" [multiple]="true"  placeholder="Select Resources"
                                                     [(ngModel)]="selectedresources"  required>
                                                    <ng-option *ngFor="let user of userslist" [value]="user.userId.userId">{{user.userId.firstName}} {{user.userId.lastName}}</ng-option>
                                                </ng-select> -->

                                                <span *ngIf="insertForm2.get('resources').invalid && insertForm2.get('resources').touched" style="color:red" class="fa fa-info-circle errspan">Resources Required*</span>
                                                    
                                                <br>
                                                <label class="label-control" >Start Date <span  style="color:red">*</span></label>
                                                <input type="date"  formControlName="startDate" class="form-control">
                                                <span *ngIf="insertForm2.get('startDate').invalid && insertForm2.get('startDate').touched" style="color:red" class="fa fa-info-circle errspan">Start date Required*</span>
                                                
                                                <br>
                                                <label class="label-control" >Project Priority <span  style="color:red">*</span></label>
                                                <select  formControlName="priority" class="form-control data">
                                                <option value="">Select Project Priority</option>
                                                <option value="High">High</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Low">Low</option>
                                                </select>
                                                <span *ngIf="insertForm2.get('priority').invalid && insertForm2.get('priority').touched" style="color:red" class="fa fa-info-circle errspan">Project Priority Required*</span>
                                                <br>
                                                <label class="label-control" >Map Value Chain <span  style="color:red">*</span></label>
                                                <select  formControlName="mapValueChain"  class="form-control data">
                                                    <option value="">Select Map Value Chain</option>
                                                    <option value="Invoice Managment">Invoice Managment</option>
                                                    <option value="Acme Managment">Acme Managment</option>
                                                    <option value="E-Commerce">E-Commerce</option>
                                                </select>
                                                <span *ngIf="insertForm2.get('mapValueChain').invalid && insertForm2.get('mapValueChain').touched" style="color:red" class="fa fa-info-circle errspan">Map Value Chain Required*</span>
                                            <br>

                                            <label class="label-control" >Select Process <span style="color:red">*</span></label>
                                            <select class="form-control" formControlName="process">
                                                <option  [value]="null" disabled hidden>Select Process</option>
                                                  <option value="" [selected]="true">Select Process</option>
                                                  <option *ngFor="let process of selected_process_names" [value]="process.processName">{{process.processName}}</option>          
                                                </select>
                                            <span *ngIf="insertForm2.get('process').invalid && insertForm2.get('process').touched" style="color:red" class="fa fa-info-circle errspan">Process Required*</span>
                                        
                                            
                                            </div>     
                                            <div class="col-md-6">
                                                <label class="label-control" >Initiatives <span  style="color:red">*</span></label>
                                                <select  formControlName="initiatives"   class="form-control data">
                                                    <option value="">Select Initiatives</option>
                                                    <option value="Process Improvement">Process Improvement</option>
                                                    <option value="Business Improvement">Business Improvement</option>
                                                </select>
                                                <span *ngIf="insertForm2.get('initiatives').invalid && insertForm2.get('initiatives').touched" style="color:red" class="fa fa-info-circle errspan">Initiatives Required*</span>
                                                        
                                                <br>
                                                <label class="label-control" >Project Owner <span  style="color:red">*</span></label>
                                                <select formControlName="owner"   class="form-control data">
                                                    <option value="">Select Project Owner</option>
                                                    <option *ngFor="let user of userslist" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</option>
                                                </select>
                                                <span *ngIf="insertForm2.get('owner').invalid && insertForm2.get('owner').touched" style="color:red" class="fa fa-info-circle errspan">Project Owner Required*</span>
                                            
                                                <br>
                                                <label class="label-control" >End Date <span  style="color:red">*</span></label>
                                                <input type="date" formControlName="endDate"  class="form-control data">
                                                <span *ngIf="insertForm2.get('endDate').invalid && insertForm2.get('endDate').touched" style="color:red" class="fa fa-info-circle errspan">End Date Required*</span>
                                            
                                                <br>
                                                <label class="label-control" >Identity Measurable Metrics <span  style="color:red">*</span></label>
                                                <input type="text"  style="border:1px solid lightgray" formControlName="measurableMetrics" placeholder="Enter Identity Measurable Metrics" class="form-control data">
                                                <span *ngIf="insertForm2.get('measurableMetrics').invalid && insertForm2.get('measurableMetrics').touched" style="color:red" class="fa fa-info-circle errspan">Identity Measurable Metrics Required*</span>
                                                <br>

                                                <label class="label-control" >Access<span style="color:red">*</span></label>
                                                            <select   formControlName="access"  class="form-control data">
                                                              <option  [value]="null" disabled hidden>Select Access</option>
                                                              <option value="" [selected]="true">Select Access</option>
                                                              <option value="Owner">Owner</option>
                                                              <option value="Co-Editor">Co-Editor</option>
                                                              <option value="Viewer">Viewer</option>
                                                          </select>
                                                          <span *ngIf="insertForm2.get('access').invalid && insertForm2.get('access').touched" style="color:red" class="fa fa-info-circle errspan">Access Required*</span>
                                            
                                                <br>


                                                <label class="label-control" >Status<span style="color:red">*</span></label>
                                                            <select   formControlName="status"  class="form-control data">
                                                              <option  [value]="null" disabled hidden>Select Status</option>
                                                              <option value="" [selected]="true">Select Status</option>
                                                              <option value="New">New</option>
                                                              <option value="In Progress">In Progress</option>
                                                              <option value="In Review">In Review</option>
                                                              <option value="Approved">Approved</option>
                                                              <option value="Rejected">Rejected</option>
                                                          </select>
                                                          <span *ngIf="insertForm2.get('status').invalid && insertForm2.get('status').touched" style="color:red" class="fa fa-info-circle errspan">Status Required*</span>
                                            
                                                <br>
                                               
                                            </div>
                                            <div class="col-md-12">
                                                <br>
                                                <label class="label-control" >Description</label>
                                                <textarea class="form-control" formControlName="description" style="height:100px;">

                                                </textarea>
                                               
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <div class="pull-right">
                                        <button (click)="resetcreateproject()" class="btn btn-primary">Reset</button>
                                        &nbsp;&nbsp;
                                        <button [disabled]="insertForm2.invalid" (click)="createproject()" class="btn btn-primary">Save</button>
                                    </div>
                                    <br>
                                    <br>
                                    &nbsp;
                                </div>
                            </mat-tab>









                            <mat-tab label="Program">
                                    <div class="container">
                                        <br><br>
                                        <form [formGroup]="createprogram" (ngSubmit)="saveProgram()">
                                            <div class="row">
                                                <div class="col-md-6">
                                                        <label  class="label-control"  for="programname">Program Name<span  style="color:red">*</span></label>
                                                        <input type="text" maxlength="51" class="form-control data"  style="border:1px solid lightgray" formControlName="programName" value="" placeholder="Enter Program Name">
                                                        <span *ngIf="(createprogram.get('programName').invalid && createprogram.get('programName').touched) && !createprogram.controls['programName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Program Required*</span>
                                                        <span *ngIf="createprogram.controls['programName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                                            Maximum of 50 characters
                                                        </span>   
                                                        <br>
                                                        <label  class="label-control"  for="initiatives">Initiatives<span  style="color:red">*</span></label>
                                                        <select class="form-control" formControlName="initiatives">
                                                            <option  [value]="null" disabled hidden>Select Initiative</option>
                                                            <option value=""  >Select Initiative</option>
                                                            <option value="Process Improvement">Process Improvement</option>
                                                            <option value="Business Improvement">Business Improvement</option>
                                                        </select>
                                                        <span *ngIf="(createprogram.get('initiatives').invalid && createprogram.get('initiatives').touched) && !createprogram.controls['initiatives'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Initiative Required*</span>
                                                        <span *ngIf="createprogram.controls['initiatives'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                                            Maximum of 50 characters
                                                        </span>  
                                                        <br>
                                                        <label  class="label-control"  for="programpurpose">Add Program Purpose<span  style="color:red">*</span></label>
                                                        <input type="text" maxlength="51"  style="border:1px solid lightgray" class="form-control data" formControlName="purpose" value="" 
                                                        placeholder="Enter Program Purpose">
                                                        <span *ngIf="(createprogram.get('purpose').invalid && createprogram.get('purpose').touched) && !createprogram.controls['purpose'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Program Purpose Required*</span>
                                                        <span *ngIf="createprogram.controls['purpose'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                                            Maximum of 50 characters
                                                        </span>
                                                        <br>

                                                        <label class="label-control" for="process">Process<span style="color:red">*</span></label>
                                                        <select class="form-control" formControlName="process">
                                                          <option  [value]="null" disabled hidden>Select Process</option>
                                                            <option value="" [selected]="true">Select Process</option>
                                                            <option *ngFor="let process of selected_process_names" [value]="process.processName">{{process.processName}}</option>          
                                                          </select>
                                                        <span *ngIf="createprogram.get('process').invalid && createprogram.get('process').touched" style="color:red" class="fa fa-info-circle errspan">Process Required*</span>
                                               <br>
                                                        <label class="label-control" for="access">Access<span style="color:red">*</span></label>
                                                        <select   formControlName="access"  class="form-control data">
                                                          <option  [value]="null" disabled hidden>Select Access</option>
                                                          <option value="" [selected]="true">Select Access</option>
                                                          <option value="Owner">Owner</option>
                                                          <option value="Co-Editor">Co-Editor</option>
                                                          <option value="Viewer">Viewer</option>
                                                      </select>
                                                      <span *ngIf="createprogram.get('access').invalid && createprogram.get('access').touched" style="color:red" class="fa fa-info-circle errspan">Access Required*</span>
                                                </div>
                                                <div class="col-md-6">
                                                        <label  class="label-control"   for="priority">Program Priority<span  style="color:red">*</span></label>
                                                        <select class="form-control" formControlName="priority">
                                                          <option  [value]="null" disabled hidden>--Select Program Priority --</option>
                                                             <option value=""  >Select Program Priority</option>
                                                             <option value="High">High</option>
                                                             <option value="Medium">Medium</option>
                                                             <option value="Low">Low</option>
                                                         </select>
                                                        <span *ngIf="(createprogram.get('priority').invalid && createprogram.get('priority').touched) && !createprogram.controls['priority'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Program Priority Required*</span>
                                                        <span *ngIf="createprogram.controls['priority'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                                            Maximum of 50 characters
                                                        </span>
                                                        <br>
                                                        <label  class="label-control"  for="measurableMetrics">Identify Measurable Metrics<span  style="color:red">*</span></label>
                                                        <input type="text" maxlength="51"  style="border:1px solid lightgray" class="form-control data"  formControlName="measurableMetrics" value="" 
                                                        placeholder="Enter Identify Measurable Metrics">
                                                        <span *ngIf="createprogram.get('measurableMetrics').invalid && createprogram.get('measurableMetrics').touched" style="color:red" class="fa fa-info-circle errspan">Identify Measurable Metrics Required*</span>
                                                        <span *ngIf="createprogram.controls['measurableMetrics'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                                        Maximum of 50 characters
                                                        </span>

                                                        <br>
                                                        <label class="label-control" for="owner">Owner<span style="color:red">*</span></label>
                                                            <select   formControlName="owner"  class="form-control data">
                                                              <option  [value]="null" disabled hidden>Select Owner</option>
                                                              <option value="" [selected]="true">Select Owner</option>
                                                              <option *ngFor="let user of userslist" [value]="user.userId.id" >{{user.userId.firstName}} {{user.userId.lastName}}</option>
                                                          </select>
                                                          <span *ngIf="createprogram.get('owner').invalid && createprogram.get('owner').touched" style="color:red" class="fa fa-info-circle errspan">Owner Required*</span>
                                                      <br>
                                                      <label class="label-control" >Status<span style="color:red">*</span></label>
                                                            <select   formControlName="status"  class="form-control data">
                                                              <option  [value]="null" disabled hidden>Select Status</option>
                                                              <option value="" [selected]="true">Select Status</option>
                                                              <option value="New">New</option>
                                                              <option value="In Progress">In Progress</option>
                                                              <option value="In Review">In Review</option>
                                                              <option value="Approved">Approved</option>
                                                              <option value="Rejected">Rejected</option>
                                                          </select>
                                                          <span *ngIf="createprogram.get('status').invalid && createprogram.get('status').touched" style="color:red" class="fa fa-info-circle errspan">Status Required*</span>
                                            
                                                <br>
                                                          <div style="display:flex">
                                                            <div class="select-project">
                                                                <label class="label-control" >Select Projects</label>
                                                                <select class="form-control" id="selectprojects" (change)="selected_project=$event.target.value">
                                                                    <option  [value]="null" disabled hidden>Select Project</option>
                                                                    <option value="" [selected]="true">Select Project</option>
                                                                    <option *ngFor="let project of projects_list" [value]="project.id">{{project.projectName}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="addproject-btn">
                                                                <!-- <button mat-mini-fab color="primary" (click)="add_to_selected_projects()" ><i class="fa fa-plus"></i> </button> -->
                                                                <span mat-mini-fab color="primary" (click)="add_to_selected_projects()"><i class="fa fa-plus"></i></span>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-12 martsascl">
                                                        <!-- <label  class="label-control"  for="description">Description<span style="color:rgb(90, 92, 212)">*</span></label> -->
                                                        <!-- <textarea maxlength="250" class="form-control data" formControlName="description" value="" 
                                                        placeholder="Enter Description"></textarea>
                                                        <span *ngIf="createprogram.get('description').invalid && createprogram.get('description').touched" style="color:red" class="fa fa-info-circle errspan">Description Required*</span>
                                                        <span *ngIf="createprogram.controls['description'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                                          Maximum of 200 characters
                                                        </span> -->
                                                        <label class="label-control" >Description</label>
                                                <textarea class="form-control" style="height:100px;">

                                                </textarea>
                                                        <br>                                                        
                                                </div>
                                            </div>
                                        </form>
                                        <br><br>
                                        <div>
                                            <div class="laemarleft">
                                            <span class="pull-left ml-2">
                                                <button (click)="addproject(template)" class="btn btn-primary">Add New Project</button>
                                            </span>
                                            <span class="pull-right">
                                                <button (click)="resetcreateprogram()" class="btn btn-primary">Reset</button>
                                                &nbsp;&nbsp;
                                                <button [disabled]="createprogram.invalid" (click)="saveProgram()" class="btn btn-primary">Save</button>
                                            </span></div>
                                        </div>
                                        <br>
                                        <br>
                                        &nbsp;
                                        <div *ngIf="selected_projects.length>0 || newproject.length>0">
                                            <h4>Selected Projects</h4>
                                            <br>
                                            &nbsp;
                                            <div class="col-md-4 " *ngFor="let project of selected_projects">
                                                <div class="project-card" >
                                                    <span class="card-placeholder">Project Name</span>
                                                    &nbsp;
                                                    <br>
                                                    <span class="projectname">{{project.projectName}}</span>
                                                                                                      
                                                    <span class="pull-right clickable" (click)="remove_project(project)"><i class="fa fa-trash"></i></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 " *ngFor="let project of newproject">
                                                <div class="project-card" >
                                                    {{project.projectName}}
                                                    <span class="pull-right clickable" (click)="remove_project(project)"><i class="fa fa-trash"></i></span>
                                                </div>
                                            </div>
                                            
                                            <br><br><br><br>
                                        </div>
                                        &nbsp;
                                        &nbsp;
                                    </div>
                          



</mat-tab>
                            
</mat-tab-group>

</div>
</div>
</div>




<ng-template class="modal-lg" #template>
        <div class="modal-header modelprhead">
          <h4 class="modal-title pull-left">Add New Project</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modelprbody">
            <div class="container" style="width:100%">
                    <br>
                    
                    <form [formGroup]="insertForm2" (ngSubmit)="linkcreateproject()">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Project Name <span  style="color:red">*</span></label>
                                <input type="text"  formControlName="projectName" class="form-control data" style="border:1px solid lightgray" placeholder="Enter Project Name">
                                <span *ngIf="insertForm2.get('projectName').invalid && insertForm2.get('projectName').touched" style="color:red" class="fa fa-info-circle errspan">Project Name Required*</span>
                                <span *ngIf="insertForm2.controls['projectName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                    Maximum of 50 characters
                                </span>
                                <br>
                                <label>Add Resources<span  style="color:red">*</span></label>
                                <select   formControlName="resources"  class="form-control data">
                                    <option value="">Select Resources</option>
                                    <option *ngFor="let user of userslist" [value]="user.userId.userId">{{user.userId.firstName}} {{user.userId.lastName}}</option>   
                                </select>
                                <span *ngIf="insertForm2.get('resources').invalid && insertForm2.get('resources').touched" style="color:red" class="fa fa-info-circle errspan">Resources Required*</span>
                                    
                                <br>
                                <label>Start Date <span  style="color:red">*</span></label>
                                <input type="date"  formControlName="startDate" class="form-control">
                                <span *ngIf="insertForm2.get('startDate').invalid && insertForm2.get('startDate').touched" style="color:red" class="fa fa-info-circle errspan">Start Date Required*</span>
                                
                                <br>
                                <label>Set Project Priority <span  style="color:red">*</span></label>
                                <select  formControlName="priority" class="form-control data">
                                <option value="">Select Project Priority</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                                </select>
                                <span *ngIf="insertForm2.get('priority').invalid && insertForm2.get('priority').touched" style="color:red" class="fa fa-info-circle errspan">Project Priority Required*</span>
                                <br>
                                <label>Map Value Chain <span  style="color:red">*</span></label>
                                <select  formControlName="mapValueChain"  class="form-control data">
                                    <option value="">Select Map Value Chain</option>
                                    <option value="Invoice Managment">Invoice Managment</option>
                                    <option value="Acme Managment">Acme Managment</option>
                                    <option value="E-Commerce">E-Commerce</option>
                                </select>
                                <span *ngIf="insertForm2.get('mapValueChain').invalid && insertForm2.get('mapValueChain').touched" style="color:red" class="fa fa-info-circle errspan">Map Value Chain Required*</span>
                            <br>

                            <label for="access">Access<span style="color:red">*</span></label>
                                                            <select   formControlName="access"  class="form-control data">
                                                              <option  [value]="null" disabled hidden>Select Access</option>
                                                              <option value="" [selected]="true">Select Access</option>
                                                              <option value="Owner">Owner</option>
                                                              <option value="Co-Editor">Co-Editor</option>
                                                              <option value="Viewer">Viewer</option>
                                                          </select>
                                                          <span *ngIf="insertForm2.get('access').invalid && insertForm2.get('access').touched" style="color:red" class="fa fa-info-circle errspan">Access Required*</span>
                                                          <br>
                            
                            </div>     
                            <div class="col-md-6">
                                <label>Initiatives <span  style="color:red">*</span></label>
                                <select  formControlName="initiatives"   class="form-control data">
                                    <option value="">Select Initiatives</option>
                                    <option value="Process Improvement">Process Improvement</option>
                                    <option value="Business Improvement">Business Improvement</option>
                                </select>
                                <span *ngIf="insertForm2.get('initiatives').invalid && insertForm2.get('initiatives').touched" style="color:red" class="fa fa-info-circle errspan">Initiatives Required*</span>
                                        
                                <br>
                                <label>Project Owner <span style="color:red">*</span></label>
                                <select formControlName="owner"   class="form-control data">
                                    <option value="">Select Project Owner</option>
                                    <option *ngFor="let user of userslist" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</option>
                                </select>
                                <span *ngIf="insertForm2.get('owner').invalid && insertForm2.get('owner').touched" style="color:red" class="fa fa-info-circle errspan">Project Owner Required*</span>
                            
                                <br>
                                <label>End Date <span  style="color:red">*</span></label>
                                <input type="date" formControlName="endDate"  class="form-control data">
                                <span *ngIf="insertForm2.get('endDate').invalid && insertForm2.get('endDate').touched" style="color:red" class="fa fa-info-circle errspan">End Date Required*</span>
                            
                                <br>
                                
                                <label>Identity Measurable Metrics <span  style="color:red">*</span></label>
                                <input type="text"  style="border:1px solid lightgray" formControlName="measurableMetrics" placeholder="Enter Identity Measurable Metrics" class="form-control data">
                                <span *ngIf="insertForm2.get('measurableMetrics').invalid && insertForm2.get('measurableMetrics').touched" style="color:red" class="fa fa-info-circle errspan">Identity Measurable Metrics Required*</span>
                                
                                <br>

                                <label>Status<span style="color:red">*</span></label>
                                <select formControlName="status" class="form-control data">
                                    <option [value]="null" disabled hidden>Select Status</option>
                                    <option value="" [selected]="true">Select Status</option>
                                    <option value="New">New</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="In Review">In Review</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                                <span *ngIf="insertForm2.get('status').invalid && insertForm2.get('status').touched" style="color:red"
                                    class="fa fa-info-circle errspan">Status Required*</span>
                                <br>


                                <label>Select Process <span  style="color:red">*</span></label>
                                <select class="form-control" formControlName="process">
                                    <option  [value]="null" disabled hidden>Select Process</option>
                                      <option value="" [selected]="true">Select Process</option>
                                      <option *ngFor="let process of selected_process_names" [value]="process.processName">{{process.processName}}</option>          
                                    </select>
                                <span *ngIf="insertForm2.get('process').invalid && insertForm2.get('process').touched" style="color:red" class="fa fa-info-circle errspan">Process Required*</span>
                            
                            </div>
                            <div class="col-md-12 mt-2 maartop">
                                <br>
                                <label>Description</label>
                                <textarea class="form-control" style="height:100px;">

                                </textarea>
                            
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="pull-right footbutcl">
                        <button (click)="resetcreateproject()" class="btn btn-primary">Reset</button>
                        &nbsp;&nbsp;
                        <button [disabled]="insertForm2.invalid" (click)="linkcreateproject()" class="btn btn-primary">Save</button>
                    </div>
                    <br><br>
            </div>
        </div>
    </ng-template>
</mat-card>