.create-heading{
    margin-bottom:-37px !important;
    font-size:20px;
}


::ng-deep .my-class .modal-dialog { 
    max-width: 80%;
    width: 80%;
}


::ng-deep .modal-lg .modal-content{
    width:100%  !important;
    margin-top:30px !important;
}


:ng-deep .custom-class .dropdown-list
{
    top:0px !important;
}



.addproject-btn{
    position: relative;
    vertical-align: middle;
    margin-top: 39px;
    padding-left: 20px;
    cursor: pointer;
}

.select-project{
    width:90%;
}

.project-card{
    background-color: #FFFF99;
    padding:20px;
    padding-top:15px;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
    color:rgb(7, 7, 7);
    transition: 0.3s;
    border-radius: 5px;
}
.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card-placeholder{
    flex-basis: 0;
    flex-grow: 1;
    opacity: 1;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.projectname{
    font-weight: 600;

}

.clickable{
    cursor: pointer;
}

label.label-control{
    padding: 4px 0px;
    border: 1px solid transparent;
    border-bottom: medium none;
    margin: 0px !important;
    border-radius: 2px;
    color: black;
    font-weight: 500;
    font-size: 14px;
    height: 30px;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-family: Avenir Next W02,Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary, .btn-add, .btn-validat, .swal-button--confirm {
    color: #FFF !important;
    border-color: rgb(0, 161, 228) !important;
    background: rgb(0, 161, 228)  !important;
    min-width: 102px;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 24px;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: rgb(0, 161, 228) !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:rgb(0, 161, 228) !important;
}


.projects-header{
    width:100%;padding:10px;
    background-color:rgba(212, 212, 212, 0.295);
  }


  .projects-back-button{
    padding:5px;
    padding-right:20px;
    border-right:1px solid #4AB0F5 ;
    color:#4AB0F5 ;
    cursor: pointer;
  }

  .projects-header-title{
    color:black ;
    font-size:18px;
    padding:5px;
    padding-left:20px;
  }

  .projects-header.maincreat {
    background-color: #f8f8f8;
    padding: 12px;
    border-bottom: 1px solid rgb(221 221 221 / 40%);
    z-index: 999;
    position: relative;
}
.projects-header.maincreat span.projects-back-button {
    border: medium none;
    padding-right: 10px;
}
.projects-header.maincreat i {
    font-size: 16px;
}
.projects-header.maincreat span.projects-header-title {
    padding-left: 0px;
    font-size: 16px;
}
.projects-header.maincreat span.projects-header-title span.prmaincolo {
    font-weight: 500;
    margin-right: 6px;
}
.maindivfoprm .container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0px;
}
.maindivfoprm {
    width: 900px;
    margin: 0px auto;
    margin-top: 20px;
}
.maindivfoprm .mat-tab-label {
    padding: 0px !important;
    min-width: 78px;
    opacity: 1;
    margin-left: 20px;
}
.maindivfoprm .mat-tab-label-active {
    border-bottom: 2px solid #01a0e4;
}
.maindivfoprm .create-heading {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: -30px !important;
}
.maindivfoprm .label-control {
    color: #6d6d6d !important;
    font-weight: normal !important;
    font-size: 16px !important;
}
.maindivfoprm input, .maindivfoprm select, .maindivfoprm textarea {
    background-color: #f6f6f6;
    border: 1px solid #ddd !important;
    box-shadow: unset !important;
}
.maindivfoprm .fa.fa-info-circle.errspan {
    font-weight: normal;
    font-size: 12px;
}
.maindivfoprm .btn.btn-primary:hover {
    font-weight: normal !important;
}
.innersform .mat-tab-body.mat-tab-body-active, .innersform .mat-tab-body-content {
    overflow: unset !important;
  }