 <!-- main-content prjmain -->
 <!-- <p-toast [style]="{marginTop: '50px'}" key="create"></p-toast> -->
 <!-- <p-toast [style]="{marginTop: '50px'}" key="create"></p-toast> -->
 <div class="maincont">  
     <div class="maincont-contentarea">
         <router-outlet></router-outlet>
     </div>
     <!-- <div >
        <iframe #iframeRef id="iframeRef" [src]="chatBotUrl" style="width: 80px;height: 75px;border: none; z-index: 999999;position: fixed;bottom: 20px; right: 20px;"></iframe>
      </div> -->
 </div>
 