version: '3.8'

networks:
  eps_net:
    external: true
    name: "dev_be_default"
  eps_host:
    external: true
    name: host

services:
  asimov-ui:
    image: ${DOCKER_REGISTRY_URL}/asimov-ui:${DOCKER_TAG}
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.environment == dev
    networks:
      - eps_net
    logging:
      options:
        tag: "{{.Name}}"