.itemsStyle{
    font-size: 10px;
}
.selectItem{
    margin-top: 5px;
    padding-left:10px;
    padding-bottom:10px; 
    border: 1px solid #c9c9c9;
    background-color: #f5f5f5;
    cursor: pointer;
    padding-right: 10px;
    width: 98%;
}

.diagram_container-copilot_chat{
    height: 120px !important;
    width: 100%;
    border: 1px solid #098de6;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    overflow: scroll;
}

#_diagram-chat{
    height: 120px !important;
    width: 100%;
}