<div class="col-md-12">
    <div class="row">
        <h4>Plan Details</h4>
        <div *ngIf='error' class="row">
            <p style="color:red">- {{error}}</p>
        </div>
        <div *ngIf='!error' class="row">
            <div *ngFor="let planlist of plansList">
                <div class="col p-0" *ngIf="planlist.subscribed">
                    <p id="planName" *ngIf="planlist.nickName =='Standard'">- Your EZFLOW is on <b>Free Tier(Monthly)</b>
                        <button (click)="onChangePlan()">
                            <a class="link">Change Plan</a>
                        </button>
                    </p>
                    <p id="planName" *ngIf="planlist.nickName !='Standard'">- Your EZFLOW is on <b> {{planlist.nickName}}
                            Plan(Yearly).</b> <button (click)="onChangePlan()">
                            <a class="link">Change Plan</a></button></p>
                    <div *ngIf="planlist.nickName =='Professional'">
                        <p id="planName">- Your Plan Will Renew On <b>{{due_timestamp}}</b>, charging your Credit
                            Card
                            <b>${{planlist.amount}}.</b>
                        </p>
                    </div>
                    <div *ngIf="planlist.nickName!='Professional'">
                        <p id="planName">- Your Plan Will Renew On <b>{{due_timestamp1}}</b>, charging your Credit
                            Card
                            <b>${{planlist.amount}}.</b>
                        </p>
                    </div>
                </div>
    
            </div>
        </div>  
    </div>  
    
    <div div class="row">
        <h4>Billing Actions</h4>
        <div *ngIf="error1"  class="row">
            <p style="color:red">- {{error1}}</p>
        </div>
        <div *ngIf="!error1"  class="row">
            <p>- Your future Charges Will be billed to the Card
                <span *ngFor="let payment of paymentMode">
                    <span *ngIf="payment.defaultSource == true"><b>***{{payment.cardLast4}}.</b></span>
                </span>
                <button (click)="onChangePaymentMethod()"> <a class="link">Change Payment Method</a></button>
            </p>
        </div>
        <p>- Billing Emails are sent to <b>{{email}}.</b> 
            <button (click)="onChangeEmail()">
                <a class="link">Change Email</a></button>
        </p>
    </div>
    <button class="cancel-subscrip" (click)="subscriptionCancel()">
            <a class="link">Cancel Subscription</a>
    </button>
    <p class="userhint">
        <b>Note:</b> Your Account Will Be Inactivated For 60 days, then it will be deleted completely
    </p>
    <p-toast></p-toast>
    <p-confirmDialog #cd [style]="{width: '40vw'}" key="positionDialog" position="center" [baseZIndex]="10000"
        rejectButtonStyleClass="btn bluebg-button">
        <ng-template pTemplate="footer">
            <button type="button" pButton class="btn reset-btn" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton class="btn bluebg-button" label="Yes" (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>
</div>