<div class="module-body">
    <div class="container-fluid new-bps-layout h-100">
        <div class="header_addon row approval_workflow_properties">
            <div class="col-md-8"></div>
        </div>
        <div class="row">
            <div class="col-md-12 offset-1 new-bps-sample">
                <app-upload-create-drop-bpmn [bpmn_list]="savedDiagrams_list" [selectedObj]="selectedObj"
                    [isEdit_data]="isEdit" isConfirmance="false"></app-upload-create-drop-bpmn>
            </div>
            <div class="col-md-12 box-border myworkspace-style">
                <div class="row">
                    <div class="col-md-6 pl-0">
                        <h4 class="box-heading">My Workspace</h4>
                    </div>
                    <div class="col-md-6 p-0">
                        <div class="col-md-6 form-group pr-0 bps-labcls">
                            <select name="category" (change)="searchByCategory(categoryName)"
                                [disabled]="categories_list.length == 1" #category="ngModel" [(ngModel)]="categoryName"
                                class="form-control bps-home-fileds">
                                <option value="" disabled hidden>Select Category</option>
                                <option value="null" disabled hidden>Select Category</option>
                                <option value="undefined" disabled hidden>Select Category</option>
                                <option value="allcategories" *ngIf="categories_list.length > 1">All Categories</option>
                                <option *ngFor="let each_diag of categories_list;let i=index;trackBy:loopTrackBy"
                                    [value]="each_diag.categoryName"> {{each_diag.categoryName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group pr-0 bps-serwksp">
                            <input class="form-control toolbar-search bps-home-fileds" (keyup)="applySearchFilter(term)"
                                placeholder="Search Workspace" type="text" [(ngModel)]="term">
                            <img src="../../../../assets/images/search.svg" alt="" class="testplus1">
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 text-bold workspace-title" matSort>
                    <div class="expan-icon"></div>
                    <div class="cell cell2" mat-sort-header="bpmnProcessName">Process Name</div>
                    <div class="cell cell3" mat-sort-header="ntype">Type</div>
                    <div class="cell cell4" mat-sort-header="category">Category</div>
                    <div class="cell cell5" mat-sort-header="processOwnerName">Process Owner</div>
                    <div class="cell cell6" mat-sort-header="version">Version</div>
                    <div class="cell cell7" mat-sort-header="convertedModifiedTime">Last Modified</div>
                    <div class="cell cell8" mat-sort-header="approverName">Approver</div>
                    <div class="cell cell9" mat-sort-header="bpmnProcessStatus">Status</div>
                    <div class="cell cell10" mat-sort-header="reviewComments">Message</div>
                    <div class="cell cell11">Actions</div>
                </div>
                <div class="row col-md-12 new-bps-grid-data" id="bpmn_list">
                    <mat-accordion>
                        <mat-expansion-panel [(expanded)]="each_diag.xpandStatus"
                            *ngFor="let each_diag of displayedRows$ | async ;let i=index;trackBy:loopTrackBy"
                            [id]="'bpmn_list_item'+i" (opened)="getSelectedNotation(each_diag,i)" hideToggle>
                            <mat-expansion-panel-header class="dropdown_icon">
                                <mat-panel-title>
                                    <div class="row col-md-12">
                                        <div class="expan-icon">
                                            <i class="material-icons expand-open">chevron_right</i>
                                            <i class="material-icons expand-close">expand_less</i>
                                        </div>
                                        <div class="cell cell2" [matTooltip]=each_diag.bpmnProcessName
                                            matTooltipClass="bpsHeaderTooltip">{{each_diag.bpmnProcessName
                                            ?fitTableView(each_diag.bpmnProcessName): '-'}}</div>
                                        <div class="cell cell3">{{each_diag.ntype ? each_diag.ntype.toUpperCase(): '-'
                                            }}</div>
                                        <div class="cell cell4" [matTooltip]=each_diag.category
                                            matTooltipClass="bpsHeaderTooltip">
                                            {{fitTableViewCategory(each_diag.category)}}</div>
                                        <div class="cell cell5" [matTooltip]=each_diag.processOwnerName
                                            matTooltipClass="bpsHeaderTooltip">{{each_diag.processOwnerName ?
                                            fitTableView(each_diag.processOwnerName) : '-'}}</div>
                                        <div class="cell cell6">{{each_diag.bpmnProcessName ? " V1."+each_diag.version+"
                                            ": '-'}}</div>
                                        <!-- <div class="cell cell7">{{each_diag.convertedModifiedTime*1000 | date:'medium'}} -->
                                            <div class="cell cell7">{{each_diag.convertedModifiedTime_new}}
                                        </div>
                                        <div class="cell cell8" [matTooltip]=each_diag.approverName
                                            matTooltipClass="bpsHeaderTooltip">{{each_diag.approverName ?
                                            formatApproverName(each_diag.approverName): '-'}}</div>
                                        <div class="cell cell9"
                                            [ngStyle]="{'color':getColor(each_diag.bpmnProcessStatus)}"
                                            [class.pending_value_properties]="each_diag.bpmnProcessStatus=='PENDING'">
                                            {{getNotationStatus(each_diag.bpmnProcessStatus)}}</div>
                                        <div class="cell cell10"><img src="../../../../assets/images/BPMS/Msg.svg"
                                                class="testplus" [matTooltip]=each_diag.reviewComments
                                                matTooltipClass="bpsHeaderTooltip" matTooltipPosition="right"></div>
                                        <div class="cell cell11">
                                            <span (click)="onEdit($event,each_diag)" class="newinntalx">
                                                <img matTooltip="Edit" matTooltipPosition="left"
                                                    src="../../../../assets/images/Projects/edit-black.svg"
                                                    class="default-img">
                                                <img matTooltip="Edit" matTooltipPosition="left"
                                                    src="../../../../../assets/images/Projects/Edit-blue.svg"
                                                    class="hover-img">
                                            </span>
                                            <img src="../../../../assets/images/BPMS/Envelop.svg"
                                                (click)="sendReminderMail($event, each_diag)"
                                                *ngIf="(isAdminUser && each_diag.bpmnProcessStatus=='PENDING') || (each_diag.bpmnProcessStatus=='PENDING' && (each_diag.userEmail == userEmail))"
                                                matTooltip="Click to send reminder mail to Approver"
                                                matTooltipPosition="left" class="testplus1">
                                            <span (click)="deleteProcess($event, each_diag)"
                                                *ngIf="(each_diag.bpmnProcessStatus!='PENDING') && ((systemAdmin==true) || ((userRole.includes('Process Analyst') || userRole.includes('RPA Developer') || userRole.includes('Process Owner') || userRole.includes('Process Architect')) && (each_diag.userEmail==userEmail) ))"
                                                class="delete-icon">
                                                <img src="../../../../assets/images/Projects/delete-black.svg"
                                                    matTooltip="Delete Notation" matTooltipPosition="left"
                                                    class="default-img">
                                                <img src="../../../../assets/images/Projects/delete-red.svg"
                                                    matTooltip="Delete Notation" matTooltipPosition="left"
                                                    class="hover-img">
                                            </span>
                                        </div>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="bps_overlay1" *ngIf="isLoaderShow">
                                <div class="logs-container">
                                    <div class="logs-loader">
                                        <img src="../../../../assets/images/EZFlow_Loader.gif">
                                    </div>
                                </div>
                            </div>
                            <div class="bps_overlay" *ngIf="!isLoaderShow">
                                    <span class="info"
                                        *ngIf="(selected_notation.bpmnProcessStatus && selected_notation.bpmnProcessStatus != 'PENDING')||(!selected_notation.bpmnProcessStatus) ">Click
                                        to open</span>
                                    <span><button title="Fit to the view port" class="right header_btn fit_button"
                                            (click)="fitNotationView(selected_notation.ntype)"><img
                                                src="..\assets\fillView.svg"></button></span>
                                    <span class="info"
                                        *ngIf="selected_notation.bpmnProcessStatus && selected_notation.bpmnProcessStatus == 'PENDING'">Business
                                        Process
                                        Notation has been submitted for approval. Cannot be edited till it is reviewed
                                    </span>
                                    <div [class]="'diagram_container'+i" (click)="openDiagram(selected_notation)"
                                        [id]="'_diagram'+i"></div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="bpspaginationdiv">
                    <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="25"
                        [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinoverlay" *ngIf="isLoading">
    <div class="spincenter">
        <img src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader" />
    </div>
</div>