.new-bps-sample {
    padding: 0px;
}
.new-cockpit {
    display: none;
    float: right !important;
    width: 17%;
}
.box-border {
    border: none;
    border-radius: 0px;
    margin: 10px 0px;
    padding: 0px;
    margin-bottom: 0px;
}
.box-border.myworkspace-style {
    margin:0px;
}
.myworkspace-style h4.box-heading {
    margin-top: 20px;
}

.new-bps-layout {
    overflow: auto;
    height: calc(100% - 50px);
    position:relative;
}

.workspace-title {
    background-color: #e8f7fd;
    padding: 12px 8px !important;
    display: flex;
    width: 100%;
    padding-right: 18px !important;
    align-items: center;
    font-size: 14px;
    color: #00a0e3;
    font-weight: 500;
    border-bottom: 1px solid #4a4a4a33 !important;
    border: none;
}

.myworkspace-style .col-md-6 mat-form-field {
    float: right;
    width: 100%;
}
.workspace-title span {
    text-align: left;
    /* padding: 0px 5px; */
    width: 100%;
    display: inline;
    font-weight: 500;
    font-size: 14px;
}
.new-bps-grid-data mat-expansion-panel-header:hover {
    background-color: transparent !important;
}
.new-bps-grid-data .mat-expansion-panel:hover {
    background-color: #fdf6d4  !important;
}
.new-bps-grid-data span {
    text-align: left !important;
    /* padding: 0px 5px; */
    width: 100% !important;
    /* top: 50%;
    position: relative;
    transform: translateY(-50%); */
}
span.comment {
    padding: 0px !important;
    position: unset !important;
    transform: unset !important;
}
#bpmn_list .row {
    font-size: 12px;
    font-weight: 400;
    padding: 0px;
    display: flex;
    color: #212529;
}
.bps_overlay div {
    border-radius: 4px;
    height: 450px;
}
.new-bps-grid-data .bps_overlay span.info.ng-star-inserted {
    border-radius: 4px;
    padding: 8px 12px;
    top: 20px !important;
    left: 15px;
}
.bps_overlay .fit_button {
    top: 50px;
    transform: unset;
    position: unset;
}
.header_addon {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}
.new-bps-grid-data mat-panel-title.mat-expansion-panel-header-title {
    margin: 0px;
}

.mat-expansion-panel-header {
    padding: 0 0px !important;
    margin: 0px;
    position: relative;
    width: 100%;
}
div#bpmn_list {
    padding: 0px;
}
.new-bps-grid-data mat-expansion-panel {
    width: 100%;
    position: relative;
    padding: 2px 0px !important;
    border-top: 1px solid #dee2e6 !important;
    border: none;
}
.pagination {   
    padding: 10px;
    float: right;
}
