<div class="bg-color">
    <div class="container-fluid">
      <div class="text-right">

      <span style="padding:10px">
        <mat-form-field>
            <mat-label>Select Category</mat-label>
            <mat-select [(ngModel)]="selectedcat" (selectionChange)="sortbycat()">
                <mat-option *ngFor="let category of categaoriesList" [value]="category.categoryId">
                  {{category.categoryName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </span>

      <span style="padding:5px" >
        <button (click)="reset_all()" matTooltip="Reset"><i class="fa fa-undo"></i></button>
      </span>
    </div>


        <div class="row">

          <div *ngIf="categaoriesList!=undefined" class=" col-md-3 form-inline">
              <div class="example-card form-inline card-count" *ngIf="categaoriesList !=undefined">
                <div class="count-text form-group">
                  <span class="icon"><i class="fa  fa-sitemap text-primary" aria-hidden="true"></i></span>
                    &nbsp;&nbsp;&nbsp;
                </div>
                  <div class="count-text form-group">DEPARTMENTS</div>
                    <div class="count-text form-group pull-right" *ngIf="selectedcat==''|| selectedcat==undefined">{{categaoriesList.length}}</div>
                    <div class="count-text form-group pull-right" *ngIf="selectedcat!=''">1</div>
                </div>
          </div>

<!--
            <div class="col-md-3 text-center">
                <div class="example-card" *ngIf="categaoriesList !=undefined">

                      <span class="text-primary icon">
                        <i class="fa fa-sitemap text-primary" aria-hidden="true"></i>
                      </span>
                      &nbsp;&nbsp;&nbsp;
                      <span class="count-text">
                        DEPARTMENTS
                      </span>
                      &nbsp;&nbsp;&nbsp;
                     <span class="count-text">{{categaoriesList.length}}</span>
                </div>
            </div>
-->
          <!--  <div class=" col-md-3 text-center">
                <div class="example-card" *ngIf="processnames !=undefined">
                  <span class="text-primary icon">
                      <i class="fa fa-list-alt text-primary" aria-hidden="true"></i></span>

                    &nbsp;&nbsp;&nbsp;
                    <span class="count-text">PROCESSES</span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="count-text">{{processnames.length}}</span>
                </div>

            </div>-->
  <!--
            <div class="col-md-3 text-center">
                <div class="example-card" *ngIf="users !=undefined">
                  <span class="text-primary icon">
                      <i class="fa fa-users text-primary" aria-hidden="true"></i></span>

                    <span class="count-text text-left">
                      USERS
                    </span>
                      &nbsp;&nbsp;&nbsp;
                      <span class="count-text">{{users.users_count}}</span>
                </div>
            </div>

-->


            <div *ngIf="processnames!=undefined" class=" col-md-3 form-inline">
                <div class="example-card form-inline  card-count" *ngIf="processnames !=undefined">
                  <div class="count-text form-group">
                    <span class="icon"><i class="fa fa-list-alt text-primary" aria-hidden="true"></i></span>
                      &nbsp;&nbsp;&nbsp;
                  </div>
                    <div class="count-text form-group">PROCESSES</div>
                    <div class="count-text form-group pull-right">{{processnames.length}}</div>
                </div>
            </div>

            <div *ngIf="automatedtasks!=undefined" class=" col-md-3 form-inline">
                <div class="example-card form-inline  card-count" *ngIf="automatedtasks !=undefined">
                  <div class="count-text form-group">
                    <span class="icon"><i class="fa fa-tasks text-primary" aria-hidden="true"></i></span>
                      &nbsp;&nbsp;&nbsp;
                  </div>
                    <div class="count-text form-group">TASKS</div>
                    <div class="count-text form-group pull-right">{{automatedtasks.length}}</div>
                </div>
            </div>
            <div *ngIf="users!=undefined" class=" col-md-3 form-inline">
                <div class="example-card form-inline  card-count" *ngIf="automatedtasks !=undefined">
                  <div class="count-text form-group">
                    <span class="icon"><i class="fa fa-users text-primary" aria-hidden="true"></i></span>
                      &nbsp;&nbsp;&nbsp;
                  </div>
                    <div class="count-text form-group">USERS</div>
                    <div class="count-text form-group pull-right">{{users.users_count}}</div>
                </div>
            </div>


        </div>

        <br><br>
        <div class="row">
            <div class="col-md-6 text-center ">
                <div class="graph-card text-center" *ngIf="botstat==true" #botstatistics_graph >
                  <h5><b>Bot Statistics</b></h5>
                  <div *ngIf="botstatistics.length!=0">
                    <ngx-charts-pie-chart [view]="[400, 300]" (select)="botchart($event)" class="chart-container-check" [legendTitle]="''" [labels]="true" [scheme]="colorScheme " [results]="botstatistics" [gradient]="false" [legend]="true" legendPosition="below"  [labels]="true"[arcWidth]="0.50" [doughnut]="true"  >
                    </ngx-charts-pie-chart>
                  </div>
                  <span class="message" *ngIf="botstatistics.length==0" ><br><br><br>
                    No Records Found
                  </span>
                </div>
                <div class="graph-card "  *ngIf="botstat==false" #botstatistics_graph >
                  <div style="padding:10px">
                    <span class="text-center"><b>Bot Statistics</b></span><span class="pull-right"><button (click)="botstat=true"><i class="fas fa-arrow-left"></i></button></span>
                    <br><br><br>
                    <table class="table">
                      <thead class="text-center">
                        <th>Bot Name</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Version</th>
                      </thead>
                      <tbody class="text-left">
                        <tr *ngFor="let bot of botstatisticstable  | paginate: { itemsPerPage: 6,currentPage: q }">
                          <td>{{bot.botName}}</td>
                          <td>{{bot.department | Category:categaoriesList }}</td>
                          <td>{{bot.botType==0?"Attended":"Unattended"}}</td>
                          <td>{{bot.botName}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls class="pull-right" (pageChange)="q = $event"></pagination-controls>
                </div>
              </div>
            </div>
            <div class="col-md-6  text-center">
                <div class="graph-card text-center" *ngIf="processflag==true" #process_statistics >
                    <h5><b>Process Statistics</b></h5>
                  <div *ngIf="processstatistics.length!=0 && processstatistics.length!=0" class="text-center" style="justify-content: center;text-align: center;align-items: center;">
                    <ngx-charts-pie-chart  [view]="[400,300]" [legendTitle]="''" [scheme]="colorScheme " class="chart-container-check" [results]="processstatistics" [gradient]="false" [legend]="showLegend" legendPosition="below" [labels]="showLabels " [arcWidth]="0.50" [doughnut]="true" (select)="processstatstable($event)" >
                    </ngx-charts-pie-chart>
                  </div>
                  <span class="message" *ngIf="processstatistics.length==0" ><br><br><br>
                    No Records Found
                  </span>

                </div>
                  <div class="graph-card text-center" *ngIf="processflag==false" #process_statistics>
                    <div style="padding:10px">
                      <span><b>Process Statistics</b></span><span class="pull-right"><button (click)="processflag=true"><i class="fas fa-arrow-left"></i></button></span>
                      <div *ngIf="processstats_table.length!=0" class="text-center" style="justify-content: center;text-align: center;align-items: center;">
                        <br><br>
                        <table class="table">
                          <thead class="text-center">
                            <th>Process Name</th>
                            <th>Category</th>
                          </thead>
                          <tbody class="text-left">
                            <tr *ngFor="let process of processstats_table  | paginate: { itemsPerPage: 6,currentPage: r }">
                              <td>{{process.processName}}</td>
                              <td>{{process.categoryId | Category:categaoriesList }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <pagination-controls class="pull-right" (pageChange)="r = $event"></pagination-controls>
                      </div>

                      <span class="message" *ngIf="processstats_table.length==0" ><br><br><br>
                        No Records Found
                      </span>
                    </div>
                  </div>

            </div>
          </div>
        <br><br>
        <div class="row">

            <div class="col-md-6">
              <div class="graph-card bar-chart" #run_time *ngIf="runtimeflag==true" >
                <div class="form-inline text-center">
                  <div class="form-group"><h5 ><b>Bot Runtime Process Statistics</b></h5></div>
                  <div class="pull-right form-group">

                      <button (click)="openbotstatfilter()"> <i class="fa fa-filter" aria-hidden="true"></i></button>
                  </div>
                </div>
                <div *ngIf="runtimestats.length!=0">
                    <ngx-charts-bar-vertical    [view]="[(run_time.offsetWidth-50),300]" [scheme]="colorScheme" [results]="runtimestats" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
                        [xAxisLabel]="'Bot Names'"  maxXAxisTickLength=4 [rotateXAxisTicks]="true" [yAxisLabel]="'Total Execution Time (ms)'" (select)="getruns($event)" >
                    </ngx-charts-bar-vertical>
                </div>
                <div class="message text-center" *ngIf="runtimestats.length==0" ><br><br><br>
                  No Records Found
                </div>
              </div>
              <div class="graph-card bar-chart" #run_time *ngIf="runtimeflag==false" >
                <div class="form-inline text-center">
                  <div class="form-group"><h5 ><b>Bot Runtime Process Statistics</b></h5></div>
                  <div class="pull-right form-group">

                      <button (click)="runtimeflag=true"><i class="fas fa-arrow-left"></i></button>
                  </div>
                </div>
                <div *ngIf="Performance.length!=0">
                    <ngx-charts-bar-vertical  [barPadding]="50"  [view]="[(run_time.offsetWidth-50),300]" [scheme]="colorScheme" [results]="Performance" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
                        [xAxisLabel]="'Bot Names'"  maxXAxisTickLength=4 [rotateXAxisTicks]="true" [yAxisLabel]="'Total Execution Time (ms)'" (select)="getruns($event)" >
                    </ngx-charts-bar-vertical>
                </div>
                <div class="message text-center" *ngIf="Performance.length==0" ><br><br><br>
                  No Records Found
                </div>
              </div>
            </div>
            <div class="col-md-6  text-center">
                <div class="graph-card bar-chart" #automated_human >
                  <h5><b>Automated Vs Human tasks</b></h5>
                  <div *ngIf="botvshuman.length!=0">
                    <ngx-charts-bar-vertical-2d [view]="[(automated_human.offsetWidth-50),300]" maxXAxisTickLength=4 [scheme]="colorScheme" [results]="botvshuman" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="'Process'"
                        [yAxisLabel]="'No of Resources'">
                    </ngx-charts-bar-vertical-2d>
                  </div>
                  <span class="message" *ngIf="botvshuman.length==0"><br><br><br>
                    No records Found
                  </span>
                </div>

            </div>



        </div>
        <br>
        <div class="row">
            <div class="col-md-8  text-center">
                <div class="graph-card bar-chart">
                  <div class="form-inline">
                    <div class="form-group text-center">
                      <h5><b>Bot Transactions</b></h5>
                    </div>
                    <div class="pull-right form-group">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialog('date')">
                          <span><i class="fas fa-filter"></i> By Date</span>
                        </button>
                        <button mat-menu-item  (click)="openDialog('month')">
                          <span><i class="fas fa-filter"></i> By Month</span>
                        </button>
                        <button mat-menu-item  (click)="openDialog('year')">
                          <span><i class="fas fa-filter"></i> By Year</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                    <canvas id="linechart" style="width:100% !important ;height:300px !important;"></canvas>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="graph-card bar-chart">
                    <h5><b>Environments</b></h5><br><br>
                    <canvas id="environmets" style="width:100% !important"></canvas>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
