select {
    border-top: none;
    border-right: none;
    border-left: none;
}

.block-1 {
    /*background: rgb(0, 0, 36);*/
    /*background: linear-gradient(90deg, rgba(0, 0, 36, 1) 0%, rgba(22, 9, 121, 1) 78%, rgba(0, 212, 255, 1) 100%);*/
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background: linear-gradient(to left, #66ccff 0%, #99ffcc 100%);
}

.block-2 {
    /*background: rgb(0, 0, 36);*/
    /*background: linear-gradient(90deg, rgba(0, 0, 36, 1) 0%, rgba(22, 9, 121, 1) 78%, rgba(0, 212, 255, 1) 100%);*/
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background: linear-gradient(to left, #ff99ff 0%, #66ffcc 100%)
}

.block-3 {
    /*background: rgb(0, 0, 36);*/
    /*background: linear-gradient(90deg, rgba(0, 0, 36, 1) 0%, rgba(22, 9, 121, 1) 78%, rgba(0, 212, 255, 1) 100%);*/
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background: linear-gradient(to left, #66ffff 0%, #ff66cc 100%)
}
