<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <canvas id="canvas" style="height:300px!important ; width:100%"></canvas>
        </div>
        <div class="col-md-5">
            <canvas id="canvas1" style="height:300px!important ; width:100%"></canvas>
        </div>
        <div class="col-md-1"></div>

    </div>
    <br><br>
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5">
            <canvas id="canvas2" style="width:100% !important"></canvas>
        </div>
        <div class="col-md-5">

            <canvas id="canvas3" style=" height:300px; width:100% !important"></canvas>
        </div>

        <div class="col-md-1"></div>

    </div>
</div>