.bg-color {
    background-color: rgb(241, 240, 240);
}

.count-text {
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.example-card {
    padding: 40px;
}

.graph-card {
    position: relative;
    width: 100% !important;
    background-color:white;
    padding:10px;
    border-radius:10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}





.card-count{
  width: 100% !important;
  background-color:white;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.icon{
  font-size:18px;
  padding:12px;
  border-radius:50px;
  background-color:#ccd9ff;
}


  .bar-chart{
    height:400px !important;
  }
