<div class="maincontent">
  <div *ngIf="displayFlag == 'DisplayTable'">
    <div class="row main-content-head" >
      <div class="col-md-8 pl-0">
        <h3>
          <label id="popup_title">
            <a routerLink="/pages/admin/admin-screen-list" class="imageBox">
              <img class="default-arrow" src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
              <img class="hover-arrow" src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt=""> 
            </a>
          </label>
          <span class="title_text imageBox" routerLink="/pages/admin/admin-screen-list"> {{ selectedScreen.Screen_Name }} </span>
        </h3>
      </div>
      <div class="col-md-4 pr-0 text-right">
        <div *ngIf="selectedScreen.Screen_Name">
          <button  [disabled]="!selectedScreen.Allow_Insert" class="grey-btn configure-pad" (click)="createForm()">
            <img src="./../../../../assets/images-n/dashboard/plus-square_grey.svg" alt="create" class="imgicon-width">
            <span class="plus">Create New</span>
          </button>
        </div>        
      </div>
    </div>
    <div class="main-content-body generatedgrid gridparentdiv">
      <app-dynamic-table
                    [table_data]="tableData"
                    [screenTable]="'common'"
                    [columns_list]="columns_list"
                    (updateItem)="editForm($event)"
                    (deleteItem)="deleteRecord($event)"
                    [show_edit_btn]="true"
                    [show_delete_btn]="true"
                    [isdisabled_edit]="!selectedScreen.Allow_Edit"
                    [isdisabled_delete]="!selectedScreen.Allow_Delete"
                  >
      </app-dynamic-table>
    </div>
  </div>
  <div *ngIf="displayFlag == 'EditForm'">
    <div class="row main-content-head" >
      <h3>
        <label id="popup_title">
          <a (click)="displayTable()" class="imageBox">
            <img class="default-arrow" src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
            <img class="hover-arrow" src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt=""> 
          </a>
        </label>
        <span class="title_text_haspath">
          <span class="breadcrum-back" routerLink="/pages/admin/admin-screen-list"> Update</span><span class="breadcrum-align">/</span>
          <span class="sub_title_text">{{ selectedScreen.Screen_Name }}</span>
        </span>
      </h3>      
    </div>
    <div class="main-content-body">
      <app-screen-generation-dynamic-form
                  [details]="updateDetails"
                  (emitFormValue)="caputreFormValues($event)"
                  [inputFieldData]="formDetails"
                  [dash_board_list]="dash_board_list"
      ></app-screen-generation-dynamic-form>
    </div>
  </div>
  <div *ngIf="displayFlag == 'CreateForm'">
    <div class="row main-content-head" >
      <h3>
        <label id="popup_title">
          <a (click)="displayTable()" class="imageBox">
            <img class="default-arrow" src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
            <img class="hover-arrow" src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt=""> 
          </a>
        </label>
        <span class="title_text_haspath">
          <span  class="breadcrum-back"  routerLink="/pages/admin/admin-screen-list">{{ selectedScreen.Screen_Name }}  </span> <span class="breadcrum-align">/</span>
          <span class="sub_title_text"> Create</span>
        </span>
      </h3>      
    </div>
    <div class="main-content-body">
      <app-screen-generation-dynamic-form
                      (emitFormValue)="caputreFormValues($event)"
                      [inputFieldData]="formDetails"
                      [dash_board_list]="dash_board_list"
      ></app-screen-generation-dynamic-form>
    </div>
  </div>
</div>
