<div class="maincontent">
  <div *ngIf="displayFlag == 'DisplayTable'">
    <div class="row main-content-head" >
      <div class="col-md-4 pl-0">
        <h3>
          <label id="popup_title">
            <a routerLink="/pages/admin/admin-screen-list">
              <img src="./../../../../assets/images-n/projects/backarrow.svg" alt="back-arrow">
            </a>
          </label>
          <span class="title_text"> {{ selectedScreen.Screen_Name }} </span>
        </h3>
      </div>
      <div class="col-md-8 pr-0 text-right">
        <div *ngIf="selectedScreen.Screen_Name">
          <button class="btn" [disabled]="!selectedScreen.Allow_Insert" (click)="createForm()" pTooltip="Create" tooltipPosition="bottom">
            <img src="./../../../../assets/images-n/projects/plus-square_blue.svg" alt="create">
          </button>
        </div>        
      </div>
    </div>
    <div class="main-content-body generatedgrid">
      <app-dynamic-table
                    [table_data]="tableData"
                    [screenTable]="'common'"
                    [columns_list]="columns_list"
                    (editRowById)="editForm($event)"
                    (deleteItem)="deleteRecord($event)"
                    [show_edit_btn]="true"
                    [show_delete_btn]="true"
                    [isdisabled_edit]="!selectedScreen.Allow_Edit"
                    [isdisabled_delete]="!selectedScreen.Allow_Delete"
                  >
      </app-dynamic-table>
    </div>
  </div>
  <div *ngIf="displayFlag == 'EditForm'">
    <div class="row main-content-head" >
      <h3>
        <label id="popup_title">
          <a (click)="displayTable()">
            <img src="./../../../../assets/images-n/projects/backarrow.svg" alt="back-arrow">
          </a>
        </label>
        <span class="title_text">
          <span>Edit </span>
          <span class="sub_title_text">{{ selectedScreen.screenName }}</span>
        </span>
      </h3>      
    </div>
    <div class="main-content-body">
      <app-screen-generation-dynamic-form
                  [details]="updateDetails"
                  (emitFormValue)="caputreFormValues($event)"
                  [inputFieldData]="formDetails"
                  [dash_board_list]="dash_board_list"
      ></app-screen-generation-dynamic-form>
    </div>
  </div>
  <div *ngIf="displayFlag == 'CreateForm'">
    <div class="row main-content-head" >
      <h3>
        <label id="popup_title">
          <a (click)="displayTable()">
            <img src="./../../../../assets/images-n/projects/backarrow.svg" alt="back-arrow">
          </a>
        </label>
        <span class="title_text">
          <span>{{ selectedScreen.Screen_Name }} | </span>
          <span class="sub_title_text"> Create</span>
        </span>
      </h3>      
    </div>
    <div class="main-content-body">
      <app-screen-generation-dynamic-form
                      (emitFormValue)="caputreFormValues($event)"
                      [inputFieldData]="formDetails"
                      [dash_board_list]="dash_board_list"
      ></app-screen-generation-dynamic-form>
    </div>
  </div>
</div>
