<div class="modal-header modelprhead">
    <h4 class="modal-title pull-left">Add Resources</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="addresouceref.hide()">
      <span aria-hidden="true"><img alt="" src="../../../../../assets/images/Projects/circle-close.svg"></span>
    </button>
</div>
<div class="modal-body modelprbody addrespopupbody">
    <div class="container p-0" style="width:100%">
        <form [formGroup]="addresourcesForm">
            <div class="row">
                <div class="form-fileds col-md-12 addrespopup" *ngIf="userslist.length!=0">
                        <label for="resources"class="modal-label">Select Resources</label>
                        <!-- <select formControlName="resources" class="form-control data"style="width:100%;">
                            <option value="">Select Resources</option>
                            <option *ngFor="let user of userslist" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</option>   
                        </select> -->
    
                         <ng-select  formControlName="resources" [multiple]="true"  placeholder="Select Resources"
                                 [(ngModel)]="selectedresources"  required>
                                 <ng-option value="">Select Resources</ng-option>
                                <ng-option *ngFor="let user of userslist" [value]="user.userId.userId">{{user.userId.firstName}} {{user.userId.lastName}}</ng-option>
                            </ng-select> 
    
                        <!-- <span *ngIf="addresourcesForm.get('resources').invalid && addresourcesForm.get('resources').touched"
                            style="color:red" class="fa fa-info-circle errspan">Resources Required*</span> -->
                </div>
            </div>
        </form>
    </div>
</div>          
<div class="modal-footer modelprfooter">
    <div class="pull-right">
        <button (click)="resettask()" class="btn btn-primary">Reset</button>
        <button [disabled]="addresourcesForm.invalid" (click)="save()" class="btn btn-primary btn-update">Save</button>
    </div>
</div>
