::ng-deep .ng-select-container {
    height: auto !important;
    font-size: 1.0em!important;
    font-family:sans-serif;
  }
.modal-header.modelprhead {
    padding: 15px 25px 10px 25px!important;
    background-color: #f0f8ff!important;
}

.btn-reset{
  background-color: #fff !important;
  border: 1px solid #00a0e3 !important;
  color: #00a0e3 !important;
  padding: 6px 32px !important;
  line-height: 18px;
}
.btn-save{
  background: #00a0e3 !important;
  border: 1px solid #00a0e3 !important;
  color: #FFF !important;
  padding: 6px 32px !important;
  line-height: 18px;
 
}
.btn-reset:hover,.btn-save:hover{
  background-color: #001c47 !important;
  color: #fff !important;
}
.close {
  opacity: 1;
}

.modal-label {
  color: #3F4D67 !important;
  font-weight: normal !important;
  font-size: 15px !important;
}

