.rpa-checkbox{
    display: flex;
    justify-content:center;
  }
  .rpa-table thead th {
  border-bottom-width: thin;
  border-bottom-color:#d9d9d9;
  }
  .rpa-table tfoot th{
    border-top-color:#d9d9d9;
    border-bottom-width: thin;
    font-weight: 200;
  }
  .rpa-table tbody tr td
  {
    border-top-color:#d9d9d9;
    border-bottom-width: thin;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .errspan{
    position: relative;
    z-index: 2;
    color: #dc3545;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding-right: 10px;
    line-height: 12px;
    }

  .rpa-tablebox{
  padding-top:10px;
  padding-bottom:10px;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border-radius: 10px;
  height: 900px;
  }
  .rpa-table.dataTable thead .rpa-checkbox-th{
    background : none;
  }

  .env-btn > button > img{
    color:black !important;
    width:25px;
    background-color: white !important;

  }

  .env-btn > button:disabled > img{
    color:rgb(116, 116, 116) !important;
    background-color:white!important;
  }
  .env-btn > button:disabled{
    background-color:white;
  }
  .env-btn > button > div{
    color:black !important;
  }

  .env-btn > button:disabled > div{
    color:lightgrey !important;
  }

  .rpa-image1 {
    height: 12px;
    width: 12px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  }

  td{
    white-space:nowrap;
  }

  th{
    white-space:nowrap;
  }
/* 
  ::-webkit-scrollbar-track {
    display:none;
}

::-webkit-scrollbar-thumb {
  background:lightgray;
}

::-webkit-scrollbar {
  width: 10px;
  height:4px
} */
::ng-deep .mat-tab-label{
  height :50px !important;
  padding: 0 10px !important;
  min-width: 10px !important;
  }
::ng-deep .mat-ink-bar{
min-width:10px !important;
}


::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  font-weight: 600;
  color: black;
  opacity: 1;
}

.rpaenv_header_addon {
  position: relative !important;
  top: 7px !important;
  /*text-align: right !important;*/
  width: 0% !important;
  float: right !important;
}
.rpaenv_header_addon button {
  float: right !important;
  margin-right: 10px !important;
}

