<mat-card class="h-100">
    <div class="module-heading title">
        <!-- <span class="projects-back-button" routerLink="/pages/projects/listOfProjects" >
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span> -->
        <span class="module-back-button" routerLink="/pages/home">
            <i class="fas fa-arrow-left" aria-hidden="true"></i>
        </span>
        <span class="module-header-title">
            <span class="module-parent-title">My Account</span>
        </span>
        <!-- <span class="pull-right" style="font-size:20px;">
          <span class="projects-menu-item" (click)="projects_toggle==false?projects_toggle=true:projects_toggle=false;" ><i class="ri-file-line"></i></span>
          <span class="projects-menu-item"><i class="ri-filter-line"></i></span>
          <span class="projects-menu-item"><i class="ri-more-2-line"></i></span>
        </span> -->
    </div>


    <div class="container-fluid h-scroll">
        <div class="maindivfoprm">
            <div class="innersform card-form Admin-amyaccount">

                
                        <div class="container">
                            <form autocomplete="off" #updateUser="ngForm" (ngSubmit)="updateAccount()">
                                <div class="row prj-crt-form">
                                  <div class="col-md-12 p-0">
                                    <div class="form-fields col-md-6 pl-0">
                                      <label class="label-control" for="email">Email<span class="star">*</span></label>
                                      <input type="text" name="email" #email="ngModel" class="form-control data" [(ngModel)]="formOne.userId"
                                                pattern="^\S*[@]\S*[.]\S*$" required email placeholder="Send from ex: abc@xyz.com" disabled/>                                 
                                    </div>
                                    <div class="form-fields col-md-6 pr-0">
                                      <label class="label-control" for="firstName">First Name<span class="star">*</span></label>
                                      <input type="text" name="firstName" #firstName="ngModel" class="form-control data" (keypress)="lettersOnly($event)" [(ngModel)]="formOne.firstName" placeholder="Enter First Name" maxlength="25" required/>
                                      <span *ngIf="((firstName.invalid && updateUser.submitted) || (firstName.errors && firstName.touched) )" 
                                        class='errspan required'>First Name is required </span>
                                    </div>
                                  </div>  
                                  <div class="col-md-12 p-0">
                                    <div class="form-fields col-md-6 pl-0">
                                      <label class="label-control" for="lastName">Last Name<span class="star">*</span></label>
                                      <input type="text" name="lastName" #lastName="ngModel" class="form-control data" (keypress)="lettersOnly($event)" [(ngModel)]="formOne.lastName" placeholder="Enter Last Name" maxlength="25" required alphabetOnly />
                                      <span *ngIf="((lastName.invalid && updateUser.submitted) || (lastName.errors && lastName.touched) )" 
                                        class='errspan required'> Last Name is required </span>
                                    </div>
                                    <div class="form-fields col-md-6 pr-0">
                                      <label class="label-control" for="jobTitle">Job Title<span class="star">*</span></label>
                                      <input type="text" name="jobTitle" #jobTitle="ngModel" class="form-control data" (keypress)="lettersOnly($event)" [(ngModel)]="formOne.designation" placeholder="Enter Job Title" maxlength="25" required alphabetOnly/>
                                      <span *ngIf="((jobTitle.invalid && updateUser.submitted) || (jobTitle.errors && jobTitle.touched) )" 
                                        class='errspan required'>Job Title is required </span>
                                    </div>
                                  </div>
                                  <div class="col-md-12 p-0">
                                    <div class="form-fields col-md-6 pl-0">
                                      <label class="label-control" for="company">Company<span class="star">*</span></label>
                                      <input type="text" name="company" #company="ngModel" class="form-control data" [(ngModel)]="formOne.company" placeholder="Enter Company" maxlength="25" required alphabetOnly disabled/>
                                      <span *ngIf="((company.invalid && updateUser.submitted) || (company.errors && company.touched) )" 
                                      class='errspan required'> Company is required </span>                                    
                                    </div>                      
                                    <div class="form-fields col-md-6 pr-0">
                                      <label class="label-control" for="country">Country<span class="star">*</span></label>
                                      <select id="country" name='country' class="form-control data" (change)='onChangeCountry(formOne.country)' #country="ngModel" [(ngModel)]="formOne.country" required>
                                        <!-- <option hidden disabled [ngValue]="undefined" [selected]=true>Country</option> -->
                                        <option  [value]="undefined" disabled hidden>Country</option>
                                        <option  [value]="null" disabled hidden>Select Country</option>
                                        <option *ngFor="let country of countryInfo" [ngValue]="country.CountryName">{{country.CountryName}}</option>
                                      </select>
                                      <span *ngIf="((country.invalid && updateUser.submitted)|| (country.errors && country.touched))"
                                        class='errspan required'>Country is required</span>
                                    </div>
                                  </div>
                                 <!--   <div class="col-md-12 p-0"> 
                                   <div class="form-fields col-md-6 pl-0">
                                      <label class="label-control" for="state">State<span class="star">*</span></label>
                                      <select class="form-control data" (change)="onChangeState($event.target.value)" name='state' #state='ngModel' [(ngModel)]="formOne.state" required>
                                       
                                        <option  [value]="undefined" disabled hidden>State</option>
                                        <option  [value]="null" disabled hidden>Select State</option>
                                        <option *ngFor="let state of stateInfo; let j = index" [value]='state.StateName'>{{state.StateName}}</option>
                                      </select>
                                      <span *ngIf="((state.invalid && updateUser.submitted)|| (state.errors && state.touched))"
                                        class='errspan required'> State is required </span>
                                    </div>                             -->
                                    <!-- <div class="form-fields col-md-6 pr-0">
                                      <label class="label-control" for="city">City<span class="star">*</span></label>
                                      <select class="form-control data" name='city' #city='ngModel' [(ngModel)]='formOne.city' required>
                                        <option  [value]="undefined" disabled hidden>City</option>
                                        <option  [value]="null" disabled hidden>Select City</option>
                                        <option *ngFor="let city of cityInfo; let k = index" [value]="city">{{city}}</option>
                                      </select>
                                      <span *ngIf="((city.invalid && updateUser.submitted)|| (city.errors && city.touched))"
                                        class='errspan required'> City is required </span>
                                    </div>
                                  </div> -->
                                  <div class="col-md-12 p-0">
                                    <!-- <div class="form-fields col-md-6 pl-0">
                                      <input type="text" (keydown)="onKeydown($event)" name="zipCode" #zipCode="ngModel" class="form-control data" [(ngModel)]="formOne.zipcode"
                                        onKeyPress="if(this.value.length==6) return false;" placeholder="Enter Zip Code" required>
                                      <span *ngIf="((zipCode.invalid && updateUser.submitted)|| (zipCode.errors && zipCode.touched))"
                                        class='errspan required'> Zip Code is required </span>
                                    </div>  -->
                                    <div *ngIf="show" style=" padding-left: 0px !important" class="form-fields col-md-6 pr-0 Admin-countrylist">
                                      <label class="label-control" for="phoneumber">Phone<span class="star">*</span></label>
                                      <input type="text" name="phoneumber" #phoneumber="ngModel" class="form-control data" [(ngModel)]="formOne.phoneNumber"/>
                                    </div>
                                    <div *ngIf ="!isRefresh && !show" style=" padding-left: 0px !important" class="form-fields col-md-6 pr-0 Admin-countrylist">
                                      <label class="label-control" for="phoneumber">Phone<span class="star">*</span></label>
                                      <input type="text" (keydown)="onKeydown($event)"  id="phoneNumber" name="phoneumber" style="margin-left:50px;" class="form-control data phonenumber" ng2TelInput [ng2TelInputOptions]="{initialCountry: phnCountryCode}"
                                        #phoneumber="ngModel" [(ngModel)]="formOne.phoneNumber" onKeyPress="if(this.value.length==10) return false;"
                                        pattern="^((\\+91-?)|0)?[0-9]{10}$" maxlength="10" required/>
                                      <span *ngIf="((phoneumber.invalid && updateUser.submitted) || (phoneumber.errors && phoneumber.touched) && !(phoneumber.errors.pattern) )"
                                        class='errspan required'> Phone Number is required </span>
                                        <span *ngIf="phoneumber.errors  && phoneumber.invalid">
                                        <span *ngIf="phoneumber.errors.pattern"  class="errspan required">Phone number should be 10 digits</span>
                                      </span>
                                    </div>                                              
                                    <div *ngIf ="isRefresh" style=" padding-left: 0px !important" class="form-fields col-md-6 pr-0 Admin-countrylist">
                                      <label class="label-control" for="phoneumber">Phone<span class="star">*</span></label>
                                      <input type="text" (keydown)="onKeydown($event)" id="phoneNumber" name="phoneumber" style="margin-left:50px;" class="form-control data phonenumber" ng2TelInput [ng2TelInputOptions]="{initialCountry: phnCountryCode}"
                                        #phoneumber="ngModel" [(ngModel)]="formOne.phoneNumber" onKeyPress="if(this.value.length==10) return false;"
                                        pattern="^((\\+91-?)|0)?[0-9]{10}$" maxlength="10" required/>
                                        <span *ngIf="((phoneumber.invalid && updateUser.submitted) || (phoneumber.errors && phoneumber.touched) && !(phoneumber.errors.pattern))"
                                        class='errspan required'> Phone Number is required </span>
                                        <span *ngIf="phoneumber.errors && phoneumber.invalid">
                                        <span *ngIf="phoneumber.errors.pattern" class="errspan required">Phone number should be 10 digits</span>
                                        </span>
                                    </div>
                                  </div>                           
                                </div>
                            </form>
                            <div class="form-footer pull-right">
                              <button type="button" class="btn btn-primary" (click)="updateAccount()"  [disabled] = "!(updateUser.valid && (updateUser.touched ||  updateUser.dirty))">Update</button>
                            </div>
                         </div>
                   

            </div>
        </div>
    </div>
</mat-card>