.inner-addon { 
    position: relative; 
}
.inner-addon .lockicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    width: 40px;
    margin-top: 20px;
    margin-left:-310px;
}
.inner-addon .eyeicon{
      position: absolute;
      color: #098de6 !important;
      right: 10px;
      top: 12px;
}
.maindivfoprm {
  width: 40%;
}
.errspan1 {
  color: red;
}
