<div class="s1">
  <section class="header">
    <div class="container-fluid">
      <nav class="navbar navbar-fixed-top" id="nv1">
        <div class=" c1">
          <div class="abrand">
            <div class="row">
              <div class="col-md-2">
                <div class="abrand_div" routerLink="/pages/home">
                    <img src="assets/images/logo_img.png">
                  <!-- <h3 id="brand">GiB-2.0 <sup><i class="fa fa-registered" aria-hidden="true"></i></sup></h3>
                  <small id="sm">State of Automation</small> -->
                </div>
              </div>
              <div class="col-md-10 header_nav">
                <ul class="nav navbar-nav  navbar-right ">
              <!-- <div class="col-md-3">
                <div class="abrand_div" routerLink="/pages/home">
                  <div id="brand">EP<b>Soft</b><sup><i class="fa fa-registered" aria-hidden="true"></i></sup></div>
                  <small id="sm">Intelligent Automation Platform</small> -->
                <!-- <div class="abrand_div" routerLink="/pages/home">
                  <img src="assets/images/logo_img.png">
                </div> -->
              <!-- </div>
              <div class="col-md-9">
                <ul class="nav navbar-nav  navbar-right user_list"> -->
                  <li class="breadcrumb_li"> <div class="breadcrumb">
                      <span *ngIf="(parent_link && parent_link.length != 0)||(child_link && child_link.length != 0)" id="home" routerLink="/pages/home" (click)="selectedIndex=pages.length">Home</span>
                      <span *ngIf="parent_link && parent_link.length != 0" [routerLink]="parent_link.route" id="parent">&nbsp;|&nbsp;<u><b>{{parent_link.title}}</b></u></span>
                      <span *ngIf="child_link && child_link.length != 0" [routerLink]="child_link.route" id="child">&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;{{child_link.title}}</span>
                    </div>
                  </li> 
                  <li class="icon_middle" [ngClass]="selectedIndex==i?'active': ''" (click)="selectedIndex=i"
                    *ngFor="let each_page of pages;let i=index;trackBy:loopTrackBy" [routerLink]="each_page.link">
                    <a *ngIf="parent_link" [id]="'header'+i"> <img [src]="each_page.img"> 
                      <label>{{each_page.title}}</label> </a>
                  </li>
                  <li class="notification-icon"> <img src="assets/images/Group 192.svg"> </li>
                  <li class=""> <img src="assets/images/pro1.png"> 
                    <div class="dropdown">
                      <span class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-chevron-down"></i></span>
                      <div class="dropdown-menu drop_down" aria-labelledby="dropdownMenuButton">
                        <a (click)='slideUp()'><i class="far fa-user"></i> My Account</a>
                        <a href="#"><i class="fas fa-cog"></i>User Management</a>
                        <a href="#"><i class="fas fa-cog"></i>Configure Alerts</a>
                        <a href="#"><i class="fas fa-cog"></i>Invite User</a>
                        <a (click)='logout()'><i class="fas fa-sign-out-alt"></i>Signout</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
</div> 
<div id="header_overlay" class="hd_overlay">
  <div class="modal-content">
    
      <div class="tab">
          <div class="container">
          <button class="tablinks" (click)="openCity(event, 'my_account')" id="defaultOpen">My Account</button>
          <button class="tablinks" (click)="openCity(event, 'subscription')">Subscriptions</button>
          <button class="tablinks" (click)="openCity(event, 'payment_history')">Payment History</button>
          <button class="tablinks" (click)="openCity(event, 'payment_mode')">Payment Mode</button>

        </div>
        <span class="close" (click)="slideDown();">&times;</span>
      </div>
        <div class="container">
            <div id="my_account" class="tabcontent">
                <h3>London</h3>
                <p>London is the capital city of England.</p>
              </div>
              
              <div id="subscription" class="tabcontent">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p> 
              </div>
              
              <div id="payment_history" class="tabcontent">
                <h3>Tokyo</h3>
                <p>Tokyo is the capital of Japan.</p>
              </div>
              <div id="payment_mode" class="tabcontent">
                  <h3>Tokyo</h3>
                  <p>Tokyo is the capital of Japan.</p>
                </div>
        </div>
        
          
      </div>
     

</div>                    