<div class="s1">
  <section class="header">
    <div class="container-fluid">
      <nav class="navbar navbar-fixed-top" id="nv1">
        <div class=" c1">
          <div class="abrand">
            <div class="row">
              <div class="col-md-3">
                <div class="abrand_div" routerLink="/pages/home">
                  <div id="brand">EP<b>Soft</b><sup><i class="fa fa-registered" aria-hidden="true"></i></sup></div>
                  <small id="sm">Intelligent Automation Platform</small>
                <!-- <div class="abrand_div" routerLink="/pages/home">
                  <img src="assets/images/logo_img.png">
                </div> -->
              </div>
              <div class="col-md-9">
                <ul class="nav navbar-nav  navbar-right user_list">
                  <li class="breadcrumb_li"> <div class="breadcrumb">
                      <span *ngIf="(parent_link && parent_link.length != 0)||(child_link && child_link.length != 0)" id="home" routerLink="/pages/home" (click)="selectedIndex=pages.length">Home</span>
                      <span *ngIf="parent_link && parent_link.length != 0" [routerLink]="parent_link.route" id="parent">&nbsp;|&nbsp;<u><b>{{parent_link.title}}</b></u></span>
                      <span *ngIf="child_link && child_link.length != 0" [routerLink]="child_link.route" id="child">&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;{{child_link.title}}</span>
                    </div>
                  </li> 
                  <li class="icon_middle" [ngClass]="selectedIndex==i?'active': ''" (click)="selectedIndex=i"
                    *ngFor="let each_page of pages;let i=index;trackBy:loopTrackBy" [routerLink]="each_page.link">
                    <a *ngIf="parent_link" [id]="'header'+i"> <img [src]="each_page.img"> 
                      <label>{{each_page.title}}</label> </a>
                  </li>
                  <li class=""> <img src="assets/images/Group 192.svg"> </li>
                  <li class=""> <img src="assets/images/pro1.png"> 
                    <div class="dropdown">
                      <span class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-chevron-down"></i></span>
                      <ul class="dropdown-menu">
                        <li><a href="#home"><i class="far fa-user"></i> My Profile</a></li>
                        <li><a href="#about"><i class="fas fa-cog"></i>Settings</a></li>
                        <li><a href="#contact"><i class="fas fa-sign-out-alt"></i>Signout</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
</div>                       