  .ep-header-white{
    background-color: white !important;
    height: 52px;
    box-shadow: 0px 1px 10px rgb(0 21 50 / 10%) !important;
    position: absolute;
    z-index: 2;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .txt-wh{
    color: #6C757D !important;
  }
  .txt-u{
    color: #001c47!important;
  }
  .abrand_div img{
      width:160px;
  }
  .main-header{
      padding: 0px !important;
  }
  
  .header{
      height: 60px !important;
  }
  .abrand{
      height: 80px;
      color: #001c47 !important;
  }
  .abrand_div{
      cursor: pointer;
      outline: none !important;
  }
  .notification-icon{
      margin-top: 0px !important;
      margin-right: 20px;
      cursor: pointer;
  }
  .icon_middle label{
      margin-top: 5px;
      line-height: 1.4 !important;
  }
  .drop_down a{
      padding: 10px 4px !important;
      color: #287ad6 !important;
      font-size: 14px;
      float: left;
  }
  .drop_down a:hover{
      color: #287ad6 !important;
      font-weight: bold !important;
  }
  .dropdown-menu{
      border: 1px solid #287ad6;
  }
  .header_icon{
      padding-right: 7px !important;
  }
  .hd_icon{
      padding-right: 5px;
  }
  .dropdown-menu {
      min-width: 170px !important;
  }
  .res-circle {
    width: 44px;
    border-radius: 100%;
    height: 42px;
    margin-top: 2px;
    color: rgb(255, 255, 255);
    background: rgb(0, 161, 228);
    margin-left: 5px;
    font-weight: bold;
    padding: 4px 12px;
    }
    .res-circle-img {
      border-radius: 100%;
      width: 43px;
      height: 41px;
      margin-top: 0px;
      color: black;
      margin-left: -5px;
      border: 0px solid black;
    }
    .res-circle:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    .notification-count {
      position: absolute;
      left: 20px;
      top: -8px;
    }
    .notification-count span
    {
      padding: 1px 4px !important;
      background: #f99d1c;
      color:white;
      text-align: center;
      border-radius: 100%;
      font-weight: bold;
      font-size: 11px;
    }
    .user-name .user-fName{
      padding-left: 12px !important;
    }
    .user-name h6{
      padding-left: 12px !important;  
    }
    .user-info-dropdwn{
        padding-left: 15px;
        margin-top: 20px;
    }
    .header-bottom {
      margin-top: 10px;
    }
    .nav-header-content{
        padding:0px 15px !important;
    }
    .header-bottom .icon_middle{
      text-align: center;
    }
  
    .icon_middle:hover label{
      color: white;
    }
    .icon_middle:hover img{
      filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(2);
    }
    .icon_middle:hover{
      background-color: #0062cf !important;
    }
    .icon_middle{
      padding: 5px;
    }
    .active p label{
        color: white;
    }
    .notification-icon img{
      filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(2) !important;
    }
    .abrand_div img{
        margin-top: 3px;
    }
    .borderRight{
        height: 30px !important;
        border-right: 2px solid white;
        margin-right: 20px;
    }
  
  .breadcrumb-home{
      padding-left: 3px;
  }
  .ep-pad{
    padding:10px !important;
  }
  .bread-crumb span{
   cursor: pointer;
  }
  .bread-crumb span:hover{
    font-weight: 600 !important;
  }


  ::ng-deep mat-toolbar.ep-header-new{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)  !important;
  }

  /* New Styles */

  button.example-icon.txt-wh.mat-icon-button.mat-button-base {
    font-size: 20px;
    width: auto;
    height: auto;
    margin-right: 15px;
    padding: 1px;
  }
  span.txt-wh.bread-crumb {
    font-size: 15px;
  }  
  span.headerlogo img { 
    height: 34px;  
    margin: 0px 80px 0px 0px; 
  }
  .header-rgttext {
    font-size: 15px;
    font-weight: 400;
  }
  .header-userrole {
    font-size: 10px;
    opacity: 0.75;
  }
  .header-seperator {
    color: #ddd !important;
    margin: 0px 10px 0px 0px;
  }
  .mat-icon.header-dropicon {
    position: relative;
    right: -5px;
    opacity:0.5;
  }
  span.header-demotxt .txt-u {
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
  }

  .header-logdiv {
    display: flex;
    align-items: center;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 15px;
  justify-content: center;
}

button.example-icon.txt-wh.mat-icon-button.mat-button-base:hover {
    color: #00a0e3 !important;
}

span.txt-wh.bread-crumb {
  display: none;
}
.text-white button.txt-wh.mat-menu-trigger.mat-icon-button.mat-button-base {
  width: auto;
  height: auto;
}

.text-white button.txt-wh.mat-menu-trigger.mat-icon-button.mat-button-base mat-icon.menu-button.mat-icon.notranslate.material-icons.mat-icon-no-color {
  width: auto;
  height: auto;
}

button.ep-pad {
  display: block;
  width: 100%;
  text-align: left;
}

 button.ep-pad:hover {
  color: white;
  background: #00a0e3;
}

button.ep-pad:hover .hd_icon, button.ep-pad:hover .text-primary {
  color: white;
}

button.ep-pad:hover img.header_icon {
  filter: brightness(10) grayscale(1) brightness(10);
}

.sidebarclose, .sidebaropen {
  padding: 0px 4px;
}

.header-demotxt button.mat-menu-trigger.mat-button.mat-button-base {
  padding: 0px;
}
.header-demotxt button.mat-menu-trigger.mat-button.mat-button-base:hover {
  background-color: transparent;
}

.levelsubblock {
  display: flex;
  padding: 10px 15px;
  width: 100%;
  overflow: hidden;
  align-items: center;
}
.levelsubblock-img {
  width: 24px;
  text-align: center;
  margin-right: 10px;
}
.levelsubblock img {
  height: 24px;
  width: auto;
}
.levelcont {
  flex: auto;
  display: inline-block;
  padding: 0px 5px !important;
  white-space: nowrap;
}
.label-title {
  display: block;
  font-weight: 400;
  line-height: normal;
  color: #001c47 !important;
}
.label-content, .label-content span.greentxt {
  font-size: 12px !important;
  margin-bottom: 0px;
  color: #7d7d7d;
}
.levelsubblock span {
  margin: 0px;
  line-height: normal;
}
.demodp {
  display: block;
  width: 100%;
  text-align: left;
}
.notificatnmsgs{
  margin-top: 5px;
}

.deletefrm{
  color: white;
  padding: 0px;
}
.deletconfm h5{
  font-size: 13px;
}
.deletconfm p{
     font-size: 10px;
  }
  .deletconfm .confm{
      border: none;
      background: white;
    width:30px;
    line-height: 20px;
        height: 20px;
        font-size: 10px;
        margin-right: 10px;
  border-radius: 3px;
        color: black;
  }
 
  #myid{
     width: 255px;
  height: 120px;
  display: none;
  background-color: #bbb9b9;
  margin-left: 10px;
  padding: 10px;
  }
  .isdelet{
      display: block !important;
      position: relative;
     z-index: 1000;
  }
  .isRead{
    color: grey;
}
  .notify {
      margin-left: 149px;
      margin-top: 3px;
   }
   .notificationpagination{
       position: fixed;
       bottom: 0px;
       right: 15px;
   }
   .notificatonmessage
   {
       margin-left: 20px;
   }
   .ntfnorecords{
       margin-top: 113px;
       padding-left: 522px;
    }
    .table_cell.Notify_td {
     padding-left: 99px;
       }
/* CSS used here will be applied after bootstrap.css */
.dropdown {
  display:inline-block;
  padding:10px;
}


.glyphicon-bell {
 
  font-size:1.5rem;
}

.notifications {
  width: 373px;
}

.notifications-wrapper {
   overflow:auto;
    max-height:250px;
  }

  .subsc
{
    background: none !important;
    border: none !important;
    cursor: pointer;
}
  
.menu-title {
   color:#ff7788;
   font-size:2.0rem;
    display:inline-block;
    }

.glyphicon-circle-arrow-right {
    margin-left:10px;     
 }

 
.notification-heading, .notification-footer  {
 padding:2px 10px;
     }
    
      
.dropdown-menu.divider {
margin:5px 0;          
}

.item-title {
  font-size: 14px;
  font-weight: 500;
  color: #00a0e3;
  display: inline-block;
}
.notification-created{
  font-size: 12px;
  padding-left: 10px;
  color: #4fc306;
}

.item-info{
  white-space: pre-line;
  font-weight: 400;
  font-size: 14px;
}

.notifications a.content {
text-decoration:none;
background:#ccc;

}
  
.notification-item {
padding:10px;
margin:5px;
background:#f5f5f5;
border-radius:4px;
}
.notification_action_cell{
  margin-top: 3px;
}
.notif-close {
  float: right;
  line-height: 30px;
}
.notif-close img {
  opacity: 0.2;
}
.notification-footer h4{
  text-align: center;
  color: #b3b3b3;
}