<div class="h-100">
    <div class="row module-heading title">
        <span class="module-back-button" routerLink="/pages/home">
            <i aria-hidden="true" class="fas fa-arrow-left"></i>
        </span>
        <span class="module-header-title">Value Chain Mapping</span>
        <span class="module-header-title" style="position: absolute;right: 0;margin-right: 3%;">
            <button class="btn btn-primary" (click)="createVcm()">Create VCM</button>
        </span>
    </div>

    <div class="module-body"></div>
</div>