.prj-crt-form {
    margin: 0 -15px 0 -15px !important;
}

label.label-control {
    border: 1px solid transparent;
    border-bottom: medium none;
    margin: 0px !important;
    border-radius: 2px;
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px !important;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}

.response {
    width: 97%;
}

.raw {
    margin: 5px 0 0 0;
}

.textresponse {
    margin: 10px 0 0 0;
}

.text-right {
    margin: 20px;
    width: 95%;
}

.api {
    width: 98.2%;
}

.maindivfoprm input,
.maindivfoprm select,
.maindivfoprm textarea {
    background-color: #f6f6f6 !important;
    border: 1px solid #D1D1D1;
    box-shadow: unset !important;
    color: #7B8694 !important;
    border-radius: 2px;
    padding: 6px 10px !important;
}

.maindivfoprm input:focus,
.maindivfoprm select:focus,
.maindivfoprm textarea:focus {
    border-color: #00a0e3 !important;
    color: #001c47 !important;
    background-color: #fff !important;
}

.check {
    margin: 10px 5px;
}
