<div class="maincont">
    <div class="maincont-contentarea">
        <div class="maincontent">
            <div class="row main-content-head">
                <h3>
                    <label id="popup_title">
                        <a (click)="backToaction()" class="imageBox">
                            <img class="default-arrow" src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
                            <img class="hover-arrow" src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt=""> 
                        </a>
                    </label>
                    <span class="title_text_haspath">
                        <span *ngIf="!istoolSet" >
                            <span class="breadcrum-back" (click)="backToConnection()">Connection Manager </span>
                             <span class="breadcrum-align">/</span>
                              <span class="breadcrum-back" (click)="backToaction()">{{ selectedConnector }} </span> 
                              <span class="breadcrum-align">/</span> 
                              <span class="breadcrum-back">Update - </span>
                            <span class="sub_title_text">{{ selectedToolsetName }}</span>
                        </span>
                        <span *ngIf="istoolSet" >
                            <span class="breadcrum-back" (click)="backToConnection()">Connection Manager  </span>
                             <span class="breadcrum-align">/</span>
                             <span class="breadcrum-back" (click)="backToaction()"> {{ selectedConnector }}</span> 
                             <span class="breadcrum-align">/</span> 
                             <span class="sub_title_text">Create New</span>
                            </span>
                             
                        </span>
                   
                </h3>
            </div>
            <div class="main-content-body">
                  <span class="userhint"> Note : To make attributes dynamic follow this pattern - eg : [@Client Id|string|1000.****************0001@] </span>
                <div class="maindivfoprm">
                    <form [formGroup]="connectorForm">
                        <div class="row">
                            <div class="col-md-6 form-group pl-0">
                                    <label class="label-control" for="programname"> Action Name
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="51" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="actionName"
                                        [ngClass]="connectorForm.get('actionName').valid?'enteredfield-color':'inputfield-color'"
                                        placeholder="Enter Action Name">
                                    <span
                                        *ngIf="connectorForm.get('actionName').invalid && connectorForm.get('actionName').touched && !connectorForm.get('actionName').hasError('pattern') && !connectorForm.controls['actionName'].hasError('maxlength')"
                                        class="required"> Action Name Required*
                                    </span>
                                    <span *ngIf="connectorForm.controls['actionName'].hasError('maxlength') && !connectorForm.get('actionName').hasError('pattern')" class="required">
                                        Maximum of 50 characters
                                    </span>
                                    <span *ngIf="connectorForm.get('actionName').hasError('pattern') && !connectorForm.controls['actionName'].hasError('maxlength')" class="required">
                                        Only space between words are allowed & Numbers are not allowed.
                                    </span>
                            </div>
                            <div class="col-md-6 form-group pr-0">
                                    <label *ngIf="!isUpdate" class="label-control" for="programname"> Action Logo</label>
                                    <label *ngIf="isUpdate" class="label-control" for="programname"> Replace Action Logo</label>
                                    <!-- <div class="row">
                                        <input *ngIf="!isUpdate" type="file" title="only PNG accepted" pInputText [style]="{'width':'100%'}" accept="image/png, image/svg"  (change)="imageUpload($event)"
                                            formControlName="">
                                        <input *ngIf="isUpdate" type="file" class="custom" title="only PNG accepted" pInputText [style]="{'width':'89%','margin':'0 0 0 3px'}" accept="image/png, image/svg"  (change)="imageUpload($event)"
                                            formControlName=""> &nbsp;
                                        <img *ngIf="isUpdate" class="logo" [src]="'data:image/png;base64,'+action_icon"  alt="Action_Logo">
                                    </div> -->
                                    <div class="input-group">
                                        <input type="file" pInputText class="form-control" title="only PNG accepted" accept="image/png, image/svg" (change)="imageUpload($event)" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                                          aria-label="Upload" /> &nbsp;
                                        <span  id="inputGroupFileAddon04">
                                            <img *ngIf="isUpdate" class="logo" [src]="'data:image/png;base64,'+action_icon"  alt="Action_Logo">
                                        </span>
                                    </div>
                                    <span *ngIf="isIconSize" class="required">
                                        File size must be less then 200kb 
                                    </span>
                            </div>
                            <div class="col-md-6 form-group pl-0">
                                    <label class="label-control" for="programname"> Action Type
                                        <span class="star">*</span>
                                    </label>
                                    <p-dropdown [options]="actionItems" formControlName="actionType" [disabled] = "isDisabled.AuthenticatedType"
                                    [style]="{'width':'100%'}" placeholder="Select Action" 
                                    optionLabel="value" optionValue="type" (onChange)="actionChange($event.value)"></p-dropdown>
                                    <span
                                        *ngIf="connectorForm.get('actionType').invalid && connectorForm.get('actionType').touched && !connectorForm.get('actionType').hasError('pattern')"
                                        class="required"> Action Type Required*
                                    </span>
                            </div>
                            <div class="col-md-6 form-group pr-0">
                                <label class="label-control" for="programname"> Method Type
                                    <span class="star">*</span>
                                </label>
                                <p-dropdown [options]="methodItems" formControlName="methodType" [disabled] = "isDisabled.methodType" (onChange)="methodChange($event.value)"
                                [style]="{'width':'100%'}" placeholder="Select Method" 
                                optionLabel="value" optionValue="value"></p-dropdown>
                                <span
                                    *ngIf="connectorForm.get('methodType').invalid && connectorForm.get('methodType').touched && !connectorForm.get('methodType').hasError('pattern')"
                                    class="required"> Method Type Required*
                                </span>
                            </div>
                            <div class="col-md-12 form-group p-0" *ngIf="isEndpoint">
                                <label class="label-control"> API/URL <span class="star">*</span> </label>
                                <textarea pInputTextarea [style]="{'width':'100%'}" (keyup)="onEnterEndpoint()" row="3" formControlName="endPoint"
                                type="url" name="url" id="url" placeholder="Enter API/URL">
                                </textarea>
                                <span
                                    *ngIf="connectorForm.get('endPoint').invalid && connectorForm.get('endPoint').touched && !connectorForm.get('endPoint').hasError('pattern')"
                                    class="required"> API/URL Required*
                                </span>
                                <span *ngIf="connectorForm.get('endPoint').hasError('pattern')" class="required">
                                    API/URL or Dynamic Pattern Incorrect.
                                </span>
                            </div>
                            <div class="col-md-6 form-group pl-0" *ngIf="isAction">
                                    <label class="label-control" for="programname"> Authentication Type
                                        <span class="star">*</span>
                                    </label>
                                    <p-dropdown [options]="authItems" formControlName="authType"
                                    [style]="{'width':'100%'}" placeholder="Select Authentication" 
                                    optionLabel="value" optionValue="type" (onChange)="authChange($event.value)"></p-dropdown>
                                    <span
                                        *ngIf="connectorForm.get('authType').invalid && connectorForm.get('authType').touched && !connectorForm.get('authType').hasError('pattern')"
                                        class="required"> Authentication Type Required*
                                    </span>
                            </div>
                            <div class="col-md-6 form-group pr-0" *ngIf="isAuthenticated">
                                    <label class="label-control" for="programname"> Grant Type
                                        <span class="star">*</span>
                                    </label>
                                    <p-dropdown [options]="grantItems" formControlName="grantType"
                                    [style]="{'width':'100%'}" placeholder="Select Grant Type" 
                                    optionLabel="value" optionValue="type" (onChange)="grantChange($event.value)"></p-dropdown>
                                    <span
                                        *ngIf="connectorForm.get('grantType').invalid && connectorForm.get('grantType').touched && !connectorForm.get('grantType').hasError('pattern')"
                                        class="required"> Grant Type Required*
                                    </span>
                            </div>
                            <div class="col-md-6 form-group pr-0" *ngIf="isaddTo">
                                <label class="label-control" for="programname"> Add To
                                    <span class="star">*</span>
                                </label>
                                <p-dropdown [options]="requestParams" formControlName="addTo"
                                [style]="{'width':'100%'}" placeholder="Select" 
                                optionLabel="value" optionValue="type" (onChange)="onChangeAddTo($event.value)"></p-dropdown>
                                <span
                                    *ngIf="connectorForm.get('addTo').invalid && connectorForm.get('addTo').touched && !connectorForm.get('addTo').hasError('pattern')"
                                    class="required"> Add To Required*
                                </span>
                            </div>
                            <div class="row" *ngIf="isKeyValue">
                                <div class="col-md-6 form-group pl-0">
                                    <label class="label-control" for="programname"> Key
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="requestKey" placeholder="Enter Key">
                                    <span
                                        *ngIf="connectorForm.get('requestKey').invalid && connectorForm.get('requestKey').touched && !connectorForm.get('requestKey').hasError('pattern')"
                                        class="required"> Key Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('requestKey').hasError('pattern')" class="required">
                                        Key or Dynamic Pattern Is Incorrect.
                                    </span>
                                </div>
                                <div class="col-md-6 form-group pr-0">
                                    <label class="label-control" for="programname"> Value
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="requestValue" placeholder="Enter Value">                                        
                                    <span
                                        *ngIf="connectorForm.get('requestValue').invalid && connectorForm.get('requestValue').touched && !connectorForm.get('requestValue').hasError('pattern')"
                                        class="required"> Value Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('requestValue').hasError('pattern')" class="required">
                                        Value or Dynamic Pattern Is Incorrect.
                                    </span>
                                </div>
                            </div>
                            <div class="row" *ngIf="isAuthorization">
                                <div class="col-md-6 form-group pl-0">
                                    <label class="label-control" for="programname"> Code
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="code" placeholder="Enter Code">
                                    <span
                                        *ngIf="connectorForm.get('code').invalid && connectorForm.get('code').touched && !connectorForm.get('code').hasError('pattern')"
                                        class="required"> Code Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('code').hasError('pattern')" class="required">
                                        Code or Dynamic Pattern Incorrect.
                                    </span>
                                </div>
                                <div class="col-md-6 form-group pr-0">
                                    <label class="label-control" for="programname"> Redirect URL
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="redirect_uri" placeholder="Enter Redirect URL">
                                    <span
                                        *ngIf="connectorForm.get('redirect_uri').invalid && connectorForm.get('redirect_uri').touched && !connectorForm.get('redirect_uri').hasError('pattern')"
                                        class="required"> Redirect URL Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('redirect_uri').hasError('pattern')" class="required">
                                        Redirct URL or Dynamic Pattern Incorrect.
                                    </span>
                                </div>
                            </div>
                            <div class="row" *ngIf="isPassword">
                                <div class="col-md-6 form-group pl-0">
                                    <label class="label-control" for="programname"> Username
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="userName" placeholder="Enter Username">
                                    <span
                                        *ngIf="connectorForm.get('userName').invalid && connectorForm.get('userName').touched && !connectorForm.get('userName').hasError('pattern')"
                                        class="required"> Username Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('userName').hasError('pattern')" class="required">
                                        Username or Dynamic Pattern Incorrect.
                                    </span>
                                </div>
                                <div class="col-md-6 form-group pr-0">
                                    <label class="label-control" for="programname"> Password
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="password" placeholder="Enter Password">                                        
                                    <span
                                        *ngIf="connectorForm.get('password').invalid && connectorForm.get('password').touched && !connectorForm.get('password').hasError('pattern')"
                                        class="required"> Password Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('password').hasError('pattern')" class="required">
                                        Password or Dynamic Pattern Incorrect.
                                    </span>
                                </div>
                            </div>
                            <div class="row" *ngIf="isClient">
                                <div class="col-md-6 form-group pl-0">
                                    <label class="label-control" for="programname"> Client ID
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="clientId" placeholder="Enter Client ID">
                                    <span
                                        *ngIf="connectorForm.get('clientId').invalid && connectorForm.get('clientId').touched && !connectorForm.get('clientId').hasError('pattern')"
                                        class="required"> Client ID Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('clientId').hasError('pattern')" class="required">
                                        Client Id or Dynamic Pattern Incorrect.
                                    </span>
                                </div>
                                <div class="col-md-6 form-group pr-0">
                                    <label class="label-control" for="programname"> Client Secret
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="clientSecret" placeholder="Enter Client Secret">
                                    <span
                                        *ngIf="connectorForm.get('clientSecret').invalid && connectorForm.get('clientSecret').touched && !connectorForm.get('clientSecret').hasError('pattern')"
                                        class="required"> Client Secret Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('clientSecret').hasError('pattern')" class="required">
                                        Client Secret or Dynamic Pattern Incorrect.
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group pl-0" *ngIf="isVerifier">
                                    <label class="label-control" for="programname"> Code Verifier
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="verifier" placeholder="Enter Code Verifier">
                                    <span
                                        *ngIf="connectorForm.get('verifier').invalid && connectorForm.get('verifier').touched && !connectorForm.get('verifier').hasError('pattern')"
                                        class="required"> Code Verifier Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('verifier').hasError('pattern')" class="required">
                                        Code Verifier or Dynamic Pattern Incorrect.
                                    </span>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group pl-0"  *ngIf="isScopeField">
                                    <label class="label-control" for="programname"> Scope
                                        <!-- <span class="star">*</span> -->
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="scope" placeholder="Enter Scope ">
                                </div>
                                <div class="col-md-6 form-group pr-0" *ngIf="isRefreshToken">
                                    <label class="label-control" for="programname"> Refresh Token
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" pInputText [style]="{'width':'100%'}" value=""
                                        formControlName="refreshToken" placeholder=" Refresh Token">
                                    <span
                                        *ngIf="connectorForm.get('refreshToken').invalid && connectorForm.get('refreshToken').touched && !connectorForm.get('refreshToken').hasError('pattern')"
                                        class="required"> Refresh Token Required*
                                    </span>
                                    <span *ngIf="connectorForm.get('refreshToken').hasError('pattern')" class="required">
                                        Refresh Token or Dynamic Pattern Incorrect.
                                    </span>
                                </div>
                            </div>     
                             <!-- <div class="col-md-12 form-group p-0" *ngIf="isEndpoint">
                                <label class="label-control"> API/URL <span class="star">*</span> </label>
                                <textarea pInputTextarea [style]="{'width':'100%'}" row="3" formControlName="endPoint"
                                type="url" name="url" id="url" placeholder="Enter API/URL">
                                </textarea>
                                <span
                                    *ngIf="connectorForm.get('endPoint').invalid && connectorForm.get('endPoint').touched && !connectorForm.get('endPoint').hasError('pattern')"
                                    class="required"> API/URL Required*
                                </span>
                                <span *ngIf="connectorForm.get('endPoint').hasError('pattern')" class="required">
                                    API/URL or Dynamic Pattern Is Incorrect.
                                </span>
                            </div>-->
                            <div class="col-md-12 form-group p-0" *ngIf="isHeader">
                                <p-tabView>
                                    <p-tabPanel header="Params">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <!-- <th></th> -->
                                                    <th scope="col">Key</th>
                                                    <th scope="col">Value</th>
                                                    <th class="headercheckbox">
                                                      <button [disabled]="checkEndPoint" mat-mini-fab color="primary" (click)="addParams()">
                                                        <mat-icon> add </mat-icon>
                                                      </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let each of paramForm; let i = index">
                                                    <!-- <td class="headercheckbox"> -->
                                                        <!-- <p-checkbox [value]="each" [(ngModel)]="selectedOne"
                                                        [ngModelOptions]="{standalone: true}"></p-checkbox> -->
                                                        <!-- <input type="checkbox" [(ngModel)]="each.check" [checked]="each.check" (change)="onChangeParamCheckBox(i, $event)" [ngModelOptions]="{standalone: true}"> -->
                                                    <!-- </td> -->

                                                    <td>
                                                        <input type="text" (keyup)="onKeyEntered()" name="test+i" id="" class="form-control" placeholder="Key"
                                                        [(ngModel)]="each.paramKey"  [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="" id="" (keyup)="onKeyEntered()" class="form-control" placeholder="Value"
                                                        [(ngModel)]="each.paramValue"  [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td class="headercheckbox">
                                                        <span>
                                                            <img class="cross-mark" src="../../../../../assets/images-n/projects/close-circle-line.svg" alt=""
                                                            (click)="paramsDelete(i)">
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </p-tabPanel>
                                    <p-tabPanel header="Headers">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <!-- <th></th> -->
                                                    <th scope="col">Key</th>
                                                    <th scope="col">Value</th>
                                                    <th class="headercheckbox">
                                                      <button mat-mini-fab color="primary" (click)="addHeader()">
                                                        <mat-icon> add </mat-icon>
                                                      </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let each of headerForm; let i = index">
                                                    <!-- <td class="headercheckbox"> -->
                                                        <!-- <p-checkbox [value]="each" [(ngModel)]="selectedOne"
                                                        [ngModelOptions]="{standalone: true}"></p-checkbox> -->
                                                        <!-- <input type="checkbox" [(ngModel)]="each.check" [checked]="each.check" [ngModelOptions]="{standalone: true}">
                                                    </td> -->
                                                    <td>
                                                        <input type="text" name="test+i" id="" class="form-control" placeholder="Key"
                                                        [(ngModel)]="each.encodedKey" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="" id="" class="form-control" placeholder="Value"
                                                        [(ngModel)]="each.encodedValue" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td class="headercheckbox">
                                                        <span>
                                                            <img class="cross-mark" src="../../../../../assets/images-n/projects/close-circle-line.svg" alt=""
                                                            (click)="onDelete(i)">
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </p-tabPanel>
                                </p-tabView>                             
                            </div>
                            <!-- <div class="col-md-12 form-group p-0" *ngIf="isKeyValueTab">
                                <p-tabView>
                                    <p-tabPanel header="Params">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Key</th>
                                                    <th scope="col">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" name="" id="" class="form-control" placeholder="Key">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="" id="" class="form-control" placeholder="Value">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </p-tabPanel>
                                    <p-tabPanel header="Headers">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Key</th>
                                                    <th scope="col">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" name="" id="" class="form-control" placeholder="Key">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="" id="" class="form-control" placeholder="Value">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </p-tabPanel>
                                </p-tabView>                             
                            </div> -->
                            <div class="col-md-12 form-group p-0" *ngIf="isResponse">
                                <label class="label-control"> Response </label>
                                <textarea pInputTextarea [style]="{'width':'100%'}" cols="30" rows="10" formControlName="response"
                                    placeholder="Response">
                                </textarea>
                                <!-- <span *ngIf="validateJSON && connectorForm.get('response').value" class="text-danger"> Invalid JSON Format </span>
                                <span *ngIf="!validateJSON && connectorForm.get('response').value" class="text-success"> Valid JSON Format </span> -->
                            </div>
                            <div class="col-md-12 form-group p-0" *ngIf="isRequest && !isReqDisable">
                                <label class="label-control"> Request </label> 
                                <textarea  pInputTextarea [style]="{'width':'100%'}" cols="30" rows="10" formControlName="request" (keyup)="isJsonData()" 
                                    placeholder="Request Body">
                                </textarea>
                                <span *ngIf="validateJSON && connectorForm.get('request').value" class="text-danger"> Invalid JSON Format </span>
                                <span *ngIf="!validateJSON && connectorForm.get('request').value" class="text-success"> Valid JSON Format </span>
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-end">
                        <button *ngIf="!isRequest" type="button" class="btn new-cancelbtn" [disabled]="isRequest"
                                    (click)="testAction()" [disabled]="connectorForm.invalid || isKeyValue">Test</button>
                        <button *ngIf="!isUpdate" type="button" [disabled]="isIconSize || connectorForm.invalid" class="btn bluebg-button"
                                    (click)="saveAction()">Save</button>
                        <button *ngIf="isUpdate" type="button" [disabled]="isIconSize || connectorForm.invalid" class="btn bluebg-button"
                                    (click)="updateAction()">Update</button>   
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast  [style]="{marginTop: '50px'}" ></p-toast>