<div class="maincont"style="background-color: white;">
    <div class="module-heading title">
        <span class="module-back-button">
            <i class="fas fa-arrow-left" aria-hidden="true" (click)="backToaction()"></i>
        </span>
        <span class="module-header-title">
            <span class="module-parent-title">Connection Manager</span>
        </span>
    </div>
    <div class="container-fluid h-scroll">
        <div class="maindivfoprm">
            <div class="innersform card-form">
                <div class="container">
                    <form [formGroup]="connectorForm">
                        <div class="row prj-crt-form">
                            <div class="col-md-12 d-flex">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Action Name
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="actionName"
                                        [ngClass]="connectorForm.get('actionName').valid?'enteredfield-color':'inputfield-color'"
                                        placeholder="Enter Action Name">
                                    <span
                                        *ngIf="connectorForm.get('actionName').invalid && connectorForm.get('actionName').touched && !connectorForm.get('actionName').hasError('pattern')"
                                        class="errspan required"> Action Name Required*
                                    </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Action Type
                                        <span class="star">*</span>
                                    </label>
                                    <select name="" id="" class="form-control data" formControlName="actionType"
                                        (change)="actionChange($event.target.value)">
                                        <option value="" hidden disabled>Select Action</option>
                                        <option value="null" hidden disabled>Select Action</option>
                                        <option value="undefined" hidden disabled>Select Action</option>
                                        <option *ngFor="let action of actionItems"> {{action.value}}</option>
                                    </select>
                                    <span
                                        *ngIf="connectorForm.get('actionType').invalid && connectorForm.get('actionType').touched && !connectorForm.get('actionType').hasError('pattern')"
                                        class="errspan required"> Action Type Required*
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Method Type
                                        <span class="star">*</span>
                                    </label>
                                    <select name="" id="" class="form-control data" formControlName="methodType">
                                        <option value="" hidden disabled>Select Method</option>
                                        <option value="null" hidden disabled>Select Method</option>
                                        <option value="undefined" hidden disabled>Select Method</option>
                                        <option *ngFor="let method of methodItems"> {{method.value}}</option>
                                    </select>
                                    <span
                                        *ngIf="connectorForm.get('methodType').invalid && connectorForm.get('methodType').touched && !connectorForm.get('methodType').hasError('pattern')"
                                        class="errspan required"> Method Type Required*
                                    </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Action Icon
                                        <span class="star">*</span>
                                    </label>
                                    <input type="file" class="form-control" accept="image/png, image/svg"
                                        formControlName="" placeholder="Upload Icon">
                                    <!-- <span
                                        *ngIf="connectorForm.get('httpMethodType').invalid && connectorForm.get('httpMethodType').touched && !connectorForm.get('httpMethodType').hasError('pattern')"
                                        class="errspan required"> Method Type Required* </span> -->
                                </div>
                            </div>
                            <div class="col-md-12 martsascl form-fields api">
                                <label class="label-control"> API <span class="star">*</span> </label>
                                <textarea class="form-control" row="3" formControlName="endPoint" placeholder="Enter API"
                                    style=" resize: none;" maxlength="256">
                                </textarea>
                                <span
                                    *ngIf="connectorForm.get('endPoint').invalid && connectorForm.get('endPoint').touched && !connectorForm.get('endPoint').hasError('pattern')"
                                    class="errspan required"> API / URL Required*
                                </span>            
                            </div>
                            <div class="col-md-12 d-flex">
                                <div class="form-fields col-md-6 pl-0" *ngIf="isAction">
                                    <label class="label-control" for="programname"> Authentication Type
                                        <span class="star">*</span>
                                    </label>
                                    <select name="" id="" class="form-control data" formControlName="authType"
                                        (change)="authChange($event.target.value)">
                                        <option value="" hidden disabled>Select Authentication</option>
                                        <option value="null" hidden disabled>Select Authentication</option>
                                        <option value="undefined" hidden disabled>Select Authentication</option>
                                        <option *ngFor="let auth of authItems"> {{auth.value}}</option>
                                    </select>
                                    <span
                                        *ngIf="connectorForm.get('authType').invalid && connectorForm.get('authType').touched && !connectorForm.get('authType').hasError('pattern')"
                                        class="errspan required"> Authentication Type Required*
                                    </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0" *ngIf="isAuthenticated">
                                    <label class="label-control" for="programname"> Grant Type
                                        <span class="star">*</span>
                                    </label>
                                    <select name="" id="" class="form-control data" formControlName="grantType"
                                        (change)="grantChange($event.target.value)">
                                        <option value="" hidden disabled>Select Method</option>
                                        <option value="null" hidden disabled>Select Method</option>
                                        <option value="undefined" hidden disabled>Select Action</option>
                                        <option *ngFor="let grant of grantItems" [value]="grant.type"> {{grant.value}}</option>
                                    </select>
                                    <span
                                        *ngIf="connectorForm.get('grantType').invalid && connectorForm.get('grantType').touched && !connectorForm.get('grantType').hasError('pattern')"
                                        class="errspan required"> Grant Type Required*
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isAuthorization">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Code
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="code" placeholder="Enter Code">
                                    <span
                                        *ngIf="connectorForm.get('code').invalid && connectorForm.get('code').touched && !connectorForm.get('code').hasError('pattern')"
                                        class="errspan required"> Code Required*
                                    </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Redirect URL
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="redirect_uri" placeholder="Enter Redirect URL">
                                    <span
                                        *ngIf="connectorForm.get('redirect_uri').invalid && connectorForm.get('redirect_uri').touched && !connectorForm.get('redirect_uri').hasError('pattern')"
                                        class="errspan required"> Redirect URL Required*
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isPassword">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Username
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="userName" placeholder="Enter Username">
                                    <span
                                        *ngIf="connectorForm.get('userName').invalid && connectorForm.get('userName').touched && !connectorForm.get('userName').hasError('pattern')"
                                        class="errspan required"> Username Required*
                                    </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Password
                                        <span class="star">*</span>
                                    </label>
                                    <input type="password" maxlength="256" class="form-control data" value=""
                                        formControlName="password" placeholder="Enter Password">
                                    <span
                                        *ngIf="connectorForm.get('password').invalid && connectorForm.get('password').touched && !connectorForm.get('password').hasError('pattern')"
                                        class="errspan required"> Password Required*
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isClient">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Client ID
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="clientId" placeholder="Enter Client ID">
                                    <span
                                        *ngIf="connectorForm.get('clientId').invalid && connectorForm.get('clientId').touched && !connectorForm.get('clientId').hasError('pattern')"
                                        class="errspan required"> Client ID Required*
                                    </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Client Secret
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="clientSecret" placeholder="Enter Client Secret">
                                    <span
                                        *ngIf="connectorForm.get('clientSecret').invalid && connectorForm.get('clientSecret').touched && !connectorForm.get('clientSecret').hasError('pattern')"
                                        class="errspan required"> Client Secret Required*
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isVerifier">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Code Verifier
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="verifier" placeholder="Enter Code Verifier">
                                    <span
                                        *ngIf="connectorForm.get('verifier').invalid && connectorForm.get('verifier').touched && !connectorForm.get('verifier').hasError('pattern')"
                                        class="errspan required"> Code Verifier Required*
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isScopeField">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> scope
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="ScopeFeild" placeholder="Enter Scope ">
                                    <span
                                        *ngIf="connectorForm.get('ScopeFeild').invalid && connectorForm.get('ScopeFeild').touched && !connectorForm.get('ScopeFeild').hasError('pattern')"
                                        class="errspan required"> Code Verifier Required*
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="isRequest">
                                <div class="form-fields pl-0">
                                    <label class="label-control"> Header <span class="star">*</span> </label>
                                    <table class="table table-bordered mt-2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th scope="col">Key</th>
                                                <th scope="col">Value</th>
                                                <th>
                                                    <button mat-mini-fab color="primary" (click)="addHeader()">
                                                        <mat-icon> add </mat-icon>
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody [formGroup]="addInputForm">
                                            <tr formArrayName="addInputField" *ngFor="let addInpuGroup of addInputField?.controls; let i = index"[formGroupName]="i">
                                                <td>
                                             <p-checkbox [value]="addInpuGroup" [(ngModel)]="selectedOne"></p-checkbox>
                                                    <!-- <input type="checkbox" class="check"
                                                        formControlName="encodedCheck">  -->
                                                    </td>
                                                <td> <input type="text" name="" id="" class="form-control"
                                                        placeholder="Key" formControlName="encodedKey"> </td>
                                                <td> <input type="text" name="" id="" class="form-control"
                                                        placeholder="Value" formControlName="encodedValue"> </td>
                                                <td> <img src="../../../../../assets/images-n/projects/close-circle-line.svg" alt=""></td>        
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 martsascl form-fields api" *ngIf="isRequest">
                                <label class="label-control"> Attributes <span class="star">*</span> </label>
                                <p-chips formControlName="attribute" styleClass="attribute" separator=","
                                    placeholder="Enter Attributes"></p-chips>
                            </div>
                            <div class="col-md-12 martsascl api" *ngIf="isResponse">
                                <label class="label-control"> Response </label>
                                <textarea class="form-control" cols="30" rows="10" formControlName="response" (keyup)="isJsonValid()"
                                    placeholder="Response">
                                </textarea>
                                <!-- <span *ngIf="validateJSON && connectorForm.get('response').value" class="text-danger"> Invalid JSON Format </span>
                                <span *ngIf="!validateJSON && connectorForm.get('response').value" class="text-success"> Valid JSON Format </span> -->
                            </div>
                            <div class="col-md-12 martsascl api" *ngIf="isRequest">
                                <label class="label-control"> Request </label>
                                <textarea class="form-control response" cols="30" rows="10" formControlName="request" (keyup)="isJsonData()"
                                    placeholder="Get Request">
                                </textarea>
                                <span *ngIf="validateJSON && connectorForm.get('request').value" class="text-danger"> Invalid JSON Format </span>
                                <span *ngIf="!validateJSON && connectorForm.get('request').value" class="text-success"> Valid JSON Format </span>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary" [disabled]="isRequest"
                                    (click)="testForm()"> Test </button>
                                &nbsp;
                                <button type="button" class="btn btn-primary" [disabled]="connectorForm.invalid"
                                    (click)="saveForm()"> Save </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>