<div style="background-color: white;">
    <div class="module-heading title">
        <span class="module-back-button">
            <i class="fas fa-arrow-left" aria-hidden="true" [routerLink]="[ '/pages/rpautomation/action-item']"></i>
        </span>
        <span class="module-header-title">
            <span class="module-parent-title">Connection Manager</span>
        </span>
    </div>
    <div class="container-fluid h-scroll">
        <div class="maindivfoprm">
            <div class="innersform card-form">
                <div class="container">
                    <form [formGroup]="connectorForm">
                        <div class="row prj-crt-form">
                            <div class="col-md-12 d-flex">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Action Name
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="connectionName"
                                        [ngClass]="connectorForm.get('connectionName').valid?'enteredfield-color':'inputfield-color'"
                                        placeholder="Enter Action Name">
                                    <span
                                        *ngIf="connectorForm.get('connectionName').invalid && connectorForm.get('connectionName').touched && !connectorForm.get('connectionName').hasError('pattern')"
                                        class="errspan required"> Connector Name Required* </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Action Type
                                        <span class="star">*</span>
                                    </label>
                                    <select name="" id="" class="form-control data" formControlName="actionType"
                                        (change)="actionChange($event.target.value)">
                                        <option value="" hidden disabled>Select Action</option>
                                        <option value="null" hidden disabled>Select Action</option>
                                        <option value="undefined" hidden disabled>Select Action</option>
                                        <option *ngFor="let action of actionItems"> {{action.value}}</option>
                                    </select>
                                    <span
                                        *ngIf="connectorForm.get('actionType').invalid && connectorForm.get('actionType').touched && !connectorForm.get('actionType').hasError('pattern')"
                                        class="errspan required"> Action Type Required* </span>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Method Type
                                        <span class="star">*</span>
                                    </label>
                                    <select name="" id="" class="form-control data" formControlName="httpMethodType">
                                        <option value="" hidden disabled>Select Method</option>
                                        <option value="null" hidden disabled>Select Method</option>
                                        <option value="undefined" hidden disabled>Select Method</option>
                                        <option *ngFor="let method of methodItems"> {{method.value}}</option>
                                    </select>
                                    <span
                                        *ngIf="connectorForm.get('httpMethodType').invalid && connectorForm.get('httpMethodType').touched && !connectorForm.get('httpMethodType').hasError('pattern')"
                                        class="errspan required"> Method Type Required* </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Action Icon
                                        <span class="star">*</span>
                                    </label>
                                    <input type="file" class="form-control" accept="image/png, image/svg" formControlName="" placeholder="Upload Icon">
                                    <!-- <span
                                        *ngIf="connectorForm.get('httpMethodType').invalid && connectorForm.get('httpMethodType').touched && !connectorForm.get('httpMethodType').hasError('pattern')"
                                        class="errspan required"> Method Type Required* </span> -->
                                </div>
                            </div>
                            <div class="col-md-12 martsascl form-fields api">
                                <label class="label-control"> API <span class="star">*</span> </label>
                                <textarea class="form-control" row="3" formControlName="url" placeholder="Enter API"
                                    style=" resize: none;" maxlength="256">
                                </textarea>
                                <span
                                    *ngIf="connectorForm.get('url').invalid && connectorForm.get('url').touched && !connectorForm.get('url').hasError('pattern')"
                                    class="errspan required"> API / URL Required* </span>
                            </div>
                            <div class="col-md-12 d-flex">
                                <div class="form-fields col-md-6 pl-0" *ngIf="isAction">
                                    <label class="label-control" for="programname"> Authentication Type
                                        <span class="star">*</span>
                                    </label>
                                    <select name="" id="" class="form-control data" formControlName="authType"
                                        (change)="authChange($event.target.value)">
                                        <option value="" hidden disabled>Select Authentication</option>
                                        <option value="null" hidden disabled>Select Authentication</option>
                                        <option value="undefined" hidden disabled>Select Authentication</option>
                                        <option *ngFor="let auth of authItems"> {{auth.value}}</option>
                                    </select>
                                    <span
                                        *ngIf="connectorForm.get('authType').invalid && connectorForm.get('authType').touched && !connectorForm.get('authType').hasError('pattern')"
                                        class="errspan required"> Authentication Type Required* </span>
                                </div>
                                <div class="form-fields col-md-6 pl-0" *ngIf="isAuthenticated">
                                    <label class="label-control" for="programname"> Grant Type
                                        <span class="star">*</span>
                                    </label>
                                    <select name="" id="" class="form-control data" formControlName=""
                                        (change)="grantChange($event.target.value)">
                                        <option value="" hidden disabled>Select Method</option>
                                        <option value="null" hidden disabled>Select Method</option>
                                        <option value="undefined" hidden disabled>Select Action</option>
                                        <option *ngFor="let grant of grantItems"> {{grant.value}}</option>
                                    </select>
                                    <!-- <span
                                        *ngIf="connectorForm.get('actionType').invalid && connectorForm.get('actionType').touched && !connectorForm.get('actionType').hasError('pattern')"
                                        class="errspan required"> Method Type Required* </span> -->
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isAuthorization">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Code
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="" placeholder="Enter Code">
                                    <!-- <span
                                        *ngIf="connectorForm.get('connectionName').invalid && connectorForm.get('connectionName').touched && !connectorForm.get('connectionName').hasError('pattern')"
                                        class="errspan required"> Connector Name Required* </span> -->
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Redirect URL
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="" placeholder="Enter Redirect URL">
                                    <!-- <span
                                        *ngIf="connectorForm.get('actionType').invalid && connectorForm.get('actionType').touched && !connectorForm.get('actionType').hasError('pattern')"
                                        class="errspan required"> Method Type Required* </span> -->
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isPassword">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Username
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="" placeholder="Enter Username">
                                    <!-- <span
                                        *ngIf="connectorForm.get('connectionName').invalid && connectorForm.get('connectionName').touched && !connectorForm.get('connectionName').hasError('pattern')"
                                        class="errspan required"> Connector Name Required* </span> -->
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Password
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="" placeholder="Enter Password">
                                    <!-- <span
                                        *ngIf="connectorForm.get('actionType').invalid && connectorForm.get('actionType').touched && !connectorForm.get('actionType').hasError('pattern')"
                                        class="errspan required"> Method Type Required* </span> -->
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isClient">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Client ID
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="" placeholder="Enter Client ID">
                                    <!-- <span
                                        *ngIf="connectorForm.get('connectionName').invalid && connectorForm.get('connectionName').touched && !connectorForm.get('connectionName').hasError('pattern')"
                                        class="errspan required"> Connector Name Required* </span> -->
                                </div>
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Client Secret
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="" placeholder="Enter Client Secret">
                                    <!-- <span
                                        *ngIf="connectorForm.get('actionType').invalid && connectorForm.get('actionType').touched && !connectorForm.get('actionType').hasError('pattern')"
                                        class="errspan required"> Method Type Required* </span> -->
                                </div>
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isAuthorization">
                                <div class="form-fields col-md-6 pl-0">
                                    <label class="label-control" for="programname"> Code Verifier
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" maxlength="256" class="form-control data" value=""
                                        formControlName="" placeholder="Enter Code Verifier">
                                    <!-- <span
                                        *ngIf="connectorForm.get('httpMethodType').invalid && connectorForm.get('httpMethodType').touched && !connectorForm.get('httpMethodType').hasError('pattern')"
                                        class="errspan required"> Method Type Required* </span> -->
                                </div>
                            </div>
                            <!-- <div class="col-md-12 martsascl api" *ngIf="isClient">
                                <label class="label-control"> Response <span class="star">*</span> </label>
                                <textarea class="form-control" row="6" formControlName="" placeholder="Get Response" maxlength="256"> </textarea>
                                 <span
                                    *ngIf="connectorForm.get('url').invalid && connectorForm.get('url').touched && !connectorForm.get('url').hasError('pattern')"
                                    class="errspan required"> API / URL Required* 
                                </span> 
                            </div> -->
                            <div class="col-md-12" *ngIf="isRequest">
                                <div class="form-fields pl-0">
                                    <label class="label-control"> Header <span class="star">*</span> </label>
                                    <table class="table table-bordered mt-2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th scope="col">Key</th>
                                                <th scope="col">Value</th>
                                                <th>
                                                    <button mat-mini-fab color="primary" (click)="addHeader()">
                                                        <mat-icon> add </mat-icon>
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> <input type="checkbox" class="check"
                                                        formControlName="encodedCheck"> </td>
                                                <td> <input type="text" name="" id="" class="form-control"
                                                        placeholder="Key" formControlName="encodedKey"> </td>
                                                <td> <input type="text" name="" id="" class="form-control"
                                                        placeholder="Value" formControlName="encodedValue"> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 martsascl form-fields api" *ngIf="isRequest">
                                <label class="label-control"> Attributes <span class="star">*</span> </label>
                                <!-- <input type="text" name="" id="" class="form-control data"
                                    placeholder="Enter Attributes" formControlName=""> -->
                                    <p-chips formControlName="attribute" styleClass="attribute" separator="," placeholder="Enter Attributes"></p-chips>
                                <!-- <span
                                    *ngIf="connectorForm.get('url').invalid && connectorForm.get('url').touched && !connectorForm.get('url').hasError('pattern')"
                                    class="errspan required"> API / URL Required* </span> -->
                            </div>
                            <div class="col-md-12 martsascl api" *ngIf="isResponse">
                                <label class="label-control"> Response <span class="star">*</span> </label>
                                <textarea class="form-control" row="6" formControlName="" placeholder="Get Response"
                                    maxlength="256"> </textarea>
                                <!-- <span
                                    *ngIf="connectorForm.get('url').invalid && connectorForm.get('url').touched && !connectorForm.get('url').hasError('pattern')"
                                    class="errspan required"> API / URL Required* 
                                </span> -->
                            </div>
                            <div class="col-md-12 d-flex" *ngIf="isRequest">
                                <div class="form-fields col-md-6 pl-0">
                                <label class="label-control"> Request <span class="star">*</span> </label>
                                <textarea class="form-control response"  cols="30" rows="16" formControlName="" placeholder="Get Response"
                                    maxlength="256"> </textarea>
                                <!-- <span
                                    *ngIf="connectorForm.get('url').invalid && connectorForm.get('url').touched && !connectorForm.get('url').hasError('pattern')"
                                    class="errspan required"> API / URL Required* 
                                </span> -->
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary" (click)="testForm()"> Test </button>
                                &nbsp;
                                <button type="button" class="btn btn-primary" (click)="saveForm()"> Save </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>