.inner-addon { 
    position: relative; 
}
.inner-addon .lockicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    width: 40px;
    margin-top: 20px;
    margin-left:-310px;
}
.inner-addon .eyeicon{
      position: absolute;
      right: 10px;
      top: 9px;
}
.maindivfoprm {
  width: 40%;
}

