<div class="maindivfoprm">
  <div *ngIf="!isEditForm">
    <form [formGroup]="generatedForm">
      <div class="row">
        <div class="col-md-6 form-group" *ngFor="let field of inputFieldData">
          <div *ngIf="
              field.widget_type == 'textbox' ||
              field.widget_type == null ||
              field.widget_type == ''">
            <div *ngIf="field.ColumnName !='tenant_name'">
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star" *ngIf="field.mandatory">*</span>
            </label>
            <input type="text" [formControlName]="field.ColumnName" class="form-control" [required]="field.mandatory"
              [placeholder]="field.placeholder=='undefined'? field.placeholder:placeholder" [maxlength]="field.length" pattern="^[a-zA-Z][a-zA-Z\s]*" />
            </div>
              <div *ngIf="field.ColumnName == 'tenant_name'">
                <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
                  <span class="star" *ngIf="field.mandatory">*</span> 
                </label>
                <input type="text" [formControlName]="field.ColumnName" (input)="checkTenantName()"class="form-control" [required]="field.mandatory"
                [placeholder]="field.placeholder=='undefined'? field.placeholder:placeholder" [maxlength]="field.length" />
                  <div *ngIf="tenantNameCheck && generatedForm.get('tenant_name').value && !generatedForm.get('tenant_name').hasError('pattern')" class="required">
                    Tenant Name is already exists*
                </div>
                  <span
                      *ngIf="!tenantNameCheck && generatedForm.get('tenant_name').hasError('pattern')"
                      class="errspan required"> Only spaces are allowed between words* </span>
              </div>
                </div>

          <div *ngIf="field.widget_type == 'file'">
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star" *ngIf="field.mandatory">*</span>
            </label>
            <input type="file" [formControlName]="field.ColumnName" class="form-control" [required]="field.mandatory"
              [placeholder]="field.placeholder" [maxlength]="field.length" />
          </div>
          <div *ngIf="
              field.widget_type == 'select' && !(field.ColumnName == 'PortalName')
            ">
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star" *ngIf="field.mandatory">*</span>
            </label>
            <!-- <select class="form-select" [formControlName]="field.ColumnName" [required]="field.mandatory">
              <option value="" hidden disabled>Select Chart Type</option>
              <option value="null" hidden disabled>Select Option</option>
              <option value="undefined" hidden disabled>Select Option</option>
              <option *ngFor="let type of chartType">{{ type.Type }}</option>
            </select> -->
          </div>

          <div *ngIf="
              field.widget_type == 'select' && field.ColumnName == 'PortalName'
            ">
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star" *ngIf="field.mandatory">*</span>
            </label>
            <select class="form-select" [formControlName]="field.ColumnName" [required]="field.mandatory">
              <option value="" hidden disabled>Select Screen Name</option>
              <option *ngFor="let portal of portalnames">
                {{ portal.screen_Name }}
              </option>
            </select>
          </div>
          <div *ngIf="field.widget_type == 'checkbox'">
            <input type="checkbox" [formControlName]="field.ColumnName" [required]="field.mandatory" />
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star">*</span>
            </label>
          </div>
          <div *ngIf="field.widget_type == 'radio'">
            <input type="radio" [formControlName]="field.ColumnName" [required]="field.mandatory" />
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star">*</span>
            </label>
          </div>
        </div>
      </div>
    </form>
    <div class="row col-md-12 justify-content-end">
      <button (click)="resetForm()" class="btn new-cancelbtn">Reset</button>
      <button (click)="emitFormValue()" *ngIf="details == undefined" [disabled]="generatedForm.invalid || tenantNameCheck"
        class="btn bluebg-button">Save</button> 
      <button (click)="emitFormValue()" *ngIf="details != undefined" [disabled]="generatedForm.invalid"
        class="btn bluebg-button">Update</button>
    </div>
  </div>

  <div *ngIf="isEditForm">
    <form [formGroup]="generatedForm">
      <div class="row">
        <div class="col-md-6 form-group" *ngFor="let field of inputFieldData">
          <div *ngIf="
              field.widget_type == 'textbox' ||
              field.widget_type == null ||
              field.widget_type == ''
            ">
            <div *ngIf="field.ColumnName !='tenant_name'">
              <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
                <span class="star" *ngIf="field.mandatory">*</span>
              </label>
              <input type="text" [formControlName]="field.ColumnName" [attr.disabled]="
                  field.read_only ? '' : null && details != undefined
                " class="form-control" [required]="field.mandatory" [placeholder]="field.placeholder"
                [maxlength]="field.length" />
            </div>
          </div>
          <div *ngIf="field.ColumnName == 'tenant_name'">
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star" *ngIf="field.mandatory">*</span>
            </label>
            <input type="text" [formControlName]="field.ColumnName" (input)="checkTenantName()" class="form-control"
              [required]="field.mandatory" [placeholder]="field.placeholder=='undefined'? field.placeholder:placeholder"
              [maxlength]="field.length" />
            <div
              *ngIf="tenantNameCheck && generatedForm.get('tenant_name').value && !generatedForm.get('tenant_name').hasError('pattern')"
              class="required">
              Tenant Name is already exists*
            </div>
            <span *ngIf="!tenantNameCheck && generatedForm.get('tenant_name').hasError('pattern')"
              class="errspan required"> Only spaces are allowed between words* </span>
          </div>
          <div *ngIf="field.widget_type == 'file'">
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star" *ngIf="field.mandatory">*</span>
            </label>
            <input type="file" [formControlName]="field.ColumnName" class="form-control" [required]="field.mandatory"
              [placeholder]="field.placeholder" [maxlength]="field.length" />
          </div>
          <div *ngIf="field.widget_type == 'select'">
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star" *ngIf="field.mandatory">*</span>
            </label>
            <!-- <select class="form-select" [formControlName]="field.ColumnName" [attr.disabled]="field.read_only ? '' : null"
               [required]="field.mandatory">
               <option value="" hidden disabled>Select Chart Type</option>
               <option value="Donut">Donut</option>
               <option value="column">Column</option>
               <option value="Bar">Bar</option>
               <option value="line">Line</option>
               <option value="Area">Area</option>
               <option value="Pie">Pie</option>
               <option value="timeseries">Timeseries</option>
               <option value="waterfall">Waterfall</option>
            </select> -->
          </div>
          <div *ngIf="field.widget_type == 'checkbox'">
            <input type="checkbox" [formControlName]="field.ColumnName" [attr.disabled]="field.read_only ? '' : null"
              [required]="field.mandatory" />
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase }}
              <span class="star">*</span>
            </label>
          </div>
          <div *ngIf="field.widget_type == 'radio'">
            <input type="radio" [formControlName]="field.ColumnName" [attr.disabled]="field.read_only ? '' : null"
              [required]="field.mandatory" />
            <label class="label-control">{{ field.DisplayName | removeUnderscore | titlecase
              }}<span class="star">*</span>
            </label>
          </div>
        </div>
      </div>
    </form>
    <div class="row col-md-12 justify-content-end">
      <!-- <button (click)="resetForm()" class="btn new-cancelbtn">Reset</button> -->
      <button (click)="emitFormValue()" *ngIf="details == undefined" [disabled]="generatedForm.invalid"
        class="btn bluebg-button">Save</button> 
      <button (click)="emitFormValue()" *ngIf="details != undefined"
        [disabled]="!(generatedForm.valid && (generatedForm.touched ||  generatedForm.dirty)) || tenantNameCheck" 
        class="btn bluebg-button">Update</button>
    </div>
  </div>
</div>