.over-lay{
    margin-bottom: 3px;
    margin-left: 5px;
}

.star{
    color: rgb(253 75 75) !important;
    font-size: 12px !important;
    font-weight: normal !important;
    letter-spacing: 0.2px;
}

.rabio-btn label.label-control {
    display: block;
    margin-bottom: 10px;
}

input::file-selector-button {
    background-color: #098de6 !important;
    border: none;
    color: #fff;
    border-radius: 3px !important;
    /* padding: 2px 10px; */
}