
<div class="" style="padding-left: 6px;">
  <div class=" paymenthistory">
  
    <!-- <p-table #dt1 [value]="invoicedata">
      <ng-template pTemplate="caption">
        <div class="flex">
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
              placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:15rem" pSortableColumn="invoiceNumber">Invoice Number
            <p-sortIcon field="invoiceNumber"></p-sortIcon>
            <p-columnFilter type="text" field="invoiceNumber" display="menu"></p-columnFilter>
          </th>
          <th style="min-width:15rem">
            <div class="flex justify-content-center align-items-center">
              Subscription ID
              <p-columnFilter type="text" field="subscriptionId" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex justify-content-center align-items-center">
              Amount
              <p-columnFilter field="amount" type="text" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex justify-content-center align-items-center">
              Paid On
              <p-columnFilter type="date" field="createDate" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex justify-content-center align-items-center">
              Next Due
              <p-columnFilter type="numeric" field="createDate" display="menu" currency="USD"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex justify-content-center align-items-center">
              Status
              <p-columnFilter field="status" matchMode="equals" display="menu"> </p-columnFilter>
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex justify-content-center align-items-center">
              Actions
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invoice>
        <tr>
          <td>
            <span *ngIf="invoice.invoiceNumber!=null"
              [pTooltip]="invoice.invoiceNumber|titlecase">{{invoice.invoiceNumber}}</span>
            <span *ngIf="invoice.invoiceNumber==null">---</span>
          </td>
          <td>
            <span *ngIf="invoice.subscriptionId!=null" [pTooltip]="invoice.subscriptionId">{{invoice.subscriptionId}}</span>
            <span *ngIf="invoice.subscriptionId==null">---</span>
          </td>
          <td>
            <span *ngIf="invoice.amount!=null" [pTooltip]="invoice.amount">${{invoice.amount }}.00</span>
            <span *ngIf="invoice.amount==null">---</span>
          </td>
          <td>
    
            <span *ngIf="invoice.createDate!=null" [pTooltip]="invoice.createDate">{{invoice.createDate|
              date:'MM/dd/yyyy'}}</span>
            <span *ngIf="invoice.createDate==null">---</span>
          </td>
          <td>
    
            <span *ngIf="invoice.createDate!=null" [pTooltip]="invoice.createDate">{{getinvoiceDate(invoice.createDate)
              |date:'MM/dd/yyyy'}}</span>
            <span *ngIf="invoice.createDate==null">---</span>
          </td>
          <td>
            <span *ngIf="invoice.status!=null">{{invoice.status|titlecase}}</span>
            <span *ngIf="invoice.status==null || invoice.status==undefined || invoice.status=='' ">---</span>
    
          </td>
          <td>
            <div class="newinntalx">
              <button pButton (click) = "invoicedownload(invoice)" icon="pi pi-download" type="button" label="Download" class="p-button-secondary"></button>
              <span  (click) = "invoicedownload(invoice)"><img class="download" src="../../../../assets/images/download_icon.svg"></span> -->
              <!-- <a (click)="invoicedownload(invoice)" label="Dow" pTooltip="Download Invoice">
                <img src="../../../../assets/images/download_icon.svg">
              </a>
            </div>
          </td>
    
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No Records found.</td>
        </tr>
      </ng-template>
    </p-table> -->

    <app-dynamic-table [table_data]="invoicedata" [columns_list]="columns_list"
    [show_download_btn]="true"  [show_column_filter]="true"
    [show_clear_filter]="true" [show_search_field]="true" [search_fields]="table_searchFields"
    (downloadItem)="invoicedownload($event)"></app-dynamic-table>
  </div>
</div>

