<div class="row">
 
  <div class="col-md-6 row bot-data" >
      <div class="rpa-home">
          <div class="rpa-home-block">
              <button  type="button" (click)="createoverlay()"  aria-hidden="true" placement="bottom">
                  <img src="../../../../assets/images/RPA/create.svg" style="height:80px;">
                  <br><br>
                  <h6 class="rpa-home-btn-title">Create</h6>
                </button>
          </div>

          <div class="rpa-home-block">
            <button  type="button" (click)="openload()"  aria-hidden="true" placement="bottom">
               
                <img src="../../../../assets/images/RPA/Load.svg" style="height:80px;" >
                <br><br>
                <h6 class="rpa-home-btn-title">Load</h6>
            </button>
          </div>
          <div class="rpa-home-block">
          <button  type="button"  aria-hidden="true" [routerLink]="[ '/pages/rpautomation/environments']" placement="bottom">
            <img src="../../../../assets/images/RPA/Environments.svg"style="height:80px;" >
            <br><br>
            <h6 class="rpa-home-btn-title">Environments</h6>
          </button>
          </div>
      </div>
      
  </div>
  <div class="col-md-6"> 
    <div class="mat-elevation-z8 rpa-home-bots">
      <mat-tab-group mat-align-tabs="start"  [selectedIndex]="selectedTab">
        <mat-tab label="Bot Details">
          <div class="rpa-home-header">
            <br>
            <h4 class="box-heading  rpa-home-heading">My Workspace</h4>

            <span class="box-heading rpa-home-category">

              <mat-form-field class="rpa-mat-form-field-category">
                <mat-label>Category</mat-label>
                  <mat-select>
                    <mat-option value="1">Option</mat-option>
                    <mat-option value="2">Option</mat-option>
                    <mat-option value="3">Option</mat-option>
                  </mat-select>
              </mat-form-field>
            </span>


            <span class="box-heading rpa-home-category">

              <mat-form-field class="rpa-mat-form-field-category">
                <mat-label>Category</mat-label>
                  <mat-select>
                    <mat-option value="1">Option</mat-option>
                    <mat-option value="2">Option</mat-option>
                    <mat-option value="3">Option</mat-option>
                  </mat-select>
              </mat-form-field>
            </span>

            <span class="box-heading rpa-home-process"> 
              <mat-form-field class="rpa-mat-form-field-search">
                <mat-label>Search</mat-label>
                <input class="toolbar-search" *ngIf="!isSearch" matInput (keyup)="applyFilter1($event.target.value)">
                <mat-icon matSuffix *ngIf="!isSearch" style="font-size: 1.2em">search</mat-icon>
            </mat-form-field>
            </span>
    
          </div>  
          <div class="bots-container">
              <table mat-table #sort1="matSort" [dataSource]="dataSource1" matSort class=" table">
                
                <ng-container matColumnDef="botName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Bot Name </th>
                  <td mat-cell *matCellDef="let element">  <span *ngIf="element.botName!=null" (click)=loadbotdata(element.botId)>{{element.botName}}</span> <span *ngIf="element.botName==''">-</span> </td>
                </ng-container>
          
                <ng-container matColumnDef="botType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Bot Type</th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.botType==0">Attended</span> 
                    <span *ngIf="element.botType==1">Unattended</span> 
                    <span *ngIf="element.botType==null">---</span> 
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="department">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Bot Category</th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.department==1">Development</span> 
                    <span *ngIf="element.department==2">Hr</span> 
                    <span *ngIf="element.department==3">QA</span> 
                    <span *ngIf="element.department==null">---</span> 
                  </td>
                </ng-container>


            
                <ng-container matColumnDef="botStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Bot Status </th>
                  <td mat-cell *matCellDef="let element">   <span *ngIf="element.botStatus!=null">{{element.botName}}</span> <span *ngIf="element.botStatus==null">---</span> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
      
          </div>
          <mat-paginator  #paginator1 [pageSize]="10"  [showFirstLastButtons]="true" ></mat-paginator>
        </mat-tab>
        <mat-tab label="Automated Tasks">
          <div class="rpa-home-header">
            <h4 class="box-heading  rpa-home-heading">My Workspace</h4>

            

            <span class="box-heading rpa-home-process" style="width:300px">    
                  <select class="form-control" [value]="selectedvalue" (change)="applyFilter($event.target.value)" >
                    <option value="">Select Process</option>
                    <option *ngFor="let process of process_names" [value]="process.processName">{{process.processName}}</option>
                      
                  </select>
            </span>
    
          </div>  
          <div class="bots-container">
              <table mat-table #sort2="matSort" [dataSource]="dataSource2" matSort class=" table">
                
                <ng-container matColumnDef="processName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Process Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.processName}}</td>
                </ng-container>
          
                <ng-container matColumnDef="taskName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.taskName!=null">{{element.taskName}}</span> 
                    <span *ngIf="element.taskName==null">---</span>
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="Assign">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Assign Task</th>
                  <td mat-cell *matCellDef="let element">

                    <select class="form-control">
                      <option value="">Select Bot</option>
                      <option *ngFor="let bot of bot_list" value="1">{{bot.botName}}</option>
                    </select>

                  </td>
                </ng-container>
            

                <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
              </table>
      
          </div>
          <mat-paginator  #paginator2 [pageSize]="5"  [showFirstLastButtons]="true" ></mat-paginator>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div>
