


<div class="header_addon header-btn1">

  
  <button type="button" class="btn btn-primary import-btn"  style="float:right;" (click)="openModal(template)">
    <img src="../../../../assets/images/RPA/import-white.svg" class="testplus" >
    Import
  </button>

  <ng-template #template>
    <div class="modal-header modelprhead">
      <h4 class="modal-title pull-left">Import Bot</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true"><img alt="" src="../../../../../assets/images/Projects/circle-close.svg"></span>
      </button>
    </div>
    <div class="modal-body modelprbody">
      <div class="container p-0" style="width:100%">
          <div class="row">
              <div class="form-fields col-md-12">
                <label>Select Environment</label>
                  <select class="form-control" value="" [(ngModel)]="importenv">                        
                      <option value="">Select Environment</option>
                      <option *ngFor="let env of environments" [value]="env.environmentId">{{env.environmentName}}</option>
                  </select>
              </div>
              <div class="form-fields col-md-12">
                <label>Select Category</label>
                  <select class="form-control" value="" [(ngModel)]="importcat">                        
                    <option value="">Select Category</option>
                    <option *ngFor="let cat of categaoriesList" [value]="cat.categoryId">{{cat.categoryName}}</option>
                  </select>
              </div>
              <div class="form-fields col-md-12">
                <label>Browse File</label>
                <div class="text-center">
                  <input  class="form-control custom-file-input"  (change)="upload($event.target.files[0])" type="file">
                </div>
                <span class="required">{{file_error}}</span>
              </div>
              
              
            </div>
      </div>
    </div>      
    <div class="modal-footer modelprfooter">
      <div class="pull-right">
        <button (click)="importfile='';importcat='';importenv='';file_error='';modalRef.hide()" class="btn btn-default">Cancel</button>
        <button class="btn btn-primary btn-update" [disabled]="importfile=='' || importcat=='' || importenv=='' || file_error!=''" 
        (click)="importbotfile()">Import</button>        
      </div>
    </div> 

  </ng-template>
</div>


<div class="row">

  <div class="main-subheader">
    <div class="main-subheaderTitle">
      
      <label class="main-subtitle">Let’s start automating !</label>
      <label class="subtitle-tag">Create and configure bots that suit your needs</label>
    
      <div class="main-subheaderBtns">
          <div class="rpa-home-block" id="createbot-Home" *ngIf="this.isButtonVisible || enablecreatebot">
              <button class="btn btn-primary rpa-home-btn-title" id="create_newbot"  (click)="createoverlay()" aria-hidden="true" placement="bottom">Create</button>
          </div>
          <div class="rpa-home-block" id="Configuration_Home" *ngIf="this.isButtonVisible || enableConfiguration">
              <button class="btn btn-primary rpa-home-btn-title" id="create_Configuration" [routerLink]="[ '/pages/rpautomation/configurations']" placement="bottom">Configurations</button>
          </div>
      </div>
    </div>
    <img src="../../../../assets/images/RPA/icon_latest/bot_new.svg" />
      <div class="rpa-home" style="display:none">
        <!--<div class="rpa-home-block" id="createbot-Home">
            <button type="button" (click)="createoverlay()" aria-hidden="true" placement="bottom">
            <img src="../../../../assets/images/RPA/create.svg" style="height:80px;">
            
            <h6 class="rpa-home-btn-title">Create</h6>
          </button>
        </div>-->
        <div class="rpa-home-block" id="createbot-Home" style="border-radius: 5px;" *ngIf="this.isButtonVisible || enablecreatebot">
            <img src="../../../../assets/images/RPA/create.svg"style="height:10vh;">
            <!--<h4 style="font-weight: 600;line-height: 1.1;">Create Bot</h4>
            <h5 style="color:gray">Click to Create New Bot</h5>-->
            
            <button class="btn btn-primary rpa-home-btn-title eiap-btn" id="create_newbot" style="margin-left:17px;" (click)="createoverlay()" aria-hidden="true" placement="bottom">Create</button>
        </div>

        <!--<div class="rpa-home-block" id="loadbot-Home">
      <button  type="button" (click)="openload()"  aria-hidden="true" placement="bottom">

          <img src="../../../../assets/images/RPA/Load.svg" style="height:80px;" >
          
          <h6 class="rpa-home-btn-title">Load</h6>
      </button>
    </div>-->
        
        <!--<div class="rpa-home-block py-5" id="environment-Home" *ngIf="this.isButtonVisible">
            <button type="button" aria-hidden="true" [routerLink]="[ '/pages/rpautomation/configurations']" placement="bottom">
      <img src="../../../../assets/images/RPA/Environments.svg"style="height:80px;" >
      
      <h6 class="rpa-home-btn-title">Configurations</h6>
    </button>
        </div>-->
        <div class="rpa-home-block py-5" id="Configuration_Home" style="border-radius: 5px;" *ngIf="this.isButtonVisible || enableConfiguration">
            <img src="../../../../assets/images/RPA/Environments.svg"style="height:10vh;">
           <!-- <h4 style="font-weight: 600;line-height: 1.1;">Configutions</h4>
            <h5 style="color:gray">Click to View Bot Configurations</h5>-->
            
            
            <button class="btn btn-primary rpa-home-btn-title eiap-btn" id="create_Configuration" style="margin-left:17px;" [routerLink]="[ '/pages/rpautomation/configurations']" placement="bottom">Configurations</button>
        </div>
      </div>

  </div>
  <div class="col-md-12 p-0">
  <div>
    <div class="row">
      <div class="col-md-6 pl-0">
        <h4 class="gridHeader">My Workspace</h4>
      </div>
       <div class="col-md-6 p-0">
        <div class="col-md-6 form-group pr-0 rpa-searchip">
          <input class="form-control toolbar-search" type="text" [(ngModel)]="userFilter.botName" placeholder="Search Bot" >
          <img src="../../../../assets/images/search.svg" alt="" class="testplus1">
        </div>
        <div class="col-md-6 form-group pr-0 rpa-searchip">
          <input class="form-control toolbar-search" type="text" [(ngModel)]="userFilter.department" placeholder="Search Category" >
          <img src="../../../../assets/images/search.svg" alt="" class="testplus1">
        </div>
        <!-- <mat-form-field>
          <mat-label>Search Department</mat-label>
          <input class="toolbar-search" type="text" [(ngModel)]="userFilter.department" matInput >
          <mat-icon matSuffix style="font-size: 1.2em" >search</mat-icon>
        </mat-form-field> -->
       </div>

    </div>
   
    <mat-accordion>
      <div class="flex-row Tabletype">
        <div class="TabletypeHeader">
        
            <div class="flex-col header gridheader-th">
              <button  (click)="sortasc('botName','asc')">
               <span >Bot Name</span>
               <i *ngIf="sortkey.botName==false" class="fa fa-arrow-up"></i>
               <i *ngIf="sortkey.botName==true" class="fa fa-arrow-down"></i>
              </button>
            </div>
          
            <div class="flex-col header gridheader-th">
              <button  (click)="sortasc('description','asc')">
                <span >Description</span>
                <i *ngIf="sortkey.description==false" class="fa fa-arrow-up"></i>
                <i *ngIf="sortkey.description==true" class="fa fa-arrow-down"></i>
              </button>
            </div>
          
            <div class="flex-col header gridheader-th">
              <button  (click)="sortasc('department','asc')">
                <span >Category</span>
                <i *ngIf="sortkey.department==false" class="fa fa-arrow-up"></i>
                <i *ngIf="sortkey.department==true" class="fa fa-arrow-down"></i>
              </button>
            </div>

            <div class="flex-col header gridheader-th">
              <button  (click)="sortasc('botType','asc')">
                <span >Type</span>
                <i *ngIf="sortkey.botType==false" class="fa fa-arrow-up"></i>
                <i *ngIf="sortkey.botType==true" class="fa fa-arrow-down"></i>
              </button>
            </div>
          
            <div class="flex-col header gridheader-th">
              <button  (click)="sortasc('version','asc')">
                <span>Version</span> 
                <i *ngIf="sortkey.version==false" class="fa fa-arrow-up"></i>
                <i *ngIf="sortkey.version==true" class="fa fa-arrow-down"></i>
              </button>
            </div>
          
            <div class="flex-col header gridheader-th">
              <button  (click)="sortasc('botStatus','asc')">
                <span>Status</span>
                <i *ngIf="sortkey.botStatus==false" class="fa fa-arrow-up"></i>
                <i *ngIf="sortkey.botStatus==true" class="fa fa-arrow-down"></i>
              </button>
            </div>

        </div>
      </div>
      <div  class="rpa-home-table">
    <mat-expansion-panel hideToggle  *ngFor="let bot of bot_list | filterBy:userFilter | paginate: { itemsPerPage: 10, currentPage: p } ;let i=index;"  >
     
        
      <mat-expansion-panel-header >
         
        <mat-panel-title>

          <div class="flex-row">
           

            <div class="flex-col">
                
                <span [tooltip]=bot.botName placement="bottom"> {{(bot.botName.length > 10) ? ((bot.botName).slice(0, 10) + '...') : bot.botName}}</span>
              </div>
            <div class="flex-col">
              <span *ngIf="bot.description!=null" placement="bottom" [tooltip]="bot.description" class="btndes"> {{(bot.description.length > 10) ? ((bot.description).slice(0, 10) + '...') : bot.description}}</span>
              <span *ngIf="bot.description==null">-</span>
            </div>
            <div class="flex-col">{{bot.department}}</div>
            <div class="flex-col">{{bot.botType}}</div>
            <div class="flex-col">V{{bot.version}}</div>
            <div class="flex-col">
                
              <span *ngIf="bot.botStatus=='Running'" class="text-primary "tableActionsIcons >
                <span>
                  <img src="../../../../assets/images/RPA/DotSpin.gif" style="filter: none; width: 19px;">
                </span>
                <!-- &nbsp;{{bot.botStatus}} -->
              </span>

              <span *ngIf="bot.botStatus=='Success'" class="tableActionsIcons"><span><img src="../../../../assets/images/RPA/icon_latest/Success.svg" alt=""></span>
                <!-- &nbsp;<span>{{bot.botStatus}}</span> -->
              </span>

              <span *ngIf="bot.botStatus=='Failure'">
                <span class="tableActionsIcons"><img src="../../../../assets/images/RPA/icon_latest/close-red.svg" alt=""></span>
                  <!-- &nbsp;<span>{{bot.botStatus}}</span> -->
                </span>
              <!--<img src="../../../../assets/images/RPA/newicon.png" style="filter: none; width: 20px;">-->
              <span *ngIf="bot.botStatus=='New'" class="text-primary tableActionsIcons"><span class="text-primary">
                <img src="../../../../assets/images/RPA/userobot.png" style="filter: none;">
                <!-- <i class="fas fa-robot text-light"></i> -->
              </span>
                <!-- &nbsp;<span>{{bot.botStatus}}</span> -->
              </span>

              <span *ngIf="bot.botStatus=='Stop' || bot.botStatus=='Stopped'" class="tableActionsIcons">
                <span >
                  <!--<img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;">-->
                  <img src="../../../../../assets/images/RPA/stop_fail_icon.svg" >
                </span>
                  <!-- &nbsp;<span>{{bot.botStatus}}</span> -->
                </span>

              <span *ngIf="bot.botStatus=='Pause'||bot.botStatus=='Paused'" >
                <span class="text-primary tableActionsIcons">
                  <!--<img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;">-->
                  <i class="fas fa-pause-circle text-primary"></i></span>
                  <!-- &nbsp;<span>{{bot.botStatus}}</span> -->
                </span>


              <span *ngIf="bot.botStatus==null">---</span>
              <span class="tableActionsIcons">
                <button mat-button tooltip="More Actions" class="bg_threebtn"  placement="top" (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu"><img src="../../../../assets/images/RPA/icon_latest/dots.svg" alt=""></button>
                <mat-menu #menu="matMenu">
                  <button  mat-menu-item (click)="editbotoverlay(bot)"><img src="../../../../assets/images/RPA/icon_latest/edit.svg" alt="" class="testplus">&nbsp;Edit </button>
                  <button  mat-menu-item (click)="botdelete(bot.botId)"><img src="../../../../assets/images/RPA/icon_latest/delete.svg" alt="" class="testplus">&nbsp;Delete</button>
                  <button (click)="exportbot(bot)" mat-menu-item><img src="../../../../assets/images/RPA/icon_latest/export.svg" alt="" class="testplus">&nbsp;Export</button>
                </mat-menu>
              </span>
            </div>
            

          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="diagram_container" style="height:350px;top:6px;overflow:scroll">

        <button class="btn open-btn-click btn-xs" (click)="loadbotdata(bot.botId)">
          Click to open
        </button>

        <button (click)="loadbotdata(bot.botId)">
          <img  [src]="bot.svg" style="width:100%">
        </button>
      </div>

    </mat-expansion-panel>
      </div>
    </mat-accordion>

  </div>
  <!-- <mat-paginator #paginator2 [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true" class="newpaginationdiv"></mat-paginator> -->
  <div class="text-right">

    <pagination-controls class="pagination " (pageChange)="p = $event"></pagination-controls>
  </div>
  
  </div>

</div>

<div id="edit-bot" class="modal rpa-modal">
  <div class="rpa-modal-content">
    <div class="rpa-modal-header">
          <span class="rpa-modal-close" (click)="close()"><img src="../../../../assets/images/RPA/icon_latest/close.svg" alt=""></span>
          <h4>Edit Bot Details</h4>
    </div>
    <div class="modal-body">

      <form [formGroup]="editbot" (ngSubmit)="onEditBot()" >

        <div class="container m-contanier form-body">

          <div class="col-md-12 p-0 form-group">

            <label class="label-control" for="botName">Bot Name<span class="star">*</span></label>
            <input type="text" formControlName="botName" autocomplete="off" placeholder="Enter Bot Name" [(ngModel)]="botName" maxlength="31" (input)="validate(botName)" class="form-control" name="botName" (change)="checkBotnamevalidation()" required/>
            <div *ngIf="(editbot.get('botName').invalid && editbot.get('botName').touched) && !editbot.controls['botName'].hasError('maxlength')"  class="errspan required">
              Bot Name Required*
              </div>
              <div *ngIf="checkbotname && editbot.get('botName').touched"  class="errspan required">
                Bot Name is already exists*
              </div>
              <div *ngIf="botNamespace"  class="errspan required">Spaces are not allowed</div>

              <div *ngIf="editbot.controls['botName'].hasError('maxlength')"  class="errspan required">
                Maximum of 30 characters
              </div>

          </div>

          <div class="col-md-12 p-0 form-group">
            <label class="label-control" for="botDepartment">Category<span class="star">*</span></label>

            <select  [(ngModel)]= "rpaCategory" class="form-control" formControlName="department" name="botDepartment" >
              <option  value="" selected>--Select Category--</option>
              <option *ngFor ="let category of categaoriesList" [value]="category.categoryId">{{category.categoryName}}</option>
              <option  value='others'>Others</option>
            </select>
            <div *ngIf ="rpaCategory==='others'">
              <input type="text" class="form-control" formControlName="newCategoryName" onkeypress="return (event.charCode !== 32)" placeholder="Enter Category Name" [(ngModel)] ="newRpaCategory">
            </div>
            <div *ngIf="editbot.get('department').invalid && editbot.get('department').touched"  class="errspan required">
              Category Required*
            </div>

          </div>

          <div class="col-md-12 p-0 form-group">
            <label class="label-control" for="botDescription">Bot Description</label>
            <textarea type="text" autocomplete="off" formControlName="description"  placeholder="Enter Bot Description" ngModel maxlength="501" rows="3" class="form-control" name="botDescription"  ></textarea>
            
            <div *ngIf="editbot.controls['description'].hasError('maxlength')"  class="errspan required">
              Maximum of 500 characters
            </div>

          </div>
                    
        </div>

        <div class="form-footer">
          <button class="btn btn-primary edit-bot-button" [disabled]="editbot.invalid || botNamespace || checkbotname" >Save</button>
        </div>
      
      </form>

    </div>
  </div>
</div>

