a {
  color: #098de6;
}
.botpreviewtr {
  height: auto !important;
}
.rpa-home-block {
  margin-right: 10px;
}

tr.mat-footer-row,
tr.mat-row {
  height: auto !important;
}
.main-subheaderBtns {
  display: flex;
  align-items: center;
}
.rpa-home-btn-title {
  color: white;
  margin: 0px !important;
  padding: 6px 12px !important;
}
h4.col-heads {
  font-size: 20px;
  margin: 0px;
  margin-bottom: 10px;
  line-height: normal;
}
.rpa-mat-form-field-search {
  width: 20%;
  float: right;
}

tr.mat-header-row {
  height: 10px !important;
}

td {
  white-space: nowrap;
}

th {
  white-space: nowrap;
}

.mat-menu-item {
  height: 36px !important;
  line-height: 31px !important;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  text-align: center;
  content: "Select File";
  display: inline-block;
  background: #098de6;
  border-radius: 6px;
  padding: 6px 8px;
  outline: none;
  color: white;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 27px;
  font-size: 15px;
}

.custom-file-input:hover::before {
  border-color: none;
}

label.main-subtitle {
  font-size: 32px;
  font-weight: 700;
  color: #098de6;
  display: block;
}

label.subtitle-tag {
  margin-bottom: 15px;
  color: #232832;
}

.main-subheader {
  padding: 15px 6px 0px;
  margin: 0px 0px 15px;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 165px;
  background-color: #fff;
}

.mat-form-field-wrapper {
  padding: 0px !important;
  margin-left: 15px;
}

mat-expansion-panel-header .flex-col {
  padding: 8px;
  text-align: left;
  width: calc(100% / 6.3);
  font-size: 13px;
}

mat-panel-title.mat-expansion-panel-header-title {
  padding: 0px;
  border: medium none;
}

input.form-control.custom-file-input {
  padding-left: 0px !important;
}

.mat-expansion-panel:hover {
  background-color: #fdf6d4;
}

.main-subheaderTitle {
  margin-left: 20px;
  margin-bottom: 18px;
  margin-right: 25%;
}
/* 
button#create_Configuration {
  background-color: #fff !important;
  color: #098de6;
  border: 1px solid #098de6 !important;
  box-shadow: none;
} */

.main-subheader img {
  position: relative;
  bottom: -5px;
  width: 30%;
  height: 130px;
}

.rpa-home-table .mat-content span {
  font-size: 13px;
}

i.material-icons.expand-close {
  display: none;
}

.mat-expanded i.material-icons.expand-close {
  display: block !important;
}

i.material-icons.expand-open {
  display: block;
}

.mat-expanded i.material-icons.expand-open {
  display: none !important;
}

.no-item-img {
  height: 230px;
}

mat-expansion-panel-header .flex-col span {
  font-size: 13px;
}

button:disabled {
  background: none;
  opacity: 0.5;
  cursor: not-allowed;
}
button:disabled img {
  cursor: not-allowed;
}

.flex-col button:hover img.default-icon,
img.hover-icon {
  display: none;
}

.flex-col button:hover img.hover-icon {
  display : initial;
}
.cursor:hover{
  cursor: default;
}

input[type=file]::file-selector-button { 
    margin-right: 20px;
    border: none;
    background: #098de6; 
    margin-bottom: 10px !important; 
    border-radius: 4px; color: #fff; 
    cursor: pointer; 
    transition: background .2s ease-in-out; 
}
input[type=file]::file-selector-button:hover { 
  background: #098de6; 
}
.col-heads {
    margin-top: 17px !important;
}
.botpreviewtr .diagram_container {
background-color: #fff !important;
}
