body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400;
    color: #232832 !important;
    height: 100vh;
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
ol,
span,
button,
th,
td,
div {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  color: inherit;
}
.row {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}
::-webkit-scrollbar:hover {
  width: 8px !important;
  height: 8px !important;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #098de630;
  border-radius: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #098de6 !important;
  cursor: pointer;
  width: 8px;
  height: 8px;
}
#sidebar .menuList .menuListUl::-webkit-scrollbar {
  cursor: pointer;
}

.table th {
    border-top: none !important;
    font-weight: 700;
    border-bottom: 2px solid #098de6 !important;
    padding: 8px 10px !important;
    position: relative;
}
.table th:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom: 5px solid rgb(9 141 230 / 20%);
}
.table td {
    padding: 10px 10px !important;
    vertical-align: middle !important;
}

.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

/* Login/Index Page Styles */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loginmain {
    width: 360px;
    background-color: #fff;
    border: 2px solid #eef2f5;
    padding: 40px 60px;
    position: relative;
    border-radius: 8px;
    margin: auto;
    text-align: center;
}

.logininner img {
  height: 90px;
  width: auto;
}

.logininner form {
  padding-top: 25px;
}

.logininner p {
  margin-bottom: 25px;
}

.logininner form label {
  width: 100%;
  text-align: left;
  font-weight: 400;
  line-height: 27px;
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}
  
.logininner form input[type="text"],
.logininner form input[type="password"] {
    width: 90%;
    border: 1px solid #d6d6d6;
    padding: 13px 15px;
    font-size: 16px;
    border-radius: 4px;
    height: auto !important;
}

.logininner form a.btn-sign {
  width: 94%;
  background-color: #098DE6;
  color: #fff;
  border: 1px solid #098DE6;
  border-radius: 4px;
  box-shadow: unset !important;
  padding: 10px;
  font-size: 20px !important;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
}

.logininner form a.btn-sign:hover {
    background-color: #001c47;
    border-color: #001c47;
}

/* Login/Index Page Styles */

/* Header Styles Start */
.headersection {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #098DE6;
    padding: 0 !important;
    z-index: 1;
}
.right-content {
    display: flex;
    float: right;
    align-items: center;
    justify-content: flex-end;
}
.right-content ul {
    display: flex;
    margin: 0;
    margin-right: 25px;
    border-right: 1px solid #fff;
    padding: 0px 10px;
    align-items: center;
}  
.right-content ul li {
    list-style: none;
    text-align: center;
    margin-left: 20px;
    padding: 0px 5px;
    position: relative;
}
ul.headerdemo {
    position: relative;
    padding: 0px 30px 0px 0px;
    margin-right: 20px;
}
.headerdemo span {
    margin: 0px 30px 0px 8px;
    line-height: normal;
    color: #fff;
}
.right-content .headerdemo li {
    width: 100%;
    margin-right: 0px;
    padding: 0px;
    margin-left: 0px;
}
.rightloginmenu {
    display: flex;
    align-items: center;
}
span.h_userdetails {
    margin: 0px 30px 0px 10px;
    display: inline-block !important;
}
.rightloginmenu span {
    font-weight: 400;
    position: relative;
    letter-spacing: 0.2px;
    display: flex; 
    align-items: center; 
}
.h_userdetails label {
    display: block;
    margin: 0px;
    line-height: normal;
    color: #ffffff;
}
.h_userdetails label.userdesign {
    font-size: 12px !important;
}

/* Header Styles End */


/* Sidebar Styles Start */
nav#sidebar {
    background-color: #fbfbfb;
    width: 62px;
    margin-top: 60px;
    height: calc(100% - 60px);
    box-shadow: inset 0px 4px 8px rgb(0 0 0 / 12%);
}
.menuList {
    height: 100%;
    padding-top: 15px;
}
ul.menuListUl li a {
    padding: 10px;
    display: inline-flex;
    text-decoration: none !important;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}
ul.menuListUl li a img {
    width: auto;
    height: 22px;
}
ul.menuListUl li.active a img {
    height: 32px;
}
ul.menuListUl li.active a {
    padding: 5px 10px;
}
/* Sidebar Styles End */


/* Project Details Styles Start */
.maincont {
    width: calc(100% - 62px);
    height: calc(100vh - 60px);
    top: 60px;
    left: 62px;
    position: absolute;
    z-index: 0;
    background: #f9f9f9;
    /* box-shadow: 0px 0px 8px 0px #d1d1d1; */
}
.contentarea {
    height: 100%;
    padding: 16px;
    overflow: auto;
    position: relative;
}
.maincontent {
    height: 100%;
    width: 100%;
}

.main-content {
    height: 100%;
}
.main-content h3 {
  font-weight: 400;
  line-height: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
  margin:0px;
}
span.sub_title_text {
    font-weight: 600;
}

.main-content-head {
    align-items: center;
    display: flex;
    border-radius: 4px 4px 0px 0px;
}
.main-content-head button span {
    margin-left: 5px;
    font-size: 14px;
}
.main-content-body {
    height: calc(100% - 40px);
    overflow: auto;
    position: relative;
    padding: 10px 15px;
    border-radius: 0px 0px 4px 4px;
}

label#popup_title {
    margin: 0px;
}
#popup_title span {
    margin-right: 5px;
}
#popup_title a {
    cursor: pointer;
    margin-right: 8px;
}
#popup_title a:hover {
    color: #00a1e3;
}
#popup_title .rightareabtn {
    margin-left: 0px !important;
    margin-right: 8px;
    min-width: 0px;
} 


.row.project-Information {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    margin-bottom: 25px !important;
}
.row.project-overview {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
    border-radius: 6px;
}

.project-status {
    background-color: rgb(9 141 230 / 10%);
    border-radius: 6px 0px 0px 0px;
    height: 100%;
    text-align: center;
    padding: 30px 10px !important;
    display: block !important;
}
.project-status p{ 
    font-size: 12px;
    margin:0px;
}
.project-ninfo {
    padding: 20px !important;
}
.project-ninfo .col-md-10.pl-0 ,.project-ninfo .col-md-10.pl-0 .row {
    align-items: center;
    display: flex;
}
span.project-name {
    font-size: 32px;
    font-weight: 600;
    margin-right: 10px;
}
span.highimp {
    color: #EA3D3D;
    margin: 3px 0px 0px 5px;
}
.col-md-3.p-0.pinf p {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}
.col-md-3.p-0.pinf label {
    color: #535353;
}
.kpibot {
    border-left: 1px solid #e0e0e0;
    padding-left:15px !important;
}
.kpibot p {
    font-size: 44px;
    margin-bottom: 2px;
    line-height: 1;
}
.robotimg {
    position: absolute;
    top: -50%;
    left: 40%;
    width: auto;
    height: 130px
}
.row.project-description {
    background-color: #fff;
    border-top: 1px solid #e0e0ee;
    padding: 15px 20px !important;
    border-radius: 0px 0px 6px 6px;
    width: 100%;
}
.project-description label {
    margin: 0px 10px 0px 0px !important;
    border-right: 1px solid #dbdbdb;
    padding-right: 10px;
    align-items: center;
    display: flex;
    font-size: 12px;
}
.project-description p {
    margin: 0px;
    width: 75%;
    font-size: 16px;
}
.project-description span.readmore {
    color: #098de6;
    cursor: pointer;
}

.activecollaboration {
    padding: 0px;
    height: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 6px;    
    background-color: #fff;
    position: relative;
}
.collab {
    padding: 20px !important;
    border-radius: 6px 6px 0px 0px;
}
.row.lftusermsg {
    background: #EDF6FD;
    border-radius: 0px 15px 15px 15px !important;
    padding: 15px 6px 10px 30px !important;
    margin: 10px 0px !important;
    position: relative;
}
.row.lftusermsg p {
  width: 100%;
}
.row.rgtusermsg {
  background: #42A7EB;
  border-radius: 15px 0px 15px 15px;
  padding: 15px 10px !important;
  margin: 10px 0px 20px 0px !important;
  color: #fff;
}
.lftuserimg img {
  position: absolute;
  top: -4px;
}
.row.lftusermsg>img {
  position: absolute;
  top: -8px;
  left: -8px;
}
.rgtusermsg p.rttime {
  text-align: right !important;
  width: 100%;
  font-size: 12px;
  margin-bottom: 0px;
}
label.colheads {
    font-weight: 900;
    font-size: 20px !important;
    margin-bottom: 20px;
}
.collab p {
  margin-bottom: 10px;
}
.row.lftusermsg p.userinfo {
    color: #7D7D7D;
    font-size: 12px;
    margin-bottom: 0px;
}
.lftusermsg a {
  color: #098DE6;
}
.lftusermsg a img {
  padding-right: 5px;
}
.row.collabottom {
  padding: 10px !important;
  background: #EDEBEB;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  bottom: 0;
}
input.msgip {
    width: 88%;
    height: 56px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #979797;
    padding: 5px 5px 5px 15px;
}
.collabottom button {
  display: inline;
  background: transparent !important;
  padding: 0px 4px !important;
  min-width: 15px !important;
}
.collabottom button:last-child {
    padding: 0px 0px 0px 4px !important;
}


.acresources {
  border: 1px solid #dbdbdb;
  padding: 20px !important;
  border-radius: 6px;
  padding-bottom: 5px !important;
  background-color: #fff;
}
.acresources .blue-btntext {
    padding: 0px 10px;
    margin-bottom: 20px;
}
button.btn.blue-btntext a{
    color: #098de6 !important;
    font-size: 16px;
}
.imgInFirstCol td img {
    border: 2px solid #098de6;
    border-radius: 10px;
    margin-right: 2px;
}
.row.quicksnapshot-cards {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    padding: 10px 15px !important;
    margin: 0px 0px 25px 0px !important;
}
/* .row.quicksnapshot-cards.lastrow-cards {
    margin: 0px 0px 20px 0px !important;
} */
.qcard-info {
    margin-left: 15px;
    width: 70%;
}
label.qcard-count {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 0px;
}
p.qcard-name {
    margin-bottom: 0;
    font-size: 16px;
}
.quick-actions {
    margin-bottom: 25px !important;
}
.quick-actions h6 {
    margin-bottom: 0px !important;
    line-height: 1.5;
    margin-right: 10px;
}
.quick-actions button.btn.blue-btntext {
    padding: 0px 0px 0px 10px !important;
}
button.btn:focus {
    box-shadow: none;
}
/* .qcard-infoimg {
    width: 30%;
} */

/* Project Details Styles End */

/* Responsive Styles (1920px) Start */

@media screen and (min-width:1600px) {
    body,
    .main-content-head button span {
        font-size: 16px !important;
    }
    .main-content h3 {
        font-size: 18px !important;
    }

    .h_userdetails label.userdesign ,
    .row.lftusermsg p.userinfo ,
    .rgtusermsg p.rttime ,
    .project-status p,
    .project-description label {
        font-size: 15px !important;
    }
    input.msgip {
        width: 84%;
    }
}

/* Responsive Styles (1920px) End */


/* Tasklist View Styles Start */

.tabsblock .nav-tabs .nav-link {
    border: none !important;
}
.tabsblock .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: transparent !important;
}
.tabsblock .nav-tabs {
    border: 1px solid #D0D0D0 !important;
    background-color: #fff;
    border-radius: 6px;
    height: 70px;
    width: 100%;
    /* justify-content: space-between; */
}
.tabsblock li.nav-item {
    padding: 0px 20px;
    height: 100%;
}
.tab-content {
    margin-top: 15px;
    /* overflow: auto; */
    height: calc(100% - 90px);
}
.main-content-body.tasklist-content {
    overflow: hidden;
}
.tabsblock {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.tabsblock ul.nav.nav-tabs li a {
    padding: 0px 15px;
    border-bottom: 5px solid #eee0 !important;
    position: relative;
    top: 2px;
    margin: 0px;
    font-weight: 400;
    color: #232832;
    height: 100%;
}  
.tabsblock ul.nav.nav-tabs li .active {
  border-color: #098de6 !important;
}
span.taskscount {
    font-size: 44px;
    margin-right: 5px;
}
td p {
    margin: 0;
}
td.highpriority,
td p.highpriority {
    color: #EA3D3D;
}
td.mediumpriority,
td p.mediumpriority {
    color: #E58600;
}
td.lowpriority,
td p.lowpriority {
    color: #27AD74;
}
span.username {
    background-color: #DCF0FE;
    padding: 5px 7px;
    border-radius: 8px;
}

.searchdiv input {
    position: relative;
    color: #232832;
}
.searchdiv input:focus,
.searchdiv input:active{
   outline: none;
   border-color: #098de6;
   box-shadow: none;
}

.searchdiv img {
    position: absolute;
    right: 15px;
    top: 10px;
}

/* Tasklist View Styles End */

/* Project List View Styles Start */
.table {
    color: #232832 !important;
    margin-bottom: 0 !important;
}
td img.action-img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

td img.action-img:last-child {
    margin-right: 0px !important;
}

div.tab-pane {
    height: 100%;
}
.tablediv {
    overflow:auto;
    height: calc(100% - 55px);
}
/* Project List View Styles End */

/* Overlay Styles */
#overlayusers {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(68 68 68 / 50%);
    z-index: 2;
    cursor: pointer;
}
  
.userstabsblock{
    background-color: #fff;
    height: 100%;
    width: 650px;
    position: absolute;
    right: 0%;
    top:60px;   
}
li.close {
    margin-left: auto;
    align-items: center;
    display: inline-flex;
    margin-right: 10px;
}
/* Overlay Styles */
.table {
    color: #232832 !important;
    margin-bottom: 0 !important;
}
.table th {
    border-top: none !important;
    font-weight: 700;
    border-bottom: 2px solid #098de6 !important;
    padding: 8px 10px !important;
    position: relative;
}
.table th:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom: 5px solid rgb(9 141 230 / 20%);
}
.table td {
    padding: 10px 10px !important;
    vertical-align: middle !important;
}
