<div class="maincontent">
  <div class="h-100">
      <!-- <div class="row main-content-head">
          <div class="col-md-8 pl-0">
              <h3>
                  <label id="popup_title">
                      <a (click)="backToProjectDetails()" class="imageBox">
                        <img class="default-arrow" src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
                        <img class="hover-arrow" src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt=""> 
                      </a>
                  </label>
                  <span class="title_text_haspath">
                    <span routerLink="/pages/projects/listOfProjects" class="breadcrum-back">Projects</span> <span class="breadcrum-align">/</span> <span (click)="backToProjectDetails()" class="breadcrum-back">{{project_name}}</span> <span class="breadcrum-align">/</span> <span class="sub_title_text"> Tasks</span>
                  </span>
              </h3>
          </div>
          <div class="col-md-4 pr-0 text-right">
              <button  (click)="onCreateTask()" class="btn grey-btn configure-pad" >
                  <img src="./../../../../assets/images-n/dashboard/plus-square_grey.svg" alt="Create" class="imgicon-width">
                  <span class="plus">Create Task</span>
                  <span>Create</span>
              </button>
              <button class="btn">
                  <img src="./../../../../assets/images-n/projects/more-vertical.svg" alt="Actions">
                  <span>Actions</span>
              </button>
          </div>
      </div> -->
      <!-- <div class="main-content-body tablist-cont"> -->
        <div>
            <div class="col-md-4 pl-0">
                <h4 class="colheads"> Tasks</h4>
            </div>
            
          <div class="h-100">
              <div class="tabs_screen h-100" id="">
                  <!-- <p-tabView #tabView (onChange)="onTabChanged($event, tabView)">
                      <p-tabPanel [header]="each.tabName" *ngFor="let each of _tabsList; let i = index"
                          [selected]="i == 0">
                          <ng-template pTemplate="header">
                              <div class="status-tabs newstatu">
                                  <div class="status-img">
                                      <img src="../assets/images-n/projects/{{each.img_src}}" alt="">
                                  </div>
                                  <div class="status-data">
                                      <span class="tabscount">{{each.count}}</span>
                                      <span class="">{{each.tabName}}</span>
                                  </div>
                              </div>
                          </ng-template>
                      </p-tabPanel>
                      <div class="gridparentdiv">
                          <app-dynamic-table 
                            [columns_list]="columns_list" 
                            [table_data]="tasks_list"
                            (viewItem)="viewDetails($event)" 
                            (deleteItem)="deletetask($event)"
                            [representatives]="representatives" 
                            [screenTable]="'taskList'" 
                            [dataKeyId]="'id'" 
                            [search_fields]="table_searchFields"
                            [selectionMode]="'single'" 
                            (openTaskWorkSpace)="openTaskWorkSpace($event)"
                            [show_search_field]="true"
                            [show_column_filter]="true"
                            [show_clear_filter]="true"
                            (onRowDoubleClick)="viewDetails($event)"
                            [show_view_btn]="true"
                            [show_delete_btn]="true"
                            >
                          </app-dynamic-table>
                      </div>
                  </p-tabView> -->
                  <div class="gridparentdiv">
                    <app-dynamic-table 
                      [columns_list]="columns_list" 
                      [table_data]="tasks_list"
                      (viewItem)="viewDetails($event)" 
                      (deleteItem)="deletetask($event)"
                      [representatives]="representatives" 
                      [screenTable]="'taskList'" 
                      [dataKeyId]="'id'" 
                      [search_fields]="table_searchFields"
                      [selectionMode]="'single'" 
                      (openTaskWorkSpace)="openTaskWorkSpace($event)"
                      [show_search_field]="true"
                      [show_column_filter]="true"
                      [show_clear_filter]="true"
                      (onRowDoubleClick)="viewDetails($event)"
                      [show_view_btn]="true"
                      [show_delete_btn]="true"
                      >
                    </app-dynamic-table>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div [hidden]="!hiddenPopUp">
    <app-split-overlay (closeOverlay)="closeOverlay($event)">
        <div class="h-100">
            <div class="create-header">
                <h3>Create Task</h3>
            </div>
            <div class="h-100">
                <app-create-tasks 
                    [users_list]="users_list" 
                    [params_data]="params_data" 
                    [hiddenPopUp]="hiddenPopUp" 
                    [project_name]="project_name"
                    [existingUsersList]="existingUsersList"
                ></app-create-tasks>
            </div>
        </div>
    </app-split-overlay>
</div>

<p-confirmDialog [style]="{width: '30vw'}" position="center" [baseZIndex]="10000"  key="taskDelete"
 [closable]="false">
</p-confirmDialog>
