td p {
    margin: 0;
}
td.highpriority,
td p.highpriority {
    color: #EA3D3D;
}
td.mediumpriority,
td p.mediumpriority {
    color: #E58600;
}
td.lowpriority,
td p.lowpriority {
    color: #27AD74;
}

  .status-tabs {
    display: flex;
    padding: 0px;
  }

  .status-img>img {
    height: 40px !important;
  }
  .newstatu .status-img img {
    padding: 0px;
    display: inline-flex;
    align-items: center;
  }
  
  .newstatu .status-data {
    text-align: left;
  }
  
  .status-data {
    vertical-align: middle;
    color: black !important;
  }
  
  span.tab-text {
    /* display: block; */
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    color: #535353;
  }
  
  .d-flex{
    display: flex;
  }
  
  .py-5{
    padding:5px;
  }
