
.tabsblock .nav-tabs .nav-link {
    border: none !important;
}
.tabsblock .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: transparent !important;
}
.tabsblock .nav-tabs {
    border: 1px solid #D0D0D0 !important;
    background-color: #fff;
    border-radius: 6px;
    height: 70px;
    width: 100%;
    /* justify-content: space-between; */
}
.tabsblock li.nav-item {
    padding: 0px 20px;
    height: 100%;
}
.tab-content {
    margin-top: 15px;
    /* overflow: auto; */
    height: calc(100% - 90px);
}
.main-content-body.tasklist-content {
    overflow: hidden;
}
.tabsblock {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.tabsblock ul.nav.nav-tabs li a {
    padding: 0px 15px;
    border-bottom: 5px solid #eee0 !important;
    position: relative;
    top: 2px;
    margin: 0px;
    font-weight: 400;
    color: #232832;
    height: 100%;
}  
.tabsblock ul.nav.nav-tabs li .active {
  border-color: #098de6 !important;
}
span.taskscount {
    font-size: 44px;
    margin-right: 5px;
}
td p {
    margin: 0;
}
td.highpriority,
td p.highpriority {
    color: #EA3D3D;
}
td.mediumpriority,
td p.mediumpriority {
    color: #E58600;
}
td.lowpriority,
td p.lowpriority {
    color: #27AD74;
}
span.username {
    background-color: #DCF0FE;
    padding: 5px 7px;
    border-radius: 8px;
}

.searchdiv input {
    position: relative;
    color: #232832;
}
.searchdiv input:focus,
.searchdiv input:active{
   outline: none;
   border-color: #098de6;
   box-shadow: none;
}

.searchdiv img {
    position: absolute;
    right: 15px;
    top: 10px;
}