<div class="maincont">  
   <div class="maincont-contentarea">
      <div class="maincontent">
         <div class="dashboard-main">
            <img src="../../../../assets/images-n/dashboard/LetsStart.svg" class="dashboard-img" alt="" />
            <h2 class="dashboard-header" >Design your own dashboard</h2>
            <button class="btn bluebg-button" (click)="showModalDialog()">Let's Start</button>
         </div>
         
         <!-- <div  class="dialogue-check"> -->
            <p-dialog header=" Create Dashboard"  class="createdashboardname" [(visible)]="displayModal" [modal]="true"  [baseZIndex]="10000" 
               [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
               <div class="form-group">
                  <label for="" class="label-control">Name<span class="star">*</span></label>
                  <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="entered_name" />
               </div>
               <ng-template pTemplate="footer">                  
                  <button class="btn new-cancelbtn" (click)="displayModal = false">Cancel</button>
                  <button class="btn bluebg-button" (click)="navigateconfigure()" [disabled]="!(entered_name.length >= 5)">Save</button>
               </ng-template>
            </p-dialog>
         <!-- </div> -->
      </div>
   </div>
</div>
<p-toast  [style]="{marginTop: '50px'}" ></p-toast>
