<div class="bg-color">
    <div class="container-fluid">
        <br>
        <div class="text-right">
            <span style="padding:10px">
              <mat-form-field class="example-full-width" id="inboxsearch">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search" [(ngModel)]="searchinbox" (keyup)="applyFilter($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </span>
          <span (click)="reset()"  style="cursor:pointer" id="inboxreset" matTooltip="Reset">
            <i  class="fa fa-undo"></i>
          </span >
        </div>
          <div class="row">
            <div class="col-md-12">
              <mat-card>
                <table mat-table  [dataSource]="dataSource1" #sort1="matSort" matSort class="table" id="inboxtable">

                    <ng-container matColumnDef="processName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Process Name </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="element.processName!=null">{{element.processName}}</span>
                          <span *ngIf="element.processName==null">-</span> </td>
                    </ng-container>

                    <ng-container matColumnDef="processRunId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Run Id</th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.processRunId!=null">{{element.processRunId}}</span>
                        <span *ngIf="element.processRunId==null">-</span> </td>
                  </ng-container>

                    <ng-container matColumnDef="taskName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Name </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="element.taskName!=null">{{element.taskName}}</span>
                          <span *ngIf="element.taskName==null">-</span> </td>
                    </ng-container>
                    <ng-container matColumnDef="previousTask">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Previous Task </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.previousTask!=null">{{element.previousTask}}</span>
                        <span *ngIf="element.previousTask==null">-</span> </td>
                  </ng-container>

                    <ng-container matColumnDef="nextSuccessTask">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Next Task (Upon Success) </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.nextSuccessTask!=null">{{element.nextSuccessTask}}</span>
                            <span *ngIf="element.nextSuccessTask==null">-</span> </td>
                    </ng-container>

                    <ng-container matColumnDef="nextFailureTask">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Next Task (Upon Failure) </th>
                      <td mat-cell *matCellDef="let element">
                          <span *ngIf="element.nextFailureTask!=null">{{element.nextFailureTask}}</span>
                          <span *ngIf="element.nextFailureTask==null">-</span> </td>
                  </ng-container>
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>Action </th>
                    <td mat-cell *matCellDef="let element">
                      <span>
                        <button [disabled]="element.status=='Approved' || element.status=='Rejected'" [class]="(element.status=='Approved' || element.status=='Rejected')?'undobtn':''" (click)="getapproved(element.processId,'Approved', element.taskId,element.processRunId,element.envId)"  matTooltip="Approve">
                          <i  class="fas fa-check text-success"></i>
                        </button>
                        
                      </span>&nbsp;&nbsp;&nbsp;
                      <span>
                        <button [disabled]="element.status=='Approved' || element.status=='Rejected'" [class]="(element.status=='Approved' || element.status=='Rejected')?'undobtn':''" (click)="getapproved(element.processId,'Rejected', element.taskId,element.processRunId,element.envId)"  matTooltip="Reject">
                          <i  class="fas fa-times text-danger"></i>
                        </button>
                       
                      </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                  <td mat-cell *matCellDef="let element">

                    <span *ngIf="element.status=='Approved'" class="text-success"><span><li class="verticalalignmiddle fa fa-check-circle"style="font-size:19px"></span>&nbsp;<span>{{element.status}}</span></span>

                    <span *ngIf="element.status=='Rejected'" class="text-danger"><span><li class="verticalalignmiddle fa fa-times-circle" style="font-size:19px"></span>&nbsp;<span>{{element.status}}</span></span>
					  
                    <span *ngIf="element.status=='Pending'" ><span class="verticalalignmiddle text-warning" style="font-size:19px;"><!--<img src="../../../../assets/images/RPA/userobot.png" style="filter: none; width: 19px;">--><i class="fa fa-clock"></i></span>&nbsp;<span>{{element.status}}</span></span>
                    
                    <span *ngIf="element.status==null">---</span>
                     
                  </td>
              </ng-container>
                    <!--<ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef >Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <span (click)="botidshowaction(10)"  matTooltip="Start Bot">
                              <li class="fa fa-check text-primary" ></li>
                            </span>&nbsp;&nbsp;
                            <span (click)="removeBot()"  matTooltip="Pause Bot">
                              <i class="fa fa fa-times text-danger " aria-hidden="true"></i> &nbsp;&nbsp;
                            </span>
                        </td>
                    </ng-container>-->
                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell class="mat-footer" style="text-align:center" *matFooterCellDef colspan="8">
                            No Records Found
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr class="row-highlight" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="row-highlight mat-footer" mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !respdata1}"></tr>
                </table>
                <mat-paginator #paginator1 [pageSize]="10" [showFirstLastButtons]="true"></mat-paginator>
              </mat-card>

            </div>
        </div>
      </div>
      <br><br>

</div>
<!--<div id="showaction" class="rpa-modal">
    <div class="rpa-modal-content">
        <div class="rpa-modal-header">
            <span class="rpa-modal-close" (click)="showactionclose()">&times;</span>
            <h4>Logs</h4>
        </div>
        <div>
                <label>Logs</label>
        </div>
    </div>
</div>-->

