<div class="so-sub-tab-content">
  <div class="">
      <div class="Inboxtab-btns">
          <!-- <div class="col-md-3 form-group pl-0 example-full-width sosearchfield" id="inboxsearch">
              <input class="form-control" placeholder="Search Inbox" [(ngModel)]="searchinbox" (keyup)="applyFilter($event.target.value)">
              <img src="../../../../assets/images/search.svg" alt="" class="testplus">
          </div> -->
          <div class="">
              <!-- <button (click)="reset()" id="inboxreset" class="tsttooltipbtn" pTooltip="Reset"  tooltipPosition="top">
                <img src="../../../../../assets/images/RPA/icon_latest/reset-blue.svg" class="testplus">
              </button > -->
              <button (click)="refresh()" id="inboxrefresh" class="tsttooltipbtn" pTooltip="Refresh"  tooltipPosition="top">
                <img src='../../../../../assets/images/RPA/icon_latest/repeat-blue.svg' class="testplus">
                <!-- <span class="testtooltip">Refresh</span> -->
              </button >
            </div>          
      </div>
    
          <!-- <div class="col-md-12 p-0"> -->
            <div  class="inbox-tablegrid">
              <app-dynamic-table 
              [table_data]="response" 
              [columns_list]="columns_list"
              [show_search_field]="true"
              [show_column_filter]="true"
              [show_clear_filter]="true"
              [show_approve_btn]="true"
              [show_reject_btn]="true"
              (approvedItem)="getapproved($event,'Approved')"
              (rejectItem)="getapproved($event,'Rejected')"
              [search_fields]="table_searchFields"
              ></app-dynamic-table>
          </div>


  </div>

</div>
<!--<div id="showaction" class="rpa-modal">
  <div class="rpa-modal-content">
      <div class="rpa-modal-header">
          <span class="rpa-modal-close" (click)="showactionclose()">&times;</span>
          <h4>Logs</h4>
      </div>
      <div>
              <label>Logs</label>
      </div>
  </div>
</div>-->