.bg-color {
    background-color: rgb(241, 240, 240);
}

.undobtn {background-color:gainsboro; border-radius: 5px;}

.verticalalignmiddle{
    vertical-align: middle !important;
}

.inbox-tablegrid {
    width: 100%;
    overflow-x: scroll;
    padding-top: 20px;
  }
  
  .inbox-tablegrid table td span{
    font-size: 13px !important;
  }

  button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }