<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4" id="title">
            <h5 style="font-weight:600;color: rgb(90, 88, 88)">     <img src="assets/images/Group 208.svg" style="padding-right: 10px">Data Document</h5>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="searchblock">
                <input type="text" placeholder="Search" aria-label="Search" id="search_process_data">
                <i class="fa fa-search" aria-hidden="true" style="color: gray"></i>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <button class="btn btn-primary" id="generateGraph" (click)="generatepg()" [disabled]="isValidPiData">
                <img src="assets/images/Group 77.svg" style="padding-right: 10px">Generate Process Graph</button>
        </div>
    </div>


    <div class="row">
        <ul class="nav navbar-nav sel_row">
          <li>
          <h5 id="scid"><b>Select Column - Step {{step_id}}/6:"{{headerName}}"</b></h5>
          </li>
          <li>
            <h6 id="link">(Click on the {{headerName}} Value Column for Data mapping)</h6>
          </li>
          <li>
            <h6 class="svg_icons">
              <svg width="12" height="12">
                <rect width="12" height="12" style="fill:rgb(84, 168, 236);stroke-width:3" />
              </svg>

              Success Mapping</h6>
          </li>
          <li>
            <h6 class="svg_icons">
              <svg width="12" height="12">
                <rect width="12" height="12" style="fill:rgb(212, 105, 105);stroke-width:3" />
              </svg>

              Error Mapping</h6>
          </li>
          <li></li>
        </ul>
      </div>
    <div class="">
        <table class="table" id="process_data">
            <thead #header>
                <tr>
                    <th *ngFor="let headValue of headerData;trackBy:loopTrackBy" (click)= "sort(headValue)">
                    {{headValue}}
                    </th>
                </tr>
            </thead>
            <tbody #container>
                <tr *ngFor="let row of fileData;trackBy:loopTrackBy;let i=index;">
                     <td *ngFor="let val of headerData; let i =index;trackBy:loopTrackBy" (click)="selectedCell(i,$event)" [class.valid]="i == selectedcell"> 
                      <!-- <td *ngFor="let val of headerData; let i =index;trackBy:loopTrackBy" (click)="selectedCell(i,$event)" [ngClass]="i==selectedcell ? 'valid' : 'invalid'"> -->
                      {{row[i] || ' '}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>