/* 
.inner-addon i{
    position: absolute;
    padding-left: 90%;
    pointer-events: none;
    width: 50px;
    margin-top: 10px
}
.right-addon input{ padding-right: 20px !important; }
input[type="text"]{
    padding:4px !important;
  } */

.new-PI-layout {
    /* overflow: hidden auto;
    height: calc(100% - 50px);
    position: relative; */
    padding: 15px 10px 10px;
}

.PI-serwksp input {
    height: 36px;
} 
.PI-srh-graph {
    width: 24%;
    float: right;
}
.resur-value-data h5 {
    color: #00a0e3;
    font-weight: 600;
    margin: 0px;
}
.err-mapping small {
    padding-right: 15px;
    font-size: 13px;
}
.err-mapping span {
    padding-right: 10px;
    font-size: 13px;
}
.err-mapping img {
    padding-right: 5px;
    height: 13px;
}
.err-mapping {
    margin-top: 6px;
}
.PI-select-data {
    color: unset !important;
    margin: 0px !important;
    width: 70%;
}
.PI.table th {
    border-bottom: unset !important;
}

.modal-body.modelprbody.datadocmodal {
    height: calc(100vh - 280px);
}