.PI-srh-graph {
    display: flex;
    align-items: center;
    justify-content: end;
}
.PI-serwksp input {
    height: 36px !important;
} 
.err-mapping span {
    padding-right: 10px;
    font-size: 14px;
}
.err-mapping img {
    padding-right: 6px;
    height: 14px;
}
.err-mapping {
    margin-top: 6px;
}


.resur-value-data h5 {
    color: #098de6;
    font-weight: 600;
    margin: 0px;
}
.err-mapping small {
    padding-right: 15px;
    font-size: 13px;
}


.PI.table th {
    border-bottom: unset !important;
    padding: 0px 10px !important;
    background-color: #f9f9f9 !important;
    color: #232832 !important;
    font-weight: 600;
}
.PI.table th:first-child {
    padding-left: 0px !important;
}
.PI.table th:last-child {
    padding-right: 0px !important;
}
.PI.table thead tr {
    height: 24px !important;
    border-bottom: unset !important;
}
.PI.table thead tr th::before {
    border-bottom: unset !important;
}
.PI.table th select {
    margin-bottom: 10px !important;
    height: 36px !important;
}

.modal-header.modelprhead, .modelprfooter {
    padding: 15px !important;
}
.modal-body.modelprbody.datadocmodal {
    height: calc(100vh - 280px);
    padding: 15px !important;
}

.vewmore-btn{
    margin-left: 15px;
    color: black;
    margin-top: 65px;
}
.vewmore-btn:hover{
    font-weight: bold;
}
