.projects-menu-item {
  padding: 5px;
  font-size: 22px;
  color: #00a0e3;
  cursor: pointer;
}

.status-tabs {
  display: flex;
  padding: 0px;
}

.status-img>img {
  height: 40px !important;
}

.newstatu .status-img img {
  padding: 0px;
  display: inline-flex;
  align-items: center;
}

.newstatu .status-data {
  text-align: left;
}

.status-data {
  vertical-align: middle;
  color: black !important;
}

.projects-table-body {
  padding: 0px 15px;
}

.mat-card-content>:first-child,
.mat-card>:first-child {
  margin-top: 0;
  line-height: 16px;
}

span.projects-menu-item.vreatbu {
  background-color: #00a0e4;
  color: #fff;
  font-size: 14px;
  padding: 7px 11px;
  display: inline-block;
  border-radius: 2px;
  margin-right: 13px;
  margin-top: 0px;
  position: relative;
  top: -5px;
}

span.tab-text {
  /* display: block; */
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: #535353;
}

.prj-lstscr-btn button {
  background-color: #00a0e3 !important;
  border: none;
  margin-right: 0px !important;
  border-radius: 3px !important;
}

.prj-lstscr-btn button:hover {
  background-color: #001c47 !important;
  color: #fff;
  font-weight: 400 !important;
  border: none;
}

.d-flex{
  display: flex;
}

.py-5{
  padding:5px;
}