<div>
    <mat-card>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="">
                <img src="..\assets\images\Projects\total projects.svg" alt="" style="margin-left: -105px;" >
              </span>
              
              <span class="tab-number" style="font-size: 20px;margin-left: 33px;margin-top: -35px;">30</span>
              <span class="tab-text" style="margin-left: 45px;">Total Projects</span>
            </ng-template>
            <div>
              <app-projects></app-projects>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <img src="..\assets\images\Projects\new.svg" alt="" style="margin-left: -35px;">
              <span class="tab-number" style="font-size: 20px;">10</span>
              <span class="tab-text">New</span>
            </ng-template>
            <div>
             
            </div>
          </mat-tab>  
          <mat-tab>
            <ng-template mat-tab-label>
              <img src="..\assets\images\Projects\inprogress.svg" alt="" style="margin-left: -46px;">
              <span class="tab-number" style="font-size: 20px;">2</span>
              <span class="tab-text">In Progress</span>
            </ng-template>
            <div>
              
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <img src="..\assets\images\Projects\inreview.svg" alt="" style="margin-left: -46px;">
              <span class="tab-number" style="font-size: 20px;">2</span>
              <span class="tab-text">In Review</span>
            </ng-template>
            <div>
             
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <img src="..\assets\images\Projects\approved.svg" alt="" style="margin-left: -46px;margin-top: 2px;">
              <span class="tab-number" style="font-size: 20px;">5</span>
              <span class="tab-text">Approved</span>
            </ng-template>
            <div>
              
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <img src="..\assets\images\Projects\rejected.svg" alt="" style="margin-left: -62px;">
              <span class="tab-number" style="font-size: 20px;">11</span>
              <span class="tab-text">Rejected</span>
            </ng-template>
            <div>
             
            </div>
          </mat-tab>    
        </mat-tab-group>
    </mat-card>
    </div>