

<div class="container-fluid mx-3">
  <div class="env-data-tool"> 
  <div class="env-btn">
      <button   value="Create" title="Create Environment" id="addenvbtn" (click)="create()" >
        <img style="height:20px" src='..\\assets\\images\\RPA\\rpa-env-add-btn.svg'> 
        <div>New</div>
      </button>
    </div>
    
    <div *ngIf="deleteflag==true" class="env-btn">
      
      <button   title="Delete Environment"  value="Delete" id="deleteenvbtn" (click)="deleteEnvironments()" >
        <img style="height:20px"  src='..\\assets\\images\\RPA\\rpa-env-delete-btn.svg'> 
        <div>Delete</div>
      
      </button>
    
    </div>
    
    <div *ngIf="deleteflag==false" class="env-btn">
    
      <button data-toggle="tooltip" data-placement="top" id="deleteenvbtn" title="Delete Environment" disabled>

        <img  style="height:20px" src='..\\assets\\images\\RPA\\rpa-env-delete-btn.svg'> 
        <div>Delete</div>
      </button>
    
    </div>
    
    <div *ngIf="updateflag==true" class="env-btn">
    
      <button  id="updateenvbtn" data-toggle="tooltip" data-placement="bottom" title="Edit Environment"  (click)="updatedata()">
    
        <img  style="height:20px" src='..\\assets\\images\\RPA\\rpa-env-edit-btn.svg'> 
        <div>Update</div>
        
      </button>
    
    
    </div>
    
    
    <div *ngIf="updateflag==false" class="env-btn">
      
      
      <button data-toggle="tooltip" id="updateenvbtn" data-placement="top" title="Edit Environment" disabled>
        
        
        <img  style="height:20px" src='..\\assets\\images\\RPA\\rpa-env-edit-btn.svg'> 
        
        <div>Update</div>
      
      </button>

    
    </div>
    
      <div *ngIf="deleteflag==true" class="env-btn">
      
        
        <button data-toggle="tooltip" data-placement="top" id="deleteenvbtn"  (click)="deploybotenvironment()" title="Deploy Bot Environment" >
  
          <img  style="height:20px" src='..\\assets\\images\\RPA\\deploy_icon.svg'> 
          <div>Deploy</div>
        </button>

      </div>
      
      <div *ngIf="deleteflag==false" class="env-btn">
      


        <button data-toggle="tooltip" id="updateenvbtn" data-placement="top" [disabled]="!(deleteflag==true)"  title="Deploy Bot Environment" disabled> 
          <img  style="height:20px" src='..\\assets\\images\\RPA\\deploy_icon.svg'> 
          <div>Deploy</div>
        </button>
  
      
      </div>
      
    
   <!-- <div class="env-search">
      <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>-->
  </div>
    <table datatable [dtTrigger]="dtTrigger" id="listofenv" [dtOptions]="dtOptions" class="table rpa-table table-striped  table-sm row-border hover env-table" >
      <thead>
        <tr>
          <th  class="rpa-checkbox-th checkboxes"><input type="checkbox" [checked]="isAllCheckBoxChecked()" id="checkall" (change)="checkAllCheckBox($event)"></th>
          <th>Environment Name</th>
          <th>Environment Type</th>
          <th>Agent Path</th>
          <th>Host Address</th>
          <th>Username</th>
          <th>Password</th>
          <th>Connection Type</th>
          <th>Port</th>
          <th>Created At</th>
          <th>Status</th>
          <th>Deployed</th>
          
        </tr>
      </thead>
      <tbody >
        <tr  *ngFor="let environment of environments;let i=index; let odd = odd;" [ngClass]="odd ? 'odd_col' : 'even_col'">
        <td class="rpa-checkbox" ><input type="checkbox" class="checkupdateordelete" value="{{environment.id}}" [(ngModel)]="environments[i].checked" (change)="checkEnableDisableBtn()"></td>
          <td *ngIf="environment.environmentName==''">-</td>
          <td *ngIf="environment.environmentName!=''"> {{environment.environmentName}}</td>
          <td *ngIf="environment.environmentName==''">-</td>
          <td *ngIf="environment.environmentType!=''">{{environment.environmentType}}</td>
          <td *ngIf="environment.agentPath==''">-</td>
          <td *ngIf="environment.agentPath!=''">{{environment.agentPath}}</td>
          <td>xx.xx.xx</td>
          <td *ngIf="environment.username==''">-</td>
          <td *ngIf="environment.username!=''">{{environment.username}}</td>
          <td *ngIf="environment.password==''">-</td>
          <td *ngIf="environment.password!=''">*******</td>
          <td *ngIf="environment.connectionType==''">-</td>
          <td *ngIf="environment.connectionType!=''">{{environment.connectionType}}</td>
          <td *ngIf="environment.portNumber==''">-</td>
          <td *ngIf="environment.portNumber!=''">{{environment.portNumber}}</td>
          <td *ngIf="environment.createdTimeStamp==''">-</td>
          <td *ngIf="environment.createdTimeStamp!=''">{{environment.username}}</td>
          <td>
            <div  *ngIf="environment.activeStatus == 7" >Active</div>
            <div  *ngIf="environment.activeStatus == 0" >Inactive</div>
          </td>
          <td>Yes</td>
        </tr>
       </tbody>
       <tfoot>
        <tr>
          <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
        </tr>
      </tfoot>
      </table>
  
  
  
  
    <!--foms  -->
  
    
    
    </div>
  
<div class="container">
  <div class="rpa-env-nav">
      <button type="button" class="rpa-nav-btn" aria-hidden="true" placement="bottom" [routerLink]="['/pages/rpautomation/home']">
  <img src="..\\assets\\images\\RPA\\environments_icon.svg" class="rpa-nav-btn-img">
    <br>
    <b>Bot Studio</b>
  </button>
  </div>
</div>


<div id="create" class="rpa-modal">
  <div class="rpa-modal-content">
      <div class="rpa-modal-header">
          <span class="rpa-modal-close" (click)="close()">&times;</span>
          <h4>Create Environment</h4>
      </div>
      <div class="rpa-modal-body">
        <br>
         <div class="container">
          <form [formGroup]="insertForm" (ngSubmit)="savedata()">
            <div class="row">
                <div class="col-md-3 formelement">
                    <label for="environmentName">Environment Name*</label>
                    <input type="text" class="form-control data" formControlName="environmentName" #environmentName value="" placeholder="Enter Environment Name">
                    <span *ngIf="insertForm.get('environmentName').invalid && insertForm.get

('environmentName').touched" style="color:red">Environment Name Required*</span>
                </div>
                <div class="col-md-3 formelement ">
                    <label for="environmentType">Environment Type*</label>
                    <!--<input type="text" class="form-control" formControlName="environmentType" value=""

placeholder="Enter Environment Type" >-->
                   <select class="form-control" formControlName="environmentType">
          <option value="" [selected]="true">--Select EnvironmentType--</option>
          <option value="Windows">Windows</option>
          <option value="Mac">Mac</option>
          <option value="Linux">Linux</option>

        </select>
                    <span *ngIf="insertForm.get('environmentType').invalid && insertForm.get

('environmentType').touched" style="color:red">Environment Type Required*</span>

                </div>
                <div class="col-md-3 formelement">
                    <label for="agentPath">Agent Path*</label>
                    <input type="text" class="form-control" formControlName="agentPath" value="" placeholder="Enter Agent Path">
                    <span *ngIf="insertForm.get('agentPath').invalid && insertForm.get('agentPath').touched" style="color:red">Agent Path Required*</span>

                </div>
                <div class="col-md-3 formelement">
                    <label for="hostAddress"> IP Address/Host*</label>
                    <input type="text" class="form-control" formControlName="hostAddress" value="" placeholder="Enter IP Address/Host">
                    <span *ngIf="insertForm.get('hostAddress').invalid && insertForm.get

('hostAddress').touched" style="color:red">IP Address/Host Required*</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 formelement">
                    <label for="userName">Username*</label>
                    <input type="text" class="form-control" formControlName="username" value="" placeholder="Enter Username">
                    <span *ngIf="insertForm.get('username').invalid && insertForm.get('username').touched" style="color:red">Username Required*</span>

                </div>

                <div class="col-md-3 formelement">
                    <label for="password">Password*</label>
                    <input type="password" class="form-control" formControlName="password" value="" placeholder="Enter Password" passwordToggle>
                    <span *ngIf="insertForm.get('password').invalid && insertForm.get('password').touched" style="color:red">Password Required*</span>
                </div>

                <div class="col-md-3 formelement">
                    <label for="connectionType">Connection Type*</label>
                    <input type="text" class="form-control" formControlName="connectionType" value="" placeholder="Enter Connection Type">
                    <span *ngIf="insertForm.get('connectionType').invalid && insertForm.get

('connectionType').touched" style="color:red">Connection Type Required*</span>

                </div>

                <div class="col-md-3 formelement">
                    <label for="portNumber">Port Number*</label>
                    <input type="text" class="form-control" formControlName="portNumber" value="" placeholder="Enter Port Number">
                    <span *ngIf="insertForm.get('portNumber').invalid && insertForm.get

('portNumber').touched" style="color:red">Port Number Required*</span>

                </div>

            </div>
            <div class="row">
                <div class="col-md-3 formelement">
                    <label for="comments">Comments</label>
                    <input type="text" class="form-control" formControlName="comments" value="" placeholder="Enter Comments">
                    <span *ngIf="insertForm.get('comments').invalid && insertForm.get('comments').touched" style="color:red">Comments Required*</span>

                </div>
            </div>

            <br>
            <input type="button" class="btn btn-primary" value="Save" (click)="saveEnvironment()" [disabled]="insertForm.invalid || submitted">
            <input type="reset" class="btn btn-primary" value="Reset">
        </form>

      </div>
  </div>
</div>
</div>



<div id="update-popup" *ngIf="updateflag==true" class="rpa-modal">
  <div class="rpa-modal-content">
      <div class="rpa-modal-header">
          <span class="rpa-modal-close" (click)="close()">&times;</span>
          <h4>Update Environment</h4>
      </div>
      <div class="rpa-modal-body">
        
      <div class="container">
          <form [formGroup]="updateForm" (ngSubmit)="updateEnvironment()">
            <div class="row">
                <div class="col-md-3 formelement">
                    <label for="environmentName">Environment Name*</label>
                    <input type="text" class="form-control data" formControlName="update_environmentName" value="{{updateenvdata.environmentName}}" [(ngModel)]="updateenvdata.environmentName" placeholder="Enter Environment Name">
                    <span *ngIf="updateForm.get('update_environmentName').invalid && updateForm.get('update_environmentName').touched" style="color:red">Environment Name Required*</span>

                </div>
                <div class="col-md-3 formelement ">
                    <label for="update_environmentType">Environment Type*</label>
                    <!--<input type="text" class="form-control" formControlName="update_environmentType"

value="{{updateenvdata.environmentType}}" [(ngModel)]="updateenvdata.environmentType"

placeholder="Enter Environment Type" >-->
            <select class="form-control" formControlName="update_environmentType" [(ngModel)]="updateenvdata.environmentType">
        <option value="">--Select EnvironmentType--</option>
        <option value="Windows" [selected]="updateenvdata.environmentType ==

'Windows'">Windows</option>
        <option value="Mac" [selected]="updateenvdata.environmentType == 'Mac'">Mac</option>
        <option value="Linux" [selected]="updateenvdata.environmentType ==

'Linux'">Linux</option>
      </select>
                    <span *ngIf="updateForm.get('update_environmentType').invalid && updateForm.get

('update_environmentType').touched" style="color:red">Environment Type Required*</span>

                </div>

                <div class="col-md-3 formelement">

                    <label for="update_agentPath">Agent Path*</label>
                    <input type="text" class="form-control" formControlName="update_agentPath" value="{{updateenvdata.agentPath}}" [(ngModel)]="updateenvdata.agentPath" placeholder="Enter

Agent Path">
                    <span *ngIf="updateForm.get('update_agentPath').invalid && updateForm.get

('update_agentPath').touched" style="color:red">Agent Path Required*</span>

                </div>
                <div class="col-md-3 formelement">

                    <label for="update_hostAddress">IP Address/Host*</label>
                    <input type="text" class="form-control" formControlName="update_hostAddress" value="{{updateenvdata.hostAddress}}" [(ngModel)]="updateenvdata.hostAddress" placeholder="Enter

IP Address/Host">
                    <span *ngIf="updateForm.get('update_hostAddress').invalid && updateForm.get

('update_hostAddress').touched" style="color:red">IP Address/Host Required*</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 formelement">
                    <label for="update_userName">Username*</label>
                    <input type="text" class="form-control" formControlName="update_username" value="{{updateenvdata.username}}" [(ngModel)]="updateenvdata.username" placeholder="Enter

Username">
                    <span *ngIf="updateForm.get('update_username').invalid && updateForm.get

('update_username').touched" style="color:red">Username Required*</span>

                </div>

                <div class="col-md-3 formelement">
                    <label for="update_password">Password*</label>
                    <input type="password" class="form-control" formControlName="update_password" value="{{updateenvdata.password}}" [(ngModel)]="updateenvdata.password" placeholder="Enter

Password"  passwordToggle >
                    <span *ngIf="updateForm.get('update_password').invalid && updateForm.get

('update_password').touched" style="color:red">Password Required*</span>
                </div>

                <div class="col-md-3 formelement">
                    <label for="update_connectionType">Connection Type*</label>
                    <input type="text" class="form-control" pattern="[a-zA-Z ]*" formControlName="update_connectionType" value="{{updateenvdata.connectionType}}" [(ngModel)]="updateenvdata.connectionType" placeholder="Enter Connection Type">
                    <span *ngIf="updateForm.get('update_connectionType').invalid && updateForm.get

('update_connectionType').touched" style="color:red">Connection Type Required*</span>

                </div>

                <div class="col-md-3 formelement">
                    <label for="update_portNumber">Port Number*</label>
                    <input type="text" class="form-control" formControlName="update_portNumber" value="{{updateenvdata.portNumber}}" [(ngModel)]="updateenvdata.portNumber" placeholder="Enter

Port Number">
                    <span *ngIf="updateForm.get('update_portNumber').invalid && updateForm.get

('update_portNumber').touched" style="color:red">Port Number Required*</span>

                </div>
            </div>
          
            <div class="row">
                <div class="col-md-3 formelement">

                    <label for="update_comments">Comments</label>
                    <input type="text" class="form-control" formControlName="update_comments" value="{{updateenvdata.comments}}" [(ngModel)]="updateenvdata.comments" placeholder="Enter

Comments">
                    <span *ngIf="updateForm.get('update_comments').invalid && updateForm.get

('update_comments').touched" style="color:red">Comments Required*</span>

                </div>
            </div>
            <input type="button" class="btn btn-primary" value="Update" (click)="updateEnvironment()">
        </form>
     </div>
  </div>
  </div>
  </div>
