
<div class="rpa-content-div mx-3" *ngIf="this.isButtonVisible || enableEnvironment">
    <div class="row environment-search-tools">
        <div class="rpa-env-search environment-search">            
            <input class="form-control toolbar-search" placeholder="Search" *ngIf="!isSearch" (keyup)="applyFilter($event.target.value)">
            <img src="../../../../assets/images/search.svg" matSuffix *ngIf="!isSearch" class="testplus1">
        </div>
        <div class="env-data-tool environment-tools">
            <div class="env-btn environment-btntool">
                <button class="tsttooltipbtn" value="Create" title="Create Environment" id="addenvbtn" (click)="create()">
                    <img src='../../../../assets/images/RPA/icon_latest/new-blue.svg'> 
                    <span class="testtooltip">New</span>
                </button>
            </div>
            <div *ngIf="deleteflag==true" class="env-btn environment-btntool">
                <button class="tsttooltipbtn" title="Delete Environment tsttooltipbtn" value="Delete" id="deleteenvbtn" (click)="deleteEnvironments()">
                    <img src='../../../../assets/images/RPA/icon_latest/delete-blue.svg'> 
                    <span class="testtooltip">Delete</span>      
                </button>
            </div>
            <div *ngIf="deleteflag==false" class="env-btn environment-btntool">
                <button  id="deleteenvbtn" title="Delete Environment" disabled>
                    <img src='../../../../assets/images/RPA/icon_latest/delete-dis.svg'> 
                    <span class="testtooltip">Delete</span>
                </button>
            </div>
            <div *ngIf="updateflag==true" class="env-btn environment-btntool">
                <button class="tsttooltipbtn" id="updateenvbtn" data-toggle="tooltip" data-placement="bottom" title="Modify Environment" (click)="updatedata()">    
                    <img src='../../../../assets/images/RPA/icon_latest/edit-blue.svg'> 
                    <span class="testtooltip">Modify</span>        
                </button>
            </div>
            <div *ngIf="updateflag==false" class="env-btn environment-btntool">
                <button  id="updateenvbtn" data-placement="top"  disabled>       
                    <img src='../../../../assets/images/RPA/icon_latest/edit-dis.svg'>        
                    <span class="testtooltip">Modify</span>      
                </button>
            </div>
            <div *ngIf="deleteflag==true" class="env-btn environment-btntool">
                <button class="tsttooltipbtn" data-toggle="tooltip" data-placement="top" id="deleteenvbtn" (click)="deploybotenvironment()" title="Deploy Bot Agent"> 
                    <img src='../../../../assets/images/RPA/icon_latest/deploy-blue.svg'> 
                    <span class="testtooltip">Deploy</span>
                </button>
            </div>
            <div *ngIf="deleteflag==false" class="env-btn environment-btntool">
                <button id="deployenvbtn" [disabled]="!(deleteflag==true)" title="Deploy Bot Agent" disabled> 
                    <img src='../../../../assets/images/RPA/icon_latest/deploy-dis.svg'> 
                    <span class="testtooltip">Deploy</span>
                </button>
            </div>


        <!-- <div class="env-search">
      <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>-->
    </div>
    </div>
    <!--
    <table datatable [dtTrigger]="dtTrigger" id="listofenv" [dtOptions]="dtOptions" class="table rpa-table table-striped  table-sm row-border hover env-table" >
      <thead>
        <tr>
          <th  class="rpa-checkbox-th checkboxes">
            <input type="checkbox" [checked]="isAllCheckBoxChecked()" id="checkall" (change)="checkAllCheckBox($event)">
          </th>
          <th>Environment Name</th>
          <th>Environment Type</th>
          <th>Agent Path</th>
          <th>Host Address</th>
          <th>Username</th>
          <th>Password</th>
          <th>Connection Type</th>
          <th>Port</th>
          <th>Created At</th>
          <th>Status</th>
          <th>Deployed</th>
          
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let environment of environments;let i=index; let odd = odd;" [ngClass]="odd ? 'odd_col' : 'even_col'">
        <td class="rpa-checkbox" ><input type="checkbox" class="checkupdateordelete" value="{{environment.id}}" [(ngModel)]="environments[i].checked" (change)="checkEnableDisableBtn()"></td>
          <td *ngIf="environment.environmentName==''">-</td>
          <td *ngIf="environment.environmentName!=''"> {{environment.environmentName}}</td>
          <td *ngIf="environment.environmentName==''">-</td>
          <td *ngIf="environment.environmentType!=''">{{environment.environmentType}}</td>
          <td *ngIf="environment.agentPath==''">-</td>
          <td *ngIf="environment.agentPath!=''">{{environment.agentPath}}</td>
          <td>xx.xx.xx</td>
          <td *ngIf="environment.username==''">-</td>
          <td *ngIf="environment.username!=''">{{environment.username}}</td>
          <td *ngIf="environment.password==''">-</td>
          <td *ngIf="environment.password!=''">*******</td>
          <td *ngIf="environment.connectionType==''">-</td>
          <td *ngIf="environment.connectionType!=''">{{environment.connectionType}}</td>
          <td *ngIf="environment.portNumber==''">-</td>
          <td *ngIf="environment.portNumber!=''">{{environment.portNumber}}</td>
          <td *ngIf="environment.createdTimeStamp==''">-</td>
          <td *ngIf="environment.createdTimeStamp!=''">{{environment.username}}</td>
          <td>
            <div *ngIf="environment.activeStatus == 7"><span><img class="rpa-image1" src="/assets/images/RPA/GreenCricle.png"></span>&nbsp;Active</div>
            <div *ngIf="environment.activeStatus == 8"><span><img class="rpa-image1" src="/assets/images/RPA/red-circle.png"></span>&nbsp;Inactive</div>
          </td>
          <td>
            <div *ngIf="environment.deployStatus == true"><span style="color:darkgreen">Yes</span></div>
                    <div *ngIf="environment.deployStatus == false"><span >No</span></div>
          </td>
        </tr>
       </tbody>
       <tfoot>
        <tr>
          <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
        </tr>
      </tfoot>
      </table>
  -->



    <!--foms  -->
    <div class="col-md-12 p-0">
        <div class="environment-tablegrid">
            <table mat-table #sort1="matSort" [dataSource]="dataSource1" matSort class="RPA table" id="listofenv">

        <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><input [disabled]="checkeddisabled" type="checkbox" id="checkall" [checked]="checkflag" (change)="checkAllCheckBox($event)"></th>
            <td mat-cell *matCellDef="let element; let i = index"><input type="checkbox" [checked]="element.checked" (change)="checkEnableDisableBtn(element.environmentId, $event)"> </td>
        </ng-container>

        <ng-container matColumnDef="environmentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.environmentName!=null">{{element.environmentName}}</span> <span *ngIf="element.environmentName==''">-</span> </td>
        </ng-container>
        <ng-container matColumnDef="hostAddress">
            <th mat-header-cell *matHeaderCellDef>IP Address/Host</th>
            <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.hostAddress!=null">{{element.hostAddress | ipcustompipe}}</span> 
                <span *ngIf="element.hostAddress==''">-</span> </td>
        </ng-container>
        <ng-container matColumnDef="agentPath">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent Path</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.agentPath!=null">{{element.agentPath}}</span> <span *ngIf="element.agentPath==''">-</span> </td>
        </ng-container>
        <ng-container matColumnDef="environmentType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.environmentType!=null">{{element.environmentType}}</span> <span *ngIf="element.environmentType==''">-</span> </td>
        </ng-container>
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.username!=null">{{element.username}}</span> <span *ngIf="element.username==''">-</span> </td>
        </ng-container>
        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef >Password</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.password!=null">*******</span> <span *ngIf="element.password==''">-</span> </td>
        </ng-container>
        <!--<ng-container matColumnDef="connectionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Connection Type</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.connectionType!=null">{{element.connectionType}}</span> <span *ngIf="element.connectionType==''">-</span> </td>
        </ng-container>-->

        <ng-container matColumnDef="portNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Port</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.portNumber!=null">{{element.portNumber}}</span> <span *ngIf="element.portNumber==''">-</span> </td>
        </ng-container>
        <ng-container matColumnDef="createdTimeStamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.createdTimeStamp!=null">{{element.createdTimeStamp | date}} {{element.createdTimeStamp.split("T")[1].split(".")[0]}}</span> <span *ngIf="element.createdTimeStamp==''">-</span> </td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.createdBy!=null">{{element.createdBy}}</span> <span *ngIf="element.createdBy==''">-</span> <span *ngIf="element.createdBy==null">-</span></td>
        </ng-container>


        <ng-container matColumnDef="activeStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.activeStatus == 7"><span><img class="rpa-image1" src="/assets/images/RPA/GreenCricle.png"></span>&nbsp;Active</span>
                <span *ngIf="element.activeStatus == 8 || element.activeStatus == 0"><span><img class="rpa-image1" src="/assets/images/RPA/red-circle.png"></span>&nbsp;Inactive</span>
                <!--<span *ngIf="element.activeStatus == 0"><span><img class="rpa-image1" src="/assets/images/RPA/red-circle.png"></span>&nbsp;Undefined</span>-->
            </td>
        </ng-container>

        <ng-container matColumnDef="deployStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Deployed</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.deployStatus == true"><span style="color:darkgreen">Yes</span></span>
                <span *ngIf="element.deployStatus == false"><span >No</span></span>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr class="row-highlight" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator #paginator1 [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true" class="newpaginationdiv"></mat-paginator> 
    </div>    
</div>

<!-- <div class="container">
  <div class="rpa-env-nav">
      <button type="button" class="rpa-nav-btn" aria-hidden="true" placement="bottom" [routerLink]="['/pages/rpautomation/home']">
  <img src="..\\assets\\images\\RPA\\environments_icon.svg" class="rpa-nav-btn-img">
    <br>
    <b>Bot Studio</b>
  </button>
  </div>
</div> -->


<div id="createenvironment" class="rpa-modal">
    <div class="rpa-modal-content">
        <div class="rpa-modal-header">
            <span class="rpa-modal-close" (click)="close()"><img src="../../../../assets/images/RPA/icon_latest/close.svg" alt=""></span>
            <h4>Create Environment</h4>
        </div>
        <div class="modal-body">
            <div class="container m-contanier form-body">
                <form [formGroup]="insertForm" (ngSubmit)="savedata()">
                    
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="environmentName">Name<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control data" formControlName="environmentName" #environmentName value="" placeholder="Enter Name">
                            <span *ngIf="(insertForm.get('environmentName').invalid && insertForm.get('environmentName').touched) && !insertForm.controls['environmentName'].hasError('maxlength')"  class="errspan required">Name Required*</span>
                            <div *ngIf="insertForm.controls['environmentName'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="environmentType">Type<span class="star">*</span></label>
                            <!--<input type="text" class="form-control" formControlName="environmentType" value=""

placeholder="Enter Environment Type" >-->
                            <select class="form-control" formControlName="environmentType" (change)="EnvType1()">
          <option value="" [selected]="true">--Select Type--</option>
          <option value="Windows">Windows</option>
          <option value="Mac">Mac</option>
          <option value="Linux">Linux</option>

        </select>
                            <span *ngIf="insertForm.get('environmentType').invalid && insertForm.get

('environmentType').touched"  class="errspan required">Type Required*</span>

                        </div>
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="agentPath">Agent Path<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control" formControlName="agentPath" value="" placeholder="Enter Agent Path">
                            <span *ngIf="(insertForm.get('agentPath').invalid && insertForm.get('agentPath').touched) && !insertForm.controls['agentPath'].hasError('maxlength')"  class="errspan required"> Agent Path Required*</span>

                            <div *ngIf="insertForm.controls['agentPath'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="hostAddress"> IP Address/Host<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control" formControlName="hostAddress" value="" placeholder="Enter IP Address/Host">
                            <span *ngIf="(insertForm.get('hostAddress').invalid && insertForm.get('hostAddress').touched) && !insertForm.controls['hostAddress'].hasError('maxlength') && !insertForm.controls['hostAddress'].hasError('pattern')"  class="errspan required"> IP Address/Host Required*</span>

                            <!--<div *ngIf="insertForm.controls['hostAddress'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>-->
                            <div *ngIf="(insertForm.controls['hostAddress'].hasError('pattern') && !insertForm.controls['hostAddress'].hasError('maxlength')) && insertForm.get('hostAddress').touched"  class="errspan required">
                                Invalid IP Address format
                            </div>
                            <div *ngIf="(insertForm.controls['hostAddress'].hasError('pattern') && insertForm.controls['hostAddress'].hasError('maxlength'))"  class="errspan required">
                                Invalid IP Address format
                            </div>
                        </div>
                    
                    
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="userName">Username<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control" formControlName="username" value="" placeholder="Enter Username">
                            <span *ngIf="(insertForm.get('username').invalid && insertForm.get('username').touched) && !insertForm.controls['username'].hasError('maxlength')"  class="errspan required"> Username Required*</span>

                            <div *ngIf="insertForm.controls['username'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>

                        </div>

                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="password">Password<span class="star">*</span></label>
                            <input [type]="passwordtype1 ? 'text': 'password'" maxlength="51" class="form-control" formControlName="password" value="" placeholder="Enter Password" passwordToggle>
                            <span *ngIf="passwordtype1==false" class="fa fa-fw fa-eye field-icon" (click)="passwordtype1 =!passwordtype1"></span>
                            <span *ngIf="passwordtype1==true" class="fa fa-fw fa-eye-slash field-icon" (click)="passwordtype1 =!passwordtype1"></span>

                            <span *ngIf="(insertForm.get('password').invalid && insertForm.get('password').touched) && !insertForm.controls['password'].hasError('maxlength')"  class="errspan required"> Password Required*</span>

                            <div *ngIf="insertForm.controls['password'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>

                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="connectionType">Connection Type<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control" formControlName="connectionType" value="" placeholder="Enter Connection Type" readonly>
                            <span *ngIf="(insertForm.get('connectionType').invalid && insertForm.get('connectionType').touched) && !insertForm.controls['connectionType'].hasError('maxlength')"  class="errspan required"> Connection Type Required*</span>
                            <div *ngIf="insertForm.controls['connectionType'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>

                        </div>

                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="portNumber">Port<span class="star">*</span></label>
                            <input type="text" maxlength="7" class="form-control" onkeypress="return (event.charCode > 47 && event.charCode < 58)" formControlName="portNumber" value="" placeholder="Enter Port">  

                            <span *ngIf="(insertForm.get('portNumber').invalid && insertForm.get('portNumber').touched) && !insertForm.controls['portNumber'].hasError('maxlength')"  class="errspan required"> Port Required*</span>
                        
                            <div *ngIf="insertForm.controls['portNumber'].hasError('maxlength')"  class="errspan required">
                                Maximum of 6 characters
                            </div>

                        </div>

                    
                    
                        <div class="col-md-6 p-0 form-group">
                            <input type="checkbox" formControlName="activeStatus"> Active
                        </div>
                    
                        
                    <!-- <input type="button" class="btn btn-primary" value="Save" (click)="saveEnvironment()" [disabled]="insertForm.invalid || submitted">
                    <input type="button" class="btn btn-primary" value="Test Connection" (click)="testConnection('insert')" [disabled]="insertForm.invalid">
                    <input type="button" class="btn btn-primary" value="Reset" (click)="resetEnvForm()"> -->
                </form>

                <div class="form-footer">
                            
                    <button class="btn btn-default"[disabled]="insertForm.invalid || submitted" (click)="resetEnvForm()" >Reset</button>
                    <button class="btn btn-primary btn-test" [disabled]="insertForm.invalid" (click)="testConnection('insert')" >Test Connection</button>
                    <button class="btn btn-primary"[disabled]="insertForm.invalid || submitted" (click)="saveEnvironment()" >Save</button>
                    
                    
                  </div>
            </div>
        </div>
    </div>
</div>



<div id="update-popup" class="rpa-modal">
    <div class="rpa-modal-content">
        <div class="rpa-modal-header">
            <span class="rpa-modal-close" (click)="close()"><img src="../../../../assets/images/RPA/icon_latest/close.svg" alt=""></span>
            <h4>Modify Environment</h4>
        </div>
        <div class="modal-body" *ngIf="updateflag==true">

            <div class="container m-contanier form-body" *ngIf="updateenvdata!=undefined">
                <form [formGroup]="updateForm" (ngSubmit)="updateEnvironment()">
                    
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="environmentName">Name<span class="star">*</span></label>
                            <input type="text" class="form-control" maxlength="51" formControlName="environmentName" placeholder="Enter Name">
                            <span *ngIf="(updateForm.get('environmentName').invalid && updateForm.get('environmentName').touched) && !updateForm.controls['environmentName'].hasError('maxlength')"  class="errspan required">Name Required*</span>
                            <div *ngIf="updateForm.controls['environmentName'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>

                        </div>
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="environmentType">Type<span class="star">*</span></label>
                            <!--<input type="text" class="form-control" formControlName=" environmentType"

value="{{updateenvdata.environmentType}}" [(ngModel)]="updateenvdata.environmentType"

placeholder="Enter Environment Type" >-->
                            <select class="form-control" (change)="EnvType()" formControlName="environmentType">
              <option value="">--Select Type--</option>
              <option value="Windows">Windows</option>
              <option value="Mac" >Mac</option>
              <option value="Linux" >Linux</option>
            </select>
                            <span *ngIf="updateForm.get('environmentType').invalid && updateForm.get
('environmentType').touched"  class="errspan required"> Environment Type Required*</span>
                        </div>

                        <div class="col-md-12 p-0 form-group">

                            <label class="label-control" for="agentPath">Agent Path<span class="star">*</span></label>
                            <input type="text" class="form-control" maxlength="51" formControlName="agentPath" placeholder="Enter Agent Path">
                            <span *ngIf="(updateForm.get('agentPath').invalid && updateForm.get('agentPath').touched) && !updateForm.controls['agentPath'].hasError('maxlength')"  class="errspan required"> Agent Path Required*</span>

                            <div *ngIf="updateForm.controls['agentPath'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>

                        </div>
                        <div class="col-md-12 p-0 form-group">

                            <label class="label-control" for="hostAddress">IP Address/Host<span class="star">*</span></label>
                            <input type="text" class="form-control" maxlength="51" formControlName="hostAddress" placeholder="Enter IP Address/Host">
                            <span *ngIf="(updateForm.get('hostAddress').invalid && updateForm.get('hostAddress').touched) && !updateForm.controls['hostAddress'].hasError('maxlength') && !updateForm.controls['hostAddress'].hasError('pattern')"  class="errspan required"> IP Address/Host Required*</span>

                            <!--<div *ngIf="updateForm.controls['hostAddress'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>-->
                            <div *ngIf="(updateForm.controls['hostAddress'].hasError('pattern') && !updateForm.controls['hostAddress'].hasError('maxlength')) && updateForm.get('hostAddress').touched"  class="errspan required">
                                Invalid IP Address format
                            </div>
                            <div *ngIf="(updateForm.controls['hostAddress'].hasError('pattern') && updateForm.controls['hostAddress'].hasError('maxlength'))"  class="errspan required">
                                Invalid IP Address format
                            </div>
                        </div>
                    
                   
                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="userName">Username<span class="star">*</span></label>
                            <input type="text" class="form-control" maxlength="51" formControlName="username" placeholder="Enter Username">
                            <span *ngIf="(updateForm.get('username').invalid && updateForm.get('username').touched) && !updateForm.controls['username'].hasError('maxlength')"  class="errspan required"> Username Required*</span>

                            <div *ngIf="updateForm.controls['username'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>

                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for="password">Password<span class="star">*</span></label>
                            <input [type]="passwordtype2 ? 'text': 'password'" class="form-control" maxlength="51" formControlName="password" placeholder="Enter Password">
                            <span *ngIf="passwordtype2==false" class="fa fa-fw fa-eye field-icon" (click)="passwordtype2 =!passwordtype2"></span>
                            <span *ngIf="passwordtype2==true" class="fa fa-fw fa-eye-slash field-icon" (click)="passwordtype2 =!passwordtype2"></span>

                            <span *ngIf="(updateForm.get('password').invalid && updateForm.get('password').touched) && !updateForm.controls['password'].hasError('maxlength')"  class="errspan required"> Password Required*</span>

                            <div *ngIf="updateForm.controls['password'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>

                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control" for=" connectionType">Connection Type<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control" pattern="[a-zA-Z ]*" formControlName="connectionType"  placeholder="Enter Connection Type" readonly>
                            <span *ngIf="(updateForm.get('connectionType').invalid && updateForm.get('connectionType').touched) && !updateForm.controls['connectionType'].hasError('maxlength')"  class="errspan required"> Connection Type Required*</span>
                            <div *ngIf="updateForm.controls['connectionType'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>

                        </div>

                        <div class="col-md-12 p-0 form-group">
                            <label class="label-control"  for="portNumber">Port<span class="star">*</span></label>
                            <input type="text" maxlength="7" class="form-control" onkeypress="return (event.charCode > 47 && event.charCode < 58)" formControlName="portNumber" value="" placeholder="Enter Port">  
                            <span *ngIf="(updateForm.get('portNumber').invalid && updateForm.get('portNumber').touched) && !updateForm.controls['portNumber'].hasError('maxlength')"  class="errspan required"> Port Required*</span>
                        
                            <div *ngIf="updateForm.controls['portNumber'].hasError('maxlength')"  class="errspan required">
                                Maximum of 6 characters
                            </div>

                        </div>
                  
                  
                        <div class="col-md-6 p-0 form-group">
                            <input type="checkbox" [checked]="toggle" formControlName="activeStatus"> Active
                        </div>
                        
                  
                    <!-- <input type="button" class="btn btn-primary" value="Modify" (click)="updateEnvironment()" [disabled]="updateForm.invalid || submitted">
                    <input type="button" class="btn btn-primary" value="Test Connection" (click)="testConnection('update')" [disabled]="updateForm.invalid">
                    <input type="button" class="btn btn-primary" value="Reset" (click)="resetupdateEnvForm()"> -->
                </form>
                <div class="form-footer">
                    <button class="btn btn-default" (click)="resetupdateEnvForm()" >Reset</button>
                    <button class="btn btn-primary btn-test" [disabled]="updateForm.invalid" (click)="testConnection('update')">Test Connection</button>
                    <button class="btn btn-primary"[disabled]="updateForm.invalid || submitted" (click)="updateEnvironment()" >Modify</button>
                  </div>
            </div>
        </div>
    </div>
</div>