.rpa-checkbox{
    display: flex;
    justify-content:center;
  }
  .rpa-table thead th {
  border-bottom-width: thin;
  border-bottom-color:#d9d9d9;
  }
  .rpa-table tfoot th{
    border-top-color:#d9d9d9;
    border-bottom-width: thin; 
    font-weight: 200; 
  }

  .modal-body{
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}
  .rpa-table tbody tr td
  {
    border-top-color:#d9d9d9;
    border-bottom-width: thin; 
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 20px; 
  }

  tr.mat-footer-row, tr.mat-row {
    height: auto !important;
}

  .rpa-tablebox{
  padding-top:10px;
  padding-bottom:10px;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border-radius: 10px;
  height: 900px;
  }
  .rpa-table.dataTable thead .rpa-checkbox-th{
    background : none;
  }

  /* .env-btn > button > img{
    color:black !important;
    width:25px;
    background-color: white !important; 
  } */

  .mat-paginator{
    /* padding-right:25px !important; */
  }
  

  .rpa-modal-content{
    padding-bottom:25px !important;
  }
  
  .env-btn > button:disabled > img{
    color:rgb(116, 116, 116) !important;
    background-color:white!important;
  }
  .env-btn > button:disabled{
    background-color:white;
  }
  .env-btn > button > div{
    color:black !important;
  }

  .env-btn > button:disabled > div{
    color:lightgrey !important;
  }

  .rpa-image1 {
    height: 12px;
    width: 12px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  }

  td{
    white-space:nowrap;
  }
  
  th{
    white-space:nowrap;
  }

  /* ::-webkit-scrollbar-track {
    display:none;
}

::-webkit-scrollbar-thumb {
  background:lightgray;
}

::-webkit-scrollbar {
  width: 10px;
  height:4px
} */


.env-btn{
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.environment-search {
  position: relative;
  padding: 0px !important;
}
.environment-search  img {
  position: absolute;
  top: 9px;
  right: 10px;
}
.environment-tools {
  padding: 0px !important;
  display: flex;
}
.environment-btntool {
  position: relative;
  padding: 3px 6px;
  margin: 0px !important;
}
.environment-btntool img {
  width: 16px;
  height: 16px;
}
.tsttooltipbtn:hover span.testtooltip {
  display: block;
}
span.testtooltip {
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: #001c47;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px 10px;
  border-radius: 4px;
  display: none;
  z-index: 999;
}
span.testtooltip:before {
  content: '';
  border: 2px solid #001c47;
  border-width: 0px 0px 2px 2px;
  position: absolute;
  padding: 4px;
  right: 13px;
  top: -5px;
  background: #001c47;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.environment-search-tools {
  /* padding-top: 10px; */
}


.environment-tablegrid table td span{
  font-size: 13px !important;
}
.btn-test{
  /* margin-left: 10px !important; */
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.no-item-img{
  height:calc(100vh - 430px)
}


.downloadLink{
  text-decoration: underline !important;
  font-size: small;
}



.cell1, .cell7 {
  width: 5%;
}
.cell2 {
  width: 10%;
}
.cell3 {
  width: 8%;
}
.cell4 {
  width: 12%;
}
.cell5 {
  width: 8%;
}
.cell6 {
  width: 8%;
}

.cell8 {
  width: 8%;
}
.cell9 {
  width: 8%;
}
.cell10, .cell11 {
  width: 5%;
}
.cell12, .cell13 {
  width: 9%;
}
