.btn-dots {
	width: 32px;
    height: 32px;
   
    background-color: #E9E9E9;
    
    border-radius: 4px;
    min-width: 0px;
}

.well {
	padding: 10px 13px;
    margin: 20px 0px;
    border: 0px;
    background-color: #FBFAFA;
    box-shadow: 0px 0px 2px 0px #d6d3d3;
}

.well1-dynmic {
	
	
	padding: 7px 11px !important;
	
	background: #FFFFFF;
    border: 1px solid #B3BAC5;
    
    border-radius: 5px;
}
.well1-dynmic:hover {box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.06);}


.text-control {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.pi-times:before {
	content: "\e90b";
	background-color: #dc3545;
	border-color: #dc3545;
	padding: 5px;
	border-radius: 50%;
	color: white;
	font-size: 11px;
}

.pi-1 {
	font-size: 1rem;
	position: absolute;
	right: 15px;
	top: 8px;
}


.well1 {
	background-color: #fafafa;
	box-shadow: 1px 0px 3px 0px #d6d3d336;
	border: 1.5px dotted #979797;
	border-radius: 4px;
	padding: 7px 11px !important;
}

.metrics-space {
	margin-top: 20px;
}

.flex-container {
	display: flex;
	width:100%;

}

h5 {
	margin-bottom: 3px;
}

.img-div {

	align-items: center;
}

.main-content-head h3 .title_text {
	font-size: 25px;
	font-weight: 500;
}

.form-control {
	border: 1px solid #979797 !important;
    box-shadow: unset !important;
    color: #292a2a !important;
    border-radius: 4px !important;
    padding: 6px 10px !important;
    height: 34px;
}
.toolbar-search{margin-bottom:15px !important;}

.search-align {
	position: absolute;
	right: 1.5rem;
	top: 0.5rem;
	width: 17px;

}

.container-fluid {
	background-color: #f5f5f5;
	padding-right: 20px;
    padding-left: 20px;
	
}

.eiap-btn {

	margin-top: 0px !important;

}

.p-tabview-nav-content {
	border-bottom: 2px solid #ddd;
}

.myPanelContent .ui-tabPanel {

	border: black solid 1px !important;
}

ul.ui-p-tabview {
	border: 2px solid #ddd;
}

.splitter-headers {
	position: absolute;
	right: 23px;
	top: 28px;
}

.warng-img {
	margin-right: 3px;
	width: 18px;
}

.warning-p {
	margin-bottom: 0px;
}

.sec-1 {
	padding-right: 10px !important;
	padding-left: 10px !important;
	
}

.sec-2 {
	padding-right: 5px;
	padding-left: 5px;
}

.sec-2 img {
	width: 95%
}

.metric {
	font-weight: 600
}

.drag-highlight {
	box-shadow: 1px 2px 4px 0px #d6d3d3;
	padding: 2px 10px;
}

.graph {
	height: 300px;
}

.chart {
	text-align: center;
	margin-top: 25%
}

.chart img {
	width: 80px;
}

.img-w {
	margin-right: 30px;
	width: 95%;
}

.wid-p {
	font-size: 14px;
	color: #808080cc;
}

.widget-main {
	height: 50px;
}

.widget-main .bps-labcls {
	float: right
}

.img-M {
	margin-right: 9px;
	width: 95%;
}

.flex-container {
	display: flex;

}

h5 {
	margin-bottom: 3px;
}

.img-div {
	display: flex;
	align-items: center;
}

.main-content-head h3 .title_text {
	font-size: 23px;
	font-weight: 600;
	color: #000;
}

.drag-sec {
	margin-bottom: 0px;
	font-size: 12px;
	margin-left: -48px;
}

.form-control {
	border: 1px solid #7a7777 !important;
	box-shadow: unset !important;
	color: #292a2a !important;
	border-radius: 4px !important;
	padding: 6px 10px !important;
}

.eiap-btn {

	margin-top: 0px !important;

}

.chart {
	height: 300px !important;
}

.pi-check:before {
	content: "\e909";
	background-color: #27AD74;
	border-color: #27AD74;
	padding: 5px;
	border-radius: 50%;
	color: white;
	font-size: 11px;
}

.pi {
	font-size: 1rem;

}

.pi-check {
	position: absolute;
	right: 7px;
	top: 9px;
}

.pi-times {
	position: absolute;
	right: 12px;
	top: 6px;
}
.widicon{margin-right:20px;
display:flex;align-items: center;}

.new-dynamic h3 {
	margin-bottom: 0px;
	font-size: 30px;
	color: black;
}

.new-dynamic p {
	margin-bottom: 0px;
	font-size: 13px;
	font-weight: 500;
	color: #000;
}

.overlay-icon {
	visibility: hidden;
}

.well1-dynmic:hover .img-div .overlay-icon {
	visibility: visible;
}

.well1-dynmic:hover .overlay-icon {
	visibility: visible;
}

.sec2-align {
	padding-top: 1rem;
	padding-bottom: 0rem;
}

.dashbrd-img {
	margin-right: 6px;
	width: 48px;
	height: 48px;
}
.vertcl-img {
	width: 11px !important;
	margin: 5px;
	margin-right: 11px !important;
	margin-top: 0px !important
}
.graphs-align {
	height: 400px;
	padding: 16px 16px !important;
	margin-bottom:20px;
}
.graphs-align .h5{font-size:16px;}
.metricalign{padding:10px 22px 10px 4px;}

.first{box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);}
.class1{box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);}
.metricwidget-tabP{font-size: 14px; color: #808080cc;margin-bottom:0rem !important;}
.header-fix{position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 999;}
.sec-new{padding: 20px 10px 15px;}
