/* .maincont-contentarea {
    padding: 15px 6px 10px 30px;
} */
.main-content-head {
    padding: 15px 34px 0px 30px;
}
.main-content-body {
    padding: 0px 0px 10px 30px;
    margin-right: 10px;
}

.usermessage {
	background: #FBFAFA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px !important;
	align-items: center;
}
.align-menubtn {
    margin-bottom: 15px !important;
    align-items: center;
}
.btn-secondary {
	height: 32px;
    background-color: #E9E9E9;
    margin-right: 10px;
    color: #232832 !important;
}
.btn-dots {
	background-color: #E9E9E9;
    height: 32px;
}
.pr-24{padding-right:24px;}
.well1-dynmic {	
	padding: 10px 10px !important;
	margin-bottom: 24px;
	background: #FFFFFF;
    border: 1px solid #d0d0d0;    
    border-radius: 6px;
}
.well1-dynmic.graph .p-datatable-wrapper {
    height: calc(100vh - 385px) !important;
  }
.graph {
	height: 350px;
	padding: 15px !important;
}
.new-dynamic h3 {
	margin-bottom: 0px;
	font-size: 44px;
    font-weight: 400;
	color: #232832;
    line-height: 42px;
}
.new-dynamic p {
	margin-bottom: 0px;
}
.widgetactions {
    min-width: auto;
}
.widgetactions .hover-img,
.widgetactions:hover .default-img {
    display: none;
}
.widgetactions:hover .hover-img {
    display: block;
}
.widgetactions:hover {
    background-color: #098de6;
}
.vertcl-img {
	width: 12px ;
    margin-right: 11px;
}
.graph-text{
    font-size: 18px;
    margin: 0px;
    color: #222222;
}
.configtabslists h5 {
    font-size: 16px;
    color: #222222;
}
 .class1 {background-color: #f3faff !important;} 
.projectnamerow p-inplace.p-element {
    position: relative;
    margin-right: 8px;
}
.editfields {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: flex-end;
    margin-top: 5px;
    width: 100%;
}
.graph-set {
    width: 80%;
    margin: auto;
}
button.btn.bluebg-button {
    height: 32px;
    /* margin-right: 10px; */
}
.grey-btn {
    background-color: #E0E8ED !important;
    margin-left: 8px !important; 
    padding: 8px !important;
    height: 36px;   
}
.grey-btn:hover {
background-color: #EAE9E9 !important;  
}

.delete-dbtn img {
    height: 20px;
}
.warng-img {
	margin-right: 10px;
}
.warning-p {
	margin-bottom: 0px;
}
.overlay-icon {
	display: none;
}
.well1-dynmic:hover .overlay-icon {
	display: block;
}
.pi-times:before {
	content: "\e90b";
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
	cursor: pointer;
}
.pi-check:before {
	content: "\e909";
	background-color: #27AD74;
	border-color: #27AD74;
	padding: 5px;
	border-radius: 50%;
	color: white;
	font-size: 11px;
}
.well1 {
    background: #F9F9F9;
    border: 1px dashed #979797;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    display: flex;
    padding: 7px 10px;
	margin-bottom: 24px;
    height:82px;
    align-items: center;
}
.well1.emptywidget {
    display: block;
    text-align: center;
	height: 350px;
}
.emptywidget img {
    top: 40%;
    left: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-65%, -50%);
}
.emptywidget p.drag-sec {
    top: 60%;
    left: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-55%, -50%);
}
 .drag-sec {
    margin-bottom: 0px;
    margin-left: 5px;
}
.metricalign{
    padding: 15px 10px;
    border: 0.5px solid #e0e0e030;
    margin-bottom: 10px !important;
    border-radius: 6px;
    box-shadow: 0px 1px 3px 1px #80808024;
    cursor: pointer;
    background-color: #ffffff;
}
.metricalign:hover{
	background-color: #f3faff !important;
}
.search-align {
	position: absolute;
    right: 10px;
    top: 9px;
    width: 18px;
}
/* .class1{
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
} */
.configtabslists {
    height: calc(100vh - 180px);
    overflow: auto;
    padding: 0px 13px 0px 20px;
}
.metricwidget-tabP {
	margin-bottom: 0 !important;
	color: #979797;
}
.configtabslists .metric-set {
    align-items: start !important;
}
.configtabssearch {
    padding: 0px 20px;
}

.categinput {
    position: relative;
    width: 100%;
}
.configtabssearch input.form-control {
    border-color: #9797974a !important;
    height: 36px !important;
}
.configtabssearch select.form-control.data {
    background-color: transparent !important;
    border-color: #9797974a !important;
    border-right: none !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    cursor: pointer;
    height: 36px !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px !important;
}
.categselect {
    width: 90px;
    background-color: #ededed !important;
}
.categinput input {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

/* .configtabslists .metric-set:hover span.addtooltip,
.configtabslists .widget-set:hover span.addtooltip {
    display: block;
    position: absolute;
    background-color: #001c47;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    left: 40%;
    top: 25px;
}
span.addtooltip {
    display: none;
}
span.addtooltip::before {
    content: "";
    background: #001c47;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    right: 12px;
} */