<p-splitter [style]="{'height': 'auto'}" [panelSizes]="panelSizes" layout="horizontal">
  <ng-template pTemplate>
    <div class="maincont">  
      <div class="maincont-contentarea">
        <div class="maincontent">
          <div class="row main-content-head align-items-center">
            <div class="col-md-6 pl-0 projectnamerow">
              <h3>
                <span class="title_text">{{_paramsData.dashboardName}} </span>
              </h3>
            </div>
            <div class="col-md-6 pr-0 row justify-content-end align-items-center">
              <button *ngIf="isCreate==1" class="btn bluebg-button" (click)="saveDashBoard()">Done</button>
              <button *ngIf="isCreate==0" class="btn new-cancelbtn"(click)="canelUpdate()">Cancel</button>
              <button *ngIf="isCreate==0" class="btn bluebg-button"(click)="Updatedconfiguration()">Update</button>
              <button (click)="deletedashbord()" class="btn" pTooltip="Delete" tooltipPosition="bottom">
                <img src="../../../../assets/images-n/dashboard/dash-delete.svg" alt="Delete" />
              </button>
              <!-- <button class="btn" type="button" class="btn btn-dots" (click)="menu.toggle($event)">
                <img src="./../../../../assets/images-n/dashboard/blackdots.svg" alt="Actions" >
              </button>
              <p-menu class="actionspopmenu p-menu-graph1"  #menu [popup]="true"  [model]="items"></p-menu> -->
            </div>
          </div>

          <div class="main-content-body mt-4">  
            <!-- <div class="row usermessage">
              <img src="./../../../../assets/images-n/dashboard/warning2.svg"  class="warng-img" alt="" />
              <p class="warning-p" *ngIf="isCreate==0">You are currently editing your dashboard. Changes will be saved after clicking the update button.</p>
              <p class="warning-p" *ngIf="isCreate==1">You are currently creating your dashboard. Changes will be saved after clicking the done button.</p>
            </div> -->

            <div class="row" pDroppable="item" (onDrop)="drop()">
              <div class="col-md-3 pl-0" *ngFor="let item of addedMetrics;let j =index">
                <div class="well1-dynmic">
                  <!-- <img src="..\assets\images-n\dashboard\{{item.src}}" class="dashbrd-img"/> -->
                  <i class="pi pi-1 pi-times right overlay-icon" (click)="onDeactivate(item,j, 'metrics')" ></i>
                  <div class="new-dynamic">
                    <h3>{{item.metricValue}}</h3>
                    <p>{{item.name}}</p>
                  </div>
                </div>
              </div>
      
              <div class="col-md-3 pl-0" *ngFor="let item of defaultMetricsData" >
                <div class="well1">
                  <img src="../../../../assets/images-n/dashboard/add-gadget.svg" width="40%" alt="" />
                  <p class="drag-sec">Drag or Add a <b>Metric</b> to this column </p>
                </div>
              </div>
            </div>

            <div class="row" pDroppable="widget" (onDrop)="dropWidget()">
              <div class="col-md-6 pl-0" *ngFor="let widget of addedWidgets; let j=index" >
                <div class="well1-dynmic graph">
                  <div class="row align-menubtn">
                    <div class="col-10 p-0 d-flex">
                      <img src="../../../../assets/images-n/dashboard/movable.svg" class="vertcl-img" alt="" /> 
                      <h5 class="graph-text">{{widget.name}}</h5>
                    </div>
                    <div class="col-2 p-0 text-right">
                      <i class="pi pi-times right overlay-icon" (click)="onDeactivate(widget,j, 'widgets')"></i>
                    </div>
                  </div>
                   
                  <div  class="" >
                    <div *ngIf="widget.widget_type!='table'&& widget.widget_type!='Table'"  class="graph-set">
                      <p-chart [type]="widget.widget_type| lowercase" class="w-100" [data]="widget.widgetData" height="270"  
                          [options]="widget.chartOptions" ></p-chart>
                    </div>
                       
                    <div *ngIf="widget.widget_type=='Table' || widget.widget_type =='table'">
                      <p-table #myTab [value]="widget.widgetData" responsiveLayout="scroll" [scrollable]="true">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th pSortableColumn="name">Name
                              <!-- <p-columnFilter type="text" field="name" display="menu"></p-columnFilter> -->
                              <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="value">
                              <span *ngIf="widget.name == 'Upcoming Executions'">Next Run</span>
                              <span *ngIf="widget.name != 'Upcoming Executions'">Users</span>
                              <!-- <p-columnFilter type="date" field="value" display="menu"></p-columnFilter> -->
                              <p-sortIcon field="value"></p-sortIcon>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-people>
                            <tr>
                                <td >{{people.name}}</td>
                                <td>{{people.value}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                          <tr>
                              <td style="justify-content: center;" colspan="2">No Records Found</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                       <!-- <div *ngIf="widget.widget_type=='bar'">
                           <p-chart type="bar" class="w-100" [data]="widget.sampleData" height="245"></p-chart>
                        </div> -->
                         <!-- <div *ngIf="widget.widget_type=='pie'">
                           <p-chart type="bar" class="w-100" [data]="widget.sampleData" [options]="widget.chartOptions" height="270"></p-chart>
                        </div>
                        <div *ngIf="widget.widget_type=='bar'">
                           <p-chart type="doughnut" class="w-100"  [data]="widget.sampleData" height="270"></p-chart>
                        </div>
                        <div *ngIf="widget.widget_type=='pie'">
                           <p-chart type="line" class="w-100"  [data]="widget.sampleData" height="270"></p-chart>
                        </div>
                        <div *ngIf="widget.widget_type=='TABLE'">
                           <div *ngIf ="isShow">
                    <p-table >
                      <ng-template pTemplate="header">
                          <tr>
                              <th>Vin</th>
                              <th>Year</th>
                              <th>Brand</th>
                              <th>Color</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-car>
                          <tr>
                              <td>Test1</td>
                              <td>Test2</td>
                              <td>Test3</td>
                              <td>Test4</td>
                          </tr>
                      </ng-template>
                  </p-table>
                </div>
                        </div> -->
                  </div>
                </div>
              </div>
                <!-- <div class="col-md-6 sec-1" >
                  <div class="well1-dynmic" >
                <div *ngIf ="isShow">
                  <p-table >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Vin</th>
                            <th>Year</th>
                            <th>Brand</th>
                            <th>Color</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-car>
                        <tr>
                            <td>Test1</td>
                            <td>Test2</td>
                            <td>Test3</td>
                            <td>Test4</td>
                        </tr>
                    </ng-template>
                </p-table>
              </div>
              </div></div> -->
              <div class="col-md-6 pl-0" *ngIf="dynamicDashBoard.widgets.length<1" >
                <div class="well1 emptywidget">
                  <img src="../../../../assets/images-n/dashboard/add-gadget.svg" width="40%" alt="" />
                  <p class="drag-sec">Drag or Add a <b>Widget</b> to this column </p>
                </div>
              </div>
                
              <div class="col-md-6 pl-0" *ngIf="dynamicDashBoard.widgets.length<2" >
                <div class="well1 emptywidget">
                  <img src="../../../../assets/images-n/dashboard/add-gadget.svg" width="40%" alt="" />
                  <p class="drag-sec">Drag or Add a <b>Widget</b> to this column </p>
                </div>
              </div>              
            </div>            
          </div>

        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template pTemplate>
    <p-tabView class="configtabs">
      <p-tabPanel header="Metrics" [headerStyle]="{'font-size': '20px'}" >
        <div class="row configtabssearch">
          <div class="col-md-12 p-0">
            <input class="form-control toolbar-search" [(ngModel)]="searchText_metrics"  type="text" placeholder="Search">
            <img src="../../../../assets/images/search.svg" alt="" class="search-align sercmetric">
          </div>
          <!-- <div class="col-md-6 pr-0 form-group bps-labcls">
            <select class="form-control data">
                <option value="">All Metrics</option>
              </select> 
          </div>-->
        </div>
        <div class="configtabslists">
          <div *ngFor="let item of metrics_list|myFilter:searchText_metrics:['name', 'description']; let i=index" >
            <div class="row metricalign"  pDraggable="item" pDroppableDisabled="true" (onDragStart)="dragStart(item)"
              (onDragEnd)="dragEnd()" [ngClass]="(item.metricAdded==true) ? 'class1' : 'class2'" (click)="onSelectMetric(item,i)">
              <div class="col-11 p-0">
                <h5>{{item.name}}</h5>
                <p class="metricwidget-tabP">{{item.description}}</p>
              </div>
              <div class="col-1 p-0 text-right">
                <!-- <i class="pi pi-check" *ngIf="item.metricAdded==true"></i> -->
                <img src="../../../../assets/images-n/dashboard/tickcircle.svg" alt="" *ngIf="item.metricAdded==true" />
              </div>   
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Widgets" [headerStyle]="{'font-size': '20px'}" >
        <div class="row configtabssearch">
          <div class="col-md-6 pl-0" >
            <input class="form-control toolbar-search" type="text" [(ngModel)]="searchText" placeholder="Search">
            <img src="../../../../assets/images/search.svg" alt="" class="search-align">
            </div>
            <div class="col-md-6 pr-0">
              <select class="form-control data">
                  <option value="">All Widgets</option>
                  <option value="">Operational</option>
                </select>
            </div>
        </div>          
        <div class="configtabslists">
          <div *ngFor="let widget of widgetslist|myFilter:searchText:['name', 'description']; let i=index" >
            <div class="row metricalign"pDraggable="widget" pDroppableDisabled="true"  [ngClass]="(widget.widgetAdded==true) ? 'class1' : 'class2'"(onDragStart)="widgetDragStart(widget)"
            (onDragEnd)="widgetDragEnd()"  (click)="addWidget(widget,i)" >
              <div class="col-3 pl-0 align-self-center">
                <div *ngIf="widget.widget_type =='Pie' || widget.widget_type =='Doughnut' || widget.widget_type =='pie' || widget.widget_type =='doughnut'">
                  <p-chart [type]="widget.widget_type| lowercase" class="w-100" [data]="widget.widgetData" [options]="widget.chartOptions"></p-chart>
                </div>
                <div *ngIf="widget.widget_type =='Table'|| widget.widget_type =='table'">
                   <img src="../../../../assets/images-n/dashboard/table1.png" width="60px;" alt="">
                </div>
                <div *ngIf="widget.widget_type =='Bar'|| widget.widget_type =='bar'">
                  <img src="../../../../assets/images-n/dashboard/Bar-chart.svg" alt="" width="60px;">
                </div>
              </div>
              <div class="col-8 p-0">
                <h5>{{widget.name}}</h5>
                <p class="metricwidget-tabP">{{widget.description}}</p>
              </div>
              <div class="col-1 p-0 text-right">
                <!-- <i class="pi pi-check right" *ngIf="widget.widgetAdded==true"></i> -->
                <img src="../../../../assets/images-n/dashboard/tickcircle.svg" alt="" *ngIf="widget.widgetAdded==true" />
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
    <!-- <span class="splitter-headers">
      <img *ngIf="isShowExpand" src="../../../assets/images-n/projects/minimize.svg"
      (click)="minimizeFullScreen()" class="expandsvgimg" pTooltip="Minimize" tooltipPosition="bottom"/>
  <img *ngIf="!isShowExpand" src="../../../assets/images-n/projects/maximize.svg"
      (click)="expandFullScreen()" class="expandsvgimg" pTooltip="Maximize" tooltipPosition="bottom"/>
  <a (click)="closeSplitOverlay()" class="closeoverlay"><img src="./../../../../assets/images-n/projects/close-circle-line.svg"
          alt="close" pTooltip="Close" tooltipPosition="bottom"></a>
        </span>  -->
  </ng-template>
</p-splitter>

<p-confirmDialog [style]="{width: '30vw'}" key="positionDialog" position="center" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
