<p-splitter [style]="{'height': 'auto'}" [panelSizes]="[70,30]" layout="horizontal" >
    <ng-template pTemplate>
       <div class="container-fluid">
          <div class="col-md-12 py-4 px-3">
             <div class="row main-content-head">
                <div class="col-md-4 pl-0">
                   <h3>
                      <span class="title_text">{{dashboardName}} </span>
                   </h3>
                </div>
                <div class="col-md-8 pr-0 text-right">
                   <button class="btn btn-primary eiap-btn">Done </button>
                   <button class="btn-dots eiap-btn">
                   <img src="..\assets\images-n\dashboard\dots-t.svg" alt="Actions">
                   </button>
                </div>
             </div>
          </div>
          <div class="col-md-12">
             <div class="well flex-container">
                <div class="img-div">
                   <img src="..\assets\images-n\dashboard\warning2.svg"  class="warng-img"/>
                </div>
                <div>
                   <p class="warning-p" >Your currently editing your dashboard. Changes will be saved after clicking the done button.</p>
                </div>
             </div>
             <div class=" flex-container">
                <div class="img-div">
                </div>
                <div>
                </div>
             </div>
          </div>
          <div class="col-md-12 py-3 px-3">
             <div class="row">
                <div class="col-md-3 sec-2" >
                   <div class="well1">
                      <div class="flex-container">
                         <div class="img-div">
                            <img src="..\assets\images\Projects\add-gadget.svg" />
                         </div>
                         <div>
                            <p class="warning-p">Drag or Add <br> a <span class="metric" >Metric</span> to this column </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 sec-2" >
                   <div class="well1">
                      <div class="flex-container">
                         <div class="img-div">
                            <img src="..\assets\images\Projects\add-gadget.svg"  />
                         </div>
                         <div>
                            <p class="warning-p">Drag or Add <br> a <span class="metric">Metric</span> to this column </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 sec-2" >
                   <div class="well1">
                      <div class="flex-container">
                         <div class="img-div">
                            <img src="..\assets\images\Projects\add-gadget.svg" />
                         </div>
                         <div>
                            <p class="warning-p">Drag or Add <br> a <span class="metric">Metric</span> to this column </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 sec-2" >
                   <div class="well1">
                      <div class="flex-container">
                         <div class="img-div">
                            <img src="..\assets\images\Projects\add-gadget.svg"  />
                         </div>
                         <div>
                            <p class="warning-p">Drag or Add <br> a <span class="metric">Metric</span> to this column </p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-12 py-3 px-3">
             <div class="row">
                <div class="col-md-6 sec-2" >
                   <div class="well1 graph" >
                     <div class="chart" >
                         <div>
                            <img src="..\assets\images\Projects\add-gadget.svg" />
                         </div>
                         <div>
                            <p class="warning-p">Drag or Add a <span class="metric">Metric</span> to this column </p>
                         </div>
                      </div>
                   
                   </div>
                </div>
                <div class="col-md-6 sec-2" >
                   <div class="well1 graph" >
                      <div class="chart">
                         <div>
                            <img src="..\assets\images\Projects\add-gadget.svg"  />
                         </div>
                         <div>
                            <p sclass="warning-p">Drag or Add a <span class="metric">Metric</span> to this column </p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </ng-template>
    <ng-template pTemplate>
       <p-tabView styleClass="prime-slider-override">
          <p-tabPanel header="Metrics" [headerStyle]="{'font-size': '20px'}">
             <div class="col-md-12 mb-2 widget-main">
                <div class="row">
                   <div class="col-md-6 pl-0 " style="float:right">
                      <input class="form-control toolbar-search" type="text" placeholder="Search">
                      <mat-icon matSuffix style="font-size: 1.2em">
                         <img src="../../../../assets/images/search.svg" alt="" class="search-align">
                      </mat-icon> 
                    
                   </div>
                   <div class="col-md-6 form-group pr-0 bps-labcls" style="float:right">
                      <select class="form-control data">
                         <option value="">All metrics</option>
                      </select>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\process.svg" class="img-M"/>
                   </div>
                   <div>
                      <h5>Process Execution Rate</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\round-settings.svg" class="img-M"/>
                   </div>
                   <div>
                      <h5>Automation Rate</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\schedules.svg" class="img-M" />
                   </div>
                   <div>
                      <h5>schedules Failed</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\Thumbup.svg" class="img-M" />
                   </div>
                   <div>
                      <h5>Pending Approvals</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\tasksoverdue.svg" class="img-M" />
                   </div>
                   <div>
                      <h5>Tasks Overdue</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\processonhold.svg" class="img-M"/>
                   </div>
                   <div>
                      <h5>Process On Hold</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
          </p-tabPanel>
          <p-tabPanel header="Widgets" [headerStyle]="{'font-size': '20px'}">
             <div class="col-md-12 mb-2 widget-main">
                <div class="col-md-6"></div>
                <div class="col-md-6 form-group pr-0 bps-labcls">
                   <select class="form-control data">
                      <option value="">All Widgets</option>
                   </select>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\chart1.svg" class="img-w"/>
                   </div>
                   <div>
                      <h5>Process Execution Rate</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\chart2.svg" class="img-w" />
                   </div>
                   <div>
                      <h5>Automation Rate</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\chart3.svg"  class="img-w"/>
                   </div>
                   <div>
                      <h5>schedules Failed</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\chart4.svg"  class="img-w"/>
                   </div>
                   <div>
                      <h5>Pending Approvals</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div">
                      <img src="..\assets\images-n\dashboard\chart5.svg" class="img-w"/>
                   </div>
                   <div>
                      <h5>Tasks Overdue</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
             <div class="col-md-12 mb-2">
                <div class="flex-container">
                   <div class="img-div widget">
                      <img src="..\assets\images-n\dashboard\chart6.svg" class="img-w" />
                   </div>
                   <div>
                      <h5>Process On Hold</h5>
                      <p class="wid-p">Lists Recent activity in a single project, or in all projects</p>
                   </div>
                </div>
             </div>
          </p-tabPanel>
       </p-tabView>
    </ng-template>

   

    </p-splitter>

    <!-- <p-chart type="line" [data]="data" [options]="options"></p-chart> -->
