
<div id="foot">
    <div  class="filter_heading">               
    <div class="container filter_headinglabels">
        <div class="row">
          
            <div class="col-md-12">
                <p class="header-style" >Save Process</p>
                <button type="button" class="close cross_close resize" aria-label="Close" (click)="slideDown()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="reports">
                        <form #processForm=ngForm>
                            <div class="process-name">
                                <label class="process-name" >Select Category</label>
                                <div>
                                    <select  id="category" name="category" [(ngModel)]="category"  required>
                                        <option value="infrastructure">Infrastructure</option>
                                        </select>
                                </div>
                            </div>
                            <div class="process-name">
                                <label class="process-name">Enter process name</label>
                                <div>
                                <input type="name" id="name"  maxlength="50" name="name" [(ngModel)]="name" required> 
                                </div>
                            </div>
                        <div>
                            <button class="apply_button" type="submit" (click)="applyFilter()" [disabled]="!processForm.valid">Save & Generate</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
    

