.header-style{
    font-size: 15px;
    padding-left: 1px;
    margin-top: 0px;
    padding-top: -2px;

}
.label-style{
    font-size: initial
}
.process-name{
    margin-bottom: 20px;
    /* font-weight: 0; */
    font-size: initial;
    /* font-weight: none; */
    font-weight: normal;
}
.reports{
    margin-left: 451px;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 278px
}
.apply_button{
    margin-left: 51px;
    width: 20%;
    height: 33px;
}
.resize{
    margin-top: -45px
}
#category{
    width: 41%;
    border-top: none;
    border-left: none;
    border-right: none;
}


select:focus{
    border-color: gray;
    /* outline:none; */
    border: none
}
.close{
    font-size: 30px;
    margin-top: -36px;
}