<div class="container-fluid mx-3">
    <div class="rpa-env-search">
        <mat-form-field class="rpa-mat-form-field-search">
            <mat-label>Search</mat-label>
            <mat-icon matSuffix *ngIf="!isSearch" style="font-size: 1.2em">search</mat-icon>
            <input class="toolbar-search" *ngIf="!isSearch" matInput (keyup)="applyFilter1($event.target.value)">
        </mat-form-field>

    </div>
    <div class="env-data-tool">
        <div class="env-btn">
            <button value="Create" title="Create Database Connection" id="addenvbtn" (click)="createdbconnection()">
        <img  src='..\\assets\\images\\RPA\\rpa-env-add-btn.svg'> 
        <div>New</div>
      </button>
        </div>
        <div *ngIf="DBupdateflag == true" class="env-btn">
            <button id="DBupdateenvbtn" data-toggle="tooltip" data-placement="bottom" title="Modify Database Connection" (click)="updatedbdata()">        
        <img   src='..\\assets\\images\\RPA\\rpa-env-edit-btn.svg'> 
        <div>Modify</div>            
            </button>    
        </div>   
        <div *ngIf="DBupdateflag == false" class="env-btn">    
            <button data-toggle="tooltip" id="updateenvbtn" data-placement="top" title="Modify Database Connection" disabled>            
             <img   src='..\\assets\\images\\RPA\\rpa-env-edit-btn.svg'>     
             <div>Modify</div>          
             </button>   
        </div>
        <div *ngIf="DBdeleteflag==true" class="env-btn">
            <button title="Delete Environment" value="Delete" id="deleteenvbtn" (click)="deletedbconnection()">
                <img src='..\\assets\\images\\RPA\\rpa-env-delete-btn.svg'> 
                <div>Delete</div>
                </button>
        </div>       
        <div *ngIf="DBdeleteflag==false" class="env-btn">
            <button data-toggle="tooltip" data-placement="top" id="deleteenvbtn" title="Delete Environment" disabled>
            <img src='..\\assets\\images\\RPA\\rpa-env-delete-btn.svg'> 
            <div>Delete</div>
            </button>
        </div>
    </div>
    
    <div style="width:100%;overflow-x: scroll;">
    
            <table mat-table #sort2="matSort" [dataSource]="dataSource2" matSort class=" table">
                
                <ng-container matColumnDef="check">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input [disabled]="DBcheckeddisabled" type="checkbox" id="DBcheckall" [checked]="DBcheckflag" (change)="DBcheckAllCheckBox($event)">
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="checkbox" [checked]="element.checked" (change)="DBcheckEnableDisableBtn(element.connectionId, $event)"> 
                    </td>
                </ng-container>

                <ng-container matColumnDef="connectiontName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Connection Name</th>
                    <td mat-cell *matCellDef="let element"> 
                        <button *ngIf="element.connectiontName!=null">{{element.connectiontName}}</button> 
                        <span *ngIf="element.connectiontName==''">-</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
                    <td mat-cell *matCellDef="let element"> <button *ngIf="element.password!=null">*******</button> <span *ngIf="element.password==''">-</span> </td>
                </ng-container>
                <ng-container matColumnDef="dataBaseType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Database Type</th>
                    <td mat-cell *matCellDef="let element"> 
                        <button *ngIf="element.dataBaseType!=null">{{element.dataBaseType}}</button> 
                        <span *ngIf="element.dataBaseType==''">-</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="databasename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Database Name</th>
                    <td mat-cell *matCellDef="let element"> 
                        <button *ngIf="element.databasename!=null">{{element.databasename}}</button> 
                        <span *ngIf="element.databasename==''">-</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="hostAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>IP Address/Host</th>
                    <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.hostAddress!=null">{{element.hostAddress | ipcustompipe}}</span> 
                        <span *ngIf="element.hostAddress==''">-</span> </td>
                </ng-container>
                <ng-container matColumnDef="portNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Port</th>
                    <td mat-cell *matCellDef="let element"> <span *ngIf="element.portNumber!=null">{{element.portNumber}}</span>
                         <span *ngIf="element.portNumber==''">-</span> </td>
                </ng-container>
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
                    <td mat-cell *matCellDef="let element"> <span *ngIf="element.username!=null">{{element.username}}</span>
                         <span *ngIf="element.username==''">-</span></td>
                </ng-container>
                <ng-container matColumnDef="schemaName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Schema</th>
                    <td mat-cell *matCellDef="let element"> <span *ngIf="element.schemaName!=null">{{element.schemaName}}</span>
                         <span *ngIf="element.schemaName==''">-</span></td>
                </ng-container>
                <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                    <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.createdBy!=null">{{element.createdBy}}</span> 
                        <span *ngIf="element.createdBy==''">-</span> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="activeStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.activeStatus == 7"><span><img class="rpa-image1" src="/assets/images/RPA/GreenCricle.png"></span>&nbsp;Active</span>
                        <span *ngIf="element.activeStatus == 8"><span><img class="rpa-image1" src="/assets/images/RPA/red-circle.png"></span>&nbsp;Inactive</span>
                        <span *ngIf="element.activeStatus == 0"><span><img class="rpa-image1" src="/assets/images/RPA/red-circle.png"></span>&nbsp;Undefined</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="createdTimeStamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
                    <td mat-cell *matCellDef="let element"> <span *ngIf="element.createdTimeStamp!=null">{{element.createdTimeStamp | date}} {{element.createdTimeStamp.split("T")[1].split(".")[0]}}</span> <span *ngIf="element.createdTimeStamp==''">-</span> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                <tr class="row-highlight" mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
        
        </div>
            <mat-paginator #paginator2 [pageSize]="5" [showFirstLastButtons]="true"></mat-paginator>
    </div>


    <div id="createdbconnection" class="rpa-modal">
        <div class="rpa-modal-content">
            <div class="rpa-modal-header">
                <span class="rpa-modal-close" (click)="closedbconnection()">&times;</span>
                <h4>Create Database Connection</h4>
            </div>
            <div class="container">
                <form [formGroup]="insertdbForm" (ngSubmit)="savedata()">
                    <div class="row">
                        <div class="col-md-3 formelement">
                            <label for="connectiontName">Connection Name*</label>
                            <input type="text" maxlength="50" class="form-control data" formControlName="connectiontName" #connectiontName value="" placeholder="Enter Connection Name">
                            <span *ngIf="insertdbForm.get('connectiontName').invalid && insertdbForm.get('connectiontName').touched" style="color:red" class="fa fa-info-circle errspan"> Connection Name Required*</span>
                        </div>
                        
                        <div class="col-md-3 formelement">
                            <label for="dataBaseType">Database Type*</label>
                            <select class="form-control" formControlName="dataBaseType">
                                <option value="" [selected]="true">--Select Database Type--</option>
                                <option value="PostgresSQL">PostgresSQL</option>                      
                              </select>
                            <span *ngIf="insertdbForm.get('dataBaseType').invalid && insertdbForm.get('dataBaseType').touched" style="color:red" class="fa fa-info-circle errspan"> Database Type Required*</span>
                        </div>

                        <div class="col-md-3 formelement">
                            <label for="databasename">Database Name*</label>
                            <input type="text" maxlength="50" class="form-control data" formControlName="databasename" #hostAddress value="" placeholder="Database Name">
                            <span *ngIf="insertdbForm.get('databasename').invalid && insertdbForm.get('databasename').touched" style="color:red" class="fa fa-info-circle errspan"> Database Name Required*</span>
                        </div>
                        <div class="col-md-3 formelement">
                            <label for="hostAddress">IP Address/Host*</label>
                            <input type="text" maxlength="50" class="form-control data" formControlName="hostAddress" #hostAddress value="" placeholder="Enter IP Address/Host">
                            <span *ngIf="insertdbForm.get('hostAddress').invalid && insertdbForm.get('hostAddress').touched" style="color:red" class="fa fa-info-circle errspan">IP Address/Host Required*</span>
                        </div>                  
                      
                    </div>
                    <div class="row">  
                        <div class="col-md-3 formelement">
                            <label for="portNumber">Port*</label>
                            <input type="number"  maxlength="6" class="form-control" formControlName="portNumber" value="" placeholder="Enter Port">        
                            <span *ngIf="insertdbForm.get('portNumber').invalid && insertdbForm.get('portNumber').touched" style="color:red" class="fa fa-info-circle errspan"> Port Required*</span>
                        </div>  
                        <div class="col-md-3 formelement">
                            <label for="username">Username*</label>
                            <input type="text" maxlength="50" class="form-control" formControlName="username" #username value="" placeholder="Enter Username">
                            <span *ngIf="insertdbForm.get('username').invalid && insertdbForm.get('username').touched" style="color:red" class="fa fa-info-circle errspan"> Username Required*</span>        
                        </div>                    
                        <div class="col-md-3 formelement">
                            <label for="password">Password*</label>
                            <input [type]="passwordtype1 ? 'text': 'password'" maxlength="50" class="form-control" formControlName="password" value="" placeholder="Enter Password" passwordToggle>
                            <span *ngIf="passwordtype1==false" class="fa fa-fw fa-eye field-icon" (click)="passwordtype1 =!passwordtype1"></span>
                            <span *ngIf="passwordtype1==true" class="fa fa-fw fa-eye-slash field-icon" (click)="passwordtype1 =!passwordtype1"></span>
                            <span *ngIf="insertdbForm.get('password').invalid && insertdbForm.get('password').touched" style="color:red" class="fa fa-info-circle errspan"> Password Required*</span>
                        </div>
                        
                        <div class="col-md-3 formelement">
                            <label for="schemaName">Schema*</label>
                            <input type="text" maxlength="50" class="form-control data" formControlName="schemaName" #schemaName value="" placeholder="Enter Schema">
                            <span *ngIf="insertdbForm.get('schemaName').invalid && insertdbForm.get('schemaName').touched" style="color:red" class="fa fa-info-circle errspan"> Schema Required*</span>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3 formelement">
                            <input type="checkbox" checked formControlName="activeStatus"> Active
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary" value="Save" (click)="saveDBConnection()" [disabled]="insertdbForm.invalid || submitted">
                    <input type="button" class="btn btn-primary" value="Test Connection" (click)="testConnection('insert')" [disabled]="insertdbForm.invalid">
                    <input type="button" class="btn btn-primary" value="Reset" (click)="resetDBForm()">
                </form>
            </div>
        </div>
    </div>

    <div id="Updatedbconnection" class="rpa-modal">
        <div class="rpa-modal-content">
            <div class="rpa-modal-header">
                <span class="rpa-modal-close" (click)="closedbconnection()">&times;</span>
                <h4>Update Database Connection</h4>
            </div>
            <div class="container">
                <form [formGroup]="updatedbForm" (ngSubmit)="dbconnectionupdate()">
                    <div class="row">
                        <div class="col-md-3 formelement">
                            <label for="connectiontName">Connection Name*</label>
                            <input type="text" maxlength="50" class="form-control data" formControlName="connectiontName" #connectiontName value="" placeholder="Enter Connection Name">
                            <span *ngIf="updatedbForm.get('connectiontName').invalid && updatedbForm.get('connectiontName').touched" style="color:red" class="fa fa-info-circle errspan"> Connection Name Required*</span>
                        </div>
                        
                        <div class="col-md-3 formelement">
                            <label for="dataBaseType">Database Type*</label>
                            <select class="form-control" formControlName="dataBaseType">
                                <option value="" [selected]="true">--Select Database Type--</option>
                                <option value="PostgresSQL">PostgresSQL</option>                      
                              </select>
                            <span *ngIf="updatedbForm.get('dataBaseType').invalid && updatedbForm.get('dataBaseType').touched" style="color:red" class="fa fa-info-circle errspan"> Database Type Required*</span>
                        </div>
                        <div class="col-md-3 formelement">
                            <label for="databasename">Database Name*</label>
                            <input type="text" maxlength="50" class="form-control data" formControlName="databasename" #hostAddress value="" placeholder="Database Name">
                            <span *ngIf="updatedbForm.get('databasename').invalid && updatedbForm.get('databasename').touched" style="color:red" class="fa fa-info-circle errspan"> Database Name Required*</span>
                        </div>
                        <div class="col-md-3 formelement">
                            <label for="hostAddress">IP Address/Host*</label>
                            <input type="text" maxlength="50" class="form-control data" formControlName="hostAddress" #hostAddress value="" placeholder="Enter IP Address/Host">
                            <span *ngIf="updatedbForm.get('hostAddress').invalid && updatedbForm.get('hostAddress').touched" style="color:red" class="fa fa-info-circle errspan">IP Address/Host Required*</span>
                        </div>
                                             
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3 formelement">
                            <label for="portNumber">Port*</label>
                            <input type="number"  maxlength="6" class="form-control" formControlName="portNumber" value="" placeholder="Enter Port">        
                            <span *ngIf="updatedbForm.get('portNumber').invalid && updatedbForm.get('portNumber').touched" style="color:red" class="fa fa-info-circle errspan"> Port Required*</span>
                        </div> 
                        <div class="col-md-3 formelement">
                            <label for="username">Username*</label>
                            <input type="text" maxlength="50" class="form-control" formControlName="username" #username value="" placeholder="Enter Username">
                            <span *ngIf="updatedbForm.get('username').invalid && updatedbForm.get('username').touched" style="color:red" class="fa fa-info-circle errspan"> Username Required*</span>        
                        </div>
                        <div class="col-md-3 formelement">
                            <label for="password">Password*</label>
                            <input [type]="passwordtype1 ? 'text': 'password'" maxlength="50" class="form-control" formControlName="password" value="" placeholder="Enter Password" passwordToggle>
                            <span *ngIf="passwordtype1==false" class="fa fa-fw fa-eye field-icon" (click)="passwordtype1 =!passwordtype1"></span>
                            <span *ngIf="passwordtype1==true" class="fa fa-fw fa-eye-slash field-icon" (click)="passwordtype1 =!passwordtype1"></span>
                            <span *ngIf="updatedbForm.get('password').invalid && updatedbForm.get('password').touched" style="color:red" class="fa fa-info-circle errspan"> Password Required*</span>
                        </div>
                        
                        <div class="col-md-3 formelement">
                            <label for="schemaName">Schema*</label>
                            <input type="text" maxlength="50" class="form-control data" formControlName="schemaName" #schemaName value="" placeholder="Enter Schema">
                            <span *ngIf="updatedbForm.get('schemaName').invalid && updatedbForm.get('schemaName').touched" style="color:red" class="fa fa-info-circle errspan"> Schema Required*</span>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3 formelement">
                            <input type="checkbox" [checked]="toggle" formControlName="activeStatus"> Active
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary" value="Save" (click)="dbconnectionupdate()" [disabled]="updatedbForm.invalid || submitted">
                    <input type="button" class="btn btn-primary" value="Test Connection" (click)="testConnection('update')" [disabled]="updatedbForm.invalid">
                     <input type="button" class="btn btn-primary" value="Reset" (click)="resetupdateDBForm()">
                </form>
            </div>
        </div>
    </div>