.ep-header-white{
    background-color: #098DE6 !important;
    height: 55px;
    box-shadow: none !important;
    position: absolute;
  }
  .approval-newscreen-body{
    margin-top: 60px;
  }
  .bg-prime-header{
    /* background-color: #098DE6 !important; */
  }
  .approvals-table .td{
    font-size:14px;
  }
  .approval-table-div{
    /* padding: 16px; */
    padding-bottom: 6px;
    overflow: auto;
    position: relative;
    width: 100%;
    height: calc(100vh - 130px);
    background: var(--main-bgcolor);
  }
  
  .table {
    width: 100%;
  }
  
  .table thead th {
    position: sticky;
    top: 0;
    /* background-color: #fff; */
    z-index: 1;
  }