<div class="maincontent">
  <div class="h-100">
    <div class="row main-content-head">
        <h3>
          <span class="title_text">User Management</span>
        </h3>
    </div>
    <div class="main-content-body tablist-cont">
      <div class="tabs_screen h-100">    
        <p-tabView #tabView styleClass="tabview-custom" (onChange)="onTabChanged($event, tabView)"
          [(activeIndex)]="selected_tab_index">
          <p-tabPanel header="Users">
            <ng-template pTemplate="header">
              <i class="pi pi-users icon-color tab_icons" style="font-size: 2rem"></i>
              <span class="titlelabel">Users</span>
            </ng-template>
            <div *ngIf="check_tab == 0">
              <app-users></app-users>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Departments">
            <ng-template pTemplate="header">
              <img src="./../../../../assets/images/Admin/Departments_new.svg" alt="Departments" class="">
              <span class="titlelabel">Departments</span>
            </ng-template>
            <div *ngIf="check_tab == 1">
              <app-departments></app-departments>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>  
  </div>
</div>
