    <div class="container-fluid">
        <div class="row">
                <div id="particles-js"></div>
            <div class="col-sm-6 login-bg">
                <img src="assets/images/loginimage.png">
            </div>
            <div class="col-sm-6">
                <div class="form">
                    <form id="a">
                        <div class="brand">
                            <img src="assets/images/logo_img.png">
                        </div>
                        <span class="col-sm-12 inner-addon left-addon">
                                <img src="assets/images/username_icon.png">
                                <input type="text" id="us" placeholder="Enter User Name">
                        </span>
                        <span class="col-sm-12 inner-addon left-addon">
                                <img src="assets/images/password_icon.png">
                                <input type="password" id="pwd" placeholder="Enter Password">
                        </span>
                        <!-- <a href="#" class="fp"><h6>Forgot password?</h6></a> -->
                        <div class="col-sm-10">
                        <button class="btn btn-primary login-btn" type="submit" id="btn" routerLink="/pages/home">Login</button>
                    </div>
                    </form>
                </div> 
            </div>
        </div>
      
    </div>
  