<div id="createcredentials" class="h-100">
    <div class="create-header">
        <!-- <h3 *ngIf="!isCreateForm">Update Credentials</h3> -->
        <h3>Create Custom Task</h3>
    </div>
    <div class="createform-overlay">
        <form [formGroup]="customTaskForm" class="h-100">
            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Task Name <span class="star">*</span></label>
                <input type="text" maxlength="51" class="form-control data" formControlName="taskName" 
                value="" placeholder="Enter Task Name">
                <span
                    *ngIf="(customTaskForm.get('taskName').invalid && customTaskForm.get('taskName').touched) && !customTaskForm.controls['taskName'].hasError('pattern') && !customTaskForm.controls['taskName'].hasError('maxlength')"
                    class="required"> Task Name Required
                </span>
            </div>
            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Input Reference <span class="star">*</span></label>
                <input type="text" maxlength="51" class="form-control data" formControlName="inputRef" 
                value="" placeholder="Enter Input Reference">
                <span
                *ngIf="(customTaskForm.get('inputRef').invalid && customTaskForm.get('inputRef').touched) && !customTaskForm.controls['inputRef'].hasError('pattern') && !customTaskForm.controls['inputRef'].hasError('maxlength')"
                class="required"> Input Reference Required
                </span>
            </div>
            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Output Reference <span class="star">*</span></label>
                <input type="text" maxlength="51" class="form-control data" formControlName="outputRef" 
                 value="" placeholder="Enter Output Reference">
                 <span
                 *ngIf="(customTaskForm.get('outputRef').invalid && customTaskForm.get('outputRef').touched) && !customTaskForm.controls['outputRef'].hasError('pattern') && !customTaskForm.controls['outputRef'].hasError('maxlength')"
                 class="required"> Output Reference Required
                </span>
            </div>
            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Language Type <span class="star">*</span></label>
                <!-- <input type="text" maxlength="51" class="form-control data" formControlName="languageType" #userName -->
                <p-dropdown [options]="languages" formControlName="languageType"
                [style]="{'width':'100%'}" placeholder="Select Language Type"></p-dropdown>
                <span
                *ngIf="(customTaskForm.get('languageType').invalid && customTaskForm.get('languageType').touched) && !customTaskForm.controls['languageType'].hasError('pattern') && !customTaskForm.controls['languageType'].hasError('maxlength')"
                class="required"> Language Type Required
                </span>
            </div>
            <div class="col-md-12 p-0 form-group" *ngFor="let category of categories">
                    <p-radioButton [style]="{'width':'100%'}" [value]="category.name" formControlName="selectedCategory" (click)="radioChange(category.name)" ></p-radioButton>
                    <label class="ml-2">{{ category.name }}</label>
            </div>
            <div class="col-md-12 p-0 form-group" *ngIf="showPathField">
                <label class="label-control" for="userName"> Executable Path <span class="star">*</span></label>
                <input type="text" maxlength="51" class="form-control data" formControlName="executablePath" 
                value="" placeholder="Enter Executable Path">
            </div>
            <div class="col-md-12 p-0 form-group" *ngIf="showCodeField">
                <label class="label-control" for="userName"> Code Editor <span class="star">*</span></label>
                <!-- <input type="text" maxlength="51" class="form-control data" formControlName="codeEditor" #userName
                value="" placeholder="Enter Email"> -->
                <textarea name="" id="" cols="30" rows="10" class="form-control data" placeholder="Enter Code Editor" formControlName="codeEditor"></textarea>
            </div>
        </form>
        <div class="createform-footer">
            <button class="btn new-cancelbtn" (click)="resetCustomTasks()">Reset</button>
            <button class="btn bluebg-button" (click)="saveCustomTasks()"> Save
            </button>
            <!-- <button *ngIf="!isCreateForm" class="btn bluebg-button" (click)="saveCredentials()">Update
            </button> -->
        </div>
    </div>
</div>
<p-toast  [style]="{marginTop: '50px'}" ></p-toast>
