<div id="createcredentials" class="h-100">
    <div class="create-header">
        <h3 *ngIf="isupdateform">Update Custom Task</h3>
        <h3 *ngIf="!isupdateform">Create Custom Task</h3>
    </div>
    <div class="createform-overlay">
        <form [formGroup]="customTaskForm" class="h-100">
            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Task Name <span class="star">*</span></label>
                <input type="text" maxlength="51" class="form-control data" formControlName="customTaskName" (input)="checkSdkTaskName()"
                value="" placeholder="Enter Task Name">
                <span
                    *ngIf="(customTaskForm.get('customTaskName').invalid && customTaskForm.get('customTaskName').touched) && !customTaskForm.controls['customTaskName'].hasError('pattern') && !customTaskForm.controls['customTaskName'].hasError('maxlength')"
                    class="required"> Task Name Required
                </span>
                <span *ngIf="customTaskNameCheck && customTaskForm.get('customTaskName').value && !customTaskForm.get('customTaskName').hasError('pattern')"
                    class="required">
                    Task Name already exists*
                </span>
            </div>
            <!-- temporarly commenting the input and output reference fields as it is not in use for now -->
            <!-- <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Input Reference <span class="star">*</span></label>
                <input type="text" maxlength="51" class="form-control data" formControlName="inputReference" 
                value="" placeholder="Enter Input Reference">
                <span
                *ngIf="(customTaskForm.get('inputReference').invalid && customTaskForm.get('inputReference').touched) && !customTaskForm.controls['inputReference'].hasError('pattern') && !customTaskForm.controls['inputReference'].hasError('maxlength')"
                class="required"> Input Reference Required
                </span>
            </div>
            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Output Reference <span class="star">*</span></label>
                <input type="text" maxlength="51" class="form-control data" formControlName="outputReference" 
                 value="" placeholder="Enter Output Reference">
                 <span
                 *ngIf="(customTaskForm.get('outputReference').invalid && customTaskForm.get('outputReference').touched) && !customTaskForm.controls['outputReference'].hasError('pattern') && !customTaskForm.controls['outputReference'].hasError('maxlength')"
                 class="required"> Output Reference Required
                </span>
            </div> -->
            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Language Type <span class="star">*</span></label>
                <!-- <input type="text" maxlength="51" class="form-control data" formControlName="languageType" #userName -->
                <p-dropdown [options]="languages" formControlName="languageType"
                [style]="{'width':'100%'}" placeholder="Select Language Type" optionLabel="language" optionValue="language"></p-dropdown>
                <span
                *ngIf="(customTaskForm.get('languageType').invalid && customTaskForm.get('languageType').touched) && !customTaskForm.controls['languageType'].hasError('pattern') && !customTaskForm.controls['languageType'].hasError('maxlength')"
                class="required"> Language Type Required
                </span>
            </div>
            <!-- temporarly commenting radio button as it is not in use for now. -->
            <!-- <div class="col-md-12 p-0 form-group" *ngFor="let category of categories">
                    <p-radioButton [style]="{'width':'100%'}" [value]="category.name" formControlName="selectedCategory" (click)="radioChange(category.name)" ></p-radioButton>
                    <label class="ml-2">{{ category.name }}</label>
            </div> -->
            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName"> Executable Path <span class="star">*</span></label>
                <input type="text" maxlength="250" class="form-control data" formControlName="executablePath" 
                value="" placeholder="Enter Executable Path">
                <span
                *ngIf="(customTaskForm.get('executablePath').invalid && customTaskForm.get('executablePath').touched) && !customTaskForm.controls['executablePath'].hasError('pattern') && !customTaskForm.controls['executablePath'].hasError('maxlength')"
                class="required"> Executable Path Required
                </span>
            </div>

            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="approver">Select Approver<span class="star">*</span></label>
                <p-dropdown [options]="users_list" [filter]="true" [style]="{'width':'100%'}" [appendTo]="'body'"
                    filterBy="user_email,fullName" [autoDisplayFirst]="false"
                    placeholder="Select approver" formControlName="approver" optionValue="user_email"
                    optionLabel="fullName" [dropdownIcon]="isLoading ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'">
                </p-dropdown>
                <span *ngIf="customTaskForm.get('approver').invalid && customTaskForm.get('approver').touched"
                    class="required">Process Owner Required</span>
            </div>

            <div class="col-md-12 p-0 form-group">
                <label class="label-control" for="userName">Comments <span class="star">*</span></label>
                    <textarea type="text" maxlength="250" class="form-control data" formControlName="comments" value=""
                        placeholder="Enter comments" rows="3" cols="30" pInputTextarea [autoResize]="true">
                    </textarea>
                <span
                    *ngIf="(customTaskForm.get('comments').invalid && customTaskForm.get('comments').touched) && !customTaskForm.controls['comments'].hasError('pattern') && !customTaskForm.controls['comments'].hasError('maxlength')"
                    class="required"> Comments Required
                </span>
            </div>
            <!-- temporarly commenting radio button condtional fields as it is not in use for now. -->
            <!-- <div class="col-md-12 p-0 form-group" *ngIf="showPathField">
                <label class="label-control" for="userName"> Executable Path <span class="star">*</span></label>
                <input type="text" maxlength="250" class="form-control data" formControlName="executablePath" 
                value="" placeholder="Enter Executable Path">
                <span
                *ngIf="(customTaskForm.get('executablePath').invalid && customTaskForm.get('executablePath').touched) && !customTaskForm.controls['executablePath'].hasError('pattern') && !customTaskForm.controls['executablePath'].hasError('maxlength')"
                class="required"> Executable Path Required
                </span>
            </div>
            <div class="col-md-12 p-0 form-group" *ngIf="showCodeField">
                <label class="label-control" for="userName"> Code Editor <span class="star">*</span></label>
                <input type="text" maxlength="51" class="form-control data" formControlName="code" #userName
                value="" placeholder="Enter Email">
                <textarea name="" id="" cols="30" rows="10" class="form-control data" placeholder="Enter Code Editor" formControlName="code"></textarea>
                <span
                *ngIf="(customTaskForm.get('code').invalid && customTaskForm.get('code').touched) && !customTaskForm.controls['code'].hasError('pattern') && !customTaskForm.controls['code'].hasError('maxlength')"
                class="required"> Code Editor Required
                </span>
            </div> -->
        </form>
        <div class="createform-footer">
            <button class="btn new-cancelbtn" *ngIf="isupdateform" (click)="cancelUpdate()">Cancel</button>
            <button class="btn new-cancelbtn" *ngIf="!isupdateform" (click)="resetCustomTasks()">Reset</button>
            <!-- <button class="btn new-cancelbtn" *ngIf="!isupdateform" (click)="saveCustomTasks()">Draft</button> -->
            <!-- <button *ngIf="!hideDraftButton" class="btn bluebg-button" (click)="saveCustomTasks(false)"> Draft</button> -->
            <button *ngIf="!hideDraftButton && !isupdateform" class="btn bluebg-button" (click)="saveCustomTasks(false)"> Draft</button>
            <button class="btn bluebg-button" [disabled]="customTaskForm.invalid || customTaskNameCheck" *ngIf="(isupdateform && updatetaskDetails.status !='Approved' && updatetaskDetails.status != 'Draft')" (click)="updateCustomTasks(true)"> Update</button>
            <!-- <button class="btn bluebg-button" [disabled]="customTaskForm.invalid" *ngIf="isupdateform" (click)="updateCustomTasks(false)"> Draft</button> -->
            <button class="btn bluebg-button" [disabled]="customTaskForm.invalid || customTaskNameCheck" *ngIf="!isupdateform " (click)="saveCustomTasks(true)"> Submit for Approval</button>
            <button class="btn bluebg-button" [disabled]="customTaskForm.invalid || customTaskNameCheck" *ngIf="(isupdateform && (updatetaskDetails.status == 'Approved' || updatetaskDetails.status == 'Draft' ))" (click)="updateApproval(true)"> Submit for Approval</button>
        </div>
    </div>
</div>
<p-toast  [style]="{marginTop: '50px'}" ></p-toast>
