
<br><br><br>
<div class="createBtn">
  <button  type="button" class="btn btn-primary"  aria-hidden="true" placement="bottom" id="Create_Bot" (click)="onCreate()">
    Create
  </button>
</div>

<!-- tabs -->
<div class="col-md-12" *ngIf="tabsArray.length > 0">
</div>

<div *ngIf="tabsArray.length > 0" class="container">
<div class="col-md-12 row">
<div class="col-md-2 side-slide" id="dragandrop">
  <div class="paddclass">
    <input class="mainLoginInput" style="border: 1px solid gainsboro;" type="text" [(ngModel)]="userFilter.name" name="node" placeholder="search"
      class="form-control" autocomplete="off">
  </div>
  <div style="margin: 40px 0px 0px 0px;">
<div class="nodes" *ngFor="let node of templateNodes | filterBy: userFilter | slice:0:show;  let i=index">
    <div class="" [dndDraggable]="node">
      <span>
          <img [src]="node.path" class="con-img"> 
      </span>
    </div>
  </div>
  <div class="slice-icon" *ngIf="show < templateNodes.length" (click)="increaseShow()"><i class="fa fa-ellipsis-v more-icon" aria-hidden="true"></i>
  </div>
  </div>
</div>
<div class="col-md-10">
<app-rpa-studio-tabs [tabsArray]= "tabsArray" (closeTabEvent)="closeBot($event)" [tabActiveId]="tabActiveId"></app-rpa-studio-tabs>
<div class="rpa-nav">
  <div class="rpa-nav-btn">
    <button  type="button" class="rpa-nav-btn" aria-hidden="true" placement="bottom" [routerLink]="[ '/pages/rpautomation/environments']" > 
      <img src="..\\assets\\images\\RPA\\environments_icon.svg" class="rpa-nav-btn-img">
        <br>
        Open Environments
    </button>  
</div>
<div class="rpa-nav-btn">
  <button  type="button" class="rpa-nav-btn" aria-hidden="true" placement="bottom" [routerLink]="[ '/pages/rpautomation/workspace']" > 
    <img src="..\\assets\\images\\RPA\\rpa-nav-workspace.svg" class="rpa-nav-btn-img">
     <br> 
  Open Workspace
  </button>
  </div>

</div>
</div>
</div>
</div>


<!--foms  -->
<div *ngIf="hiddenCreateBotPopUp"  class="pop-up conainer">
  <div class="card">
    <div class="card-header">
      Create
      <span class="class-css" (click)="closeFun()" >X</span>
    </div>  
  <div class="container card-body">
    
    <form [formGroup]="insertbot" (ngSubmit)="onCreateSubmit()" >
        
      <div class="form-group">
        
        <div class="row">
          
          <div class="col-md-6">
          
            <label for="botName">Bot Name</label>
            <input type="text" formControlName="botName" autocomplete="off" placeholder="Enter Bot Name" class="form-control" name="botName" required/>
            <div *ngIf="insertbot.get('botName').invalid && insertbot.get('botName').touched" style="color: red" >
              Invalid Input
              </div>
          
          </div>
          
          
          <div class="col-md-6">
            <label for="botType">Bot Type</label>
              
            <select  class="form-control" formControlName="botType" name="botType" >
              <option value="" [selected]="true">--Select Bot Type--</option>
              <option  value="Attended">Attended</option>
              <option  value="Unattended">Unattended</option>
            </select>
            <div *ngIf="insertbot.get('botType').invalid && insertbot.get('botType').touched" style="color: red" >
              Invalid Input
              </div>
          
          </div>
        
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <label for="botDepartment">Department</label>
              
            <select  class="form-control" formControlName="botDepartment" name="botDepartment" >
              <option value="" [selected]="true">--Select Department--</option>
              <option  value="Development">Development</option>
              <option  value="HR">HR</option>
              <option  value="QA">QA</option>
     
            </select>
            <div *ngIf="insertbot.get('botDepartment').invalid && insertbot.get('botDepartment').touched" style="color: red" >
              Invalid Input
              </div>
            
          
          </div>
          <div class="col-md-6">
            <label for="botDescription">Bot Description</label>
            <input type="text" autocomplete="off" formControlName="botDescription"  placeholder="Enter Bot Description" class="form-control" name="botDescription"  />
            <div *ngIf="insertbot.get('botDescription').invalid && insertbot.get('botDescription').touched" style="color: red" >
            Invalid Input
            </div>
          </div>

        </div>

      </div>
    
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="insertbot.invalid" >Submit</button>
      </div>
    </form>

  </div>
  </div>
  </div>
