<div class="h-100">
    <mat-card>
        <div class="module-heading title">
            <span class="module-back-button" routerLink="/pages/support/ticket-list">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
            </span>
            <span class="module-header-title">
                <span class="module-parent-title">Issues</span>
            </span>
        </div>
        <div class="container-fluid h-scroll">
            <div class="maindivfoprm">
                <div class="grid">
                <form [formGroup]="createTicket" novalidate>
                    <div class="row">
                        <div class="col-md-12 CreateTkt-Heading">                            
                            <span class="">Create Ticket</span>
                        </div>
                        <div class="col-md-6 pl-0">
                            <div class="row">
                                <div class="col-md-12 p-0 form-fields">
                                    <label class="label-control">Summary<span class="star">*</span></label>
                                    <input type="text" formControlName="summary" [(ngModel)]="summary" matInput placeholder="Summary" class="form-control">
                                    <span *ngIf="requestKey != undefined && createRequestData != undefined">
                                        <div class="CreateTkt-buttons"
                                            *ngIf="createRequestData[0].summary != summary && summary.length != 0">
                                            <button class="btn btn-default" (click)="cancelSummary()">Cancel</button>
                                            <button class="btn btn-primary" (click)="editSummary()">Save</button>
                                        </div>
                                    </span>
                                    <span *ngIf="createTicket.get('summary').invalid && createTicket.get('summary').touched" class="errspan required">Summary Required*</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-0 form-fields">
                                    <label class="label-control">Description<span class="star">*</span></label>
                                    <textarea style="padding: 10px;" type="text" formControlName="description" [(ngModel)]="description" matInput placeholder="Enter Description" class="form-control"></textarea>
                                    <span *ngIf="requestKey != undefined && createRequestData != undefined">
                                        <div class="CreateTkt-buttons"
                                            *ngIf="createRequestData[0].description != description && description.length != 0">
                                            <button class="btn btn-default" (click)="cancelDescription()">Cancel</button>
                                            <button class="btn btn-primary" (click)="editDescription()">Save</button>
                                        </div>
                                    </span>
                                    <span *ngIf="createTicket.get('description').invalid && createTicket.get('description').touched" class="errspan required">Description Required*</span>
                                </div>
                            </div>
                            <div class="row" *ngIf="requestKey != undefined">
                                <div class="col-md-12 p-0 form-fields">
                                    <label class="label-control">Comment<span class="star">*</span></label>
                                    <input class="form-control" type="text" matInput formControlName="comment" [(ngModel)]="comment" placeholder="Enter Comment">
                                    <span *ngIf="commentRequest != '' || undefined">
                                        <div class="CreateTkt-buttons" *ngIf="commentRequest[0].comment != comment">
                                            <button class="btn btn-default" (click)="cancelComment()">Cancel</button>
                                            <button class="btn btn-primary" (click)="editComment()">Save</button>
                                        </div>
                                    </span>
                                    <span *ngIf="commentRequest == '' || undefined">
                                        <div class="CreateTkt-buttons" *ngIf="comment">
                                            <button class="btn btn-default" (click)="cancelComment()">Cancel</button>
                                            <button class="btn btn-primary" (click)="editComment()">Save</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <span *ngIf="requestKey != undefined || null"></span>
                            <div class="row">
                                <div class="col-md-12 p-0">
                                <label class="label-control">Attachment<span class="star">*</span></label>
                                <div (click)="fileInput.click()" class="CreateTkt-Attachmentbox">
                                    <span style="display: flex;justify-content: center;">
                                        <i class="fa fa-cloud-upload-alt" style="margin: 1px" aria-hidden="true"></i>
                                        &nbsp;&nbsp;
                                        Find files to attach, or browse.</span>
                                    <input multiple #fileInput accept=".jpg,.png,.pdf,.xls,.xlsx" type="file" (change)="file($event)" style="display:none;" />
                                </div>
                                <div class="fileerror" *ngIf="fileError && requestKey == undefined || null">
                                    <p>This file or image don't support or empty , Please try again later.</p>
                                </div>
                                <span *ngIf="!fileError && requestKey == undefined || null">
                                    <div *ngFor="let item of fileName; index as i" class="row">
                                        <div class="col-1"
                                            style="flex: 0 0 auto;width: 5.666667%;padding: 1.5%;padding-left: 3%;display: flex;align-self: center;">
                                            <i style="margin-bottom: 50%;" class="far fa-file-alt"></i>
                                        </div>
                                        <div class="col-8" style="flex: 0 0 auto;margin-top: 6px;">
                                            <span>
                                                <span class="filenameoverflow">{{item.name}}</span> <span style="position: absolute;
                                                left: 42%;">{{item.size}} KB</span><br>
                                <mat-progress-bar mode="determinate" [value]=progress>
                                </mat-progress-bar>
                                </span>
                                <span style="position: relative;left: 50%;top: -40%;font-size: x-large;">
                                                <span class="closefile" (click)="DeleteFile(item , i)">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                </span>
                            </div>
                        </div>
                                </span>
                                </div>
                    </div>
                    <div class="row" style="position: relative;left: 2%;" *ngIf="requestKey != undefined || null">
                        <div class="col-md-12 p-0" *ngFor="let item of imageArray">
                            <a *ngIf="item.type == 'pdf'" href="data:application/pdf;base64,{{item.file}}" download="{{item.name}}" class="CreateTkt-download">
                                <i class="fas fa-download"></i> &nbsp; <span>Click to download</span>
                                <p>{{item.name}}</p>
                            </a>
                            <a *ngIf="item.type == 'txt'" href="data:image/png;base64,{{item.file}}" download="{{item.name}}" class="CreateTkt-download">
                                <i class="fas fa-download"></i> &nbsp; <span>Click to download</span>
                                <p>{{item.name}}</p>
                            </a>
                            <a *ngIf="item.type == 'xlsx'" href="data:image/png;base64,{{item.file}}" download="{{item.name}}" class="CreateTkt-download">
                                <i class="fas fa-download"></i> &nbsp; <span>Click to download</span>
                                <p>{{item.name}}</p>
                            </a>
                            <a *ngIf="item.type == 'jpg' || item.type == 'png' || item.type == 'jpeg'" href="data:image/png;base64,{{item.file}}" download="{{item.name}}" class="CreateTkt-download">
                                <i class="fas fa-download"></i> &nbsp; <span>Click to download</span>
                                <p>{{item.name}}</p>
                            </a>
                            <a *ngIf="item.type == 'svg'" href="data:image/png;base64,{{item.file}}" download="{{item.name}}" class="CreateTkt-download">
                                <i class="fas fa-download"></i> &nbsp; <span>Click to download</span>
                                <p>{{item.name}}</p>
                            </a>
                        </div>
                    </div>
            </div>
            <!-- col-2 -->
            <div class="col-md-6 pr-0">
                <div class="form-fields Component-filed" [ngClass]="requestKey != undefined || null ? 'disabled' : ''">
                    <label class="label-control" style="width: 100%;">Component<span class="star">*</span></label>
                    <mat-form-field class="issue-type">
                        <mat-select multiple formControlName="component" [(ngModel)]="component" #toppings class="form-control data" style="width: 100%;">
                            <mat-option value="Task Mining">Task Mining</mat-option>
                            <mat-option value="Service Orchestration">Service Orchestration</mat-option>
                            <mat-option value="Robatic Process Automation">Robatic Process Automation
                            </mat-option>
                            <mat-option value="Process Intelligence">Process Intelligence</mat-option>
                            <mat-option value="Business Process Studio">Business Process Studio</mat-option>
                            <button class="component-button" (click)="toppings.close()">OK</button>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="createTicket.get('component').invalid && createTicket.get('component').touched" class="errspan required">Component Required*</span>
                </div>
                <div class="form-fields" [ngClass]="requestKey != undefined || null ? 'disabled' : ''">                    
                        <label class="label-control">Select Priority<span class="star">*</span></label>
                        <select formControlName="priority" [(ngModel)]='priority' class="form-control data" placeholder="Select Priority">
                            <option [value]="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                            <option value="Lowest">Lowest</option>
                        </select>
                    <span *ngIf="createTicket.get('priority').invalid && createTicket.get('priority').touched" class="errspan required">Priority Required*</span>
                </div>
                <div class="form-fields" [ngClass]="requestKey != undefined || null ? 'disabled' : ''">
                    <label class="label-control">Impact<span class="star">*</span></label>
                        <select formControlName="impact" [(ngModel)]='impact' class="form-control data" placeholder="Select Impact">
                            <option *ngFor="let item of impactArray" [value]=item.impact>{{item.impact}}
                            </option>
                        </select>
                    <span *ngIf="createTicket.get('impact').invalid && createTicket.get('impact').touched" class="errspan required">Impact Required*</span>
                </div>
                <div class="form-fields" [ngClass]="requestKey != undefined || null ? 'disabled' : ''">
                    <label class="label-control">Severity<span class="star">*</span></label>
                        <select formControlName="severity" [(ngModel)]='severity' class="form-control data" placeholder="Select Severity">
                            <option *ngFor="let item of severityLevelsArray" [value]=item.severity>{{item.severity}}</option>
                        </select>
                    <span *ngIf="createTicket.get('severity').invalid && createTicket.get('severity').touched" class="errspan required">Severity Required*</span>
                </div>
                <div class="form-fields">
                    <label class="label-control">Reporter<span class="star">*</span></label>
                        <select formControlName="reporter" class="form-control data" placeholder="Select Reporter">
                            <option [value]=userName>{{userName}}</option>
                        </select>
                    <span *ngIf="createTicket.get('reporter').invalid && createTicket.get('reporter').touched" class="errspan required">Reporter Required*</span>
                </div>                
            </div>
            <div class="CreateTkt-footer" *ngIf="requestKey == undefined">
                <button class="btn btn-default" (click)="reset()">Reset</button>
                <button class="btn btn-primary" [disabled]="createTicket.invalid" (click)="CreateNewTicket()">Create</button>
            </div>
        </div>
        </form>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<div class="spinoverlay" *ngIf="isLoading">
    <div class="spincenter">
        <img src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader" />
    </div>
</div>