<div class="h-100">
    <div class="h-100" id="my_workspace">
        <div class="module-heading title">
            <div class="col-md-10 p-0">
                <span class="module-header-title">
                    <span class="module-parent-title">Backlogs</span>
                </span>
            </div>
            <div class="ml-auto">
                <button class="btn btn-primary"  (click)="onCreate()">
                    <img src="../../../../assets/images/Projects/White-plus.svg" class="testplus">
                        Add New
                </button>               
            </div>
        </div>
        <div class="backlogsdiv-body">
           
            <div class="table_responsive graph_table">
                <table class="w-100">
                    <thead>
                        <tr class="theadcl">
                            <th id="">S.No</th>
                            <th id="">Idea Name</th>
                            <th id="">Process</th>
                            <th id="">Requester</th>
                            <th id="">Status</th>
                            <th id="">Created Date</th>
                            <th id="">Last Updated</th>
                            <th id="">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                    
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                    
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                    
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                    
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                   
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                   
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                  
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                    
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                    
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                    
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Integrate Jira</td>
                            <td>General</td>
                            <td>Priya E</td>
                            <td>Backlog</td>
                            <td>16-Jun-2021</td>
                            <td>18-Jun-2021</td>
                            <td class="tdSmallIcons">
                                <img class="testplus" alt="" src="../../../../assets/images/SO/eye-show dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/edit-dis.svg">
                                <img class="testplus" alt="" src="../../../../assets/images/RPA/icon_latest/delete-dis.svg">                                    
                            </td>
                        </tr>                   
                    </tbody>
                </table>
            </div>
            <div class="supportpaginationdiv">
                <mat-paginator class="newpaginationdiv" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>

    </div>

    <div class="spinoverlay" *ngIf="isLoading">
        <div class="spincenter">
            <img src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader" />
        </div>
    </div>
</div>