<div class="program-details-main" *ngIf="program_detials!=undefined">
  <div class="module-heading title nrema">
      <span class="module-back-button"  routerLink="/pages/projects/listOfProjects" ><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
      <span class="module-header-title">Programs</span>
    
   <span style="float:right" class="pull-right menu-items">
     <span>
       Summary
     </span>
     <span>
      <mat-slide-toggle></mat-slide-toggle>
     </span>
     
     <span>
       Detials
     </span>


     
     <span class="item-data">
        <i class="fa fa-file"></i>
      </span>
      
     <span class="item-data">
      <i class="fa fa-history"></i>
      </span>
      
     <span class="item-data">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </span>
    </span> 
    
</div>


<div class="container-fluid card">
    <div class="row  ">
        <div class="col-md-12 row border-bottom">
          <div class="col-md-10 d-flex ">
            <div class="status-img">
                <img src="..\assets\images\Projects\project_icon.svg" alt="" >
            </div>
            <div class="program-data">
              <span class="h3">{{program_detials.programName |uppercase}}</span><br>
              <span class="" style="font-size: 12px;" >{{program_detials.description}}</span>
              <div *ngIf="program_detials.description==undefined || program_detials.description==null || program_detials.description=='' " class="h6">-</div>
         
            </div>
          </div>
          <div class="col-md-1 p-0">
            <label class="">Start Date</label>
            <p class="">{{program_detials.createdTimestamp| date}}</p>
          </div>
          <div class="col-sm-1">
            <label class="">Status</label>
            <p class="">{{program_detials.status}}</p>
          </div>
        </div>
        <div class="col-md-12 py-10 " *ngIf="program_detials!= undefined">
          <div class="d-flex">
            <div class="item1 d-flex  w-100 py-10">
              <div class="process-img py-5">
                <img src="..\assets\images\Projects\process_icon.svg" alt="" >
              </div>
              <div class="value py-5">
                <p>Value Chain</p>
                <div *ngIf="program_detials.programValueChain!=undefined" class="h6">{{program_detials.programValueChain}}</div>
                <div *ngIf="program_detials.programValueChain==undefined || program_detials.programValueChain==null || program_detials.programValueChain=='' " class="h6">-</div>
              </div>
            </div>
            <div class="item1 d-flex w-100 py-10">
              <div class="process-img py-5">
                <img src="..\assets\images\Projects\process_icon.svg" alt="" >
              </div>
              <div class="value py-5">
                <p>Program Health</p>
                <div class="h6">{{program_detials.programHealth}}</div>
                <div *ngIf="program_detials.programHealth==undefined || program_detials.programHealth==null || program_detials.programHealth=='' " class="h6">-</div>
            
              </div>
            </div>
            <div class="item1 d-flex w-100  py-10">
              <div class="process-img py-5">
                  <img src="..\assets\images\Projects\document.svg" alt="" >
              </div>
              <div class="value py-5">
                <p>Program ID</p>
                <div class="h6">{{program_detials.id}}</div>
                <div *ngIf="program_detials.id==undefined || program_detials.id==null || program_detials.id=='' " class="h6">-</div>
            
              </div>
            </div>
            <div class="item1 d-flex  w-100 py-10">
              <div class="process-img py-5">
                <img src="..\assets\images\Projects\process_icon.svg" alt="" >
              </div>
              <div class="value py-5">
                <p>Program Purpose</p>
                <div class="h6">{{program_detials.purpose}}</div>
                <div *ngIf="program_detials.purpose==undefined || program_detials.purpose==null || program_detials.purpose=='' " class="h6">-</div>
            
              </div>
            </div>
            <div class="item1 d-flex w-100  py-10">
              <div class="process-img py-5">
                <img src="..\assets\images\Projects\process_icon.svg" alt="" >
              </div>
              <div class="value py-5">
                <p>Projects</p>
                <div class="h6">{{linked_projects.length}}</div>
              </div>
            </div>
            <div class="item1 d-flex w-100  py-10">
              <div class="process-img py-5">
                <img src="..\assets\images\Projects\process_icon.svg" alt="" >
              </div>
              <div class="value py-5">
                <p>Program Priority</p>
                <div class="h6">{{program_detials.priority}}</div>
                <div *ngIf="program_detials.priority==undefined || program_detials.priority==null || program_detials.priority=='' " class="h6">-</div>
            
              </div>
            </div>
            <div class="item1 d-flex w-100  py-10">
              <div class="process-img py-5">
                <img src="..\assets\images\Projects\process_icon.svg" alt="" >
              </div>
              <div class="value py-5">
                <p>Effort Spent</p>
                <input class="small-input" type="text"[value]="program_detials.effortsSpent==undefined?'-':program_detials.effortsSpent" disabled>

              </div>
            </div>
            <div class="item1 d-flex  w-100 py-10">
              <div class="process-img py-5">
                  <img src="..\assets\images\Projects\bot.svg" alt="" >
              </div>
              <div class="value py-5">
                <p>Program Sponser</p>
                <div class="h6">{{program_detials.owner | userPipe : users_list}}</div>
                <div *ngIf="program_detials.owner==undefined || program_detials.owner==null || program_detials.owner=='' " class="h6">-</div>
            
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<br>
  <div class="container-fluid card  py-10" style="overflow:auto" *ngIf="program_detials!=undefined">
        
       
        <div class="row ">
          <div class="col-md-12  py-10">
            <div class="d-flex  py-10">
              <div class="h4 w-100">Projects</div>
              <div class="w-100">
                <span  class="pull-right">
            
                <span>
                  <button (click)="createproject(template)" class="btn btn-primary">
                    <img src="../../../../assets/images/Projects/White-plus.svg" class="testplus"/>Create Projects</button>
                </span>
              </span>

              </div>
            </div>
              <div style="height:300px;">
              <table  class="table">
                <thead >
                  <th class="py-10">Initiative</th>
                  <th class="py-10">Project Name</th>
                  <th class="py-10">Project Owner</th>
                  <th class="py-10">Status</th>
                  <th class="py-10">Percentage Complete</th>
                  <th class="py-10">Last Updated</th>
                  <th class="py-10">Last Updated by</th>
                  <th class="py-10">Created By</th>
                  <th class="py-10">Action</th>
                </thead>
                <tbody>
                  <tr class="py-10" *ngFor="let project of linked_projects  | paginate: { itemsPerPage: 5, currentPage: p } ">
                    <td>{{project.initiatives}}</td>
                    <td>{{project.projectName}}</td>
                    <td>{{project.owner  | userPipe : users_list}}</td>
                    <td>New</td>
                    
                    <td>
                      <div class="d-flex">
                        <div>{{project.projectPercentage==undefined?0:project.projectPercentage}} %</div>
                        <div  class="py-5"><input type="range" min="0" class="slider" max="100" disabled [value]="project.projectPercentage==undefined?0:project.projectPercentage"></div>
                        
                      </div>
                        <!-- <mat-progress-bar mode="determinate" value="15"></mat-progress-bar> -->
                      </td>
                    <td>
                      <div *ngIf="project.lastModifiedTimestamp==undefined || project.lastModifiedTimestamp==null || project.lastModifiedTimestamp=='' " class="h6">--</div>
                      <div>
                        {{project.lastModifiedTimestamp | date:'MMM dd, y, HH:mm:ss'}}
                      </div>
                    </td>
                    
                    <td>
                      <div *ngIf="project.lastModifiedBy==undefined || project.lastModifiedBy==null || project.lastModifiedBy=='' " class="h6">--</div>
                      <div>{{project.lastModifiedBy}}</div>
                    </td>
                    <td>{{project.createdBy}}</td>
                    <td>
                      <span class="clickable text-primary py-5 clickable" (click)="projectDetailsbyId(project.id)">View</span>|<span class="clickable text-danger py-5 clickable" (click)="deleteproject(project)">Delete</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="linked_projects.length==0" class="text-center">
                  <img  src="../../../../assets/images/RPA/No-Items.svg" class="no-item-img">
                  <h3 class="text-center">No Items to display</h3>
              </div>
            </div>
              

            <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
       
    </div>
    <br>

    <div class="container-fluid margin-none">

        
        <div class="row">
          <div class="col-md-4 card">
          
              <div class=" program-graph py-10">
                <div class="h4">Project Cost</div>
                <div style="height:300px" id="project-cost"></div>
              </div>
            
          </div>


          <div class="col-md-4 ">
            <div class="card program-graph py-10">
              <div class="h4">Project Duration</div>
              <div style="height:300px" id="project-duration"></div>
            </div>
          </div>



          <div class="col-md-4 card">
            <div class="card program-graph py-10">
              <div style="height:300px"  id="line-chart"></div>
            </div>
          </div>

        </div>
    </div>
 



    <ng-template class="modal-lg" #template>
        <div class="modal-header modelprhead">
          <h4 class="modal-title pull-left">Add New Project</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalref.hide()">
            <span aria-hidden="true"><img src="../../../../assets/images/Projects/circle-close.svg" alt=""></span>
          </button>
        </div>
        
        <div class="h-scroll">
          <br>
          <app-create-project-form [users_list]="users_list" (oncreate)="linkcreateproject($event)" [processes]="selected_process_names"></app-create-project-form>
         <br><br><br><br><br><br>
      </div>
           
    </ng-template>

</div>
