/* Shared Module - upload create drop component styles - Starts*/
.drop_box{
  border: 1px solid #ccc;
  border-radius: 7px;
  height: 253px;
  text-align: center;
  color: #717386;
  padding: 0;
  margin: 10px auto;
}
.drop_box ngx-dropzone{
  height: 250px;
  margin: 0 auto;
}

.drop_box h1{
  margin-bottom: 2px;
}
.drop_box h4{
  margin-top: 2px;
}
.bpmn-btn{
  width: 120px;
  margin-top: 20px;
}
.create_box{
  padding-top: 30px;
}
/* Shared Module - upload create drop component styles - Ends*/