<!-- <div class="projects-header newprhcl">
    <span class="projects-back-button">
     
    </span>
     <div class="container-fluid pr-0">
         <div class="row">
            <div class="project-info">
                <div class="status-img">
                  <img src="..\assets\images\Projects\project_icon.svg" alt="" >
                </div>
                <div class="project-data">
                  <span class="tab-number">{{projectdata.projectName |uppercase}}</span>
                  <span class="tab-text" style="font-size: 12px;" >{{projectdata.description}}</span>
                </div>
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-1"></div>
              <div class="col-md-1"></div>
              <div class="col-md-4 pr-0">
                <div class="row">
                    <div class="col-md-4 pr-0"><p>Start Date</p></div> 
                    <div class="col-md-4 pr-0"><p>End Date </p></div>
                    <div class="col-md-4 pr-0"><p>Status</p></div>
              </div>
              </div>
        
             
             <div class="col-md-2">
                <div class="" >
                   
                </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-8">
            
            </div>
            <div class="col-md-4 pr-0">
              <div class="row">
                <div class="col-md-4 pr-0"><p><b>{{projectdata.startDate | date}}</b></p></div> 
                <div class="col-md-4 pr-0"><p><b>{{projectdata.endDate | date}}</b></p></div>
                <div class="col-md-4 pr-0"><p><b>{{projectdata.status}}</b></p></div>
          </div>
                
            </div>
         </div>
     </div>
  </div> -->

<div class="projects-header newprhcl" >
  <!-- <div class="container-fluid p-0"> -->
    <div class="row">
      <div class="col-md-8 p-0 project-info">
          <!-- <div class="status-img"> -->
              <img src="..\assets\images\Projects\project_icon.svg" alt="" >
          <!-- </div> -->
          <div class="project-data">
           
            <span   (change)="projectdata.projectName=$event.target.value" [attr.contenteditable]="editdata" class="h3  clickable '+(editdata==true?'focus-data':'')">{{projectdata.projectName |uppercase}}</span>
            <!-- <span class="clickable text-success " *ngIf="editdata.projectName==true" (click)="editdata.projectName=false">&nbsp;<i class="fa fa-check"></i></span> -->
            <br>
            <span  (change)="projectdata.description=$event.target.value" [attr.contenteditable]="editdata" [class]=" 'clickable '+(editdata.description==true?'focus-data':'')" >{{projectdata.description}}</span>
            <!-- <span class="clickable text-success " *ngIf="editdata.description==true" (click)="editdata.description=false">&nbsp;<i class="fa fa-check"></i></span> -->
          </div>
      </div>
      <div class="col-md-4 pl-0">
          <div class="row newprjdates">
            <div class="status-tabs">
              <div class="">
                <img src="../../../../assets/images/Projects/user3.svg" alt="" >
              </div>
              <div class="status-data">
                <span class="labeltit">Project Owner</span>
                <span class="tab-text" *ngIf="projectdata.owner==null" >-</span>
                <span class="tab-text" >{{projectdata.owner| userPipe : users_list}}</span>
              </div>
            </div>
          
          <!-- <div class="col-sm-4">
            <label class="labeltit">Start Date</label>
            <label class="labelcont">{{projectdata.startDate | date}}</label>
          </div>
          <div class="col-sm-4">
            <label class="labeltit">End Date</label>
            <label class="labelcont">{{projectdata.endDate | date}}</label>
          </div>
          <div class="col-sm-4">
            <label class="labeltit">Status</label>
            <p class="labelcont">{{projectdata.status}}</p>
          </div> -->
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
  <!-- <hr> -->
  <table class="tablprdetails">
      <tr>
          <td class="testing">
              <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit">Initiative</span>
                  <span class="tab-text" *ngIf="projectdata.initiatives==undefined ||  projectdata.initiatives==null" >-</span>
                  <span   *ngIf="projectdata.initiatives!=undefined ||  projectdata.initiatives!=null"   >{{projectdata.initiatives}}</span>
                  <!-- <span *ngIf="editdata==true">
                    <select (change)="projectdata.initiatives=$event.target.value">
                      <option>Select Initiatives</option>
                      <option>Process Improvement</option>
                      <option>Business Improvement</option>
                    </select>

                  </span> -->
                  <!-- <span class="clickable text-success " *ngIf="editdata.initiatives==true" (click)="editdata.initiatives=false">&nbsp;<i class="fa fa-check"></i></span> -->
                </div>
              </div>
          </td>

          <td class="testing">
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit">Value Chain</span>
                  <span  class="tab-text" *ngIf="projectdata.mapValueChain==undefined ||  projectdata.mapValueChain==null" >-</span>
                  <span  *ngIf="projectdata.mapValueChain!=undefined ||  projectdata.mapValueChain!=null" class="tab-text labelcont clickable" >{{projectdata.mapValueChain}}</span>
                  
                  <!-- <span *ngIf="editdata==true">
                    <select (change)="projectdata.mapValueChain=$event.target.value" [value]="projectdata.mapValueChain">
                      <option>Select Value Chain</option>
                      <option>Invoice Managment</option>
                      <option>Acme Managment</option>
                      <option>E-Commerce</option>
                    </select>
                  </span> -->
                  <!-- <span *ngIf="editdata==true"  class="text-success clickable"><i class="fa fa-check"></i></span> -->
                </div>
              </div>
          </td>

          <td class="testing">
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\bot.svg" alt="" >
                </div>
                <div  class="status-data">
                  <span class="labeltit">Process</span>
                  <span class="tab-text" *ngIf="projectdata.process==undefined ||  projectdata.process==null"  >-</span>
                  <span *ngIf="projectdata.process!=undefined ||  projectdata.process!=null"   class="tab-text clickable labelcont" >{{projectdata.process | processName : processes}}</span>
                  <!-- <span *ngIf="editdata==true" class="tab-text labelcont clickable" >
                    <select (change)="projectdata.process=$event.target.value" [value]="projectdata.process">
                      <option value="">Select Process</option>
                      <option *ngFor="let process of processes" [value]="process.processId">{{process.processName}}</option>
                    </select>
                  </span>
                  <span *ngIf="editdata.process==true" class="text-sucess clickable" (click)="editdata.process=false"><i class="fa fa-check"></i></span> -->
                </div>
              </div>
          </td>
        
          <td class="testing">
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\document.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit">Process Id</span>
                  <span class="tab-text labelcont" >{{projectdata.process }}</span>
                </div>
              </div>
          </td>

          <td class="testing">
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\document.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit">Start Date</span>
                  <span class="tab-text labelcont" >{{projectdata.startDate | date}}</span>
                </div>
              </div>
          </td>
          <td class="testing">
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\document.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit">End Date</span>
                  <span class="tab-text labelcont" >{{projectdata.endDate | date}}</span>
                </div>
              </div>
          </td>
          <td class="testing">
            <div class="formelement">
              <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit" >Resources</span>
                  <span class="tab-text" *ngIf="projectdata.resources==null" >-</span>
                  <span class="tab-text labelcont" >{{projectdata.resources.length}}</span>
                </div>
              </div>
            </div>
          </td>
        <!-- <td>
            <div class=" formelement">
                <div class="status-tabs">
                    <div class="body-img">
                      <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                    </div>
                    <div class="status-data">
                      <span class="labeltit">Project Owner</span>
                      <span class="tab-text" *ngIf="projectdata.owner==null" ><b>-</b></span>
                      <span class="tab-text" ><b>{{projectdata.owner| userPipe : users_list}}</b></span>
                    </div>
                  </div>
            </div>
        </td> -->

      </tr>

      <tr>
        <td class="testing">
          <div class="formelement">
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                </div>
                <div class="status-data">
                  <span  class="labeltit">Project Health</span>
                  <span class="tab-text labelcont" >Good</span>
                </div>
            </div>
          </div> 
        </td>

        <td class="testing">
          <div class="formelement">
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit">Progress Percentage</span>
                  <span class="tab-text labelcont" >50%
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </span>
                </div>
            </div>
          </div>
        </td>

        <td class="testing">
            <div class="formelement">
                  <div class="status-tabs">
                     <div class="body-img">
                       <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                     </div>
                     <div class="status-data">
                       <span class="labeltit">Efforts Spent</span>
                       <span class="tab-text labelcont" ><input type="text" size="10" placeholder="Enter Efforts Spent Value"/></span>
                     </div>
                  </div>
            </div> 
        </td>

        <td class="testing">
            <div class=" formelement">
                <div class="status-tabs">
                    <div class="body-img">
                      <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                    </div>
                    <div class="status-data">
                      <span class="labeltit">Project Priority</span>
                      <span class="tab-text" *ngIf="projectdata.projectpriority==null" >-</span>
                      <span class="tab-text labelcont" >{{projectdata.priority}}</span>
                    </div>
                </div>
            </div>
        </td>

        <td class="testing">
            <div class=" formelement">
                <div class="status-tabs">
                    <div class="body-img">
                      <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                    </div>
                    <div class="status-data">
                      <span class="labeltit">Project Description</span>
                      <span class="tab-text labelcont" >Improve ROI</span>
                    </div>
                  </div>
            </div>
        </td>
        <td class="testing">
          <div class="formelement">
                <div class="status-tabs">
                    <div class="body-img">
                      <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                    </div>
                    <div class="status-data">
                      <span class="labeltit">Status</span>
                      <span class="tab-text labelcont" >{{projectdata.status}}</span>
                    </div>
                </div>
          </div> 
        </td>
        <td class="testing">
            <div class="formelement">
                  <div class="status-tabs">
                      <div class="body-img">
                        <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                      </div>
                      <div class="status-data">
                        <span class="labeltit">Burn Rate</span>
                        <span class="tab-text labelcont" ><input type="text" size="10" placeholder="Enter Burnt Rate Value"/></span>
                      </div>
                  </div>
            </div> 
        </td>
        
      </tr>
  </table>

 