<!-- <div class="projects-header newprhcl">
    <span class="projects-back-button">
     
    </span>
     <div class="container-fluid pr-0">
         <div class="row">
            <div class="project-info">
                <div class="status-img">
                  <img src="..\assets\images\Projects\project_icon.svg" alt="" >
                </div>
                <div class="project-data">
                  <span class="tab-number">{{projectdata.projectName |uppercase}}</span><br>
                  <span class="tab-text" style="font-size: 12px;" >{{projectdata.description}}</span>
                </div>
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-1"></div>
              <div class="col-md-1"></div>
              <div class="col-md-4 pr-0">
                <div class="row">
                    <div class="col-md-4 pr-0"><p>Start Date</p></div> 
                    <div class="col-md-4 pr-0"><p>End Date </p></div>
                    <div class="col-md-4 pr-0"><p>Status</p></div>
              </div>
              </div>
        
             
             <div class="col-md-2">
                <div class="" style="font-size: 11px;">
                   
                </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-8">
            
            </div>
            <div class="col-md-4 pr-0">
              <div class="row">
                <div class="col-md-4 pr-0"><p><b>{{projectdata.startDate | date}}</b></p></div> 
                <div class="col-md-4 pr-0"><p><b>{{projectdata.endDate | date}}</b></p></div>
                <div class="col-md-4 pr-0"><p><b>{{projectdata.status}}</b></p></div>
          </div>
                
            </div>
         </div>
     </div>
  </div> -->

<div class="projects-header newprhcl">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-8 p-0 project-info">
          <div class="status-img">
              <img src="..\assets\images\Projects\project_icon.svg" alt="" >
          </div>
          <div class="project-data">
            <span class="tab-number">{{projectdata.projectName |uppercase}}</span>
            <span class="tab-text" style="font-size: 12px;" >{{projectdata.description}}</span>
          </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="row newprjdates">
          <div class="col-sm-4">
            <label class="labeltit">Start Date</label>
            <label class="labelcont">{{projectdata.startDate | date}}</label>
          </div>
          <div class="col-sm-4">
            <label class="labeltit">End Date</label>
            <label class="labelcont">{{projectdata.endDate | date}}</label>
          </div>
          <div class="col-sm-4">
            <label class="labeltit">Status</label>
            <p class="labelcont">{{projectdata.status}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
  
  <table class="tablprdetails">
      <tr>
          <td>
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Value Chain</span><br>
                  <span class="tab-text" *ngIf="projectdata.mapchainvalue==null" style="font-size: 12px;"><b>-</b></span>
                  <span class="tab-text labelcont" style="font-size: 12px;"><b>{{projectdata.mapValueChain}}</b></span>
                </div>
              </div>
        </td>
        
            <td>
              <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Initiative</span><br>
                  <span class="tab-text" *ngIf="projectdata.initiatives==null" style="font-size: 12px;"><b>-</b></span>
                  <span class="tab-text labelcont" style="font-size: 12px;"><b>{{projectdata.initiatives}}</b></span>
                </div>
              </div>
          </td>
        
          <td>
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\bot.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Process</span><br>
                  <span class="tab-text" *ngIf="projectdata.process==null" style="font-size: 12px;"><b>-</b></span>
                  <span class="tab-text" style="font-size: 12px;"><b>{{projectdata.process | processName : processes}}</b></span>
                </div>
              </div>
          </td>
        
          <td>
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\document.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Process Id</span><br>
                  <span class="tab-text" style="font-size: 12px;"><b>{{projectdata.process }}</b></span>
                </div>
              </div>
        </td>
       

        <td>
            <div class=" formelement">
                <div class="status-tabs">
                    <div class="body-img">
                      <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                    </div>
                    <div class="status-data">
                      <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Project Purpose</span><br>
                      <span class="tab-text labelcont" style="font-size: 12px;"><b>Improve ROI</b></span>
                    </div>
                  </div>
            </div>
        </td>


      

        <td>
            <div class=" formelement">
                <div class="status-tabs">
                    <div class="body-img">
                      <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                    </div>
                    <div class="status-data">
                      <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Project Owner</span><br>
                      <span class="tab-text" *ngIf="projectdata.owner==null" style="font-size: 12px;"><b>-</b></span>
                      <span class="tab-text" style="font-size: 12px;"><b>{{projectdata.owner| userPipe : users_list}}</b></span>
                    </div>
                  </div>
            </div>
        </td>


      </tr>

      <tr>
          <td>
            <div class=" formelement">
                <div class="status-tabs">
                    <div class="body-img">
                      <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                    </div>
                    <div class="status-data">
                      <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Project Priority</span><br>
                      <span class="tab-text" *ngIf="projectdata.projectpriority==null" style="font-size: 12px;"><b>-</b></span>
                      <span class="tab-text labelcont" style="font-size: 12px;"><b>{{projectdata.priority}}</b></span>
                    </div>
                  </div>
            </div>
          </td>

          <td>
               <div class="formelement">
            <div class="status-tabs">
                <div class="body-img">
                  <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                </div>
                <div class="status-data">
                  <span class="labeltit" style="font-size: 11px;">Resources</span><br>
                  <span class="tab-text" *ngIf="projectdata.resources==null" style="font-size: 12px;"><b>-</b></span>
                  <span class="tab-text" style="font-size: 12px;"><b>{{projectdata.resources| userPipe : users_list}}</b></span>
                </div>
              </div>
        </div>
        </td>

        <td>
             
                <div class="formelement">
                    <div class="status-tabs">
                        <div class="body-img">
                          <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                        </div>
                        <div class="status-data">
                          <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Project Health</span><br>
                          <span class="tab-text labelcont" style="font-size: 12px;"><b>Good</b></span>
                        </div>
                      </div>
                </div> 
        </td>

        <td>
               <div class="formelement">
                    <div class="status-tabs">
                        <div class="body-img">
                          <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                        </div>
                        <div class="status-data">
                          <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Progress Percentage</span><br>
                          <span class="tab-text labelcont" style="font-size: 12px;"><b>50%</b>
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        </span>
                        </div>
                      </div>
                </div>
        </td>

        <td>
             <div class="formelement">
                    <div class="status-tabs">
                        <div class="body-img">
                          <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                        </div>
                        <div class="status-data">
                          <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Efforts Spent</span><br>
                          <span class="tab-text labelcont" style="font-size: 12px;"><input type="text" size="10" placeholder="Enter Efforts Spent Value"/></span>
                        </div>
                      </div>
                </div> 
        </td>
        <td>
            <div class="formelement">
                <div class="status-tabs">
                    <div class="body-img">
                      <img src="..\assets\images\Projects\process_icon.svg" alt="" >
                    </div>
                    <div class="status-data">
                      <span class="labeltit" style="font-size: 11px;white-space: nowrap;">Burn Rate</span><br>
                      <span class="tab-text labelcont" style="font-size: 12px;"><input type="text" size="10" placeholder="Enter Burnt Rate Value"/></span>
                    </div>
                  </div>
            </div> 
        </td>

      </tr>
  </table>

 