.projects-header{
    width:100%;padding:0px;
  }



  .status-tabs{
    display: flex;
    padding:20px;
    
  }

  .tab-number{
    font-size: 20px !important;

  }

  .status-img > img{
    height: 30px !important;
  }

  .status-data{
    vertical-align: middle;
    padding-top: 0;
    padding-left: 23px;
    padding-bottom: 0;
    color: black !important;
  }

  .project-data{
    padding-left: 63px;
    margin-top: -46px;
  }

  .body-img> img{
    height: 30px !important;
  }
/* 
  table, th, td {
    padding: 5px;
  }
   */


   .tablprdetails .status-tabs {
    padding: 10px;
    width: 100%;
}
.tablprdetails .status-tabs .status-data {
  width: 100%;
}
.tablprdetails {
  width: 100%;
}
.tablprdetails .body-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.tablprdetails .formelement {
  padding: 0px;
}
.tablprdetails tr td .status-tabs {
  margin-bottom: 20px;
}
.tablprdetails input[type="text"] {
  padding: 2px;
}
#projects_details_screen {
  box-shadow: unset !important;
  border-bottom: 1px solid #ddd !important;
}
.projects-header.newprhcl {
  margin: 10px 0px 0px 0px;
}
.newprhcl .project-info {
  /* margin-bottom: -30px; */
}
.newprhcl .project-data {
  margin-top: -30px;
  padding-left: 38px;
}
.col-md-2.newclasd {
  margin: -31px 0px 0px -89px;
  font-size: 14px;
}
table.tablprdetails {
  /* border-bottom: 1px solid #ddd; */
}
#projects_details_screen {
  box-shadow: unset;
}


.status-data {
  padding-left: 14px !important;
  color:#001c47 !important;
}
span.labeltit, label.labeltit {
  font-size: 14px !important;
  color: #7D7D7D;
  font-weight: 400;
  /* display: block; */
}
span.labelcont b {
  font-size: 14px !important;
  color: #001c47;
  font-weight: 400;
}

.row.newprjdates {
  float: right;
}
.labelcont {
  font-size: 12px;
  font-weight: 700;
  color: #001c47;
}