.container-fluid{
    background-color:#F5F7FA;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border: 1px solid #e9e9e9 !important;
    border-radius: 8px !important;
    box-shadow: 6px 6px 12px 2px rgba(0, 0, 0, 0.04);
    position: relative;
}

.image-circle {
    width: 100%;
    height: 180px;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    margin-top: -25px;
}

.success-image{
    width: 100px;
    height: 100px;
    margin-top: -25px;
}

.image-circle:hover .wave span {
    position:absolute;
    left: 37%;
    top: 14%;
    width: 100px;
    height: 100px;
    background: #a5e7ba;
    border-radius: 50%;
    opacity: .8;
    animation: waveAnimate 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}

@keyframes waveAnimate {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

.title-success{
    color: #2cda94;
    margin: -20px 0 15px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: -50px 
}

.success-message1{
    color: #001C47;
    margin: 10px 0 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.success-message2 {
    color: #001C47;
    margin: 8px 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .card {
        width: 60%; 
    }
}

@media only screen and (min-width: 992px) {
    .card {
        width: 40%; 
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        width: 30%; 
    }
}