*{
  font-family: 'Roboto' sans-serif !important;
}

.subscription-table {
    width: 100%;
    margin: 0 auto;
    /* padding: 20px; */
    margin: 10px 0px;
    padding: 0px 10px;
}

.agent-name{
  color: #001C47 !important;
  font-size: 17px;
  font-weight: 500;
}

.table-header {
    display: flex;
    padding: 2px 10px;
    margin-bottom: 13px;
    font-weight: bold;
    border-radius: 4px;
    border-radius: 7px;
    border: 1px solid #E0E0E0;
    background: var(--color-gray-10, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(49, 153, 255, 0.10);
}

.header-cell {
    flex: 1;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    /* color: skyblue; */
}
.agent-header-name{
  flex: 1 1 14% !important;
  padding-left: 83px !important;
}

.scroll-container {
    overflow-y: auto;
    /* height: 48vh; */
    /* height: 65vh; */
    height: 67vh;
}

.accordion {
    margin-bottom: 15px;
    width: 100%;
}

.accordion-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    /* border-bottom: 1px solid #ccc; */
    transition: background-color 0.4s ease;
    animation: accordion-open 0.4s ease;

    border-radius: 7px;
    border: 1px solid #E0E0E0;
    background: var(--color-gray-10, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(49, 153, 255, 0.10);
    min-height: 70px;
}

.accordion-header:hover {
    background-color: #fdfdfd;
}

.accordion-content {
    padding: 15px 60px;
    background-color: white;
    animation: accordion-open 0.4s ease;
    border-top: 1px solid #cac3c3;
    border-radius: 7px;
    border: 1px solid #E0E0E0;
    background: var(--color-gray-10, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(49, 153, 255, 0.10);
    border-top: none !important;
    min-height: 330px;
}

.sub-agent-table {
    width: 100%;
}

.sub-agent-header,
.sub-agent-row {
    display: flex;
    background-color: #ffffff;

}

.sub-agent-header{
  border-radius: 6px !important;
}

.sub-agent-column-header{
  flex: 1.2 1 0%;
  display: flex !important;
  flex-direction: row !important;
  padding-left: 55px !important;
}

.agent-name-sub-tab{
  flex: 1.46;
    /* padding-left: 50px; */
    justify-content: left !important;
    gap: 30px  !important;
}

.header-cell,
.row-cell {
    flex: 1;
    padding: 10px;
    text-align: left;
}

.row-cell{
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.sub-agent-header {
    background-color: #EFEFEF;
    font-weight: bold;
}

.sub-agent-row {
    border-bottom: 1px solid #e0e0e0;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}

.toggle-switch label input {
    display: none;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.toggle-switch label input:checked + .slider {
    background-color: blue;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-switch label input:checked + .slider:before {
    transform: translateX(14px);
}

.toggle-label {
    font-weight: bold;
    /* color: skyblue; */
}

.pagination {
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page {
    display: inline-block;
    padding: 2px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    /* color: skyblue; */
}

.pagination .page.active {
    background-color: #3199FF;
    color: white;
}

@keyframes accordion-open {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 1000px;
        opacity: 1;
    }
}

.action-btn {
    color: #3199FF;
}

.custom-toggle {
    display: flex;
    align-items: center;
    position: relative;
    width: auto; 
}
    
    .custom-toggle-label {
      margin-right: 10px;
      font-weight: 500;
      font-size: 16px;
      /* color: skyblue; */
    }
  
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
    }
/*   
    input[type="checkbox"] {
      display: none; 
    } */
  
    .custom-slider {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 20px;
      background-color: #ccc;
      border-radius: 34px;
      transition: background-color 0.4s;
      margin-left: 10px;
    }
  
    .custom-slider::before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: white;
      transition: transform 0.4s;
      left: 3px;
      bottom: 3px;
    }
  
    input:checked + .custom-slider {
      background-color: #3199FF;
    }
  
    input:checked + .custom-slider::before {
      transform: translateX(14px);
    }
  

  .header-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center !important; */
  }

  .sub-agent-header{
    align-items: center !important;
  }
  
  .remaining-days {
    /* color: #3199FF;  */
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px; 
  }
  
  .less-than-30 {
    color: orange;
  }
  
  .less-than-15 {
    color: red;
  }
  
  .default-color {
    color: #3199FF; 
  }
  
  .date-format{
    font-size: 12px;
    font-weight: 500;
    /* text-decoration: underline !important; */
    color: #FF7E36;
  }
  
  .next-bill-est{
    font-size: 16px;
    font-weight: 500;
    color: #000000 !important;
  }

  .agent-parent-name{
    font-size: 15px;
    font-weight: 500;
    flex: 1.5;
    align-items: center;
    display: inline-block;
  }

  .agent-table-headers .header-cell{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #000000 !important;
  }

  .agent-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .icon {
    transform: rotate(-90deg);
    transition: transform 0.5s ease;
  }
  
  .icon.expanded {
    transform: rotate(0deg);
  }

  .accordion-content span{
    font-weight: 600;
    font-size: 16px;
  }

  .status-badge {
    padding: 0px 11px;
    border-radius: 15px;
    color: white;
    font-weight: 500;
    display: inline-block;
  }
  
  .active-status {
    background-color: rgba(49, 153, 255, 0.1); 
    color: #3199FF;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-left: 10px;
  }
  
  .inactive-status {
    background-color: rgba(12, 12, 12, 0.07);
    color: black;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-left: 10px;
  }
  
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.page {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f0f0f0;
  font-weight: bold;
  color: #000;
}

.page.active {
  background-color: #3199FF;
  color: #fff;
}

.page.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.page:hover:not(.disabled):not(.active) {
  background-color: #ddd;
}

/* .sub-agent-header,
.sub-agent-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
} */

.is-expired{
  color: black;
  font-size: 16px;
  padding: 0px 0px 10px 0px;
  font-weight: 700 !important;
}

.is-expired span{
  font-weight: 700 !important;
}

.inactive-row .row-cell {
  color: #001c475e;
}

.renew-btn-expired{
  font-size: 16px;
  color: #3199FF;
  text-decoration: underline !important;
  font-weight: 500;;
}

.sub-agent-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.action-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.renew-all-button, .cancel-all-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color:#3199FF;
  color: white;
}

.renew-all-button{
  padding: 5px 20px !important;
  border-radius: 5px;
  opacity: 0px;
  font-weight: 600;
  font-size: 16px;
}

.cancel-all-button {
  background-color: #fff !important;
  color: #707070 !important;
  font-size: 14px !important;
}

.delete-icon {
  cursor: pointer;
  font-size: 20px;
  color: red;
}

.input-icon-expired{
  display: flex;
  position: relative;
  flex: 0.24;
  align-items: center !important;
  justify-content: center;
}

.asub-agent-column-header{
  flex: 1.25 1 0% !important;
  display: flex !important;
  padding-left: 40px !important;
  align-items: flex-start !important;
  display: block !important;
}

.sub-agent-row-header{
  flex: 1.46 !important;
  display: flex;
  position: relative;
  /* align-items: flex-start !important; */
  justify-content: left;
  gap: 17px;
}

.status-badge::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

.active-status::before {
  background-color: #3199FF; 
}

.inactive-status::before {
  background-color: #686767;
}

.agent-name-expired-cell{
    /* flex: 1.5 1 0% !important; */
    position: relative;
    padding-left: 5px !important;
}

.display-block-important {
  display: block !important;
}

.accordion-content {
  padding: 15px 60px;
  background-color: white;
  animation: accordion-open 0.4s ease;
  border-top: 1px solid #cac3c3;
  border-radius: 7px;
  border: 1px solid #E0E0E0;
  background: var(--color-gray-10, #FFF);
  box-shadow: 0px 4px 16px 0px rgba(49, 153, 255, 0.10);
  border-top: none !important;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-agent-table {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pagination {
  margin-top: auto;
  padding-top: 10px;
}

.agent-elipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  flex-shrink: 1 !important;
  font-weight: 500 !important;
}
