<div *ngIf="tabsArrayLength > 0" class="">
  <div class="col-md-12 action-studio" >
    <div class="collection_btn">
    <!--
      <div class="dropdown1">
        <button class="  rpa-btn_style dropdown-toggle" type="button" data-toggle="dropdown"
        (click)="getallpredefinebots()"> <img src="assets/images/robot.svg" class="imageI1"> <span class="caret"></span><div class="btn_title">Bots</div></button>
        <ul *ngIf="optionList" class="dropdown-menu1" style="background: white;">
          <li *ngFor="let bots of predefined;let i = index">
            <div class="checkbox">
              <div class="botdropdown1">
                <ladbel [for]="list+i">{{bots.botName}}</label>
                <hr>
              </div>
            </div>
          </li>
        </ul>
      </div>-->
      <div *ngIf="(startbot==false && pausebot==false && resumebot==false)|| startbot==true ">
      <button  type="button" id="stopbot" title="Stop Bot"
      class="rpa-btn_style" aria-hidden="true" placement="bottom" [disabled]="true" (click)="stopBot()">
      <img class="imageI1" src="/assets/images/RPA/stop_icon.svg">
      <div class="btn_title">Stop</div>
      </button>
      </div>
   
        
      <div *ngIf="pausebot==true || resumebot==true">
        <button  type="button"
        class="  rpa-btn_style"  title="Stop Bot" aria-hidden="true" placement="bottom" (click)="stopBot()">
        <img class="imageI1" src="/assets/images/RPA/stop_icon.svg">
        <div class="btn_title">Stop</div>
        </button>
      </div>
      <div class="dropdown">
        <button class="  rpa-btn_style dropdown-toggle" id="bots" title="Predefined Bots" type="button" data-toggle="dropdown"
          (click)="getpredefinedbotlist()"> <img src="/assets/images/robot.svg" class="imageI1"><div class="btn_title">Bots</div></button>
        <ul *ngIf="predefinedbotsData.length > 0" class="dropdown-menu  rpa-custom-scrollbar" style="width:400px">
          <li *ngFor="let bots of predefinedbotsData; let i = index">
            <div class="checkbox">
              <div class="environments">
                <button (click)="loadpredefinedbot()">{{bots.botName}}</button>
                <hr>
              </div>
            </div>
          </li>
        </ul>
        
        <ul *ngIf="predefinedbotsData.length <= 0" class="dropdown-menu ">
          <li>
            <div class="checkbox">
              <div class="environments">
                <label [for]="'list'+i">No Records Found</label>
                <hr>
              </div>
            </div>
          </li>
        </ul>
      </div>
     <!-- <button type="button" id="deployBot" title="Deploy Bot Agent" [disabled]="savebotrespose==undefined" class="rpa-btn_style" aria-hidden="true" placement="bottom" (click)="deploybot()">
        <img class="imageI1" src="/assets/images/RPA/deploy_icon.svg"><br>
        <div class="btn_title">Deploy</div>
      </button>-->
      <button type="button" class="  rpa-btn_style" title="Edit Bot" id="edit" [disabled]="savebotrespose==undefined" aria-hidden="true" placement="bottom" (click)="modify()">
        <img class="imageI1" src="/assets/images/Expanded.svg">
        <div class="btn_title">Edit</div>
      </button>
      <button  type="button" 
      class="  rpa-btn_style" aria-hidden="true" title="Save Bot" [disabled]="!(envflag==false &&  0 < childBotWorkspace.finaldataobjects.length)"  placement="bottom" id="savebot" (click)="saveBotFunAct()">
      <img class="imageI1" src="/assets/images/Layer 1.svg">
      <div class="btn_title">Save</div>
    </button>
   

      <button  type="button"
      class="  rpa-btn_style" aria-hidden="true" title="Start Bot" placement="bottom" id="startbot" [disabled]="savebotrespose==undefined" (click)="executionAct()">
      <img class="imageI1" src="/assets/images/RPA/Play_icon.svg">
      <div class="btn_title">Start</div>
      </button>

      <div *ngIf="pausebot!=true && resumebot!=true">
        <button  type="button"
        class="  rpa-btn_style" aria-hidden="true" placement="bottom" title="Pause Bot" [disabled]="true">
        <img class="imageI1" src="/assets/images/RPA/pause_icon.svg">
        <div class="btn_title">Pause</div>
        </button>
        </div>

    <div *ngIf="pausebot==true">
      <button  type="button"
      class="  rpa-btn_style" aria-hidden="true" placement="bottom" title="Pause Bot" (click)="pauseBot()">
      <img class="imageI1" src="/assets/images/RPA/pause_icon.svg">
      <div class="btn_title">Pause</div>
      </button>
      </div>

      <div *ngIf="resumebot==true">
        <button  type="button"
        class="  rpa-btn_style" aria-hidden="true" placement="bottom" title="Resume Bot" (click)="resumeBot()">
        <img class="imageI1" src="/assets/images/RPA/resume_icon.svg">
        <div class="btn_title">Resume</div>
        </button>
      </div>
  
    <button  type="button"
    class="  rpa-btn_style" aria-hidden="true" id="schedule" title="Schedule Bot" (click)="schedulerPopUp()" id="schedule" placement="bottom">
    <img class="imageI1" src="/assets/images/Group 286.svg">
    <div class="btn_title">Schedule</div>
    </button>
      <div class="dropdown">
        <button class="  rpa-btn_style dropdown-toggle" id="Environments" title="Select Environments" type="button" data-toggle="dropdown">
           <img src="..\\assets\\images\\RPA\\Environment_icon.svg" class="imageI1">
        <div class="btn_title">Environments</div></button>
        <ul *ngIf="environment.length > 0" class="dropdown-menu rpa-custom-scrollbar">
          <li *ngFor="let list of environment;let i = index">
            <div class="checkbox">
              <div class="environments">
                <label [for]="list+i"><input type="checkbox" (change)="checkuncheckenv(list.environmentId)" [checked]="list.checked" >{{list.environmentName}}</label>
                <hr>
              </div>
            </div>
          </li>
        </ul>
        <ul *ngIf="environment.length <= 0" class="dropdown-menu ">
          <li>
            <div class="checkbox">
              <div class="environments">
                <label [for]="'list'+i">No Records Found</label>
                <hr>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="  rpa-btn_style dropdown-toggle" title="Bot Versions" [disabled]="savebotrespose==undefined" id="versions" type="button" data-toggle="dropdown"
          (click)="getVersionlist()"> <img src="..\\assets\\images\\RPA\\Version_icon.svg" class="imageI1"><div class="btn_title">Versions</div></button>
        <ul *ngIf="versionsList.length > 0" class="dropdown-menu rpa-custom-scrollbar">
          <li *ngFor="let version of versionsList; let i = index">
            <div class="checkbox" (click)="switchversion(version.vId)" >
              <div class="environments">
                <label [for]="version+i" (click)="versionChange(version.vId)">V.{{version.vId}}</label>
                <hr>
              </div>
            </div>
          </li>
        </ul>
        
        <ul *ngIf="versionsList.length <= 0" class="dropdown-menu">
          <li>
            <div class="checkbox">
              <div class="environments">
                <label [for]="'list'+i">No Records Found</label>
                <hr>
              </div>
            </div>
          </li>
        </ul>

      </div>
      <button type="button" id="reset" class="  rpa-btn_style" title="Reset Bot" aria-hidden="true" placement="bottom">
        <img class="imageI1" src="/assets/images/reload_pp.svg" (click)="reset()">
        <div class="btn_title">Reset</div>
      </button>
      <button  type="button"
      class="  rpa-btn_style" id="delete"  [disabled]="savebotrespose==undefined" title="Delete Bot" aria-hidden="true" (click)="delete()" placement="bottom">
      <img class="imageI1" src="/assets/images/RPA/delete_icon2.svg">
      <div class="btn_title">Delete</div>
      </button>
      <button  type="button"
      class="rpa-btn_style" id="delete"  [disabled]="savebotrespose==undefined" title="Delete Bot" aria-hidden="true" (click)="viewlogdata()" placement="bottom">
      <img class="imageI1" src="/assets/images/RPA/ViewLog.svg">
      <div class="btn_title">Logs</div>
      </button>
    </div>
  </div>
  <div>
    <app-rpa-studio-workspace  [bot]="botState"></app-rpa-studio-workspace>
  </div>
    <div class="status" id="botStatus"> 
      <div class="row" style="text-align: center;">Bots</div>
      <div class="row rob-status">
        <h4>{{botStatisticsData["New"]}}</h4>
        <p>NEW</p>
      </div>
      <div class="row rob-status">
        <h4>{{botStatisticsData["Success"]}}</h4>
        <p>ACTIVE</p>
      </div>
      <div class="row rob-status">
        <h4>{{botStatisticsData["Failure"]}}</h4>
        <p>ERRORS</p>
      </div>
      <div class="row rob-status">
        <h4>{{botStatisticsData["Running"]}}</h4>
        <p>RUNNING</p>
      </div>
    </div>


          <!-- forms -->
        
<div [id]="schedulepopid" class="rpa-modal">
  <div class="rpa-modal-content">
      <div class="rpa-modal-header">
          <span class="rpa-modal-close" (click)="close()">&times;</span>
          <h4>Schedule</h4>
      </div>
      <div class="rpa-modal-body">
        <br>
          <div class="container card-body">
            <div class="">
            <ngb-tabset>
              <ngb-tab title="Configuration">
                <ng-template style="background: white;" ngbTabContent>
            <form style="background: white;" name="form" (ngSubmit)="f.form.valid && onCreateSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="botName">Timezone</label>
                    <select class="form-control"   name="selectedTimeZone" #timezone="ngModel" [(ngModel)]="selectedTimeZone" [ngModelOptions]="{standalone: true}"
            required>
            <option *ngFor="let timeZone of timesZones" [ngValue]="timeZone">{{timeZone}}</option>
            <option [ngValue]="undefined" selected disabled>Select a Type</option>
          </select>
          <hr>
          <label>Schedule</label>
          <cron-editor #cronEditorDemo [(cron)]="cronExpression" [disabled]="isCronDisabled" [(options)]="cronOptions">Cron
            here...</cron-editor>
            <!-- date start -->
            <div class="col-md-12 row">
            <div class="col-md-2 form-group" style="margin-left:0px;margin-top:15px;">
              <div class="input-group">
                <label for="alertTo">From Date</label>
              </div>
              <div class="input-group ">
                <input class="form-control pointer"  placeholder="yyyy-mm-dd" 
                name="d1" #c1="ngModel" [(ngModel)]="startDate"   (click)="d1.toggle()"  
                [maxDate]="endDate" ngbDatepicker #d1="ngbDatepicker">
              </div>
            </div>
              <div class="col-md-2">
                <form [formGroup]="form">
                <ngb-timepicker class="time btn-padmrar" [(ngModel)]="startTime" formControlName="startTime"></ngb-timepicker>
              </form>
              <!-- <p>Result : {{form.value | json}}</p> -->
            </div>
              <div class="col-md-2 form-group" style="margin-left:0px;margin-top:15px;">
                <div class="input-group">
                <label for="alertTo">To Date</label>
              </div>
              <div class="input-group">
                <input 
                      class="form-control pointer" 
                      placeholder="yyyy-mm-dd" 
                      name="d2" 
                      #c2="ngModel" 
                      [(ngModel)]="endDate" 
                      (click)="d2.toggle()"
                      [minDate]="startDate"  
                      [disabled] = "selectTime" 
                      ngbDatepicker 
                      #d2="ngbDatepicker">
              </div>
             </div>
             <div class="col-md-2">
              <form [formGroup]="form">
              <ngb-timepicker  class="time btn-padmrar" [(ngModel)]="endTime" formControlName="endTime"></ngb-timepicker>
            </form>
            <!-- <p>Result : {{form.value | json}}</p> -->
          </div>
            </div>
            <!-- date end -->
            <!-- <div class="col-md-12">
              <h3><b>{{cronExpression}}</b></h3>
            </div> -->
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" (click)="saveCron()">Save</button>
                </div>
            </form>
                </ng-template>
              </ngb-tab>
              <ngb-tab  title="Schedule List" [disabled]="savebotrespose==undefined">
                <ng-template style="background: white;" ngbTabContent>
                  <div class="container" style="background: white;">
                    <div class="row">
                      <div class="col-md-12">
                      <table class="table rpa-table table-striped  table-sm row-border hover env-table">
                        <thead>
                        <tr>
                          <th>Schedule Interval</th>
                          <th>Timezone</th>
                          <th>Last Run Time</th>
                          <th>Next Run Time</th>
                          <th>Execution Status</th>
                        
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let schedule of scheduleLists">
                          <td>{{schedule.scheduleInterval}}</td>
                          <td>{{schedule.timeZone}}</td>
                          <td>{{schedule.lastRunTime}}</td>                       
                          <td>{{schedule.nextRunTime}}</td>
                          <td>{{schedule.executionStatus}}</td>
                        </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          </div>
          </div>
          </div>
</div>








          <div [id]="viewlogid" class="rpa-modal">
            <div class="rpa-modal-content">
                <div class="rpa-modal-header">
                    <span class="rpa-modal-close" (click)="viewlogclose()">&times;</span>
                    <h4>Logs</h4>
                </div>
                <div  *ngIf="logresponse.length < 1">
                <div style="align-items: center"><h4>No Records Found</h4></div>
                </div>
                <div  *ngIf="logresponse.length > 0">
                <div *ngIf="logflag==false">
                    <div class="container" style="background: white;" class=" table w-100">
                        <div  class="logs-container">
                            <table mat-table [dataSource]="Viewloglist" matSort style="width:100%;max-height: 300px;overflow-x:scroll;">
       
                                
                                <!-- Run Id Column -->
                                <ng-container matColumnDef="run_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Run ID </th>
                                    <td mat-cell *matCellDef="let element" ><a style="color:blue; text-decoration: underline;"  (click)="ViewlogByrunid(element.run_id)" >{{element.run_id}}</a></td>
                                </ng-container>
    
                                <!-- Version Column -->
                                <ng-container matColumnDef="version">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="element.version!=null">{{element.version}}</span>
                                        <span *ngIf="element.version == undefined">---</span>
                                    </td>
                                </ng-container>

                                <!-- Start Date Column -->
                                    <ng-container matColumnDef="start_date">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                                      <td mat-cell *matCellDef="let element">
                                          <span *ngIf="element.start_date!=null">{{element.start_date}}</span>
                                          <span *ngIf="element.start_date == undefined">---</span>
                                      </td>
                                  </ng-container>
      
  
                                <!-- Start Time Column -->
                                <ng-container matColumnDef="start_time">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start time </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="element.start_time!=null">{{element.start_time}}</span>
                                        <span *ngIf="element.start_time == undefined">---</span>
                                    </td>
                                </ng-container>
                                <!-- End Date Column -->
                               
                                <ng-container matColumnDef="end_date">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                                  <td mat-cell *matCellDef="let element">
                                      <span *ngIf="element.end_date!=null">{{element.end_date}}</span>
                                      <span *ngIf="element.end_date == undefined">---</span>
                                  </td>
                              </ng-container>


                                         <!-- End Time Column -->
                                <ng-container matColumnDef="end_time">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
                                  <td mat-cell *matCellDef="let element">
                                      <span *ngIf="element.end_time!=null">{{element.end_time}}</span>
                                      <span *ngIf="element.end_time == undefined">---</span>
                                  </td>
                                </ng-container>
          
    
                       
                          
                                <ng-container matColumnDef="bot_status">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                  <td mat-cell *matCellDef="let element">
                                      <span *ngIf="element.bot_status!=null">{{element.bot_status}}</span>
                                      <span *ngIf="element.bot_status == undefined">---</span></td>
                                </ng-container>
      
    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                         </div>
                    </div>
                </div>
                <div *ngIf="logflag == true">
                    <div class="log-container">
                      <button (click)="back()" style='float:right;margin-top:10px;' class="btn btn-primary">Back</button>
                        
                        <table mat-table [dataSource]="logbyrunid" matSort style="width:100%;">
    
                            <!-- Task Name Column -->
                            <ng-container matColumnDef="task_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.task_name != null">{{element.task_name}}</span>
                                    <span *ngIf="element.task_name == undefined">---</span>
                                </td>
                            </ng-container>
    
                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.status != null">{{element.status}}</span>
                                    <span *ngIf="element.status == undefined">---</span>
                                </td>
                            </ng-container>
    
                            <!-- Start Time Column -->
                            <ng-container matColumnDef="start_time">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.start_time != null">{{element.start_time.slice(11,19)}}</span>
                                    <span *ngIf="element.start_time == undefined">---</span>
                                </td>
                            </ng-container>
    
                            <!-- Start date Column -->
                            <ng-container matColumnDef="start_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.start_date != null">{{element.start_date.split('T')[0]}}</span>
                                    <span *ngIf="element.start_date == undefined">---</span>
                                </td>
                            </ng-container>
    
                            <!-- End Time Column -->
                            <ng-container matColumnDef="end_time">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.end_time != null">{{element.end_time.slice(11,19)}}</span>
                                    <span *ngIf="element.end_time == undefined">---</span>
                                </td>
                            </ng-container>
    
                            <!-- End Date Column -->
                            <ng-container matColumnDef="end_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.end_date != null">{{element.end_date.split('T')[0]}}</span>
                                    <span *ngIf="element.end_date == undefined">---</span>
                                </td>
                            </ng-container>
    
                            <!-- Error Info Column -->
                            <ng-container matColumnDef="error_info">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Error Info </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.error_info!=null && element.error_info != 'NA'">{{element.error_info}}</span>
                                    <span *ngIf="element.error_info == undefined ||element.error_info == 'NA' ">---</span></td>
                            </ng-container>

    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>
                      </div>
                </div>
            </div>
            </div>
        </div>
    