.btn_style{
    margin: 0px -6px 0px 10px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid lightgray;
}
.btn_style1{
  margin: 0px 5px 0px 10px;
  background-color: transparent;
  border-radius: 2px;
  padding: 0px 12px;
}
 .btn_style1 :active{
  background-color: blue;
  color:#fff;
}
.btn_style1 :visited{
  background-color: blue;
  color:#fff;
}
.btn_style1 :focus{
  background:blue;
  color:#fff;
}

.collection_btn{
    position: absolute;
    bottom: 65px;
    margin: 0px;
    right: -180px;
}
.robotic-run {
    position: absolute;
    top: 0px;
    border: 1px solid lightgray;
    height: 50px;
    left: 40%;
    bottom: 15px;
    margin: 10px 10px -5px 10px;
    border-radius: 20px;
    width: 25%;
    z-index: 1000;
  }
  .rob-s{
    padding: 0px 8px;
  }
  
  .rob-s p{
    font-size: 12px;
    color: black;
  }
  .rob-s p:active{
    font-size: 14px;
    color:#fff;
  }
  .status{
    position: absolute;
    right:-172px;
    top: 20px;
  }
  .rob-status{
    border: 1px solid lightgray;
    width: 50px;
    text-align: center;
  }
  .rob-status p{
    font-size: 9px;
    color: black;
    margin: 0;
  }
  .imageI{
    width: 16px;
    filter: brightness(0.1) !important;
}
.imageI1{
  width: 12px;
  filter: brightness(0.1) !important;
}
.start-icon{
  position: absolute;
  top: 5px;
}
.start-play{
  position: relative;
  top: 16px;
  right: 21px;
}
.drag-area{
  position: absolute;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  left: 153px;
  top: 47px;
  padding: 5px;
  margin: 2px 0 0;
}
.context-menu__item a{
 background-color: #fff;
 color: #000;
 text-decoration: none;
 font-size: 15px;
}
.environments label{
font-size: 16px;
}
.node_tooltip{
    content: "";
    position: absolute;
    bottom: -59%;
    left: 137.5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent gray transparent transparent;
}