.main-content-head .btn {
    min-width: auto;
    padding-right: 0px !important;
}
.module-heading-buttons .btn img {
    width: 20px;
    height: 20px;
}
.main-content1 .maincont-contentarea {
    padding: 0px !important;
}
.main-content1 .main-content-head {
    padding: 12px 20px;
    background-color: #F3F3F3;
}
.main-content1 .title_text {
    font-weight: 600;
    font-size: 22px;
    color: #232832;
}
.main-content1 span.sub_title_text {
    font-size: 15px;
}
.main-content1 .main-content-head h3 {
    line-height: unset;
    height: auto;
}
.module-back-button {
    border: none !important;
    cursor:pointer;
}
.value {
    color: #232832;
    font-weight: 400;
    font-size: 13px;
}
 
.level3sep {
    color:#ddd;
    font-size: 20px;
    margin: 5px;
}
.new-bps-icons button {
    padding: 6px;
    margin-right: 3px;
    line-height: 18px;
    position: relative;
    z-index: 2;
}
.bps-upload {
    margin: 0px 0px 0px 10px !important;
    border-radius: 3px;
    background-color: #098de6 !important;
    padding: 8px 12px !important;
    color: #fff;
    font-size: 15px !important;
}
.bps-upload:hover {
    background-color: #001c47 !important;
}
.bps-upload img {
    padding-right: 8px;
}


.new-bps-icons .bps-float {
    justify-content: end;
    align-items: center;
}
.bpsbtnsep {
    color:#ddd;
    font-size: 20px;
    margin: 10px;
    padding: 0px !important;
}

span.label_icon.inpro-label {
    padding: 3px 6px !important;
    border-radius: 3px;
    margin-left: 8px;
}
.upload_again_btn {
    /* background-color: #f3f3f3 !important; */
    background-color: #f9f9f9 !important;
}
.bps-float button:hover, button.editprimary:disabled {
    background-color: #098de6;
    border-radius: 3px;
}
.bps-float button:hover img, button.editprimary:disabled img {
    filter: brightness(2.5) !important;
}
.bps-float .clr-hvr:hover img {
    filter: brightness(10) !important;
}

.bps-float span.label_icon {
    text-transform: capitalize;
    border-radius: 4px !important;
    letter-spacing: 0.25px;
}

.bps-float button img {
    height: 18px;
    width: auto;
}
.icon-disabled , .edit-disabled{
    cursor: no-drop !important;
}

.bg-orange {
    font-weight: 600;
    background: #E58600;
    color: #ffffff;
}

span.testtooltip {
    position: absolute;
    top: 45px;
    right: 0px;
    background-color: #001c47;
    color: #fff;
    width: max-content;
    padding: 3px 10px;
    border-radius: 4px;
    display: none;
}

span.testtooltip:before {
    content: '';
    border: 2px solid #001c47;
    border-width: 0px 0px 2px 2px;
    position: absolute;
    padding: 4px;
    right: 13px;
    top:  -5px;
    background: #001c47;
    transform: rotate(45deg);
}

.tsttooltipbtn:hover span.testtooltip {
    display: block;
}

.module-heading-buttons {
    text-align: end;
    padding: 0px;
}

.module-heading-buttons .btn {
    margin-left: 10px;
}
img.hover-img {
    display: none;
  }
.bps-aprwkfl button:hover img.default-img {
    display: none;
}
.bps-aprwkfl button:hover img.hover-img {
    display: initial;
}
.bps-aprwkfl button {
    margin: 0px !important;
}
.bps-aprwkfl button.btn.btn-primary {
    margin-left: 10px !important;
}
.custom-footer-content {
    float: right;
}
