<div class="main-content" [class.main-content1]="isHeaderShow == 'true'">
    <div class="row content-area">
      <div class=" row module-heading title">
          <div class="col-md-6 new-bps-header-title">
              <span class="module-heading-title">Business Process Studio</span>
                  <div class="value" *ngIf="isHeaderShow == 'true'">
                      <span class="level3"><strong>Level 3</strong> - Value Chain Acneage</span>
                      <span class="level3">Last Modified By: Peter James</span>
                      <span>Auto Save: April-09-2021</span>
                  </div> 
          </div>
          <div class="col-md-6 new-bps-icons pl-0" *ngIf="isHeaderShow == 'true'">
            <div class="row bps-float">
              <button class="editprimary"><img src="../../../assets/images/BPMS/Edit-white.svg"></button>
              <!-- <select class="dowload-images">
                <option value="svg">SVG</option>
                <option value="png">PNG</option>
                <option value="jpg">JPG</option>
                <option value="bpmn">BPMN</option>
              </select> -->
              <button mat-button [matMenuTriggerFor]="download"><img src="../../../assets/images/BPMS/download.svg"></button>
<mat-menu #download="matMenu">
  <button mat-menu-item>SVG</button>
  <button mat-menu-item>PNG</button>
  <button mat-menu-item>JPG</button>
  <button mat-menu-item>BPMN</button>
</mat-menu>
              <button><img src="../../../assets/images/BPMS/share.svg"></button>
              <button><img src="../../../assets/images/BPMS/Forward.svg"></button>
              <button><img src="../../../assets/images/BPMS/copy.svg"></button>
              <button><img src="../../../assets/images/BPMS/zoom-in.svg"></button>
              <button><img src="../../../assets/images/BPMS/zoom-out.svg"></button>
              <span class="bpsbtnsep">|</span>
              <button class="bps-save-icon"><img src="../../../assets/images/BPMS/save.svg"></button>
              <button><img src="../../../assets/images/BPMS/refresh.svg"></button>
              <button><img src="../../../assets/images/BPMS/Delete.svg"></button>
              <button class="upload-btn bps-upload"><img src="../../../assets/images/BPMS/upload.svg">Upload Again</button>
            </div>  
          </div>
      </div>    
      <router-outlet></router-outlet>
    </div>
  </div>