.module-heading.title {
    background-color: #f8f8f8;
    padding: 12px 6px !important;
    margin-bottom: 0px;
}
.module-heading.title span {
    padding-left: 10px;
}

.value {
    color: #001C47;
    font-weight: 400;
    font-size: 12px;
    padding-top: 10px;
}
span.level3 {
    padding-right: 8px !important;
    border-right: 1px solid #ccc;
}

.new-bps-icons button {
    padding: 6px 8px;
}
.bps-upload {
    margin-left: 20px !important;
    border-radius: 4px;
    background-color: #00a0e3 !important;
}
.bps-upload img {
    padding-right: 10px;
}
.bps-save-icon {
    border-left: 1px solid #ccc;
}
.new-bps-header-title {
    padding: 0px;
}
.new-bps-icons .bps-float {
    float: right;
}
select.dowload-images {
    background-image: url('../../../assets/images/BPMS/download.svg');
    background-repeat: no-repeat;
    border: unset;
    outline: unset;
    color: transparent;
    width: 34px;
    background-color: #f8f8f8;
    padding: 10px 0px;
    background-position: top 12px center;
}
select.dowload-images option {
    color: #000;
}
