<div class="main-content" [class.main-content1]="isHeaderShow == 'true'">
    <div class="row content-area">
      <div class=" row module-heading title">
          <div class="col-md-6 new-bps-header-title">
            <span class="bps-header-title">
              <span class="module-header-title">Business Process Studio 
                <span *ngIf="isHeaderShow == 'true'"> / {{currentNotation_name | titlecase}}</span>
              </span>
              <span class="" *ngIf="isHeaderShow == 'true'">
                <span *ngIf="rejectedOrApproved && !isfromApprover" class="label_icon inpro-label" [class.bg-red]="rejectedOrApproved=='REJECTED'" [class.bg-orange]="rejectedOrApproved=='INPROGRESS'" [class.bg-green]="rejectedOrApproved=='APPROVED'">
                  {{rejectedOrApproved}}
                </span>
                <span *ngIf="isfromApprover" class="label_icon inpro-label">{{rejectedOrApproved}}</span>
              </span>
            </span>
              <div class="value" *ngIf="isHeaderShow == 'true'">
                <span class="module-back-button" (click)='backtoNavigate()'><i aria-hidden="true" class="fas fa-arrow-left"></i></span>
                <!-- <span class="level3"><strong>Level 3</strong> - Value Chain Acneage</span> -->
                <span class="level3">Last Modified By: {{logged_User}}</span>
                <span *ngIf="updated_date_time">Autosaved @ {{updated_date_time | date:"MM/dd/yyyy HH:mm:ss"}}</span>

              </div> 
          </div>
          <div class="col-md-6 new-bps-icons p-0" *ngIf="isHeaderShow == 'true'">
            <div class="row bps-float">
              <button *ngIf='!isfromApprover && !iscreate_notation' class="editprimary tsttooltipbtn" [disabled]="isEditMode || rejectedOrApproved=='PENDING'" (click)="editNotation()">
                <img class="defaul-img" src="../../../assets/images/BPMS/Edit-blue.svg">
                <span class="testtooltip">Edit</span>
              </button>
              <button mat-button [matMenuTriggerFor]="download" class="tsttooltipbtn">
                <img src="../../../assets/images/BPMS/download.svg">
                <span class="testtooltip">Download</span>
              </button>
                <mat-menu #download="matMenu">
                  <button mat-menu-item (click)="downloadNotaton('svg')">SVG</button>
                  <button mat-menu-item (click)="downloadNotaton('png')">PNG</button>
                  <button mat-menu-item (click)="downloadNotaton('jpg')">JPG</button>
                  <button mat-menu-item (click)="downloadNotaton(selectedNotationType)">{{selectedNotationType | uppercase}}</button>
                </mat-menu>
                <!-- <button type="button" class="clr-hvr tsttooltipbtn" [popover]="shareTemplate" placement="bottom">
                <img src="../../../assets/images/BPMS/share.svg" >
                <span class="testtooltip">Share</span>
              </button> -->
              <button type="button" class="icon-disabled" placement="bottom">
                <img src="../../../assets/images/BPMS/share disable.svg" >
              </button>
              <!-- <button><img src="../../../assets/images/BPMS/Forward.svg" matTooltip="Forward" matTooltipClass="bpsHeaderTooltip" matTooltipPosition="below"></button> -->
              <!-- <button class="tsttooltipbtn">
                <img src="../../../assets/images/BPMS/Favorite.svg" >
                <span class="testtooltip">Favorite</span>
              </button> -->
              <button class="icon-disabled">
                <img src="../../../assets/images/BPMS/Favorite disable.svg" >
              </button>
              <button class="tsttooltipbtn" (click)="zoomIn()" >
                <img src="../../../assets/images/BPMS/zoom-in.svg">
                <span class="testtooltip">Zoom in</span>
              </button>
              <button class="tsttooltipbtn" (click)="zoomOut()">
                <img src="../../../assets/images/BPMS/zoom-out.svg">
                <span class="testtooltip">Zoom out</span>
              </button>
              <button class="tsttooltipbtn" (click)="fitNotation()" >
                <img src="../../../assets/images/BPMS/Fit to screen.svg">
                <span class="testtooltip">Fit to screen</span>
              </button>
              <span class="bpsbtnsep">|</span>
              <button class="bps-save-icon clr-hvr tsttooltipbtn" (click)="saveProcess()" *ngIf="rejectedOrApproved!='PENDING' && isfromApprover!=true && !isSave_disabled && !iscreate_notation" >
                <img src="../../../assets/images/BPMS/Save.svg" alt="" class="defaultimg">
                <span class="testtooltip">Save</span>
              </button>
              <button class="bps-save-icon clr-hvr tsttooltipbtn" (click)="saveProcessCreate()" *ngIf="iscreate_notation" >
                <img src="../../../assets/images/BPMS/Save.svg" alt="" class="defaultimg">
                <span class="testtooltip">Save</span>
              </button>
              <button class='icon-disabled' *ngIf="rejectedOrApproved!='PENDING' && isfromApprover!=true && isSave_disabled && !iscreate_notation" >
                <img src="../../../assets/images/BPMS/Savedisabled.svg" alt="" class="defaultimg">
              </button>
              <button class="clr-hvr tsttooltipbtn" (click)="orchestartion()" *ngIf="rejectedOrApproved=='APPROVED'">
                <img src="../../../assets/images/BPMS/Orchestrate.svg">
                <span class="testtooltip">Orchestration</span>
              </button>
              <!-- <button class="clr-hvr tsttooltipbtn" (click)="saveandSubmitApproval()" *ngIf="rejectedOrApproved!='PENDING' && isfromApprover!=true && !isSave_disabled && !iscreate_notation">
                <img src="../../../assets/images/BPMS/submit-for-approval.svg">
                <span class="testtooltip">Save & Submit for approval</span>
              </button> -->
              <button class="clr-hvr tsttooltipbtn" *ngIf="iscreate_notation" (click)="saveandSubmitApprovalCreat()">
                <img src="../../../assets/images/BPMS/submit-for-approval.svg">
                <span class="testtooltip">Save & Submit for approval</span>
              </button>
              <!-- <button mat-button [matMenuTriggerFor]="menu" *ngIf="rejectedOrApproved!='PENDING' && isfromApprover!=true && !isSave_disabled && !iscreate_notation" class="clr-hvr tsttooltipbtn"><img alt=""
                src="../../../assets/images/BPMS/submit-for-approval.svg"><span class="testtooltip">Save & Submit for
                approval</span></button> -->
                <button type="button" *ngIf="rejectedOrApproved!='PENDING' && isfromApprover!=true && !isSave_disabled && !iscreate_notation" class="clr-hvr tsttooltipbtn"
        [popover]="popTemplate" placement="bottom">
        <img alt="" src="../../../assets/images/BPMS/submit-for-approval.svg">
        <span class="testtooltip">Save & Submit for approval</span>
</button>
            <!-- <mat-menu #menu="matMenu" class="custom-content">
              <div class="form-group">
                <label for="" class="label-control">Approval</label>
                <select [(ngModel)]="selected_approver" [disabled]="rejectedOrApproved=='PENDING'" class="form-control">
                  <option value="undefined" disabled hidden>Select Approver</option>
                  <option *ngFor="let each_approver of approver_list;let i=index" [value]=i>
                      {{each_approver.firstName+" "+each_approver.lastName}}</option>
              </select>
              </div>
              <button class="btn btn-primary" (click)="onchange()">Save & Submit for Approval</button>
            </mat-menu> -->
              <button class="icon-disabled" *ngIf="rejectedOrApproved!='PENDING' && isfromApprover!=true && isSave_disabled && !iscreate_notation">
                <img src="../../../assets/images/BPMS/submit-for-approvaldisabled.svg">
              </button>
              <button class="clr-hvr tsttooltipbtn" *ngIf="rejectedOrApproved == 'APPROVED'"  (click)="deployNotation()">
                <img src="../../../assets/images/BPMS/Deploy.svg">
                <span class="testtooltip">Deploy Notation</span>
              </button>
              <button class="clr-hvr tsttooltipbtn" *ngIf="isStartProcessBtn" (click)="startProcess()"  >
                <img src="../../../assets/images/BPMS/Play.svg">
                <span class="testtooltip">Start Process</span>
              </button>
              <button class="tsttooltipbtn" (click)="showConformance()" *ngIf="isShowConformance && !reSize && !hasConformance" [disabled]="disableShowConformance||rejectedOrApproved=='PENDING'">
                  <img src="../../../assets/images/BPMS/show conformance.svg">
                  <span class="testtooltip">Show Conformance</span>
                </button>
                <button class="tsttooltipbtn" (click)="getBpmnDifferences()" *ngIf="isShowConformance && (hasConformance || reSize)">
                    <img src="../../../assets/images/BPMS/show difference.svg">
                    <span class="testtooltip">Show Differences</span>
                  </button>
              
              <!-- <button class="clr-hvr" matTooltip="Refresh" matTooltipClass="bpsHeaderTooltip" matTooltipPosition="below"><img src="../../../assets/images/BPMS/refresh.svg"></button>
              <button class="clr-hvr" matTooltip="Delete" matTooltipClass="bpsHeaderTooltip" matTooltipPosition="below"><img src="../../../assets/images/BPMS/Delete.svg"></button> -->
              <!-- <button class="upload-btn bps-upload"><img src="../../../assets/images/BPMS/upload.svg">Upload Again</button> -->
              <ngx-dropzone class="upload_again_btn" (change)="UploadFile($event)" [multiple]=false [accept]="'.'+selectedNotationType">
                <ngx-dropzone-label>
                  <button class="upload-btn bps-upload" *ngIf="!isfromApprover && !iscreate_notation"><img src="../../../assets/images/BPMS/upload.svg" *ngIf="!isfromApprover">Upload Again</button>  
                  <button class="upload-btn bps-upload" *ngIf="!isfromApprover && iscreate_notation"><img src="../../../assets/images/BPMS/upload.svg" *ngIf="!isfromApprover">Upload</button>  
                  <!-- <button class="btn btn-primary eiap-btn"  *ngIf="!isfromApprover">Upload Again</button> -->
                </ngx-dropzone-label>
              </ngx-dropzone>
            </div>  
          </div>
          <div class="col-md-6 module-heading-buttons bps-aprwkfl" *ngIf="isHeaderShow == 'false'">
            <span>
              <button *ngIf="isApproverUser" routerLink="/pages/approvalWorkflow/home" class="btn btn-default">
                <img class="testplus default-img" src="../../../assets/images/BPMS/Workflow.svg">
                <img class="testplus hover-img" src="../../../assets/images/BPMS/White-Workflow.svg">
                Approval Workflow
              </button>
              <button (click)="gotoBPMNPlatform()" class="btn btn-primary">
                <img class="testplus" src="../../../assets/images/BPMS/White-eye.svg">
                View Cockpit
              </button>
            </span>
          </div>
      </div>    
      <router-outlet></router-outlet>
  </div>
</div>
<ng-template #popTemplate>
  <div class="custom-content Apr-cnt">
    <div class="form-group">
      <label for="" class="label-control">Approval</label>
      <select [(ngModel)]="selected_approver" [disabled]="rejectedOrApproved=='PENDING'" class="form-control">
        <option value="undefined" disabled hidden>Select Approver</option>
        <option *ngFor="let each_approver of approver_list;let i=index" [value]=i>
            {{each_approver.firstName+" "+each_approver.lastName}}</option>
    </select>
    </div>
    <div class="custom-footer-content">
      <button class="btn btn-default">Cancel</button>
      <button class="btn btn-primary" (click)="onchange()">Save & Submit for Approval</button>
    </div>  
  </div>
</ng-template>

<ng-template #shareTemplate>
  <div class="custom-content">
    <div class="form-group">
      <label for="" class="label-control">Invite People</label>
      <select class="form-control">
        <option >Select</option>
    </select>
    </div>
    <div class="custom-footer-content">
      <button class="btn btn-default">Cancel</button>
      <button class="btn btn-primary">Share</button>
    </div>  
  </div>
</ng-template>