.divbox{
    border: 1px solid #E5E5E5;
    padding: 10px 15px;
    border-radius: 4px;
    color: #081D2A;
}
.divbox h4 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 6px;
}
.divbox label {
  font-size: 20px;
  margin-bottom: 0px;
  color: #00a0e3
}
.divbox0 label{
color: #00A0E3
}
.divbox1 label{
  color: #27AD74;
}
.divbox0 span{
color: #081D2A;
}
.divbox1 span{
  color: #081D2A;
}
.divbox2 label{
  color: #00A0E3;
}
.divbox3 label{
  color: #27AD74
}
.divbox0 img,.divbox1 img, .divbox2 img, .divbox3 img{
  width: 35px;
  position: absolute;
  right: 10px;
  top: 16px;
  }

.btm-line{
    border: 1px solid rgb(20, 20, 20);
}
.table1-heading{
    color: #3B4B64;
    font-size: 16px !important;
    font-weight: 600;
    margin-bottom: 15px;
}
.table-striped>tbody>tr:nth-of-type(even){
    background-color: #fff !important;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background-color: #fff !important;
}
.table-bordered {
  border: none !important;
}
input:disabled{
    cursor: no-drop;
    border: 1px solid #ccc;
    padding: 3px 6px;
  }
.amountinputs input{
    width: 80px !important;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-left: 6px;
    padding-right: 10px;
}
.amountinputs i{
    cursor: pointer;
    margin-left: -20px;
  }
.input-fields{
    margin-bottom: 20px;
    padding: 10px 0px !important;
    background-color: #f3f3f3;
    margin-left: -10px;
    margin-right: -10px;
}
.input-fields label{
    font-weight: 400 !important;
    font-size:15px;
}
.input-fields i{
  color: #5a6c87;
}
.input-fields input{
  padding: 3px 8px;
}

.groupBtn{
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 10px;
  list-style: none;
  padding: 0;
  font-size: 12px;
  margin-top: 2px;
}
.groupBtn button{
  display: inline-flex;
}
.groupBtn button{
  border: 1px solid #00A0E3;
  width: 80px;
  cursor: pointer;
  padding: 6px 4px;
  background-color: #fff;
  font-size: 14px;
  color: #213B61;
  display: inline-block;
}
.event-btn{
  
  border-radius: 3px 0px 0px 3px;
}
.duration-btn{
  border-radius: 0px 3px 3px 0px;
}
.groupBtn button:hover{
  background-color: #ECF5F9;
}
.groupBtn button.active{
    background-color: #00A0E3;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border: 1px solid #00A0E3;
    display: inline-block;
}
.sidenav {
    width: 0;
    position: absolute;
    z-index: 100;
    top: 64px;
    right: 15px;
    padding-left:0px;
    transition: 0.5s;
    padding-top: 10px;
  }
  .variants_slider{
    /* max-height: 700px;*/
    overflow: hidden; 
  }
  .closebtn img {
    vertical-align: top !important;
  }
  button.closebtn:hover {
    color: #00a0e3;
}
  
  #main {
    transition: margin-right .5s;
  }
  .events1 p{
    font-size: 12px;
  }  
  
  .variant2{
    margin: 10px 0px; 
  }
  .variant_parcent{
    padding: 0px !important;
  }
  
  .variant_play{
    z-index: 10;
  }
  .box-content{
    color: #000;
    border-radius: 4px;
    margin-bottom: 25px;
  }
  .hedline2{
    margin: 0px;
}

  .varaint-button{
      margin-bottom: 5px;
  }
  .varaint-button1{
    transform: rotate(270deg);
    position: absolute;
    z-index: 10;
    float: right;
    margin-left: 100%;
    margin-top: 110px;
    height: 35px;
    cursor: pointer;
    font-weight: 600;
    width: 120px;
    text-align: center;
    padding: 10px 5px;
    line-height: 12px;
    font-size: 15px;
    background-color: #ccc;
    border-radius: 2px;
}
.varaint-button1:hover{
 font-weight: bold !important;
}
  .events{
      border: 1px solid rgb(32, 32, 32);
  }
  .dropdown-menu {
    right: -60px !important;
}
.dropdown-menu p{
    text-align: center !important;
    cursor: pointer;
}
.dropdown-menu p:hover{
    font-weight: bold;
    color: #287ad6;
}
.no-padding{
  padding: 0;
}
.link{
  color: #00a0e3;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}
.backgr{
background: rgb(241, 240, 240);
}
.lineChart{
  margin-bottom: 10px;
  margin-top: 10px;
}
.box_shadw{
  border: 1px solid #e5e5e5;
  background: #fff;
  border-radius: 4px;
}
.box_shadw1, .box_shade {
  margin-top: 20px; 
}
.box_shadw2{
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.table-box{
  margin-top: 30px;
}
.pi-chart{
  margin-top: 10px;  
}

.hrsInput input{
  border: 1px solid lightgray !important;
  border-radius: 5px !important;
  padding: 3px !important;
}
.hrsDropdwn{
  padding: 20px !important;
}
.hrsDropdwn button{
  padding: 2px !important;
  min-width: 80px !important;
}
.hrs-dropdwn .btn-cancel{
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 4px;
  margin-left: 13px;
  min-width: 120px;
}
.btns-grop{
  margin-top: 5px;
  margin-left: 10px;
}
.hrs-dropdwn .dropdown-menu {
width: 500px !important;
padding: 10px;
}
.dropdown-divider{
  border: 1px solid #aaa;
}

.l_title label{
  color: #3B4B64;
  font-size: 16px !important;
  font-weight: 600;
}
.titleHB-cost{
  text-align: center;
  font-size: 18px;
  margin-top: 11px;
  color: #333333;
}
.hrs-dropdwn .row {
   margin-right: 0px !important; 
     margin-left: 0px !important;
  }
  #dropdownForm2{
    top: 0px; 
    left: 0px; 
    will-change: transform; 
    position: absolute; 
    transform: translate(-340px, 39px);
    position: absolute;
    width:500px ;
    z-index: 1000;
    float: left;
    padding: 15px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  #dropdownForm2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 125px;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

.box_shadw34 {
  border: 1px solid #e5e5e5;
  height: 290px;
}

.p_warning {
  color: red;
  font-size: 12px;
}

.hvsbot{
  height: 360px;
}

.business_heading{
  padding: 15px 0px;
  font-size: 16px;
  margin: 0px;
  color: #3B4B64;
  text-transform: capitalize;
}
.business_heading strong {
  font-size: 16px;
  font-weight: 600;
}
.business_content{
  padding: 0px;
}
.business_content li {
  padding-bottom: 10px;
  font-size: 14px;
  color: #213b61;
}
.business_content li b {
  font-weight: 600;
}
.new-PI-layout {
  padding: 0px 10px 10px;
}
span.testtooltip {
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: #001c47;
  color: #fff;
  width: max-content;
  padding: 3px 10px;
  border-radius: 4px;
  display: none;
}

span.testtooltip:before {
  content: '';
  border: 2px solid #001c47;
  border-width: 0px 0px 2px 2px;
  position: absolute;
  padding: 4px;
  right: 13px;
  top:  -5px;
  background: #001c47;
  transform: rotate(45deg);
}

.tsttooltipbtn:hover span.testtooltip {
  display: block;
}
.timefeed-header {
  margin-bottom: 15px;
}
.timefeed-footer {
  float: right;
  margin-top: 20px;
}
.timefeed-footer .btn-primary {
  margin-right: 0px !important;
}
.timefeed-header h3 {
  margin-top: 0px !important;
  margin-bottom: 15px !important;
  font-size: 18px !important;
  font-weight: 600;
  color: #001c47;
}
.timefeed-header span.close {
  margin-top: -4px;
  opacity: 1;
  font-size: 20px;
  font-weight: 600;
  color: #001c47;
}
.timefeed-header span.close:hover {
  color: #00a0e3;
}
.insigntsoccur {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  height: 450px;
  padding: 15px;
}
.insigntsresuractivity {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  height: 320px;
  padding: 15px 0px;
  background-color: #fff;
}
.resuractivity-select {
  float: right;
  padding: 0px;
}
.resuractivity {
  padding-bottom: 15px !important;
}
.activevaraint {
  color: #ffffff;
  background-color: #00a0e3;
  border-top: 1px solid #ffffff !important;
  border-left: medium none !important;
}
img.hover-img {
  display: none;
}
.variants-header button:hover img.default-img {
  display: none;
}
.variants-header button:hover img.hover-img {
  display: initial;
}
#pie_chart1,#pie_chart2{
  width: 100%;
  height: 270px;
}
.PI-insigntscost {
  height: 460px;
  padding: 15px;
}
#linechart1{
  height: 410px;
  width: 100%;
}
[aria-labelledby*="-title"] {
  display: none !important;
  visibility:"hidden";
}
.linechart1 g[aria-labelledby*="-title"] {
  display: none !important;
  visibility:"hidden";
}

.boxes {
  margin-bottom: 20px;
}
.amountinputs input[type="text"]:not(.mat-input-element), .amountinputs input[type="password"] {
  border: 1px solid #ccc !important;
}
.box_shadw1 div#scatter {
  margin: 20px 0px 0px -10px;
}
.insigntsoccurtable {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 15px;
}
.resuractivity-title label {
  color: #3B4B64;
  font-size: 18px !important;
  font-weight: 600;
}
.resuractivity-header {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.insigntsoccurtable table tr {
  height: 40px;
}
.top10cases {
  min-height: 309px !important;
}
.resuractivity-footer {
  background-color: #f3f3f3;
  margin-top: 20px;
}
.resuractivitytitle {
  padding-left: 15px;
}
.insigntsoccurtable table thead th, .insigntsoccurtable table tbody td {
  border-left: medium none;
  border-right: medium none;
}

.variant-body {
  height: calc(100vh - 240px);
  display: inline-block;
  overflow: hidden auto;
}

.box_shade div#scatter ::ng-deep .tick text {
  transform: rotate(-30deg);
}