<div class="container">
    <div class="row">
        <div class='col-md-12'>
            <div class="col-sm-1 "></div>
            <div class="col-sm-2 divbox"> Avg Time Spent</div>
            <div class="col-sm-1 "></div>
            <div class="col-sm-2 divbox"> Avg Time Savings</div>
            <div class="col-sm-1 "></div>

            <div class="col-sm-2 divbox"> Avg Cost</div>
            <div class="col-sm-1 "></div>
            <div class="col-sm-2 divbox"> Avg Savings</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 py-4">
        <div id="costprojection">
            
        </div>
    </div>
    <br>
</div>