<div class="container">
    <div class="row">


        <div id="mySidenav" class="col-md-12 sidenav tracking_detsils1">
            <div class='variants_slider'>
               <div class="col-sm-12 select_drpdwnone">
                    <div class="col-sm-12"><button class="closebtn" (click)="closeNav()">&times;</button></div>
                    <div class="col-sm-12 form-group">
                        <select class="form-control select_drpdwn" [(ngModel)]="select_varaint" (change)="onchangeVaraint(select_varaint)" name="status" id="variant_drpdwn">
                        <option [value]="each" *ngFor="let each of variant_list;let i=index;trackBy:loopTrackBy" [selected]="i==0">{{variant_list_options[each]}}</option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-12 row variant2'>
                       <div class="col-sm-7 check_box">
                           <input id="check_box"  type="checkbox" #check_box='ngModel' name="check_box"   [(ngModel)]="checkboxValue" (change)="selectAllVariants()"><span class="">Select all</span>
                       </div>
                       <div class='col-sm-5 event2'>Time Taken</div>
                </div>
                <div class='col-sm-12 row variant_border' [ngClass]="isselected ==i?'activevaraint':''||data.selected ==='active'?'activevaraint':''" *ngFor="let data of varaint_data.data; let i=index">
                    <div (click)="caseIdSelect(data,i)"  class='col-sm-4 event3'>Variant <b>{{i+1}}</b></div>
                    <div class='col-sm-6 variant_parcent'>
                        <div (click)="caseIdSelect(data,i)" class='col-sm-12'>Cases Covered <b>{{data.case_value}} ({{caseParcent(data.casepercent)}}%)</b></div>
                        <div (click)="caseIdSelect(data,i)" class='col-sm-3'></div>
                    </div>
                    <div class='col-sm-2' (click)="caseIdSelect(data,i)">{{timeConversion(data.days)}}</div>
                </div>
                </div>
                
    </div>


        <div class="col-md-12">
            <!-- <div class="col-sm-10"> -->
                <div class="col-sm-12 box-content hedline1">
                    <p>Content 1</p>
                </div>
                <div class="col-sm-12 box-content hedline2">
                    <p>Content 2</p>
                </div>
                <div class="col-sm-12 box-content hedline3">
                    <p class="">Content 3</p>
                </div>
                <div class="col-sm-12 box-content hedline4">
                    <p>Content 4</p>
                </div>
            <!-- </div> -->
            <div class="col-sm-10"></div>
            <div class="col-sm-2 pull-right">
                <!-- <div class="variant-Btn" (click)="openVariantListNav()">Variant List</div> -->
                <button class="btn btn-primary eiap-btn" (click)="openVariantListNav()">Variant List</button>
            </div>
        </div>
        <div class='col-md-12 boxes'>
            <div class="col-sm-1 "></div>
            <div class="col-sm-2 divbox"> Avg Time Spent
                <div>20</div>
            </div>
            <div class="col-sm-1 "></div>
            <div class="col-sm-2 divbox"> Avg Time Savings
                <div>80</div>
            </div>
            <div class="col-sm-1 "></div>

            <div class="col-sm-2 divbox"> Avg Cost
                <div>60</div>
            </div>
            <div class="col-sm-1 "></div>
            <div class="col-sm-2 divbox"> Avg Savings
                <div>40</div>
            </div>
        </div>
        <div class="col-md-12 input-fields">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 amountinputs">
                <label for="">Avg Human Cost$</label><input type="text" [disabled]="!isEditable" name="humanValue" [(ngModel)]="input1">
                <i (click)="editInput()"  class="fas fa-pen"></i>
            </div>
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-4 amountinputs">
                <label for="">Avg Robot Cost$</label><input type="text" name="robotValue" [disabled]=" !isEditable1" [(ngModel)]="input2">
                <i (click)="editInput1()" class="fas fa-pen"></i>
            </div>
        </div>
    <!-- </div> -->
    <br>
    <!-- <div class="row"> -->
        <div class="col-md-12 py-4">
        <div id="costprojection"></div>
        <br>
        <div class="col-md-12 btm-line"></div>
        <br>
        <div class="col-md-12">
            <div class="col-sm-6">
                <div id="scatter"></div>
            </div>
            <div class="col-sm-6">
                <div class="dropdown pull-right">
                    <button title="Download" data-toggle="dropdown" class="fa fa-table down_btn dropdown-toggle"></button>
                    <div class="dropdown-menu drop_down download_selection" aria-labelledby="dropdownMenuButton">
                        <p class="" ><span>View In Pie chart</span></p></div>
                </div>
                <div id="barGraph"></div>
            </div>
        </div>
        <br>
        <div class="col-md-12 btm-line"></div>
        <div class="col-md-12">
            <br>
            <div class="col-sm-6">
                <div class="text-center table1-heading">Top 10% Cases (in descending order of duration)</div>
                <table class="table table-hover table-bordered text-center table-striped">
                    <thead class="text-center">
                        <tr>
                            <th class="text-center">Step</th>
                            <th class="text-center">Time</th>
                            <th class="text-center">%Cases</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let values of table1">
                        <td>{{values.value1}}</td>
                        <td>{{values.value2}}</td>
                        <td>{{values.value3}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="text-center table1-heading">Top 10 Automation Opps</div>
                <table class="table table-hover table-bordered text-center table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Step</th>
                            <th class="text-center">Value</th>
                            <th class="text-center">Savings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let values of table1">
                            <td>{{values.value1}}</td>
                            <td>{{values.value2}}</td>
                            <td>{{values.value3}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <div class="col-md-2">
            <br><br>
            <select class="form-control">
                <option value="">Select</option>
            </select>
        </div>
        <div class="col-md-5 py-4">
            <div id="piechart1">
                
            </div>
        </div>
        <div class="col-md-5 py-4">
        
        <div id="piechart2">
            
        </div>
        </div>

    </div>
</div>
</div>
