
    <div *ngFor="let sentMessage of messages" class="py-3 ">
        <div *ngIf="sentMessage.messageSourceType!='SYSTEM' && sentMessage.messageSourceType!='INPUT'" class="user-message ">
            <div class="py-3 px-3 mr-2 user-msgtext" [innerHTML]="sentMessage.message"></div>
            <div class="sys-image">
                <!-- <img src="../../../../assets/copilot/user.svg" alt="" /> -->
                <p-avatar [label]="user_firstletter" styleClass="p-mr-2" size="large" [style]="{'background-color': '#9c27b0','border':'2px solid #098DE6' , 'color': '#ffffff','font-size':'16px'}" shape="circle"></p-avatar>
            </div>
        </div>
        <div></div>
        <div *ngIf="sentMessage.messageSourceType=='SYSTEM'" class="system-message">
            <div *ngFor="let message of (sentMessage?.data?.message??[])" class="d-flex">
                <div class="sys-image">
                    <img src="../../../../assets/copilot/systemicon.svg" alt="" />
                </div>
                <div class="ml-2 send-msgtext" [innerHTML]="message">
                </div>
            </div>
            <div *ngIf="sentMessage.data.components" style="margin-left:10%;">
                <div *ngFor="let comp of sentMessage?.data?.components;index as i" > 
                    <div class="messageButton" *ngIf="comp === 'Buttons'">
                        <div *ngFor="let b of sentMessage?.data?.values[i]" [style]="{'display':'inline-block', 'margin-left':'10px', 'margin-top':'5px'}">
                            <app-copilot-message-button *ngIf="b?.type!='processLogsUpload' && b?.type!='processLogFileUpload'" [buttonData]="b" (buttonAction) = "processButtonAction($event)"></app-copilot-message-button> 
                            <span *ngIf="b?.type=='processLogFileUpload'" >
                                    <span class="process-log-btn-pos" [hidden]="b?.disabled" (change)="processUploadFileAction($event)">
                                        <input type="file" id="fileInput" style="display: none;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .xes, .xes.gz">
                                        <label for="fileInput" class="btn btn-primary text-white">{{b?.label}}</label>    
                                    </span>
                                    <span [hidden]="!b?.disabled">
                                        <button class="btn btn-primary" disabled="true">{{b?.label}}</button>
                                    </span>
                            </span>
                            &nbsp;
                            <span *ngIf="b?.type=='processLogsUpload'" >
                                <button (click)="processProcessLog()" [disabled]="b?.disabled" class="btn btn-primary text-white">{{b?.label}}</button>
                            </span>
                        </div>
                    </div>
                    <div class="messageForm" *ngIf="comp === 'Form'">
                        <div *ngFor="let b of sentMessage?.data?.values[i]">
                            <app-copilot-message-form [formInputData]="b" (formAction) = "processFormAction($event)"></app-copilot-message-form> 
                        </div>
                    </div>
        
                    <div class="messageForm" *ngIf="comp === 'list'">
                        <div *ngFor="let b of sentMessage?.data?.values[i]">
                            <app-copilot-message-list [listData]="b" [mappings]='sentMessage?.data?.mappings'  (response) = "processListAction($event)" (previewResponse)="processListPreviewAction($event)"></app-copilot-message-list> 
                        </div>
                    </div>
        
                    <div class="messageForm" *ngIf="comp === 'card'">
                        <div *ngFor="let b of sentMessage?.data?.values[i]">
                            <app-copilot-message-card [cardData]="b" [mappings]='sentMessage?.data?.mappings'  (response)="processCardAction($event)" ></app-copilot-message-card> 
                        </div>
                    </div>

                   
                </div>
                  
            </div>
        </div>
        <div></div>
    </div>
