    <div class="h-100">
        <div class="row main-content-head">
            <div class="col-md-4 pl-0">
                <h3>
                    <label id="popup_title">
                        <a *ngIf="breadcrumbItems.length == 0" (click)="backToProjectDetails()" class="imageBox">
                            <span class="active-icon" >
                                <img src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
                              </span>
                              <span class="hover-icon" >
                                <img src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt="">
                              </span>
                        </a>
                        <a *ngIf="breadcrumbItems.length >0" (click)="backToSelectedFolder()" class="imageBox">
                            <span class="active-icon" >
                            <img src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
                          </span>
                          <span class="hover-icon" >
                            <img src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt="">
                          </span></a>
                    </label>
                    <span class="title_text_haspath">
                       <span routerLink="/pages/projects/listOfProjects" class="breadcrum-back">Projects</span> <span class="breadcrum-align">/</span> <span (click)="backToProjectDetails()" class="breadcrum-back">{{project_name}}</span> <span class="breadcrum-align">/</span> <span class="sub_title_text"> Document </span>
                    </span>
                </h3>
            </div>
            <div class="col-md-8 pr-0 text-right head-ritfilter">
                
            </div>
        </div>
        <div class="main-content-body">
            <div class="well-design">
                <div class="col-md-12 under-line">
                    <div class="row">
                        <div class="col-md-8 pl-0">
                            
                                <button type="button" class="btn bluebg-button creat-pluarow icn-adj">
                                  <span><img src="../../../../../assets/images-n/add-default.svg"></span> <span class="crt-new"> Create New</span> <span><img src="../../../../../assets/images-n/chevron-down-createnew.svg"></span>
                                </button>
                           
                           
                                <button type="button" class="btn docmnt-btn icn-adj imageBox">
                                <img src="../../../../../assets/images-n/uploadicon.svg" width="13px"  class="active-icon"/>
                                 <img src="../../../../../assets/images-n/dashboard/upload-hover.png" width="13px" class="hover-icon"/>
                                <span class="crt-new">Upload</span>
                            </button>
                           
                            <button type="button" class="btn docmnt-btn icn-adj imageBox">
                                <img src="../../../../../assets/images-n/downlaod.svg" width="13px"  class="active-icon"/>
                                <img src="../../../../../assets/images-n/dashboard/dowload-hover.png" width="13px" class="hover-icon"/>
                                <span class="crt-new">Download</span>
                            </button>
                            <button type="button" class="btn docmnt-btn icn-adj imageBox">
                                <img src="../../../../../assets/images-n/delete.svg" width="13px" class="active-icon"/>
                                <img src="../../../../../assets/images-n/dashboard/delete-hover.png"width="13px" class="hover-icon"/>
                                <span class="crt-new">Delete</span>
                            </button>
                                <button type="button" class="btn docmnt-btn icn-adj imageBox">
                                <img src="../../../../../assets/images-n/rename.svg" width="13px" class="active-icon"/>
                                <img src="../../../../../assets/images-n/dashboard/rename-hover.png" width="13px" class="hover-icon"/>
                                <span class="crt-new">Rename</span>
                            </button>
                            <button type="button" class="btn docmnt-btn imageBox">
                                <img src="../../../../../assets/images-n/copylink.svg" width="13px" class="active-icon"/>
                                <img src="../../../../../assets/images-n/dashboard/copy-hover.png" width="13px" class="hover-icon"/>
                                <span class="crt-new">Copy Link</span>
                            </button>

                        </div>
                        <div class="col-md-4 pr-0 right-btns">
                             
                           <span (click)="folderView()" pTooltip="Folder View" tooltipPosition="top" class="icn-adj1 imageBox" [ngClass]="{'treeviewfilter': !isFolder, 'treeviewfilter1': isFolder}">
                                <img src="../../../../../assets/images-n/Component 13 – 1.svg" alt="Tree View" class="active-icon"/>
                                <img src="../../../../../assets/images-n/dashboard/Component 13 – 1.svg" class="hover-icon"/>
                            </span>
                            <span  pTooltip="Tree View" tooltipPosition="top" class="icn-adj1 imageBox" [ngClass]="{'treeviewfilter': !isFolder, 'treeviewfilter1': isFolder}">
                                <img (click)="treeView()" src="../../../../../assets/images-n/Icon feather-list.svg" alt="Tree View" class="active-icon" />
                                <img (click)="treeView()" src="../../../../../assets/images-n/dashboard/Icon feather-list.svg" class="hover-icon"/>
                            </span>
                            <span class="docfilt-icon icn-adj1 imageBox" pTooltip="Filter" tooltipPosition="top" [ngClass]="{'treeviewfilter': !isFolder, 'treeviewfilter1': isFolder }">
                                <!-- <i  class="pi pi-filter icon-color"></i> -->
                                <img (click)="op1.toggle($event)" src="../../../../../assets/images-n/Icon feather-filter.svg " class="active-icon"/>
                                <img (click)="op1.toggle($event)" src="../../../../../assets/images-n/dashboard/Icon feather-filter.svg" class="hover-icon"/>
                            </span>
                            <span class="p-input-icon-right">
                                <i class="pi pi-search" [ngClass]="{'treeviewsearchicon': !isFolder}"></i>
                                <input  *ngIf="isFolder" type="text" pInputText placeholder="Type to search" [(ngModel)]="term">
                                <!-- <input  *ngIf="!isFolder" type="text" pInputText placeholder="Type to search"> -->
                            </span>
                           
                        </div>
                    </div>
                </div>
                <div class="docscrnchngs">
                    <div *ngIf="isFolder && breadcrumbItems.length>0">
                        <p-breadcrumb [model]="breadcrumbItems" (onItemClick)="onBreadcrumbItemClick($event)"></p-breadcrumb>
                    </div>
            <div *ngIf="isFolder" class="row docfolder" [ngClass]="{'docfolder1': !istaskFilterApplied}">
            <p-card  class="cards" styleClass="document-tree" *ngFor="let item of folder_files|filter:term;let i = index"  
            (dblclick)="openAddFolderOverlay(item,'dblclick')" (click)="openAddFolderOverlay(item,'singleclick')" 
            (contextmenu)="onRightClick($event,item)" [ngClass]="{'addpcard' : item.label == 'Add Folder' || item.label == 'Add Folder / Document'}">  
                <div class="folder-check">
                    <img src="./../../../../assets/images-n/projects/{{item.icon}}" alt="Create">
                    <input type="checkbox" id="check-cls"/>
                   
                </div>
                <span *ngIf="item.type !='textBox'" [tooltipDisabled]="item.label?.length<50" [pTooltip]="item.label" tooltipPosition="top" class="foldname"> {{truncateDesc(item.label)}}</span>
                <span *ngIf="item.type=='textBox'">
                    <input [(ngModel)]="entered_folder_name" type="text" maxlength="50" pInputText>
                    <div class="editfields">
                        <i class="pi pi-check"  (click)="onSaveFolderNameUpdate('folderView')" *ngIf="entered_folder_name"></i>
                        <i class="pi pi-times" (click)="onCancelFolderNameUpdate('folderView')"></i>
                    </div>
                </span>
            </p-card>
           </div>
           <div *ngIf = "!isFolder" class="doctree">
            <p-tree [value]="files" #myTree [filter]="true" [filterPlaceholder]="'Type to search'" [contextMenu]="cm" styleClass="document-tree" selectionMode="single" [style]="{'max-height':'auto','overflow':'auto'}"
                (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect()" [(selection)]="selectedFile" (onNodeContextMenuSelect)="onNodeClick($event)"> 
                <ng-template let-node pTemplate="default">
                    <span *ngIf="node.label == 'Add Folder' || node.label == 'Add Folder / Document'">
                        <img src="./../../../../assets/images-n/projects/folderadd.svg" alt="Create">
                    </span>
                    <span *ngIf="node.label != 'Add Folder' && node.label != 'Add Folder / Document' && node.dataType =='folder'">
                        <img [src]="node.expanded ? './../../../../assets/images-n/projects/folder_open.svg' : './../../../../assets/images-n/projects/folder.svg'" class="icon" alt="">
                        
                    </span>
                    <span *ngIf="node.label != 'Add Folder'&& node.label != 'Add Folder / Document' && node.dataType!='jpg' && node.dataType!='gif' && node.dataType!='svg' && node.dataType!='png' && node.dataType !='folder'">
                        <img src="./../../../../assets/images-n/projects/document-file.svg" alt="Create">
                    </span>
                    <span *ngIf="node.dataType=='jpg'||node.dataType=='gif'||node.dataType=='svg'||node.dataType=='png'">
                        <img src="./../../../../assets/images-n/projects/img-file.svg" alt="Create">
                    </span>
                    <span [ngClass]="{ 'has-changes' : node.hasChanges }" [tooltipDisabled]="node.label?.length<50" [pTooltip]="node.label" tooltipPosition="top"> {{truncateDesc(node.label)}} </span>
                </ng-template>
                <ng-template let-node pTemplate="textBox">
                    <input [(ngModel)]="entered_folder_name" type="text" style="width:100%" maxlength='50' pInputText>
                    <div class="editfields">
                        <i class="pi pi-check"  (click)="onSaveFolderNameUpdate('treeView')" *ngIf="entered_folder_name"></i>
                        <i class="pi pi-times" (click)="onCancelFolderNameUpdate('treeView')"></i>
                    </div>
                </ng-template>
            </p-tree>

           </div>
        </div>
                
        </div>
        </div>
        <!-- <div class="row position-relative">
            <div class="docfootbtns">
                <button type="button" class="btn bluebg-button" (click)="folderView()" pTooltip="Folder View" tooltipPosition="top">
                   
                    <img src="../../../../../assets/images-n/projects/Footer-folder.svg" alt="Tree View" />
                </button>
                <button type="button" class="btn bluebg-button" (click)="treeView()" pTooltip="Tree View" tooltipPosition="top">
                  
                    <img src="../../../../../assets/images-n/projects/Footer treefile.svg" alt="Tree View" />
                </button>                                        
            </div>
        </div> -->
    </div>

    <div class="own-overlay rpa-modal dynamic-forms-modal" [hidden]="!createFolderPopUP" style="display: block">
        <app-split-overlay (closeOverlay)="closeOverlay($event)">
            <div class="h-100">
                <div class="create-header">
                    <h3> Create / Upload </h3>
                </div>
                <div class="fldrovrlay">
                    <div class="row">
                        <div class="">
                            <button>
                                <p-card class="cards side" (click)="onCreateFolder()"> 
                                    <img src="../../../../../assets/images-n/projects/folderadd.svg" alt="">
                                    <span>Create folder</span> </p-card>
                            </button>
                        </div>
                        <div class="" *ngIf="createFolderPopUP">
                            <div class="upload-btn-wrapper" (change)="folderUpload($event,'folderView')" >
                                <p-card class="cards side"> 
                                    <img src="../../../../../assets/images-n/projects/upload-folder.svg" alt="">
                                    <button class="btn">Upload folder</button>
                                        <input type="file" webkitdirectory directory multiple>
                                  </p-card>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="hiddenPopUp1">
                        <div class="">
                            <button  (click)="navigateToCreateDocument('folderView')">
                                <p-card class="cards side"> 
                                    <img src="../../../../../assets/images-n/projects/create-document.svg" alt="">
                                    <span>Create Document</span> </p-card>
                            </button>
                        </div>
                        <div class="">
                            <button>
                                <div class="upload-btn-wrapper" (change)="singleFileUploadFolder($event)" >
                                <p-card class="cards side"> 
                                    <img src="../../../../../assets/images-n/projects/upload-document.svg" alt="">
                                    <button class="btn">Upload Document</button>
                                    <input type="file" name="myfile" multiple/>
                                </p-card>
                                  </div>
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </app-split-overlay>
    </div>

    <div class="own-overlay rpa-modal dynamic-forms-modal" [hidden]="!createTreeFolderOverlay" style="display: block">
        <app-split-overlay (closeOverlay)="closeOverlay($event)">
            <div class="h-100">
                <div class="create-header">
                    <h3> Create / Upload </h3>
                </div>
                <div class="fldrovrlay">
                    <div class="row">
                        <div class="">
                            <button>
                                <p-card class="cards side" (click)="onCreateTreeFolder()"> 
                                    <img src="../../../../../assets/images-n/projects/folderadd.svg" alt="">
                                    <span>Create folder</span> </p-card>
                            </button>
                        </div>
                        <div class="">
                            <div class="upload-btn-wrapper" (change)="folderUpload($event,'treeView')" *ngIf="createTreeFolderOverlay">
                                <p-card class="cards side"> 
                                    <img src="../../../../../assets/images-n/projects/upload-folder.svg" alt="">
                                    <button class="btn">Upload folder</button>
                                    <input type="file" webkitdirectory directory multiple>
                                  </p-card>
                                  </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="hiddenPopUp1">
                        <div class="">
                            <button  (click)="navigateToCreateDocument('treeView')">
                                <p-card class="cards side"> 
                                    <img src="../../../../../assets/images-n/projects/create-document.svg" alt="">
                                    <span>Create Document</span> </p-card>
                            </button>
                        </div>
                        <div class="">
                            <button>
                                <div class="upload-btn-wrapper" (change)="singleFileUpload($event)" >
                                <p-card class="cards side"> 
                                    <img src="../../../../../assets/images-n/projects/upload-document.svg" alt="">
                                    <button class="btn">Upload Document</button>
                                    <input type="file" name="myfile" multiple/>
                                  </p-card>
                                  </div>
                            </button>
                        </div>
                    </div>
                </div>        
            </div>
        </app-split-overlay>
    </div>

    <p-dialog header="Folder Name" [(visible)]="isDialogBox" [modal]="true" [baseZIndex]="10000" class="docfldnam">
        <span class="p-float-label">
            <input type="text" pInputText placeholder="Enter Folder Name" [(ngModel)]="folder_name" name="folder" maxlength="51" required>
            <div *ngIf="folder_name?.length > 50" class='required' > Maximum of 50 characters</div>
            <button type="button" class="btn bluebg-button" (click)="addParentFolder()" [disabled]="folder_name.length < 1 || folder_name.length == 51">Save</button>
        </span>
    </p-dialog>

    <p-dialog header="Folder Name" [(visible)]="isDialog" [modal]="true" [baseZIndex]="10000" class="docfldnam">
        <span class="p-float-label">
            <input type="text" pInputText placeholder="Enter Folder Name" [(ngModel)]="entered_folder_name" name="folder" maxlength="51">
            <div *ngIf="entered_folder_name?.length > 50" class='required' > Maximum of 50 characters</div>
            <button type="button" class="btn bluebg-button" (click)="treeChildFolderSave()" [disabled]="entered_folder_name.length < 1 || entered_folder_name.length == 51">Save</button>
        </span>
    </p-dialog>

    <!-- add sub folder in folder structure -->
    <p-dialog header="Folder Name" [(visible)]="isDialog1" [modal]="true" [baseZIndex]="10000" class="docfldnam">
        <span class="p-float-label">
            <input type="text" pInputText placeholder="Enter Folder Name" [(ngModel)]="entered_folder_name" name="folder" maxlength="51">
            <div *ngIf="entered_folder_name?.length > 50" class='required' > Maximum of 50 characters</div>
            <button type="button" class="btn bluebg-button" (click)="addSubfolder()" [disabled]="entered_folder_name.length < 1 || entered_folder_name.length == 51">Save</button>
        </span>
    </p-dialog>
    
    <!-- <p-overlayPanel #op>
        <ng-template pTemplate>
            <div class="docritclk">
                <div class="" *ngIf="selected_folder_rename.dataType=='folder'" (click)="onFolderRename('treeView')">Rename</div>
                <div (click)="onDeleteItem('treeView')">Delete</div>
                <div (click)="onDownloadDocument('treeView')">Download</div>
            </div>
        </ng-template>
    </p-overlayPanel> -->

    <p-overlayPanel #op1>
        <ng-template pTemplate>
        <span *ngIf="taskList.length>0">
            <div class="docritclk">
                <div *ngFor="let each of taskList">
                    <p-checkbox [value]="each" [(ngModel)]="selectedOne" (onChange)="onchangesCheckBox()"></p-checkbox><span>{{each.taskName}}</span>
                </div>
            </div>
        </span>
        <span *ngIf="taskList.length == 0">
            <div class="docritclk" >
                <div><span>No Tasks</span></div>
            </div>
        </span>
        </ng-template>
    </p-overlayPanel>

    <!-- <p-overlayPanel #op2>
        <ng-template pTemplate>
            <div class="docritclk">
                <div *ngIf="selectedItem.dataType=='folder'" class="" (click)="onFolderRename('folderView')">Rename</div>
                <div (click)="onDeleteItem('folderView')">Delete</div>
                <div (click)="onDownloadDocument('folderView')">Download</div>
            </div>
        </ng-template>
    </p-overlayPanel> -->

    <p-toast  [style]="{marginTop: '50px'}" ></p-toast>
    <p-confirmDialog #cd [style]="{width: '30vw'}" key="positionDialog" position="center" [baseZIndex]="10000" 
    rejectButtonStyleClass="p-button-outlined" [closable]="false">
        <ng-template pTemplate="footer">
            <button type="button" pButton class="btn reset-btn" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton class="btn bluebg-button" label="Yes" (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>
    
    <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
    <p-contextMenu #cm2 [model]="items2"></p-contextMenu>
