.own-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.head-ritfilter {
  height: 34px;
}
.docfilt-icon .pi-filter-slash {
  font-size: 20px;
  margin-left: 10px;
  vertical-align: middle;
}
.docfolder .cards {
  /* width: 20%; */
  text-align: center;
  word-break: break-word;
}
/* .docfolder img, .fldrovrlay img {
  width: 100px;
} */
.doctree img {
  width: 34px;
  margin-right: 5px;
}
.docfolder input.p-inputtext {
  width: 100% !important;
}

/* ----- Document Footer Tree/Folder Icon Styles ----- */
.docfootbtns {
  text-align: right;
  position: absolute;
  bottom: 15px;
  right: 15px;
  /* bottom: 4px;
  right: 0px; */
}
.docfootbtns img {
  width: 36px !important;
}
.docfootbtns button.btn {
  background: #fff!important;
  padding: 25px 12px !important;
  min-width: auto !important;
  border-radius: 6px !important;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 15%) !important;
}
.docfootbtns .pi-folder, .docfootbtns .pi-sitemap {
  color: var(--main-bluecolor) !important;
  font-size: 28px;
}
.docfootbtns button.btn:first-child {
  margin-right: 15px !important;
}

/* ----- Document Filter & Rename p-overlaypanel Styles ----- */
.docritclk div {
  color: #232832;
  margin-bottom: 10px;
  cursor: pointer;
}
.docritclk div:last-child {
  margin-bottom: 0px;
}
.docritclk p-checkbox {
  margin-right: 10px;
}


/* ----- Folder Name Popup Styles ----- */
.docfldnam input.p-inputtext {
  width: 100%;
  border: 1px solid #979797 !important;
}
.docfldnam input.p-inputtext:focus {
  box-shadow: none !important;
}
.docfldnam button.btn {
  margin-top: 30px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 110px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
}

.editfields {
  text-align: right;
  margin-top: 5px;
}
.editfields i {
  padding: 6px;
  background: #F5F6F7;
  border: 1px solid #CFD2D9;
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}
.editfields .pi-check {
  margin-left: 5px;
}

.docfilt-icon .pi-filter.icon-color {
  font-size: 20px !important;
  margin: 0px 10px !important;
}
/* span.p-element.docfilt-icon {
  display: inline-block;
  
} */
.head-ritfilter span.p-input-icon-right {
  float: inherit;
 
}

i.pi.pi-search.treeviewsearchicon {
  display: none;
}

/* .treeviewfilter {
  margin-top: 8px;
}  */
/* .treeviewfilter1{margin-top:-4px;} */
.well-design{border: 1px solid var(--cards-bordercolor) !important;
  background-color: #fff;
  border-radius: 6px;
  height: calc(100vh - 190px) !important;
  width: 100%;}
  .under-line{    border-bottom: 1px solid var(--cards-bordercolor);
    padding: 15px 20px;}
  .right-btns{text-align: right;}
  .p-input-icon-right{width:196px;}
  .crt-new{margin-right:8px;margin-left:8px;}
  .doc-btns{margin-right:15px;margin-left:15px;}
  .icn-adj{margin-right:10px;}
  .icn-adj1{margin-right:20px;vertical-align: middle;cursor:pointer;} 
  .docfolder1 {padding:15px 20px;}
  .doctree{padding:15px 20px;}
  .docmnt-btn{border-radius: var(--main-borderradius) !important;
    height: 36px !important;
    background-color: transparent;
    color: #000;
    padding:8px 14px !important;
    align-items: center;
}
.docmnt-btn:hover{border-radius: var(--main-borderradius) !important;
  height: 36px !important;
  background-color: #eeeeee;
  color: #000;
  padding:8px 14px !important;
}
#check-cls{position:absolute;top:3px;right:6px;display:none;}
.docfolder:hover #check-cls{display: block;}
.folder-check{position:relative}
.right-btns{display:flex;align-items: center;justify-content: end;}


  