<div class="maincontent">
    <div class="h-100">
        <div class="row main-content-head">
            <div class="col-md-6">
                <h3>
                    <label id="popup_title">
                        <a routerLink="/pages/projects/projectdetails"><img
                                src="./../../../../assets/images-n/projects/backarrow.svg" alt="back-arrow"></a>
                    </label>
                    <span class="title_text">
                        Projects | Financial Breakdown Analysis | <strong> Document </strong>
                    </span>
                </h3>
            </div>
            <div class="col-md-3">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Type to search">
                </span>
            </div>
            <div class="col-md-3 icons">
                <i class="pi pi-desktop"></i> Open
                <i class="pi pi-plus-circle"></i> Create
                <i class="pi pi-ellipsis-v"></i>Actions
            </div>
        </div>
        <div class="container">
            <div *ngIf="isFolder == true" class="d-flex">
            <p-card  class="cards" *ngFor="let doc of folder_files" (click)="folderStructure(doc)">  <i class="pi pi-folder" style="font-size: 2rem"> </i> <br>  {{ doc.label }} </p-card>
           </div>
           <!-- <div *ngIf="isSubFolder == true" class="d-flex">
            <p-card  class="cards" *ngFor="let folder of files; let i=index"> <i class="pi pi-folder-open" style="font-size: 2rem"></i>  <br>   {{ folder[i].children[i].label }} </p-card>
           </div> -->
           <div *ngIf = "isTree == true">
            <p-tree [value]="files" [filter]="true" selectionMode="single" [style]="{'max-height':'auto','overflow':'auto'}"
                (onNodeSelect)="nodeSelect($event)" [(selection)]="selectedFile"> </p-tree>
           </div>


            <!-- <p-tree [value]="files"
            
            selectionMode="single"
            [(selection)]="selected">
    </p-tree> -->
            <!-- <a class="btn btn-primary"
           (click)="removeRoute(selected)">Remove Page</a>
        </div> -->

            <!-- <p-sidebar [(visible)]="display" position="right" styleClass="p-sidebar-md" [baseZIndex]="0">
            <div class="container">
                <strong> Create / Upload </strong>
                <div class="row">
                    <div class="col-md-6">
                        <button>
                            <p-card class="cards side"> <i class="pi pi-folder-open" style="font-size: 2rem"></i> <br>
                                Create folder </p-card>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button>
                            <p-card class="cards side"> <i class="pi pi-folder-open" style="font-size: 2rem"></i> <br>
                                Upload folder </p-card>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button>
                            <p-card class="cards side"> <i class="pi pi-folder-open" style="font-size: 2rem"></i> <br>
                                Create Document </p-card>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button>
                            <p-card class="cards side"> <i class="pi pi-folder-open" style="font-size: 2rem"></i> <br>
                                Upload Document </p-card>
                        </button>
                    </div>
                </div>
            </div>
        </p-sidebar> -->

            <!-- <p-sidebar [(visible)]="isSidebar" position="right" styleClass="p-sidebar-md">
            <div class="container">
                <strong> Create / Upload </strong>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" (click)="showDialog()">
                            <p-card class="cards side"> <i class="pi pi-folder-open" style="font-size: 2rem"></i> <br>
                                Create folder </p-card>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button>
                            <p-card class="cards side"> <i class="pi pi-folder-open" style="font-size: 2rem"></i> <br>
                                Upload folder </p-card>
                        </button>
                    </div>
                </div>
            </div>
        </p-sidebar> -->
            <p-dialog header="Folder Name" [(visible)]="isDialog" [style]="{width: '25vw'}">
                <span class="p-float-label">
                    <input type="text" pInputText placeholder="Enter Folder Name" [(ngModel)]="entered_folder_name"
                        name="folder"> <br>
                    <button type="button" class="btn btn-primary" (click)="saveFolder()"> Save </button>
                </span>
            </p-dialog>
            <p-dialog header="Folder Name" [(visible)]="isDialogBox" [style]="{width: '25vw'}">
                <span class="p-float-label">
                    <input type="text" pInputText placeholder="Enter Folder Name" [(ngModel)]="folder_name"
                        name="folder"> <br>
                    <button type="button" class="btn btn-primary" (click)="addParent()"> Save </button>
                </span>
            </p-dialog>

            <button type="button" class="btn btn-primary" (click)="folderView()"> Folder View</button> &nbsp; <button type="button" class="btn btn-primary" (click)="treeView()"> Tree View </button>
        </div>
    </div>