.icons .pi {
  margin: 3px 0 0 10px;
}

.container-fluid {
  margin: 10px 0 0 0;
  height: 380px !important;
  overflow-x: auto;
  padding: 0px !important;
}


.dynamic-forms-modal .rpa-modal-content {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

  .dynamic-forms-modal{
    padding-left: 60px !important;
    margin-top: 50px !important;
 }
.own-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.dynamic-forms-modal {
  padding-left: 60px !important;
  margin-top: 50px !important;
}


.box{
  height: 100px;
  width: 100px;
  border: 1px solid black;
}


.docscrnchngs {
  height: 420px;
  overflow: auto;
}
.docfolder .cards {
  width: 20%;
  text-align: center;
  margin: 0px 10px;
}
.docfolder .cards:first-child {
  margin-left: 0px !important;
}
.docfolder .cards:last-child {
  margin-right: 0px !important;
}

/* ----- Document Footer Tree/Folder Icon Styles ----- */
.docfootbtns {
  text-align: right;
  position: absolute;
  bottom: 4px;
  right: 0px;
}
.docfootbtns button.btn {
  background: #fff!important;
  padding: 10px 12px !important;
  min-width: auto !important;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 15%);
}
.docfootbtns .pi-folder, .docfootbtns .pi-sitemap {
  color: var(--main-bluecolor) !important;
  font-size: 28px;
}
.docfootbtns button.btn:first-child {
  margin-right: 15px !important;
}

/* ----- Document Filter & Rename p-overlaypanel Styles ----- */
.docritclk div {
  color: #222;
}
.docritclk div:first-child {
  margin-bottom: 10px;
}


/* ----- Folder Name Popup Styles ----- */
.docfldnam input.p-inputtext {
  width: 100%;
}
.docfldnam input.p-inputtext:focus {
  box-shadow: none !important;
}
.docfldnam button.btn {
  margin-top: 30px;
}