.types2{
    color:#0062cf  !important;
    width:15%;
}

.env-btn > button > img{
    color:black !important;
    width:25px;
    background-color: white !important;
  }

  .env-btn > button:disabled > img{
    color:rgb(116, 116, 116) !important;
    background-color:white!important;
  }
  .env-btn > button:disabled{
    background-color:white;
  }
  .env-btn > button > div{
    color:black !important;
  }

  .env-btn > button:disabled > div{
    color:lightgrey !important;
  }

  .env-btn{
    margin-left: 5px !important;
    margin-right: 5px !important;
  } 
  
  .projecttable.table th{    
    /* background-color:rgb(215 239 246) !important;
    
    color: #00a0e3 !important;
    font-size: 14px !important; */
    vertical-align: middle !important;
    background-color: #00a0e317 !important;
    color: #00a0e3 !important;
    font-size: 14px !important;
    text-align: left !important;
    border-top: none !important;
    font-weight: 400;
    border-bottom: 1px solid #4a4a4a33 !important;
    padding: 8px 12px;
  }
  tr.mat-header-row {
    height: 40px;
}

.projecttable.table td {
  font-size: 13px !important;
  padding: 8px 12px !important;
  vertical-align: middle;
}



::ng-deep .modal-lg .modal-content{
  width:100%  !important;
  margin-top:30px !important;
}

.tablacs .newinntalx {
  display: flex;
}
.tablacs button, .tablacs a {
  margin: 0px 6px;
}  
.disable-bg{
  background-color: gainsboro;
  border-radius: 5px;
}

.no-item-img{
  height:calc(100vh - 430px)

}
