
  <!-- <mat-card>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-number">38</span>
            <span class="tab-text types2">Total Projects</span>
          </ng-template> -->
<!--            
          <div class="rpa-env-search">
            <mat-form-field class="rpa-mat-form-field-search">
                <mat-label>Search</mat-label>
                <mat-icon matSuffix *ngIf="!isSearch" style="font-size: 1.2em">search</mat-icon>
                <input class="toolbar-search" *ngIf="!isSearch" matInput (keyup)="applyFilter1($event.target.value)">
            </mat-form-field>

            
        </div> -->
          <!-- <div class="env-data-tool">
            <div class="env-btn">
                <button value="Create" title="Create" id="addbtn" (click)="createprojects();resetcreateproject();">
            <img  src='..\\assets\\images\\RPA\\rpa-env-add-btn.svg'> 
            <div>New</div>
          </button>
            </div>
            <div *ngIf="Credupdateflag == true" class="env-btn">
                <button id="updatebtn" data-toggle="tooltip" data-placement="bottom" title="Modify" (click)="updatedata()">        
            <img   src='..\\assets\\images\\RPA\\rpa-env-edit-btn.svg'> 
            <div>Modify</div>            
                </button>    
            </div>   
            <div *ngIf="Credupdateflag == false" class="env-btn">    
                <button data-toggle="tooltip" id="updatebtn" data-placement="top" title="Modify" disabled>            
                 <img   src='..\\assets\\images\\RPA\\rpa-env-edit-btn.svg'>     
                 <div>Modify</div>          
                 </button>   
            </div>
            <div *ngIf="Creddeleteflag==true" class="env-btn">
                <button title="Delete" value="Delete" id="deletebtn" (click)="delete()">
                    <img src='..\\assets\\images\\RPA\\rpa-env-delete-btn.svg'> 
                    <div>Delete</div>
                    </button>
            </div>       
            <div *ngIf="Creddeleteflag==false" class="env-btn">
                <button data-toggle="tooltip" data-placement="top" id="deletebtn" title="Delete" disabled>
                <img src='..\\assets\\images\\RPA\\rpa-env-delete-btn.svg'> 
                <div>Delete</div>
                </button>
            </div>
        </div> -->
              
                    <!-- <thead>
                      <tr>
                        <th scope="col" class="types2">ID</th>
                        <th scope="col" class="types2">Type</th>
                        <th scope="col" class="types2">Initiative</th>
                        <th scope="col" class="types2">Process</th>
                        <th scope="col" class="types2">Name</th>
                        <th scope="col" class="types2">Status</th>
                        <th scope="col" class="types2">Health</th>
                        <th scope="col" class="types2">Owner</th>
                        <th scope="col" class="types2">Priority</th>
                        <th scope="col" class="types2">Access</th>
                        <th scope="col" class="types2">Last Updated Date</th>
                        <th scope="col" class="types2">Action</th>
                      </tr>
                    </thead>
                    <tbody class="" >
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <a class="link" id="eiap-home" (click)="updatedata"><td>Edit</td></a>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>Project</td>
                          <td >Process Improvement</td>
                          <td>Risk Assesment</td>
                          <td>Project Name 1</td>
                          <td>Inprogress</td>
                          <td>good</td>
                          <td >Pete</td>
                          <td>High</td>
                          <td>Owner</td>
                          <td>05-june-2021</td>
                          <td>Edit</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>Project</td>
                          <td >Process Improvement</td>
                          <td>Risk Assesment</td>
                          <td>Project Name 1</td>
                          <td>Inprogress</td>
                          <td>good</td>
                          <td >Pete</td>
                          <td>High</td>
                          <td>Owner</td>
                          <td>05-june-2021</td>
                          <td>Edit</td>
                        </tr>
                    </tbody>
                  </table>
                  
          </div>
          
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-number">10</span>
            <span class="tab-text">New</span>
          </ng-template>
          <div class="">
              <table class="table table-borderless col-md-12 table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="types2">ID</th>
                    <th scope="col" class="types2">Type</th>
                    <th scope="col" class="types2">Initiative</th>
                    <th scope="col" class="types2">Process</th>
                    <th scope="col" class="types2">Name</th>
                    <th scope="col" class="types2">Status</th>
                    <th scope="col" class="types2">Health</th>
                    <th scope="col" class="types2">Owner</th>
                    <th scope="col" class="types2">Priority</th>
                    <th scope="col" class="types2">Access</th>
                    <th scope="col" class="types2">Last Updated Date</th>
                    <th scope="col" class="types2">Action</th>
                  </tr>
                </thead>
                <tbody class="" >
                  <tr>
                    <td>1</td>
                    <td>Project</td>
                    <td >Process Improvement</td>
                    <td>Risk Assesment</td>
                    <td>Project Name 1</td>
                    <td>Inprogress</td>
                    <td>good</td>
                    <td >Pete</td>
                    <td>High</td>
                    <td>Owner</td>
                    <td>05-june-2021</td>
                    <td>Edit</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                </tbody>
              </table>
              
      </div>
        </mat-tab>  
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-number">08</span>
            <span class="tab-text">Inprogress</span>
          </ng-template>
          <div class="">
              <table class="table table-borderless col-md-12 table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="types2">ID</th>
                    <th scope="col" class="types2">Type</th>
                    <th scope="col" class="types2">Initiative</th>
                    <th scope="col" class="types2">Process</th>
                    <th scope="col" class="types2">Name</th>
                    <th scope="col" class="types2">Status</th>
                    <th scope="col" class="types2">Health</th>
                    <th scope="col" class="types2">Owner</th>
                    <th scope="col" class="types2">Priority</th>
                    <th scope="col" class="types2">Access</th>
                    <th scope="col" class="types2">Last Updated Date</th>
                    <th scope="col" class="types2">Action</th>
                  </tr>
                </thead>
                <tbody class="" >
                  <tr>
                    <td>1</td>
                    <td>Project</td>
                    <td >Process Improvement</td>
                    <td>Risk Assesment</td>
                    <td>Project Name 1</td>
                    <td>Inprogress</td>
                    <td>good</td>
                    <td >Pete</td>
                    <td>High</td>
                    <td>Owner</td>
                    <td>05-june-2021</td>
                    <td>Edit</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                </tbody>
              </table>
              
      </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-number">10</span>
            <span class="tab-text">In review</span>
          </ng-template>
          <div class="">
              <table class="table table-borderless col-md-12 table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="types2">ID</th>
                    <th scope="col" class="types2">Type</th>
                    <th scope="col" class="types2">Initiative</th>
                    <th scope="col" class="types2">Process</th>
                    <th scope="col" class="types2">Name</th>
                    <th scope="col" class="types2">Status</th>
                    <th scope="col" class="types2">Health</th>
                    <th scope="col" class="types2">Owner</th>
                    <th scope="col" class="types2">Priority</th>
                    <th scope="col" class="types2">Access</th>
                    <th scope="col" class="types2">Last Updated Date</th>
                    <th scope="col" class="types2">Action</th>
                  </tr>
                </thead>
                <tbody class="" >
                  <tr>
                    <td>1</td>
                    <td>Project</td>
                    <td >Process Improvement</td>
                    <td>Risk Assesment</td>
                    <td>Project Name 1</td>
                    <td>Inprogress</td>
                    <td>good</td>
                    <td >Pete</td>
                    <td>High</td>
                    <td>Owner</td>
                    <td>05-june-2021</td>
                    <td>Edit</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                </tbody>
              </table>
              
      </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-number">06</span>
            <span class="tab-text">Approved</span>
          </ng-template>
          <div class="">
              <table class="table table-borderless col-md-12 table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="types2">ID</th>
                    <th scope="col" class="types2">Type</th>
                    <th scope="col" class="types2">Initiative</th>
                    <th scope="col" class="types2">Process</th>
                    <th scope="col" class="types2">Name</th>
                    <th scope="col" class="types2">Status</th>
                    <th scope="col" class="types2">Health</th>
                    <th scope="col" class="types2">Owner</th>
                    <th scope="col" class="types2">Priority</th>
                    <th scope="col" class="types2">Access</th>
                    <th scope="col" class="types2">Last Updated Date</th>
                    <th scope="col" class="types2">Action</th>
                  </tr>
                </thead>
                <tbody class="" >
                  <tr>
                    <td>1</td>
                    <td>Project</td>
                    <td >Process Improvement</td>
                    <td>Risk Assesment</td>
                    <td>Project Name 1</td>
                    <td>Inprogress</td>
                    <td>good</td>
                    <td >Pete</td>
                    <td>High</td>
                    <td>Owner</td>
                    <td>05-june-2021</td>
                    <td>Edit</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                </tbody>
              </table>
              
      </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-number">04</span>
            <span class="tab-text">Rejected</span>
          </ng-template>
          <div class="">
              <table class="table table-borderless col-md-12 table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="types2">ID</th>
                    <th scope="col" class="types2">Type</th>
                    <th scope="col" class="types2">Initiative</th>
                    <th scope="col" class="types2">Process</th>
                    <th scope="col" class="types2">Name</th>
                    <th scope="col" class="types2">Status</th>
                    <th scope="col" class="types2">Health</th>
                    <th scope="col" class="types2">Owner</th>
                    <th scope="col" class="types2">Priority</th>
                    <th scope="col" class="types2">Access</th>
                    <th scope="col" class="types2">Last Updated Date</th>
                    <th scope="col" class="types2">Action</th>
                  </tr>
                </thead>
                <tbody class="" >
                  <tr>
                    <td>1</td>
                    <td>Project</td>
                    <td >Process Improvement</td>
                    <td>Risk Assesment</td>
                    <td>Project Name 1</td>
                    <td>Inprogress</td>
                    <td>good</td>
                    <td >Pete</td>
                    <td>High</td>
                    <td>Owner</td>
                    <td>05-june-2021</td>
                    <td>Edit</td>
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                </tbody>
              </table>
              
      </div>
        </mat-tab>    
      </mat-tab-group>
  </mat-card>
  </div> -->
 
  <!-- <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <input [disabled]="Prjcheckeddisabled" type="checkbox" id="Credcheckall" [checked]="Credcheckflag" (change)="CredcheckAllCheckBox($event)">
    </th>
    <td mat-cell *matCellDef="let element; let i = index">
        <input type="checkbox" [checked]="element.checked" (change)="CredcheckEnableDisableBtn(element.id, $event)"> 
    </td>
</ng-container> -->
  <div>
    <div class="prj-prg-tablelist">
      <table mat-table #sort2="matSort"  [dataSource]="dataSource2" matSort class="projecttable table"  id="listofcred">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.id!=null">{{element.id}}</span> 
                <span *ngIf="element.id==''">-</span>
                <span *ngIf="element.id==null">-</span>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
              <td mat-cell *matCellDef="let element"> 
                  <span *ngIf="element.type!=null">{{element.type}}</span> 
                  <span *ngIf="element.type==''">-</span>
                  <span *ngIf="element.type==null">-</span>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="initiatives">
              <th mat-header-cell *matHeaderCellDef >Initiative</th>
              <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.initiatives!=null" [matTooltip]="element.initiatives" matTooltipClass="bpsHeaderTooltip" matTooltipPosition="below">{{getreducedValue(element.initiatives)}}</span> 
                  <span *ngIf="element.initiatives==''">-</span>
                  <span *ngIf="element.initiatives==null">-</span>
          </ng-container>

          <ng-container matColumnDef="process">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Process</th>
              <td mat-cell *matCellDef="let element"> 
                  <span *ngIf="element.process!=null"  [matTooltip]="element.process | processName : processes" matTooltipClass="bpsHeaderTooltip" matTooltipPosition="below">{{getreducedValue(element.process | processName : processes)}}</span> 
                  <span *ngIf="element.process==''">-</span> 
                  <span *ngIf=" element.process==null">-</span> 
              </td>
          </ng-container>

          <ng-container matColumnDef="projectName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element"> 
                  <span *ngIf="element.projectName!=null">{{element.projectName}}</span> 
                  <span *ngIf="element.projectName==''">-</span> 
                  <span *ngIf=" element.projectName==null">-</span> 
              </td>
          </ng-container>


          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
            <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.owner!=null">{{element.owner| userPipe : users_list}}</span> 
                <span *ngIf="element.owner==''">-</span> 
                <span *ngIf=" element.owner==null">-</span> 
            </td>
          </ng-container>


          <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
          <td mat-cell *matCellDef="let element"> 
              <span *ngIf="element.priority!=null">{{element.priority}}</span> 
              <span *ngIf="element.priority==''">-</span> 
              <span *ngIf=" element.priority==null">-</span> 
          </td>
          </ng-container>

          <ng-container matColumnDef="access">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Access</th>
          <td mat-cell *matCellDef="let element"> 
              <span *ngIf="element.access!=null">{{element.access}}</span> 
              <span *ngIf="element.access==''" >-</span> 
              <span *ngIf=" element.access==null">-</span> 
          </td>
          </ng-container>

          <ng-container matColumnDef="lastupdatedby">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated by</th>
          <td mat-cell *matCellDef="let element"> 
              <span *ngIf="element.createdBy!=null">{{element.createdBy}}</span> 
              <span *ngIf="element.createdBy==''" >-</span> 
              <span *ngIf=" element.createdBy==null">-</span> 
          </td>
          </ng-container>

          <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element"> 
              <span *ngIf="element.status!=null">{{element.status}}</span> 
              <span *ngIf="element.status==''" >-</span> 
              <span *ngIf=" element.status==null">-</span> 
          </td>
          </ng-container>


          <ng-container matColumnDef="noData">
          <td mat-footer-cell class="mat-footer" style="text-align:center" *matFooterCellDef colspan="11">
            

          </td>
          </ng-container>

          <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element" class="action-link tablacs"> 
            <div class="newinntalx">
              <a class="clickable text-dark"  *ngIf="element.type=='Project'"  (click)="projectDetailsbyId(element.id)" matTooltip="Go To Project Details">
                <img src="../../../../../assets/images/Projects/eye-show.svg" />
              </a> 
              <a class="disable-bg text-dark"*ngIf="element.type=='Program'" (click)="programDetailsbyId(element)"  matTooltip="Go To Program Details">
                <img src="../../../../../assets/images/Projects/eye-show.svg" />
              </a>
              <!-- <a  *ngIf="element.type=='Project'" (click)="updatedata(updateprojectmodal,element)" >
                <img src="../../../../../assets/images/Projects/edit.svg" />
              </a> 
              <a *ngIf="element.type=='Program'" (click)="updatedata(updateprogrammodal,element)" >
                <img src="../../../../../assets/images/Projects/edit.svg" />
              </a> -->
              <a (click)="deleteproject(element)" matTooltip="Delete Project Details" >
                <img src="../../../../../assets/images/Projects/delete-red.svg" />
              </a> 
            <!-- <a class="clickable text-dark" style="color:black"  *ngIf="element.type=='Project'"  (click)="projectDetailsbyId(element.id)" matTooltip="Go To Project Details">
              <i class="fa fa-eye"></i>
            </a> 
            <a class=" clickable text-dark"  matTooltip="Go To Program Details" (click)="programDetailsbyId(element)" style="color:black" *ngIf="element.type=='Program'" ><i class="fa fa-eye"></i></a>
            <a  *ngIf="element.type=='Project'" (click)="updatedata(updateprojectmodal,element)"  style="cursor:pointer"><i class="fa fa-edit"></i></a> 
            <a *ngIf="element.type=='Program'" (click)="updatedata(updateprogrammodal,element)"  style="cursor:pointer"><i class="fa fa-edit"></i></a> -->
            <!-- <a (click)="deleteproject(element)" [matTooltip]="'Delete '+element.type+' Details'" style="color:red;cursor:pointer"><i class="fa fa-trash" aria-hidden="true"></i></a>   -->
            </div>
          </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
          <tr class="row-highlight" mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
          <tr class="row-highlight mat-footer" mat-footer-row  *matFooterRowDef="['noData']" [ngClass]="{'hide':!(projects_list==undefined ||  projects_list=='No records found')}"></tr>
        </table>

      <div>
        <div *ngIf="projects_list.length==0" class="text-center">
          <img  src="../../../../../assets/images/RPA/No-Items.svg" class="no-item-img">
          <h3 class="text-center">No Items to display</h3>
        </div>
      </div>
    
    </div>
    <mat-paginator #paginator2 [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true" class="newpaginationdiv"></mat-paginator>



  </div>







<!-- 
<ng-template class="modal-lg" #updateprojectmodal>
<div class="modal-header modelprhead">
  <h4 class="modal-title pull-left">Update Project</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="updatemodalref.hide()">
    <span aria-hidden="true"><img alt="" src="../../../../../assets/images/Projects/circle-close.svg"></span>
  </button>
</div>
<div class="modal-body modelprbody">
    <div class="container p-0" style="width:100%">
            <form [formGroup]="updateForm" (ngSubmit)="projectupdate()">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">
                        <label for="projectName">Project Name<span class="star">*</span></label>
                        <input type="text" maxlength="51"  style="border:1px solid lightgray" class="form-control data" formControlName="projectName"  value="" placeholder="Enter Name">
                        <span *ngIf="(updateForm.get('projectName').invalid && updateForm.get('projectName').touched) && !updateForm.controls['projectName'].hasError('maxlength')" class="fa fa-info-circle errspan required">Project Name Required*</span>
                        <div *ngIf="updateForm.controls['projectName'].hasError('maxlength')" class="fa fa-info-circle errspan required">
                            Maximum of 50 characters
                        </div>
                      </div>  
                      <div class="form-fileds col-md-6 pr-0">
                        <label for="type">Type<span class="star">*</span></label>
                        <select class="form-control"   style="border:1px solid lightgray" formControlName="type">
                            <option value="" >Select Type</option>
                            <option value="Project">Project</option>
                            <option value="Program">Program</option>              
                        </select>
                        <span *ngIf="updateForm.get('type').invalid && updateForm.get('type').touched" class="fa fa-info-circle errspan required">Type Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">                         
                        <label for="initiatives">Initiative<span class="star">*</span></label>
                        <select  formControlName="initiatives" class="form-control data">                          
                          <option value="">Select Initiatives</option>
                          <option value="Process Improvement">Process Improvement</option>
                          <option value="Business Improvement">Business Improvement</option>
                        </select>
                        <span *ngIf="updateForm.get('initiatives').invalid && updateForm.get('initiatives').touched" class="fa fa-info-circle errspan required">Initiatives Required*</span>
                      </div>
                      <div class="form-fileds col-md-6 pr-0">
                        <label for="priority">Project Priority<span class="star">*</span></label>
                        <select class="form-control"  style="border:1px solid lightgray" formControlName="priority">
                            <option value="">Select Priority</option>
                            <option value="High">High</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>               
                        </select>
                        <span *ngIf="updateForm.get('priority').invalid && updateForm.get('priority').touched" class="fa fa-info-circle errspan required">Priority Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">
                        <label class="label-control">Add Resources<span  class="star">*</span></label>
                        <select   formControlName="resources" style="border:1px solid lightgray"  class="form-control data">
                            <option value="">Select Resources</option>
                            <option *ngFor="let user of users_list" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</option>   
                        </select>
                        <span *ngIf="updateForm.get('resources').invalid && updateForm.get('resources').touched" class="fa fa-info-circle errspan required">Resources Required*</span>
                      </div>
                      <div class="form-fileds col-md-6 pr-0">
                        <label for="process">Process<span class="star">*</span></label>
                        <select class="form-control"   style="border:1px solid lightgray" formControlName="process">
                            <option value="">Select Process</option>
                            <option *ngFor="let process of processes" [value]="process.processId">{{process.processName}}</option>          
                        </select>
                        <span *ngIf="updateForm.get('process').invalid && updateForm.get('process').touched" class="fa fa-info-circle errspan required">Process Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">                         
                        <label>Project Owner <span  class="star">*</span></label>
                        <select   formControlName="owner"  style="border:1px solid lightgray"   class="form-control data">
                            <option value="">Select Owner</option>
                            <option *ngFor="let user of users_list" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</option>
                        </select>
                        <span *ngIf="updateForm.get('owner').invalid && updateForm.get('owner').touched" class="fa fa-info-circle errspan required">Owner Required*</span>
                      </div>
                      <div class="form-fileds col-md-6 pr-0">
                        <label class="label-control" >Map Value Chain <span  class="star">*</span></label>
                        <select  formControlName="mapValueChain"   class="form-control data">
                            <option value="">Select Map Value Chain</option>
                            <option value="Invoice Managment">Invoice Managment</option>
                            <option value="Acme Managment">Acme Managment</option>
                            <option value="E-Commerce">E-Commerce</option>
                        </select>
                        <span *ngIf="updateForm.get('mapValueChain').invalid && updateForm.get('mapValueChain').touched" class="fa fa-info-circle errspan required">Map Value Chain Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">
                        <label for="access">Access<span class="star">*</span></label>
                        <select   formControlName="access"  style="border:1px solid lightgray"  class="form-control data">
                            <option value="" >Select Access</option>
                            <option value="Owner">Owner</option>
                            <option value="Co-Editor">Co-Editor</option>
                            <option value="Viewer">Viewer</option>
                        </select>
                        <span *ngIf="updateForm.get('access').invalid && updateForm.get('access').touched" class="fa fa-info-circle errspan required">Access Required*</span>
                      </div>
                      <div class="form-fileds col-md-6 pr-0">
                        <label class="label-control" >Identity Measurable Metrics <span  class="star">*</span></label>
                        <input type="text"  style="border:1px solid lightgray" formControlName="measurableMetrics" placeholder="Enter Identity Measurable Metrics" class="form-control data">
                        <span *ngIf="updateForm.get('measurableMetrics').invalid && updateForm.get('measurableMetrics').touched" class="fa fa-info-circle errspan required">Identity Measurable Metrics Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">
                        <label>Status<span class="star">*</span></label>
                        <select formControlName="status" class="form-control data">
                            <option value="" >Select Status</option>
                            <option value="New">New</option>
                            <option value="In Progress">In Progress</option>
                            <option value="In Review">In Review</option>
                            <option value="Approved">Approved</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                        <span *ngIf="updateForm.get('status').invalid && insertForm2.get('status').touched" class="fa fa-info-circle errspan required">Status Required*</span>
                      </div>
                      <div class="form-fileds col-md-3">
                        <label>Start Date <span  class="star">*</span></label>
                        <input class="form-control" type="date"  name="daytime" [min]="mindate"  formControlName="startDate" class="form-control">
                        <span *ngIf="updateForm.get('startDate').invalid && updateForm.get('startDate').touched" class="fa fa-info-circle errspan required">Start Date Required*</span>
                      </div>
                      <div class="form-fileds col-md-3 pr-0">
                        <label>End Date <span  class="star">*</span></label>
                        <input class="form-control" type="date"  name="daytime" [min]="mindate" formControlName="endDate"  class="form-control data">
                        <span *ngIf="updateForm.get('endDate').invalid && updateForm.get('endDate').touched" class="fa fa-info-circle errspan required">End Date Required*</span>
                      </div>              
                      <!-- <div class="col-md-12">
                        
                        <label>Description</label>
                        <textarea class="form-control" style="height:100px;"></textarea>                    
                      </div> -->
                    <!-- </div>  
                </div>
            </form>
    </div>
</div>          
<div class="modal-footer modelprfooter">
  <div class="pull-right">
    <button (click)="resetupdateproject()" class="btn btn-primary">Reset</button>
    <button [disabled]="updateForm.invalid" (click)="projectupdate()" class="btn btn-primary btn-update">Update</button>
  </div>
</div>
</ng-template> -->





<!-- <ng-template class="modal-lg" #updateprogrammodal>
<div class="modal-header modelprhead">
  <h4 class="modal-title pull-left">Update Program</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="updatemodalref.hide()">
    <span aria-hidden="true"><img alt="" src="../../../../../assets/images/Projects/circle-close.svg"></span>
  </button>
</div>
<div class="modal-body modelprbody">
    <div class="container p-0" style="width:100%">
            <form [formGroup]="updateprogramForm" (ngSubmit)="programupdate()">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">
                        <label for="projectName">Program Name<span class="star">*</span></label>
                        <input type="text" maxlength="51"  style="border:1px solid lightgray" class="form-control data" formControlName="projectName"  value="" placeholder="Enter Name">
                        <span *ngIf="(updateprogramForm.get('projectName').invalid && updateprogramForm.get('projectName').touched) && !updateprogramForm.controls['projectName'].hasError('maxlength')" class="fa fa-info-circle errspan required">Program Name Required*</span>
                        <div *ngIf="updateprogramForm.controls['projectName'].hasError('maxlength')" class="fa fa-info-circle errspan required">
                            Maximum of 50 characters
                        </div>
                      </div>  
                      <div class="form-fileds col-md-6 pr-0">
                        <label for="type">Type<span class="star">*</span></label>
                        <select class="form-control"  style="border:1px solid lightgray" formControlName="type">
                            <option value="" >Select Type</option>
                            <option value="Project">Project</option>
                            <option value="Program">Program</option>              
                        </select>
                        <span *ngIf="updateprogramForm.get('type').invalid && updateprogramForm.get('type').touched" class="fa fa-info-circle errspan required">Type Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">                         
                        <label for="initiatives">Initiative<span class="star">*</span></label>
                        <select  formControlName="initiatives"  class="form-control data">
                            <option value="" >Select Initiatives</option>
                            <option value="Process Improvement">Process Improvement</option>
                            <option value="Business Improvement">Business Improvement</option>
                        </select>
                        <span *ngIf="updateprogramForm.get('initiatives').invalid && updateprogramForm.get('initiatives').touched" class="fa fa-info-circle errspan required">Initiatives Required*</span>
                      </div>
                      <div class="form-fileds col-md-6 pr-0">
                        <label for="priority">Priority<span class="star">*</span></label>
                        <select class="form-control"  style="border:1px solid lightgray" formControlName="priority">
                            <option value="" >Select Priority</option>
                            <option value="High">High</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>               
                        </select>
                        <span *ngIf="updateprogramForm.get('priority').invalid && updateprogramForm.get('priority').touched" class="fa fa-info-circle errspan required">Priority Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">
                        <label>Owner <span  class="star">*</span></label>
                        <select   formControlName="owner"  style="border:1px solid lightgray" class="form-control data">
                            <option value="">Select Owner</option>
                            <option *ngFor="let user of users_list" [value]="user.userId.id">{{user.userId.firstName}} {{user.userId.lastName}}</option>
                        </select>
                        <span *ngIf="updateprogramForm.get('owner').invalid && updateprogramForm.get('owner').touched" class="fa fa-info-circle errspan required">Owner Required*</span>
                      </div>
                      <div class="form-fileds col-md-6 pr-0">
                        <label for="process">Process<span class="star">*</span></label>
                        <select class="form-control"  style="border:1px solid lightgray" formControlName="process">
                            <option value="" >Select Process</option>
                            <option *ngFor="let process of processes" [value]="process.processName">{{process.processName}}</option>          
                        </select>
                        <span *ngIf="updateprogramForm.get('process').invalid && updateprogramForm.get('process').touched" class="fa fa-info-circle errspan required">Process Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">
                        <label for="access">Access<span class="star">*</span></label>
                        <select   formControlName="access" style="border:1px solid lightgray"  class="form-control data">
                            <option value="">Select Access</option>
                            <option value="Owner">Owner</option>
                            <option value="Co-Editor">Co-Editor</option>
                            <option value="Viewer">Viewer</option>
                        </select>
                        <span *ngIf="updateprogramForm.get('access').invalid && updateprogramForm.get('access').touched" class="fa fa-info-circle errspan required">Access Required*</span>
                      </div>
                      <div class="form-fileds col-md-6 pr-0">
                        <label class="label-control" >Identity Measurable Metrics <span  class="star">*</span></label>
                        <input type="text"  style="border:1px solid lightgray" formControlName="measurableMetrics" placeholder="Enter Identity Measurable Metrics" class="form-control data">
                        <span *ngIf="updateprogramForm.get('measurableMetrics').invalid && updateprogramForm.get('measurableMetrics').touched" class="fa fa-info-circle errspan required">Identity Measurable Metrics Required*</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-fileds col-md-6 pl-0">
                        <label class="label-control" >Program Purpose <span  class="star">*</span></label>
                        <input type="text"  style="border:1px solid lightgray" formControlName="purpose" placeholder="Enter Program Purpose" class="form-control data">
                        <span *ngIf="updateprogramForm.get('purpose').invalid && updateprogramForm.get('purpose').touched" class="fa fa-info-circle errspan required">Program Purpose Required*</span>
                      </div>
                      <div class="form-fileds col-md-6 pr-0">
                        <label>Status<span class="star">*</span></label>
                        <select formControlName="status" class="form-control data">
                            <option value="" >Select Status</option>
                            <option value="New">New</option>
                            <option value="In Progress">In Progress</option>
                            <option value="In Review">In Review</option>
                            <option value="Approved">Approved</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                        <span *ngIf="updateForm.get('status').invalid && insertForm2.get('status').touched" class="fa fa-info-circle errspan required">Status Required*</span>
                      </div>
                      <div class="col-md-12">                        
                        <label>Description</label>
                        <textarea class="form-control" style="height:100px;"></textarea>                    
                      </div> -->
                    <!-- </div>      
                </div>
            </form>
    </div>
</div>    
<div class="modal-footer modelprfooter">
  <div class="pull-right">
    <button (click)="resetupdateprogram()" class="btn btn-primary">Reset</button>
    <button [disabled]="updateprogramForm.invalid" (click)="programupdate()" class="btn btn-primary btn-update">Update</button>
  </div>
</div>  
</ng-template>  -->