.types2{
    color:#0062cf  !important;
    width:15%;
}

.env-btn > button > img{
    color:black !important;
    width:25px;
    background-color: white !important;
  }

  .env-btn > button:disabled > img{
    color:rgb(116, 116, 116) !important;
    background-color:white!important;
  }
  .env-btn > button:disabled{
    background-color:white;
  }
  .env-btn > button > div{
    color:black !important;
  }

  .env-btn > button:disabled > div{
    color:lightgrey !important;
  }

  .env-btn{
    margin-left: 5px !important;
    margin-right: 5px !important;
  } 
  
  .projecttable.table th{
    
    background-color:rgb(190, 229, 241) !important;
    vertical-align: middle !important;
    color: #00a0e3 !important;
    font-size: 14px !important;
  }
  tr.mat-header-row {
    height: 40px;
}

.projecttable.table td {
  font-size: 13px !important;
}



::ng-deep .modal-lg .modal-content{
  width:100%  !important;
  margin-top:30px !important;
}

 