


/*@import "~@ng-select/ng-select/themes/material.theme.css";*/

select {
    border-top: none;
    border-right: none;
    border-left: none;
}

#sch .ngb-tp-input-container input[type="text"] {
    width: 55px !important;
    /* text-align: center; */
}



.mat-tab-label-active {
  background-color: white !important;
  color:black !important;
}


/*.mat-tab-label{
}*/
