

    <mat-tab-group [selectedIndex]="selectedTab" id="Orchestration-tabs" (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Project">
        <ng-template mat-tab-label>
        
            &nbsp;&nbsp;
            Project
          </ng-template>
        <div *ngIf="check_tab==0">
        tesssst
        </div>
      </mat-tab>
      <mat-tab label="Program">
        <ng-template mat-tab-label>
         
            &nbsp;&nbsp;
       Program
          </ng-template>
        <div *ngIf="check_tab==1">
       <app-programcreation></app-programcreation>
        </div>
      </mat-tab>
</mat-tab-group>