<div class="backgr">
    <!-- All Monitor Dashboard -->
    <iframe [src]="urlSafe" scrolling='yes' align='center' height='500' style="width:100%" (load)="spinner.hide()" border='0' frameborder='0'></iframe>
    <br><br>
    <!--Performance Report:-->
    <iframe src='https://www.site24x7.in/pv.do?id=Qld6ppRp90n6WyYNOG66bswoDtQX%2F66qCWzuGYRLU6D4AGOMw3ZyMdWXquKNGdCmEOmi%2F%2Fg17ihGh5mlqVVjKJqeDIg%2B3AmD' scrolling='yes' align='center' height='500' style="width:100%" (load)="spinner.hide()" border='0' frameborder='0'></iframe>
    <br><br>
    <!--Health Report-->
    <iframe src='https://www.site24x7.in/pv.do?id=Qld6ppRp90m42jNvvxm%2FKXtS%2FtAlCgoffoekjVP0Fk34AGOMw3ZyMdWXquKNGdCmEOmi%2F%2Fg17ihGh5mlqVVjKJqeDIg%2B3AmD' scrolling='yes' align='center' height='500' style="width:100%"  (load)="spinner.hide()" border='0' frameborder='0'></iframe>
    <br><br>
    <!--Summary report -->
    <iframe src='https://www.site24x7.in/pv.do?id=Qld6ppRp90luIzgCn5pQ%2FntS%2FtAlCgof%2BzEyXe9Ilk%2F4AGOMw3ZyMdWXquKNGdCmEOmi%2F%2Fg17ihGh5mlqVVjKJqeDIg%2B3AmD' scrolling='yes' align='center' height='500' style="width:100%"  (load)="spinner.hide()" border='0' frameborder='0'></iframe>
</div>