.rpa-checkbox {
  display: flex;
  justify-content: center;
}

.modal-body {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.rpa-tablebox {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  height: 900px;
}

.rpa-modal-content {
  padding-bottom: 25px !important;
}

.env-btn>button:disabled>img {
  color: rgb(116, 116, 116) !important;
  background-color: white !important;
}

.env-btn>button:disabled {
  background-color: white;
}

.env-btn>button>div {
  color: black !important;
}

.env-btn>button:disabled>div {
  color: lightgrey !important;
}

.rpa-image1 {
  height: 12px;
  width: 12px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.environment-search {
  position: relative;
  padding: 0px !important;
}

.environment-search img {
  position: absolute;
  top: 9px;
  right: 10px;
}

.environment-tools {
  padding: 0px !important;
  display: flex;
}

.environment-btntool {
  position: relative;
  padding: 6px;
  margin: 0px !important;
}

.environment-btntool img {
  width: 16px;
  height: 16px;
}

.tsttooltipbtn:hover span.testtooltip {
  display: block;
}

span.testtooltip {
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: #001c47;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px 10px;
  border-radius: 4px;
  display: none;
  z-index: 999;
}

span.testtooltip:before {
  content: '';
  border: 2px solid #001c47;
  border-width: 0px 0px 2px 2px;
  position: absolute;
  padding: 4px;
  right: 13px;
  top: -5px;
  background: #001c47;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.environment-tablegrid table td span {
  font-size: 13px !important;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.no-item-img {
  height: calc(100vh - 430px)
}

.downloadLink {
  text-decoration: underline !important;
  font-size: small;
}