<!-- <div class="container-fluid bps-heading">
        <div class="bps-heading-image">
            <img src='..\\assets\\busineeprocessstudionewicon.svg'>
        </div>
    <div class="bps-heading-title">
        <label>RPA Automation</label>
    </div> -->
<div class="module-heading">
    <!-- <div class="container"> -->
    <div class="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a href="#"><img class="module-heading-image" src='..\\assets\\busineeprocessstudionewicon.svg'>
                    <span class="module-heading-title">RPA Studio</span></a>
            </li>
            <!-- <i _ngcontent-gvw-c1="" class="fa fa-arrow-right"></i>
                            <li><a href="#">Environments</a></li>-->

        </ul>

    </div>

    <!-- <img class="module-heading-image" src='..\\assets\\busineeprocessstudionewicon.svg'>
        <span class="module-heading-title">RPA Studio</span> -->

    <!-- </div> -->
</div>
<router-outlet></router-outlet>