/* .bps-heading{
    border: 1px #e6dbdb12 solid;
    height: 51px;
    background-color: #FAFAFA;
    display: flex;
  
  }
  .bps-heading-image{
    width: 4%;
    margin-left: 42px;
    height: 40px
  }
  .bps-heading-title{
    width: 20%;
    margin-left: 16px;
    height: 40px
  }
  label{
    margin-top: 12px;
    font-size: large;
  } */