<!-- <div *ngIf="expiry>=0" class="nav-main"> -->
  <div class="nav-main subcriptionExpiry" [class.disabled]="isSideMenuDisabled">
    <section class="sidebar-main">
      <mat-nav-list class="ep-nav-font">
        <div class="user-profile">
          <p-avatar [label]="user_firstletter" [style]="{'border':'1px solid #ccc','font-size':'1.3rem','background-color':'#D2E9FF','color':'#001C47'}" 
          styleClass="p-mr-2 user-profile-circle" (click)="openUserMenu($event)" size="xlarge" shape="circle"></p-avatar>
          <!-- <p-avatar label="SR" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff','font-size':'1.3rem'}" shape="circle"></p-avatar> -->
        </div>
        <!-- <span *ngIf="isCopilotEnable && !isPredefinedBots" >
          <a mat-list-item class="link" [ngClass]="_selectedModule=='eiap-home' && isCopilotEnable ?'active':'' " id="eiap-home" (click)="hightlight('eiap-home',null)"
            routerLink="/pages/home" [matTooltip]=" !obj.sideBarOpen ? 'Copilot' : ''"
            matTooltipClass="sidebarTooltip" matTooltipPosition="right">
            <span class="side-icon">
              <span class="active-img" id="eiap-home-icon-active">
                <img src="../../../assets/images/Sidebar/copilot.svg" alt="">
              </span>
              <span class="hover-img" id="eiap-home-icon-white">
                <img src="../../../assets/images/Sidebar/copilo-hover.png" alt="">
              </span>
              <span class="default-img" id="eiap-home-icon-gray">
                <img src="../../../assets/images/Sidebar/copilot-nrmal.png" alt="">
              </span>
            </span>
            <span class="side-menu-font">Copilot</span>
          </a>
        </span> -->
        <!-- <a mat-list-item *ngIf="!isPredefinedBots" class="link" [ngClass]="_selectedModule=='eiap-home' && (!(isCopilotEnable)) ?'active':'' " [id]="(!(isCopilotEnable))?'eiap-home':'dashboard'" (click)="hightlight(((!(isCopilotEnable))?'eiap-home':'dashboard'),null)"
          [matTooltip]=" !obj.sideBarOpen ? 'Dashboard' : ''" matTooltipClass="sidebarTooltip"
          matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="../../../assets/images/Sidebar/Dashboard-Active.svg" alt="">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="../../../assets/images/Sidebar/Dashboard-Hover.svg" alt="">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="../../../assets/images/Sidebar/Dashboard-Normal.svg" alt="">
            </span>
          </span>
          <span class="side-menu-font">Dashboard</span>
        </a> -->


        <!-- <a mat-list-item class="link" id="dashboard" (click)="navigateToDashBoard()"
         [matTooltip]=" !obj.sideBarOpen ? 'Dashboard' : ''"
        matTooltipClass="sidebarTooltip" matTooltipPosition="right">
        <span class="side-icon">
          <span class="active-img" id="eiap-home-icon-active">
            <img src="../../../assets/images/dashboard_icons/active-icons/Dashboard.svg">
          </span>
          <span class="hover-img" id="eiap-home-icon-white">
            <img src="../../../assets/images/dashboard_icons/white-icons/Dashboard.svg">
          </span>
          <span class="default-img" id="eiap-home-icon-gray">
            <img src="../../../assets/images/dashboard_icons/grey-icons/Dashboard.svg">
          </span>
        </span>
        <span class="side-menu-font" (click)="hightlight('dynamicdashboard','null')">Dashboard</span>
      </a> -->
 
        <!-- <a *ngIf="!isPredefinedBots" mat-list-item class="link" id="projects" (click)="hightlight('projects',null)"
          routerLink="/pages/projects/listOfProjects" [matTooltip]=" !obj.sideBarOpen ? 'Projects' : ''"
          matTooltipClass="sidebarTooltip" matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="../../../assets/images/Sidebar/Projects-Active.svg" alt="">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="../../../assets/images/Sidebar/Projects-Hover.svg" alt="">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="../../../assets/images/Sidebar/Projects-Normal.svg" alt="">
            </span>
          </span>
          <span class="side-menu-font" (click)="hightlight('listOfProjects','null')">Projects</span>
        </a> -->

        <!-- ToDO  Enable/Disable for VCM -->
        <!-- <mat-list-item (click)="showprocessesSubmenu = !showprocessesSubmenu; selection()" *ngIf="freetrail!=true"
          [ngClass]="{'activeMenu' : showprocessesSubmenu}" id='expand_processes' class="link processesimg"
          [matTooltip]=" !obj.sideBarOpen ? 'Processes' : ''" matTooltipClass="sidebarTooltip" matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="../../../assets/images/Sidebar/Processes-Active.svg">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="../../../assets/images/Sidebar/Processes-Hover.svg">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="../../../assets/images/Sidebar/Processes-Normal.svg">
            </span>
          </span>
          <span class="side-menu-font">Processes</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showprocessesSubmenu}">&#xe5cf;
          </mat-icon>
        </mat-list-item>
        <div class="submenus" [ngClass]="{'expanded' : showprocessesSubmenu}">
          <a mat-list-item class="link" id="prepo" (click)="hightlight('prepo','expand_processes')">
            <span class="side-menu-font">Process Repo</span>
          </a>
          <a mat-list-item class="link" id='vcm' (click)="hightlight('vcm','expand_processes')"
            routerLink="/pages/vcm/view-vcm">
            <span class="side-menu-font">Value Chain Mapping</span>
          </a>
        </div> -->

        <a mat-list-item class="link" id="AI_Agents" (click)="hightlight('AI_Agents',null)"
        routerLink="/pages/aiagent/home">
        <span class="side-icon">
          <span class="active-img" id="eiap-home-icon-active">
            <img src="assets/images/agent/side-nav/active-explore.svg" alt="">
            <p *ngIf="!obj.sideBarOpen" class="side-nav-label side-nav-label-active">Explore</p>
          </span>
          <span class="hover-img" id="eiap-home-icon-white">
            <img src="assets/images/agent/side-nav/hover-explore.svg" alt="">
            <p *ngIf="!obj.sideBarOpen" class="side-nav-label side-nav-label-hover">Explore</p>
          </span>
          <span class="default-img" id="eiap-home-icon-gray">
            <img src="assets/images/agent/side-nav/default-explore.svg" alt="">
            <p *ngIf="!obj.sideBarOpen" class="side-nav-label">Explore</p>
          </span>
          <!-- <div>Explore</div> -->
        </span>
        <span class="side-menu-font" (click)="hightlight('AI_Agents','null')">Explore</span>
      </a>
          <a mat-list-item class="link" id="subscription" (click)="hightlight('subscription',null)"
            routerLink="/pages/subscriptions">
            <span class="side-icon">
              <span class="active-img" id="eiap-home-icon-active">
                <img src="assets/images/agent/side-nav/active-manage.svg" alt="">
                <p *ngIf="!obj.sideBarOpen" class="side-nav-label side-nav-label-active">Manage Subscription</p>
              </span>
              <span class="hover-img" id="eiap-home-icon-white">
                <img src="assets/images/agent/side-nav/hover-manage.svg" alt="">
                <p *ngIf="!obj.sideBarOpen" class="side-nav-label side-nav-label-hover">Manage Subscription</p>
              </span>
              <span class="default-img" id="eiap-home-icon-gray">
                <img src="assets/images/agent/side-nav/dafault-manage.svg" alt="">
                <p *ngIf="!obj.sideBarOpen" class="side-nav-label">Manage Subscription</p>
              </span>
            </span>
            <span class="side-menu-font">Manage Subscription</span>
          </a>
          <a mat-list-item class="link" id="quick_access" (click)="hightlight('quick_access',null)">
            <span class="side-icon">
              <span class="active-img" id="eiap-home-icon-active">
                <img src="assets/images/agent/side-nav/active-quickaccess.svg" alt="">
                <p *ngIf="!obj.sideBarOpen" class="side-nav-label side-nav-label-active">Quick Access</p>
              </span>
              <span class="hover-img" id="eiap-home-icon-white">
                <img src="assets/images/agent/side-nav/hover-quickaccess.svg" alt="">
                <p *ngIf="!obj.sideBarOpen" class="side-nav-label side-nav-label-hover">Quick Access</p>
              </span>
              <span class="default-img" id="eiap-home-icon-gray">
                <img src="assets/images/agent/side-nav/default-quickaccess.svg" alt="">
                <p *ngIf="!obj.sideBarOpen" class="side-nav-label">Quick Access</p>
              </span>
            </span>
            <span class="side-menu-font">Quick Access</span>
          </a>

      <!-- <a mat-list-item class="link" id="automate" (click)="hightlight('Inbox',null)"
        routerLink="/pages/aiagent/inbox" [matTooltip]=" !obj.sideBarOpen ? 'Inbox' : ''"
        matTooltipClass="sidebarTooltip" matTooltipPosition="right">
        <span class="side-icon">
          <span class="active-img" id="eiap-home-icon-active">
            <img src="../../../assets/images/Sidebar/Orchestration-Active.svg" alt="">
          </span>
          <span class="hover-img" id="eiap-home-icon-white">
            <img src="../../../assets/images/Sidebar/Orchestration-Hover.svg" alt="">
          </span>
          <span class="default-img" id="eiap-home-icon-gray">
            <img src="../../../assets/images/Sidebar/Orchestration-Normal.svg" alt="">
          </span>
        </span>
        <span class="side-menu-font" (click)="hightlight('Inbox','null')">Inbox</span>
      </a> -->

        <!-- <a mat-list-item *ngIf="isPredefinedBots && !agentOrcheDisabled" class="link orchimg" id='so' (click)="hightlight('so',null)"
          routerLink="/pages/aiagent/list" [matTooltip]=" !obj.sideBarOpen ? 'Orchestration' : ''"
          matTooltip="Orchestration" matTooltipClass="sidebarTooltip" matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="../../../assets/images/Sidebar/Orchestration-Active.svg" alt="">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="../../../assets/images/Sidebar/Orchestration-Hover.svg" alt="">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="../../../assets/images/Sidebar/Orchestration-Normal.svg" alt="">
            </span>
          </span>
          <span class="side-menu-font">Orchestration</span>
        </a> -->
      
        <!-- <a mat-list-item class="link orchimg" id='so' *ngIf="!isPredefinedBots" (click)="hightlight('so',null)"
          routerLink="/pages/serviceOrchestration/home" [matTooltip]=" !obj.sideBarOpen ? 'Orchestration' : ''"
          matTooltip="Orchestration" matTooltipClass="sidebarTooltip" matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="../../../assets/images/Sidebar/Orchestration-Active.svg" alt="">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="../../../assets/images/Sidebar/Orchestration-Hover.svg" alt="">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="../../../assets/images/Sidebar/Orchestration-Normal.svg" alt="">
            </span>
          </span>
          <span class="side-menu-font">Orchestration</span>
        </a> -->

        <!-- <mat-list-item *ngIf="!workspacedsiabled" (click)="showSubmenu = !showSubmenu; selection()" [ngClass]="{'activeMenu' : showSubmenu}"
          id='expand_menu' class="link" [matTooltip]=" !obj.sideBarOpen ? 'Workspace' : ''"
          matTooltipClass="sidebarTooltip" matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="../../../assets/images/Sidebar/Workspace-Active.svg" alt="">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="../../../assets/images/Sidebar/Workspace-Hover.svg" alt="">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="../../../assets/images/Sidebar/Workspace-Normal.svg" alt="">
            </span>
          </span>
          <span class="side-menu-font">Workspace</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">&#xe5cf;
          </mat-icon>
        </mat-list-item> -->
        <div class="submenus" [ngClass]="{'expanded' : showSubmenu}">
          <!-- <a mat-list-item class="link" id="pi" (click)="hightlight('pi','expand_menu')"
            routerLink="/pages/processIntelligence/upload">
            <span class="side-menu-font">Process Intelligence</span>
          </a>
          <a mat-list-item class="link" id='bps' (click)="hightlight('bps','expand_menu')"
            routerLink="/pages/businessProcess/home">
            <span class="side-menu-font">Business Process Studio</span>
          </a> -->
          <!-- <a mat-list-item class="link" id='rpa' (click)="hightlight('rpa','expand_menu')"
            routerLink="/pages/rpautomation/home">
            <span class="side-menu-font">RPA</span>
          </a> -->
        </div>

        <mat-list-item *ngIf="isCustomerBots"
          (click)="showadminSubmenu = !showadminSubmenu; selection()" [ngClass]="{'activeMenu' : showadminSubmenu}"
          id="expand_admin" class="link" [matTooltip]=" !obj.sideBarOpen ? 'Administration' : ''"
          matTooltipClass="sidebarTooltip" matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="assets/images/Sidebar/Administration-Active.svg" alt="">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="assets/images/Sidebar/Administration-Hover.svg" alt="">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="assets/images/Sidebar/Administration-Normal.svg" alt="">
            </span>
          </span>
          <span class="side-menu-font">Administration</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showadminSubmenu}">&#xe5cf;
          </mat-icon>
        </mat-list-item>
        <div class="submenus adminsubmenus scrollable" [ngClass]="{'expanded' : showadminSubmenu}" [style.overflow]="isCustomerBots ? 'auto' : 'hidden'">
          <!-- <a mat-list-item class="link" id="bps" (click)="hightlight('usermanagement','expand_admin')"
            *ngIf="this.userRoles.includes('System Admin')" (click)="userManagement()">
            <span class="side-icon">
            </span>
            <span class="side-menu-font">User Management</span>
          </a> -->
          <!-- <a mat-list-item class="link" id='subscriptions'
          *ngIf="this.userRoles.includes('System Admin') && role =='Admin' && isSubscriptionModuleEnable" (click)="hightlight('subscriptions',null)" (click)="onClickSubscription()"
            [matTooltip]=" !obj.sideBarOpen ? 'Subscriptions' : ''" matTooltip="Subscriptions"
            matTooltipClass="sidebarTooltip" matTooltipPosition="right">
            <span class="side-icon">
              <span class="active-img" id="eiap-home-icon-active">
                <img src="../../../assets/images/Sidebar/Subscription-Active.svg" alt="">
              </span>
              <span class="hover-img" id="eiap-home-icon-white">
                <img src="../../../assets/images/Sidebar/Subscription-Hover.svg" alt="">
              </span>
              <span class="default-img" id="eiap-home-icon-gray">
                <img src="../../../assets/images/Sidebar/Subscription-Normal.svg" alt="">
              </span>
            </span>
            <span  class="side-menu-font">Manage Subscriptions</span>
          </a> -->
          <!-- <a mat-list-item  class="link" id="bps" (click)="hightlight('settings','expand_admin')"  >
      <span class="side-icon">
        <mat-icon>settings</mat-icon>
      </span>
      <span class="side-menu-font">System Settings</span>
    </a> -->
          <!-- <a mat-list-item class="link" id="support" (click)="hightlight('support','expand_admin')" routerLink="/pages/support/ticket-list">
                    <span class="side-icon">
        <mat-icon>settings</mat-icon>
      </span>
                    <span class="side-menu-font">Support</span>
                </a> -->

                <!-- <a mat-list-item class="link" id="bps" (click)="hightlight('usermanagement','expand_admin')"
          *ngIf="this.userRoles.includes('System Admin') && !isPredefinedBots" routerLink="/pages/admin/admin-screen-list">
          <span class="side-icon">
          </span>
          <span class="side-menu-font">Screen Generation</span>
        </a> -->

        <div class="CS_botHeader" *ngIf="isCustomerBots">
          <mat-list-item (click)="showCustomerSupportBotsSubmenu = !showCustomerSupportBotsSubmenu;"
            [ngClass]="{'activeMenu' : showCustomerSupportBotsSubmenu}" class="link">
            <span class="side-menu-font">Customer Support Bots</span>
            <mat-icon class="menu-button arrow" [ngClass]="{'rotated' : showCustomerSupportBotsSubmenu}">&#xe5cf;
            </mat-icon>
          </mat-list-item>
        
          <div class="submenus customerSupportBotsSubmenus" [ngClass]="{'expanded' : showCustomerSupportBotsSubmenu}">
            <a mat-list-item class="link" id="bps" (click)="hightlight('usermanagement','expand_admin')"
              *ngIf="this.userRoles.includes('System Admin')" routerLink="/pages/admin/manage-customer-bot">
              <span class="side-menu-font">Manage Support Bot</span>
            </a>
        
            <a mat-list-item class="link" id="bps" (click)="hightlight('usermanagement','expand_admin')"
              *ngIf="this.userRoles.includes('System Admin')" routerLink="/pages/admin/train-cutomer-bot">
              <span class="side-menu-font">Train Support Bot</span>
            </a>
          </div>
        </div>
        
        <!-- <span *ngFor="let screen of screensList">
          <a mat-list-item class="link" (click)="onClickScreen(screen)" (click)="hightlight('usermanagement','expand_admin')">
            <div class="side-menu-font scrngenitems">{{screen.Screen_Name}}</div>
          </a>
        </span> -->
        </div>
  
        <!-- will uncomment Subscriptions after the completion of credit card work -->
  
        <!-- <a mat-list-item class="link" id='subscriptions'
        *ngIf="this.userRoles.includes('System Admin')" (click)="hightlight('subscriptions',null)" (click)="onClickSubscription()"
          [matTooltip]=" !obj.sideBarOpen ? 'Subscriptions' : ''" matTooltip="Subscriptions"
          matTooltipClass="sidebarTooltip" matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="../../../assets/images/Sidebar/Subscription-Active.svg">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="../../../assets/images/Sidebar/Subscription-Hover.svg">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="../../../assets/images/Sidebar/Subscription-Normal.svg">
            </span>
          </span>
          <span class="side-menu-font">Manage Subscriptions</span>
        </a>
   -->
      </mat-nav-list>
    </section>
  
    <div class="epslogo">
      <img src="assets\images\footerlogo.png" alt="" height="54">
      <span class="poweredby">
        <label class="poweredby-label">Powered By</label>
        <label class="epsoft-label">EPSoft<sup>®</sup></label>
      </span>
    </div>
  </div>
  
  
  <!-- <div *ngIf="expiry<0" class="nav-main">
    <section class="sidebar-main">
  
      <mat-nav-list class="ep-nav-font">
  
        <a mat-list-item class="link" id='subscriptions' (click)="hightlight('subscriptions',null)"
          routerLink="/pages/subscriptions" [matTooltip]=" !obj.sideBarOpen ? 'Subscriptions' : ''"
          matTooltip="Subscriptions" matTooltipClass="sidebarTooltip" matTooltipPosition="right">
          <span class="side-icon">
            <span class="active-img" id="eiap-home-icon-active">
              <img src="../../../assets/images/subscription/BillingAdresses1.svg">
            </span>
            <span class="hover-img" id="eiap-home-icon-white">
              <img src="../../../assets/images/subscription/BillingAdresses1.svg">
            </span>
            <span class="default-img" id="eiap-home-icon-gray">
              <img src="../../../assets/images/subscription/BillingAdresses1.svg">
            </span>
          </span>
          <span class="side-menu-font">Manage Subscriptions</span>
        </a>
  
  
      </mat-nav-list>
  
    </section>
    <div class="epslogo">
      <img src="..\assets\images\footerlogo.png" alt="" height="54">
      <span class="poweredby">
        <label class="poweredby-label">Powered By</label>
        <label class="epsoft-label">EPSoft<sup>R</sup></label>
      </span>
    </div>
  
  </div> -->


<p-overlayPanel #overlayPanel>
  <ng-template pTemplate>
    <div class="user-info">
      <div class="avatar">{{user_firstletter}}</div>
      <div class="user-details">
        <h3>{{userName}}</h3>
        <p>{{userEmail}}</p>
      </div>
    </div>
    <ul class="menu-items">
      <li><a (click)="myAccount()"><i class="pi pi-user"></i> My Account</a></li>
      <li><a (click)="changepassword()"><i class="pi pi-lock"></i> Change Password</a></li>
      <li><a (click)="showContactSupport()"><i class="pi pi-envelope"></i> Contact Support</a></li>
      <li><a class="logout" (click)="logout()"><i class="pi pi-sign-out"></i> Logout</a></li>
    </ul>
  </ng-template>
</p-overlayPanel>

<div *ngIf="ismyAccount">
  <app-split-overlay (closeOverlay)="closeFormOverlay($event)">
    <div class="">
    <div class="create-header">
      <h3> My Account </h3>
  </div>
    </div>
  <app-myaccount (valueChange)='closeFormOverlay($event)'></app-myaccount>
</app-split-overlay>
</div>

<div *ngIf="isPassword">
  <app-split-overlay (closeOverlay)="closeFormOverlay()">
    <div class="">
    <div class="create-header">
      <h3> Change Password </h3>
  </div>
    </div>
  <app-change-password (valueChange)='closeFormOverlay($event)'></app-change-password>
</app-split-overlay>
</div>

<!-- <p-sidebar [(visible)]="isPassword" position="right" [baseZIndex]="10000">

  <app-change-password (valueChange)='closeFormOverlay($event)'></app-change-password>
</p-sidebar> -->

<p-dialog header="Contact Support" [(visible)]="showContactUs" [modal]="true" [closable]="true" [style]="{width: '40vw'}" (onHide)="resetForm()">
  <form [formGroup]="contactForm" (ngSubmit)="contactUs()">
      <div class="p-fluid">
          <b>If you have any questions or concerns? Send us a message, and our team will assist you with your needs.</b>
          <div class="p-field">
              <label for="message">What can we help you with?</label>
              <textarea pInputTextarea id="message" (keydown)="onMessageInput($event)" formControlName="message" rows="6"></textarea>
          </div>
      </div>
          <div class="submit-button">
              <div *ngIf="messageTooShort" class="error-message">
                  Please enter at least 150 characters to ask your query.
              </div>
              <button class="btn bluebg-button" style="margin-right: 0px !important;" icon="pi pi-check" [disabled]="contactForm.invalid || messageTooShort">Submit</button>
          </div>
  </form>
</p-dialog>