
<div class="nav-main">
<section class="sidebar-main">

<mat-nav-list class="ep-nav-font">
  <!-- <div class="profile-card">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
      <br>
  </div> -->

  <!-- <a mat-list-item ><i class="fa fa-area-chart"></i> &nbsp; &nbsp; Dashboard</a> -->
  <a mat-list-item class="link" id="eiap-home" (click)="hightlight('eiap-home')"  routerLink="/pages/home" data-toggle="tooltip" data-placement="right"  title="Dashboard">
    <span class="side-icon">
      <span class="active-img" id="eiap-home-icon-white">
          <img src="../../../assets/images/dashboard_icons/white-icons/dashboard.svg">
      </span>
      <span  class="default-img" id="eiap-home-icon-gray">
          <img src="../../../assets/images/dashboard_icons/grey-icons/dashboard.svg">
      </span>
    </span>

    <span class="side-menu-font">Dashboard</span>
    
  </a>
 
  <!-- <a mat-list-item class="link" id="process" (click)="hightlight('process')"  data-toggle="tooltip" data-placement="right"  title="Processes">
    <span class="side-icon">
      <span class="active-img" id="eiap-home-icon-white">
          <img src="../../../assets/images/dashboard_icons/white-icons/Project-flow.svg">
      </span>
      <span  class="default-img" id="eiap-home-icon-gray">
          <img src="../../../assets/images/dashboard_icons/grey-icons/Project-flow.svg">
      </span>
    </span>

    <span class="side-menu-font">Processes</span>
  </a> -->
  

  <a mat-list-item class="link" id="projects" (click)="hightlight('projects')" routerLink="/pages/projects/listOfProjects"
  data-toggle="tooltip" data-placement="right"  title="Projects">
  <span class="side-icon">
    <span class="active-img" id="eiap-home-icon-white">
        <img src="../../../assets/images/dashboard_icons/white-icons/Project-flow.svg">
    </span>
    <span  class="default-img" id="eiap-home-icon-gray">
        <img src="../../../assets/images/dashboard_icons/grey-icons/Project-flow.svg">
    </span>
  </span>

    <span class="side-menu-font" (click)="hightlight('listOfProjects')" routerLink="/pages/projects/listOfProjects">Projects</span>
  </a>

  
  
  

    <!-- <span class="side-menu-font">Workspace</span> -->
    <!-- <button mat-icon-button #trigger=matMenuTrigger [matMenuTriggerFor]="workspacemenu">
      <mat-icon>more_vert</mat-icon>
   </button> -->
   <mat-list-item (click)="showSubmenu = !showSubmenu" class=""  data-toggle="tooltip" data-placement="right"  title="Workspace">
    <!-- <span class="full-width" >Workspace</span>
    <mat-icon mat-list-icon>work</mat-icon> -->
    <span class="side-icon">
      <span class="active-img" id="eiap-home-icon-white">
          <img src="../../../assets/images/dashboard_icons/white-icons/Process-intelligence.svg">
      </span>
      <span  class="default-img" id="eiap-home-icon-gray">
          <img src="../../../assets/images/dashboard_icons/grey-icons/Process-intelligence.svg">
      </span>
    </span>

    <span class="side-menu-font">Workspace</span>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" >expand_more
    </mat-icon>
  </mat-list-item>
  <div class="submenus" [ngClass]="{'expanded' : showSubmenu}">
    <a mat-list-item  class="link" id="pi" (click)="hightlight('pi')" routerLink="/pages/processIntelligence/upload"  >
      <span class="side-icon">
        <span class="active-img" id="eiap-home-icon-white">
            <img src="../../../assets/images/dashboard_icons/white-icons/Project-flow.svg">
        </span>
        <span  class="default-img" id="eiap-home-icon-gray">
            <img src="../../../assets/images/dashboard_icons/grey-icons/Project-flow.svg">
        </span>
      </span>
      <span class="side-menu-font">PI</span><h5 style="margin-left: -27px;">(Process Intelligence)</h5>
    </a>
    <a mat-list-item class="link" id='bps' (click)="hightlight('bps')" routerLink="/pages/businessProcess/home" >
      <span class="side-icon">
        <span class="active-img" id="eiap-home-icon-white">
            <img src="../../../assets/images/dashboard_icons/white-icons/BPMN-canvas.svg">
        </span>
        <span  class="default-img" id="eiap-home-icon-gray">
            <img src="../../../assets/images/dashboard_icons/grey-icons/BPMN-canvas.svg">
        </span>
      </span>
      <span class="side-menu-font">BPS</span><h5 style="margin-left: -22px;">(Business Process Studio)</h5>
    </a>
    <a mat-list-item class="link" id='rpa' (click)="hightlight('rpa')" routerLink="/pages/rpautomation/home" >
      <span class="side-icon">
        <span class="active-img" id="eiap-home-icon-white">
            <img src="../../../assets/images/dashboard_icons/white-icons/RPA-Canvas.svg">
        </span>
        <span  class="default-img" id="eiap-home-icon-gray">
            <img src="../../../assets/images/dashboard_icons/grey-icons/RPA-Canvas.svg">
        </span>
      </span>
      <span class="side-menu-font">RPA</span>
    </a>
  </div>


  <a mat-list-item class="link" id='so' (click)="hightlight('so')" routerLink="/pages/serviceOrchestration/home" data-toggle="tooltip" data-placement="right"  title="Orchestration">
    <span class="side-icon">
      <span class="active-img" id="eiap-home-icon-white">
          <img src="../../../assets/images/dashboard_icons/white-icons/Document.svg">
      </span>
      <span  class="default-img" id="eiap-home-icon-gray">
          <img src="../../../assets/images/dashboard_icons/grey-icons/Document.svg">
      </span>
    </span>
    <span class="side-menu-font">Orchestration</span>
  </a>
  
  <!-- <a mat-list-item class="link" id="eiap-home">
    <span class="side-icon">
      <mat-icon  >admin_panel_settings</mat-icon>
    </span>

    <span class="side-menu-font">Administration</span>
    <button mat-icon-button #trigger=matMenuTrigger [matMenuTriggerFor]="adminemenu">
      <mat-icon>more_vert</mat-icon>
   </button>
  </a> -->
  <mat-list-item (click)="showadminSubmenu = !showadminSubmenu" class="" data-toggle="tooltip" data-placement="right"  title="Administration">
    <!-- <span class="full-width" >Workspace</span>
    <mat-icon mat-list-icon>work</mat-icon> -->
    <span class="side-icon">
      <span class="active-img" id="eiap-home-icon-white">
          <img src="../../../assets/images/dashboard_icons/white-icons/User-Management.svg">
      </span>
      <span  class="default-img" id="eiap-home-icon-gray">
          <img src="../../../assets/images/dashboard_icons/grey-icons/User-Management.svg">
      </span>
    </span>

    <span class="side-menu-font">Administration</span>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showadminSubmenu}" >expand_more
    </mat-icon>
  </mat-list-item>
  <div class="submenus" [ngClass]="{'expanded' : showadminSubmenu}">
    <a mat-list-item  class="link" id="pi" (click)="hightlight('user')"  >
      <span class="side-icon">
        <mat-icon>manage_accounts</mat-icon>
      </span>
      <span class="side-menu-font">User Management</span>
    </a>
    <a mat-list-item  class="link" id="bps" (click)="hightlight('settings')"  >
      <span class="side-icon">
        <mat-icon>settings</mat-icon>
      </span>
      <span class="side-menu-font">System Setting</span>
    </a>
  </div>
   
    <!-- <div class="link">
      <span class="side-menu-font">
      <img class="header_icon" src="..\assets\images\poweredby-logo.png">
    </span>
    </div> -->

   


  <!-- <a mat-list-item class="link active" id="eiap-home" (click)="hightlight('eiap-home')"  routerLink="/pages/home"  >
    <span class="side-icon">
      <mat-icon  >home</mat-icon>
    </span>

    <span class="side-menu-font">Home</span>
  </a>
  <a mat-list-item  class="link" id="pi" (click)="hightlight('pi')" routerLink="/pages/processIntelligence/upload"  >
    <span class="side-icon">
      <mat-icon>device_hub</mat-icon>
    </span>
    <span class="side-menu-font">Process Intelligence</span>
  </a>
  <a mat-list-item class="link" id='so' (click)="hightlight('so')" routerLink="/pages/serviceOrchestration/home" >
    <span class="side-icon">
      <mat-icon  >monitor</mat-icon>
    </span>
    <span class="side-menu-font">Service Orchestration</span>
  </a> -->
  <!-- <mat-menu #workspacemenu="matMenu">
    <a mat-list-item  class="link" id="pi" (click)="hightlight('pi')" routerLink="/pages/processIntelligence/upload"  >
      <span class="side-icon">
        <mat-icon>device_hub</mat-icon>
      </span>
      <span class="side-menu-font" style="padding: 18px;">Process Intelligence</span>
    </a>
    <a mat-list-item  class="link" id="bps" (click)="hightlight('bps')" routerLink="/pages/businessProcess/home"  >
      <span class="side-icon">
        <mat-icon>device_hub</mat-icon>
      </span>
      <span class="side-menu-font" style="
      padding: 18px;
  ">Business Process Studio</span>
    </a>
    <a mat-list-item  class="link" id="rpa" (click)="hightlight('rpa')" routerLink="/pages/rpautomation/home"  >
      <span class="side-icon">
        <mat-icon>device_hub</mat-icon>
      </span>
      <span class="side-menu-font" style="padding-left: 17px;">RPA</span>
    </a>
  </mat-menu>


  <mat-menu #adminemenu="matMenu">
    <a mat-list-item  class="link" id="pi" (click)="hightlight('pi')" routerLink="/pages/processIntelligence/upload"  >
      <span class="side-icon">
        <mat-icon>manage_accounts</mat-icon>
      </span>
      <span class="side-menu-font">User Management</span>
    </a>
    <a mat-list-item  class="link" id="bps" (click)="hightlight('bps')" routerLink="/pages/businessProcess/home"  >
      <span class="side-icon">
        <mat-icon>settings</mat-icon>
      </span>
      <span class="side-menu-font">System Setting</span>
    </a>
  </mat-menu> -->
</mat-nav-list>

</section>
<div class="epslogo">
  <img src="..\assets\images\footerlogo.png" alt="" height="54">
  <span class="poweredby">
      <label class="poweredby-label">Powered By</label>
      <label class="epsoft-label">EPSoft<sup>R</sup></label>
  </span>
</div>

</div>