
.drag-area{
  min-height: 70vh;
  width:100%;
  position: relative;
  float: left;
  transform-origin:0% 0%;
  display: inline;
}

.outputtextareastyle{
  padding:10px !important;
  min-height:200px;
  min-width:100%;
  max-width:100%;
  max-height: 200px !important;
   overflow-x:auto;
}



.dndDropzone {
  cursor: pointer;
  box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0.2em;
  position: absolute;
  line-height: 14px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: #00a0e317;
  border: 2px solid #d7eaff;
}

.dndDropzone:hover{
 
  border: 2px solid #00a0e3;
  
}

.main{
  width:100%;
  overflow: auto;
  height: calc(100vh - 194px);
  padding:10px;
}


.connector-name{
  text-align: center;
  font-size: 11px;
  vertical-align: middle;
  padding: 0px;
  max-width: 100em;
  font-weight: 600;
  line-height: 0.5cm;
  margin-top: 60px;
  color: #001c47 !important;
}


.node-delete{
  float: right;
  margin-top:-10px;
  margin-right: -7px;
  border-radius: 10px;
  height:13px;
  width:13px;
  color:rgb(255, 255, 255);
  text-align: center;
  font-size:10px;
}

.node-delete img{
  height:15px;  
}


.context-menu__item{
  padding: 6px;
}
.context-menu1{
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 100;
  padding: 5px;
}
.context-menu{
  position: absolute;
  top: -17px;
    left: 10px;
    background: white;
    width: max-content;
}


.node_tooltip{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 45px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent gray transparent transparent;
}

.connLabel{
  background-color:white !important;
  padding:10px !important;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  }

.back-container{
  max-height: 400px;
  overflow: auto;
}


.dragactionsdiv {
  text-align:center;
  position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
}
.dragactionsdiv img {
  width: 30%;
  height: auto;
}
.dragactionsdiv span {
  display: block;
  font-size: 20px;
  color: #001c47;
  opacity: 0.5;
  margin-top: 10px;
}

.modal-body.actions-mbody {
  height: calc(100% - 135px);
  overflow: hidden auto;
  font-size:15px;
}


.dynamic-forms-modal{
   padding-left: 60px !important;
   margin-top: 52px !important;
}

.dynamic-forms-modal .rpa-modal-content{
  
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.credtestplus1 {
  width: 16px;
  height: 16px;
  margin-top: 16px;
}
.own-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.right_split {
  background-color: white !important;
}

.minimumwidth {
  min-width: 300px !important;
}

.right_split .rpa-modal-close img.expandsvgimg {
  margin-right: 10px;
}


.groupElement{
  border:2px solid #001c47;
  height:150px;
  width: 600px;
  border-radius: 20px;
  position: absolute;
}


.groupHeader{
  color:black;
  font-weight: 300;
  margin-top:-13px;
  text-align: center;
}


.groupTitle{
  
  background-color: white;
}

::ng-deep
.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  width: 10px;
}

.resize-handle-left {
  left: 0;
}

::ng-deep
.resize-right-hover{
  cursor:context-menu !important;
}


::ng-deep
.resize-bottom-hover{
  cursor:context-menu !important;
}


::ng-deep
.resize-active:hover{
  cursor:grabbing !important;
}


::ng-deep
.resize-handle-right {
  right: 2 !important;
}


.custom-color-picker{
  height: 20px;
  width: 20px;
  vertical-align: middle;
}