
  <div class="main" id="screen">
    <div [id]="dragareaid" class="drag-area" oncontextmenu="return false;" dndDropzone (dndDrop)="onDrop($event,$event)" (click)="closemenu()" [ngClass]="{ 'workspace': disable, 'dndDropzoneDisabled': false, 'lightTheme': lightTheme }">
  
      <ng-container *ngFor="let node of nodes; let i = index">
        <div id="{{node.id}}" class="dndDropzone" (mouseover)="openoutputmenu(node)" (dblclick)="formNodeFunc(node)" (contextmenu)="onRightClick(node, $event,i);$event.prevent" [ngStyle]="{'left': node.x, 'top' : node.y, 'background-image' :  'url(' + node.path + ')' }">
            <span *ngIf="node.name!='START' && node.name !='STOP'" class="node-delete" (click)="deletenode(node)">x</span>
            <div class="connector-name" *ngIf="node.selectedNodeTask==''">{{node.name}} </div>
            <div class="connector-name" *ngIf="node.selectedNodeTask!=''">{{node.selectedNodeTask}}</div>

            <div *ngIf="selectedNode.id==node.id && optionsVisible" class="node_tooltip">
                <nav id="context-menu" class="context-menu contextmenu">
                    <div class="context-menu1">
                        <div class="context-menu__item" *ngFor="let menu of stud">
                            <a class="context-menu__link" id="{{menu.name}}" (click)="callFunction(menu,node)" data-action="View">{{menu.name}}</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div [id]="'output_'+node.id" *ngIf="finalbot.botId!=undefined && node.selectedNodeTask=='Output Box' && (node | Checkoutputbox : finalbot) " style="display:none" class="node_tooltip">
                <nav id="context-menu" class="context-menu contextmenu">
                    <div class="context-menu1">
                        <div class="context-menu__item">
                            <a class="context-menu__link" (click)="outputbox(node, outputboxModalRef)" data-action="View">Open Output Box
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
      </ng-container>
      <div *ngIf="nodes.length==0" class="dragactionsdiv">        
            <img src="../../../../assets/images/RPA/icon_latest/dragdrop.svg" />
            <span>Drag an action here...</span>
    </div>
    </div>
  </div>
    <div *ngIf="hiddenPopUp" class="rpa-modal dynamic-forms-modal" style="display: block;">
      <div class="rpa-modal-content">
          <div class="rpa-modal-header">
            <span class="rpa-modal-close" (click)="closeFun()"><img src="../../../../assets/images/RPA/icon_latest/close.svg" alt=""></span>
            <h4>{{formHeader}}</h4>
          </div>
          <div class="modal-body actions-mbody"  *ngIf="form_change">

            <app-dynamic-forms [fields]="getFields()" (onSubmit)="onFormSubmit($event)"></app-dynamic-forms>
              
          </div>
      </div>
  </div>

<ng-template #outputboxModalRef>
  <div [id]="outputboxid">
        <div  class="modal-header modelprhead">            
            <h4 class="modal-title pull-left">
                <span *ngIf="outputboxresult!=undefined" class="module-back-button" (click)="outputlayoutback()">
                    <i class="fas fa-arrow-left" aria-hidden="true"></i>
                </span>
                Output Box
            </h4>
            <button (click)="closeoutputbox();modalRef.hide()" class="close pull-right">
                <span>
                    <img src="../../../../assets/images/Projects/circle-close.svg" alt="">
                </span>  
            </button>          
        </div>
        <div class="modal-body modelprbody">

            <div class="row" *ngIf="outputboxresult==undefined">

                <div class="col-md-12 form-group" >                        
                    <select class="form-control" [(ngModel)]="SelectedOutputType">
                        <option value="">--Select View Type--</option>
                        <option value="Table">Table</option>
                        <option value="Text">Text</option>
                        <option value="Image">Image</option>
                    </select>            
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary eiap-btn" style="float: right" (click)="getoutput()">Submit</button>
                </div>

            </div>

            <div class="row" *ngIf="SelectedOutputType=='Table' && outputboxresult!=undefined">
                <!-- <div class="col-md-12">
                    <button class="btn btn-primary eiap-btn" style="float: right" (click)="outputlayoutback()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> back
                    </button>
                </div> -->
                <div class="col-md-12">
                    <table class="table logs-table">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of outputboxresult">
                                <td>{{result.Key}}</td>
                                <td>{{result.Value}}</td>
                            </tr>
                            <tr *ngIf="outputboxresult.length==0">
                                <td colspan=2 style='text-align: center'>No Records Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                   
            </div>

            <div class="row" *ngIf="SelectedOutputType=='Text' && outputboxresult!=undefined">
                <!-- <div class="col-md-12">
                    <button style="float: right" class="btn btn-primary eiap-btn" data-placement="bottom" tooltip="Back" (click)="outputlayoutback()">
                        <i class="fa fa-arrow-left"></i>&nbsp;back
                    </button>
                </div> -->
                <div class="col-md-12 form-group">
                    <textarea [id]="'text_'+outputboxid" disabled class="form-control" rows="6" style="resize:none;"></textarea>                       
                </div>
            </div>

            <div class="row" *ngIf="SelectedOutputType=='Image' && outputboxresult!=undefined">
                <div class="col-md-12">
                    <a [href]="Image" download data-placement="bottom" tooltip="Download" style="float: right;margin-bottom: 5px;">
                        <img src="../../../../assets/images/Projects/Download.svg" class="testplus">
                    </a>
                     <!-- <button class="btn btn-primary eiap-btn" style="float: right" (click)="outputlayoutback()">
                         <i class="fa fa-arrow-left" aria-hidden="true"></i> back
                     </button> -->                    
                </div>
                
                <div class="col-md-12 text-center">
                    <img [src]="Image" style="filter: none;height:400px;">
                </div>
            </div>

        </div>
        
    </div>
</ng-template>

  <div id="recordandplay" class="rpa-modal">
      <div class="rpa-modal-content">
          <div class="rpa-modal-header">
              <span class="rpa-modal-close" (click)="close_record_play()"><img src="../../../../assets/images/RPA/icon_latest/close.svg" alt=""></span>
              <h4>Web Automation - Record and Play</h4>
          </div>
          <div class="modal-body">
            <form>
                <div class="container m-contanier form-body" *ngIf="recordedcode==undefined">
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control">Url</label>
                        <input type='url' [(ngModel)]="rp_url" class="form-control">
                    </div>
                    <div class="col-md-12 p-0 form-group">
                        <label class="label-control"></label>
                        <textarea id="record_n_play" name='codeSnippet' [(ngModel)]="finalcode" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-footer" style="right:0px;">
                    <button class='btn btn-default' [disabled]="rp_url == undefined" (click)="recording('start')">Start Recording</button>
                    <button class='btn btn-primary' (click)="recording('stop')">Stop Recording</button>
                    <button class="btn btn-primary" (click)="submitcode()">Save code</button>
                </div>
            </form>
              <!-- <div class="container" *ngIf="recordedcode==undefined">
                  <br>
                  <b>Url</b>
                  <input type='url' [(ngModel)]="rp_url" class="form-control">
                  <br>
                  <button class='btn btn-primary' [disabled]="rp_url == undefined" (click)="recording('start')">Start Recording</button>
                  <button class='btn btn-primary' (click)="recording('stop')">Stop Recording</button><br><br>

                  <textarea id="record_n_play" name='codeSnippet' [(ngModel)]="finalcode" style="width:100%;height:250px;"></textarea>
                  <button class="btn btn-primary" (click)="submitcode()">Save code</button>

              </div> -->
          </div>
      </div>
  </div>

  <!--

    --------For Credentials Modal Popup---------

   <ng-template #template class="credentialmodal">
    <div id="createcredentials" class="modal-header">
        <div><h3 class="modal-title pull-left" style="padding:7px">Create Credentials</h3></div>
            <button type="button" style="padding:7px" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <form [formGroup]="insertForm" (ngSubmit)="savedata()">
            <div class="row">
                <div class="col-md-4 formelement">
                    <label for="userName">Email<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="userName" #userName value="" placeholder="Enter Email">
                    <span *ngIf="(insertForm.get('userName').invalid && insertForm.get('userName').touched) && !insertForm.controls['userName'].hasError('maxlength')" style="color:red" class="errspan required">Email Required*</span>
                    <div *ngIf="insertForm.controls['userName'].hasError('maxlength')" style="color:red" class="errspan required">
                        Maximum of 50 characters
                    </div>
                </div>
                
                <div class="col-md-4 formelement">
                    <label for="password">Password<span style="color:red">*</span></label>
                    <input [type]="passwordtype1 ? 'text': 'password'" maxlength="51" class="form-control" formControlName="password" value="" placeholder="Enter Password" passwordToggle>
                    <span *ngIf="passwordtype1==false" class="fa fa-fw fa-eye field-icon" (click)="passwordtype1 =!passwordtype1"></span>
                    <span *ngIf="passwordtype1==true" class="fa fa-fw fa-eye-slash field-icon" (click)="passwordtype1 =!passwordtype1"></span>
    
                    <span *ngIf="(insertForm.get('password').invalid && insertForm.get('password').touched) && !insertForm.controls['password'].hasError('maxlength')" style="color:red" class="errspan required"> Password Required*</span>
                    <div *ngIf="insertForm.controls['password'].hasError('maxlength')" style="color:red" class="errspan required">
                        Maximum of 50 characters
                    </div> 
                </div>

                <div class="col-md-4 formelement">
                    <label for="serverName">Mail Server<span style="color:red">*</span></label>
                    <select class="form-control" formControlName="serverName">
                        <option value="" [selected]="true">--Select Mail Server--</option>
                        <option value="Office365">Office365</option>
                        <option value="G-mail">G-mail</option>            
                      </select>
                    <span *ngIf="insertForm.get('serverName').invalid && insertForm.get('serverName').touched" style="color:red" class="errspan required"> Server Type Required*</span>
                </div>
      
              
            </div>
            <div class="row">  
                <div class="col-md-4 formelement">
                    <label for="inBoundAddress">In Bound Address<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="inBoundAddress" #inBoundAddress value="" placeholder="Enter In Bound Address">
                    <span *ngIf="(insertForm.get('inBoundAddress').invalid && insertForm.get('inBoundAddress').touched) && !insertForm.controls['inBoundAddress'].hasError('maxlength')" style="color:red" class="errspan required">In Bound Address is required*</span>
                    <div *ngIf="insertForm.controls['inBoundAddress'].hasError('maxlength')" style="color:red" class="errspan required">
                        Maximum of 50 characters
                    </div>
                </div>

                <div class="col-md-4 formelement">
                    <label for="inBoundAddressPort">In Bound Address Port<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="inBoundAddressPort" #inBoundAddressPort value="" placeholder="Enter In Bound Address Port">
                    <span *ngIf="(insertForm.get('inBoundAddressPort').invalid && insertForm.get('inBoundAddressPort').touched) && !insertForm.controls['inBoundAddressPort'].hasError('maxlength')" style="color:red" class="errspan required">In Bound Address Port is required*</span>
                    <div *ngIf="insertForm.controls['inBoundAddressPort'].hasError('maxlength')" style="color:red" class="errspan required">
                        Maximum of 50 characters
                    </div>
                </div>

                <div class="col-md-4 formelement">
                    <label for="outBoundAddress">Out Bound Address<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="outBoundAddress" #outBoundAddress value="" placeholder="Enter Out Bound Address">
                    <span *ngIf="(insertForm.get('outBoundAddress').invalid && insertForm.get('outBoundAddress').touched) && !insertForm.controls['outBoundAddress'].hasError('maxlength')" style="color:red" class="errspan required">Out Bound Address is required*</span>
                    <div *ngIf="insertForm.controls['outBoundAddress'].hasError('maxlength')" style="color:red" class="errspan required">
                        Maximum of 50 characters
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-4 formelement">
                    <label for="outboundAddressPort">Out Bound Address Port<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="outboundAddressPort" #outboundAddressPort value="" placeholder="Enter Out Bound Address Port">
                    <span *ngIf="(insertForm.get('outboundAddressPort').invalid && insertForm.get('outboundAddressPort').touched) && !insertForm.controls['outboundAddressPort'].hasError('maxlength')" style="color:red" class="errspan required">Out Bound Address Port is required*</span>
                    <div *ngIf="insertForm.controls['outboundAddressPort'].hasError('maxlength')" style="color:red" class="errspan required">
                        Maximum of 50 characters
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 formelement">
                    
                </div>
            </div>
            <input type="button" class="btn btn-primary" value="Save" (click)="saveCredentials()" [disabled]="insertForm.invalid || submitted">
            <input type="button" class="btn btn-primary" value="Reset" (click)="resetCredForm()">
        </form>
        <br> <br>
        </div>
      </div>
    </ng-template> -->

    <div id="createcredentials" class="rpa-modal">
        <div class="rpa-modal-content">
            <div class="rpa-modal-header">
                <!-- <span class="rpa-modal-close" (click)="closecredentials()">&times;</span> -->
                <div class="formelement">
                <button (click)="back()" >
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  </button>
                    <span class="h4">Create Credentials</span>
                </div>
            </div>
         
            <div class="modal-body actions-mbody">
                <form [formGroup]="insertForm" (ngSubmit)="savedata()">
                    <!-- <div class="row"> -->
                        <div class="formelement">
                            <label for="userName">Email<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control data" formControlName="userName" #userName value=""
                            pattern="^\S*[@]\S*[.]\S*$" placeholder="Enter Email">
                            <span *ngIf="(insertForm.get('userName').invalid && insertForm.get('userName').touched) && !insertForm.controls['userName'].hasError('maxlength')"  class="errspan required">Email Required*</span>
                            <span *ngIf="insertForm.controls['userName'].hasError('pattern')"  class="errspan required">Enter valid email address</span>
                            <div *ngIf="insertForm.controls['userName'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>
                        
                        <div class=" formelement">
                            <label for="password">Password<span class="star">*</span></label>
                            <input [type]="passwordtype1 ? 'text': 'password'" maxlength="51" class="form-control" formControlName="password" value="" placeholder="Enter Password" passwordToggle>
                            <span *ngIf="passwordtype1==false" (click)="passwordtype1 =!passwordtype1"  class="pdicon">
                                <img src="../../../../../assets/images/Projects/eye-show.svg"  class="testplus1">
                            </span>
                            <span *ngIf="passwordtype1==true" (click)="passwordtype1 =!passwordtype1"  class="pdicon">
                                <img src="../../../../../assets/images/Projects/eye-hide.svg"  class="testplus1">
                            </span>

                            <span *ngIf="(insertForm.get('password').invalid && insertForm.get('password').touched) && !insertForm.controls['password'].hasError('maxlength')"  class="errspan required"> Password Required*</span>
                            <div *ngIf="insertForm.controls['password'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div> 
                        </div>
              
                        <div class=" formelement">
                            <label for="serverName">Mail Server<span class="star">*</span></label>
                            <select class="form-control" formControlName="serverName">
                                <option value="" [selected]="true">--Select Mail Server--</option>
                                <option value="Office365">Office365</option>
                                <option value="G-mail">G-mail</option>            
                              </select>
                            <span *ngIf="insertForm.get('serverName').invalid && insertForm.get('serverName').touched"  class="errspan required"> Server Type Required*</span>
                        </div>

                        <div class=" formelement">
                            <label for="inBoundAddress">In Bound Address<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control data" formControlName="inBoundAddress" #inBoundAddress value="" placeholder="Enter In Bound Address">
                            <span *ngIf="(insertForm.get('inBoundAddress').invalid && insertForm.get('inBoundAddress').touched) && !insertForm.controls['inBoundAddress'].hasError('maxlength')"  class="errspan required">In Bound Address is required*</span>
                            <div *ngIf="insertForm.controls['inBoundAddress'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>
                  <!-- </div> 

                  <div class="row"> -->
                        <div class=" formelement">
                            <label for="inBoundAddressPort">In Bound Address Port<span class="star">*</span></label>
                            <input type="text" (keydown)="inputNumberOnly($event)" maxlength="6" class="form-control data" formControlName="inBoundAddressPort" #inBoundAddressPort value="" placeholder="Enter In Bound Address Port">
                            <span *ngIf="(insertForm.get('inBoundAddressPort').invalid && insertForm.get('inBoundAddressPort').touched) && !insertForm.controls['inBoundAddressPort'].hasError('maxlength')"  class="errspan required">In Bound Address Port is required*</span>
                            <div *ngIf="insertForm.controls['inBoundAddressPort'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>

                        <div class=" formelement">
                            <label for="outBoundAddress">Out Bound Address<span class="star">*</span></label>
                            <input type="text" maxlength="51" class="form-control data" formControlName="outBoundAddress" #outBoundAddress value="" placeholder="Enter Out Bound Address">
                            <span *ngIf="(insertForm.get('outBoundAddress').invalid && insertForm.get('outBoundAddress').touched) && !insertForm.controls['outBoundAddress'].hasError('maxlength')"  class="errspan required">Out Bound Address is required*</span>
                            <div *ngIf="insertForm.controls['outBoundAddress'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>

                        <div class=" formelement">
                            <label for="outboundAddressPort">Out Bound Address Port<span class="star">*</span></label>
                            <input type="text" (keydown)="inputNumberOnly($event)" maxlength="6" class="form-control data" formControlName="outboundAddressPort" #outboundAddressPort value="" placeholder="Enter Out Bound Address Port">
                            <span *ngIf="(insertForm.get('outboundAddressPort').invalid && insertForm.get('outboundAddressPort').touched) && !insertForm.controls['outboundAddressPort'].hasError('maxlength')"  class="errspan required">Out Bound Address Port is required*</span>
                            <div *ngIf="insertForm.controls['outboundAddressPort'].hasError('maxlength')"  class="errspan required">
                                Maximum of 50 characters
                            </div>
                        </div>

                        
                      
                    <!-- </div>
                    <div class="row">  
                        
                        
                    </div> -->
                        <div class=" formelement">
                            <input type="button" class="btn btn-primary" value="Save" (click)="saveCredentials()" [disabled]="insertForm.invalid || submitted">
                            &nbsp;&nbsp;
                            <input type="button" class="btn btn-primary" value="Reset"  (click)="resetCredForm()">
                        </div>
                   
                    
                </form>
            </div>
        </div>
    </div>