
  <div class="main" id="screen">
    <div [id]="dragareaid" class="drag-area" dndDropzone (dndDrop)="onDrop($event,$event)" (click)="closemenu()" [ngClass]="{ 'workspace': disable, 'dndDropzoneDisabled': false, 'lightTheme': lightTheme }">
  
      <ng-container *ngFor="let node of nodes; let i = index">
        <div id="{{node.id}}" class="dndDropzone" (mouseover)="openoutputmenu(node)" (dblclick)="formNodeFunc(node)" (contextmenu)="onRightClick(node, $event,i);$event.prevent" [ngStyle]="{'left': node.x, 'top' : node.y, 'background-image' :  'url(' + node.path + ')' }">
            <span *ngIf="node.name!='START' && node.name !='STOP'" class="node-delete" (click)="deletenode(node)">x</span>
            <div class="connector-name" *ngIf="node.selectedNodeTask==''">{{node.name}} </div>
            <div class="connector-name" *ngIf="node.selectedNodeTask!=''">{{node.selectedNodeTask}}</div>

            <div *ngIf="selectedNode.id==node.id && optionsVisible" class="node_tooltip">
                <nav id="context-menu" class="context-menu contextmenu">
                    <div class="context-menu1">
                        <div class="context-menu__item" *ngFor="let menu of stud">
                            <a class="context-menu__link" id="{{menu.name}}" (click)="callFunction(menu,node)" data-action="View">{{menu.name}}</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div [id]="'output_'+node.id" *ngIf="finalbot.botId!=undefined && node.selectedNodeTask=='Output Box' && (node | Checkoutputbox : finalbot) " style="display:none" class="node_tooltip">
                <nav id="context-menu" class="context-menu contextmenu">
                    <div class="context-menu1">
                        <div class="context-menu__item">
                            <a class="context-menu__link" (click)="outputbox(node)" data-action="View">Open Output Box
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
      </ng-container>
      <div *ngIf="nodes.length==0" style="text-align: center;"><span stye="top:50%;">Drag an action here...</span></div>
    </div>
  </div>
    <div *ngIf="hiddenPopUp" class="rpa-modal" style="display: block;">
      <div class="rpa-modal-content">
          <div class="rpa-modal-header" style="padding: 8px; font-weight:600">
              {{formHeader}}
              <span class="rpa-modal-close" style="margin-top: -8px;" (click)="closeFun()">&times;</span>
          </div>
          <div class="rpa-modal-body"><br>
              <div class="container">
                  <app-dynamic-forms [fields]="getFields()" (onSubmit)="onFormSubmit($event)"></app-dynamic-forms>
              </div>
          </div>
          <br>
      </div>
  </div>


  <div [id]="outputboxid" class="rpa-modal">
    <div class="rpa-modal-content">
        <div class="rpa-modal-header">
            <span class="rpa-modal-close" (click)="closeoutputbox()">&times;</span>
            <h4>Output Box</h4>
        </div>
        <div class="rpa-modal-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                    </div>

                    <div class="col-md-4" *ngIf="outputboxresult==undefined">
                        <br><br>
                        <select class="form-control" [(ngModel)]="SelectedOutputType">
                  <option value="">--Select View Type--</option>
                  <option value="Table">Table</option>
                  <option value="Text">Text</option>
                  <option value="Image">Image</option>
                </select><br>
                        <button class="btn btn-primary eiap-btn" style="float: right" (click)="getoutput()">Submit</button>

                        <br><br>
                    </div>
                    <div class="col-md-4">

                    </div>

                </div>

                <div class="row py-4" *ngIf="SelectedOutputType=='Table' && outputboxresult!=undefined">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="height:300px; overflow-x:auto">

                        <table class="table">
                            <thead>
                                <th>Key</th>
                                <th>Value</th>
                            </thead>
                           
                                <tr *ngFor="let result of outputboxresult">
                                    <td>{{result.Key}}</td>
                                    <td>{{result.Value}}</td>
                                </tr>
                                <tr *ngIf="outputboxresult.length==0" colspan=2>
                                    <td style='text-align: center'>No Records Found</td>
                                </tr>
                            
                        </table>
                        <br>
                        <button class="btn btn-primary eiap-btn" style="float: right" (click)="outputlayoutback()"><i class="fa fa-arrow-left" aria-hidden="true"></i> back</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row" *ngIf="SelectedOutputType=='Text' && outputboxresult!=undefined">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                    
                        <br>
                        <!-- <div [id]="'text_'+outputboxid" style="height:300px;width:100%; overflow-x:auto">

                        </div> -->
                            <textarea [id]="'text_'+outputboxid" disabled class="outputtextareastyle"></textarea>
                        <br>
                        <button style="float: right" class="btn btn-primary eiap-btn" data-placement="bottom" tooltip="Back" (click)="outputlayoutback()"><i class="fa fa-arrow-left"></i>&nbsp;back</button>
            
                        <br>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row" *ngIf="SelectedOutputType=='Image' && outputboxresult!=undefined">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                      <br><br>
                        <img [src]="Image" style="filter: none;height:400px;"><br><br>
                        <a [href]="Image" download><img src="../../../../assets/downloadimage.svg" style="filter: none; width: 40px;"></a>
                        <button class="btn btn-primary eiap-btn" style="float: right" (click)="outputlayoutback()"><i class="fa fa-arrow-left" aria-hidden="true"></i> back</button>

                        <br>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>

        </div>
        <br><br>
    </div>
</div>


  <div id="recordandplay" class="rpa-modal">
      <div class="rpa-modal-content">
          <div class="rpa-modal-header">
              <span class="rpa-modal-close" (click)="close_record_play()">&times;</span>
              <h4>Web Automation - Record and Play</h4>
          </div>
          <div class="rpa-modal-body">

              <div class="container" *ngIf="recordedcode==undefined">
                  <br>
                  <b>Url</b>
                  <input type='url' [(ngModel)]="rp_url" class="form-control">
                  <br>
                  <button class='btn btn-primary' [disabled]="rp_url == undefined" (click)="recording('start')">Start Recording</button>
                  <button class='btn btn-primary' (click)="recording('stop')">Stop Recording</button><br><br>

                  <textarea id="record_n_play" name='codeSnippet' [(ngModel)]="finalcode" style="width:100%;height:250px;"></textarea>
                  <button class="btn btn-primary" (click)="submitcode()">Save code</button>

              </div>
          </div>
      </div>
  </div>

  <!--

    --------For Credentials Modal Popup---------

   <ng-template #template class="credentialmodal">
    <div id="createcredentials" class="modal-header">
        <div><h3 class="modal-title pull-left" style="padding:7px">Create Credentials</h3></div>
            <button type="button" style="padding:7px" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <form [formGroup]="insertForm" (ngSubmit)="savedata()">
            <div class="row">
                <div class="col-md-4 formelement">
                    <label for="userName">Email<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="userName" #userName value="" placeholder="Enter Email">
                    <span *ngIf="(insertForm.get('userName').invalid && insertForm.get('userName').touched) && !insertForm.controls['userName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Email Required*</span>
                    <div *ngIf="insertForm.controls['userName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                        Maximum of 50 characters
                    </div>
                </div>
                
                <div class="col-md-4 formelement">
                    <label for="password">Password<span style="color:red">*</span></label>
                    <input [type]="passwordtype1 ? 'text': 'password'" maxlength="51" class="form-control" formControlName="password" value="" placeholder="Enter Password" passwordToggle>
                    <span *ngIf="passwordtype1==false" class="fa fa-fw fa-eye field-icon" (click)="passwordtype1 =!passwordtype1"></span>
                    <span *ngIf="passwordtype1==true" class="fa fa-fw fa-eye-slash field-icon" (click)="passwordtype1 =!passwordtype1"></span>
    
                    <span *ngIf="(insertForm.get('password').invalid && insertForm.get('password').touched) && !insertForm.controls['password'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan"> Password Required*</span>
                    <div *ngIf="insertForm.controls['password'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                        Maximum of 50 characters
                    </div> 
                </div>

                <div class="col-md-4 formelement">
                    <label for="serverName">Mail Server<span style="color:red">*</span></label>
                    <select class="form-control" formControlName="serverName">
                        <option value="" [selected]="true">--Select Mail Server--</option>
                        <option value="Office365">Office365</option>
                        <option value="G-mail">G-mail</option>            
                      </select>
                    <span *ngIf="insertForm.get('serverName').invalid && insertForm.get('serverName').touched" style="color:red" class="fa fa-info-circle errspan"> Server Type Required*</span>
                </div>
      
              
            </div>
            <div class="row">  
                <div class="col-md-4 formelement">
                    <label for="inBoundAddress">In Bound Address<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="inBoundAddress" #inBoundAddress value="" placeholder="Enter In Bound Address">
                    <span *ngIf="(insertForm.get('inBoundAddress').invalid && insertForm.get('inBoundAddress').touched) && !insertForm.controls['inBoundAddress'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">In Bound Address is required*</span>
                    <div *ngIf="insertForm.controls['inBoundAddress'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                        Maximum of 50 characters
                    </div>
                </div>

                <div class="col-md-4 formelement">
                    <label for="inBoundAddressPort">In Bound Address Port<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="inBoundAddressPort" #inBoundAddressPort value="" placeholder="Enter In Bound Address Port">
                    <span *ngIf="(insertForm.get('inBoundAddressPort').invalid && insertForm.get('inBoundAddressPort').touched) && !insertForm.controls['inBoundAddressPort'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">In Bound Address Port is required*</span>
                    <div *ngIf="insertForm.controls['inBoundAddressPort'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                        Maximum of 50 characters
                    </div>
                </div>

                <div class="col-md-4 formelement">
                    <label for="outBoundAddress">Out Bound Address<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="outBoundAddress" #outBoundAddress value="" placeholder="Enter Out Bound Address">
                    <span *ngIf="(insertForm.get('outBoundAddress').invalid && insertForm.get('outBoundAddress').touched) && !insertForm.controls['outBoundAddress'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Out Bound Address is required*</span>
                    <div *ngIf="insertForm.controls['outBoundAddress'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                        Maximum of 50 characters
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-4 formelement">
                    <label for="outboundAddressPort">Out Bound Address Port<span style="color:red">*</span></label>
                    <input type="text" maxlength="51" class="form-control data" formControlName="outboundAddressPort" #outboundAddressPort value="" placeholder="Enter Out Bound Address Port">
                    <span *ngIf="(insertForm.get('outboundAddressPort').invalid && insertForm.get('outboundAddressPort').touched) && !insertForm.controls['outboundAddressPort'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Out Bound Address Port is required*</span>
                    <div *ngIf="insertForm.controls['outboundAddressPort'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                        Maximum of 50 characters
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 formelement">
                    
                </div>
            </div>
            <input type="button" class="btn btn-primary" value="Save" (click)="saveCredentials()" [disabled]="insertForm.invalid || submitted">
            <input type="button" class="btn btn-primary" value="Reset" (click)="resetCredForm()">
        </form>
        <br> <br>
        </div>
      </div>
    </ng-template> -->

    <div id="createcredentials" class="rpa-modal">
        <div class="rpa-modal-content">
            <div class="rpa-modal-header">
                <!-- <span class="rpa-modal-close" (click)="closecredentials()">&times;</span> -->
                <h4>Create Credentials</h4>
            </div>
            <div class="back-container">
            <button (click)="back()" tooltip="Back" style='margin-top:10px;margin-left: 97%;'>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </button>
              </div>
            <div class="container">
                <form [formGroup]="insertForm" (ngSubmit)="savedata()">
                    <div class="row">
                        <div class="col-md-3 formelement">
                            <label for="userName">Email<span style="color:red">*</span></label>
                            <input type="text" maxlength="51" class="form-control data" formControlName="userName" #userName value=""
                            pattern="^\S*[@]\S*[.]\S*$" placeholder="Enter Email">
                            <span *ngIf="(insertForm.get('userName').invalid && insertForm.get('userName').touched) && !insertForm.controls['userName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Email Required*</span>
                            <span *ngIf="insertForm.controls['userName'].hasError('pattern')" style="color:red" class="fa fa-info-circle errspan">Enter valid email address</span>
                            <div *ngIf="insertForm.controls['userName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                Maximum of 50 characters
                            </div>
                        </div>
                        
                        <div class="col-md-3 formelement">
                            <label for="password">Password<span style="color:red">*</span></label>
                            <input [type]="passwordtype1 ? 'text': 'password'" maxlength="51" class="form-control" formControlName="password" value="" placeholder="Enter Password" passwordToggle>
                            <span *ngIf="passwordtype1==false" class="fa fa-fw fa-eye field-icon" (click)="passwordtype1 =!passwordtype1"></span>
                            <span *ngIf="passwordtype1==true" class="fa fa-fw fa-eye-slash field-icon" (click)="passwordtype1 =!passwordtype1"></span>

                            <span *ngIf="(insertForm.get('password').invalid && insertForm.get('password').touched) && !insertForm.controls['password'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan"> Password Required*</span>
                            <div *ngIf="insertForm.controls['password'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                Maximum of 50 characters
                            </div> 
                        </div>
              
                        <div class="col-md-3 formelement">
                            <label for="serverName">Mail Server<span style="color:red">*</span></label>
                            <select class="form-control" formControlName="serverName">
                                <option value="" [selected]="true">--Select Mail Server--</option>
                                <option value="Office365">Office365</option>
                                <option value="G-mail">G-mail</option>            
                              </select>
                            <span *ngIf="insertForm.get('serverName').invalid && insertForm.get('serverName').touched" style="color:red" class="fa fa-info-circle errspan"> Server Type Required*</span>
                        </div>

                        <div class="col-md-3 formelement">
                            <label for="inBoundAddress">In Bound Address<span style="color:red">*</span></label>
                            <input type="text" maxlength="51" class="form-control data" formControlName="inBoundAddress" #inBoundAddress value="" placeholder="Enter In Bound Address">
                            <span *ngIf="(insertForm.get('inBoundAddress').invalid && insertForm.get('inBoundAddress').touched) && !insertForm.controls['inBoundAddress'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">In Bound Address is required*</span>
                            <div *ngIf="insertForm.controls['inBoundAddress'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                Maximum of 50 characters
                            </div>
                        </div>
                  </div> 

                  <div class="row">
                        <div class="col-md-3 formelement">
                            <label for="inBoundAddressPort">In Bound Address Port<span style="color:red">*</span></label>
                            <input type="text" (keydown)="inputNumberOnly($event)" maxlength="6" class="form-control data" formControlName="inBoundAddressPort" #inBoundAddressPort value="" placeholder="Enter In Bound Address Port">
                            <span *ngIf="(insertForm.get('inBoundAddressPort').invalid && insertForm.get('inBoundAddressPort').touched) && !insertForm.controls['inBoundAddressPort'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">In Bound Address Port is required*</span>
                            <div *ngIf="insertForm.controls['inBoundAddressPort'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                Maximum of 50 characters
                            </div>
                        </div>

                        <div class="col-md-3 formelement">
                            <label for="outBoundAddress">Out Bound Address<span style="color:red">*</span></label>
                            <input type="text" maxlength="51" class="form-control data" formControlName="outBoundAddress" #outBoundAddress value="" placeholder="Enter Out Bound Address">
                            <span *ngIf="(insertForm.get('outBoundAddress').invalid && insertForm.get('outBoundAddress').touched) && !insertForm.controls['outBoundAddress'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Out Bound Address is required*</span>
                            <div *ngIf="insertForm.controls['outBoundAddress'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                Maximum of 50 characters
                            </div>
                        </div>

                        <div class="col-md-3 formelement">
                            <label for="outboundAddressPort">Out Bound Address Port<span style="color:red">*</span></label>
                            <input type="text" (keydown)="inputNumberOnly($event)" maxlength="6" class="form-control data" formControlName="outboundAddressPort" #outboundAddressPort value="" placeholder="Enter Out Bound Address Port">
                            <span *ngIf="(insertForm.get('outboundAddressPort').invalid && insertForm.get('outboundAddressPort').touched) && !insertForm.controls['outboundAddressPort'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Out Bound Address Port is required*</span>
                            <div *ngIf="insertForm.controls['outboundAddressPort'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                                Maximum of 50 characters
                            </div>
                        </div>

                        
                      
                    </div>
                    <div class="row">  
                        
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3 formelement">
                            <input type="button" class="btn btn-primary" value="Save" (click)="saveCredentials()" [disabled]="insertForm.invalid || submitted">
                            <input type="button" class="btn btn-primary" value="Reset"  (click)="resetCredForm()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 formelement">
                   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>