<div class="module-body">
    <div class="vcm-prop-content h-100">
        <div class="col-md-12 col-lg-12">
            <div class="prop_owner">
                <h4>Process Details</h4>
                <div class="row prop-detcont" *ngIf="isShowAll">
                    <div class="row col-md-12 text-bold workspace-title">
                        <div class="expan-icon"></div>
                        <div class="cell cell2">Level</div>
                        <div class="cell cell3">Category</div>
                        <div class="cell cell4">Process Name</div>
                        <div class="cell cell5">Owner</div>
                        <div class="cell cell6">Description</div>
                        <div class="cell cell7">Actions</div>
                    </div>
                    <div class="row col-md-12 new-bps-grid-data" id="bpmn_list">
                        <mat-accordion>
                            <span *ngFor="let each of displayedRows$ | async ;let i=index;trackBy:loopTrackBy">
                                <span *ngIf="each.children.length > 0" class="has-childlevels">
                                <mat-expansion-panel [(expanded)]="each.xpandStatus" hideToggle>
                                    <mat-expansion-panel-header class="dropdown_icon">
                                        <mat-panel-title>
                                            <div class="row col-md-12 p-0">
                                                <div class="expan-icon">
                                                    <i class="material-icons expand-open">chevron_right</i>
                                                    <i class="material-icons expand-close">expand_less</i>
                                                </div>
                                                <div class="cell cell2">{{each.level === "L1"? "1":"2"}}</div>
                                                <div class="cell cell3">{{each.parent}}</div>
                                                <div class="cell cell4">{{each.title}}</div>
                                                <div class="cell cell5">{{each.processOwner?each.processOwner:'-'}}
                                                </div>
                                                <div class="cell cell6">{{each.description?each.description:'-'}}</div>
                                                <div class="cell cell7">
                                                    <span class="deleteattachment tsttooltipbtn">
                                                        <a matTooltip="Add">
                                                            <img src="../../../../assets/images/VCM/plus-black.svg"
                                                                class="default-img testplus">
                                                            <img src="../../../../assets/images/RPA/icon_latest/new-blue.svg"
                                                                class="hover-img testplus">
                                                        </a>
                                                    </span>
                                                    <span class="deleteattachment tsttooltipbtn"  matTooltip="View">
                                                        <img src="../../../../assets/images/Projects/eye-show.svg"
                                                            class="default-img testplus">
                                                        <img src="../../../../assets/images/Projects/eye-show-blue.svg"
                                                            class="hover-img testplus">
                                                    </span>
                                                </div>
                                            </div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="inner-grid">
                                        <div class="row col-md-12 text-bold workspace-title">
                                            <div class="expan-icon"></div>
                                            <div class="cell cell2">Level23</div>
                                            <div class="cell cell3">Category</div>
                                            <div class="cell cell4">Process Name</div>
                                            <div class="cell cell5">Owner</div>
                                            <div class="cell cell6">Description</div>
                                            <div class="cell cell7">Actions</div>
                                        </div>
                                        <div class="row col-md-12 new-bps-grid-data" id="bpmn_list">
                                            <mat-accordion style="width: 100%;">
                                                <span *ngFor="let item of each.children; let i1=index;trackBy:loopTrackBy">
                                                    <mat-expansion-panel hideToggle [(expanded)]="item.xpandStatus">
                                                        <mat-expansion-panel-header class="dropdown_icon">
                                                            <mat-panel-title>
                                                                <div class="row col-md-12 p-0">
                                                                    <div class="expan-icon">
                                                                        <i class="material-icons expand-open">chevron_right</i>
                                                                        <i class="material-icons expand-close">expand_less</i>
                                                                    </div>
                                                                    <div class="cell cell2">2</div>
                                                                    <div class="cell cell3">{{item.parent}}</div>
                                                                    <div class="cell cell4">{{item.title}}</div>
                                                                    <div class="cell cell5">{{item.processOwner?item.processOwner:'-'}}
                                                                    </div>
                                                                    <div class="cell cell6">{{item.description?item.description:'-'}}</div>
                                                                    <div class="cell cell7">
                                                                        <span class="deleteattachment tsttooltipbtn">
                                                                            <a matTooltip="Add">
                                                                                <img src="../../../../assets/images/VCM/plus-black.svg"
                                                                                    class="default-img testplus">
                                                                                <img src="../../../../assets/images/RPA/icon_latest/new-blue.svg"
                                                                                    class="hover-img testplus">
                                                                            </a>
                                                                        </span>
                                                                        <span class="deleteattachment tsttooltipbtn" matTooltip="View">
                                                                            <img src="../../../../assets/images/Projects/eye-show.svg"
                                                                                class="default-img testplus">
                                                                            <img src="../../../../assets/images/Projects/eye-show-blue.svg"
                                                                                matTooltipPosition="left" class="hover-img testplus">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        
                                                    </mat-expansion-panel>
                                                </span>
                                            </mat-accordion>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                                </span>
                                <span *ngIf="each.children.length == 0"  class="no-childlevels">
                                    <div class="row col-md-12">
                                        <div class="expan-icon"></div>
                                        <div class="cell cell2">{{each.level === "L1"? "1":"2"}}</div>
                                        <div class="cell cell3">{{each.parent}}</div>
                                        <div class="cell cell4">{{each.title}}</div>
                                        <div class="cell cell5">{{each.processOwner?each.processOwner:'-'}}
                                        </div>
                                        <div class="cell cell6">{{each.description?each.description:'-'}}</div>
                                        <div class="cell cell7">
                                            <span class="deleteattachment tsttooltipbtn">
                                                <a matTooltip="Add">
                                                    <img src="../../../../assets/images/VCM/plus-black.svg"
                                                        class="default-img testplus">
                                                    <img src="../../../../assets/images/RPA/icon_latest/new-blue.svg"
                                                        class="hover-img testplus">
                                                </a>
                                            </span>
                                            <span class="deleteattachment tsttooltipbtn" matTooltip="View">
                                                <img src="../../../../assets/images/Projects/eye-show.svg"
                                                    class="default-img testplus">
                                                <img src="../../../../assets/images/Projects/eye-show-blue.svg"
                                                    matTooltipPosition="left" class="hover-img testplus">
                                            </span>
                                        </div>
                                    </div>
                                </span>
                            </span>
                        </mat-accordion>
                    </div>
                </div>

                <div class="row prop-detcont" *ngIf="!isShowAll">
                    <table mat-table [dataSource]="dataSource3" #sort3="matSort" matSort class="PI table w-100">
                        <ng-container matColumnDef="level">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Level </th>
                            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
                        </ng-container>
                        <ng-container matColumnDef="parent">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Category
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.parent}} </td>
                        </ng-container>
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Process Name
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                        <ng-container matColumnDef="processOwner">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Owner</th>
                            <td mat-cell *matCellDef="let element"> {{element.processOwner?element.processOwner:'-'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Description</th>
                            <td mat-cell *matCellDef="let element"> {{element.description?element.description:'-'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="deleteattachment tsttooltipbtn">
                                    <a matTooltip="Add">
                                        <img src="../../../../assets/images/VCM/plus-black.svg"
                                            class="default-img testplus">
                                        <img src="../../../../assets/images/RPA/icon_latest/new-blue.svg"
                                            class="hover-img testplus">
                                    </a>
                                </span>
                                <span class="deleteattachment tsttooltipbtn" matTooltip="View">
                                    <img src="../../../../assets/images/Projects/eye-show.svg"
                                        class="default-img testplus">
                                    <img src="../../../../assets/images/Projects/eye-show-blue.svg"
                                        matTooltipPosition="left" class="hover-img testplus">
                                </span>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns3;" class="pList">
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="prop_docs">
                <div class="row">
                    <div class="col-md-6 p-0">
                        <h4>Documents</h4>
                    </div>
                    <div class="col-md-6 p-0 text-right">
                        <button class="tsttooltipbtn" matTooltip="Download All">
                            <img src="../../../../assets/images/Admin/download-black.svg" class="default-img testplus">
                            <img src="../../../../assets/images/Admin/download-blue.svg" class="hover-img testplus">
                        </button>
                        <button class="tsttooltipbtn" matTooltip="Delete All">
                            <img src="../../../../assets/images/Admin/delete-black.svg" class="testplus default-img" >
                            <img src="../../../../assets/images/Admin/delete-red.svg" class="testplus hover-img" >
                        </button>
                    </div>
                </div>
               
                <div class="prop-doccont">
                    <table mat-table [dataSource]="dataSource" matSort class="PI table w-100">
                        <ng-container matColumnDef="vcmLevel">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">Level </th>
                            <td mat-cell *matCellDef="let element"> {{element.vcmLevel}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fileName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">File Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">Description </th>
                            <td mat-cell *matCellDef="let element"> {{element.description?element.description:'-'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="uploadedBy">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">Uploaded By </th>
                            <td mat-cell *matCellDef="let element"> {{element.uploadedBy}} </td>
                        </ng-container>
                        <ng-container matColumnDef="convertedUploadedTime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">Created By</th>
                            <td mat-cell *matCellDef="let element"> {{element.convertedUploadedTime | date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="deleteattachment tsttooltipbtn" (click)="downloadFile()" >
                                    <a href="data:image/png;base64,{{element.filedata}}" download="{{element.fileName}}" matTooltip="Download">
                                        <img src="../../../../assets/images/Admin/download-black.svg" class="default-img testplus">
                                        <img src="../../../../assets/images/Admin/download-blue.svg" class="hover-img testplus">
                                    </a>
                                </span>
                                <span class="deleteattachment tsttooltipbtn" matTooltip="Delete">
                                    <img src="../../../../assets/images/Admin/delete-black.svg"  class="default-img testplus">
                                    <img src="../../../../assets/images/Admin/delete-red.svg" (click)="ondeleteAttachements(element)" class="hover-img testplus">                                   
                                </span>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="pList"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="spinoverlay" *ngIf="isLoading">
    <div class="spincenter">
        <img src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader" />
    </div>
</div>