.submit button.btn.btn-primary {
    margin-right: 0px !important;
}
.vcm-prop-content {
    padding: 15px 0px 0px;
}
.prop_owner, .prop_docs, .prop_procdef {
    border: 1px solid #e1e7ec;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
    /* height: 245px;
    overflow: hidden; */
}
.prop_docs {
    margin-bottom: 5px !important;
}
.vcm-prop-content h4 {
    color: #001c47;
    margin: 0px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: 600;
    /* border-bottom: 1px solid #e5e5e5; */
}
img {
    cursor: pointer;
}
.proc_deffield textarea {
    width: 95%;
}
.proc_deffield {
    position: relative;
    margin-bottom: 10px;
}
.proc_deffield img.testplus,
.proc_deffield span.procdesc_act {
    position: absolute;
    right: 0px;
    top: 18px;
}
.proc_deffield img.testplus2,
.tsttooltipbtn img.testplus2 {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.procdesc_act span:hover .default-img {
    display: none;
}
.procdesc_act span:hover .hover-img {
    display: initial;
}
span.docpill {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 3px 8px 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
}
span.docpill:hover {
    background-color: #f6f6f6;
}
.docpill img.testplus2 {
    margin-left: 5px;
    width: 10px;
    height: auto;
}
.prop_procdef h3 {
    margin: 0px 0px 5px;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 10px 0px;
}
.prop_procdef {
    padding: 0px !important;
    /* padding-bottom: 10px !important; */
}
.prop_procdef h4 {
    /* background-color: #e8f7fd; */
    padding:10px;
}
.prop_procdef p {
    padding: 5px 10px 0px;
    margin: 0px;
}

.tsttooltipbtn:hover .default-img{
    display: none;
}

.tsttooltipbtn:hover .hover-img {
    display: initial;
}
.tsttooltipbtn a:hover span.testtooltip {
    display: block;
}
button.tsttooltipbtn {
    position: relative;
}
button.tsttooltipbtn:hover span.testtooltip {
    display: block;
}
span.testtooltip {
    position: absolute;
    bottom: 32px;
    right: 0px;
    background-color: #001c47;
    color: #fff;
    width: -moz-max-content;
    width: max-content;
    padding: 6px 10px;
    border-radius: 4px;
    display: none;
    z-index: 2;
}
span.testtooltip:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -4px;
    background-color: #001c47;
    transform: rotate(45deg);
    right: 10px;
}

.new-bps-sample {
    padding: 0px;
}
.new-cockpit {
    display: none;
    float: right !important;
    width: 17%;
}
.box-border {
    border: none;
    border-radius: 0px;
    margin: 10px 0px;
    padding: 0px;
    margin-bottom: 0px;
}
.box-border.myworkspace-style {
    margin:0px;
}

.new-bps-layout {
    overflow: auto;
    height: calc(100% - 50px);
    position:relative;
    padding: 15px 10px;
}

.workspace-title {
    background-color: #e8f7fd;
    padding: 5px 10px !important;
    display: flex;
    width: 100%;
    /* padding-right: 18px !important; */
    align-items: center;
    font-size: 14px;
    color: #00a0e3;
    font-weight: 600;
    /* border-bottom: 1px solid #4a4a4a33 !important; */
    border: none;
    height: 40px;
}

.myworkspace-style .col-md-6 mat-form-field {
    float: right;
    width: 100%;
}
.workspace-title span {
    text-align: left;
    /* padding: 0px 5px; */
    width: 100%;
    display: inline;
    font-weight: 600;
    font-size: 14px;
}
.new-bps-grid-data mat-expansion-panel-header:hover {
    background-color: transparent !important;
}

span.comment {
    padding: 0px !important;
    position: unset !important;
    transform: unset !important;
}
#bpmn_list .row {
    display: flex;
    align-items: center;
}
.bps_overlay div {
    border-radius: 4px;
    height: 450px !important;
}
.new-bps-grid-data .bps_overlay span.info.ng-star-inserted {
    border-radius: 4px;
    padding: 8px 12px;
    top: 50px !important;
    left: 15px;
    width: 100px !important;
    position: absolute;
    text-align: center !important;
}
.bps_overlay .fit_button {
    top: 50px;
    right: 15px;
    position: absolute;
}
.header_addon {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}
.new-bps-grid-data mat-panel-title.mat-expansion-panel-header-title {
    margin: 0px;
    padding: 0px;
    color: inherit !important;
}

.mat-expansion-panel-header {
    padding: 0 0px !important;
    margin: 0px;
    position: relative;
    width: 100%;
}
div#bpmn_list {
    padding: 0px !important;
    height: 70%;
    padding-bottom: 10px;
}

.new-bps-grid-data mat-expansion-panel {
    /* width: 100%; */
    width: 99.87%;
    position: relative;
    padding: 2px 0px !important;
    border-top: 1px solid #dee2e6 !important;
    border: none;
    margin: 0px !important;
}
.pagination {
    padding: 10px;
    float: right;
}


.module-heading-buttons {
    text-align: end;
    padding: 0px;
}

.module-heading-buttons .btn {
    margin-left: 10px;
}
.bps-serwksp img {
    position: absolute;
    top: 10px;
    right: 10px;
}

   
    .workspace-title.header {
        display:table-header-group;
        font-weight:bold;
    }
    .cell {
        width: 100%;
        font-size: 13px;
        white-space: inherit;
        vertical-align: middle;
    }
    .cell span{
        cursor: pointer;
        font-size: 13px;
    }

    .bps-labcls, .bps-serwksp {
        margin-bottom: 8px !important;
    }

    .expan-icon {
        width: 18%;
        color: #5b5b5b;
        opacity: 0.6;
        margin-top: 5px;
    }
    .workspace-title .expan-icon {
        width: 16%;
    }
    .no-item-img{
        height: calc(100vh - 500px)
    }
    .workspace-title .cell, .workspace-title button {
       font-size: 14px !important;
       width: 98%;
    }
    .delete-icon img{
        width: 16px;
        height: 16px;
    }
    .delete-icon:hover img.default-img {
        display: none;
    }
    .delete-icon:hover img.hover-img {
        display: initial;
    }
    .newinntalx:hover img.default-img {
        display: none;
    }
    .newinntalx:hover img.hover-img {
        display: initial;
    }
    .newinntalx img{
        width: 20px;
        padding-left: 3px;
        padding-right: 3px;
    }

/* .prop-doccont {
    height: calc(100vh - 460px) !important;
    overflow: hidden auto;
}
.prop-detcont {
    height: calc(100vh - 400px) !important;
    overflow: hidden auto;
} */
mat-accordion span table.PI.table.w-100.mat-table,
.prop-detcont mat-accordion .has-childlevels .mat-expansion-panel-content.ng-trigger-bodyExpansion {
    margin-left: 3.5% !important;
}

span.no-childlevels div.col-md-12,
span.has-childlevels div.col-md-12 {
    border-top: 1px solid #dee2e6;
    /* width: 100%; */
    width: 99.8%;
    height: 40px;
    padding: 5px 10px !important;
    vertical-align: middle !important;
    font-size: 13px !important;
    text-align: left;
}
.cons_grid_content:hover {
    background-color: #fdf6d4  !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) mat-panel-title,
.mat-expansion-panel.mat-expanded mat-panel-title {
    color: inherit !important;
}

.inner-grid .row.col-md-12.text-bold.workspace-title:hover {
    background-color: #e8f7fd !important;
}
.inner-grid div#bpmn_list {
    margin-bottom: 0px !important;
    border-top: none;
}

.mat-expansion-panel-header:not([aria-expanded=true]) i.material-icons.expand-close {
    display: none;
}
.mat-expansion-panel-header:not([aria-expanded=false]) i.material-icons.expand-open {
    display: none;
}

button.savecbtn .testplus1 {
    margin: 9px 0px;
}
.collab-grid {
    height: calc(100vh - 360px);
    overflow: hidden auto;
}

.level1row {
    background-color: #FDF4BB;
}
.cell.cell7 img.testplus, td img.testplus {
    margin-right: 8px !important;
}
.cell.cell4 {
    margin-right: 15px;
}

.prop_docs .row button.tsttooltipbtn {
    margin-left: 8px;
}

span.testtooltip.celltooltip {
    top: -4px;
    left: -60px;
    bottom: unset;
}
span.testtooltip.celltooltip::after {
    right: -3.9px;
    top: 8px;
}
.actions_header {
    z-index: 1;
}
.inner-grid .l3grid .cons_grid_content {
    height: 38px !important;
}
 
span.has-childlevels mat-expansion-panel.mat-expanded {
    border: 1px solid #00a0e3;
    border-top: none !important;
    border-radius: 4px !important;
}

.new-bps-grid-data mat-expansion-panel span.has-childlevels {
    border-top: none !important;
}
.new-bps-grid-data .inner-grid span.has-childlevels mat-expansion-panel.mat-expansion-panel.mat-expanded {
    border-top: 1px solid #dee2e6 !important;
    border: none;
    width: 100% !important;
    box-shadow: 0px 2px 6px #dbdbdb !important;
    margin-bottom: 8px !important;
}
/* span.no-childlevels div.col-md-12{
    width: 99.87% !important;
} 
span.has-childlevels div.col-md-12{
    width: 100% !important;
}
span.has-childlevels.l3childs div.row.col-md-12.p-0.cons_grid_content {
    padding-right: 0px !important;
} */


/* properties overlay Start */

.vcmprop div#propertiesContainer {
    width: 100%;
    height: calc(100vh - 130px);
    border: none !important;
    box-shadow: none !important;
    overflow: hidden;
}

.vcmprop div#propertiesPanelBody {
    /* height: calc(100% - 40px); */
    position: absolute;
    /* top: 40px; */
    overflow: auto;
    width: 100%;
}

.propertiesContainer mat-expansion-panel {
    background-color: #607088;
    margin: 0px !important;
    border: none !important;
    border-top: 1px solid #ebebeb !important;
    padding: 0px !important;
}

.propertiesContainer mat-expansion-panel-header:hover {
    background-color: #00a0e3;
}

.propertiesContainer .mat-expansion-panel-header-title {
    border: none;
}

.vcmprop .propertiesContainer label.accordionHeader {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 0px;
}

.doc-content {
    height: calc(100vh - 280px);
    width: 100%;
}

.container.p-0.prop-content {
    height: calc(100vh - 280px) !important;
    width: 100%;
}

.editcontent {
    /* height: calc(100vh - 275px); */
    height: calc(100vh - 230px) !important;
}
.propertiesContainer .collab-grid {
    height: calc(100vh - 285px);
}

mat-drawer {
    width: 31%;
}

.close-btn h3 {
    padding: 15px 10px 15px 12px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    color: #fff;
    text-transform:capitalize;
}
.close-btn img {
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 16px;
    filter: brightness(10) grayscale(1) brightness(10);
}

img.addnewIcon {
    position: absolute;
    right: 10px;
    top: 8px;
}

/* properties overlay End */

.cell.cell7 button.tddel img.testplus,
td button.tddel img.testplus {
    margin-right: 0px !important;
}
.cell.cell7 ,
.workspace-title .cell.cell7 {
    width: 25% !important;
}

.rgtpanelopened
.cell.cell2, .rgtpanelopened
 .workspace-title .cell.cell2 {
    width: 40% !important;
    margin-right: 5px;
}
.rgtpanelopened
.cell.cell3 , .rgtpanelopened
.workspace-title .cell.cell3 {
    width: 55% !important;
}
.rgtpanelopened
.cell.cell4 , .rgtpanelopened
.workspace-title .cell.cell4 {
    width: 75% !important;
}
.rgtpanelopened
.cell.cell5 , .rgtpanelopened
.workspace-title .cell.cell5 {
    width: 60% !important;
    margin-right: 5px;
}
.rgtpanelopened .cell.cell6 {
    width: 85% !important;
    margin-right: 5px;
}
.rgtpanelopened .workspace-title .cell.cell6 {
    width: 85% !important;
    margin-right: 5px;
}
.rgtpanelopened .cell.cell7 {
    width: 27% !important;
}
.rgtpanelopened .workspace-title .cell.cell7 {
    width: 24% !important;
}
.rgtpanelopened .new-bps-grid-data mat-expansion-panel {  
     width: 99.7%;
}
.rgtpanelopened .expan-icon {
    width: 16%;
}
.rgtpanelopened .workspace-title .expan-icon {
    width: 15%;
}
.rgtpanelopened .cell {
    line-height: 1.3;
}

.rgtpanelopened span.no-childlevels div.col-md-12,
.rgtpanelopened span.has-childlevels div.col-md-12 {
    padding: 5px 0px 10px 5px !important;
}

span.has-childlevels.l3childs .row.col-md-12.p-0.cons_grid_content {
    border-top: none;
}

.propertiesContainer .collab-grid.viewgrid {
    height: calc(100vh - 230px);
}