<p-splitter [style]="{'height': 'auto'}" [panelSizes]="[70,30]" layout="horizontal" >
   <ng-template pTemplate>
      <div class="container-fluid">
         <div class="col-md-12 pt-5 pb-3 px-3 ">
            <div class="row main-content-head">
               <div class="col-md-4 pl-0">
                  <h3>
                     <span *ngIf="!editDashboardName" class="title_text">{{dashboardData.dashboardName}}</span>
                  </h3>
               </div>
               <div class="col-md-8 pr-0 ">
                  <div class="row">
                     <div class="col-md-8 text-right pr-0">
                        <p-dropdown [options]="cars" [(ngModel)]="selectedCar" [style]="{'width':'220px','height' :'35px'}">
                        <ng-template let-item pTemplate="selectedItem"> 
                           <span >{{item.label}}</span>
                        </ng-template>
                        <ng-template let-car pTemplate="item">
                           <div class="ui-helper-clearfix" style="position: relative;height:25px;">
                              <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                           </div>
                        </ng-template>
                        </p-dropdown>
                     </div>
                     <div class="col-md-4 text-right">
                        <img src="./../../../../assets/images-n/dashboard/plus-square_blue.svg"/>
                        <span class="plus">Create</span>
                        <button class="btn btn-secondary eiap-btn">Configure </button>
                        <button class="btn" type="button" (click)="menu.toggle($event)" class="btn-dots eiap-btn btn-grphs-horztal">
                        <img src="./../../../../assets/images-n/dashboard/horizontaldots.svg" alt="Actions">
                        </button>
                        <p-menu class="actionspopmenu" #menu [popup]="true" [model]="gfg"></p-menu>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 py-3 px-3">
            <div class="row">
               <div *ngFor="let item of dashboardData.metrics" class="col-md-3 sec-2" >
                  <div class="well1-dynmic">
                     <div class="flex-container">
                        <div class="img-div">
                           <img src="..\assets\images-n\dashboard\{{item.src}}" />
                           <i class="pi pi-1 pi-times right overlay-icon" ></i>
                        </div>
                        <div class="new-dynamic">
                           <h3>10</h3>
                           <p>{{item.metric_name}}</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 pb-3 px-3">
            <div class="row">
               <div class="col-md-6 sec-2" >
                  <div class="well1-dynmic graph" >
                     <div class="chart" >
                        <div>
                           <img src="..\assets\images\Projects\add-gadget.svg" />
                        </div>
                        <div>
                           <p class="warning-p">Drag or Add a <span class="metric">Metric</span> to this column </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 sec-2" >
                  <div class="well1-dynmic graph" >
                     <div class="chart">
                        <div>
                           <img src="..\assets\images\Projects\add-gadget.svg"  />
                        </div>
                        <div>
                           <p sclass="warning-p">Drag or Add a <span class="metric">Metric</span> to this column </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 sec-2" >
                  <div class="well1-dynmic graphs-align" >
                     <div class="mt-2">
                        <img src="..\assets\images-n\dashboard\2 line vertical dots.svg" class="vertcl-img"/><span class="h5">Project By Status</span>
                        <button class="btn" type="button" (click)="menu1.toggle($event)" class="btn-dots eiap-btn btn-grphs-horztal">
                        <img src="./../../../../assets/images-n/dashboard/horizontaldots.svg" alt="Actions">
                        </button>
                        <p-menu class="actionspopmenu p-menu-graph" #menu1 [popup]="true" [model]="items"></p-menu>
                     </div>
                     <div class="row">
                        <div class="col-md-12 form-group mb-4 mt-4  bps-labcls">
                           <label>Project Type</label>
                           <div class="row">
                              <div class="col-md-3">
                                 <input class="form-check-input" formControlName="allow_Insert" type="checkbox" name="inlineRadioOptions"
                                    value="option1" />&nbsp;
                                 <label class="label-control" for="screenname" class="check-label">In Progress</label>&nbsp;&nbsp;&nbsp;&nbsp;
                              </div>
                              <div class="col-md-3">
                                 <input class="form-check-input" formControlName="allow_Edit" type="checkbox" name="inlineRadioOptions"
                                    value="option1" />&nbsp;
                                 <label class="label-control" for="screenname" class="check-label">Hold</label>&nbsp;&nbsp;&nbsp;&nbsp;
                              </div>
                              <div class="col-md-3">
                                 <input class="form-check-input" formControlName="allow_Edit" type="checkbox" name="inlineRadioOptions"
                                    value="option1" />&nbsp;
                                 <label class="label-control" for="screenname" class="check-label">Deployed</label>&nbsp;&nbsp;&nbsp;&nbsp;
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 form-group mb-4 bps-labcls">
                           <label>Department</label>
                           <select class="form-control data">
                              <option value="">Engineering</option>
                           </select>
                        </div>
                        <div class="col-md-6 form-group  bps-labcls">
                           <label>Refresh Interval</label>
                           <select class="form-control data">
                              <option value="">30 Min</option>
                           </select>
                        </div>
                        <div class="col-md-6 form-group mb-4 bps-labcls">
                           <label>Department</label>
                           <select class="form-control data">
                              <option value="">Engineering</option>
                           </select>
                        </div>
                        <div class="col-md-6 form-group mb-4 bps-labcls">
                           <label>Refresh Interval</label>
                           <select class="form-control data">
                              <option value="">30 Min</option>
                           </select>
                        </div>
                        <div class="col-md-6 form-group mb-4 bps-labcls">
                           <label>Chart Type</label>
                           <select class="form-control data">
                              <option value="">Pie Chart</option>
                           </select>
                        </div>
                        <div class="col-md-6 form-group mb-4 bps-labcls">
                           <label>Number of Category</label>
                           <input type="text"  placeholder="05" class="form-control"  >
                        </div>
                        <div class="col-md-12">
                           <div class="mt-4 mb-4"  style="float:right">
                              <button class="btn-cancel1">Cancel</button>
                              <button class="btn-save ">Save</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </ng-template>
   </p-splitter>
 <!-- <p-chart type="line" [data]="data" [options]="options"></p-chart> -->