<div class="maincont">  
   <div class="maincont-contentarea">
      <div class="maincontent">
         <div class="row main-content-head align-items-center">
            <div class="col-md-6 pl-0 projectnamerow">
               <p-inplace #inplace (onActivate)="inplaceActivate()" class="dashboard-name">
                     <ng-template pTemplate="display">
                       <h3> <span class="title_text">{{selectedDashBoardName}}</span></h3>
                     </ng-template>
                     
                     <ng-template pTemplate="content">
                         <input type="text" [style]="{'width':'220px'}" pInputText maxlength="50"
                             [(ngModel)]="_dashboardName" (keydown)="Space($event)" />
                         <span class="editfields">
                             <i class="pi pi-check" *ngIf="_dashboardName"
                                 (click)="updateDashboardName()"></i>
                             <i class="pi pi-times " (click)="onDeactivate()"></i>
                         </span>
                     </ng-template>
               </p-inplace>
            </div>
            <div class="col-md-6 pr-0 row justify-content-end align-items-center">                
                  <div class="btn-group defaltdrpdwn" dropdown [insideClick]="true" [autoClose]="true">
                     <button pButton pRipple id="button-basic" dropdownToggle type="button" class="p-button-outlined dropdown-toggle"
                             aria-controls="dropdown-basic">
                           <span>{{selectedDashBoardName}}</span>
                        <img src="../../../../assets/images-n/dashboard/down-arrow.png" class="caret-img" alt="" />                     
                     </button>
                     <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                       <li role="menuitem" *ngFor="let each of dashbordlist">
                        <span (click)="onDropdownChange(each)" class="dname">{{each.dashboardName}}</span>
                        <span *ngIf="!each.defaultDashboard" class="dropdown-icon tsttooltipbtn"  (click)="setDefaultDashboard(each)">
                           <img src="../../../../assets/images-n/dashboard/Vector.svg" alt=""/>
                           <span class="testtooltip">Set as Default Dashoard</span>
                        </span>
                        <span *ngIf="each.defaultDashboard" class="dropdown-icon">
                           <img src="../../../../assets/images-n/dashboard/Filled-Star.svg" alt=""/>
                        </span>
                        </li>
                     </ul>
                  </div>
                  <button (click)="navigateToConfigure()" class="grey-btn configure-pad" tooltipPosition="top">
                     <img src="../../../../assets/images-n/dashboard/configure-grey.svg" alt="Configure" class="imgicon-width"/>
                      <span class="plus">Configure</span> 
                  </button>
                  <button (click)="navigateToCreateDashboard()"   pTooltip="Create Dashboard" tooltipPosition="top" class="grey-btn create-pad"> 
                     <img src="../../../../assets/images-n/dashboard/plus-square_grey.svg" alt="Create" class="imgicon-width" />
                     <!-- <span class="plus">Create</span> -->
                  </button>
               
                  <button (click)="deletedashbord()"  pTooltip="Delete" tooltipPosition="top" class="grey-btn">
                     <img src="../../../../assets/images-n/dashboard/dash-delete-grey.svg" alt="Delete" class="imgicon-width"/>
                  </button>
            </div>
         </div>
     
         <div class="main-content-body">
            <div class="row">
               <div *ngFor="let item of dashboardData.metrics" class="col-md-3 pl-0 pr-24">
                  <div class="well1-dynmic ">
                     <div class="new-dynamic metric-set">
                        <img [src]="'data:image/png;base64,'+item.metricIcon" class="dashbrd-img1" alt=""/>
                        <div>
                        <h3>{{item.metricValue}}</h3>
                        <p>{{item.name}}</p>  
                     </div>                     
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 pl-0 pr-24" *ngFor="let widget of dashboardData.widgets;let i = index">
                  <div class="well1-dynmic graph">

                     <div class="row align-menubtn">
                        <div class="col-10 p-0 d-flex">
                           <img src="./../../../../assets/images-n/dashboard/movable.svg" class="vertcl-img" alt="" /> 
                           <h5 class="graph-text">{{widget.name}}</h5>   
                        </div>
                        <div class="col-2 p-0 text-right">
                           <button class="btn btn-dots widgetactions" type="button" (click)="onOpenConfigOptoons(widget);menu1.toggle($event)" >
                              <img src="./../../../../assets/images-n/dashboard/blackdots.svg" alt="Actions" class="default-img">
                              <img src="./../../../../assets/images-n/dashboard/whitedots.svg" alt="Actions"  class="hover-img">
                           </button>
                           <p-menu class="actionspopmenu p-menu-graph"  #menu1 [popup]="true" (click)="getItemActionDetails($event,widget)" 
                              [model]="items">
                           </p-menu>
                        </div>
                     </div>
                     <div>
                        <div *ngIf="configuration_id != widget.id">
                           <!-- <p-chart [type]="widget.widget_type" class="w-100" [data]="widget.sampleData" height="270" [options]="widget.chartOptions"></p-chart> -->
                           <div *ngIf="widget.widget_type!='table' && widget.widget_type!='Table'" class="graph-set">
                              <p-chart [type]="widget.widget_type| lowercase" class="w-100" [data]="widget.widgetData" height="270" 
                                 [options]="widget.chartOptions"></p-chart>
                           </div>
                           <div *ngIf="widget.widget_type=='table' || widget.widget_type=='Table'">
                              <p-table #myTab [value]="widget.widgetData" responsiveLayout="scroll"  [scrollable]="true" [reorderableColumns]="true"
                              [resizableColumns]="true" >
                                 <ng-template pTemplate="header" let-columns>
                                    <tr>
                                       <th pReorderableColumn pResizableColumn pSortableColumn="name">Name
                                          <p-columnFilter [showAddButton]="false" [showOperator]="false"
                                          matchMode="contains" [showMatchModes]="false" field="name" display="menu"
                                          [showApplyButton]="false">
                                          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                              <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)"
                                                  class="p-inputtext" placeholder="Search">
                                          </ng-template>
                                      </p-columnFilter>
                                           <p-sortIcon field="name"></p-sortIcon>
                                       </th>
                                       <th pReorderableColumn pResizableColumn pSortableColumn="value">
                                          <span *ngIf="widget.name == 'Upcoming Executions'">Next Run</span>
                                          <span *ngIf="widget.name != 'Upcoming Executions'">Users</span>
                                          
                                          <p-columnFilter [showAddButton]="false" [showOperator]="false"
                                          matchMode="contains" [showMatchModes]="false" field="value" display="menu"
                                          [showApplyButton]="false">
                                          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                              <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)"
                                                  class="p-inputtext" placeholder="Search">
                                          </ng-template>
                                      </p-columnFilter>
                                      <!-- <p-columnFilter *ngIf="widget.childId == 4" [showAddButton]="false"
                                          [showOperator]="false" type="date" [showMatchModes]="false" field="value"
                                          display="menu" [showApplyButton]="true">
                                       </p-columnFilter> -->
                                           <p-sortIcon field="value"></p-sortIcon>
                                       </th>
                                    </tr>
                                 </ng-template>
                                 <ng-template pTemplate="body" let-people>
                                    <tr>
                                       <td>{{people.name}}</td>
                                       <td *ngIf="widget.childId != 4">{{people.value}}</td>
                                       <td *ngIf="widget.childId == 4">{{people.value|date: 'MMM d, y, HH:mm'}}</td>
                                    </tr>
                                 </ng-template>
                                 <ng-template pTemplate="emptymessage">
                                    <tr>
                                       <td style="justify-content: center;" colspan="2">No Records Found</td>
                                    </tr>
                                 </ng-template>
                              </p-table>
                           </div>
                           <!-- <div *ngIf="widget.widget_type=='pie'">
                               <p-chart [type]="widget.widget_type" class="w-100" [data]="widget.sampleData" height="270"></p-chart>
                           </div> -->
                   
                           <!-- <div *ngIf="widget.widget_type=='DONUT_WITHOUT_LEGENDS'">
                       
                                 <p-chart type="doughnut" class="w-100" [data]="widget.sampleData" height="270"></p-chart>
                              </div>
                              <div *ngIf="widget.widget_type=='VERTICAL_BAR_CHART'">
                                 <p-chart type="bar" class="w-100" [data]="widget.sampleData" height="245"></p-chart>
                              </div>
                              <div *ngIf="widget.widget_type=='HORIZANTAL_BAR_CHART'">
                                 <p-chart type="bar" class="w-100" [data]="widget.sampleData" [options]="widget.chartOptions"
                                    height="270"></p-chart>
                              </div>
                              <div *ngIf="widget.widget_type=='DONUT_WITH_LEGENDS_CHART'">
                                 <p-chart type="doughnut" class="w-100" [data]="widget.sampleData" height="270"></p-chart>
                              </div>
                              <div *ngIf="widget.widget_type=='LINE_CHART'">
                                 <p-chart type="line" class="w-100" [data]="widget.sampleData" height="270"></p-chart>
                              </div>
                              <div *ngIf="widget.widget_type=='TABLE'">
                              </div> -->
                        
                        </div>

                        <div  *ngIf="configuration_id == widget.id">
                           <!-- <div class="col-md-12 form-group mb-4 mt-4  bps-labcls">
                              <label>Project Type</label>
                              <div class="row">
                                 <div class="col-md-3">
                                    <input class="form-check-input" formControlName="allow_Insert" type="checkbox"
                                       name="inlineRadioOptions" value="option1" />
                                    <label class="label-control" for="screenname" class="check-label">In
                                       Progress</label>
                                 </div>
                                 <div class="col-md-3">
                                    <input class="form-check-input" formControlName="allow_Edit" type="checkbox"
                                       name="inlineRadioOptions" value="option1" />
                                    <label class="label-control" for="screenname"
                                       class="check-label">Hold</label>
                                 </div>
                                 <div class="col-md-3">
                                    <input class="form-check-input" formControlName="allow_Edit" type="checkbox"
                                       name="inlineRadioOptions" value="option1" />
                                    <label class="label-control" for="screenname"
                                       class="check-label">Deployed</label>
                                 </div>
                              </div>

                           </div> -->

                              <!-- <div class="col-md-6 form-group mb-4 bps-labcls">
                              <label>Department</label>
                              <select class="form-control data">
                                 <option value="">Engineering</option>
                              </select>
                           </div> -->
                              <!-- <div class="col-md-6 form-group  bps-labcls">
                              <label>Refresh Interval</label>
                              <select class="form-control data">
                                 <option value="">30 Min</option>
                              </select>
                           </div> -->
                              <!-- <div class="col-md-6 form-group mb-4 bps-labcls">
                              <label>Department</label>
                              <select class="form-control data">
                                 <option value="">Engineering</option>
                              </select>
                           </div> -->
                              <!-- <div class="col-md-6 form-group mb-4 bps-labcls">
                              <label>Refresh Interval</label>
                              <select class="form-control data">
                                 <option value="">30 Min</option>
                              </select>
                           </div> -->
                           <form [formGroup]="dynamicFormConfiure" class="row">
                              <div class="col-6 form-group bps-labcls" *ngFor="let each of widget.filterOptions">
                                 <label class="label-control">{{each.label}}</label>
                                 <p-dropdown [formControlName]="each.name" [options]="each.types" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
                              </div>
                     
                              <div class="col-12 row justify-content-end">
                                 <button class="btn new-cancelbtn" (click)="cancelEdit()">Cancel</button>
                                 <button class="btn bluebg-button" (click)="saveConfigure(i)">Save</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               
               </div>
         
            </div>
         </div>
      </div>
   </div>
</div>


<p-confirmDialog #cd1 [style]="{width: '30vw'}" key="positionDialog2" position="center" [baseZIndex]="10000" 
 rejectButtonStyleClass="btn bluebg-button" [closable]="false">
   <p-footer>
      <button
        type="button"
        pButton
        label="Ok"
        value="Update"
        class="btn bluebg-button"
        (click)="cd1.accept()"
      ></button>     
    </p-footer>
</p-confirmDialog>

<p-confirmDialog #cd [style]="{width: '30vw'}" key="positionDialog" position="center" [baseZIndex]="10000" 
 rejectButtonStyleClass="btn bluebg-button" [closable]="false">
   <ng-template pTemplate="footer">
      <button type="button" pButton class="btn reset-btn" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton class="btn bluebg-button" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<p-confirmDialog #cd2 [style]="{width: '30vw'}" key="positionDialog3" position="center" [baseZIndex]="10000"
 rejectButtonStyleClass="btn bluebg-button" [closable]="false">
   <ng-template pTemplate="footer">
      <button type="button" pButton class="btn reset-btn" label="No" (click)="cd2.reject()"></button>
      <button type="button" pButton class="btn bluebg-button" label="Yes" (click)="cd2.accept()"></button>
   </ng-template>
</p-confirmDialog>

<p-toast  [style]="{marginTop: '50px'}" ></p-toast>

<p-dialog header=" Create Dashboard" class="createdashboardname" 
   [(visible)]="isDialogShow" [modal]="true" [baseZIndex]="10000"
   [style]="{width: '30vw'}"
   [draggable]="false" [resizable]="false">
   <div class="form-group">
      <label for="" class="label-control" > Name<span class="star">*</span></label>
      <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="entered_name"  maxlength="50" />
   </div>
   <ng-template pTemplate="footer">
      <button class="btn new-cancelbtn" (click)="isDialogShow = false">Cancel</button>
      <button class="btn bluebg-button" (click)="navigateconfigure()" [disabled]="!(entered_name.length >= 5)">Save</button>
   </ng-template>
</p-dialog>
