<p-splitter [style]="{'height': 'auto'}" [panelSizes]="[70,30]" layout="horizontal" >
   <ng-template pTemplate>
      <div class="container-fluid">
         <div class="col-md-12 py-4 px-3">
            <div class="row main-content-head">
               <div class="col-md-4 pl-0">
                  <h3>
                     <span *ngIf="!editDashboardName" class="title_text">{{dashboardData.dashboardName}}</span>
                     <span *ngIf="editDashboardName" ><input type="text" [(ngModel)]="dashboardName" value="{{dashboardData.dashboardName}}"></span>
                     
                     <button  *ngIf="!editDashboardName"  (click)="editDashboardName=true;">edit</button>
                     <button  *ngIf="editDashboardName"  (click)="updateDashboardName()">Save</button>
                  
                  </h3>
               </div>
               <div class="col-md-8 pr-0 text-right">
                 
                  
                  <!-- <div class="col-md-3">
                  <select class="form-control data">
                     <option value="">List of Dashboard</option>
                   </select>
                  </div> -->
                 
                  <img src="./../../../../assets/images-n/dashboard/plus-square_blue.svg"/>
                  <span class="plus">Create</span>
                  <button class="btn btn-secondary eiap-btn">Configure </button>
                  <button class="btn-dots eiap-btn">
                    <img src="./../../../../assets/images-n/dashboard/horizontaldots.svg" alt="Actions">
                  </button>
               
           
              
                </div>
            </div>
         </div>
         <!-- <div class="col-md-12">
            <div class="well flex-container">
               <div class="img-div">
                  <img src="..\assets\images-n\dashboard\warning2.svg"  class="warng-img"/>
               </div>
               <div>
                  <p class="warning-p" >Your currently editing your dashboard. Changes will be saved after clicking the done button.</p>
               </div>
            </div>
            <div class=" flex-container">
               <div class="img-div">
               </div>
               <div>
               </div>
            </div>
         </div> -->
         <div class="col-md-12 py-3 px-3">
            <div class="row">
            
               <div *ngFor="let item of dashboardData.metrics" class="col-md-3 sec-2" >
                  <div class="well1-dynmic">
                     <div class="flex-container">
                        <div class="img-div">
                           <img src="..\assets\images-n\dashboard\{{item.src}}" />
                           <i class="pi pi-1 pi-times right overlay-icon" ></i>
                        </div>
                        <div class="new-dynamic">
                           <h3>10</h3>
                           <p>{{item.metric_name}}</p>
                        </div>
                     </div>
                  </div>
               </div>
            
               
            </div>
         </div>
         <div class="col-md-12 py-3 px-3">
            <div class="row">
               <div class="col-md-6 sec-2" >
                  <div class="well1 graph" >
                    <div class="chart" >
                        <div>
                           <img src="..\assets\images\Projects\add-gadget.svg" />
                        </div>
                        <div>
                           <p class="warning-p">Drag or Add a <span class="metric">Metric</span> to this column </p>
                        </div>
                     </div>
                  
                  </div>
               </div>
               <div class="col-md-6 sec-2" >
                  <div class="well1 graph" >
                     <div class="chart">
                        <div>
                           <img src="..\assets\images\Projects\add-gadget.svg"  />
                        </div>
                        <div>
                           <p sclass="warning-p">Drag or Add a <span class="metric">Metric</span> to this column </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </ng-template>
  


   </p-splitter>

   <!-- <p-chart type="line" [data]="data" [options]="options"></p-chart> -->
