<div class="h-100">
    <!-- <mat-card class="h-100"> -->
    <form #inviteUser_form="ngForm" autocomplete="off" (ngSubmit)="inviteUser(inviteUser_form)" class="h-100">
        <div class="row main-content-head">
            <div class="col-md-4 pl-0">
                <h3>
                    <label id="popup_title">
                        <a routerLink="/pages/admin/user-management">
                            <img src="./../../../../assets/images-n/projects/backarrow.svg" alt="back-arrow">
                        </a>
                    </label>
                    <span class="title_text">Invite User</span>
                </h3>
            </div>
            <!-- //uncomment if buttons needed in header//
                 <div class="col-md-8 pr-0 text-right">
                <button class="btn btn-default" type="button" (click)="resetUserInvite(inviteUser_form)">Reset</button>
                <button class="btn btn-primary btn-update" type="submit" [disabled]="inviteUser_form.invalid">Invite</button>
            </div> -->
        </div>
        <!-- <div class="container-fluid  h-scroll"> -->
            <div class="maindivfoprm">
                <!-- <div class="create-heading">Invite User</div> -->
                <!-- <form #inviteUser_form="ngForm" autocomplete="off"> -->
                    <!-- <div class="row fcont"> -->

                    <div class="form-group col-md-12 p-0 form-fields">
                        <label class="label-control">Email<span class="star">*</span></label>
                        <input type="text" [(ngModel)]="inviteeMail" name="mail_id" #mail_id="ngModel"
                            (change)="onEmailChange()" class="form-control data" (keyup)="myemailFunction()"
                            pattern="^\S*[@]\S*[.]\S*$" email placeholder="Enter Emails Separated By Comma(,)" required/>

                        <span *ngIf="((mail_id.invalid && inviteUser_form.submitted) || (mail_id.errors && mail_id.touched) )"> 
                                <span class='required' *ngIf="mail_id.errors.required">Email is Required</span>
                                <span class='required' *ngIf="mail_id.errors.pattern">Enter a valid Email address</span>
                            </span>
                        <!-- <span class='required' *ngIf="!inviteeMail"> Email is Required</span> -->
                    </div>
                    <!-- </div> -->
                    <div class="form-group col-md-12 p-0 form-fields">
                        <label class="label-control">Role<span class="star">*</span></label>
                        <select [(ngModel)]="role" class="form-control data" (change)="onchangeRole($event.target.value)" name="user_role" #user_role="ngModel" required>
                            <option [value]="null" disabled hidden>Select Role</option>
                            <option value="" disabled hidden>Select Role</option>
                            <option [value]="" disabled hidden>Select Role</option>
                            <option value="null" disabled hidden>Select Role</option>
                            <option [value]="undefined" disabled hidden>Select Role</option>
                            <option value="undefined" disabled hidden>Select Role</option>
                            <option *ngFor="let role of allRoles" [value]="role.id">{{role.name}}</option>
                        </select>
                        
                        <span *ngIf="((user_role.invalid && inviteUser_form.submitted) || (user_role.errors && user_role.touched) )" class='required'> Role is Required </span>

                        <!-- <ng-select  formControlName="role" placeholder="Select Role"
                                            [(ngModel)]="role"  required>
                                            <ng-option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}</ng-option>
                                           </ng-select> -->

                        <!-- <span *ngIf="inviteUserForm.get('role').invalid && inviteUserForm.get('role').touched" class="required">Role Required*</span> -->
                    </div>

                    <div class="form-group col-md-12 p-0 form-fields">
                        <label class="label-control">Department(s)<span class="star">*</span></label>
                        <!-- <ng-select  formControlName="departments"  [multiple]="true"  placeholder="Select departments"
                                          [(ngModel)]="departments"  required>
                                          <ng-option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}</ng-option>
                                         </ng-select> -->

                        <ng-select [items]="categories" bindLabel="categoryName" bindValue="categoryId" name="depart"
                            #depart="ngModel" [multiple]="true" placeholder="Select Departments"
                            [(ngModel)]="departments" [disabled]="isdprtDisabled" required>
                        </ng-select>
                        <span *ngIf="((depart.invalid && inviteUser_form.submitted) || (depart.errors && depart.touched) )" class='required'>Departments is Required </span>

                        <!-- <span *ngIf="inviteUserForm.get('departments').invalid && inviteUserForm.get('departments').touched" class="required">Departments Required*</span> -->
                    </div>

                    <div class="usersfooterbtns">
                        <button class="btn new-cancelbtn" type="button" (click)="resetUserInvite(inviteUser_form)">Reset</button>
                        <button class="btn bluebg-button" type="submit" [disabled]="inviteUser_form.invalid">Invite</button>
                    </div>
                    

                    <!-- </div> -->
                <!-- </form> -->
                <!-- <div class="pull-right">
                    <button (click)="resetUserInvite()" class="btn btn-default">Cancel</button>
                    <button  (click)="inviteUser()" class="btn btn-primary btn-update">Send</button>
                </div> -->

            </div>
        <!-- </div> -->
    </form>
    <!-- </mat-card> -->
</div>