.form-check span {
    margin-right: 40px;
}
button.btn.new-cancelbtn {
    color: #098de6 !important;
    font-size: 16px;
}
.createform-overlay {
    padding: 15px 10px 5px;
    height: calc(100% - 165px);
    overflow: auto;
}
