
.createform input,
.createform select,
.createform textarea {
  /* background-color: #f6f6f6 !important; */
  border: 1px solid #D1D1D1;
  box-shadow: unset !important;
  color: #7B8694 !important;
  border-radius: 2px;  
  padding: 6px 10px !important;
  /* font-weight: 600 !important; */
}

.createform input:focus,
.createform select:focus,
.createform textarea:focus {
  border-color: #00a0e3 !important;
  color: #001c47 !important;
  background-color: #fff !important;
}

.status-good {
  color: green;
  font-size: 30px;
}

.createform .inputfield-color,
.createform textarea.inputfield-color {
  background-color: #f6f6f6 !important;
}

.createform input.enteredfield-color,
.createform select.enteredfield-color,
.createform textarea.enteredfield-color {
  background-color: #ffffff !important;
  border: 1px solid #D1D1D1;
  color: #001c47 !important;
}


.form-scroll {
    overflow: auto;
  }
  .prj-crt-form {
    margin-right: -15px !important;
    margin-left: -15px !important;
    padding-top: 15px !important;
  }