<div class="createform-overlay">
    <form [formGroup]="insertForm2" (ngSubmit)="createproject()" class="h-100 prj-crt-form">
        <div class="h-100">
            <div class="row">
                  <div class="form-group col pl-0">
                      <label class="">Project Name<span class="star">*</span></label>
                      <input type="text" pInputText [style]="{'width':'100%'}" maxlength="51" (keydown)="spaceNotAllow($event)"
                          formControlName="projectName" placeholder="Enter Project Name">
                      <span
                          *ngIf="insertForm2.get('projectName').invalid && insertForm2.get('projectName').touched && !insertForm2.get('projectName').hasError('pattern')"
                          class="required">Project Name Required</span>
                      <span *ngIf="insertForm2.controls['projectName'].hasError('maxlength')"
                          class="required">
                          Maximum of 50 characters exceeded
                      </span>
                      <span *ngIf="insertForm2.get('projectName').hasError('pattern')" class="required">
                        Special characters are not allowed Excluding( _ & - )
                      </span>
                  </div>
                  <div class="form-group col pr-0">
                      <label class="">Department<span class="star">*</span></label>
                      <p-dropdown [options]="categories_list" formControlName="mapValueChain"
                          autoWidth="false" [filter]="true" [style]="{'width':'100%'}" [appendTo]="'body'"
                          placeholder="Select Department" optionLabel="categoryName"
                          optionValue="categoryName" (onChange)="onMapValueChainChange()"></p-dropdown>
                      <div *ngIf="insertForm2.get('mapValueChain').invalid && insertForm2.get('mapValueChain').touched"
                          class="required">
                          Department Required
                      </div>
                  </div>
            </div>
            <div class="row">
                  <div class="form-group col pl-0">
                      <label class="">Process Owner<span class="star">*</span></label>
                      <p-dropdown [options]="resources_list" [filter]="true" [style]="{'width':'100%'}" [appendTo]="'body'"
                          filterBy="user_email,fullName" [autoDisplayFirst]="false"
                          placeholder="Select Process Owner" formControlName="processOwner" optionValue="user_email"
                          optionLabel="fullName">
                      </p-dropdown>
                      <span *ngIf="insertForm2.get('processOwner').invalid && insertForm2.get('processOwner').touched"
                          class="required">Process Owner Required</span>
                  </div>
                  <div class="form-group col pr-0">
                      <label class="">Process<span class="star">*</span></label>
                      <p-dropdown [options]="selected_process_names" [filter]="true" [style]="{'width':'100%'}" [appendTo]="'body'"
                          required [autoDisplayFirst]="false" placeholder="Select Process" formControlName="process"
                          optionValue="processId" optionLabel="processName" filterBy="processName">
                      </p-dropdown>
                      <span *ngIf="insertForm2.get('process').invalid && insertForm2.get('process').touched"
                          class="required">Process Required</span>
                  </div>
            </div>
            <div class="row">
                  <div class="form-group col p-0">
                      <label class="">Project Priority<span class="star">*</span></label>
                      <div>
                          <!-- <div class="field-radiobutton">
                              <p-radioButton name="Priority" value="Low" formControlName="priority"></p-radioButton>
                              <label for="Low">Low</label>
                              <p-radioButton name="Priority" value="Medium"
                                  formControlName="priority"></p-radioButton>
                              <label for="Medium">Medium</label>
                              <p-radioButton name="Priority" value="High" formControlName="priority"></p-radioButton>
                              <label for="High">High</label>
                          </div> -->

                          <div class="form-check">
                              <span>
                                  <input class="form-check-input" type="radio" formControlName="priority"
                                      name="priority" id="Low" value="Low" checked>
                                  <label class="form-check-label" for="Low">
                                      Low
                                  </label>
                              </span>
                              <span>
                                  <input class="form-check-input" type="radio" formControlName="priority"
                                      name="priority" id="Medium" value="Medium">
                                  <label class="form-check-label" for="Medium">
                                      Medium
                                  </label>
                              </span>
                              <span>
                                  <input class="form-check-input" type="radio" formControlName="priority"
                                      name="priority" id="High" value="High">
                                  <label class="form-check-label" for="High">
                                      High
                                  </label>
                              </span>
                          </div>
                          <span *ngIf="insertForm2.get('priority').invalid && insertForm2.get('priority').touched"
                              class="required">Project Priority Required</span>
                      </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col p-0">
                      <label class="">Project Description<span class="star">*</span></label>
                      <textarea class="desctextarea" pInputTextarea formControlName="projectPurpose" placeholder="Enter Description"
                          [autoResize]="true" required></textarea>
                      <!-- <textarea class="form-control data" formControlName="projectPurpose" row="3" placeholder="Enter Project Description" style=" resize: none;" maxlength="251" [ngClass]="insertForm2.get('projectPurpose').valid?'enteredfield-color':'inputfield-color'">
                          </textarea> -->
                      <span *ngIf="(insertForm2.get('projectPurpose').invalid && insertForm2.get('projectPurpose').touched)
                      && !insertForm2.controls['projectPurpose'].hasError('maxlength')"
                          class="required">Project Description Required</span>
                      <!-- <span *ngIf="insertForm2.controls['projectPurpose'].hasError('maxlength')"
                          class="required">
                          Maximum of 250 characters exceeded
                      </span> -->
                  </div>
            </div>
        </div>
    </form>
    <div class="createform-footer">
        <button (click)="resetcreateproject()" class="btn new-cancelbtn">Reset</button>
        <button [disabled]="insertForm2.invalid" (click)="createproject()" class="btn bluebg-button">Create</button>
    </div>
</div>