.form-check span {
    margin-right: 40px;
}
button.btn.blue-btntext {
    color: #098de6 !important;
    font-size: 16px;
}
.createform {
    padding: 15px 3px;
    height: calc(100% - 175px);
    overflow: auto;
}
