.cursor{
    cursor: pointer;
    
}

.padding{
    padding:30px;
}

input{
    border: 7px solid #3e8bdb !important;
    height: 55px;
    width: 97%;
    border-radius: 4px !important;
}

.sendinput {
    position: relative;
}

span.sendimg {
    position: absolute;
    right: 18px;
    top: 20px;
}