
       
<div class="row">

<div class="col-md-2 p-0">
   <div class="card-history">
    <div class="col-md-12">
        <h4 class="histry-space">History</h4>
    </div>
    <div>
        <img src="../../../../assets/copilot/noviewmsg.svg" class="histry-img"/>
        <p class="histry-text">You have no saved conversations</p>
    </div>

   </div>
</div>

<div class="col-md-10 p-0">
    <div class="maincontent">
        <div class="h-100">
          <div class="row main-content-head">
    <h3>
        <span class="title_text">Conversational AI Process Automation</span>
    </h3>
    </div>
   
    <div class="main-content-body">
    <div class="card">
        <h4 class="second-header"> What Would You Like to Do Today?</h4>
    <div class="row grid-align">
        <div class="col-sm-4 pad-align">
            <p-card  (click)="showDialog()" class="cursor copilotchatblock ">
                <span class="imageBox">
                    <span class="active-icon" >
                <img src=".././../../../assets/copilot/automate-process.svg" > 
            </span>
            <span class="hover-icon" >
                <img src=".././../../../assets/copilot/automate-process-hover.svg" alt=""> 
            </span>
                <p> Automate Process</p>
            </span>
            </p-card>
        </div>
        <div class="col-sm-4 pad-align">
            <p-card  (click)="showDialog()" class="cursor copilotchatblock ">
                <span class="imageBox">
                    <span class="active-icon" >
                <img src=".././../../../assets/copilot/edit existing project in bot.svg"  alt=""> 
                </span>
                <span class="hover-icon" >
                <img src=".././../../../assets/copilot/edit-exit-process-hover.svg" alt=""> 
            </span>
                <p style="word-wrap: break-word;"> Edit Existing Project in Bot Designer</p> 
                </span>
            </p-card>
        </div>
        <div class="col-sm-4 pad-align">
            <p-card  (click)="showDialog()" class="cursor copilotchatblock">
                <span class="imageBox">
                    <span class="active-icon" >
                <img src=".././../../../assets/copilot/access-process.svg" alt=""> 
                </span>
                <span class="hover-icon" >
                <img src=".././../../../assets/copilot/access-process-hover.svg"  alt=""> 
            </span>
                <p> Access Process Graphs</p>
                </span>
            </p-card>
        </div>
       
            <div class="col-sm-4 pad-align">
                <p-card  (click)="showDialog()" class="cursor copilotchatblock ">
                    <span class="imageBox">
                        <span class="active-icon" >
                    <img src=".././../../../assets/copilot/monitor-View.svg" alt="" >
                    </span>
                    <span class="hover-icon" >
                    <img src=".././../../../assets/copilot/monitor-view-hover.svg"  alt=""> 
                </span>
                    <p style="word-wrap: break-word;">Monitor and View Insights</p>
                </span> </p-card>
            </div>
            <div class="col-sm-4 pad-align">
                <p-card  (click)="showDialog()" class="cursor copilotchatblock">
                    <span class="imageBox">
                        <span class="active-icon" >
                    <img src=".././../../../assets/copilot/view-drafts.svg" alt=""> 
                    </span>
                    <span class="hover-icon" >
                     <img src=".././../../../assets/copilot/view-draft-hover.svg"  alt=""> 
                    </span>
                    <p class="">View Drafts</p>
                </span> </p-card>
            </div>
            <div class="col-sm-4 pad-align">
                <p-card  (click)="showDialog()" class="cursor copilotchatblock ">
                    <span class="imageBox">
                        <span class="active-icon" >
                    <img src=".././../../../assets/copilot/explore-templates.svg"  alt="" >
                    </span>
                    <span class="hover-icon" >
                    <img src=".././../../../assets/copilot/explore-template-hover.svg" alt="">
                </span>
                    <p>Explore Templates</p>
                </span> </p-card>
            </div>
        
    </div>
   

    <div class="p-inputgroup sendinput">
        <!-- <input type="text" pInputText placeholder="Send a message">&nbsp;
        <span class="sendimg">
            <i class="pi pi-send"></i>
        </span> -->
    </div> 
</div>
</div>
</div>
</div>
</div>
</div>

<p-dialog [(visible)]="display" [style]="{width: '70vw'}">
    <ng-template pTemplate="header">
        <b>Select a process that you wish to automate with C-pilot experience</b>
    </ng-template>
    <div class="row">
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card (click)="openChat2()">
                <b>Quote to Cash</b> </p-card>
        </div>
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card>
                <b>Finance & Accounting</b> </p-card>
        </div>
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card>
                <b>Production</b> </p-card>
        </div>
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card>
                <b>Business Warehouse</b> </p-card>
        </div>
    </div>
    <div class="row" style="margin-top: 20px !important">
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card>
                <b>Demand to pay</b> </p-card>
        </div>
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card>
                <b>CRM</b> </p-card>
        </div>
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card>
                <b>Master Date Management</b> </p-card>
        </div>
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card>
                <b>Human Resource</b> </p-card>
        </div>
    </div>
    <div class="row" style="margin-top: 20px !important">
        <div class="col-sm-3 copilotchatblock-popup ">
            <p-card>
                <b>Others</b> </p-card>
        </div>

    </div>
</p-dialog>