<div class="mt-1">
    <p-menu [model]="items"></p-menu>
</div>

<div class="card col-md-10 mt-0" style="margin-left: 188px;overflow:scroll;bottom: 84px;width:100%">
    <label class="mt-3" style="color: #098de6;text-align: center;font-size:larger;"> <b>What Would You Like to
            Do Today?</b></label>
    <div class="row padding">
        <div class="col-sm-4 cursor">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}" (click)="showDialog()">
                <img src=".././../../../assets/icons/icon_process.png" style="height: 30px;padding-left:40px"> <br>
                <b> Automate Process</b>
            </p-card>
        </div>
        <div class="col-sm-4 cursor">
            <p-card [style]="{'width': '12rem','background-color': '#C5FFFC'}" (click)="showDialog()">
                <img src=".././../../../assets/icons/icon_edit.png" style="height: 30px;padding-left:40px"> <br>

                <b style="word-wrap: break-word;"> Edit Existing Project in Bot Designer</b> </p-card>
        </div>
        <div class="col-sm-4 cursor">
            <p-card [style]="{'width': '12rem','background-color': '#C5FFFC'}" (click)="showDialog()">
                <img src=".././../../../assets/icons/icon_graph.png" style="height:30px;padding-left:40px"> <br>

                <b> Acess Process Graph</b>
            </p-card>
        </div>
        <div class="row" style="margin-top: 34px !important">
            <div class="col-sm-4 cursor">
                <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}" (click)="showDialog()">
                    <img src=".././../../../assets/icons/icon_insights.png" style="height: 30px;padding-left:40px"> <br>
                    <b style="word-wrap: break-word;">Monitor and View Insights</b> </p-card>
            </div>
            <div class="col-sm-4 cursor">
                <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}" (click)="showDialog()">
                    <img src=".././../../../assets/icons/icon_draft.png" style="height: 30px;padding-left:40px"> <br>

                    <b class="ml-3">View Drafts</b> </p-card>
            </div>
            <div class="col-sm-4 cursor">
                <p-card [style]="{'width': '12rem','background-color': '#C5FFFC'}" (click)="showDialog()">
                    <img src=".././../../../assets/icons/icon_templates.png" style="height: 30px;padding-left:40px">
                    <br>

                    <b>Explore Templates</b> </p-card>
            </div>
        </div>
    </div>
    <br>

    <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Send Message">&nbsp;
        <span>
            <i class="pi pi-send"></i>
        </span>
    </div>
</div>


<p-dialog [(visible)]="display" [style]="{width: '70vw',height:'35vw'}">
    <ng-template pTemplate="header">
        <b>Select a process that you wish to automate with C-pilot experience</b>
    </ng-template>
    <div class="row">
        <div class="col-sm-3">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}">
                <b>Quote to Cash</b> </p-card>
        </div>
        <div class="col-sm-3">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}">
                <b>Finance & Accounting</b> </p-card>
        </div>
        <div class="col-sm-3">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}">
                <b>Production</b> </p-card>
        </div>
        <div class="col-sm-3">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}">
                <b>Business Warehouse</b> </p-card>
        </div>
    </div>
    <div class="row" style="margin-top: 20px !important">
        <div class="col-sm-3">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}">
                <b>Demand to pay</b> </p-card>
        </div>
        <div class="col-sm-3">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}">
                <b>CRM</b> </p-card>
        </div>
        <div class="col-sm-3">
            <p-card [style]="{'width': '12rem','background-color': '#C5FFFC'}">
                <b>Master Date Management</b> </p-card>
        </div>
        <div class="col-sm-3">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}">
                <b>Human Resource</b> </p-card>
        </div>
    </div>
    <div class="row" style="margin-top: 20px !important">
        <div class="col-sm-3">
            <p-card [style]="{'width': '10rem','background-color': '#C5FFFC'}">
                <b>Others</b> </p-card>
        </div>

    </div>
</p-dialog>