<ngb-tabset #t="ngbTabset" [activeId]="tabActiveId" [destroyOnHide]="false" >
    <ngb-tab style="height: 38px;" class="bot-tabs" id="{{ tab.botName }}" *ngFor="let tab of tabsArray">
        <ng-template ngbTabTitle>
            <span>{{ tab.botName }}</span>
            <span class="close" (click)="$event.preventDefault();closeTab(tab)">&times; </span>
        </ng-template>

        <ng-template ngbTabContent>

            <app-rpa-studio-actions [tabsArrayLength]="tabsArray.length" [botState]="tab"></app-rpa-studio-actions>
            <!-- <app-rpa-studio-workspace (closeTabEvent)="closeTab($event)"  
                [tabsArrayLength]="tabsArray.length" [botState]="tab"></app-rpa-studio-workspace> -->
        </ng-template>
    </ngb-tab>
</ngb-tabset>