select {
    border-top: none;
    border-right: none;
    border-left: none;
     box-shadow:none !important;
     border-radius: 0px !important;
     border-bottom-color: grey !important;
}

.verticalalignmiddle{
  vertical-align: middle !important;
}

.rpa-modal-content{
  padding-bottom: 25px !important;
}

.process-button:disabled {
    background: transparent !important;
    font-size: 16px!important;
    color: grey !important;
}

.process-button {
    background: transparent !important;
    font-size: 20px!important;
    color: #0062cf !important;
}

.undobtn {background-color:gainsboro; border-radius: 5px;}

.bg-color
  {
    background-color: rgb(241, 240, 240);
  }

.run-right{
  float:right !important;
  font:10px !important;
}
td{
  white-space:nowrap;
}
th{
  white-space:nowrap;
}

.myInput{
  padding:10px;
  padding-bottom: 0px !important;
  width: 90% !important;
}