  /* Dialog Styles */

  
  .dialog-header {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #d4d7da;
  }
  
  .dialog-bot-image {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  
  .dialog-header h3 {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 30px;
    color: #6c757d;
    cursor: pointer;
    padding: 0;
    font-weight: 300;
  }
  
  .dialog-content {
    padding: 15px 15px;
  }
  
  .pricing-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .pricing-toggle span {
    margin: 0 8px;
    font-size: 14px;
    color: #6c757d;
  }
  
  :host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: #3B82F6;
  }
  
  .price-display h2 {
    font-size: 26px;
    /* color: #3B82F6; */
    color: #001C47;
    margin: 0 0 8px 0;
    font-weight: 600;
    font-variant: proportional-nums;
    min-width: 148px;

  }
  
  .price-display span {
    font-size: 14px;
    /* color: #6c757d; */

  }
  
  .agent-features {
    font-size: 14px;
    margin: 0px; 
  }
  
  .dialog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 25px;
  border-top: 1px solid rgb(239, 239, 239);
    background-color: #FCFCFC;
  border-radius: 0 0 12px 12px;
  }
  
  .total-price h3 {
    font-size: 32px;
    /* color: #1ec34c ; */
    color: #3199ff ;
    margin: 0 0 4px 0;
    font-weight: bold;
    font-variant: proportional-nums;
  }
  
  .total-price span {
    font-size: 14px;
    color: #6c757d;
  }
  
  .proceed-button {
    /* background: #1ec34c; */
    background: #3199ff;
    color: white;
    border: none;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .proceed-button.dull-green {
    /* background: #90cca0 !important; */
    background: #a7d0f9 !important;
    color: #f9f9f9 !important; 
    cursor: not-allowed !important;
}

.gray-text {
    color: #b1bbc6 !important;
  }
  
.relative {
  position: relative;
  display: grid;
  cursor: pointer;
}

.order-details-popup {
  position: absolute;
  bottom: 82%;
  left: 10%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 290px;
  margin-bottom: 10px;
}

.popup-content {
  font-size: 14px !important;
}

.popup-content .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.popup-content hr {
  margin: 8px 0;
  border: none;
  border-top: 1px solid #e0e0e0;
}

.popup-content .font-bold {
  font-weight: bold;
}

/* agent selection button styles */

.square-btn-left{
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  background-color: #B1BBC6;
  font-size: 22px;
}

.square-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 4px 11px;
  border-radius: 25px;
  color: #333;
  border: 1px solid #cecece;
  width: fit-content;
}

.agent-count {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.agent-label {
  margin: 0 16px;
  color: #495057 !important;
}

.square-quantity {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
}

.square-btn-right {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  border-radius:0px 5px 5px 0px;
  cursor: pointer;
  background-color: #B1BBC6;
  font-size: 22px;
}

/* agent selection button styles ends*/
.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 8px;
  animation: pulse 1.5s infinite;
}

.skeleton-text {
  width: 100px;
  height: 20px;
}

.skeleton-text-small {
  width: 80px;
  height: 14px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.p-dialog-resizable{
  -webkit-box-shadow: 4px 7px 12px 6px rgba(0,0,0,0.07);
  -moz-box-shadow: 4px 7px 12px 6px rgba(0,0,0,0.07);
  box-shadow: 4px 7px 12px 6px rgba(0,0,0,0.07);
    border-radius: 12px !important;
    border: 1px solid rgb(217 213 213);
   }
  .p-dialog {
      display: flex;
      flex-direction: column;
      max-height: 90%;
      transform: scale(1);
      position: relative;
      width: 48% !important;
  }
  .p-dialog-mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
  }
 
  .dialog-header{
    display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .price-display {
      background-color: #fff;
      padding: 8px;
    display: flex;
      align-items: center;
      gap: 16px;
      border-radius: 8px;
  }
  .dialog-bot-image {
      width: 24px;
      height: 24px;
      margin-right: 12px;
  }
  .dialog-header h3 {
      flex-grow: 1;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    padding: 7px 0;
    color: #001C47 !important;
  }
  .dialog-content{
      padding:18px 15px;
      background-color: #fff;
  }
  .ng-star-inserted h2{
    font-size: 30px !important;
      font-weight: 600;
    min-width: 150px !important;
    color: #001C47 !important;
  }
  .ng-star-inserted span{
    font-size: 13px;
    font-weight: 400;
    display: block;
    padding-top: 5px;
  }
 
  .p-dialog-header-close{
    border: 0px;
    color: #424242;
        position: relative;
      top: 10px;
      background: transparent;
  }
  .proceed-button{
    background: #3199ff !important;
      color: #fff;
      padding: 9px 18px;
      font-size: 15px;
      border-radius: 5px;
    border: 0px;
    cursor: pointer;
  }

  .proceed-button[disabled]{
    background: #e0e0e0 !important;
    cursor: no-drop;
  }
  
  .total-price h3{
    font-size: 30px;
    padding-top: 6px;
    color: #3199ff;
    font-weight: 700;
        margin: 0px;
      padding: 0px;
  }
  .total-price p{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-bottom: 4px;
  }
  .agent-count{
    display: flex !important;
      flex-direction: column;
      align-items: center;
  }
  span.agent-label{
    text-align: center;
    line-height: 18px;
    padding-top: 10px;
  }
  .square-controls button{
    border: 0px;
    background: transparent;
      color: #333;
    font-size: 18px;
  }
  .square-controls button:focus{
    border: 0px !important;
    outline: 0px;
  }
  .square-quantity {
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 0;
  }
.order-details-link{
  padding: 5px 0 13px 0;
  margin-bottom: -10px;
  text-align: center;
}