
<!-- <div class="dialog-header">
  <img src="../../../../assets/images/mini_bot.svg" alt="mini_bot" class="dialog-bot-image">
  <h3>Add {{ botName || selectedAgent?.predefinedBotName }} Agents</h3>
  <button class="close-button" (click)="onClose()">×</button>
</div> -->
<div class="dialog-content">
  <!-- <div class="pricing-toggle">
        <span [class.active]="!yearlyPricing" (click)="yearlyPricing = false">Monthly</span>
        <p-inputSwitch [(ngModel)]="yearlyPricing"></p-inputSwitch>
        <span [class.active]="yearlyPricing" (click)="yearlyPricing = true">Yearly</span>
      </div> -->
  <div class="price-display">
    <h2 *ngIf="!isLoading; else loadingSkeleton">
      <!-- $ {{ yearlyPricing ? '100.00' : '10.00' }}<span>/{{ yearlyPricing ? 'year' : 'month' }} (Single Agent)</span> -->
       {{ price }}<span>/{{ billingCycle }} (Single Agent)</span>
    </h2>
    <p class="agent-features">Resource Optimization, Parallel Processing and User Role Based Access Controls</p>
    <div class="agent-count">
      <div class="square-controls">
        <button class="square-btn-left" (click)="decrementAgentCount()">-</button>
        <span class="square-quantity">{{ agentCount }}</span>
        <button class="square-btn-right" (click)="incrementAgentCount()">+</button>
      </div>
      <span class="agent-label">Select no of Agents</span>
    </div>
  </div>
</div>
<div class="dialog-footer">
  <div class="total-price">
    <!-- <h3>$ {{agentCount === 0 ? '00.00' : calculateTotalPrice() }}</h3> -->
    <h3 [ngClass]="{'gray-text': agentCount === 0}">
      $ {{agentCount === 0 ? '00.00' : calculateTotalPrice()}}
    </h3>
    <p class="text-sm text-gray-500">
      {{ agentCount === 0 ? 'Select no of agents to display pricing' : 'Total ' + (yearlyPricing ? 'yearly' : 'monthly')
      + ' price estimate excl taxes' }}
    </p>
    <!-- <span>Total {{ yearlyPricing ? 'yearly' : 'monthly' }} price estimate excl taxes</span> -->
  </div>
  <div class="relative">
    <a *ngIf="agentCount > 0" style="text-decoration: underline !important;"
       class="text-blue-500 text-sm order-details-link"
       (mouseenter)="showOrderDetails = true"
       (mouseleave)="showOrderDetails = false">
      Order details
    </a>
    
    <div *ngIf="showOrderDetails" class="order-details-popup">
      <div class="popup-content">
        <div class="flex justify-between mb-2">
          <span>{{botName || selectedAgent?.predefinedBotName}} Agents: {{agentCount}}  &nbsp;</span>
          <span>${{calculateTotalPrice()}}</span>
        </div>
        <hr class="my-2 border-t border-gray-200">
        <div class="flex justify-between font-bold">
          <span style="font-weight: bold;">Total</span>&nbsp;
          <span style="font-weight: bold;">${{calculateTotalPrice()}}</span>
        </div>
      </div>
    </div>
  
    <!-- <button [ngClass]="{'proceed-button': true, 'dull-green': agentCount === 0}" 
            [disabled]="agentCount === 0"
            (click)="proceedToPay()">
      Proceed to Pay: $ {{agentCount === 0 ? '00.00': calculateTotalPrice() }}
    </button> -->
    <button [ngClass]="{'proceed-button': true, 'dull-green': agentCount === 0}" 
            [disabled]="agentCount === 0"
            (click)="proceedToPay()">Proceed to Pay
    </button>
  </div>

</div>

<ng-template #loadingSkeleton>
  <div class="skeleton skeleton-text"></div>
  <div class="skeleton skeleton-text-small"></div>
</ng-template>