.heading-menu-left{
    display: inline;
    padding-left:8px;
    float: left;

}

.heading-menu-right{
    display: inline;
    padding-left:8px;
    float: right;

}
.rpa-toolicon{
    height:5px;
    width:5px;
    display: inline;
    fill:#0062cf;
}
.heading-menu{
    background-color: #888dc8;
}
.bot-usage{
    padding-top: 10px;
}

.bot-usage-container{
   
}