<div class="maincontent">
  <div class="row main-content-head">
    <div class="col-md-4 pl-0">
      <h3>
        <label id="popup_title">
          <a routerLink="/pages/admin/admin-screen-list" class="imageBox">
            <img class="default-arrow" src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
            <img class="hover-arrow" src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt=""> 
          </a>
        </label>
  
        <span class="title_text_haspath">
          <span routerLink="/pages/admin/admin-screen-list" class="breadcrum-back">Screen Generation</span> 
          <span class="breadcrum-align" *ngIf="!labelupdate">/</span> 
          <span class="sub_title_text" *ngIf="!labelupdate">Create Screen</span> 
          <span class="breadcrum-align" *ngIf="labelupdate">/</span>
          <span class="sub_title_text" *ngIf="labelupdate">Update {{filterData.Screen_Name}}</span> 
       </span>
      </h3>
          <!-- <div class="col">
            <span class="module-back-button" routerLink="/pages/admin/admin-screen-list">
              <i aria-hidden="true" class="fas fa-arrow-left"></i>
            </span>
            <span class="module-header-title" *ngIf="!labelupdate">Create Screen</span>
            <span class="module-header-title" *ngIf="labelupdate">Update Screen</span>
          </div> -->
    </div>
    <div class="col-md-8 pr-0 text-right">
      <button type="button" class="btn new-cancelbtn" (click)="backToScreenList()">Cancel</button>
        <button *ngIf="!screen_id" [disabled]="insertForm.invalid || screenNameCheck" class="btn bluebg-button" (click)="saveScreen()">Save</button>
        <button *ngIf="screen_id"  [disabled]="insertForm.invalid || screenNameCheck"class="btn bluebg-button" (click)="updateData()">Update</button>
    </div>    
  </div>
  <div class="main-content-body">
      <div class="maindivfoprm">
        <form [formGroup]="insertForm">
          <div class="row">
            <div class="col-6 p-0">
              <div class="form-group col-sm-12 pl-0">
                <label class="label-control">Screen Name <span class="star">*</span></label>
                <input type="text" formControlName="screen_Name" maxlength="51" (input)="checkScreenName()" placeholder="Enter Screen Name"
                  class="form-control" />
                <span *ngIf="
                  insertForm.get('screen_Name')!.invalid &&
                  insertForm.get('screen_Name')!.touched && !insertForm.get('screen_Name').hasError('pattern')
                  && !insertForm.controls['screen_Name'].hasError('maxlength')
                " class="star">
                  Screen Name Required
                </span>
                <span
                  *ngIf="insertForm.controls['screen_Name'].hasError('maxlength') && !insertForm.get('screen_Name').hasError('pattern')"
                  class="required">Maximum of 50 characters</span>
                <span *ngIf="!screenNameCheck && insertForm.get('screen_Name').hasError('pattern')" class="required">Only Aplhabets and spaces
                  between words are allowed
                </span>
                <div *ngIf="screenNameCheck && insertForm.get('screen_Name').value" class="required">
                  Screen Name  already exists
              </div>
              </div>
              <div class="form-group col-sm-12 pl-0">
                <input class="form-check-input inp-align" formControlName="allow_Insert" type="checkbox" name="inlineRadioOptions"
                  value="option1" />
                <label class="label-control inp-label" for="screenname">Allow Insert</label>
                <input class="form-check-input inp-align" formControlName="allow_Edit" type="checkbox" name="inlineRadioOptions"
                  value="option1" />
                <label class="label-control inp-label" for="femaleGender" >Allow Edit</label>
                <input class="form-check-input inp-align" formControlName="allow_Delete" type="checkbox"
                    name="inlineRadioOptions"  value="option1"/>
                  <label class="label-control inp-label" >Allow Delete</label>
              </div>
              <!-- <div class="form-group col-sm-12 pl-0">
                <label class="label-control" formControlName="default_Sort" ngDefaultControl>Default Sort</label>
                <select class="form-control data">
                  <option value="">Select Option</option>
                </select>
              </div>
              <div class="form-group col-sm-12 pl-0">
                <label class="label-control" for="lastName">Preferences</label>
                <select class="form-control data" formControlName="preferences">
                  <option value="">Select Option</option>
                </select>
              </div>
              <div class="form-group col-sm-12 pl-0">
                <label class="label-control">Insights</label>
                <select class="form-control data" formControlName="insights">
                  <option value="">Select Option</option>
                </select>
              </div>
              <div class="form-group col-sm-12 pl-0">
                <label class="label-control" formControlName="formType" ngDefaultControl>Form Type</label>
                <select class="form-control data">
                  <option value="">Select Option</option>
                </select>
              </div>
              <div class="col-sm-4"></div> -->
            </div>

            <div class="col-6 p-0">
              <div class="">
                <div class="form-group col-sm-12 pr-0">
                  <label class="label-control">Table Name <span class="star">*</span></label>
                  <select class="form-control data" formControlName="table_Name"
                    (change)="onChangeTableName($event.target)" [attr.disabled]="isDisabled ? '' : null">
                    <option value="" hidden disabled>Select Option</option>
                    <option value="null" hidden disabled>Select Option</option>
                    <option value="undefined" hidden disabled>Select Option</option>
                    <option *ngFor="let table of tableListData">{{ table }}</option>
                  </select>
                  <span *ngIf="
                    insertForm.get('table_Name')!.invalid &&
                    insertForm.get('table_Name')!.touched
                  " class="star">
                    Table Name Required
                  </span>
                </div>
                <!-- <div class="form-group  col-sm-12 pr-0">                  
                  <input class="form-check-input inp-align" formControlName="show_As_Child" type="checkbox"
                    name="inlineRadioOptions"  value="option1"/>
                  <label class="label-control inp-label" >Show As Child</label>
                </div>
                <div class="form-group  col-sm-12 pr-0">
                  <label class="label-control">Default Filter Clause</label>
                  <input type="text" formControlName="default_Filter_Clause" class="form-control" type="text"
                    placeholder="Enter Filter Clause" />
                </div>
                <div class="form-group  col-sm-12 pr-0">
                  <label class="label-control">Row Count</label>
                  <input class="form-control data" formControlName="row_Count" type="number"
                    placeholder="Enter Count" />
                </div> 
                <div class="form-group  col-sm-12 pr-0">
                  <label class="label-control">Screen Type <span class="star">*</span></label>
                  <select class="form-control data" formControlName="screenType">
                    <option value="" hidden disabled>Select Option</option>
                    <option value="dashboard">Dashboard</option>
                    <option value="screen">Screen</option>
                  </select>
                  <span *ngIf="
                    insertForm.get('screenType')!.invalid &&
                    insertForm.get('screenType')!.touched
                  " class="star">
                    Screen Type Required
                  </span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col form-group p-0 columnlistgrid gridparentdiv" *ngIf="tablehide">
            <app-dynamic-table [table_data]="tableData" [screenTable]="'common'" [columns_list]="columns_list"
              (updateItem)="editColumn($event)" [show_delete_btn]="false" [show_edit_btn]="true"></app-dynamic-table>
          </div>
          <!-- <div class="row justify-content-end">
              <button type="button" class="btn new-cancelbtn" (click)="backToScreenList()">
                Back
              </button>
              <button *ngIf="!screen_id" [disabled]="insertForm.invalid" class="btn bluebg-button" (click)="saveScreen()">
                Save
              </button>
              <button *ngIf="screen_id" class="btn bluebg-button" (click)="updateData()">
                Update
              </button>
          </div> -->
        </form>
        
      </div>
  </div>
</div>

<!-- </common-body> -->
<div [hidden]="!hiddenPopUp">
  <app-split-overlay (closeOverlay)="closeOverlay($event)">
    <div class="h-100">
      <div class="create-header">
        <h3>Update Column</h3>
      </div>
      <div class="h-100">
        <div class="createform-overlay ">
          <form [formGroup]="updateColumnForm">
            <div class="form-group col p-0">
              <label for="" class="label-control">Column Name<span class="star">*</span></label>
              <input type="text" class="form-control" formControlName="ColumnName" placeholder="Enter Name" />
            </div>
            <div class="form-group col p-0">
              <label for="" class="label-control">Column Label Name <span class="star">*</span></label>
              <input type="text" maxlength="256" formControlName="DisplayName" class="form-control"
                placeholder="Enter Label Name" />
              <span *ngIf="
        updateColumnForm.get('DisplayName')!.invalid &&
        updateColumnForm.get('DisplayName')!.touched && !updateColumnForm.get('DisplayName').hasError('pattern')
        && !updateColumnForm.controls['DisplayName'].hasError('maxlength')
      " class="required">
                Column Label Name  Required
              </span>
              <span
                *ngIf="updateColumnForm.controls['DisplayName'].hasError('maxlength') && !updateColumnForm.get('DisplayName').hasError('pattern')"
                class="required">Maximum of 255 characters</span>
              <span *ngIf="updateColumnForm.get('DisplayName').hasError('pattern')" class="required">Spaces and
                special characters are not allowed Excluding( _ & - )
              </span>
            </div>
            <div class="form-group col p-0">
              <label for="" class="label-control">Widget Type </label>
              <!-- <span class="star">*</span> -->
              <select class="form-control data" formControlName="widget_type">
                <option value="">Select Option</option>
                <option value="textbox">Text Box</option>
                <option value="select">Select Box</option>
                <option value="checkbox">Check Box</option>
                <option value="radio">Radio Button</option>
                <option value="file">Upload</option>
              </select>
            </div>
            <div class="form-group col p-0 checkboxes">
              <span>
                <input type="checkbox" formControlName="ShowGrid" />
                <label class="label-control"><span class="span">Show grid</span></label>
              </span>
              
              <!-- <input type="checkbox" formControlName="ShowSearch" />
              <label class="label-control"><span class="span">Show in Search</span></label> -->
              
              <input type="checkbox" formControlName="ShowForm" />
              <label class="label-control"><span class="span">Show in Form</span></label>
              
              <input type="checkbox" formControlName="read_only" />
              <label class="label-control"><span class="span">Read Only</span></label>
              
              <input type="checkbox" formControlName="mandatory" />
              <label class="label-control"><span class="span">Mandatory</span></label>
            </div>

            <div class="form-group col p-0">
              <label for="" class="label-control">Length</label>
              <input type="number"  min="0" max="255" [(ngModel)]="myValue" (input)="validateInput($event)"
              (keypress)="numberOnly($event)"  formControlName="length" class="form-control" placeholder="Enter Length" />
            </div>

            <!-- <div class="form-group col p-0">
              <label for="" class="label-control">Default Type</label>
              <select class="form-control data" formControlName="default_type">
                <option value="">Select Option</option>
                <option>Text</option>
              </select>
            </div> -->

            <div class="form-group col p-0">
              <label for="" class="label-control">Data Type</label>
              <input type="text" class="form-control" formControlName="data_type" placeholder="Enter Data type" />
            </div>

            <!-- <div class="form-group col p-0">
              <label for="" class="label-control">Default Value</label>
              <input type="text" class="form-control" formControlName="DefaultValue" placeholder="Enter Value" />
            </div>

            <div class="form-group col p-0">
              <label for="" class="label-control">Column Order</label>
              <select class="form-control data" formControlName="ColumnOrder">
                <option value="">Select Option</option>
                <option>Text</option>
              </select>
            </div>

            <div class="form-group col p-0">
              <label for="" class="label-control">Text Align</label>
              <select class="form-control data" formControlName="text_align">
                <option value="">Select Option</option>
                <option *ngFor="let float of textAlign">{{ float }}</option>
              </select>
            </div>

            <div class="form-group col p-0">
              <label for="" class="label-control">Width</label>
              <input type="text" class="form-control" formControlName="width" placeholder="Enter Width" />
            </div>

            <div class="form-group col p-0">
              <label for="" class="label-control">Tool Tip</label>
              <input type="text" class="form-control" formControlName="tooltip" placeholder="Enter tooltip" />
            </div> -->

            <div class="col p-0">
              <label for="" class="label-control">Placeholder</label>
              <input type="text" class="form-control" formControlName="placeholder" placeholder="Enter placeholder" />
            </div>
          </form>
          <div class="createform-footer">
            <button type="button" class="btn new-cancelbtn" (click)="hiddenPopUp = false"> Cancel</button>
            <button type="button" class="btn bluebg-button" (click)="updateColumn()"  [disabled]="!(updateColumnForm.valid && (updateColumnForm.touched ||  updateColumnForm.dirty))" >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </app-split-overlay>

</div>
<p-toast  [style]="{marginTop: '50px'}" ></p-toast>