.inp-align{
  margin-left:0px;
}
.inp-label{
  margin-left: 20px;
  margin-right:20px;
}

.maincontform {
  width: 85%;
  margin: 15px auto 0px auto;
}
.checkboxes .span {
  margin-left: 10px;
  margin-right: 25px;
}