<div class="container">
        <div class="row">
                <div class='col-md-6'>
                <div class="row">
                <h1>Connect Your Data</h1>
                <h4 class="subtitle">Select below options to get your data</h4>
                <div class="col-sm-3 upload_zone" id="">
                        <ngx-dropzone (change)="onUpload($event,0)" [multiple]=false [accept]="xlsx_csv_mime" >
                                <ngx-dropzone-label><img src ="assets/images/Group 279.svg">
                                        <h5 style="color:#006ed5;font-weight: 300">
                                        <label>XLSX/CSV</label></h5>
                                </ngx-dropzone-label>
                        </ngx-dropzone>
                </div>
                <div class="col-sm-3 upload_zone" id="">
                        <ngx-dropzone (change)="onSelect($event,3)" [multiple]=false [accept]="xes_mime" >
                                <ngx-dropzone-label><img src ="assets/images/XES.svg">
                                        <h5 style="color:#006ed5;font-weight: 300">
                                        <label>XES</label></h5>
                                </ngx-dropzone-label>
                        </ngx-dropzone>
                </div>
                <div class="col-sm-3 upload_zone" id="upload_db" (click)="onDbSelect()">
                        <ngx-dropzone [multiple]=false [accept]="db_mime" [disableClick]=true >
                                <ngx-dropzone-label>
                                        <img src ="assets/images/DataBase.svg"> 
                                        <h5 style="color:#006ed5;font-weight: 300">
                                        <label>DB File</label></h5>
                                </ngx-dropzone-label>
                        </ngx-dropzone>
                </div>
                <div class="col-sm-12  download_link">
                        <a (click)="downloadCSV()">
                                         <u>Download Sample Template</u>
                                 </a>
                        </div>
                        </div>
                </div>
                <div class="col-md-6">
                        <!-- <div>
                                <h4>My Work space</h4>
                        </div>
                                <div class="col-md-12 row text-bold">
                                  <div class="col-md-3">Process ID</div>
                                  <div class="col-md-3">Date</div>
                                  <div class="col-md-3">Process Name</div>
                                  <div class="col-md-2">Status</div>
                                </div>
                                <div class="col-md-12 work_space">
                                  <mat-accordion >
                                    <mat-expansion-panel *ngFor='let process_list of process_graph_list.data;trackBy:loopTrackBy;let i=index' (afterExpand)="onGraphSelection(process_list)">
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                          <div class="row">
                                            <div class="col-md-3 text-center">{{process_list.piId}}</div>
                                            <div class="col-md-4 text-center">{{process_list.createdTime | date:'dd/MM/yy hh:mm a' }}</div>
                                            <div class="col-md-3 text-center">{{process_list.piName|titlecase}}</div>
                                            <div class="col-md-2 text-center">{{process_list.status}}</div>
                                          </div>
                                        </mat-panel-title>
                                      </mat-expansion-panel-header>
                                      <div [class]="'diagram_container'">
                                              <div class="sample">
                                                        <div id="myDiagramDiv" style=" height: 375px; background: white;"></div>
                                                    </div>
                                      </div>
                                    </mat-expansion-panel>
                                  </mat-accordion>
                                </div> -->
                                <div class='col-sm-4'>
                                <h4>My Workspace</h4>
                                </div>
                                <form action="">
                                <!-- <div class="col-sm- row"> -->
                                        <!-- <div class="col-sm-"></div> -->
                                        <div class="col-sm-7" *ngIf="isSearch">
                                                <div class="col-sm-9 pull-right cat1">
                                                <select class="form-control border_bottom" name="category" id="" (change)="searchByCategory(category)" [(ngModel)]="category">
                                                        <option value="undefined" hidden disabled>Search by Category</option>
                                                        <option value="allcategories">All Categories</option>
                                                        <option [value]="each.categoryName" *ngFor="let each of categoryList.data;let i=index">{{each.categoryName}}</option>
                                                </select>
                                                </div>
                                        </div>
                                        <div class="col-sm-6" *ngIf="!isSearch">
                                                        <div class="col-sm-10">
                                                        <select class="form-control border_bottom" name="category" id="" (change)="searchByCategory(category)" [(ngModel)]="category">
                                                                <option value="undefined" hidden disabled>Search by Category</option>
                                                                <option value="allcategories">All Categories</option>
                                                                <option [value]="each.categoryName" *ngFor="let each of categoryList.data;let i=index">{{each.categoryName}}</option>
                                                        </select>
                                                        </div>
                                                        </div>
                                        <div class="col-sm-1">
                                                <button class="search_btn pull-right" *ngIf="isSearch" (click)="onsearchSelect()"><i class="fa fa-search " aria-hidden="true" style="color: gray"></i></button>
                                                <div *ngIf="!isSearch" class="search-cat col-sm-12"><i class="fa fa-search " aria-hidden="true" style="color: gray"></i></div>
                                        </div>
                                        
                                        <!-- <div class='col-sm-4 inner-addon right-addon'>
                                        <i class="fa fa-search " aria-hidden="true" style="color: gray"></i>
                                        <input type="text" placeholder="Search" name="searchGraph" [(ngModel)]="searchgraph">
                                        </div> -->
                                <!-- </div> -->
                                </form>
                                <div class="col-sm-12 graph_table">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover text-center pilist_table tableBodyScroll" id="myTableId">
                                        <thead class="text-center">
                                        <tr class="text-center">
                                                <th class="text-center table_header">Process ID</th>
                                                <th class="text-center table_header">Date</th>
                                                <th class="text-center table_header">Process Name</th>
                                                <th class="text-center table_header">Category</th>
                                                <th class="text-center table_header">Status</th>
                                                <th class="text-center table_header">Action</th>
                                        </tr>                                        
                                        </thead>                                        
                                        <tbody class='text-center'>                                        
                                                <tr class='pList' *ngFor='let process_list of process_graph_list|filter:searchgraph;trackBy:loopTrackBy;let i=index'>
                                                <td class="th-sm">{{process_list.piId}}</td>
                                                <td class="">{{process_list.createdTime | date:'dd/MM/yy hh:mm a' }}</td>
                                                <td>{{process_list.piName|titlecase}}</td>
                                                <td>{{process_list.categoryName?getcategoryName(process_list.categoryName):'-'}}</td>
                                                <td>{{process_list.status}}</td>
                                                <td class="process_view" (click)="onGraphSelection(process_list)" title="View Process Graph"><i class='fa fa-eye'></i></td>
                                                </tr>
                                        </tbody>
                                       
                                </table>
                                </div>
                            </div>
        </div>
</div>

     <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
        <span class="close" (click)="closePopup();">&times;</span>
        <h4>Database</h4>
        </div>
        <div class="container modal-body databaseForm">
                <form autocomplete="off" class="col-sm-12" #database="ngForm">
                        <div class="row">
                                <div class="form-group col-sm-3">
                                        <div>
                                        <label for="type">Type</label>
                                        <select class="form-control" name="type" id="type" #type="ngModel" [(ngModel)]="dbDetails.dbType" required>
                                                <option [value]="undefined" disabled hidden>Select Type</option>
                                                <option value="Oracle">Oracle</option>
                                                <option value="RCBMS">RCBMS</option>
                                                <option value="MYSQL">MYSQL</option>
                                        </select>
                                        <span *ngIf="((type.invalid && database.submitted) || (type.errors && type.touched) )" 
                                                class='fa fa-info-circle errspan'> Type is required </span>
                                        </div>
                                        <div>
                                        <label for="connection">Connection Name</label>
                                        <input type="text" name="connection" #connection="ngModel" [(ngModel)]="dbDetails.connectionName" class="form-control" placeholder="Enter Connection Name" required/>
                                        <span *ngIf="((connection.invalid && database.submitted) || (connection.errors && connection.touched) )" 
                                                class='fa fa-info-circle errspan'> Connection Name is required </span>
                                        </div>
                                        <div>
                                        <label for="hostname">Host Name / IP</label>
                                        <input type="text" name="hostname" #hostname="ngModel" [(ngModel)]="dbDetails.hostName" class="form-control" placeholder="Enter Host Name" required/>
                                        <span *ngIf="((hostname.invalid && database.submitted) || (hostname.errors && hostname.touched) )" 
                                                class='fa fa-info-circle errspan'> Host Name/IPis required </span>
                                        </div>
                                </div>
                                <div class="form-group col-sm-3">
                                        <div>
                                        <label for="portnumber">Port Number</label>
                                        <select class="form-control" name="portnumber" id="portnumber" #portnumber='ngModel' [(ngModel)]="dbDetails.portNumber" required>
                                                <option [value]="undefined" disabled hidden>Select Port Number</option>
                                                <option value="8080">8080</option>
                                                <option value="8080">9090</option>
                                                <option value="8080">0101</option>
                                        </select>
                                        <span *ngIf="((portnumber.invalid && database.submitted) || (portnumber.errors && portnumber.touched) )" 
                                                class='fa fa-info-circle errspan'> Port Number is required </span>
                                        </div>
                                        <div>
                                        <label for="dbname">DB Name</label>
                                        <input type="text" name="dbname" #dbname='ngModel' [(ngModel)]="dbDetails.dbName" class="form-control" placeholder="Enter DB Name" required/>
                                        <span *ngIf="((dbname.invalid && database.submitted) || (dbname.errors && dbname.touched) )" 
                                                class='fa fa-info-circle errspan'> DB Name is required </span>
                                        </div>
                                        <div>
                                        <label for="tablename">Table Name</label>
                                        <input type="text" name="tablename" #tablename='ngModel' [(ngModel)]='dbDetails.tableName' class="form-control" placeholder="Enter Table Name" required/>
                                        <span *ngIf="((tablename.invalid && database.submitted) || (tablename.errors && tablename.touched) )" 
                                                class='fa fa-info-circle errspan'> Table Name is required </span>
                                        </div>
                                </div>
                                <div class='col-md-6'>
                                <div class="form-group col-sm-6">
                                        <div>
                                        <label for="username">User Name</label>
                                        <input type="text" name="username" #username='ngModel' class="form-control" [(ngModel)]='dbDetails.userName' placeholder="Enter User Name" required/>
                                        <span *ngIf="((username.invalid && database.submitted) || (username.errors && username.touched) )" 
                                                class='fa fa-info-circle errspan'> User Name is required </span>
                                        </div>
                                        <div>
                                        <label for="password">Password</label>
                                        <input type="password" name="password" #password='ngModel' [(ngModel)]='dbDetails.password' class="form-control" placeholder="Enter Password" required/>
                                        <span *ngIf="((password.invalid && database.submitted) || (password.errors && password.touched) )" 
                                                class='fa fa-info-circle errspan'> Password is required </span>
                                        </div>
                                </div>
                                <div class='col-sm-12 row connection-buttons'>
                                        <button class='btn btn-primary connection_btn' [disabled]='database.invalid' (click)="testConnection()">Test Connection</button>
                                        <button class='btn btn-primary save_btn' [disabled]='isSave'>Connect/Save</button>
                                </div>
                                
                                </div>
                                <!-- <div class="form-group col-sm-3">
                                </div> -->
                        </div>
                </form>
        
        
        </div>
        </div>               
        
</div>
