
/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
    }
    
    /* Modal Content */
    .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
    }
    
    /* The Close Button */
    .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    
    .modal-header {
    padding: 2px 16px;
    background-color: #e5e5e5;
    color: #000;
    }
    .modal-header .close {
    margin-top: 5px;
   }
    
    
    /* Add Animation */
    @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
    }
    
    @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
    }
    
    @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
    }
    
.databaseForm{
    padding: 10px;
}
.errspan{
    position: relative;
    z-index: 2;
    color: #dc3545;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding-right: 10px;
    line-height: 12px;
}
.connection-buttons{
    margin-left: 20%;
}
.connection-buttons button{
    width: 150px;
    outline-style: none;
}
.work_spacetable{
    height: 300px;
    overflow:scroll; 
}

.process_view span{
    cursor: pointer;
}
.process_view .fa:hover{
    color: #0061cf;
}
.process_view .glyphicon:hover{
    color: #0061cf !important;
}
.process_view .glyphicon{
    color: red !important;
    font-weight: 900;
}

input[type="text"]{
  padding:4px !important;
}
.inner-addon i{
    position: absolute;
    padding-left: 88%;
    pointer-events: none;
    width: 50px;
    margin-top: 10px
}
.right-addon input{ 
    padding-right: 20px !important;
    width: 140%; 
}
.table_header{
    cursor: pointer;
}
  
  table.tableBodyScroll thead, table.tableBodyScroll tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .pilist_table{
      border: 2px solid #f4f4f4;
  }
  .search_btn{
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  .search-cat{
      margin-top: 10px;
      font-size: 14px;
      position: absolute;
      z-index: 1;
      margin-left:98%;
  }
  .cat1{
      margin-left: 15%;
  }
  .graph_table{
      padding-left: 0px !important;
      padding-right: 0px !important;
      height: 62vh;
      overflow: hidden auto;
  }
  .pi-Name-wrap{
      word-wrap: break-word !important;
  }
  #upload_db{
      cursor: pointer !important;
  }
  .increment_input{
      height: 118px;
  }
  .connection_btn{
      margin-top: 8px;
  }
    .asc, .desc{
        font-size: 23px;
        font-weight: bold;
        padding-left: 3px;
    }
    .process-header{
    width: 120px;
    }
    .table_header{
        font-size: 16px;
        color: #fff;
    }
tr.mat-header-row {
    background-color: #4AB0F5;
}

.box-heading {
    color: #5b5b5b;
    margin: 0px;
    line-height: 2;
}
.PI-heading {
    margin-bottom: 15px;
}
.PI-heading label {
    font-size: 18px;
    font-weight: 600;
    padding: 0px !important;
    color: #00a0e3;
}
.PI-heading h4 {
    font-size: 13px;
    font-weight: 400;
    padding: 0px !important;
    color: #001c47;
    margin-top: 5px;
    margin-bottom: 0px !important;
}
.PI-uploadgrid {
    margin-bottom: 24px;
}
.PI-uploadgrid ngx-dropzone{
    height: 90px;
    padding: 0px 15px;
}
.PI-uploadgrid h5{
    margin-bottom: 0px !important;
    margin-top: 6px !important;
}
.PI-uploadgrid label{
    margin-bottom: 0px !important;
}
.download_link a{
    font-size: 13px !important;
    color:#00a0e3 !important;
    font-weight: 500 !important;
}
img.hover-img {
    display: none;
}
.graph_table span:hover img.default-img {
    display: none;
}
.graph_table span:hover img.hover-img {
    display: initial;
}
.PI-workspace-table .PI-serwksp {
    margin-right: 0px !important;
}
.db-gpg-btn {
    margin-left: 15px;
    margin-right: 0px !important;
}
.bpmnCreate .container.m-contanier.form-body {
    overflow: auto;
    padding: 10px 10px 10px 5px;
}
.bpmnCreate .container.m-contanier.form-body.hasthreebtns {
    height: calc(100% - 85px) !important; 
}
.bpmnCreate .container.m-contanier.form-body.hastwobtns {
    height: calc(100% - 50px) !important;
}
.new-PI-layout {
    padding: 15px 10px 10px;
}
.upload_zone {
    margin: 0px 20px 0px 0px;
    border: 1px solid #00a0e3;
    border-radius: 4px;
}
.upload_zone ngx-dropzone-label {
    margin: 0px !important;
    display: flex;
    align-items: center;
}
.model-text {
    text-align: left;
    padding-left: 22px;
    color: #717386;
}
.model-text h3 {
    font-size: 22px;
    margin-bottom: 6px !important;
    margin-top: 0px;
    font-weight: 600;
}
.model-text h5 {
    margin: 0px !important;
}
.upload_zone ngx-dropzone:hover .model-img, .upload_zone ngx-dropzone:hover .model-text, .upload_zone ngx-dropzone:hover .model-uploadhvr {
    display: none;
}
.upload_zone ngx-dropzone:hover .model-uploadhvr {
    display: initial;
    margin: auto;
}
.upload_zone ngx-dropzone:hover {
    background-color:#00a0e3;
    border-radius: 4px;
}
.model-uploadhvr {
    display: none;
}
.delete-icon img{
    width: 16px;
    height: 16px;
}
.delete-icon-disabled{
    cursor: no-drop !important;
}
.no-item-img{
    height: calc(100vh - 500px)
  } 
  .newinntalx span:hover img.default-img {
    display: none;
  }
  
  .newinntalx span:hover img.hover-img {
    display: initial;
  }
  .newinntalx img{
    width: 20px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .pcell1 {
    width: 12%;
  } 
  .pcell2, .pcell3 {
    width: 25%;
  }
  .pcell4 {
    width: 15%;
  }
  .pcell5  {
    width: 13%;
  }
  .pcell6 {
    width: 10%;
  }
