<div class="container">
        <div class="row">
                <h1>Connect Your Data</h1>
                <h4 class="subtitle">Select below options to get your data</h4>
                <div class="col-sm-12">
                        <ngx-dropzone (change)="onSelect($event)" [multiple]=false [accept]="xlsx_csv_mime" >
                                <ngx-dropzone-label><img src ="assets/images/Group 279.svg">
                                        <h5 style="color:#006ed5;font-weight: 300">
                                        <label>XLSX/CSV</label></h5>
                                </ngx-dropzone-label>
                        </ngx-dropzone>
                </div>
                <div class="col-sm-12">
                        <ngx-dropzone (change)="onSelect($event)" [multiple]=false [accept]="xes_mime" >
                                <ngx-dropzone-label><img src ="assets/images/XES.svg">
                                        <h5 style="color:#006ed5;font-weight: 300">
                                        <label>XES</label></h5>
                                </ngx-dropzone-label>
                        </ngx-dropzone>
                </div>
                <div class="col-sm-12">
                        <ngx-dropzone (change)="onSelect($event)" [multiple]=false [accept]="db_mime" >
                                <ngx-dropzone-label><img src ="assets/images/DataBase.svg">
                                        <h5 style="color:#006ed5;font-weight: 300">
                                        <label>DB File</label></h5>
                                </ngx-dropzone-label>
                        </ngx-dropzone>
                </div>
        </div>
</div>