.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group],
.example-tree div[role=group]>.mat-tree-node {
    padding-left: 30px;
}

.vcm-treesmain {
    padding: 20px 15px;
    background-color: #f6f6f6;
}

.vcm-treesmain .example-tree {
    background-color: #f6f6f6;
}

.vcm-treesmain h4 {
    font-weight: 600;
    margin-top: 0px;
}
