.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group],
.example-tree div[role=group]>.mat-tree-node {
    padding-left: 15px;
    /* margin-bottom: 15px; */
    cursor: pointer;
}

.vcm-treesmain {
    padding: 10px 15px;
    /* background-color: #f5f5f5;  */
}

.vcm-treesmain .example-tree {
    background-color: #f6f6f6 !important;
    padding: 0px 15px;
    height: auto;
}

.vcm-treesmain h4 {
    font-weight: 600;
    margin: 0px;
    color: #001c47;
    padding: 18px 15px 0px 15px;
    background-color: #f5f5f5d6 !important;
    text-transform: capitalize;
}

.text-color {
    color: #00a1e4;
    cursor: pointer;
}

.custom-footer-content p {
    cursor: pointer !important;
}

.Apr-cnt h4 {
    border-bottom: 1px solid #ccc;
    color: #00a1e4;
    margin: 0px;
    padding: 0px 0px 10px;
}

.notif-close img {
    opacity: 0.2;
}

.submit button.btn.btn-primary {
    margin-right: 0px !important;
}

span.proc-title {
    color: #00a1e4 !important;
    font-size: 16px !important;
    /* font-weight: 600 !important; */
    margin-top: 18px;
}

.mat-tree-node span {
    color: #333c48;
    font-size: 14px;
    line-height: 22px;
}

img.procmenu {
    width: auto;
    height: 18px;
    margin-right: 6px;
    /* margin-top: 18px; */
    cursor: pointer;
}

.close-btn h3 {
    /* padding: 10px 10px 10px 15px; */
    padding: 15px 10px 15px 12px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    color: #fff;
}

.close-btn img {
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 16px;
    filter: brightness(10) grayscale(1) brightness(10);
}

mat-drawer {
    width: 25%;
}

.vcmdocs {
    border: 2px dashed #e7e7e7;
    background-color: #f5f5f5;
    padding: 18px 0px !important;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.vcmdocs:hover {
    background-color: aliceblue;
}

.vcmdocs p {
    margin: 0px;
}

.vcmdocs img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0px auto;
}

.vcmdocs button {
    border: 1px solid #00a0e3 !important;
    color: #00a0e3;
    margin: 15px 0px 0px 0px !important;
    padding: 8px 25px !important;
}

.files img {
    cursor: pointer;
    margin-top: 5px;
}

.files img:hover {
    opacity: 1;
}

.files span a:hover .default-img {
    display: none;
}

.files span a:hover .hover-img {
    display: initial;
}

.vcname {
    background-color: #fff;
}

.vcname input {
    position: relative;
}

.vcname button {
    position: absolute;
    top: 32px;
    right: 13px;
    min-width: auto !important;
    padding: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}

.vcm-treediv {
    height: calc(100% - 110px);
    background-color: #f5f5f5d6 !important;
}

.tsttooltipbtn {
    position: relative;
}

.tsttooltipbtn:hover .default-img {
    display: none;
}

.tsttooltipbtn:hover .hover-img {
    display: initial;
}

.tsttooltipbtn:hover span.testtooltip {
    display: block;
}

span.testtooltip {
    position: absolute;
    top: 32px;
    right: 0px;
    background-color: #001c47;
    color: #fff;
    width: -moz-max-content;
    width: max-content;
    padding: 3px 10px;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

span.testtooltip:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    background-color: #001c47;
    transform: rotate(45deg);
    right: 10px;
}

span.sub-nodel1 {
    margin-left: -5px;
}

span.sub-nodel2 {
    margin-left: 10px;
    color: #607087 !important;
}

.proc-title button.qedit-btn {
    display: none;
}

.proc-title:hover button.qedit-btn {
    display: inline-block;
}

button.btn.qedit-btn,
button.btn.qsave-btn {
    border: 1px solid #00a0e3 !important;
    padding: 0px 8px !important;
    margin-left: 10px !important;
    border-radius: 50px !important;
    color: #00a0e3 !important;
    font-size: 14px !important;
}

button.btn.qedit-btn:hover,
button.btn.qsave-btn:hover {
    color: #fff!important;
    border: 1px solid #001c47 !important;
}

.vcm-treediv button img.testplusb {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 10px;
}


/* properties overlay */

.vcmprop div#propertiesContainer {
    width: 100%;
    height: calc(100vh - 130px);
    border: none !important;
    box-shadow: none !important;
}

.vcmprop div#propertiesPanelBody {
    /* height: calc(100% - 40px); */
    position: absolute;
    /* top: 40px; */
    overflow: auto;
    width: 100%;
}

.propertiesContainer mat-expansion-panel {
    background-color: #607088;
    margin: 0px !important;
    border: none !important;
    border-top: 1px solid #ebebeb !important;
    padding: 0px !important;
}

.propertiesContainer mat-expansion-panel-header:hover {
    background-color: #00a0e3;
}

.propertiesContainer .mat-expansion-panel-header-title {
    border: none;
}

.vcmprop .propertiesContainer label.accordionHeader {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 0px;
}

.doc-content {
    height: calc(100vh - 280px);
    width: 100%;
}

.container.p-0.prop-content {
    height: calc(100vh - 280px) !important;
}

.editcontent {
    /* height: calc(100vh - 275px); */
    height: calc(100vh - 325px) !important;
}

/* properties overlay */

h4 img.procmenu {
    margin: -3px 6px 0px 0px !important;
}
.bps_link{
    color: #00a0e3 !important;
    cursor: pointer;
}
.bps_link:hover{
    font-weight: 600;
}

.custom-content ngx-dropzone {
    height: 25px !important;
    color: #333c48;
}
.custom-content button {
    float: right;
}
.sub-nodel2-haschild {
    color: #607087 !important;
}

.files span.fname {
    font-weight: 600;
    width: 80%;
    margin-right: 10px;
    word-break: break-all;
}
.files span.fbtns {
    width: 20%;
    text-align: right;
}
.files p {
    margin:2px 15px 2px 18px;
    word-break: break-all;
}
.form-group.files {
    margin-top: 15px;
} 
/* Upload Popup */

.uploadfilebdiv {
    height: calc(100vh - 260px);
}
.box-fileupload {
    background: #ffffff;
    width: 100%;
    padding: 5px;
    border: 2px dashed #00a0e3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.box-fileupload:hover{
    background: #e3eaee !important; ;
}
.inputfile + label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}  
.inputfile:focus + label,
.inputfile + label:hover {
    color: #00a0e3;
    fill: #00a0e3;
}
.card-placeholder {
    flex-basis: 0;
    flex-grow: 1;
    opacity: 1;
    font-size: 12px;
    font-weight: 400;
}
.file-size {
    /* color: #999; */
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
}

/* Upload Popup */