<div class="modal-header modelprhead">
    <h4 class="modal-title pull-left">Deploy Notation</h4>
</div>
<div class="modal-body modelprbody resourcescreen">
    <div class="successful-deploy" *ngIf="deploy_success">
        <mat-icon class="success-info" matSuffix>info</mat-icon><p><i> Notation has been deployed successfully.
            <a href="javascript:void(0);" (click)=gotoBPMNPlatform()>Click here</a> to verify.</i></p>
    </div>
        <form>
            <div class="row">
                <div  class="form-fields col-md-12">
                    <label class="modal-label">Deployment Name<span class="star">*</span></label>
                    <input type="text" name="depName" class="form-control" [(ngModel)]="depName" #dep_name="ngModel" required >    
                </div>
                <div  class="form-fields col-md-12">
                    <label class="modal-label">Tenant Id</label>
                    <input type="text" name="tenantId" class="form-control" [(ngModel)]="tenantId" #tenant_id="ngModel" >    
                </div>
                
                <div  class="form-fields col-md-12">
                    <h4 class="module-sub-header-title">
                        Endpoint Configuration
                    </h4>
                    <label class="modal-label">REST Endpoint </label>
                    <span class="fa fa-info-circle info" matTooltip="Should point to a running Workflow Engine REST API endpoint"></span>
                    <input type="text" name="endPoint"  class="form-control" [(ngModel)]="endPoint" #end_point="ngModel" required  disabled>
                    <!-- <mat-icon class="info" matTooltip="Should point to a running Camunda Engine REST API endpoint" matSuffix>info</mat-icon> -->   
                </div>
            </div>
        </form>
</div>          
<div class="modal-footer modelprfooter">
    <div class="pull-right">
        <button class="btn btn-primary" (click)="closedeplyNonation()" >Cancel</button>
        <button class="btn btn-primary btn-update" [disabled]="!depName || !endPoint || deploy_success" (click)="deployNotation()">Deploy</button>
    </div>
</div>

<!--
<h2 mat-dialog-title>This is a Dialog title</h2>

<mat-dialog-content>

<p> Place content here </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions> -->

<div class="spinoverlay" *ngIf="isLoading">
    <div class="spincenter">
        <img src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader" />
    </div>
</div>