<div><label for="" class="keyboard_header_shortcuts">Deploy Notation</label></div>
<div class="successful-deploy">
    <mat-icon class="success-info" matSuffix>info</mat-icon><p><i> Notation has been deployed successfully.
        <a href="#">Click here</a> to verify.</i></p>
</div>
<form>
    <mat-form-field class="row col-md-12">
        <mat-label>Deployment Name</mat-label>
        <input type="text" matInput name="depName" [(ngModel)]="depName" #dep_name="ngModel" required >
    </mat-form-field>
    <mat-form-field class="row col-md-12">
        <mat-label>Tenant Id</mat-label>
        <input type="text" matInput name="tenantId" [(ngModel)]="tenantId" #tenant_id="ngModel" >
    </mat-form-field>
    <div><b>Endpoint Configuration</b></div>
    <mat-form-field class="row col-md-12">
        <mat-label>REST Endpoint</mat-label>
        <input type="text" matInput name="endPoint" [(ngModel)]="endPoint" #end_point="ngModel" required >
        <mat-icon class="info" matTooltip="Should point to a running Camunda Engine REST API endpoint" matSuffix>info</mat-icon>
    </mat-form-field>
    <br/><br/>
    <div class="row col-md-12">
        <button class="btn btn-danger eiap-btn">Cancel</button>
        <button class="btn btn-primary eiap-btn" (click)="deployNotation()">Deploy</button>
    </div>
</form>
<!--
<h2 mat-dialog-title>This is a Dialog title</h2>

<mat-dialog-content>

<p> Place content here </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions> -->