.info{
    color: #f99d1c;
    font-size: 14px;
    margin-left: 6px;
}
.success-info{
    color: #62BC27;
    font-size: 20px;
    margin-left: 12px;
}
i{
    font-size: 14px;
    font-style: inherit;
}
.successful-deploy{
    display: flex;
}
.successful-deploy a:link, a:active, a:visited, a:hover{
    outline: none;
    text-decoration: none;
}