<!-- <div class="grid-container">
    <div *ngFor="let each of predefined_botsList" class="grid-item" (click)="onclickBot(each)">
        <div class="content">
            <h3>{{ each.botname }}</h3>
            <p>{{ each.details }}</p>
        </div>
    </div>
</div> -->

<div class="grid-wrapper">
    <div class="grid-container">
        <div *ngFor="let each of predefined_botsList" class="grid-item" (click)="onclickBot(each)">
            <div class="content">
                <h3>{{ each.predefinedBotName }}</h3>
                <!-- <p>{{ each.details }}</p> -->
            </div>
        </div>
    </div>
</div>
