*{
    font-family:'Gilroy', sans-serif;
}

.grid-item:hover {
    transform: scale(1.02);
}

.content {
    width: 100%;
}

.bot-name {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    font-size: 23px;
}

.bot-details {
    text-align: left;
    width: 100%;
}

.grid-wrapper {
    max-height: 90vh;
    overflow-y: auto;
}

/* Modified CSS */
.grid-wrapper {
    max-height: 90vh;
    overflow-y: auto;
    margin: 20px 10px 20px 20px;
}

.main-heading {
    font-size: 2em;
    font-weight: 600;
    /* text-align: center; */
    padding-left: 20px;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.grid-heading {
    font-size: 35px;
    color: #0da2df;
    /* text-align: center; */
    padding-left: 32px;
    grid-column: span 2;
    margin-bottom: 0;
    width: 100%;
    font-weight: 600;
}

.grid-item:hover {
    transform: scale(1.02);
}

.content {
    width: 100%;
}

.bot-name {
    font-weight: bold;
    margin-bottom: 10px; 
    text-align: left;
    width: 100%;
}

.bot-details {
    text-align: left;
    width: 100%;
    font-size: 16px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 0px 30px 30px;
}

.grid-item {
    width: 30%;
    min-width: 340px;
    height: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 0.5rem;
    padding: 28px 25px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.15);
}


.search-container {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 70px;
}

.search-bar {
    width: 60%;
    padding: 12px 12px 12px 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

}

.search-bar:focus {
    border-color: skyblue;
    box-shadow: 0 0 8px rgba(0, 0, 255, 0.3);
}

.search-container {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 70px;
}

.search-bar-wrapper {
    position: relative;
    display: inline-block;
    width: 60%;
}

.search-bar {
    width: 100%;
    padding: 12px 12px 12px 45px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar:focus {
    border-color: skyblue;
    box-shadow: 0 0 8px rgba(0, 0, 255, 0.3);
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: #999;
    pointer-events: none;
}

.search-heading{
    font-size: 30px;
    color: #098DE6 !important;
    grid-column: span 2;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
}

.highlighted{
    width: 30%;
    min-width: 350px;
    height: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    transition: transform 0.3s;
    border: 4px solid rgb(23, 142, 197);
    border-radius: 0.5rem;
    padding: 28px 25px;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.15);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 0px 50px 30px;
}

.grid-item {
    width: 30%;
    max-width: 360px;
    height: 255px;
    background: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 15px;
    padding: 0px !important;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.15);
    border-left: 5px solid #00a1e48f;
}

.grid-item:hover {
    transform: scale(1.02);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-section {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.bot-image {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    padding: 15px;
}

.bot-name {
    width: 70%;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    color: #001C47;
}

.bot-details-wrapper {
    flex-grow: 1;
    overflow-y: hidden;
    padding: 0px 25px;
    margin-right: 15px;
}

.bot-details {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

.show-more-btn {
    color: #098DE6;
    padding: 10px 25px 10px 10px;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.ui-dialog {
    min-height: 400px;
}

.ui-dialog .ui-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dialog-footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.create-bot-btn {
    background-color: #098DE6;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.create-bot-btn:hover {
    background-color: deepskyblue;
}

/* Model CSS */
.custom-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s forwards;
}

.custom-modal-content {
    background-color: #fff;
    margin: auto;
    padding: 10px 0px 0px;
    border: 1px solid #888;
    width: 40%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.5s backwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.custom-modal-close:hover,
.custom-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dialog-footer {
    display: flex;
    justify-content: right;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    padding-right: 20px;
}

.show-less-btn {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: #ff5a5a;
    font-weight: 600;
}

.create-agent-btn {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: #098DE6;
    font-weight: 600;
}

.dialog-divider {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.model-img{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;
}

.top-section-model{
    display: flex;
    align-items: center;
}

.model-details-wrapper{
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px 30px;
    margin-right: 10px;
}

.bot-name-model{
    width: 70%;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
    color: #001C47;
}

.bot-details-wrapper.show-more {
    overflow: auto;
  }

  .centered-message  {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #098DE6;
    margin: 30px 0px;
    font-weight: 700;
}
 
.centered-message img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100px;
}

.skeleton-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skeleton-card-box {
  flex: 1 1 30%;
}

.custom-skeleton {
  max-width: 350px;
  max-height: 255px;
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 16px;
  position: relative;
}

.skeleton-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 20px;
}

.circle-skeleton {
  margin-right: 8px;
}

.name-skeleton {
  margin: 0px 20px !important;
}

.info-skeleton {
  margin-bottom: 16px;
}

.skeleton-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}