.paymentcontent_div {
  height: calc(100vh - 220px);
  overflow: auto;
}
.cardsBox {
  border: 1px solid #b5b5b5;
  background-color: #fff;
  border-radius: 6px;
  height: 100%;
}
.cardsBox.add-new {
  background-color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.cardsBox:hover {
  border: 1px solid #098de6;
}
.cardbox_cont {
  padding: 15px;
}
.cardsBox img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: auto;
}
.cardsBox p {
  margin-bottom: 10px;
}
.cardholderName{
  color:#098de6;
}

.inactive-card{
    background-color:#757575;
    color: #fff;
} 

.errordiv{
  text-align: center;
  color: #a5a5a5;
  margin-top: 110px;
  margin-bottom: 170px;
}