.paymentcontent_div {
  height: calc(100vh - 220px);
  overflow: auto;
}
.cardsBox {
  border: 1px solid #b5b5b5;
  background-color: #fff;
  border-radius: 6px;
  height: 100%;
}
.cardsBox.add-new {
  background-color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.cardsBox:hover {
  border: 1px solid #098de6;
}
.cardbox_cont {
  padding: 15px;
}
.cardsBox img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: auto;
}
.cardsBox p {
  margin-bottom: 10px;
}
.cardholderName{
  color:#098de6;
}


  .errordiv{
    text-align: center;
    color: lightgray;
    margin-top: 110px;
    margin-bottom: 170px;
  }  
 
  .inactive-card{
    background-color:#757575;
    color: #fff;
  } 
  /*
   .active-card{
    background-color: #2196F3;
    color: white;
    border-radius: 14px !important;
    font-size: 15px !important;
    padding: 8px;
    float: right;
    cursor: pointer;
  } 
 
    .delete-card{
    background-color:red;
    color: white;
    border-radius: 14px !important;
    font-size: 15px !important;
    padding: 8px;
    float: left;
    height: 33px;
    width: 30%;
    margin-left:32%
  }
  */


   