/*header related css */
.header-navigation{

    height: 95px;
    display: inline-flex

}
.button-values{
    margin-left: 20px;
    margin-top: 8px;
}
.button-names{
    margin-left: 1px;
    font-size: x-small;
  font-weight: 600;
  color: blue

}
button{
    background: none;
    border: none
}
.button-names-second{
  margin-left: 1px;
  font-size: x-small;
  margin-top: -7px;
  font-weight: 600;
  color: blue

}
.dropdown{
    list-style-type:none;
    margin-left: -2px
}
.hyperlink-navigation{
  margin-top: 36px;
  height: 27px;
  width: 25%;
  /* border: 1px solid; */
  margin-left: 287px;
}
.buttons-to-navigate{
  /* border: 1px solid; */
  margin-left: 84px;
  display: flex
}
a{
  margin-left: 7px;
}
.asimov-logo{
  /* border: 1px solid black; */
  width: 14%;
  margin-top: 10px;
  height: 74px;
}
.notification{
  /* border: 1px solid black; */
  margin-left: 18px;
  width: 6%;
}
.dropdown-image{
    border-radius: 1px;
}
.notification-image{
  margin-left: 24px;
  margin-top: 20px;
}
*/
.img-responsive{
    height: 157px;
    width: 100%;

}
.container{
  float: left;
  width: 100%; 
}

.bps-heading{
  border: 1px #e6dbdb12 solid;
  height: 51px;
  background-color: #FAFAFA;
  display: flex;

}
.bps-heading-image{
  /* border: 1px solid; */
  width: 4%;
  margin-left: 42px;
  height: 40px
}
.bps-heading-title{
  /* border: 1px solid; */
  width: 20%;
  margin-left: 16px;
  height: 40px
}
label{
    margin-top: 7px;
      font-size: large;
  }
  .rpa-logo{
    height: 44px;
    margin-left: -8px;
  }
  .sharedcontent{
      /* border: 1px solid black; */
      height: 542px;
      padding: 0;
      display: inline-flex
  }
  .bpmn-editor-container{
      /* border: 1px solid black; */
      height: 641px;

  }
  .bpmn-options-container{
      /* border: 1px solid black; */
      height: 541px;
      display: inline-flex
  }
  .bpmn-editor{
      height: 594px;
  }
  .button {
    background-color: blue;
    border: none;
    color: white;
    border-radius: 25px;
    /* padding: 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    /* margin-left: 197px; */
    cursor: pointer;
  }
  .buttons-to-resize{
      margin-left: 20px;
      margin-left: 84%;
  }
  .upload{
    border: 1px solid black;
    height: 215px;
    margin-top: 153px;
    margin-left: 27px;
    opacity: 0.5;
    margin-left: 33px;
    border-radius: 25px;
    width: 332px;

  }
  .create{
    border: 1px solid black;
    height: 215px;
    margin-top: 153px;
    margin-left: 27px;
    opacity: 0.5;
    margin-left: 70px;
    border-radius: 25px;
    width: 332px;
    margin-right: 17px;
  }
  .options{
    display: inline-flex;
    /* border-left-style: dotted; */
  }
  .upload-image{
    /* border: 1px solid; */
    margin-top: 13px;
    margin-left: 28px;
    padding-left: 56px;
    width: 84%;
    height: 87px;

  }
  .create-image{
    /* border: 1px solid; */
    margin-top: 13px;
    margin-left: 28px;
    width: 84%;
    padding-top: 11px;
    padding-left: 28px;
    height: 87px;
  }
  .option-image-label{
    margin-top: 7px;
    margin-left: -17px;
    font-size: large;
    /* font-size: x-large; */
  }
  .option-image-second-label{
    margin-left: -18px;
  }
  .create-button{
    background-color: blue;
    color: white;
    margin-left: 11px;
    height: 33px;
    margin-top: 14px;
    border-radius: 13px;
    width: 70%;
  }
  .upload-button{
    background-color: blue;
    /* color: black; */
    color: white;
    margin-left: 11px;
    margin-top: 6px;
    border-radius: 13px;
    width: 70%;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .btn {
    
    color: white;
    background-color: blue;
    border-radius: 13px;
    margin-left: 13px;
    width: 134px;
    margin-top: 5px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  /*new code*/
  .diagram-container {
    height: 1200px;
    /* width: 900px; */
  }
  .mainDiffContainer .col-md-6{
    padding: 2px;
  }
  .mainDiffContainer .left{
    border-right:dotted 10px #d02525;
  }
  #canvas, #canvas1, #canvas2{
    height: 800px;
    width: 100%;
    /* background-color: #efefef; */
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 32px;
  left:0;
  bottom:0;
  right:0;
  background-color: transparent;
  z-index: 2;
}
ul li{
  display: inline;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.mainDiffContainer{
  border: 1px solid black;
  display: inline-flex;
}