.WTEPsoft{
    font-size: 3.5rem;
    font-weight: 400;
}
.WTEPsoft1{
    
    font-size:15px !important;
    font-weight: 400;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    width: calc(100% - 50px);
    overflow: auto;
}