.WTEPsoft{
    font-size: 3.5rem;
    font-weight: 400;
}
.WTEPsoft1{
    
    font-size:15px !important;
    font-weight: 400;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    width: calc(100% - 50px);
    overflow: auto;
}

.subcriptionExpiry {
    display: inline-block;
    padding: 6px 20px;
    background-color: #098de6;
    color: black;
    border-radius: 2px;
    cursor: pointer; 
  }
  
  .subcriptionExpiry:hover {
    color: #fff;
  }
  