/* @import '../../../zoomSlider.css'; */
.head_bar{
    margin-top: -20px;
    height: 30px;
}
#bar_content{
    width:50%;
    margin-top: -10px;
    margin-left: 10%;
}
.tracking_detsils1{
    border-left:1px solid lightgray;
    border-right: 1px solid lightgray;
    height: 420px;
    padding-left:0px;
    padding-right: 0px;
}

/* Process Intelligance css */

.varaint_heading{
    font-size: 11px;
    font-weight: bold;
    float: left;
    padding-left: 5px;
    padding-right: 5px;

}
.varaint_headingOne{
    margin-top: -15px;
}
.select_box{
    padding-left: 130px !important;
    font-size: 11px !important;
    margin-top: 8px;
}
#check_box{
    margin-top: 1px;
    margin-left: -17px !important;
}

.varaint_select{
    float:right;
    font-weight:normal;
}

.case_heading{
  font-size: 11px;
  font-weight: bold;
  color: black;
}

.case-details{
  padding-left: 22px;

}

.details_one{
    font-size: 13px;
    font-weight: bold;
    padding-left: 5px;
}

.details_time{
    font-size: 11px;
    font-weight: bold;
    margin-right: -20px;
    padding-top: 10px;
}
.details_two{
    font-size: 11px;
    padding-left: 5px;
}
.cases{
  padding-top: 5px;
  padding-bottom:5px; 
  cursor: pointer;
}
.details_hide{
  font-size: 13px;
  font-weight: bold;
  color: #0162cb;
  margin-bottom: 5px;
}
.details_hideOne{
  cursor: pointer;
}
.details_hide hr{
  margin-top: 5px !important;
  border-color: white !important
}

.hide_detailsone{
padding-left: 5px;
}
.select_drpdwnone{
    margin-left: 5px;
    margin-right: 5px;
}
.select_drpdwn{
    background:none !important;
    width: 100% !important;
    font-size: 13px;
    border:none !important;
    box-shadow: none !important;
    border-radius: 0% !important;
    border-bottom: 1px solid lightgray !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}
.dot {
    height: 50px;
    width: 50px !important;
    background-color: white;
    border-radius: 50%;
    margin-left: 22px;
    border:1px solid black;
    padding:12px 3px;
    /* text-align: center !important; */
    margin-top:4px;
}
.details_hide{
    display:none;
}
.show_details:hover .details_hide{
    transition: 2s !important;
    display:block;
} 
.show_details:hover .dot{
  border:1px solid #0162cb;
  color: #0162cb;
}
.show_details:hover .cases span{
    color: blue;
}

.show_details:hover {
 background-color: #f4f4f4;
 padding: 5px !important;
}
.details_box{
    overflow: scroll;
    height: 320px;
}
::-webkit-scrollbar{
  width:9px !important;
  height:0px !important;
}


.play_button{
    background: none !important;
    border: none !important;
    /* color: #f4f4f4 !important; */
    font-weight: bold;
    font-size: 11px;
    padding-top: 0px;
    position: relative;
    z-index: 1000;
}
.hide_plybtn{
    margin-left: 3px;
}
.selectbox{
    margin-top: 0px;
}
.varaint_bottom{
  margin-top: -20px;
  height: 20px;
}

.varaint_export{
    font-size: 9px;
    padding-left: 10px !important;
    float:right;
    margin-top: 3px;
}

.custom_tooltip hr{
    margin-top: -5px !important;
    margin-bottom: 5px !important;
}
.left_dropdwn{
    background:none !important;
    width: 187px !important;
    font-size: 11px;
    border:none !important;
    box-shadow: none !important;
    border-radius: 0% !important;
    border-bottom: 1px solid gray !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}
.left_dropdwn1{
    float: left;
    margin-top: -10px;
}

.slider_label{
    margin-top: 25px;
    color: gray;
    font-weight: bold;
    font-size: 12px;
}
.Activities_slider{
    margin-left:-8px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
    color:white;
    height: 130px;
    background: gray;
    left: 5px !important;
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer{
    height:12px !important;
    width: 12px;
    border-radius: 50% !important;
    background-color:white !important;
    border: 1px solid gray;
    margin-left: -1px;
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
    height: 0px !important;
    width: 0px !important;
    background:white;
    border-radius: 50% !important;
    border: 1px solid gray;
  
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:hover:after {
    background-color:white !important;
    border-radius: 55% !important;
  
  }
  
  ::ng-deep .custom-slider .ng5-slider-active:after {
    height: 12px !important;
    width: 12px !important;
    background:white !important;
  }
  
  ::ng-deep .custom-slider .ng5-slider :hover :after {
    background:white !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-bubble {
    color:gray !important;
    font-size: 15px !important;
    margin-left: -10px !important;
    margin-top: 80px !important;
    margin-bottom: 20px !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-floor {
    color:gray!important;
    font-size: 15px !important;
    margin-left: -34px !important;
    margin-bottom: -25px !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-ceil {
    color:gray !important;
    font-size: 15px !important;
    margin-left: -40px !important;
  }
  .vertical_slider{
    height: 110px !important;
    margin-top: 60px;
  }

.zoom_label{
    margin-left: 28% !important;
    padding-top: 8px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.zoom_value{
  margin-left: 170px;
  z-index: 1000;
  font-size: 13px;
}
.varient-totalcount{
  margin-left: 33px !important;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 2px;
}

.tooltip_button{
    position:absolute;
    display: inline-block;
    z-index: 1000;
    margin-top: 100px;
    background-color: none;
    color: blue;
    padding: 10px;
    height: 40px;
  }

  .lableHide{
    position:absolute;
    display: inline-block;
    z-index: 1000;
    margin-top: 45px;
    background-color: none;
    height: 60px;
    width: 175px;
    background-color: white;
  }

.tooltiptext1 {
  visibility: hidden;
  width: 145px !important;
  background-color: white !important;
  border-radius: 6px !important;
  padding: 0px 0px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left:115%;
  margin-left: -60px;
  border:1px solid gray !important;
}

.tooltiptext1 h5{
  color:black !important;
  text-align: center !important;
  font-weight: bold;
  /* height:30px; */
  padding: 10px 3px;;
  margin-top: 2px;
  margin-bottom: 2px;
  /* font-size: 14px !important; */
}
  
.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent gray transparent ;
  }
  
.tooltip1:hover .tooltiptext1 {
    visibility: visible;
  }

.generate_btn{
  float:right;
  border:1px solid #0162cb !important;
  border-radius: 25px !important;
  background-color: #0162cb !important;
  width: 50% !important;
  margin-top: 0px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  height: 25px;
  }

.buttons{
  margin-top: -10px;
}
  .down_btn{
    float: left;
    font-size: 13px;
    margin-left: 6px;
    background-color: white;
    outline: none;
    border: 1px solid lightgray;
    box-shadow: none !important;
    border: none !important;
    color: #0162cb;
  }

  .play_btn {
    margin-left: 50%;
    background-color: white;
    outline: none;
    color:#0162cb;
    box-shadow: none !important;
    border: none !important;
    cursor: pointer;
  }

  .actions_butns{
    height:30px;
    cursor: pointer;
  }

  .download_label{
    font-size: 11px;
    float: left;
    /* margin-top: 400px; */
  }

.play_label{
    margin-left: 58%;
    font-size: 11px;
    /* margin-top: 400px; */
}
.stopbtn{
  margin-left:51%;
  height: 32px;
  width: 31px;
  border: 1px solid lightgray !important;
}

.custom_tooltip{
    position: absolute; 
    background: white; 
    border: 2px solid gray; 
    z-index: 1000; 
    display: none;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    margin-right: 20px;
    height: 230px;
}

.node_tooltip{
    content: "";
    position: absolute;
    bottom: 88%;
    left: -18.5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent gray transparent  transparent ;
}

#toolTipParagraph, #linktoolTipParagraph{
    float: left;
    color: #0162cb;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    line-height: 2;
}
.custom_tooltip hr{
  width: 100%;
}

#toolTipText, #linktoolTipText{
    float:right;
    color: #0162cb;
    margin-top: -16px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
  }

/* #performance_btn{
  float: right;
 margin-right: 40px;
 border: none !important;
 background: none !important;
 outline: none !important;   
}

#frequency_btn{
    margin-left: 40px;
    border: none !important;
    background: none !important;
    outline: none !important;
} */
#frequency_label{
    font-size: 8px;
    font-weight: bold;
    float: left;
    margin-left: 40px;
}

#performance_label{
    float: right;
    font-size: 8px;
    font-weight: bold;
    margin-right: 30px;
    }

#receive{
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
}

.filter_btn{
    float:right;
    margin-top: -30px;
    margin-right: 7px;
    border: none !important;
    background: none !important;
    outline: none !important;
}
.slide-up
{
  bottom: 0px !important;
  transition: 1s;
}

.slide-down
{
  bottom: -300px !important;
  transition: 0.5s;
}

::ng-deep .zoomRangeInput {
  margin: 0;
  padding: 0;
  outline: none;
  transition: opacity .2s;
  background: transparent;
  -webkit-appearance: none;
}

::ng-deep .zoomRangeInput::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 4px;
    background: gray;
    border-radius: 15%;
}

::ng-deep .zoomRangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -4px;
  box-sizing: border-box;
  border: none;
  width: 12px;
  height: 12px;
  border: 1px solid gray;
  border-radius: 50%;
  background: white;
}

::ng-deep #myDiagramDiv canvas {
  outline: none;
  }

  .active .dot{
    color:green !important;
    border:1.5px solid green !important;
  }

  .active{
    border-left:2px solid green !important;
    background: lightgray;
  }
  .active .play_button{
  color: green !important;
  }


  .custom_tooltip{
    align-self: auto !important;
}
#toolTipParagraphone,#linktoolTipParagraphone{
    float: left;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    line-height: 2;
    color: #0162cb !important;
}

#toolTipTextone,#linktoolTipTextone{
    float:right;
    color: #0162cb;
    margin-top: -16px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
  }

  #performance_btn{
    float: right;
   margin-right: 40px;
   border: none !important;
   background: none !important;
   outline: none !important;   
  }
  
  #frequency_btn{
      margin-left: 40px;
      border: none !important;
      background: none !important;
      outline: none !important;
  }
  .butnActive img{
    filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
  }
  .butnDeactive img{
    filter: invert(0.5);
  }
  .butnActive .isenablebtn{
    filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
  }
  .butnDeactive .isenablebtn{
    filter: invert(0.5);
  }
  #nodename{
      font-size: 14px !important;
      color: black;
  }
  .tooltip_body{
    height: 130px;
  }
  .tooltiptext1 hr{
    margin-top: 0px !important;
    margin-bottom: 2px !important;
}
  .tooltiptext1 p:hover{
  font-weight: bold;
  color: #0162cb;
  cursor: pointer;
  font-size: 13px;
  }
  .isactive{
    background: lightgray;
  }
  .path_slider1{
    position: absolute;
    z-index: 1000;
  }

