  ::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
    color:white;
    height: 130px;
    background: gray;
    left: 5px !important;
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer{
    height:12px !important;
    width: 12px;
    border-radius: 50% !important;
    background-color:white !important;
    border: 1px solid gray;
    margin-left: -1px;
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
    height: 0px !important;
    width: 0px !important;
    background:white;
    border-radius: 50% !important;
    border: 0px solid gray;
  
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:hover:after {
    background-color:white !important;
    border-radius: 55% !important;
  
  }
  
  ::ng-deep .custom-slider .ng5-slider-active:after {
    height: 12px !important;
    width: 12px !important;
    background:white !important;
  }
  
  ::ng-deep .custom-slider .ng5-slider :hover :after {
    background:white !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-bubble {
    color:gray !important;
    font-size: 14px !important;
    margin-left: -16px !important;
    margin-bottom: 10px !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-floor {
    color:gray!important;
    font-size: 15px !important;
    margin-left: -32px !important;
    margin-bottom: -25px !important;
    position: absolute !important;
    z-index: 10 !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-ceil {
    color:gray !important;
    font-size: 15px !important;
    margin-left: -32px !important;
    margin-bottom: 25px !important;
    position: absolute !important;
    z-index: 10 !important;
  }

  ::ng-deep #myDiagramDiv canvas {
    outline: none;
    }

  ::ng-deep .zoomRangeInput {
    margin: 0;
    padding: 0;
    outline: none;
    transition: opacity .2s;
    background: transparent;
    -webkit-appearance: none;
    }
    ::ng-deep .zoomRangeInput::-webkit-slider-runnable-track {
      box-sizing: border-box;
      border: none;
      width: 100%;
      height: 4px;
      background: gray;
      border-radius: 15%;
    }
    ::ng-deep .zoomRangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -4px;
    box-sizing: border-box;
    border: none;
    width: 12px;
    height: 12px;
    border: 1px solid gray;
    border-radius: 50%;
    background: white;
    }
    ::ng-deep #myDiagramDiv canvas {
    outline: none;
    }
  .tooltiptext1 p{
    color: black;
    padding-left: 10px;
  }
  .edgemetrics_spinner{
    background-color: #f4f4f4;
    color: black !important;
    font-weight: 600;
    font-size: 13px;
    padding: 8px 10px;
    cursor: auto;
  }
  .form-check-input{
    margin-top: 3px;
    margin-right: 4px;
  }
  .isactive{
    color: white !important;
    background-color: #00a0e3
  }
  .activevaraint{
    color: #ffffff;
    background-color: #00a0e3;
  }
  .events1 p{
    font-size: 12px;
  }
  .activevaraint {
    border-top: 1px solid #ffffff !important;
    border-left: medium none !important;
  }

  .sidenav {
    width: 0;
    height: 100vh;
    position: absolute;
    z-index: 100;
    right: 0;
    padding-left:0px;
    transition: 0.5s;
    padding-top: 10px;
  }
  #main {
    transition: margin-right .5s;
  }
  .reset_btn{
    margin-left: 105px;
    border: none !important;
    background: none;
    color: #00a0e3;
    padding-top: 5px;
  }
  #linkname{
    font-size: 14px;
    font-weight: bold;
  }
  .variant2{
    margin: 10px 0px;
  }
  .variant_play{
    z-index: 10;
  }
  .tooltip_header{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .tooltipmetrics_header{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .download_selection p{
    cursor: pointer;
  }
  .download_selection p:hover{
      font-weight: bold;
      font-size: 14px;
  }
  .download_selection p{
    padding-left:5px;
    color: #0162cf;
  }
  .download_selection{
    min-width: 86px !important;
  }
  .download_selection p span{
    padding-left: 6px;
    font-size: 13px;
  }
  .nodata_slider{
    position: absolute;
    z-index: 100;
    margin-top: 100px;
    font-weight: bold;
    color: #adaaaa;
    margin-left: 40%;
  }
  .reset_btnOne{
    margin-left: 60%;
    border: none !important;
    background: none;
    height: 20px;
    color: #0162cf;
    padding: 0px;
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
  }

  /* Modal Content */
  .modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
  }  
  /* The Close Button */
  .close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }
  .m-contanier {
    padding: 16px;
    width: 30%;
    }
.m-btn{
  margin-left: 70%;
}
  
  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
  
  .modal-header {
  padding: 2px 16px;
  background-color: #e5e5e5;
  color: #000;
  }
  .modal-header .close {
  margin-top: 2px;
 }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
  }
  
  @keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
  }
  
 .node-names{
    width: 140px;
    font-weight: bold;
    font-size: 11px;
    margin-left: 5px;
 }

 #dropdownForm2{
  top: 8px; 
  left: 0px; 
  will-change: transform; 
  position: absolute; 
  transform: translate(-340px, 39px);
  position: absolute;
  width:500px ;
  z-index: 1000;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#dropdownForm2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 90%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent gray transparent;
}

.hrsInput input{
  border: 1px solid lightgray !important;
  border-radius: 5px !important;
  padding: 3px !important;
}
.hrsDropdwn{
  padding: 20px !important;
}
.hrsDropdwn button{
  padding: 2px !important;
  min-width: 80px !important;
}
.hrs-dropdwn .btn-cancel{
  background-color: lightgray !important;
  border-radius: 20px;
  margin-top: 4px;
  margin-left: 13px;
  min-width: 120px;
  border: 0px !important;
}
.reset-btn{
  border: 0px !important;
}
.p_warning {
  color: red;
  padding: 0px 14px;
  font-size: 12px;
}
#dropdownForm2{
  padding: 20px !important;
}
.top-btns{
  margin-left: 15px !important;
}
.top-btns1{
  margin-left: -30px !important;
}
.dropdown-divider{
  border: 1px solid #aaa;
}
button.closebtn:hover {
  color: #00a0e3;
}
.edgemetrics_spinner span{
  font-size: 13px !important;
  margin-bottom: 8px !important;
  display: flex;
}


img.hover-img {
  display: none;
}
.variants-header button:hover img.default-img {
  display: none;
}
.variants-header button:hover img.hover-img {
  display: initial;
}
.PImodule-fileds {
  margin-top: 10px !important;
}
.closebtn img {
  vertical-align: top !important;
}
span.PI-frpr-spin {
  padding: 6px 8px;
  background-color: #00a0e3;
  border: 1px solid #00a0e3;
  border-radius: 4px;
}
span.PI-frpr-spin:hover {
  background-color: #001c47 !important;
  border: 1px solid #001c47 !important;
}
.caret {
  margin-top: 6px;
  float: right;
}
.newmaindiv {
  height: 100%;
}
.modal-header span:hover img.default-img {
  display: none;
}
.modal-header span:hover img.hover-img {
  display: initial;
}
.variant-body {
  height: calc(100vh - 240px);
  display: inline-block;
  overflow: hidden auto;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}
::-webkit-scrollbar:hover {
  width: 6px !important;
  height: 16px !important;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: #0081B833;
  border-radius: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 88, 145);
  cursor: pointer;
  width: 6px;
  height: 16px;
}