::-webkit-scrollbar-track {
  border: 1px solid rgb(210, 207, 207);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(175, 168, 168);
  border-radius: 10px;
}
::-webkit-scrollbar{
  width:9px !important;
  height:0px !important;
  }

  ::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
    color:white;
    height: 130px;
    background: gray;
    left: 5px !important;
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer{
    height:12px !important;
    width: 12px;
    border-radius: 50% !important;
    background-color:white !important;
    border: 1px solid gray;
    margin-left: -1px;
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
    height: 0px !important;
    width: 0px !important;
    background:white;
    border-radius: 50% !important;
    border: 0px solid gray;
  
  }
  
  ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:hover:after {
    background-color:white !important;
    border-radius: 55% !important;
  
  }
  
  ::ng-deep .custom-slider .ng5-slider-active:after {
    height: 12px !important;
    width: 12px !important;
    background:white !important;
  }
  
  ::ng-deep .custom-slider .ng5-slider :hover :after {
    background:white !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-bubble {
    color:gray !important;
    font-size: 15px !important;
    margin-left: -10px !important;
    margin-top: 80px !important;
    margin-bottom: 20px !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-floor {
    color:gray!important;
    font-size: 15px !important;
    margin-left: -34px !important;
    margin-bottom: -25px !important;
    position: absolute !important;
    z-index: 10000 !important;
  }
  ::ng-deep  .custom-slider .ng5-slider-ceil {
    color:gray !important;
    font-size: 15px !important;
    margin-left: -40px !important;
    position: absolute !important;
    z-index: 100000 !important;
  }

  ::ng-deep #myDiagramDiv canvas {
    outline: none;
    }


  /* activity sliders */

  ::ng-deep .zoomRangeInput {
    margin: 0;
    padding: 0;
    outline: none;
    transition: opacity .2s;
    background: transparent;
    -webkit-appearance: none;
    }
    ::ng-deep .zoomRangeInput::-webkit-slider-runnable-track {
      box-sizing: border-box;
      border: none;
      width: 100%;
      height: 4px;
      background: gray;
      border-radius: 15%;
    }
    ::ng-deep .zoomRangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -4px;
    box-sizing: border-box;
    border: none;
    width: 12px;
    height: 12px;
    border: 1px solid gray;
    border-radius: 50%;
    background: white;
    }
    ::ng-deep #myDiagramDiv canvas {
    outline: none;
    }
    #bar_content{
      width:50%;
      margin-top: -10px;
      margin-left: 10%;
  }
  
  .tracking_detsils1{
    border:1px solid #f4f4f4;
    border-radius: 10px;
    /* height: 460px; */
    /* padding-left:0px; */
    padding-right: 0px;
    background-color: white;
  }
  .varaint_heading{
    font-size: 11px;
    font-weight: bold;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .varaint_headingOne{
    margin-top: -15px;
  }
  .tooltiptext1 p{
    color: black;
    padding-left: 10px;
  }
  .edgemetrics_spinner{
    background-color: #f4f4f4;
    color: black !important;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 0px;
  }
  .form-check-input{
    padding: 10px 10px;
  }
  .edgemetrics_spinner span input{
    margin-left: 8px;
    margin-right: 7px;
  }
  .isactive{
    color: white !important;
    background-color: #0162cf
  }
  .edgemetrics_spinner span{
    padding: 10px 0px;
  }
  .activevaraint{
    color: #0162cf;
  }
  .events1 p{
    font-size: 12px;
  }
  .activevaraint {
    border: 1px solid green !important;
  }

  .sidenav {
    width: 0;
    position: absolute;
    z-index: 100;
    top: 150px;
    right: 0;
    padding-left:0px;
    /* background-color:#777575; */
    transition: 0.5s;
    padding-top: 10px;
  }
  .variants_slider{
    max-height: 700px;
    overflow: scroll;
  }

  .sidenav .closebtn {
    /* position: absolute; */
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 80%;
    margin-top: 0px;
  }
  
  #main {
    transition: margin-right .5s;
    /* padding: 16px; */
  }
  
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 50px;}
  } */
  .reset_btn{
    margin-left: 70%;
    border: none !important;
    background: none;
    height: 20px;
    color: #0162cf;
    /* color: #ffffff; */
    padding: 0px;
  }
  #linkname{
    font-size: 14px;
    font-weight: bold;
  }
  .variant_border{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    /* box-shadow: 0 3px 8px -6px rgba(0,0,0,.50); */
    margin-left: 0px;
    cursor: pointer;
  }
  .variant_border:hover{
    background-color: #f4f4f4;
    box-shadow: 3px 3px 20px -3px rgba(0,0,0,.50);
  }
  .check_box span{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
  }
  .event2{
    padding-left: 40px;
    font-weight: 600;
    font-size: 12px;
    padding-right: 0px;
  }
  .variant2{
    padding-bottom: 10px; 
  }
  .variant_parcent{
    padding: 0px !important;
  }
  .variant_border .event3{
    padding-top: 10px;
    text-align: center;
    padding-left: 0px;
  }
  .variant_play{
    /* display: none; */
    z-index: 10;
  }
  /* .variant_border:hover .variant_play{
    display:block !important;
  } */
  /* .activevaraint .variant_play{
    display:block !important;   
  } */
  .variant_playOne{
    display:block !important;   
  }
  .tooltip_header{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .tooltipmetrics_header{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .download_selection p{
    cursor: pointer;
  }
  .download_selection p:hover{
      font-weight: bold;
  }
  .activity_selection{
    /* border: 1px solid lightgray;
    border-radius: 10px; */
    padding:5px;
  }
  .activity_selection1{
    position: absolute;
    z-index: 4;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 38px;
    border-radius: 10px;
  }
  .activity_selection1::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent gray transparent ;
    }
    .activity_selection span{
      margin-left: 22px;
    }
  .apply_btn{
    color: #0162cf;
  }
  .nodata_slider{
    position: absolute;
    z-index: 100;
    margin-top: 100px;
    font-weight: bold;
    color: #adaaaa;
    margin-left: 40%;
  }
  .download_selection p{
    padding-left:20px;
    color: #0162cf;
  }
