<div class="container" class="head_bar">
    <div class="row">
        <div class="col-sm-4" id="bar_content">
            <h5 style="font-weight:600;color: rgb(90, 88, 88)">     <img src="assets/images/Group 208.svg" style="padding-right: 10px">Process Graph</h5>
        </div>
    </div>   
</div>
<div class="container">
<div class="row">
    <div class="col-md-8">
        <div>
            <div class="tooltip_button tooltip1"><img src="..\assets\images\PI\options_icon.svg" id="variants">
                <div class="tooltiptext1">
                    <p>Case Frequency</p>
                    <hr>
                    <p>Activity Performance</p>
                    <hr>
                    <p>ThroughPut Time</p>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Option 1</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Option 2</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Option 3</label>
                    </div>
                </div>
            </div>
            <div class="form-group left_dropdwn1">
                    <select class="form-control left_dropdwn" name="status" id="process_graph_list">
                        <option [value]="0" selected>Sales_work_04-03-2020</option>
                        <option [value]="1">Sales_work_05-03-2020</option>
                        <option [value]="2">Sales_work_06-03-2020</option>
                        <option [value]="2">Sales_work_06-03-2020</option>
                    </select>
                </div>
                <div>
                    <p class="zoom_label"> ZOOM<span class="zoom_value">{{rangevalue}}</span></p>
                          
                </div>
                    <app-piflowchart [model1]="model1" [model2]="model2"></app-piflowchart>

                    <div class="buttons">
                            <button class="down_btn"><img class="actions_butns" src="..\assets\images\PI\download_icon.svg"></button>
                            
                        <button class="play_btn"><img class="actions_butns" src="..\assets\images\PI\play_icon.svg"></button>
                    </div>
                    <div>
                        <p class="download_label">Download</p>
                        <p class="play_label">Play</p>
                    </div>
        </div>  
    </div>
    <div class="col-md-1">
        <div>
        <div class="vertical_slider custom-slider" id="act_slider"><ng5-slider [(ngModel)]="value" [options]="options" ></ng5-slider></div>
        </div>
        <p class="slider_label Activities_slider">Activities</p>
        <div>
        <div class="vertical_slider custom-slider" id="path_slider"><ng5-slider [(ngModel)]="trackValue" [options]="options" ></ng5-slider></div>
        </div>
        <p class="slider_label Paths_slider">Paths</p>
    </div>
        <div class="col-md-3 tracking_detsils1" >
            <div class="varaint_headingOne">
                <h5 class="varaint_heading">Explore by Variant</h5>
                <div class="checkbox ">
                    <label class="select_box"><input id="check_box" type="checkbox" value=""><span class="select_boxlabel">Select All</span> </label>
                </div>
            </div>
                <div class="form-group select_drpdwnone">
                    <select class="form-control select_drpdwn" [(ngModel)]="select_varaint" (change)="onchangeVaraint()" name="status" id="variant_drpdwn">
                        <option [value]="0" selected>Most Common Varaint</option>
                        <option [value]="1">In Active</option>
                        <option [value]="2">Active</option>
                    </select>
                </div>
                <div>
                    <p><span class="case_details">Case Details</span> <span class="case_time">Time Taken</span></p>
                </div>
                <div class="details_box">
                    <div class="show_details" *ngFor="let data of varaint_data;trackBy:loopTrackBy">
                            <span class="dot">{{data.case}}%</span>
                            <p><span class="details_one">{{data.name}}</span> <span class="details_time">{{data.hours}}.00 Hrs</span> <br><span class="details_two">{{data.detail}}</span> </p>
                        <div  class="details_hide"><p><span class="hide_detailsone"> {{data.varaintDetails}}</span> <span class="hide_detailstwo">{{data.casesCovred}}</span></p><hr>
                        </div>
                        <div class="details_hide">
                                <button class="play_button"><img src="..\assets\images\PI\play_green_icon.svg"><span class="hide_plybtn">Play</span></button>
                                <div class="checkbox varaint_export">
                                        <label ><input type="checkbox" class="selectbox" value=""><span class="select_boxlabel">Select this varaint to export BPMN</span> </label>
                                    </div>
                        </div>    
                    </div>
                </div>
            <div>
            <div><button class="generate_btn" (click)="generateBpmn()">Generate BPMN</button>
            <div class="kpibtn"><button class="kpi_btn"><img src="..\assets\images\PI\viewKPI.svg">View KPI's</button></div>
        </div>
        </div>
</div>
</div>

<div id="toolTipDIV" class="custom_tooltip">
    <div class="node_tooltip"></div>
    <div>
        <p id="receive">Receive invoice </p>
        <button type='button' class='filter_btn'  (click)="slideup()"><img src="..\assets\images\PI\filter_icon.svg"></button>
    </div>
        <div>
            <p id="toolTipParagraph"></p>
            <p id="toolTipText"></p>
            <hr>
        </div>
        <div>
            <button id="performance_btn"><img src="..\assets\images\PI\performance-clock.svg"></button>
            <button id="frequency_btn"><img src="..\assets\images\PI\activity.svg"></button>
        </div>
        <div>
            <p id="frequency_label">Frequency</p>
            <p id="performance_label">Performance</p>
    </div>
</div>

<app-filter [dataValues]='dataValues' [reports]='reports' ></app-filter>
