<div class="h-100">
    <mat-card class="h-100">
        <div class="module-heading title">
            <span class="module-back-button" routerLink="/pages/admin/user-management">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
            </span>
            <span class="module-header-title">
                <span class="module-parent-title">Update Department</span>
            </span>
            <div class="ml-auto pull-right">
                <button (click)="reseteditdepartment()" class="btn btn-default">Cancel</button>
                <button [disabled]="editDepartmentForm.invalid" (click)="updateDepartment()" class="btn btn-primary btn-update">Save</button>
            </div>
        </div>
        <div class="container-fluid  h-scroll">
            <div class="maindivfoprm">
                <!-- <div class="create-heading">Update Department</div> -->
                <form [formGroup]="editDepartmentForm"  (ngSubmit)="updateDepartment()">
                    <div class="row fcont">
                            <div class="form-fields col-md-12 p-0">
                                <label class="label-control">Department<span class="star">*</span></label>
                                <input type="text" formControlName="departmentName"  placeholder="Enter Department" maxlength="256" class="form-control data"  [ngClass]="editDepartmentForm.get('departmentName').valid?'enteredfield-color':'inputfield-color'">
                                <span
                                        *ngIf="(editDepartmentForm.get('departmentName').invalid && editDepartmentForm.get('departmentName').touched)
                                                && !editDepartmentForm.controls['departmentName'].hasError('maxlength')" class=" errspan required">Department Required*</span>
                                <span
                                        *ngIf="editDepartmentForm.controls['departmentName'].hasError('maxlength')"
                                             class="errspan required">Maximum of 50 characters</span>
                            </div>
                            <div class="form-fields col-md-12 p-0">
                                <label class="label-control">Owner<span class="star">*</span></label>
                                <select  formControlName="owner" class="form-control data">
                                    <option value="">Select Owner</option>
                                    <option *ngFor="let user of users_list" [value]="user.userId.userId">
                                        {{user.userId.firstName|titlecase}} {{user.userId.lastName|titlecase}}</option>
                                </select>
                                <span
                                    *ngIf="editDepartmentForm.get('owner').invalid && editDepartmentForm.get('owner').touched"
                                    class="errspan required">Owner Required*</span>
                            </div>
                       
                    </div>
                </form>
                <!-- <div class="pull-right">
                    <button (click)="reseteditdepartment()" class="btn btn-default">Reset</button>
                    <button [disabled]="editDepartmentForm.invalid" (click)="updateDepartment()" class="btn btn-primary btn-update">Save</button>
                </div> -->
            </div>
        </div>
    </mat-card>
</div>

<div class="spinoverlay" *ngIf="isLoading">
    <div class="spincenter">
        <img src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader" />
    </div>
</div>