.over-lay{
    margin-bottom: 3px;
    margin-left: 5px;
}

.star{
    color: rgb(253 75 75) !important;
    font-size: 12px !important;
    font-weight: normal !important;
    letter-spacing: 0.2px;
}