<p-dialog  [draggable]="true" [(visible)]="display" [modal]="true" [baseZIndex]="10000" [style]="{width: '60vw', height:'40vw'}" (onHide)="closeLogsOverlay()" class="rpasologs">
  <ng-template pTemplate="header">
      <span *ngIf="logsDisplayFlag=='LOGS'" class="module-back-button" (click)="viewRunsByBotId()">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
      </span>
      <span *ngIf="logsDisplayFlag=='CHILD-LOGS'" class="module-back-button"  (click)="logsBackTraversal()">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
      </span>
      <span *ngIf="logsDisplayFlag=='LOOP-LOGS'" class="module-back-button"  (click)="ViewlogByrunid(selectedIterationTask.run_id, selectedIterationTask.versionNew, selectedIterationTask.version)">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
      </span>
      <!-- <span *ngIf="selectedAutomationTask!=undefined" class="module-back-button"  (click)="logsDisplayFlag='LOGS'; isDataEmpty=false">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
      </span> -->
      <b>Logs</b>
      &nbsp;
        <span class="bro-code" *ngIf="botrunid!=undefined && botrunid != ''">
          - Run ID - {{botrunid}}
        </span>
        &nbsp;
        <!-- <span>{{botrunid}}</span>  -->
        &nbsp;<span *ngIf="logsDisplayFlag=='CHILD-LOGS'"><span *ngFor="let task of traversalLogs">/&nbsp;{{task.task_name}}&nbsp;</span></span>
            <span (click)="viewRunsByBotId()" *ngIf="logsDisplayFlag == 'RUNS' && !logsLoading" class="clickable1 refecls">Refresh</span>
            <span *ngIf="logsLoading">
              <i class="fa fa-spinner fa-spin"></i> 
              Loading...
            </span>
        <span (click)="ViewlogByrunid(botrunid,selectedLogVersionNew, selectedLogVersion)" *ngIf="logsDisplayFlag=='LOGS' && !logsLoading" class="clickable1 refecls">
          Refresh
        </span>
       
        <span (click)="getChildLogs(selectedTask, selectedTask.actual_log_id, selectedTask.actual_task_id, selectedTask.actual_iteration_id,'REFRESH')" *ngIf="logsDisplayFlag=='CHILD-LOGS' && !logsLoading" class="clickable1 refecls">
          Refresh
        </span>
        
        <span (click)="getLoopIterations(selectedIterationTask)"  *ngIf="logsDisplayFlag=='LOOP-LOGS' && !logsLoading" class="clickable1 refecls">
          Refresh
        </span>
       
        <span (click)="getAutomationLogs(selectedAutomationTask)" *ngIf="logsDisplayFlag=='AUTOMATION-LOGS' && !logsLoading" class="clickable1 refecls">
            Refresh
        </span>
        <!-- <span class="ml-auto">
          <span class="clickable" (click)="closeLogsOverlay()">
            <img src="../../../../assets/images/Projects/circle-close.svg" alt="">
          </span>
      </span>  -->
  </ng-template>

  <div class="modal-body newmodelbodycl" >
    <div class="logs-container" >
        <div *ngIf="!logsLoading" class="main-content-body rpalogsgrid"> 
          <p-table #dt [value]="logsData" dataKey="id" [resizableColumns]="true" responsiveLayout="scroll"
              [reorderableColumns]="true" [scrollable]="true">
              <ng-template pTemplate="header">
                  <tr>
                      <th *ngFor="let each of columnList" [style]="each.width" pSortableColumn="{{each.ColumnName}}"
                          pReorderableColumn pResizableColumn>{{each.DisplayName}}<p-sortIcon [field]="each.ColumnName"></p-sortIcon>
                          <p-columnFilter *ngIf="each.ShowFilter && each.filterType == 'text'" [showAddButton]="false" [showOperator]="true"
                              matchMode="contains" [showMatchModes]="false" [field]="each.ColumnName" display="menu"
                              [showApplyButton]="true">
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                  <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)"
                                      class="p-inputtext" placeholder="Search">
                              </ng-template>
                          </p-columnFilter>
                          <p-columnFilter *ngIf="each.ShowFilter && each.filterType == 'date'" [showAddButton]="false"
                  [showOperator]="false" type="date" [showMatchModes]="false" [field]="each.ColumnName"
                  display="menu" [showApplyButton]="true">
              </p-columnFilter>
                          <p-sortIcon *ngIf="each.ShowFilter" [field]="each.ColumnName"></p-sortIcon>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-logs>
                  <tr class="action-desc">
                      <td *ngFor="let col of columnList" [style]="col.width">     
                        <span *ngIf="col.ColumnName=='run_id'">
                          <a class="clickable" (click)="ViewlogByrunid(logs['run_id'], logs['versionNew'], logs['version'])">{{logs[col.ColumnName]}}</a>
                        </span>
                        <span *ngIf="col.ColumnName!='run_id' && col.ColumnName != 'bot_status' && col.ColumnName!='task_name' && col.ColumnName!='error_info'">
                          {{logs[col.ColumnName]}}
                        </span>
                        <span *ngIf="col.ColumnName == 'error_info'" style="display: inline-block; max-width: 100%;">
                          <div  style="display:flex">
                            <div class="ellipsis-container" >
                            <div class="ellipsis-content"  *ngIf="logs[col.ColumnName] != null && logs[col.ColumnName] != ''" [pTooltip]="logs[col.ColumnName]" tooltipPosition="top">
                              <span  class="text-ellipsis">{{ logs[col.ColumnName] }}</span>
                            </div>
                            </div>
                            <div *ngIf="logs[col.ColumnName] != null && logs[col.ColumnName] != ''" class="copy-container">
                              <span class="pi pi-copy" [pTooltip]="isCopied ? 'Copied!' : 'Copy error'" tooltipPosition="bottom" (click)="copyToClipboard(logs[col.ColumnName],$event)"></span>
                              <p-overlayPanel [dismissable]="'true'" #overlayPanel>
                                Copied!
                              </p-overlayPanel>
                            </div>
                          </div>
                        </span>
                        <span *ngIf="col.ColumnName=='bot_status'">
                          <span *ngIf="logs['bot_status']=='Running'" class="text-primary" >
                            <span>
                              <img src="../../../../assets/images/RPA/DotSpin.gif" class="testplus">
                            </span>
                            {{logs[col.ColumnName]}}&nbsp;&nbsp;&nbsp;
                           
                            <span *ngIf="col?.displayKillButton" class="btn btn-xs btn-primary clickable1" (click)="updateLog(logs)" >Kill</span> 
                          </span>
                          </span>
                          <span *ngIf="col.ColumnName=='bot_status'">
                          <span *ngIf="logs['bot_status']!='Running'"  class="d-flex align-items-center">
                            <span class="statusbadge_nc" [ngStyle]="{'background-color':getColor(logs[col.ColumnName])}"></span> {{logs[col.ColumnName]}}
                          </span>
                         </span>
                        <span *ngIf="col.ColumnName=='task_name'">
                          <span *ngIf="logs['child_logs_exist']==false  && logs['task_name']!='Loop-Start'">
                            {{logs[col.ColumnName]}}
                          </span>
                          <span *ngIf="logs['task_name']=='Loop-Start'">
                            <a (click)="getLoopIterations(logs)" class="clickable">{{logs[col.ColumnName]}}</a>
                          </span>
                          <span *ngIf="logs['child_logs_exist']!=false && logs['task_name']!='Loop-Start'">
                            <a (click)="getChildLogs(logs, logs.log_id,logs.task_id,logs.iteration_id,'FARWORD')" class="clickable">{{logs[col.ColumnName]}}</a>
                          </span>
                        </span>
                          <span *ngIf="logs[col.ColumnName] == undefined || logs[col.ColumnName] == null || logs[col.ColumnName]==''">-</span>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                  <tr>
                      <td style="justify-content: center;" colspan="5">{{errormsg}}</td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
      <div class="logs-container" *ngIf="logsLoading==true">
        <div class="logs-loader">
          <img src="../../../../assets/images/EZFlow_Loader.gif" alt="">
        </div>
      </div>
  </div>

</div>
</p-dialog>