<div class="h-100" *ngIf="!isShow">
    <div class="row module-heading title">
        <div>
            <span class="module-back-button" routerLink="/pages/vcm/view-vcm">
                <i aria-hidden="true" class="fas fa-arrow-left"></i>
            </span>
            <span class="module-header-title">Value Chain Mapping</span>
        </div>
        <div class="ml-auto submit">
            <button class="btn btn-default" (click)="resetProcess()">Reset</button>
            <!-- <button class="btn btn-primary" (click)="showPreview()" [disabled]="!vcmName || !process_ownerName">Preview</button> -->
            <button class="btn btn-primary" [disabled]="!vcmName || !process_ownerName" (click)="saveVcm()">Save</button>
        </div>
    </div>

    <div class="module-body">
        <mat-drawer-container class="example-container h-100" style="background-color: white;">
            <mat-drawer #drawer class="example-sidenav vcmprop" mode="side" position="end">

                <div class="propertiesContainer" id="propertiesContainer">
                    <div class="close-btn">
                        <h3>{{editProcessName}}</h3>
                        <img src="../../../../assets/images/VCM/VCM-close.svg" (click)="closeOverlay()" />
                    </div>
                    <div class="propertiesPanelBody" id="propertiesPanelBody">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="onExpansionClik('1')" hideToggle [expanded]="isOpenedState==1">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="accordionHeaderMain">
                                        <div class="accordionHeaderToggle">
                                            <img src="../../../../assets/images/BPMS/Properties.svg" alt="menuToggleIcon" class="menuToggleIcon">
                                            <label class="accordionHeader">Properties</label>
                                            <!-- <img src="../../../../assets/images/BPMS/maximize-2.svg" alt="propexpandIcon" class="propexpandIcon"> -->
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-panel-description>
                                    <div class="container p-0 prop-content">
                                        <div class="editcontent">
                                            <div class="col-md-12 p-0 form-group">
                                                <label class="label-control">Process Name</label>
                                                <input type="text" disabled class="form-control" [(ngModel)]="editProcessName">
                                            </div>
                                            <div class="col-md-12 p-0 form-group">
                                                <label class="label-control">Process Owner</label>
                                                <select class="form-control" [(ngModel)]="editProcessOwner">
                                                    <option value="" hidden disabled>Select Owner</option>
                                                    <option *ngFor="let each_approver of processOwners_list;let i=index" [value]="each_approver.        firstName+'     '+each_approver.lastName">
                                                        {{(each_approver.firstName | titlecase) +" "+(each_approver.lastName==undefined?        "":each_approver.   lastName)}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12 p-0 form-group">
                                                <label class="label-control">Process Description</label>
                                                <textarea class="form-control" rows="5" [(ngModel)]="editProcessDescription" placeholder="Enter Process Description"></textarea>
                                            </div>
                                        </div>
                                        <div class="propfooter col-md-12 p-0 text-right">
                                            <!-- <button class="btn btn-default" (click)="resetProperties()">Reset</button> -->
                                            <!-- <button class="btn btn-primary" *ngIf="editLevelProperties == 1" (click)="editProperties()">Save</button>
                                            <button class="btn btn-primary" *ngIf="editLevelProperties == 2" (click)="editProcessLevel2()">Save</button>
                                            <button class="btn btn-primary" *ngIf="editLevelProperties == 3" (click)="editProcessLevel3()">Save</button> -->
                                            <button class="btn btn-primary" *ngIf="editLevelProperties == 1" (click)="saveProperties('L1')">Save</button>
                                            <button class="btn btn-primary" *ngIf="editLevelProperties == 2" (click)="saveProperties('L2')">Save</button>

                                        </div>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="onExpansionClik('2')" hideToggle [expanded]="isOpenedState==2">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="accordionHeaderToggle">
                                            <img src="../../../../assets/images/BPMS/Discussions.svg" alt="menuToggleIcon" class="menuToggleIcon">
                                            <label for="" class="accordionHeader">Documents</label>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-panel-description>
                                    <div class="container p-0 doc-content">
                                        <div class="col-md-12 form-group">
                                            <!-- <h4 class="procname">{{editProcessName}}</h4> -->
                                            <div class="vcmdocs">
                                                <img src="../../../../assets/images/VCM/VCM-Upload.svg" />
                                                <!-- <button class="btn" (click)="fileInput.click()">
                                                    <input multiple #fileInput type="file" (change)="documentsUpload($event)" style="display:none;" />
                                                    Upload
                                                </button> -->
                                                <button class="btn" (click)="uploadFileModelOpen(uploadFilemodal)">Upload</button>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group files">
                                            <div class="col-md-12" *ngFor="let file of fileName;let i = index;">
                                                <p>
                                                    {{i + 1}}. {{file.fileName}}
                                                    <span><img src="../../../../assets/images/VCM/VCM-close.svg" class="testplus2 default-img"  />
                                                    <img src="../../../../assets/images/VCM/VCM-close-red.svg" class="testplus2 hover-img" (click)="RemoveFile(file,i)" /></span>
                                                </p>
                                                <div>
                                                    <p>{{file.fileDescription}}</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>
                </div>
            </mat-drawer>
            <mat-drawer-content>
                <div class="row maincontent h-100">
                    <div class="col-md-12 pl-0 vcm-leveldiv">
                        <div class="row">
                            <div class="col-md-4 pr-0 form-group vcname">
                                <label class="label-control">Value Chain Name</label>
                                <input type="text" class="form-control" [(ngModel)]="vcmName" placeholder="Enter Value Chain Name">
                                <button class="btn" (click)="vcmHeading()">
                                    <img [hidden]="!vcmName" src="../../../../assets/images/VCM/Green Tick.svg" class="testplus1"  />
                                </button>
                            </div>
                            <div class="col-md-4 pr-0 form-group powner">
                                <button *ngIf="!process_ownerName">
                                    <img src="../../../../assets/images/VCM/pc.svg" class="default-img"/>
                                    <img src="../../../../assets/images/VCM/pc-hover.svg" class="hover-img"/>
                                </button>
                                <span class="poname" *ngIf="process_ownerName">{{ownerValues| uppercase}}</span>
                                <div class="povaluediv">
                                    <select class="form-control" (change)="onChangeProcessOwner(process_ownerName)" [(ngModel)]="process_ownerName">
                                        <option value="" hidden disabled>Select Process Owner</option>
                                        <option value="undefined" hidden disabled>Select Process Owner</option>
                                        <option *ngFor="let each_approver of processOwners_list;let i=index" [value]="each_approver.firstName+' '+each_approver.lastName">
                                        {{(each_approver.firstName | titlecase) +" "+(each_approver.lastName==undefined?"":each_approver.lastName)}}</option>
                                    </select>
                                    <span class="polabel" *ngIf="process_ownerName">Process Owner</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 pr-0 form-group">
                            <label class="label-control">Process Owner</label>
                            <select class="form-control" [(ngModel)]="process_ownerName">
                                <option value="" hidden disabled>Select Process Owner</option>
                                <option value="undefined" hidden disabled>Select Process Owner</option>
                                <option *ngFor="let each_approver of processOwners_list;let i=index" [value]="each_approver.firstName+' '+each_approver.lastName">
                                    {{(each_approver.firstName | titlecase) +" "+(each_approver.lastName==undefined?"":each_approver.lastName)}}</option>
                            </select>
                        </div> -->

                        <div class="col-md-6 col-lg-6 pr-0">
                            <div class="dbichart-block">
                                <div class="dbichart-body">
                                    <h4>
                                        Level 1 Process
                                        <img [ngClass]="(vcmProcess[0].children?.length != 0 || vcmProcess[1].children?.length != 0 || vcmProcess[2].children?.length != 0) ? 'view' : 'dis'" (click)="goToProperties('level1')" src="../../../../assets/images/VCM/Level 1.svg" class="testplus" alt="">
                                    </h4>
                                    <div class="l1processlistdiv">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <h5>
                                                        <img src="../../../assets/images/menu-line.svg" class="testplus" alt="">Management Process
                                                    </h5>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="row">

                                                <div class="col-md-12 p-0 form-group content">
                                                    <input [(ngModel)]="manageinput" class="form-control" type="text" placeholder="Enter Management Process Name">
                                                    <button (click)="addL1Process('Management Process')" [disabled]="manageinput == '' " class="btn">
                                                        <img src="../../../../assets/images/VCM/Green Tick.svg" class="testplus1" />
                                                    </button>
                                                </div>
                                                <div class="l1process-list">
                                                    <ul *ngFor="let item of vcmProcess">
                                                        <ul *ngIf="item.name == 'Management Process'">
                                                            <li *ngFor="let name of item.children;let i = index" class="childHover">
                                                                <span>{{i + 1}}. {{name.title}}</span>
                                                                <div class="actimg">
                                                                    <span><img src="../../../../assets/images/VCM/VCM-close-default.svg" class="testplus2 default-img"  />
                                                                    <img src="../../../../assets/images/VCM/VCM-close-red.svg" class="testplus2 hover-img" (click)="removeChild(name)" /></span>
                                                                    <!-- <img src="../../../../assets/images/VCM/edit-3.svg" class="testplus2 hover-img" (click)="editProcess(item,name,1)" /> -->
                                                                    <span><img src="../../../../assets/images/VCM/more-vertical-default.svg" class="testplus default-img" />
                                                                    <img src="../../../../assets/images/VCM/more-vertical-hover.svg" class="testplus hover-img" (click)="editProcess(item,name,1)" /></span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </ul>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>

                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <h5>
                                                        <img src="../../../assets/images/menu-line.svg" class="testplus" alt="">Core Process
                                                    </h5>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="row">

                                                <div class="col-md-12 p-0 form-group content">
                                                    <input [(ngModel)]="coreinput" class="form-control" type="text" placeholder="Enter Core Process Name">
                                                    <button (click)="addL1Process('Core Process')" [disabled]="coreinput == '' " class="btn">
                                                        <img src="../../../../assets/images/VCM/Green Tick.svg" class="testplus1" />
                                                    </button>
                                                </div>
                                                <div class="l1process-list">
                                                    <ul *ngFor="let item of vcmProcess">
                                                        <ul *ngIf="item.name == 'Core Process'">
                                                            <li *ngFor="let name of item.children;let i = index" class="childHover">
                                                                <span>{{i+1}}. {{name.title}}</span>
                                                                <div class="actimg">
                                                                    <span><img src="../../../../assets/images/VCM/VCM-close-default.svg" class="testplus2 default-img" />
                                                                    <img src="../../../../assets/images/VCM/VCM-close-red.svg" class="testplus2 hover-img" (click)="removeChild(name)" /></span>
                                                                    <!-- <img src="../../../../assets/images/VCM/edit-3.svg" class="testplus2" (click)="editProcess(item,name,1)" /> -->
                                                                    <span><img src="../../../../assets/images/VCM/more-vertical-default.svg" class="testplus default-img" />
                                                                        <img src="../../../../assets/images/VCM/more-vertical-hover.svg" class="testplus hover-img" (click)="editProcess(item,name,1)" /></span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </ul>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>

                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <h5>
                                                        <img src="../../../assets/images/menu-line.svg" class="testplus" alt="">Support Process
                                                    </h5>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="row">

                                                <div class="col-md-12 p-0 form-group content">
                                                    <input [(ngModel)]="supportinput" class="form-control" type="text" placeholder="Enter Support process name">
                                                    <button (click)="addL1Process('Support Process')" [disabled]="supportinput == '' " class="btn">
                                                        <img src="../../../../assets/images/VCM/Green Tick.svg" class="testplus1" />
                                                    </button>
                                                </div>
                                                <div class="l1process-list">
                                                    <ul *ngFor="let item of vcmProcess">
                                                        <ul *ngIf="item.name == 'Support Process'">
                                                            <li *ngFor="let name of item.children;let i = index" class="childHover">
                                                                <span>{{i+1}}. {{name.title}}</span>
                                                                <div class="actimg">
                                                                    <span><img src="../../../../assets/images/VCM/VCM-close-default.svg" class="testplus2 default-img"  />
                                                                    <img src="../../../../assets/images/VCM/VCM-close-red.svg" class="testplus2 hover-img" (click)="removeChild(name)" /></span>
                                                                    <!-- <img src="../../../../assets/images/VCM/edit-3.svg" class="testplus2" (click)="editProcess(item,name,1)" /> -->
                                                                    <span><img src="../../../../assets/images/VCM/more-vertical-default.svg" class="testplus default-img" />
                                                                    <img src="../../../../assets/images/VCM/more-vertical-hover.svg" class="testplus hover-img" (click)="editProcess(item,name,1)" /></span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </ul>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6 pr-0">
                            <div class="dbichart-block">
                                <div class="dbichart-body">
                                    <h4>
                                        Level 2 Process
                                        <img [ngClass]="(vcmProcess[0].children?.length != 0 || vcmProcess[1].children?.length != 0 || vcmProcess[2].children?.length != 0) ? 'view' : 'dis'" (click)="goToProperties('level2')" src="../../../../assets/images/VCM/Level 1.svg" class="testplus" alt="">
                                    </h4>
                                    <div class="form-group">
                                        <select class="form-control" id="level1" name="Level1" [(ngModel)]="level1process" [ngModelOptions]="{standalone: true}">
                                    <option value="undefined" hidden disabled>Select L1 Process</option>
                                    <option value="" hidden disabled>Select L1 Process</option>
                                    <ng-container *ngFor="let item of vcmProcess">
                                        <option *ngFor="let name of item.children" [ngValue]=name>{{name.title}}</option>
                                    </ng-container>
                                </select>
                                    </div>
                                    <div class="level1process form-group">
                                        <input placeholder="Enter Process Group Name" class="form-control" type="text" name="levelName" autocomplete="off" [(ngModel)]="addLevel2">
                                        <button [disabled]="addLevel2 == '' || !level1process" type="submit" class="btn" (click)="addLevel2Process()">
                                    <img src="../../../../assets/images/VCM/Green Tick.svg" class="testplus1" />
                                </button>
                                    </div>
                                    <hr>
                                    <div class="l2proccess-list">
                                        <div class="management" *ngIf="vcmProcess[0].children.length != 0">
                                            <h4>Management Process</h4>
                                            <ng-container *ngFor="let item of vcmProcess">
                                                <ng-container *ngFor="let each of item.children">
                                                    <p *ngIf="each.parent == 'Management Process'">
                                                        <img src="../../../../assets/images/VCM/small-right.svg" class="testplus2" />{{each.title}}</p>
                                                    <ul *ngFor="let level2 of each.children" class="subfolders">
                                                        <li class="overflowcontent" *ngIf="level2.parent == 'Management Process'">
                                                            <span><img src="../../../../assets/images/VCM/small-right.svg" class="testplus2" />{{level2.title}}</span>
                                                            <div class="actimg">
                                                                <span>
                                                                    <img src="../../../../assets/images/VCM/more-vertical-default.svg" class="testplus default-img" />
                                                                    <img src="../../../../assets/images/VCM/more-vertical-hover.svg" class="testplus hover-img" (click)="editLevel2(each,level2,2)" />
                                                                </span>

                                                                <span>
                                                                    <img src="../../../../assets/images/VCM/VCM-close-default.svg" class="testplus2 default-img"  />
                                                                    <img src="../../../../assets/images/VCM/VCM-close-red.svg" class="testplus2 hover-img" (click)="level2removeChild(level2)" />
                                                                </span>
                                                                <!-- <img src="../../../../assets/images/VCM/edit-3.svg" class="testplus2" (click)="editLevel2(name,level2,2)" /> -->

                                                            </div>

                                                        </li>
                                                        
                                                       
                                                    </ul>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                        <div class="core" *ngIf="vcmProcess[1].children.length != 0">
                                            <h4>Core Process</h4>
                                            <ng-container *ngFor="let item of vcmProcess">
                                                <ng-container *ngFor="let name of item.children">
                                                    <p *ngIf="name.parent == 'Core Process'">
                                                        <img src="../../../../assets/images/VCM/small-right.svg" class="testplus2" />{{name.title}}</p>
                                                    <ul *ngFor="let level2 of name.children" class="subfolders">
                                                        <li class="overflowcontent" *ngIf="level2.parent == 'Core Process'">
                                                            <span><img src="../../../../assets/images/VCM/small-right.svg" class="testplus2" />{{level2.title}}</span>
                                                            <div class="actimg">
                                                                <span>
                                                                    <img src="../../../../assets/images/VCM/more-vertical-default.svg" class="testplus default-img" />
                                                                    <img src="../../../../assets/images/VCM/more-vertical-hover.svg" class="testplus hover-img" (click)="editLevel2(name,level2,2)" />
                                                                </span>
                                                                <span>
                                                                    <img src="../../../../assets/images/VCM/VCM-close-default.svg" class="testplus2 default-img"  />
                                                                    <img src="../../../../assets/images/VCM/VCM-close-red.svg" class="testplus2 hover-img" (click)="level2removeChild(level2)" />
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                        <div class="support" *ngIf="vcmProcess[2].children.length != 0">
                                            <h4>Support Process</h4>
                                            <ng-container *ngFor="let item of vcmProcess">
                                                <ng-container *ngFor="let name of item.children">
                                                    <p *ngIf="name.parent == 'Support Process'">
                                                        <img src="../../../../assets/images/VCM/small-right.svg" class="testplus2" />{{name.title}}</p>
                                                    <ul *ngFor="let level2 of name.children" class="subfolders">
                                                        <li class="overflowcontent" *ngIf="level2.parent == 'Support Process'">
                                                            <span><img src="../../../../assets/images/VCM/small-right.svg" class="testplus2" />{{level2.title}}</span>
                                                            <div class="actimg">
                                                                <span>
                                                                    <img src="../../../../assets/images/VCM/more-vertical-default.svg" class="testplus default-img" />
                                                                    <img src="../../../../assets/images/VCM/more-vertical-hover.svg" class="testplus hover-img" (click)="editLevel2(name,level2,2)" />
                                                                </span>

                                                                <span>
                                                                    <img src="../../../../assets/images/VCM/VCM-close.svg" class="testplus2 default-img"  />
                                                                    <img src="../../../../assets/images/VCM/VCM-close-red.svg" class="testplus2 hover-img" (click)="level2removeChild(level2)" />
                                                                </span>
                                                                <!-- <img src="../../../../assets/images/VCM/edit-3.svg" class="testplus2" (click)="editLevel2(name,level2,2)" /> -->

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 previewdiv">
                <h4>Preview</h4>
                <div class="previewcontdiv">
                    <img src="../../../../assets/images/VCM/Preview Image.png" class="preview-img" />

                    <h5>Welcome to Value Chain Mapping !</h5>
                    <p>Value Chain Mapping helps you to manage organised process all in one place. All your folders will be listed here.</p>
                </div>
            </div> -->
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>

<div class="spinoverlay" *ngIf="isLoading">
    <div class="spincenter">
        <img src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader" />
    </div>
</div>


<ng-template class="modal-up" #uploadFilemodal>
    <div class="modal-header modelprhead">
        <h4 class="modal-title pull-left">Upload File</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="uploadFilemodalCancel()">
            <span aria-hidden="true"><img alt="" src="../../../../../assets/images/Projects/circle-close.svg"></span>
        </button>
    </div>
    <div class="modal-body modelprbody uploadfilebdiv">
            <form>
                <div>
                    <label>Upload<span class="star">*</span></label>
                    <div class="box-fileupload">
                        <input type="file" name="file" (change)="chnagefileUploadForm($event)" id="file" class="inputfile" multiple />
                        <label for="file" matTooltip="Upload File" (change)="chnagefileUploadForm($event)">
                            <img src="../../../../assets/images/Projects/fileupload.svg" class="testplusupload">
                            <span>Select File</span>
                        </label>
                    </div>
                </div>
                <div class="form-fields col-md-12">
                    <div class="upload-filesdiv">
                        <div class="row">
                            <div class="col-md-12 pl-0" *ngFor="let item of listOfFiles; let i = index">

                                <div class="row project-card">
                                    <!-- <span class="pull-right clickable" matTooltip="Remove"
                                        (click)="removeSelectedFile(index)">
                                        <img class="testplus1" src="../../../../assets/images/Projects/circle-close.svg" />
                                    </span> -->
                                    <div class="col-md-1">{{i+1}}</div>
                                    <div class="col-md-5">
                                        <div class="card-placeholder">File Name : {{item.fileName}}</div>
                                        <div class="file-size">Size : {{item.convertedsize }}</div>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea name="desc" class="form-control" maxlength="151" rows="2" [(ngModel)]="item.fileDescription" placeholder="Enter Description..."></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        
    </div>
    <div class="modal-footer modelprfooter">
        <div class="pull-right">
            <button (click)="uploadFilemodalCancel()" class="btn btn-default">Cancel</button>
            <button class="btn btn-primary btn-update" (click)="onSubmitUpload()">Submit</button>
        </div>
    </div>
</ng-template>