<div>
    <mat-card>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">38</span>
              <span class="tab-text types2">Total Projects</span>
            </ng-template>
            
                <div class="">
                    <table class="table table-borderless col-md-12 table-hover">
                      <thead>
                        <tr>
                          <th scope="col" class="types2">ID</th>
                          <th scope="col" class="types2">Type</th>
                          <th scope="col" class="types2">Initiative</th>
                          <th scope="col" class="types2">Process</th>
                          <th scope="col" class="types2">Name</th>
                          <th scope="col" class="types2">Status</th>
                          <th scope="col" class="types2">Health</th>
                          <th scope="col" class="types2">Owner</th>
                          <th scope="col" class="types2">Priority</th>
                          <th scope="col" class="types2">Access</th>
                          <th scope="col" class="types2">Last Updated Date</th>
                          <th scope="col" class="types2">Action</th>
                        </tr>
                      </thead>
                      <tbody class="" >
                        <tr>
                          <td>1</td>
                          <td>Project</td>
                          <td >Process Improvement</td>
                          <td>Risk Assesment</td>
                          <td>Project Name 1</td>
                          <td>Inprogress</td>
                          <td>good</td>
                          <td >Pete</td>
                          <td>High</td>
                          <td>Owner</td>
                          <td>05-june-2021</td>
                          <td>Action</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Project</td>
                            <td >Process Improvement</td>
                            <td>Risk Assesment</td>
                            <td>Project Name 1</td>
                            <td>Inprogress</td>
                            <td>good</td>
                            <td >Pete</td>
                            <td>High</td>
                            <td>Owner</td>
                            <td>05-june-2021</td>
                            <td>Action</td>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>Project</td>
                            <td >Process Improvement</td>
                            <td>Risk Assesment</td>
                            <td>Project Name 1</td>
                            <td>Inprogress</td>
                            <td>good</td>
                            <td >Pete</td>
                            <td>High</td>
                            <td>Owner</td>
                            <td>05-june-2021</td>
                            <td>Action</td>
                          </tr>
                      </tbody>
                    </table>
                    
            </div>
            
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">10</span>
              <span class="tab-text">New</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>  
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">08</span>
              <span class="tab-text">Inprogress</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">10</span>
              <span class="tab-text">In review</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">06</span>
              <span class="tab-text">Approved</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">04</span>
              <span class="tab-text">Rejected</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Action</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>    
        </mat-tab-group>
    </mat-card>
    </div>