.types2{
    color:#0062cf  !important;
    width:15%;
}

.env-btn > button > img{
    color:black !important;
    width:25px;
    background-color: white !important;
  }

  .env-btn > button:disabled > img{
    color:rgb(116, 116, 116) !important;
    background-color:white!important;
  }
  .env-btn > button:disabled{
    background-color:white;
  }
  .env-btn > button > div{
    color:black !important;
  }

  .env-btn > button:disabled > div{
    color:lightgrey !important;
  }

  .env-btn{
    margin-left: 5px !important;
    margin-right: 5px !important;
  } 
  