<div>
    <!-- <mat-card>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">38</span>
              <span class="tab-text types2">Total Projects</span>
            </ng-template> -->
            
            <div class="rpa-env-search">
              <mat-form-field class="rpa-mat-form-field-search">
                  <mat-label>Search</mat-label>
                  <mat-icon matSuffix *ngIf="!isSearch" style="font-size: 1.2em">search</mat-icon>
                  <input class="toolbar-search" *ngIf="!isSearch" matInput (keyup)="applyFilter1($event.target.value)">
              </mat-form-field>
      
          </div>
            <div class="env-data-tool">
              <div class="env-btn">
                  <button value="Create" title="Create" id="addbtn" (click)="createprojects()">
              <img  src='..\\assets\\images\\RPA\\rpa-env-add-btn.svg'> 
              <div>New</div>
            </button>
              </div>
              <div *ngIf="Credupdateflag == true" class="env-btn">
                  <button id="updatebtn" data-toggle="tooltip" data-placement="bottom" title="Modify" (click)="updatedata()">        
              <img   src='..\\assets\\images\\RPA\\rpa-env-edit-btn.svg'> 
              <div>Modify</div>            
                  </button>    
              </div>   
              <div *ngIf="Credupdateflag == false" class="env-btn">    
                  <button data-toggle="tooltip" id="updatebtn" data-placement="top" title="Modify" disabled>            
                   <img   src='..\\assets\\images\\RPA\\rpa-env-edit-btn.svg'>     
                   <div>Modify</div>          
                   </button>   
              </div>
              <div *ngIf="Creddeleteflag==true" class="env-btn">
                  <button title="Delete" value="Delete" id="deletebtn" (click)="delete()">
                      <img src='..\\assets\\images\\RPA\\rpa-env-delete-btn.svg'> 
                      <div>Delete</div>
                      </button>
              </div>       
              <div *ngIf="Creddeleteflag==false" class="env-btn">
                  <button data-toggle="tooltip" data-placement="top" id="deletebtn" title="Delete" disabled>
                  <img src='..\\assets\\images\\RPA\\rpa-env-delete-btn.svg'> 
                  <div>Delete</div>
                  </button>
              </div>
          </div>
            <div style="width:100%;overflow-x: scroll;">
                  <table mat-table #sort2="matSort" [dataSource]="dataSource2" matSort class=" table"  id="listofcred">
                      <!-- <thead>
                        <tr>
                          <th scope="col" class="types2">ID</th>
                          <th scope="col" class="types2">Type</th>
                          <th scope="col" class="types2">Initiative</th>
                          <th scope="col" class="types2">Process</th>
                          <th scope="col" class="types2">Name</th>
                          <th scope="col" class="types2">Status</th>
                          <th scope="col" class="types2">Health</th>
                          <th scope="col" class="types2">Owner</th>
                          <th scope="col" class="types2">Priority</th>
                          <th scope="col" class="types2">Access</th>
                          <th scope="col" class="types2">Last Updated Date</th>
                          <th scope="col" class="types2">Action</th>
                        </tr>
                      </thead>
                      <tbody class="" >
                        <tr>
                          <td>1</td>
                          <td>Project</td>
                          <td >Process Improvement</td>
                          <td>Risk Assesment</td>
                          <td>Project Name 1</td>
                          <td>Inprogress</td>
                          <td>good</td>
                          <td >Pete</td>
                          <td>High</td>
                          <td>Owner</td>
                          <td>05-june-2021</td>
                          <a class="link" id="eiap-home" (click)="updatedata"><td>Edit</td></a>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Project</td>
                            <td >Process Improvement</td>
                            <td>Risk Assesment</td>
                            <td>Project Name 1</td>
                            <td>Inprogress</td>
                            <td>good</td>
                            <td >Pete</td>
                            <td>High</td>
                            <td>Owner</td>
                            <td>05-june-2021</td>
                            <td>Edit</td>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>Project</td>
                            <td >Process Improvement</td>
                            <td>Risk Assesment</td>
                            <td>Project Name 1</td>
                            <td>Inprogress</td>
                            <td>good</td>
                            <td >Pete</td>
                            <td>High</td>
                            <td>Owner</td>
                            <td>05-june-2021</td>
                            <td>Edit</td>
                          </tr>
                      </tbody>
                    </table>
                    
            </div>
            
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">10</span>
              <span class="tab-text">New</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>  
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">08</span>
              <span class="tab-text">Inprogress</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">10</span>
              <span class="tab-text">In review</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">06</span>
              <span class="tab-text">Approved</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-number">04</span>
              <span class="tab-text">Rejected</span>
            </ng-template>
            <div class="">
                <table class="table table-borderless col-md-12 table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="types2">ID</th>
                      <th scope="col" class="types2">Type</th>
                      <th scope="col" class="types2">Initiative</th>
                      <th scope="col" class="types2">Process</th>
                      <th scope="col" class="types2">Name</th>
                      <th scope="col" class="types2">Status</th>
                      <th scope="col" class="types2">Health</th>
                      <th scope="col" class="types2">Owner</th>
                      <th scope="col" class="types2">Priority</th>
                      <th scope="col" class="types2">Access</th>
                      <th scope="col" class="types2">Last Updated Date</th>
                      <th scope="col" class="types2">Action</th>
                    </tr>
                  </thead>
                  <tbody class="" >
                    <tr>
                      <td>1</td>
                      <td>Project</td>
                      <td >Process Improvement</td>
                      <td>Risk Assesment</td>
                      <td>Project Name 1</td>
                      <td>Inprogress</td>
                      <td>good</td>
                      <td >Pete</td>
                      <td>High</td>
                      <td>Owner</td>
                      <td>05-june-2021</td>
                      <td>Edit</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Project</td>
                        <td >Process Improvement</td>
                        <td>Risk Assesment</td>
                        <td>Project Name 1</td>
                        <td>Inprogress</td>
                        <td>good</td>
                        <td >Pete</td>
                        <td>High</td>
                        <td>Owner</td>
                        <td>05-june-2021</td>
                        <td>Edit</td>
                      </tr>
                  </tbody>
                </table>
                
        </div>
          </mat-tab>    
        </mat-tab-group>
    </mat-card>
    </div> -->
   
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <input [disabled]="Prjcheckeddisabled" type="checkbox" id="Credcheckall" [checked]="Credcheckflag" (change)="CredcheckAllCheckBox($event)">
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
          <input type="checkbox" [checked]="element.checked" (change)="CredcheckEnableDisableBtn(element.id, $event)"> 
      </td>
  </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element"> 
           <span *ngIf="element.type!=null">{{element.type}}</span> 
          <span *ngIf="element.type==''">-</span>
      </td>
  </ng-container>
  <ng-container matColumnDef="initiatives">
      <th mat-header-cell *matHeaderCellDef >Initiative</th>
      <td mat-cell *matCellDef="let element"> 
        <span *ngIf="element.initiatives!=null">{{element.initiatives}}</span> 
          <span *ngIf="element.initiatives==''">-</span>
  </ng-container>

  <ng-container matColumnDef="process">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Process</th>
      <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.process!=null">{{element.process}}</span> 
          <span *ngIf="element.process==''">-</span> 
      </td>
  </ng-container>
  
  <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.projectName!=null">{{element.projectName}}</span> 
          <span *ngIf="element.projectName==''">-</span> 
      </td>
  </ng-container>


  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
    <td mat-cell *matCellDef="let element"> 
        <span *ngIf="element.owner!=null">{{element.owner}}</span> 
        <span *ngIf="element.owner==''">-</span> 
    </td>
</ng-container>


<ng-container matColumnDef="priority">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
  <td mat-cell *matCellDef="let element"> 
      <span *ngIf="element.priority!=null">{{element.priority}}</span> 
      <span *ngIf="element.priority==''">-</span> 
  </td>
</ng-container>

<!-- <ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef> Action </th>
  <td mat-cell *matCellDef="let id" class="action-link"> 
    <a (click)="openDialog('Update',id)">Edit</a> | 
    <a (click)="openDialog('Delete',element)">Delete</a>  
  </td>
</ng-container> -->

<tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
<tr class="row-highlight" mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
</table>
</div>
<mat-paginator #paginator2 [pageSize]="8" [showFirstLastButtons]="true"></mat-paginator>
  


    <div id="UpdateProjects" class="rpa-modal">
      <div class="rpa-modal-content">
          <div class="rpa-modal-header">
              <span class="rpa-modal-close" (click)="closeproject()">&times;</span>
              <h4>Update</h4>
          </div>
          <div class="container">
              <form [formGroup]="updateForm" (ngSubmit)="projectupdate()">
                  <div class="row">
                      <div class="col-md-3 formelement">
                          <label for="initiatives">Initiative<span style="color:red">*</span></label>
                          <input type="text" maxlength="51" class="form-control" formControlName="initiatives" value="" placeholder="Enter Initiative" >
                          <span *ngIf="(updateForm.get('initiatives').invalid && updateForm.get('initiatives').touched) && !updateForm.controls['initiatives'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Initiative Required*</span>
                          <div *ngIf="updateForm.controls['initiatives'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                              Maximum of 50 characters
                          </div>  
                      </div>
                     
                      <div class="col-md-3 formelement">
                        <label for="process">Process<span style="color:red">*</span></label>
                        <input type="text" maxlength="51" class="form-control" formControlName="process" value="" placeholder="Enter Process" >
                        <span *ngIf="(updateForm.get('process').invalid && updateForm.get('process').touched) && !updateForm.controls['process'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Process Required*</span>
                        <div *ngIf="updateForm.controls['process'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                            Maximum of 50 characters
                        </div>  
                    </div>
                                 
                      

                      <div class="col-md-3 formelement">
                          <label for="projectName">Name<span style="color:red">*</span></label>
                          <input type="text" maxlength="51" class="form-control data" formControlName="projectName"  value="" placeholder="Enter Name">
                          <span *ngIf="(updateForm.get('projectName').invalid && updateForm.get('projectName').touched) && !updateForm.controls['projectName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Name is required*</span>
                          <div *ngIf="updateForm.controls['projectName'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                              Maximum of 50 characters
                          </div>
                      </div>

                      <div class="col-md-3 formelement">
                        <label for="owner">Owner<span style="color:red">*</span></label>
                        <input type="text" maxlength="51" class="form-control data" formControlName="owner"  value="" placeholder="Enter Owmer">
                        <span *ngIf="(updateForm.get('owner').invalid && updateForm.get('owner').touched) && !updateForm.controls['owner'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">Owner is required*</span>
                        <div *ngIf="updateForm.controls['owner'].hasError('maxlength')" style="color:red" class="fa fa-info-circle errspan">
                            Maximum of 50 characters
                        </div>
                    </div>

                      </div>

                      <div class="row">
                      <div class="col-md-3 formelement">
                        <label for="priority">Priority<span style="color:red">*</span></label>
                        <select class="form-control" formControlName="priority">
                            <option value="" [selected]="true">--Select Priority --</option>
                            <option value="High">High</option>
                            <option value="Low">Low</option>               
                          </select>
                        <span *ngIf="updateForm.get('priority').invalid && updateForm.get('priority').touched" style="color:red" class="fa fa-info-circle errspan">Priority Required*</span>
                    </div>
                      
                  </div>
                  <div class="row">
                     
                      
                  </div>
                  <div class="row">
                      <div class="col-md-3 formelement">
                          <!-- <input type="checkbox" [checked]="toggle" formControlName="activeStatus"> Active -->
                      </div>
                  </div>
                  <input type="button" class="btn btn-primary" value="Save" (click)="projectupdate()" [disabled]="updateForm.invalid || submitted">
                   <input type="button" class="btn btn-primary" value="Reset" (click)="resetupdateForm()">

              </form>
          </div>
      </div>
  </div>