.botpreviewtr {
  height: auto !important;
}
.aprwkfl_table h4 {
  color: #535353;
  font-size: 15px;
  font-weight: 600;
  /* text-transform: capitalize; */
}
.aprwkfl_actions_icons {
  display: flex;
  align-items: center;
}
.aprwkfl_actions button {
  padding: 0px !important;
  background-color: unset !important;
  min-width: unset !important;
  margin: 0px !important;
  opacity: 1;
  margin-right: 5px !important;
}
.aprwkfl_actions button img {
  cursor: unset;
}
.list_header {
  text-align: left;
  width: 100%;
  display: inline;
  font-size: 14px !important;
}

.account_pay_details_table thead tr, .account_pay_details_table tbody tr {
  height: 40px;
}
.bps_overlay div[class^='diagram_container'] {
  padding-top: 50px;
  height: 280px;
}
.down-btn {
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 1;
}

mat-expansion-panel-header {
  position: relative;
}
