<div class="container-fluid">
  <div class="row col-md-12 approve_bpmn_list_header">
    <div class="col-md-1"><b>Process ID</b></div>
    <div class="col-md-2"><b>Process Name</b></div>
    <div class="col-md-2"><b>Modified Date/Time</b></div>
    <div class="col-md-2"><b>Resource</b></div>
    <div class="col-md-2"><b>Role</b></div>
    <div class="col-md-2"><b>Overview</b></div>
    <div class="col-md-1"><b>Actions</b></div>

  </div><br/><br/>
  <mat-accordion>

    <mat-expansion-panel #matExpansionPanel *ngFor="let each_diag of griddata;let i=index;trackBy:loopTrackBy" [id]="'bpmn_list_item'+i"
      hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="row col-md-12">
            <div class="col-md-1" *ngIf="each_diag.bpmnProcessInfo">{{each_diag.bpmnProcessInfo.processIntelligenceId}}</div>
            <div class="col-md-2" *ngIf="each_diag.bpmnProcessInfo">{{each_diag.bpmnProcessInfo.bpmnProcessName}}</div>
            <div class="col-md-2" *ngIf="each_diag.bpmnProcessInfo">{{each_diag.bpmnProcessInfo.modified_timestamp | date:'dd/MM/yy HH:mm:ss'}}</div>
            <div class="col-md-2" *ngIf="each_diag.bpmnProcessInfo">{{each_diag.bpmnProcessInfo.userName}}</div>
            <div class="col-md-2">{{role}}</div>
            <div class="col-md-2 overview_icon" *ngIf="each_diag.bpmnProcessInfo" (click)="expandPanel($event,i,each_diag.bpmnProcessInfo.bpmnXmlNotation)">
              <img  src="..\assets\icons\bpmn_Overview.svg"> 
          </div>
            <div class="col-md-1" *ngIf="each_diag.bpmnProcessInfo">{{each_diag.bpmnProcessInfo.bpmnProcessStatus}}</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row col-md-12">
        <div class="col-md-7">
          <h5>Account Payable - ID : {{each_diag.acc_pay_id}}</h5>
          <table class="full_width account_pay_details_table">
            <thead>
              <tr>
                <th> Date/Time </th>
                <th> Modeler Name </th>
                <th> Action </th>
                <th> Message </th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngIf="each_diag.bpmnProcessInfo">{{each_diag.bpmnProcessInfo.modified_timestamp | date:'dd/MM/yy HH:mm:ss'}}</td>
                    <td *ngIf="each_diag.bpmnProcessInfo">{{each_diag.bpmnProcessInfo.userName}}</td>
                    <td>
                      <button class="btn btn-success" (click)="approveDiagram(each_diag)">Approve</button>
                      <button class="btn btn-danger" (click)="denyDiagram(each_diag,i)">Deny</button>
                    </td>
                    <td><input type="text"  [(ngModel)]="message[i]" placeholder="Enter your Message"/></td>
                  </tr>
                </tbody>
              </table>
            </div>
        <div class="col-md-5">
          <div *ngIf="each_diag.bpmnProcessInfo" [class]="'diagram_container'+i"></div>
        </div>

      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>





























