.p-button-outlined {
  margin: 0 0 0 10px;
  color: #098de6;
}
.botpreviewtr {
  height: auto !important;
}
.aprwkfl_table h4 {
  color: #535353;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.aprwkfl_actions_icons {
  display: flex;
  align-items: center;
}
.aprwkfl_actions button {
  padding: 0px !important;
  background-color: unset !important;
  min-width: unset !important;
  margin: 0px !important;
  opacity: 1;
  margin-right: 5px !important;
}
.list_header {
  text-align: left;
  width: 100%;
  display: inline;
  font-size: 14px !important;
}
.bps_overlay .fit_button {
  top: 15px;
  right: 15px;
  position: absolute;
}
.account_pay_details_table thead tr, .account_pay_details_table tbody tr {
  height: 40px;
}
.bps_overlay div[class^='diagram_container'] {
  padding-top: 65px;
  height: 300px;
}
.down-btn {
  position: absolute;
  right: 45px;
  top: 15px;
  z-index: 2;
}

/* 
.aprwkfl_bpmn_list_header {
      background-color: #e8f7fd;
      padding: 6px 10px !important;
      display: -webkit-box;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
      align-items: center;
      font-size: 14px;
      color: #00a0e3;
      border: none;
      height: 40px;
      flex-wrap: unset;
  }
  .aprwkfl_search {
  float: right;
  display: flex;
}
.aprwkfl_search .label-control {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 2px;
  width: 60%;
  padding-right: 10px;
  line-height: 30px;
}
.searchinputar {
  position: relative;
  width: 100%;
}
.searchinputar .notranslate.material-icons.mat-icon-no-color {
  position: absolute;
  top: 1px;
  right: 0px;
}
.searchinputar .notranslate.material-icons.mat-icon-no-color img{
 width: 16px;
}
.aprwkfl-grid-data .bps_overlay span.info {
  border-radius: 4px;
  padding: 8px 12px;
  top: 10px !important;
  left: 24px;
  width: 100px !important;
  position: absolute;
  text-align: center !important;
} 
.row.grid-header {
  padding: 0px 0px 10px;
}
.aprwkfl-grid-data {
  height: 60vh !important;
}
i.material-icons.expand-close {
  display: none;
}
.mat-expanded i.material-icons.expand-close {
  display: block !important;
  color: #5b5b5b;
    opacity: 0.6;
}
i.material-icons.expand-open {
  display: block;
  color: #5b5b5b;
    opacity: 0.6;
}
.mat-expanded i.material-icons.expand-open {
  display: none !important;
}
.expan-icon{
  width: 16% !important;
} 
*/ 

mat-expansion-panel-header {
  position: relative;
}
