<div class="maincont">
    <div class="maincont-contentarea">
        <div class="h-100">
            <div class="row main-content-head">
                <h3>
                    <label id="popup_title">
                        <a (click)="backToConnection()" class="imageBox"> 
                            <img class="default-arrow" src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
                            <img class="hover-arrow" src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt=""> 
                        </a>
                    </label>
                    <span class="title_text_haspath">
                        <span class="breadcrum-back" (click)="backToConnection()">Connection Manager  </span> <span class="breadcrum-align">/</span>
                        <span class="sub_title_text">{{ selectedName }}</span>
                    </span>
                </h3>
            </div>
            <div class="main-content-body">
                <div class="actionitems-grid">
                    <div class="row credential-search-tools">
                        <div *ngIf="addflag" class="env-btn credential-btntool">
                                <button value="Create" id="addbtn"
                                    (click)="addNewAction()" pTooltip="New" tooltipPosition="top">
                                    <img src='../../../../assets/images/RPA/icon_latest/new-blue.svg' alt="add">
                                </button>
                                <!-- <button *ngIf="!(userRole.includes('Process Owner') || userRole.includes('RPA Developer'))" class="disbtn">
                                    <img src="../../../../assets/images/RPA/icon_latest/new-dis.svg" alt="">
                                </button> -->
                        </div>
                    </div>
                    <div class="gridparentdiv">
                        <app-dynamic-table
                        [representatives]="representatives" 
                        [columns_list]="columns_list"
                        [table_data]="actionTable" 
                        (viewItem)="viewDetails($event)" 
                        (deleteItem)="deleteById($event)"
                        [screenTable]="'actionsTable'" 
                        [checkBoxShow]="false" 
                        (selectedData)="readSelectedData($event)"
                        [dataKeyId]="'id'" 
                        [show_search_field]="true" 
                        [show_column_filter]="true"
                        [show_clear_filter]="true"
                        [search_fields]="table_searchFields"
                        [selectionMode]="'single'"
                        (onRowDoubleClick)="viewDetails($event)"
                        >
                       </app-dynamic-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-confirmDialog #cd [style]="{width: '30vw'}" key="positionDialog" position="center" [baseZIndex]="10000"
    rejectButtonStyleClass="btn bluebg-button" [closable]="false">
    <ng-template pTemplate="footer">
        <button type="button" pButton class="btn reset-btn" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton class="btn bluebg-button" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
