<div class="maincont">
    <div class="maincont-contentarea">
        <div class="h-100">
            <div class="row main-content-head">
                <h3>
                    <label id="popup_title">
                        <a (click)="backToConnection()"><img src="./../../../../assets/images-n/projects/backarrow.svg" alt="back-arrow"></a>
                    </label>
                    <span class="title_text">
                        <span>Connection Manager | </span>
                        <span class="sub_title_text">{{ selectedName }}</span>
                    </span>
                </h3>
                <!-- <div class="col-md-8 pr-0 text-right">
                    <button [disabled]="!(userRole.includes('Process Owner') || userRole.includes('RPA Developer'))" class="btn" (click)="addNewAction()" pTooltip="Create" tooltipPosition="bottom">
                      <img src="./../../../../assets/images-n/projects/plus-square_blue.svg" alt="Create">
                    </button>
                </div> -->
            </div>
            <div class="main-content-body">
                <div class="actionitems-grid">
                    <div class="row credential-search-tools">
                        <div class="env-data-tool credential-tools">
                            <div *ngIf="addflag" class="env-btn credential-btntool">
                                <button class="tsttooltipbtn" [disabled]="!(userRole.includes('Process Owner') || userRole.includes('RPA Developer'))" value="Create" id="addbtn" (click)="addNewAction()" pTooltip="New" tooltipPosition="bottom">
                                    <img src='../../../../assets/images/RPA/icon_latest/new-blue.svg' alt="add">
                                </button>
                            </div>
                            <!-- <div *ngIf="!addflag" class="env-btn credential-btntool">
                                <button class="tsttooltipbtn" id="addbtn" disabled>
                                    <img src='../../../../assets/images/RPA/icon_latest/plus dis.svg' alt="add">
                                </button>
                            </div> -->
                            <!-- <div *ngIf="updateflag" class="env-btn credential-btntool">
                                <button class="tsttooltipbtn" id="updateenvbtn" pTooltip="Edit" tooltipPosition="bottom">
                                    <img src='../../../../assets/images/RPA/icon_latest/edit-blue.svg' alt="edit">
                                </button>
                            </div>
                            <div *ngIf="!updateflag && actionVisible" class="env-btn credential-btntool">
                                <button id="updateenvbtn" disabled>
                                    <img src='../../../../assets/images/RPA/icon_latest/edit-dis.svg' alt="edit">
                                </button>
                            </div>
                            <div class="env-btn credential-btntool" *ngIf="delete_flag">
                                <button class="tsttooltipbtn" value="Delete" id="deletebtn" pTooltip="Delete" tooltipPosition="bottom">
                                    <img src='../../../../assets/images/RPA/icon_latest/delete-blue.svg' alt="delete">
                                </button>
                            </div>
                            <div *ngIf="!delete_flag && actionVisible" class="env-btn credential-btntool">
                                <button data-placement="top" id="deletebtn" disabled>
                                    <img src='../../../../assets/images/RPA/icon_latest/delete-dis.svg' alt="delete">
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <div>
                        <app-dynamic-table
                        [representatives]="representatives" 
                        [columns_list]="columns_list"
                        [table_data]="actionTable" 
                        (viewDetails)="viewDetails($event)" 
                        (deleteItem)="deleteById($event)"
                        [screenTable]="'actionsTable'" 
                        [checkBoxShow]="false" 
                        (selectedData)="readSelectedData($event)"
                        [dataKeyId]="'id'" 
                        [show_search_field]="true" 
                        [show_column_filter]="true"
                        [show_clear_filter]="true"
                        [search_fields]="table_searchFields"
                        [selectionMode]="'single'"
                        >
                       </app-dynamic-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast  [style]="{marginTop: '50px'}" ></p-toast>

<p-confirmDialog [style]="{width: '40vw'}" key="positionDialog" position="center" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>