.row.credential-search-tools {
  width: auto;
  position: absolute;
  right: 325px;
  z-index: 2;
}

.env-btn>button:disabled {
  background-color: transparent !important;
}

.credential-tablegrid table td span {
  font-size: 13px !important;
}

.credential-btntool {
  padding: 7px 6px;
}

.credential-btntool img {
  width: 16px;
  height: 16px;
}
.create-title {
  padding: 19px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-body {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}
.disbtn img {
  cursor: no-drop !important;
}