<div class="maincontent">
    <div class="h-100">
        <div class="row main-content-head">
            <div class="col-md-8 pl-0">
                <h3>
                    <label id="popup_title">
                        <a (click)="onNavigate()"><img src="./../../../../assets/images-n/projects/backarrow.svg"
                                alt="back-arrow" /></a>
                    </label>
                    <span class="title_text">
                        Projects | {{ projectName }} | <strong> Create Document </strong>
                    </span>
                </h3>
            </div>
            <div class="col-md-4 pr-0 text-right">
                <button (click)="downloadDocument()" class="btn bluebg-button">
                    Download
                </button>
                <button (click)="saveDocument()" class="btn bluebg-button ml-3">
                    Save
                </button>
            </div>
        </div>
        <div class="main-content-body">
            <div class="">
                <div class="document-editor">
                    <div id="toolbar-container"></div>
                    <div class="editor-container editor-body">
                        <div id="editor"></div>
                    </div>
                </div>
                <!-- <ckeditor [(ngModel)]="documentData" 
                    #myckeditor="ngModel"
                    name="myckeditor"
                    required
                    [config]="ckeConfig" 
                    debounce="500" >
                </ckeditor> -->
            </div>
        </div>
    </div>
</div>

<p-dialog header="Enter File Name" [(visible)]="isDialog" class="docfldnam">
    <span class="p-float-label">
        <input type="text" pInputText placeholder="Enter File Name" [(ngModel)]="entered_folderName" name="folder"
            maxlength="50" />
        <button type="button" class="btn bluebg-button" (click)="uploadFile()" [disabled]="!(entered_folderName.length > 4)">
            Save
        </button>
    </span>
</p-dialog>

<p-toast  [style]="{marginTop: '50px'}" ></p-toast>