<div class="maindivfoprm billingformdiv">
    <form [formGroup]="billingForm" class="">
        <div class="row  row-gap col-md-12">
            <div class="form-group col-md-6 pl-0">
                <label  class="label-control">Name<span class="star">*</span></label>
                <div class="input-icon-wrapper">
                    <span class="input-icon">
                        <i class="pi pi-user"></i>
                    </span>
                    <input type="text" pInputText class="input-with-icon" [style]="{'width':'100%'}" maxlength="51" (keydown)="onMessageInput($event)"
                        formControlName="name" placeholder="Enter Name" required>
                </div>
                <span *ngIf="billingForm.get('name').invalid && billingForm.get('name').touched && !billingForm.get('name').hasError('pattern') && !billingForm.controls['name'].hasError('maxlength')" class="required"> 
                    Name Required 
                </span>
                <span *ngIf="billingForm.controls['name'].hasError('maxlength')" class="required">
                    Maximum of 50 characters
                </span>
                <!-- <span *ngIf="billingForm.get('name').hasError('pattern') && !billingForm.controls['name'].hasError('maxlength')" class="required">
                    Only space between words are allowed
                </span> -->
            </div>
            <!-- <div class="form-group col-md-6 pr-0">
                <label  class="label-control" for="taskCategory">Last Name<span class="star">*</span></label>
                <input type="text" placeholder="Enter Last Name" pInputText [style]="{'width':'100%'}" maxlength="51"
                    formControlName="lastName">
                <span *ngIf="billingForm.get('lastName').invalid && billingForm.get('lastName').touched && !billingForm.get('lastName').hasError('pattern') && !billingForm.controls['lastName'].hasError('maxlength')" class="required"> 
                    Last Name Required
                </span>
                <span *ngIf="billingForm.controls['lastName'].hasError('maxlength')" class="required">
                    Maximum of 50 characters
                </span>
                <span *ngIf="billingForm.get('lastName').hasError('pattern') && !billingForm.controls['firstName'].hasError('maxlength')" class="required">Only space
                    between words are allowed & Numbers are not allowed.
                </span>
            </div> -->
            <div class="form-group col-md-6 pr-0">
                <label  class="label-control" for="approvers">Email<span class="star">*</span></label>
                <div class="input-icon-wrapper">
                    <span class="input-icon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <input pInputText type="text" class="input-with-icon email-input" [style]="{'width':'100%'}" formControlName="email" placeholder="Enter Email" [attr.disabled]="true">
                </div>
                <span
                    *ngIf="billingForm.get('email').invalid && billingForm.get('email').touched && !billingForm.controls['email'].hasError('pattern')"
                    class="required">Email Required</span>
                <span *ngIf="billingForm.controls['email'].hasError('pattern')" class="required">Enter Correct Email
                    Address</span>
            </div>

            <div class="form-group col-md-6 pl-0">
                <label  class="label-control" for="approvers">Address Line1<span class="star">*</span></label>
                <div class="input-icon-wrapper">
                    <span class="input-icon">
                        <i class="pi pi-map-marker"></i>
                    </span>
                    <input pInputText type="text" class="input-with-icon" [style]="{'width':'100%'}" formControlName="addressLine1"
                        placeholder="Enter Address Line 1">
                </div>
                <span *ngIf="billingForm.get('addressLine1').invalid && billingForm.get('addressLine1').touched && !billingForm.get('addressLine1').hasError('pattern') && !billingForm.controls['addressLine1'].hasError('maxlength')" class="required">
                    Address Line1 Required 
                </span>
                <span *ngIf="billingForm.controls['addressLine1'].hasError('maxlength')" class="required">
                    Maximum of 100 characters
                </span>
                <span *ngIf="billingForm.get('addressLine1').hasError('pattern')" class="required">
                    Special characters not allowed except(,.-/) and Space between words are allowed
                </span>
                <!-- <span *ngIf="billingForm.get('addressLine1').hasError('pattern') && !billingForm.controls['addressLine1'].hasError('maxlength')" class="required">
                    Double Spaces are not allowed.
                </span> -->
            </div>
            <div class="form-group col-md-6 pr-0">
                <label  class="label-control">Address Line2 </label>
                <div class="input-icon-wrapper">
                    <span class="input-icon">
                        <i class="pi pi-map-marker"></i>
                    </span>
                    <input pInputText class="input-with-icon" [style]="{'width':'100%'}" type="text" formControlName="addressLine2"
                        placeholder="Enter Address Line 2">
                </div>
                    <!-- <span *ngIf="billingForm.get('addressLine2').invalid && billingForm.get('addressLine2').touched && !billingForm.get('addressLine2').hasError('pattern') && !billingForm.controls['addressLine2'].hasError('maxlength')" class="required"> 
                        Address Line2 Required 
                    </span> -->
                    <span *ngIf="billingForm.controls['addressLine2'].hasError('maxlength')" class="required">
                        Maximum of 100 characters
                    </span>
                    <!-- <span *ngIf="billingForm.get('addressLine2').hasError('pattern')" class="required">
                            Special characters not allowed except(,.-/) and Space between words are allowed
                    </span> -->
            </div>

            <div class="form-group col-md-6 pl-0">
                    <label  class="label-control" for="taskCategory">Country<span class="star">*</span></label>
                    <div class="dropdown-icon-wrapper">
                        <p-dropdown [options]="countryInfo" formControlName="country" autoWidth="false" emptyMessage="No Records Found"
                            (onChange)="onChangeCountry($event.value)" [style]="{'width':'100%'}" placeholder="Select Country"
                            optionLabel="name" optionValue="isoCode">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item-value">
                                    <i class="pi pi-globe"></i>
                                    <!-- <div>{{billingForm.get('country').value ? billingForm.get('country').value : 'Select Country'}}</div> -->
                                    <div>{{getSelectedCountryName()}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="country-item">
                                    <div>{{country.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <!-- <p-dropdown [options]="countryInfo" formControlName="country" autoWidth="false"
                        emptyMessage="No Records Found" (onChange)="onChangeCountry($event.value)"
                        [style]="{'width':'100%'}" placeholder="Select Country" optionLabel="name" optionValue="isoCode"></p-dropdown> -->
                    <span *ngIf="billingForm.get('country').invalid && billingForm.get('country').touched"
                        class="required">Country Required</span>
                    <span class="required">{{errorMessage}}</span>
            </div>

            <!-- <div class="form-group col-md-3 pl-0">
                <label  class="label-control" for="resources">State/Region<span class="star">*</span></label>
                <p-dropdown [options]="stateInfo" [style]="{'width':'100%'}" [appendTo]="'body'" optionValue="name" optionLabel="name"
                    [autoDisplayFirst]="false" placeholder="Select State/Region" formControlName="state"
                    (onChange)="onChangeState($event.value)">
                </p-dropdown>
                <span *ngIf="billingForm.get('state').invalid && billingForm.get('state').touched"
                    class="required">State Required</span>
                <span class="required">{{errorMessage1}}</span>
            </div> -->
            <!-- <div class="form-group col-md-3 pr-0">
                <label  class="label-control" for="priority">City <span class="star">*</span></label>
                <span>
                    <p-dropdown [options]="cityInfo" [style]="{'width':'100%'}"
                        [autoDisplayFirst]="false" placeholder="Select City" formControlName="city" optionLabel="name" optionValue="name" (onChange)="onChangeCity($event.value)">
                    </p-dropdown>
                </span>
                <span *ngIf="billingForm.get('city').invalid && billingForm.get('city').touched"
                class="required">City Required</span>
                <span class="required">{{errorMessage2}}</span>
            </div> -->

            <div class="form-group col-md-3 pr-0">
                <label  class="label-control">City<span class="star">*</span></label>
                <div class="input-icon-wrapper">
                    <span class="input-icon">
                        <i class="pi pi-map-marker"></i>
                    </span>
                    <input type="text" pInputText class="input-with-icon" [style]="{'width':'100%'}" maxlength="51"
                        formControlName="city" placeholder="Enter City" required>
                </div>
                <span *ngIf="billingForm.get('city').invalid && billingForm.get('city').touched && !billingForm.get('city').hasError('pattern') && !billingForm.controls['city'].hasError('maxlength')" class="required"> 
                    City Required 
                </span>
                <span *ngIf="billingForm.controls['city'].hasError('maxlength')" class="required">
                    Maximum of 50 characters
                </span>
                <span *ngIf="billingForm.get('city').hasError('pattern') && !billingForm.controls['city'].hasError('maxlength')" class="required">Only space
                    between words are allowed & Numbers are not allowed.
                </span>
            </div>

            <div class="form-group col-md-3 pr-0">
                <label  class="label-control" for="approvers">Postal Code<span class="star">*</span></label>
                <div class="input-icon-wrapper">
                    <span class="input-icon">
                        <i class="pi pi-map-marker"></i>
                    </span>
                    <input pInputText type="text" class="input-with-icon" maxlength="6" [style]="{'width':'100%'}" formControlName="postalcode"
                        placeholder="Enter Postal Code" (keypress)="numbersOnly($event)" required>
                </div>
                <span *ngIf="billingForm.get('postalcode').invalid && billingForm.get('postalcode').touched && !billingForm.get('postalcode').hasError('pattern') && !billingForm.controls['postalcode'].hasError('maxlength')" class="required">
                    Postal Code Required 
                </span>
                <span *ngIf="billingForm.controls['postalcode'].hasError('maxlength')" class="required">
                    Maximum of 10 characters
                </span>
                <!-- <span *ngIf="billingForm.get('postalcode').hasError('pattern') && !billingForm.controls['postalcode'].hasError('maxlength')" class="required">
                    Double Spaces are not allowed.
                </span> -->
            </div>
            <!-- <div *ngIf="!isInput" class="form-group col-md-3 pl-0">
                <label  class="label-control" for="approvers">Phone Number<span class="star">*</span></label>
                <input pInputText type="text" [style]="{'width':'100%'}" maxlength="10" formControlName="phoneNumber"
                    placeholder="Enter Phone Number" appOnlyNumbers (countryChange)="OnFlagChange($event)" ng2TelInput
                    [ng2TelInputOptions]="{initialCountry: phnCountryCode}" onKeyPress="if(this.value.length==10) return false;"
                    pattern="^((\\+91-?)|0)?[0-9]{10}$" required />
                <span
                     *ngIf="billingForm.get('phoneNumber').invalid && billingForm.get('phoneNumber').touched &&
                        !billingForm.controls['phoneNumber'].hasError('pattern') && !billingForm.controls['phoneNumber'].hasError('maxlength')"
                    class="required">Phone Number Required</span>
                <span
                     *ngIf="billingForm.controls['phoneNumber'].hasError('pattern') || billingForm.controls['phoneNumber'].hasError('maxlength') "
                    class="required">Phone number should be 10 digits</span>
            </div> -->
            <!-- <div *ngIf="isInput" class="form-group col-md-3 pl-0">
                <label  class="label-control" for="approvers">Phone Number<span class="star">*</span></label>
                <input pInputText type="text" [style]="{'width':'100%'}" maxlength="10" formControlName="phoneNumber"
                    placeholder="Enter Phone Number" appOnlyNumbers (countryChange)="OnFlagChange($event)" ng2TelInput
                    [ng2TelInputOptions]="{initialCountry: phnCountryCode}" onKeyPress="if(this.value.length==10) return false;"
                    pattern="^((\\+91-?)|0)?[0-9]{10}$" required />
                <span
                     *ngIf="billingForm.get('phoneNumber').invalid && billingForm.get('phoneNumber').touched &&
                        !billingForm.controls['phoneNumber'].hasError('pattern') && !billingForm.controls['phoneNumber'].hasError('maxlength')"
                    class="required">Phone Number Required</span>
                <span
                     *ngIf="billingForm.controls['phoneNumber'].hasError('pattern') || billingForm.controls['phoneNumber'].hasError('maxlength') "
                    class="required">Phone number should be 10 digits</span>
            </div> -->
            <div class="row justify-content-end">
                <!-- <button (click)="saveBillingInfo()" class="btn bluebg-button">{{editButton?'Update':'Save'}}</button> -->
                <button (click)="saveBillingInfo()" [disabled] ="!billingForm.valid" type="button" class="btn bluebg-button">Update</button>
            </div>
        </div>
        <!-- <div>
            <p-button *ngIf="!editButton" [disabled]="billingForm.invalid" class="float-right" label="Save"
                (onClick)="saveBillingInfo()"></p-button>
            <p-button *ngIf="editButton" [disabled]="billingForm.invalid" class="float-right" label="Update"
                (onClick)="saveBillingInfo()"></p-button>
        </div> -->
       
    </form>
    
</div>