.maindivfoprm.billingformdiv {
    height: calc(100vh - 245px);
    overflow: auto;
}
.maindivfoprm.billingformdiv {
    width: 75% !important;
    margin: 15px auto 0px auto;
  }

#save-btn {
    margin-top: 20px;
    margin-left: 835px;
    /* justify-content: end;
    align-items: end;
    bottom:25px;
    right:166px; */
} 