.maindivfoprm.billingformdiv {
    height: calc(100vh - 245px);
    overflow: auto;
}
.maindivfoprm.billingformdiv {
    /* width: 65% !important; */
    width: 95% !important;
    margin: 15px auto 0px auto;
    height: calc(100vh - 145px);
  }

::ng-deep .maindivfoprm input.p-inputtext, .maindivfoprm .p-dropdown {
    /* border-color: #979797 !important; */
    border-color: #747272 !important;
    color: #232832;
    color: var(--main-txtcolor);
    height: 40px;
    background: white !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

::ng-deep .maindivfoprm .label-control, .modelprbody label {
    color: #232832;
}

::ng-deep .p-dropdown .p-dropdown-label {
    background: white !important;
    border: 0 none;
    border-radius: 6px;
}

::ng-deep .maindivfoprm .p-dropdown{
    border-radius: 5px !important;
    border-color: #747272 !important;
}

::ng-deep .p-dropdown .p-dropdown-trigger {
    background: white;
    color: #6c757d;
    width: 2.357rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* Added New styles for input fields along with icons */

.input-icon-wrapper {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 55%;
    transform: translateY(-50%);
    color: #6c757d;
}

.input-with-icon {
    padding-left: 35px !important;
    width: 100% !important;
}

.country-item-value {
    display: flex;
    align-items: center;
}

.country-item-value i {
    margin-right: 0.5rem;
    color: #6c757d;
}

:host ::ng-deep .p-inputtext:disabled {
    opacity: 1 !important;
    color: #000 !important;
}

.row-gap{
    row-gap: 13px;
}

.email-input:disabled {
    opacity: 1 !important;
    color: #6c757d !important;
    cursor: not-allowed;
}

.state-item-value {
    display: flex;
    align-items: center;
}

.state-item-value i {
    margin-right: 0.5rem;
    color: #6c757d;
}

.required{
    text-transform: none;
}