<!-- <form [formGroup]="predefinedBotsForm">
  <div class="form-container">
    <ng-container *ngFor="let field of formFields">
      <div class="form-group" *ngIf="hasFieldValue(field)">
        <label>{{ field.preAttributeLable }}{{ field.attributeRequired ? '*' : '' }}</label>
        <ng-container [ngSwitch]="field.preAttributeType">
          <input class="form-control" *ngSwitchCase="'text'" type="text" [formControlName]="field.preAttributeName">
          <input *ngSwitchCase="'email'" type="email" [formControlName]="field.preAttributeName">
          <div *ngSwitchCase="'file'" class="file-input-wrapper">
            <span class="file-name">{{ getAttachmentName(field.preAttributeName) }}</span>
          </div>
          <textarea *ngSwitchCase="'textarea'" [formControlName]="field.preAttributeName"></textarea>
          Add more cases for other field types as needed
        </ng-container>
      </div>
    </ng-container>
  </div>
</form> -->







<form [formGroup]="predefinedBotsForm">
  <div class="form-container">
    <ng-container *ngFor="let field of formFields">
      <div class="form-group" *ngIf="hasFieldValue(field) && field.preAttributeLable !== 'user id' && field.preAttributeLable !== 'Tenant Id'">
        <ng-container [ngSwitch]="field.preAttributeType" >
          <label>{{ field.preAttributeLable }}</label>
          <input class="form-control common-bg" *ngSwitchCase="'text'" type="text" [formControlName]="field.preAttributeName">
          <input class="common-bg" *ngSwitchCase="'email'" type="email" [formControlName]="field.preAttributeName">
          <!-- <div style="height: 40px;" *ngSwitchCase="'file'" class="file-input-wrapper" [pTooltip]="getAttachmentName(field.preAttributeName).split(',').join(', <br>') ">
            <span class="file-name">{{ getAttachmentName(field.preAttributeName).split(',').join(', ') }}</span>
          </div> -->
          <div style="height: 40px;" *ngSwitchCase="'file'" class="file-input-wrapper" 
              [pTooltip]="getAttachmentName(field.preAttributeName).split(',').length > 1 ? 
                getAttachmentName(field.preAttributeName).split(',').join(', <br>') : ''">
                <span class="file-name">{{ getAttachmentName(field.preAttributeName).split(',').join(', ') }}</span>
          </div>
          <textarea class="common-bg" *ngSwitchCase="'textarea'" [formControlName]="field.preAttributeName"></textarea>
          <div *ngSwitchCase="'checkbox'" style="display: flex; justify-content: space-between;">
            <ng-container *ngFor="let option of field.options">
              <label class="checkbox-container">
                <input type="checkbox" [formControlName]="option.value" class="checkbox-input">
                    <span class="checkbox-label">{{ option.label }}</span>
              </label>
            </ng-container>
          </div>

          <!-- only for check boxes checked -->
          <!-- <div *ngSwitchCase="'checkbox'" style="display: flex; justify-content: space-between;">
            <ng-container *ngFor="let option of field.options">
              <label class="checkbox-container" *ngIf="predefinedBotsForm.get(option.value).value">
                <input type="checkbox" [formControlName]="option.value" class="checkbox-input">
                <span class="checkbox-label">{{ option.label }}</span>
              </label>
            </ng-container>
          </div> -->

          
          <div *ngSwitchCase="'radio'">
            <label>
              <input class="common-bg" type="radio" [formControlName]="field.preAttributeName" [value]="field.preAttributeValue">
              {{ field.preAttributeLable }}
            </label>
          </div>
          <div *ngSwitchCase="'dropdown'">
            <select [formControlName]="field.preAttributeName" class="form-control common-bg">
              <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div *ngSwitchCase="'calendar'">
            <input class="common-bg" type="date" [formControlName]="field.preAttributeName">
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</form>