<form [formGroup]="predefinedBotsForm">
  <div>
    <label for="">AI Action*</label>
    <div formArrayName="aiActions">
      <div *ngFor="let action of aiActions; let i = index">
        <label>
          <input type="checkbox" [formControlName]="i" disabled>
          {{ action.label }}
        </label>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let action of aiActions; let i = index">
    <ng-container *ngIf="predefinedBotsForm.get('aiActions').value[i]">
      <ng-container *ngFor="let field of getAssociatedFields(i)">
        <div class="form-group">
          <label>{{ field.preAttributeLable }}*</label>
          <ng-container [ngSwitch]="field.preAttributeType">
            <input *ngSwitchCase="'text'" type="text" [value]="getFieldValue(field.preAttributeName)" disabled>
            <input *ngSwitchCase="'file'" type="file" [value]="getFieldValue(field.preAttributeName)" disabled>
            <!-- Add more cases for other field types as needed -->
            <div *ngSwitchCase="'file'" class="file-input-wrapper">
              <!-- <button class="file-input-button" disabled>Choose File</button> -->
              <span class="file-name">{{ getFieldValue(field.preAttributeName) }}</span>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</form>