<div class="maincontent">
    <div class="row main-content-head">
      <div class="col-md-8 pl-0">
        <h3>
          <span class="title_text">
            Train Customer Support Bot
          </span>
        </h3>
      </div>
      <div class="col-md-4 pr-0 text-right">
        <button class="btn grey-btn configure-pad" (click)="addNew()">
          <img src="./../../../../assets/images-n/dashboard/plus-square_grey.svg" alt="Add New" class="imgicon-width">
          <span class="plus">Add New</span>
        </button>
      </div>
    </div>
    <div class="main-content-body  table-height-adj">
      <div class="tabs_screen h-100">
        <div class="gridparentdiv">
          <app-dynamic-table 
          [table_data]="trainBotList" 
          [screenTable]="'trainCustomerSupportBots'"
          [columns_list]="columns_list" 
          (updateItem)="openUpdateOverlay($event)" 
          (deleteItem)="deleteBot($event)"
          [show_delete_btn]="false" 
          [show_edit_btn]="true" 
          [show_column_filter]="true" 
          [show_search_field]="true"
          [search_fields]="table_searchFields" 
          [show_clear_filter]="true" 
          [show_view_btn]="true"
          (viewItem)="viewDetails($event)" 
          (openEzAsk)="openEzAsk_Chat($event)" 
          (onRowDoubleClick)="openUpdateOverlay($event)">
        </app-dynamic-table>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="hiddenPopUp">
    <app-split-overlay (closeOverlay)="closeOverlay($event)">
      <div class="h-100">
        <div class="create-header">
          <h3 *ngIf="isCreate">Train Model</h3>
          <h3 *ngIf="!isCreate">Update Train Modelt</h3>
        </div>
        <div class="createform-overlay ">
          <form [formGroup]="trainBotForm" #adddept="ngForm" class="h-100">
            <div>
              <div class="form-group col-md-12 p-0">
                <label class="label-control">Model Name<span class="star">*</span></label>
                <input type="text" formControlName="trainBotName" pInputText placeholder="Enter bot name" maxlength="51"
                  class="form-control data">
                <span
                  *ngIf="trainBotForm.get('trainBotName').invalid && trainBotForm.get('trainBotName').touched && !trainBotForm.get('trainBotName').hasError('maxlength') && trainBotForm.get('trainBotName').value=='' && !trainBotForm.get('trainBotName').hasError('pattern')"
                  class="required">Model Name Required</span>
                <span
                  *ngIf="trainBotForm.get('trainBotName').hasError('maxlength') && !trainBotForm.get('trainBotName').hasError('pattern')"
                  class="required">Maximum of 50 characters</span>
                <span *ngIf="trainBotForm.get('trainBotName').hasError('pattern')" class="required">Spaces and special
                  characters are not allowed (Excluding _ & -)</span>
              </div>
  
             <!-- <div class="form-group col-md-12 p-0 dropdown-wrapper">
                <label class="label-control">Select your Model/File<span class="star">*</span></label>
                <div class="dropdown-container">
                <p-dropdown formControlName="trainModelFile" [options]="trainBotOptions" placeholder="Select your requirement"></p-dropdown>
                </div>
                <span *ngIf="trainBotForm.get('trainModelFile').invalid && trainBotForm.get('trainModelFile').touched"
                      class="required">Mandatory field</span>
              </div>  -->

               <!-- <div *ngIf="trainBotForm.get('trainModelFile').value == 'TRAIN-MODEL'">
                <div class="form-group col-md-12 p-0">
                  <label class="label-control">Trained Models<span class="star">*</span></label>
                  <div class="dropdown-container">
                    <p-dropdown formControlName="trainModelName" [options]="trainModelOptions" placeholder="Select your trained model"
                    (onChange)="onModelChange($event.value)"></p-dropdown>
                    </div>
                     <span *ngIf="trainBotForm.get('trainModel').invalid && trainBotForm.get('trainModel').touched"
                    class="required">Mandatory field</span>
                   </div>
              </div> -->
              <!-- <div *ngIf="trainBotForm.get('trainModelFile').value == 'DOC'"> -->
              <div class="form-group col-md-12 p-0">
                <label class="label-control">Upload your File<span class="star">*</span></label>
                <input type="file" formControlName="trainFile" pInputText
                  placeholder="Upload file" class="form-control data" (change)="onFileSelected($event)" multiple>
                <span *ngIf="trainBotForm.get('trainFile').invalid && trainBotForm.get('trainFile').touched"
                  class="required">Mandatory field</span>            
              </div>
            <!-- </div> -->
          </div>
          </form>
          <div class="createform-footer">
            <button (click)="resetbotform()" class="btn new-cancelbtn">Reset</button>
            <button *ngIf="isCreate" [disabled]="!trainBotForm.invalid" (click)="saveDetails()"
              class="btn bluebg-button">Save</button>
            <button *ngIf="!isCreate" [disabled]="trainBotForm.invalid" (click)="updateDatails()"
              class="btn bluebg-button">Update</button>
          </div>
        </div>
      </div>
    </app-split-overlay>
  </div>
  
  <p-confirmDialog #cd [style]="{width: '30vw'}" key="positionDialog" position="center" [baseZIndex]="10000"
    rejectButtonStyleClass="btn bluebg-button" [closable]="false">
    <ng-template pTemplate="footer">
      <button type="button" pButton class="btn reset-btn" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton class="btn bluebg-button" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
  </p-confirmDialog>