/* .agent-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .agent-image {
    width: 30px;
    height: 30px;
    min-width: 30px;
    background-color: #e6f3ff;
    border-radius: 50%;
    padding: 5px;
  }
  
  .agent-info {
    flex: 1;
    min-width: 0;
    margin-right: 10px;
  }
  
  .agent-name {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  
  .card-text {
    font-size: 0.85rem;
  }
  
  .btn-primary {
    background-color: #39a7ff;
    border-color: #39a7ff;
  }
  
  .btn-primary:hover {
    background-color: #2d86cc;
    border-color: #2d86cc;
  } */

  .main-screen{
    overflow: hidden;
  }

  .agent-card {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 18px 18px 15px 18px !important;
    height: 100% !important;
    /* height:106px; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  }
  
  .agent-card .card-body {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    justify-content: space-between;
}
  .agent-image {
    width: 35px;
    height: 35px;
    min-width: 35px;
    background-color: #e6f3ff;
    border-radius: 50%;
    padding: 5px;
  }
  
  .agent-info {
    flex: 1;
    min-width: 0;
    margin-right: 10px;
  }
  
  .agent-name {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-left: 8px;
  }
  
  .card-text {
    font-size: 0.85rem;
  }
  
  .btn-primary, .btn-danger {
    border-radius: 20px;
  }
  
  .row {
    margin-bottom: 1.5rem;
  }

  .agent-main-card{
    margin-bottom: 25px;
  }
  .badge.bg-success {
    font-size: 0.75rem;
    padding: 0.35em 0.65em;
  }
  
  
  @media (min-width: 992px) {
    .col-lg-3 {
      flex: 0 0 auto;
      /* width: 23%;
      margin-right: 2%; */
    }
    
    .col-lg-3:nth-child(4n) {
      margin-right: 0;
    }
  }

  .card-view{
    color: #fff;
  }
  
  .header-section {
    flex-shrink: 0;
  }
    /* Dialog Styles */
    :host ::ng-deep .custom-dialog .p-dialog .p-dialog-content {
      padding: 0 !important;
    }
  
    :host ::ng-deep .custom-dialog .p-dialog-content {
      flex-grow: 1;
    }
    /* Dialog Styles - Ended*/
      
    :host ::ng-deep .card-body {
      padding: 0.5rem 0.5rem;
      overflow-y: hidden !important;
      overflow-x: hidden !important;
    }
    
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: end; 
      padding: 3px 3px;
      margin-left: 8px;
    }
    
    .text-content {
      flex: 1;
      margin-left: 10px;
    }
    
    .badge1 {
      font-size: 14px;
      margin: 0;
      line-height: 2.2;
      word-wrap: break-word;
    }
    
    .text-muted {
      color: #6c757d;
    }
    
    .text-danger {
      color: #dc3545;
    }
    
    .card-new {
      color: #6c757d;
    }
    
    .cardBtn {
      font-size: 14px;
      white-space: nowrap;
      align-self: end;
      width: fit-content;
      font-weight: 500;
    }
    
    .btn-primary {
      background-color: #007bff;
      color: white;
    }
    
    .btn-danger {
      background-color: #FF8E43;
      color: white;
    }

    .button-top span img{
      height: 20px;
    }
    .main-header-title{
      font-weight: 600;
    }
    .g-4{
      padding-top: 5px;
    }


    /* Search Sort Section */
    .search-sort-section {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
    }
    .search-sort-section i{}
    .search-sort-section  input{
      padding-left: 36px !important;
      background: #fff !important;
      border-radius: 5px !important;
      border: 1px solid #e4e2e2 !important;  
      min-width: 400px !important;    
      box-shadow: 10px 11px 30px -6px rgba(0,0,0,0.1) !important;
      -webkit-box-shadow: 10px 11px 30px -6px rgba(0,0,0,0.1);
      -moz-box-shadow: 10px 11px 30px -6px rgba(0,0,0,0.1);
    }
    .search-sort-section  input:focus {
      border: 1px solid #bebdbd !important;
      -webkit-box-shadow: 10px 11px 23px 0px rgba(0,0,0,0.05);
      -moz-box-shadow: 10px 11px 23px 0px rgba(0,0,0,0.05);
      box-shadow: 10px 11px 23px 0px rgba(0,0,0,0.05) !important;
    }
    .search-sort-section button.sort-button {
      background: none !important;
      border: 1px solid #000 !important;
      color: #000000 !important;
      display: flex;
      align-items: center;
      gap: 10px;
      width: 33%;
      opacity: 0.8;
    }
    .search-icon-img {
      position: absolute;
      top: 10px;
      left: 10px;
  }
  .search-field {
    width: fit-content;
    /* margin-left: 40% !important; */
  }

.search-input{
  height: 40px !important;
  font-weight: 500;
  /* font-size: 16px; */
}

.search-sort-section button{
  height: 40px !important;
  font-size: 14px;
  font-weight: 500 !important;
  padding: 8px 20px !important;
}

.no-data-found{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  flex-direction: column;
  gap: 10px;
}

.agent-image-empty{
  width: 35px;
  height: 60px;
  min-width: 60px;
  background-color: #e6f3ff;
  border-radius: 50%;
  padding: 10px;
}

.centerd {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.second-section{
  display: flex;
  /* align-items: end; */
  justify-content: center;
  min-height: 38px;
}

.right-side{
  align-items: end !important;
  display: flex !important;
  justify-content: end !important;
  /* padding-right: 5px !important; */
  margin-bottom: -5px;
}
.agent-main-card{
  margin-bottom: 38px !important;
}
.search-sort-section{
  width: fit-content;
  padding: 6px 11px !important;
  font-size: 14px;
  display: flex !important;
  align-items: center;
  grid-gap: 5px;
  gap: 10px;
  font-weight: 500;
  justify-content: center;
  margin-left: auto;
}
.search-sort-section i{
  font-size: 11px;
    position: relative;
    top: 1px;
    padding-right: 4px;
}
@media (min-width: 1200px) and (max-width: 2000px) {
  .col-md-6 {
    padding-right: 19px !important;
    padding-left: 19px !important;
  }
}