<div class="h-100 main-screen">
    <div class="screen-wrapper">
        <div class="top-section">
            <div class="bot-info">
                <div class="bot-header">
                    <div class="row" style="margin-top: 10px !important;">
                        <div class="bot-name">{{bot?.botName || dummyBotName}} Agents</div>
                        <div class="add-more-agents" style="display: flex; justify-content: flex-end; gap: 10px; margin-inline-start: auto; align-items: center;">
                            <button class="manage-subscription-btn">Manage Subscription</button>  
                            <button class="add-more-qty" (click)="showAddAgentDialog($event)">Add More Agents</button>
                        </div>
                    </div>
                    <div class="h-100 main-screen">
                        <div >
                            <div class="single-outer-agents-cards">
                                <div class="card position-relative single-inner-agents-cards w-100" *ngFor="let agent of subAgentList">
                                    <div class="card-content">
                                        <div class="top-image-header-section-card">
                                            <div class="bot-image">
                                                <img src="../../../../assets/images/mini_bot.svg" alt="mini_bot">
                                            </div>
                                            <div class="agent-name-sec">
                                                <h3 class="new-agent-heading-section">{{ agent.agentName }}</h3>
                                            </div>
                                        </div>
                                        <div class="expiry-date bottom-expires-section">
                                            <div class="single-expiry-dates">
                                                <p class="inner-dates-sec text-left m-0" *ngIf="agent.lastRunDate!='null'">Last run date: {{ agent.lastRunDate |date:'MMM dd, y hh:mm' }}</p>
                                            </div>
                                            <div class="single-expiry-dates">
                                                <p class="inner-dates-sec text-left m-0">
                                                    <span *ngIf="!agent.isExpired">Expires: {{ agent.expiryDate?? "NA" |date:'MMM dd, y' }}</span>
                                                    <span *ngIf="agent.isExpired" style="color: red;">Expired: {{ agent.expiryDate?? "NA" |date:'MMM dd, y' }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- Add more details as needed -->
                                    </div>
                                    <div class="bottom-bin-section" *ngIf="agent.isExpired">
                                        <button type="button" class="bin-outer-btn">
                                            <img src="../../../../assets/images/agent/bin.svg" alt="">
                                        </button>
                                    </div>
                                    <div class="top-right-view-renew-btn">
                                        <button type="button" class="top-right-changable-btn" (click)="agent.isExpired ? handleRenewBtn(agent) : viewAgentDetails(agent)" [ngClass]="agent.isExpired ? 'active-re' : 'active-vi'">{{agent.isExpired ? 'Renew' : 'View'}}</button>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <p-confirmDialog 
        [style]="{width: '30vw'}" 
        position="center" 
        [baseZIndex]="10000" 
        [closable]="false">
    </p-confirmDialog>

    <p-dialog [(visible)]="displayAddAgentDialog" [draggable]="true" [style]="{width: '40vw', height:'29vw'}" [modal]="true"[showHeader]="false" [closable]="true" styleClass="custom-dialog">
        <app-ai-agent-add-agents-dialog [botName]="bot.botName" [selectedAgent]="selectedAgent" (close)="closeDialog()"></app-ai-agent-add-agents-dialog>
    </p-dialog>