/* .agent-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .agent-image {
    width: 30px;
    height: 30px;
    min-width: 30px;
    background-color: #e6f3ff;
    border-radius: 50%;
    padding: 5px;
  }
  
  .agent-info {
    flex: 1;
    min-width: 0;
    margin-right: 10px;
  }
  
  .agent-name {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  
  .card-text {
    font-size: 0.85rem;
  }
  
  .btn-primary {
    background-color: #39a7ff;
    border-color: #39a7ff;
  }
  
  .btn-primary:hover {
    background-color: #2d86cc;
    border-color: #2d86cc;
  } */

  .main-screen{
    overflow: hidden;
  }

  .agent-card {
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 100% !important;
    /* height:106px; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  }
  
  .agent-card .card-body {
    padding: 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .agent-image {
    width: 35px;
    height: 35px;
    min-width: 35px;
    background-color: #e6f3ff;
    border-radius: 50%;
    padding: 5px;
  }
  
  .agent-info {
    flex: 1;
    min-width: 0;
    margin-right: 10px;
  }
  
  .agent-name {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-left: 5px;
  }
  
  .card-text {
    font-size: 0.85rem;
  }
  
  .btn-primary, .btn-danger {
    border-radius: 20px;
  }
  
  .row {
    margin-bottom: 1.5rem;
  }

  .agent-main-card{
    margin-bottom: 25px;
  }
  .badge.bg-success {
    font-size: 0.75rem;
    padding: 0.35em 0.65em;
  }
  
  
  @media (min-width: 992px) {
    .col-lg-3 {
      flex: 0 0 auto;
      /* width: 23%;
      margin-right: 2%; */
    }
    
    .col-lg-3:nth-child(4n) {
      margin-right: 0;
    }
  }

  .card-view{
    color: #fff;
  }
  
  .header-section {
    flex-shrink: 0;
  }
    /* Dialog Styles */
    :host ::ng-deep .custom-dialog .p-dialog .p-dialog-content {
      padding: 0 !important;
    }
  
    :host ::ng-deep .custom-dialog .p-dialog-content {
      overflow-y: hidden;
      flex-grow: 1;
    }
  
    :host ::ng-deep .custom-dialog .p-dialog-content {
      padding: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  
    .dialog-bot-image {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  
    .dialog-header h3 {
      flex-grow: 1;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }
  
    .dialog-header {
      display: flex;
      align-items: center;
    }
  
    :host ::ng-deep .custom-dialog .p-dialog .p-dialog-header {
      border-bottom: 1px solid lightgray;
      background: #ffffff;
      color: #495057;
      padding: 0.7rem;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    /* Dialog Styles - Ended*/
      
    :host ::ng-deep .card-body {
      padding: 0.5rem 0.5rem;
      overflow-y: hidden !important;
      overflow-x: hidden !important;
    }
    
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: end; 
      padding: 3px 3px;
      margin-left: 8px;
    }
    
    .text-content {
      flex: 1;
      margin-left: 10px;
    }
    
    .badge1 {
      font-size: 12px;
      margin: 0;
      line-height: 1.6;
      word-wrap: break-word;
    }
    
    .text-muted {
      color: #6c757d;
    }
    
    .text-danger {
      color: #dc3545;
    }
    
    .card-new {
      color: #6c757d;
    }
    
    .cardBtn {
      font-size: 12px;
      white-space: nowrap;
      align-self: end;
      width: 75px;
    }
    
    .btn-primary {
      background-color: #007bff;
      color: white;
    }
    
    .btn-danger {
      background-color: #FF8E43;
      color: white;
    }

    .button-top span img{
      height: 20px;
    }
    .main-header-title{
      font-weight: 600;
    }
    .g-4{
      padding-top: 5px;
    }


    /* Search Sort Section */
    .search-sort-section {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;

    }
    .search-sort-section  input{
      padding-left: 36px !important;
    }
    .search-sort-section button.sort-button {
      background: none !important;
      border: 1px solid #000 !important;
      color: #000000 !important;
      display: flex;
      align-items: center;
      gap: 10px;
      width: 33%;
      opacity: 0.8;
    }
    .search-icon-img {
      position: absolute;
      top: 10px;
      left: 10px;
  }
  .search-field {
    width: 95% !important;
    /* margin-left: 40% !important; */
  }

.search-input{
  height: 36px !important;
  font-weight: 500;
  /* font-size: 16px; */
}

.search-sort-section button{
  width: 230px !important;
  height: 37px !important;
}

.no-data-found{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  flex-direction: column;
  gap: 10px;
}

.agent-image-empty{
  width: 35px;
  height: 60px;
  min-width: 60px;
  background-color: #e6f3ff;
  border-radius: 50%;
  padding: 10px;
}

.centerd {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.second-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side{
  align-items: end !important;
  display: flex !important;
  justify-content: end !important;
  padding-right: 5px !important;
}