
<div class="maincont">
  <div class="maincont-contentarea">
    <div class="row main-content-head">
      <h3>
        <label id="popup_title">
            <a routerLink="/pages/home" class="imageBox">
              <span class="active-icon" >
                <img src="./../../../../assets/images-n/projects/backarrow-default.svg" alt="">
              </span>
              <span class="hover-icon" >
                <img src="./../../../../assets/images-n/projects/backarrow-hover.svg" alt="">
              </span>
            </a>
        </label>
        <span class="title_text">Manage Subscriptions</span>
      </h3>
    </div>
    <!-- <section class="tp-section">
          <mat-nav-list class="">
            <a
              mat-list-item
              class="link"
              id="currentplan"
              (click)="hightlight('currentplan', null)"
              [matTooltip]="!obj.sideBarOpen ? 'Current Plan' : ''"
              matTooltipClass="sidebarTooltip"
              matTooltipPosition="right"
            >
              <span class="side-icon">
                <span class="active-img" id="eiap-home-icon-active">
                  <img
                    src="../../../assets/images/subscription/CurrentPlan3.svg"
                  />
                </span>
                <span class="hover-img" id="eiap-home-icon-white">
                  <img
                    src="../../../assets/images/subscription/CurrentPlan3.svg"
                  />
                </span>
                <span class="default-img" id="eiap-home-icon-gray">
                  <img
                    src="../../../assets/images/subscription/CurrentPlan3.svg"
                  />
                </span>
              </span>
              <span class="side-menu-font">Current Plan</span>
            </a>
            <a
              mat-list-item
              class="link"
              id="paymentmethods"
              (click)="hightlight('paymentmethods', null)"
              [matTooltip]="!obj.sideBarOpen ? 'Payment Methods' : ''"
              matTooltipClass="sidebarTooltip"
              matTooltipPosition="right"
            >
              <span class="side-icon">
                <span class="active-img" id="eiap-home-icon-active">
                  <img
                    src="../../../assets/images/subscription/PaymentMethods1.svg"
                  />
                </span>
                <span class="hover-img" id="eiap-home-icon-white">
                  <img
                    src="../../../assets/images/subscription/PaymentMethods1.svg"
                  />
                </span>
                <span class="default-img" id="eiap-home-icon-gray">
                  <img
                    src="../../../assets/images/subscription/PaymentMethods1.svg"
                  />
                </span>
              </span>
              <span class="side-menu-font">Payment Methods</span>
            </a>
            <a mat-list-item class="link" id="eiap-home" (click)="hightlight('billing',null)"
                        [matTooltip]=" !obj.sideBarOpen ? 'Billing Address' : ''" matTooltipClass="sidebarTooltip"
                        matTooltipPosition="right">
                        <span class="side-icon">
                            <span class="active-img" id="eiap-home-icon-active">
                                <img src="../../../assets/images/dashboard_icons/active-icons/Dashboard.svg">
                            </span>
                            <span class="hover-img" id="eiap-home-icon-white">
                                <img src="../../../assets/images/dashboard_icons/white-icons/Dashboard.svg">
                            </span>
                            <span class="default-img" id="eiap-home-icon-gray">
                                <img src="../../../assets/images/dashboard_icons/grey-icons/Dashboard.svg">
                            </span>
                        </span>

                        <span class="side-menu-font">Billing Address</span>

                    </a>
            <a
              mat-list-item
              class="link"
              id="paymenthistory"
              (click)="hightlight('paymenthistory', null)"
              [matTooltip]="!obj.sideBarOpen ? 'Payment History' : ''"
              matTooltipClass="sidebarTooltip"
              matTooltipPosition="right"
            >
              <span class="side-icon">
                <span class="active-img" id="eiap-home-icon-active">
                  <img
                    src="../../../assets/images/subscription/PaymentHistory2.svg"
                  />
                </span>
                <span class="hover-img" id="eiap-home-icon-white">
                  <img
                    src="../../../assets/images/subscription/PaymentHistory2.svg"
                  />
                </span>
                <span class="default-img" id="eiap-home-icon-gray">
                  <img
                    src="../../../assets/images/subscription/PaymentHistory2.svg"
                  />
                </span>
              </span>

              <span class="side-menu-font">Payment History</span>
            </a>

            <a
              mat-list-item
              class="link"
              id="order"
              (click)="hightlight('order', null)"
              [matTooltip]="!obj.sideBarOpen ? 'Order Details' : ''"
              matTooltipClass="sidebarTooltip"
              matTooltipPosition="right"
            >
              <span class="side-icon">
                <span class="active-img" id="eiap-home-icon-active">
                  <img
                    src="../../../assets/images/subscription/OrderDetails1.svg"
                  />
                </span>
                <span class="hover-img" id="eiap-home-icon-white">
                  <img
                    src="../../../assets/images/subscription/OrderDetails1.svg"
                  />
                </span>
                <span class="default-img" id="eiap-home-icon-gray">
                  <img
                    src="../../../assets/images/subscription/OrderDetails1.svg"
                  />
                </span>
              </span>

              <span class="side-menu-font">Order Details</span>
            </a>
          </mat-nav-list>
        </section> 
        <div class="col subscription-content-area">
        <div class="section one" id="section1" *ngIf="currentplansection">
          <app-currentplan></app-currentplan>
        </div>
        <div
          class="section one"
          style="overflow: scroll; height: 100%"
          id="section1"
          *ngIf="paymentmethodssection"
        >
          <app-payment-methods></app-payment-methods>
        </div>
        <div class="section one" id="section1" *ngIf="billingaddresssection">
                <app-billing-address></app-billing-address>
            </div>
        <div class="section one" id="section1" *ngIf="paymenthistorysection">
          <app-payment-history></app-payment-history>
        </div>
        <div class="section one" id="section1" *ngIf="orderdetailssection">
          <app-order-details></app-order-details>
        </div>
      </div> 
    </div>
</div> -->

    <div class="main-content-body tablist-cont">
      <div id="" class="tabs_screen subscrip_tabs h-100">
        <p-tabView #tabView [(activeIndex)]="activeIndex" styleClass="tabview-custom" (onChange)="handleChange($event,tabView)"  >
          <p-tabPanel header="Overview">
            <ng-template pTemplate = "header">
              <i class="pi pi-eject icon-color tab_icons"></i>
              <span class="tab_title">Overview</span>
            </ng-template>
            <span *ngIf="check_tab == 0">
                <app-overview></app-overview>
            </span>
          </p-tabPanel>
          <p-tabPanel header="Invoices" >
            <ng-template pTemplate = "header">
              <i class="pi pi-file-pdf icon-color tab_icons"></i>
              <span class="tab_title">Invoices</span>
            </ng-template>
            <span *ngIf="check_tab == 1">
              <app-payment-history></app-payment-history>
            </span>
          </p-tabPanel>
          <p-tabPanel header="Billing Information">
            <ng-template pTemplate = "header">
              <i class="pi pi-dollar icon-color tab_icons"></i>
              <span class="tab_title">Billing Information</span>
            </ng-template>
            <span  *ngIf="check_tab == 2">
              <app-billing-address></app-billing-address>
            </span>
          </p-tabPanel>
          <p-tabPanel header="Payment Methods" >
            <ng-template pTemplate = "header">
              <i class="pi pi-credit-card icon-color tab_icons"></i>
              <span class="tab_title">Payment Methods</span>
            </ng-template>
            <span *ngIf="check_tab == 3">
              <app-payment-methods></app-payment-methods>
            </span>
          </p-tabPanel>
          <p-tabPanel header="Package Options" >
            <ng-template pTemplate = "header">
              <i class="pi pi-money-bill icon-color tab_icons"></i>
              <span class="tab_title">Package Options</span>
            </ng-template>
            <span *ngIf="check_tab == 4" >
              <app-currentplan></app-currentplan>
            </span>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
