<ngx-spinner bdColor="rgba(255,255,255,0.7)">
    <img  src='..\assets\images\EZFlow_Loader.gif' class="ezflow-loader"/>
    <!-- src='..\assets\images\RPA\rpa-loader.gif'  -->
    
  </ngx-spinner>
<div class="h-100">
    <div class="main-content prjmain">
        <div class="row module-heading title">
            <span class="module-back-button" routerLink="/pages/home">
                <i aria-hidden="true" class="fas fa-arrow-left"></i>
            </span>
            <span class="module-header-title">Manage Subscriptions</span>
        </div>
        <br>
        <div class="row col-md-2 subscription-section-area">
            <section class="tp-section">
                <mat-nav-list class="">

                    <a mat-list-item class="link" id="currentplan" (click)="hightlight('currentplan',null)"
                        [matTooltip]=" !obj.sideBarOpen ? 'Current Plan' : ''" matTooltipClass="sidebarTooltip"
                        matTooltipPosition="right">
                        <span class="side-icon">
                            <span class="active-img" id="eiap-home-icon-active">
                                <img src="../../../assets/images/subscription/CurrentPlan3.svg">
                            </span>
                            <span class="hover-img" id="eiap-home-icon-white">
                                <img src="../../../assets/images/subscription/CurrentPlan3.svg">
                            </span>
                            <span class="default-img" id="eiap-home-icon-gray">
                                <img src="../../../assets/images/subscription/CurrentPlan3.svg">
                            </span>
                        </span>

                        <span class="side-menu-font">Current Plan</span>

                    </a>

                    <a mat-list-item class="link" id="paymentmethods" (click)="hightlight('paymentmethods',null)"
                        [matTooltip]=" !obj.sideBarOpen ? 'Payment Methods' : ''" matTooltipClass="sidebarTooltip"
                        matTooltipPosition="right">
                        <span class="side-icon">
                            <span class="active-img" id="eiap-home-icon-active">
                                <img src="../../../assets/images/subscription/PaymentMethods1.svg">
                            </span>
                            <span class="hover-img" id="eiap-home-icon-white">
                                <img src="../../../assets/images/subscription/PaymentMethods1.svg">
                            </span>
                            <span class="default-img" id="eiap-home-icon-gray">
                                <img src="../../../assets/images/subscription/PaymentMethods1.svg">
                            </span>
                        </span>

                        <span class="side-menu-font">Payment Methods</span>

                    </a>

                    <!-- <a mat-list-item class="link" id="eiap-home" (click)="hightlight('billing',null)"
                        [matTooltip]=" !obj.sideBarOpen ? 'Billing Address' : ''" matTooltipClass="sidebarTooltip"
                        matTooltipPosition="right">
                        <span class="side-icon">
                            <span class="active-img" id="eiap-home-icon-active">
                                <img src="../../../assets/images/dashboard_icons/active-icons/Dashboard.svg">
                            </span>
                            <span class="hover-img" id="eiap-home-icon-white">
                                <img src="../../../assets/images/dashboard_icons/white-icons/Dashboard.svg">
                            </span>
                            <span class="default-img" id="eiap-home-icon-gray">
                                <img src="../../../assets/images/dashboard_icons/grey-icons/Dashboard.svg">
                            </span>
                        </span>

                        <span class="side-menu-font">Billing Address</span>

                    </a> -->

                    <a mat-list-item class="link" id="paymenthistory" (click)="hightlight('paymenthistory',null)"
                        [matTooltip]=" !obj.sideBarOpen ? 'Payment History' : ''" matTooltipClass="sidebarTooltip"
                        matTooltipPosition="right">
                        <span class="side-icon">
                            <span class="active-img" id="eiap-home-icon-active">
                                <img src="../../../assets/images/subscription/PaymentHistory2.svg">
                            </span>
                            <span class="hover-img" id="eiap-home-icon-white">
                                <img src="../../../assets/images/subscription/PaymentHistory2.svg">
                            </span>
                            <span class="default-img" id="eiap-home-icon-gray">
                                <img src="../../../assets/images/subscription/PaymentHistory2.svg">
                            </span>
                        </span>

                        <span class="side-menu-font">Payment History</span>

                    </a>

                    <a mat-list-item class="link" id="order" (click)="hightlight('order',null)"
                        [matTooltip]=" !obj.sideBarOpen ? 'Order Details' : ''" matTooltipClass="sidebarTooltip"
                        matTooltipPosition="right">
                        <span class="side-icon">
                            <span class="active-img" id="eiap-home-icon-active">
                                <img src="../../../assets/images/subscription/OrderDetails1.svg">
                            </span>
                            <span class="hover-img" id="eiap-home-icon-white">
                                <img src="../../../assets/images/subscription/OrderDetails1.svg">
                            </span>
                            <span class="default-img" id="eiap-home-icon-gray">
                                <img src="../../../assets/images/subscription/OrderDetails1.svg">
                            </span>
                        </span>

                        <span class="side-menu-font">Order Details</span>

                    </a>
                </mat-nav-list>

            </section>



        </div>

        <div class="row col-md-8 subscription-content-area">
            <div class="section one" id="section1" *ngIf="currentplansection">
                <app-currentplan></app-currentplan>
            </div>
            <div class="section one" id="section1" *ngIf="paymentmethodssection">
                <app-payment-methods></app-payment-methods>
            </div>
            <!-- <div class="section one" id="section1" *ngIf="billingaddresssection">
                <app-billing-address></app-billing-address>
            </div> -->
            <div class="section one" id="section1" *ngIf="paymenthistorysection">
                <app-payment-history></app-payment-history>
            </div>
            <div class="section one" id="section1" *ngIf="orderdetailssection">
                <app-order-details></app-order-details>
            </div>
        </div>

        </div>
        </div>