.tab_icons{
  font-size: 20px;
}
.tab_title {
  font-size: 16px;
  padding-left: 12px;
}

// added new styles for table

::ng-deep .tabs_screen .p-tabview .p-tabview-nav {
  padding: 0px;
}
::ng-deep .invoice-tab .tabs_screen .p-tabview-nav-content {
  border: 1px solid #e7e7e7 !important;
  background-color: #fff;
  border-radius: 0px !important;
  height: 50px;
  width: 100%;
  margin-top: 35px !important;
  border-radius: 8px !important;
}
::ng-deep .main-content-body {
  margin-top: 0px !important; //top css
}

::ng-deep .main-content-body.tablist-cont {
  // background: whitesmoke;
  // height: calc(100vh - 65px);
  height: calc(100vh - 0px);
}

::ng-deep .p-datatable {
  
  border-radius: 6px;
}
.maincont-subscription {
  height: calc(100vh - 0px);
  background: #fff !important;
}

::ng-deep .p-datatable-resizable>.p-datatable-wrapper {
  overflow-x: auto;
  // height: calc(100vh - 190px);
  height: calc(100vh - 143px);
}

:host ::ng-deep .main-content-body {
  padding: 0px 0px 0px;
}
