.card-container {
    padding: 0.5rem; /* maintain padding around the card */
}

.bot-card {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap; /* prevent wrapping of text */
}

.p-grid {
    margin: 0;
    padding: 0; /* remove default grid margin and padding */
}

/* Ensures the columns start from the left */
.p-col-12, .p-md-6, .p-lg-3 {
    display: flex;
    justify-content: flex-start; /* aligns content to the left */
    align-items: flex-start; /* aligns items to the top */
}

.p-card .p-card-body {
    padding: 1rem;
    height: 200px;
    width: 200px;
}