<br><br>
<div style=" border: 1px solid #d1c8c8;">
  <h4><b style="margin-left: 20px;">Order Details</b></h4>
<div class="prgmgrid-body" style="padding: 20px;">
    <table mat-table #sort104="matSort" [dataSource]="dataSource8" matSort class="projecttable table" id="autotable">

        <ng-container matColumnDef="subscriptionId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subscription Id</th>
          <td mat-cell   *matCellDef="let orders">
            <span *ngIf="orders.subscriptionId!=null" [matTooltip]="orders.subscriptionId|titlecase">{{orders.subscriptionId}}</span>
            <span *ngIf="orders.subscriptionId==null">---</span>
          </td>

      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
        <td mat-cell   *matCellDef="let orders">
          <span *ngIf="orders.name!=null" [matTooltip]="orders.name">{{orders.name}}</span>
          <span *ngIf="orders.name==null">---</span>
        </td>

    </ng-container>
    <ng-container matColumnDef="planEntity.nickName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan</th>
      <td mat-cell   *matCellDef="let orders">
        <span *ngIf="orders.planEntity.nickName!=null" [matTooltip]="orders.planEntity.nickName">{{orders.planEntity.nickName }}</span>
        <span *ngIf="orders.planEntity.nickName==null">---</span>
      </td>

  </ng-container>
  <ng-container matColumnDef="planEntity.amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Base Amount</th>
    <td mat-cell   *matCellDef="let orders">
     
      <span *ngIf="orders.planEntity.amount!=null" [matTooltip]="orders.planEntity.amount">{{orders.planEntity.amount}}</span>
      <span *ngIf="orders.planEntity.amount==null">---</span>
    </td>

</ng-container>

  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let orders">
          <span *ngIf="orders.status!=null">{{orders.status|titlecase}}</span>
          <span *ngIf="orders.status==null || orders.status==undefined || orders.status=='' ">---</span>
         
      </td>
  </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let orders" class="action-link tablacs"> 
          <div class="newinntalx">
            
              <a  (click)="subscriptiondata(orders,subscriptiontemplate)"  matTooltip="View Subscription">
                <img src="../../../../../assets/images/Projects/eye-show.svg" class="testplus default-img">
              </a>
              <button class="subsc"  [disabled]="orders.planEntity.nickName==='Free Tier' || orders.status!='Active'"  (click)="selecteddata(orders,i)" > 
                <img src="../../../../../assets/images/Projects/eye-hide.svg" class="icon-disabled" >
              </button>
        </div>
        </td>
      </ng-container>

        <ng-container matColumnDef="Loading">
          <td mat-footer-cell class="mat-footer" style="text-align:center" *matFooterCellDef colspan="9">
              Loading
          </td>
        </ng-container>
        <ng-container matColumnDef="noData">
            <td mat-footer-cell class="mat-footer" style="text-align:center" *matFooterCellDef colspan="9">
                <!-- No Records Found -->
                <!-- <div *ngIf="program_detials.orders.length==0" class="text-center">
                  <img  src="../../../../assets/images/RPA/No-Items.svg" class="no-item-img">
                  <h3 class="text-center">No Items to display</h3>
              </div> -->
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns8; sticky: true"></tr>
        <tr class="row-highlight" mat-row *matRowDef="let row; columns: displayedColumns8;"></tr>
        <tr class="row-highlight mat-footer" mat-footer-row *matFooterRowDef="['Loading']" [ngClass]="{'hide':dataSource8!=null}"></tr>
        <tr class="row-highlight mat-footer" mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource8!=null && dataSource8.data.length==0)}"></tr>
    </table>
    <mat-paginator class="newpaginationdiv" #paginator104 [pageSize]="3" [pageSizeOptions]="[3, 5, 10, 25, 50]" [showFirstLastButtons]="true">
    </mat-paginator>
  
  </div>
  </div>

  
  <ng-template  #subscriptiontemplate>
    <div class="modal-header modelprhead">
      <h4 class="modal-title pull-left">Subscription Details</h4>
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalref.hide()">
          <span aria-hidden="true"><img src="../../../../assets/images/Projects/circle-close.svg" alt=""></span>
        </button> -->
      </div>

      <div class="modal-body modelprbody resourcescreen">
           <form >
                <div class="row">
                  <div class="col-md-12 ">
                    <label for="subscriptionid">Subscription ID </label>
                    <input type="text" [disabled]=true name="subscriptionid" #subscriptionid="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.subscriptionId"/>    
                  </div>
                  <div class="col-md-12 ">
                    <label for="product">Product </label>
                            <input type="text" [disabled]=true name="product" #product="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.name"/> 
                    </div>
                    <div class="col-md-12 ">
                      <label for="planid">Plan ID </label>
                              <input type="text" [disabled]=true name="planid" #planid="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.planId"/>
                      </div>
                      <div class="col-md-12 ">
                        <label for="billingaccount">Billing Account </label>
                        <input type="text" [disabled]=true name="billingaccount" #billingaccount="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.billingService.billingAccount"/>
                        </div>
                       <div class="col-md-12 ">
                        <label for="status">Status </label>
                        <input type="text" [disabled]=true name="status" #status="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.status"/>     
                         </div>
                </div>
            </form>
        <!-- </div> -->
    </div>          
    <div class="modal-footer modelprfooter">
        <div class="pull-right">
          <button class="btn btn-default" type="reset" (click)="changePlanCancel()"><div class="anim"></div> Cancel</button>
          <button [disabled] = "myAccount_Subsription_Read" class="btn btn-primary change_plan" (click)="infoModelSubmit(subscribeddata)">Change Plan</button>
        </div>
    </div>

  </ng-template>






  <ng-template #subscriptioninfotemplate >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" >We are sorry to see you go</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
      
      <div class="col-md-12 subheadin">
        <p>If you have a moment, please let us know why you want to unsubscribe:</p>
      </div>
      <div class="col-md-12 infocheck">
        <input type="checkbox" [(ngModel)]="stopcheckbox" ><span>I stopped using this account</span>
      </div>
      <div class="col-md-12 infocheck">
          <input type="checkbox" [(ngModel)]="pricecheckbox"> <span>Price of the plan is high</span>
        </div>
        <div class="col-md-12 infocheck">
            <input type="checkbox" [(ngModel)]="plancheckbox"> <span>Subscribed another plan</span>
          </div>
      <div class="col-md-12" class="textfield">
        <p>If other reason (please explain below).</p>
        <textarea name="feedback" [(ngModel)]="feedbackbox"></textarea>
      </div>
        </div>
      
  <div class="modal-footer">
    <div class="">
      <div class="col-12">
        <div class="form-group form-buttons pull-right buttonsblock">
          <button class="btn btn-default" type="reset" (click)="CancelSubform()"><div class="anim"></div> Cancel</button>
          <button class="btn btn-primary submit_feedbackbtn" (click)="subscriptionCancelModalSubmit()">Submit</button>
        </div>
  <div class="clearfix">
  </div>
  </div>
  </div>
  </div>
      </ng-template>