.container {
    position: relative;
    padding-bottom: 50px;
}

.p-name{
    margin-bottom: 40px;
    margin-top: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group{
    margin: 0px 3px 0px 60px !important;
}

.form-label {
    margin-right: 10px;
}

.form-control {
    flex-grow: 1;
    min-width: 70%;
    width: 70%;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.form-buttons {
    position: absolute;
    right: 65px;
    bottom: 15px;
}

.form-buttons .btn {
    margin-left: 10px;
}

.col-form-label {
    margin-bottom: 20px;
}

.col-form-label b{
    font-size: 18px;
}

.progress-container {
    background-color: #e9ecef;
    border-radius: 10px; 
    overflow: hidden;
    position: relative;
    height: 20px;
  }
  
  .progress-bar {
    background-color: #007bff; 
    width: 0; 
    height: 100%;
    transition: width 0.6s ease;
  }
  
  /* .progress-cap {
    position: absolute;
    top: 50%;
    transform: translateX(-50%); 
    height: 30px; 
    width: 30px;
    background-color: #007bff;
    border-radius: 50%;
    transition: left 0.6s ease;
  } */

  /*  */

  .progress-container {
    position: relative;
    height: 20px;
    background-color: #e9ecef;
    border-radius: 10px;
  }
  
  .progress-bar {
    position: absolute;
    background-color: #007bff;
    height: 100%;
    width: 0;
    transition: width 0.6s ease;
  }
  
  .progress-node {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #bbb;
    border-radius: 50%;
    transition: background-color 0.4s, border-color 0.4s;
  }
  
  .progress-node.active {
    background-color: #00bfff; /* Sky blue */
    border-color: #007bff; /* Darker blue */
  }

  .progress-container {
    width: 100%;
    background-color: #e9ecef;
    border-radius: 10px;
    position: relative;
    height: 20px;
  }
  
  .progress-bar {
    background-color: #007bff;
    height: 100%;
    transition: width 0.5s ease-in-out;
  }
  
  .progress-node {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #bbb;
    transition: border-color 0.5s ease-in-out;
  }
  
  .progress-node.active {
    border-color: #007bff;
  }
  
  .container {
    max-width: 100%;
}

.card {
    margin-top: 0px;
}

.form-group row {
    margin-bottom: 10px;
}

.label {
    text-align: right;
}

.input {
    width: 100%;
}

.btn {
    margin-top: 10px; 
}

.form-flow{
    margin: 0 30px;
}

@media (max-width: 768px) {
    .label, .input {
        text-align: center;
    }
}

  