<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12" id="title">
          <!-- <h5 style="font-weight:600;color: rgb(90, 88, 88)">     <img src="assets/images/Group 208.svg" style="padding-right: 10px">Data Document</h5> -->
          <button class="btn btn-warning eiap-btn" *ngIf="headerName" (click)="resetcaseId()">Reset Mapping</button>
      </div>
      <!-- <div class="col-md-4 col-sm-4">
          <div class="searchblock"> -->
              <!-- <input type="text" placeholder="Search" aria-label="Search" id="search_process_data" [(ngModel)]="searchTerm" >
              <i class="fa fa-search" aria-hidden="true" style="color: gray"></i> -->
          <!-- </div>
      </div> -->
      <div class="col-md-12 col-sm-12">{{isgenerate}}
          <button class="btn btn-primary eiap-btn pull-right" [disabled]="!isgenerate" id="generateGraph" (click)="slideUp()">
              <img src="assets/images/Group 77.svg" style="padding-right: 10px">Generate Process Graph</button>
      </div>
    </div>
    <div class="row" *ngIf="headerName" class="columnSelection">
      <div class="col-md-4"><b>Select Column - Step {{step_id}}/{{headerData.length-1}}:"{{headerName}}"</b></div>
      <div class="col-md-4" *ngIf="headerName == 'caseID' && step_id == 1"><small>(Click on the column that contains your Case IDs. The Case ID usually is a numeric value that is unique and identifies each case in your process.)</small></div>
      <div class="col-md-4" *ngIf="headerName == 'Activity' && step_id == 2"><small>(Click on the column that contains your activities. Activities are the actions that take place in your process. For example, if your process is Purchasing then ”Create Purchase Order” is an activity in that process.)</small></div>
      <div class="col-md-4" *ngIf="headerName.indexOf('Timestamp') != -1 || headerName.indexOf('Time') != -1"><small>(Click on the columns that contains the timestamp for each activity. Timestamps usually look something like “2016-02-01 14:24:30” although the exact format of the timestamp may differ.)</small></div>
    </div>
      <!-- <div class="col-md-2"> <svg width="12" height="12" class="svg">
          <rect width="12" height="12" class ="svg_blue_rec" style="fill:rgb(84, 168, 236);stroke-width:3" />
        </svg> Success Mapping
      </div> -->
      <!-- <div class="col-md-2">
        <svg width="12" height="12" class="svg">
          <rect width="12" height="12" class="svg_red_rec" style="fill:rgb(212, 105, 105);stroke-width:3" />
        </svg> Error Mapping
      </div> -->
    <!-- </div> -->
    <div class="">
      <form id="DataDocTableForm">
        <table class="table" id="process_data">
            <thead #header>
                <tr>
                    <th *ngFor="let headValue of headerData;trackBy:loopTrackBy;let i=index" class="tableHeader" (click)= "sort(i,headValue)">
                    {{headValue}}</th>
                </tr>
                <tr>
                  <th class="tableHeader">
                    <select name="cathead1" [disabled]='false' [(ngModel)]="cathead1"  class="form-control"  *ngIf="headerData[0]">
                      <option>String</option>
                      <option>Integer</option>
                      <option>Date/Time</option>
                      </select>
                  </th>
                  <th>
                    <select [disabled]='false' name="cathead2" [(ngModel)]="cathead2" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead1)" *ngIf="headerData[1]">
                  <option>String</option>
                  <option>Integer</option>
                  <option>Date/Time</option>
                    </select>
                  </th>
                  <th>
                  <select name="cathead3" [disabled]='false' [(ngModel)]="cathead3" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead2)" *ngIf="headerData[2]">
                  <option>String</option>
                  <option>Integer</option>
                  <option>Date/Time</option>
                  </select>
                </th>
                <th>
                  <select name="cathead4" [disabled]='false' [(ngModel)]="cathead4" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead3)" *ngIf="headerData[3]">
                  <option>String</option>
                  <option>Integer</option>
                  <option>Date/Time</option>
                  </select>
                </th>
                <th>
                  <select name="cathead5" [disabled]='false' [(ngModel)]="cathead5" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead4)" *ngIf="headerData[4]">
                  <option>String</option>
                  <option>Integer</option>
                  <option>Date/Time</option>
                  </select>
                </th>
                <th>
                  <select name="cathead6" [disabled]='false' [(ngModel)]="cathead6" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead5)" *ngIf="headerData[5]">
                  <option>String</option>
                  <option>Integer</option>
                  <option>Date/Time</option>
                  </select>
                </th>
                 <th>
                  <select name="cathead7" [disabled]='false' [(ngModel)]="cathead7" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead6)" *ngIf="headerData[6]">
                  <option>String</option>
                  <option>Integer</option>
                  <option>Date/Time</option>
                  </select>
                  </th>
                  <th>
                    <select name="cathead8" [disabled]='false' [(ngModel)]="cathead8" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead6)" *ngIf="headerData[7]">
                    <option>String</option>
                    <option>Integer</option>
                    <option>Date/Time</option>
                    </select>
                    </th>
                    <th>
                      <select name="cathead9" [disabled]='false' [(ngModel)]="cathead9" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead6)" *ngIf="headerData[8]">
                      <option>String</option>
                      <option>Integer</option>
                      <option>Date/Time</option>
                      </select>
                      </th>
                      <th>
                        <select name="cathead10" [disabled]='false' [(ngModel)]="cathead10" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead6)" *ngIf="headerData[9]">
                        <option>String</option>
                        <option>Integer</option>
                        <option>Date/Time</option>
                        </select>
                        </th>
                        <th>
                          <select name="cathead11" [disabled]='false' [(ngModel)]="cathead11" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead6)" *ngIf="headerData[10]">
                          <option>String</option>
                          <option>Integer</option>
                          <option>Date/Time</option>
                          </select>
                          </th>
                          <th>
                            <select name="cathead12" [disabled]='false' [(ngModel)]="cathead12" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead6)" *ngIf="headerData[11]">
                            <option>String</option>
                            <option>Integer</option>
                            <option>Date/Time</option>
                            </select>
                            </th>
                            <th>
                              <select name="cathead13" [disabled]='false' [(ngModel)]="cathead13" class="form-control" (change)="getDataTypeChange(headerData[i1], cathead6)" *ngIf="headerData[12]">
                              <option>String</option>
                              <option>Integer</option>
                              <option>Date/Time</option>
                              </select>
                              </th>
                  
                  </tr>
            </thead>
            <tbody #container>
                    
                <tr *ngFor="let row of fileData| paginate: { itemsPerPage: 50, currentPage: p };trackBy:loopTrackBy;let i=index;" class="tableRow">
                  <td *ngFor="let val of headerData; let j =index;trackBy:loopTrackBy" class="tableCell" (click)="selectedCell(i,j,$event, val)"
                    [class.valid]="validCells['row'+i] && validCells['row'+i].indexOf('cell'+j)>-1"> 
                    {{row[j] || ' '}}
                  </td>
                </tr>
            </tbody>
        </table>
      </form>
      <div class="col-sm-8"></div>
        <div class="col-sm-4"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
    </div>
</div>
<process-category-overlay headerTitle="Save Process" buttonName="Save & Generate" (proceed)="generateGraph($event)"></process-category-overlay>