<div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4" id="title">
          <!-- <h5 style="font-weight:600;color: rgb(90, 88, 88)">     <img src="assets/images/Group 208.svg" style="padding-right: 10px">Data Document</h5> -->
          <button class="btn btn-warning pi_btn" *ngIf="!headerName" (click)="resetColMap()">Reset Mapping</button>
      </div>
      <div class="col-md-4 col-sm-4">
          <div class="searchblock">
              <input type="text" placeholder="Search" aria-label="Search" id="search_process_data" [(ngModel)]="searchTerm" (keyup)="searchTable()">
              <i class="fa fa-search" aria-hidden="true" style="color: gray"></i>
          </div>
      </div>
      <div class="col-md-4 col-sm-4">
          <button class="btn btn-primary pi_btn" id="generateGraph" (click)="generatepg()">
              <img src="assets/images/Group 77.svg" style="padding-right: 10px">Generate Process Graph</button>
      </div>
    </div>
    <div class="row" *ngIf="headerName" class="columnSelection">
      <div class="col-md-4"><b>Select Column - Step {{step_id}}/6:"{{headerName}}"</b></div>
      <div class="col-md-4"><small>(Click on the {{headerName}} Value Column for Data mapping)</small></div>
      <!-- <div class="col-md-2"> <svg width="12" height="12" class="svg">
          <rect width="12" height="12" class ="svg_blue_rec" style="fill:rgb(84, 168, 236);stroke-width:3" />
        </svg> Success Mapping
      </div> -->
      <!-- <div class="col-md-2">
        <svg width="12" height="12" class="svg">
          <rect width="12" height="12" class="svg_red_rec" style="fill:rgb(212, 105, 105);stroke-width:3" />
        </svg> Error Mapping
      </div> -->
    </div>
    <div class="">
      <form id="DataDocTableForm">
        <table class="table" id="process_data">
            <thead #header>
                <tr>
                    <th *ngFor="let headValue of headerData;trackBy:loopTrackBy;let i=index" class="tableHeader" (click)= "sort(i,headValue)">
                    {{headValue}}
                    <div *ngIf='selected==headValue' class='select_tag'>{{headerName}}</div>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let headValue of headerData;trackBy:loopTrackBy" class="tableHeader">
                    <select [disabled]='true' name="category" class="form-control" *ngIf="headValue == 'Order ID' || headValue == 'Case ID '">
                    <option>String</option>
                    <option Selected>Integer</option>
                    <option>Date/Time</option>
                    </select>
                    <select name="category" [disabled]='true' class="form-control" *ngIf="headValue == 'Actvity'">
                    <option selected>String</option>
                    <option>Integer</option>
                    <option>Date/Time</option>
                    </select>
                    <select name="category" [disabled]='true' class="form-control" *ngIf="headValue == 'Start Timestamp'">
                    <option>String</option>
                    <option>Integer</option>
                    <option selected>Date/Time</option>
                    </select>
                    <select name="category" [disabled]='true' class="form-control" *ngIf="headValue == 'End Timestamp'">
                    <option>String</option>
                    <option>Integer</option>
                    <option selected>Date/Time</option>
                    </select>
                    <select name="category" [disabled]='true' class="form-control" *ngIf="headValue == 'Resource'">
                    <option selected>String</option>
                    <option>Integer</option>
                    <option>Date/Time</option>
                    </select>
                    <select name="category" [disabled]='true' class="form-control" *ngIf="headValue == 'Role'">
                    <option selected>String</option>
                    <option>Integer</option>
                    <option>Date/Time</option>
                    </select>
                    </th>
                    
                    </tr>
            </thead>
            <tbody #container>
                    
                <tr *ngFor="let row of fileData;trackBy:loopTrackBy;let i=index;" class="tableRow">
                  <td *ngFor="let val of headerData; let j =index;trackBy:loopTrackBy" class="tableCell" (click)="selectedCell(i,j,$event, val)"
                    [class.valid]="validCells['row'+i] && validCells['row'+i].indexOf('cell'+j)>-1"> 
                    {{row[j] || ' '}}
                  </td>
                </tr>
            </tbody>
        </table>
      </form>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="closePopup();">&times;</span>
        <h4>Save Process</h4>
      </div>
    <div class="modal-body">
        <form> 
          <div class="container m-contanier">
            <label for="category"><b>Select Category</b></label>
              <select name="category" class="form-control">
                <option value="undefined" hidden disabled>Select</option>
                <option value="health">Health </option>
                <option value='financial'>Financial</option>
                <option value='food'>Food</option>
                <option value="medical">Medical</option>
              </select>
            <label for="psw"><b>Enter Process Name</b></label>
            <input type="text" placeholder="" name="psw" required class="p-name">
              <div class="clearfix m-btn">
                <button type="button" class="btn btn-primary pi_btn" (click)="generateGraph()">Save & Generate</button>
              </div>
          </div>
        </form>
    </div>
  </div>
</div>