.delete-icon img{
  width: 16px;
  height: 16px;
}
.delete-icon-disabled{
  cursor: no-drop !important;
}
.no-item-img{
  height: calc(100vh - 500px)
} 
.newinntalx span:hover img.default-img {
  display: none;
}

.newinntalx span:hover img.hover-img {
  display: initial;
}
.newinntalx img{
  width: 20px;
  padding-left: 3px;
  padding-right: 3px;
}
span img{
cursor: pointer;
}