@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.section {
  /* overflow-y: scroll;
  max-height: 61vh;
  white-space: nowrap;   */
}
.nodes {
  /* padding: 5px; */
}
.con-img{
  width: 28px;
  height: 28px;
}

.search-content{
  /* padding:10px; */
  /* padding-right:25px; */
  /* padding-left:0px;
  padding-right: 10px; */
  position: relative;
  display: flex;
  width: 100%;
  margin: 0px 0px;
}

.toolset{
   /* padding:10px;  */
   width:260px !important;
   margin: auto;
   height: 100%;
}
.left-panel-header{
  padding: 10px 10px;
  min-height: 20px;
  background-color: #00a0e3!important;
  width: 100%;
  font-weight: 600 !important;
  color: white !important;
}

.check{
  overflow:visible !important;
  position: relative  !important;
}

/* ::-webkit-scrollbar {
  display: none;
} */


::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  color:white;
  height: 130px;
  background: white;
  left: 5px !important;
}


.search{
  border-radius: 0px !important;
  /* border-top: none !important;
  border-left: none !important;
  border-right: none !important; */
  width:100%;
  box-shadow: none !important;
  padding: 7px !important;

  /* height:25px !important; */
  /* border-bottom-color: lightgray !important; */
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer{
  height:12px !important;
  width: 12px;
  border-radius: 50% !important;
  background-color:white !important;
  border: 1px solid gray;
  margin-left: -1px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  height: 0px !important;
  width: 0px !important;
  background:white;
  border-radius: 50% !important;
  border: 0px solid gray;

}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:hover:after {
  background-color:white !important;
  border-radius: 55% !important;

}

::ng-deep .custom-slider .ng5-slider-active:after {
  height: 12px !important;
  width: 12px !important;
  background:white !important;
}

::ng-deep .custom-slider .ng5-slider :hover :after {
  background:white !important;
}
::ng-deep  .custom-slider .ng5-slider-bubble {
  color:gray !important;
  font-size: 15px !important;
  margin-bottom: 20px !important;
}
::ng-deep  .custom-slider .ng5-slider-floor {
  color:gray!important;
  font-size: 15px !important;
  position: absolute !important;
  z-index: 10 !important;
}
::ng-deep  .custom-slider .ng5-slider-ceil {
  color:gray !important;
  font-size: 15px !important;
  position: absolute !important;
  z-index: 10 !important;
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
}


::ng-deep .rpa-dragicon + .tooltip>.tooltip-inner {

  background-color:black;
  margin-left:-20px !important;
  color : white;
  position:fixed !important;
}
.toolset-search-button{
  text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: 18px;
    padding-bottom: 15px;

    border: 1px solid lightgrey;
    font-weight: 300;
}

.toolset-search-close{
  
  float: right;
  margin-top: -22px;
  cursor: pointer;
}

::ng-deep .mat-drawer-container {
background-color: white;
}


.nodename{
  /* font-size: 16px; */
  color: #001c47;
  font-weight: 400;
  font-size: 14px;
}


.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden;
}


.taskname{
  /* padding:10px; */
  font-size: 14px;
  color: #001c47;
  font-weight: 400;
}

.toolset mat-expansion-panel {
  border-top:none !important;
  padding-right: 8px !important;
}
 


::ng-deeep .mat-drawer.mat-drawer-side {
  z-index: 0 !important;
}

.search-content input.search {
  position: relative;
  padding: 0px 10px 0px !important;
  border-radius: 4px !important;
  margin-top: 5px !important;
}

.search-content img.testplus1 {
  position: absolute;
  right: 10px;
  top: 15px;
}

.actionsheaderdiv {
  position: relative;
  display: flex;
  align-items: center;
}
/* .actionsheaderdiv button span {
  position: absolute;
  right: 10px;
  top: 3px;
  color: #001c47;
  font-size: 25px;
  font-weight: 700;
} */
/* .actionsheaderdiv button img {
  vertical-align: baseline;
} */
.toolset-mainheader {
  padding: 5px 10px 4px 10px;
}
.actionsheaderdiv img.testplus1 {
  width: 12px;
  height: 12px;
}
.actionsheaderdiv img.testplus {
  margin-right: 12px !important;
  opacity: 0.5;
}
.toolset-close {
  width: 10%;
  text-align: end;
  margin: 0px;
  float: right;
}
.textplus{
  height:22px;
  width:22px;
  margin-top: -3px;
}
.dragicons {
  /* padding: 0px 10px;
  overflow-y: scroll;
  max-height: 57vh;*/
  padding: 0px 5px 0px 12px;
  white-space: nowrap;
  height: calc(100% - 90px);
  overflow: hidden auto;
}
span.con-text {
  font-size: 14px;
  font-weight: 400;
  color: #001c47;
  padding-left: 5px;
  vertical-align: middle;
}
.toolset-con {
  display: flex;
  align-items: center;
  padding: 3px 6px;
}