.alert-danger {
    color: #a94442;
    background-color: transparent;
}
    .alert {
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 0px;
        margin-bottom: 0px;
    }