.alert-danger {
    color: #a94442;
    background-color: transparent;
}
    .alert {
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 0px;
        margin-bottom: 0px;
    }
    .errspan{
    position: relative;
    z-index: 2;
    color: #dc3545;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding-right: 10px;
    line-height: 12px;
    }