<div id="" class="schedule-table-container h-100">
    <p-table #dt [value]="scheduledbots" [resizableColumns]="true" responsiveLayout="scroll" [reorderableColumns]="true"
        [scrollable]="true"
        [globalFilterFields]="['botName','botSource','category','lastRunTS','nextRunTS','scheduleInterval','status','timezone']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-right gridsearch">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search Bots" />
                </span>
                <button pButton label="Clear" class="p-button-outlined only_clearbtn" icon="pi pi-filter-slash"
                    (click)="clear(dt)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let each of columnList" pSortableColumn="{{each.field}}" pReorderableColumn
                    pResizableColumn>{{each.DisplayName}}
                    <p-columnFilter *ngIf="each.ShowFilter && each.field != 'category'&& each.filterType == 'text'" [showAddButton]="false"
                        [showOperator]="false" matchMode="contains" [showMatchModes]="false" [field]="each.field"
                        display="menu" [showApplyButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)"
                                class="p-inputtext" placeholder="search">
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter *ngIf="each.ShowFilter && each.field == 'category'" [field]="each.field"
                        matchMode="equals" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                        display="menu" [showApplyButton]="false" [showClearButton]="true">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="categoriesList" (onChange)="filter($event.value)"
                                optionLabel="categoryName" optionValue="categoryName" placeholder="All">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter *ngIf="each.ShowFilter && each.field != 'category'&& each.filterType == 'date'" [showAddButton]="false"
                    [showOperator]="false" type="date" [showMatchModes]="false" [field]="each.field"
                    display="menu" [showApplyButton]="true">
                </p-columnFilter>
                    <p-sortIcon *ngIf="each.ShowFilter" [field]="each.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element>
            <tr>
                <td [pTooltip]="element.botName" style="width:200px;">
                    <span *ngIf="element.botName != null">{{element.botName}}
                    </span>
                    <span *ngIf="element.botName == null">-</span>
                </td>
                <td>
                    <span *ngIf="element.botSource != null">{{element.botSource}}</span>
                    <span *ngIf="element.botSource == null">-</span>
                </td>
                <td>
                    <span *ngIf="element.category != null">{{element.category}}</span>
                    <span *ngIf="element.category == null">-</span>
                </td>
                <td>
                    <span *ngIf="element.lastRunTS != null">
                        {{element.lastRunTS |date: 'MMM d, y, HH:mm:ss' }}
                    </span>
                    <span *ngIf="element.lastRunTS == null">-</span>
                </td>
                <td>
                    <span *ngIf="element.nextRunTS != null">
                        {{element.nextRunTS |date: 'MMM d, y, HH:mm:ss' }}
                    </span>
                    <span *ngIf="element.nextRunTS == null">-</span>
                </td>
                <td>
                    <span *ngIf="element.scheduleInterval != null">{{element.scheduleInterval}}</span>
                    <span *ngIf="element.scheduleInterval == null">-</span>
                </td>
                <td>
                    <span *ngIf="element.status=='Running'" class="text-primary">
                        <img src="../../../../assets/images/RPA/DotSpin.gif" class="testplus" alt="">{{element.status}}
                    </span>
                    <span *ngIf="element.status=='Success'|| element.status=='Completed'|| element.status=='Save'"
                        [pTooltip]="element.status">
                        <img src="../../../../assets/images/RPA/icon_latest/Success.svg" class="testplus" alt="">Saved
                    </span>
                    <span *ngIf="element.status=='Failure'|| element.status=='Failed'" [pTooltip]="element.status">
                        <img src="../../../../assets/images/RPA/icon_latest/close-red.svg" class="testplus" alt="">
                    </span>
                    <span *ngIf="element.status=='Paused'" [pTooltip]="element.status">
                        <img src="../../../../assets/images/RPA/icon_latest/pause-circle-fill.svg" alt=""
                            class="testpause">Paused
                    </span>
                    <span *ngIf="element.status=='New'">
                        <img src="../../../../assets/images/RPA/userobot.png" class="testplus" alt="">
                        <span>{{element.status}}</span>
                    </span>
                    <span *ngIf="element.status=='Pending'">
                        <i class="fa fa-clock"></i>&nbsp;
                        <span>{{element.status}}</span>
                    </span>
                    <span *ngIf="element.status=='Stop' || element.status=='Resume' || element.status=='Resumed'" [pTooltip]="element.status">
                        <img src="../../../../../assets/images/RPA/icon_latest/stop.svg" class="testplus" alt="">Stopped
                    </span>
                    <span *ngIf="element.status == undefined">-</span>
                </td>
                <td>
                    <span *ngIf="element.timezone != null" [pTooltip]="element.timezone">{{element.timezone}}</span>
                    <span *ngIf="element.timezone == null">-</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td style="justify-content: center;" colspan="8">No Records Found</td>
            </tr>
        </ng-template>
    </p-table>
</div>