::ng-deep #projects_details_screen .mat-tab-label {
    height:85px !important;
  }
    
  ::ng-deep #projects_resources_screen .mat-tab-label {
    height:85px !important;
  }
  
  .projects-header{
    width:100%;
    padding: 6px 15px;
  }

.projects-menu-item{
    padding:5px;
    font-size:22px;
    color:#4AB0F5;
    cursor: pointer;
  }
  .status-tabs{
    display: flex;
    /* padding:20px; */
  }

  .tab-number{
    font-size: 15px !important;
    font-weight: 600;
    display: block;
    margin:0px;
    margin-bottom: 6px;
  }
  .status-img > img{
    height:60px !important;
    padding-top:30px;
  }

  .status-data {
    padding-left: 14px !important;
    color:#001c47 !important;
  }

.res-circle {
  width: 32px;
  border-radius: 100%;
  height: 32px;
  color: #00a0e3;
  background: #e6f2fd;
  /* font-weight: 600; */
  padding: 3px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  /* letter-spacing: 1px; */
}
.res-circle-img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}
.res-circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.new-prj-details .projects-table-body td img {
  height: 30px;
}

.new-prj-details {
  overflow: auto;
  height: calc(100% - 49px);
  background-color: #e3eaee;
}
.new-prj-details .projects-table-body , .project-details-div{
  padding: 10px 15px;
}
mat-card#projects_details_screen {
  box-shadow: none !important;
  margin-bottom: 16px;
  border-radius: 2px;
}
.new-prj-tasklist , .resources .new-resourcediv{
  padding: 8px 15px !important;
}
.projecttable.table, .projects-table-body{
  margin-top: 8px;
}
.new-prj-tasklist .tasks-body tr.mat-header-row, .projects-table-body th, td , tr.mat-header-row{
  height: 40px !important;
  border-bottom: none !important;
}
.new-attach-btn {
  background-color: #fff !important;
  color: #00a1e3 !important;
  border: 1px solid #00a1e3;
  margin: 0px;
  padding: 6px 12px;
  width: 210px;
  text-align: left;
  border-radius: 3px;
}
.new-prj-tasklist .tasks-body td {
  padding: 5px 10px !important;
  vertical-align: middle;
  font-size: 13px !important
}
.documents .new-docdiv {
  padding: 8px 15px !important;
  margin-bottom: 0px !important;
  /* min-height: 300px; */
}
.resources .projects-table-body , .documents .projects-table-body {
  padding: 0px;
}

  .tablacs .newinntalx {
    display: flex;
  }

  .btn-add{
    background: #00a0e3 !important;
    color: #FFF !important;
    margin-right: 0px;   
  }
  .btn-add:hover{
    background-color: #001c47 !important;
  }
  
  .t-comments-box {
    padding: 0px 10px;
  }
    
    .add-comment {
      display: flex;
      margin: 15px 0px;
    }
      .comment-input {
        position: relative;
        width: 100%;
      }

    .comment-send {
      color: #001c47;
      position: absolute;
      right: 12px;
      top: 7px;
    }
    #sendcomment:hover {
      color: #00a1e3;
    }

      .comment-label {
        line-height: 1;
      }
     
        .comment-time {
          font-weight: 100;
          color: #768791;
        }
      
      .comment-action {
        margin-right: 4px;
        text-align:right;
        color:#000;
      }
      .comment-action:hover {
        color: #00a1e3;
      }
      .comment-level-1 {
        /* margin-left: 50px; */
        margin-top: 15px;
      }
      .comment-content {
        width: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }
    .updatecomments .modal-footer.modelprfooter {
      padding-bottom: 0px;
    }
    .comment-content-subdiv {
      display: inline-flex;
      width: 100%;
    }

    .addresource-btn{
      position: relative;
      vertical-align: middle;
      margin-top: -17px;
      cursor: pointer;
      background-color: #12a6e5;
      color: #fff;
      text-align: center;
      padding: 0px -17px;
      margin-left: 109px;
      width: 20px;
      border-radius: 46px;
  }
  .prj-lst-btn {
    background-color: #fff !important;
    border: 1px solid #00a0e3 !important;
    color: #00a0e3;
    /* line-height: 18px; */
  }
 .prj-lst-btn:hover, .prj-crt-btn:hover {	
    background-color: #001c47 !important;    
    color: #fff;    
    font-weight: 400 !important;    
    border: 1px solid #001c47 !important; 
  }
img.testplus.hover-img ,
button.btn.btn-primary.prj-lst-btn:hover img.testplus.default-img{
    display: none;
}
button.btn.btn-primary.prj-lst-btn:hover img.testplus.hover-img {
    display: initial;
}
/* button.btn.btn-primary:hover {
  background-color: #001c47 !important;
  border: 1px solid #001c47 !important;
} */
.modelprhead h4 p {
  font-size: 12px;
  margin: 0px;
}
.modal-body.modelprbody.editmodelprbody {
  height: calc(100% - 120px);
}

span.labelcont b {
  font-size: 14px !important;
  color: #001c47;
  font-weight: 400;
}

  .letter-image{
    border-radius: 100%;
    color: #001c47;
    background-color: #ddd;
    padding: 7px;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 15px;
  }
  
  .commentsadded {
    /* font-weight: 600; */
    color: #001c47;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 8px;
  }
  .userimage{
    margin-right: 10px;
  }

  .updatecomments{
    margin-left: 50px;
    /* margin-bottom: 20px; */
  }
  #updatesavecomment{
    margin-right: 0px !important;
  }

    .attachment-name{
      font-weight: bold;
      font-size: 0.95rem;
      color: #292929;
    }

    .attachmentdiv, ul.historydiv, .edit-resourcesdiv  {
      padding: 15px 10px;
    }
    .attachmentdiv label.label-content {
      margin-left: 10px;
      font-weight: 500 !important;
      color: #001c47 !important;
    }
    .row.attachment-content {
      margin-bottom: 10px !important;
    }
    ul.historydiv li {
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 0px;
    }
    ul.historydiv li:first-child {
      padding-top: 0px;
    }
    ul.historydiv li:last-child {
      border-bottom: none !important;
    }
    table tbody tr {
      height: 40px;
    } 

    .project-details-main{
      /* overflow: auto !important; */
      height:100%;
      background-color:#e3eaef !important;
    }

 	.projects-table-body.profile-table table {
    margin-bottom: 12px;
}       

.labelcont {
  /* font-size: 14px; */
  font-weight: 600;
  color: #001c47;
  display: block;
}

.row.newprhcl {
  margin-bottom: 15px !important;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}
.newprhcl .project-info img {
  margin-right: 15px;
  text-align: center;
  /* width: 32px; */
    height: auto;
}
.newprhcl .project-info {
  display: flex;
}
span.labeltit, label.labeltit {
  font-size: 14px !important;
  /* color: #32486B; */
  font-weight: 500;
  display: block;
}
.row.newprjdates {
  float: right;
}
span.labelcont {
  /* font-size: 13px; */
  font-weight: 600;
  color: #00a0e3;
}
span.tab-number.h3.clickable {
  /* margin: 10px 0px; */
}
.comment-name {
  margin-left: 8px;
}
span.pull-right.lastedit-date {
  font-size: 14px;
  line-height: 22px;
}
.comment-content:last-child {
  border: none;
}
img.hover-img {
  display: none;
}
.newinntalx a:hover img.default-img,
.comment-send:hover img.default-img {
  display: none;
}

.newinntalx a:hover img.hover-img,
.comment-send:hover img.hover-img {
  display: initial;
}
.comment-send img {
  width: 18px;
  height: 18px;
}
.histcontent {
  line-height: 30px;
}

.project-details-set .py-5 {
  padding: 5px 5px 5px 0px;
}

.project-details-set .py-5 img {
  width: 20px;
}

.d-flex.w-100.project-details-set {
  width: calc(100% / 7);
}

.mainset{
  padding: 0px 10px 0px 5px;
  margin-bottom: 20px;
  /* min-height: 70px; */
}

/* .project-details-set:first-child{
  border-bottom:1px solid #ddd;
} */

span.tab-text.labelcont {
  background-color: #ffffff !important;
  box-shadow: unset !important;
  width: 100%;
  padding: 0px 0px !important;
  border-radius: 4px;
}

.env-btn > button > img{
  color:black !important;
  width:25px;
  background-color: white !important;
}

.env-btn > button:disabled > img{
  color:rgb(116, 116, 116) !important;
  background-color:white!important;
}
.env-btn > button:disabled{
  background-color:white;
}
.env-btn > button > div{
  color:black !important;
}

.env-btn > button:disabled > div{
  color:lightgrey !important;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #00a0e3;
  /* background-color: black; */
  display: inline-block;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #00a0e3;
  fill: #00a0e3;
  /* background-color: #00a0e3; */
}
span.clickable.projdesc {
  /* font-weight: 300; */
  font-size: 13px;
  opacity: 0.6;
  /* margin-top: 35px; */
}
.box-fileupload {
  background: #ffffff;
  width: 100%;
  padding: 5px;
  border: 2px dashed #00a0e3;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.box-fileupload:hover{
  background: #e3eaee !important; ;

}
.project-card {
  background-color: #FFFFD5;
  padding: 10px;
  border: 1px solid #d7d7d7;
  color: rgb(7, 7, 7);
  transition: 0.3s;
  border-radius: 2px;
  margin-bottom: 15px;
}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-placeholder {
  flex-basis: 0;
  flex-grow: 1;
  opacity: 1;
  font-size: 12px;
  font-weight: 400;
}
.clickable {
  cursor: pointer;
}
span.file-size {
	color: #999;
  font-size: 12px;
  font-weight: 400;
}
img.more{
  width:20px;
  height: 20px;
  cursor: pointer;
  margin-left: 5px;
}
