.main-content-head .btn {
    min-width: auto;
}
.row.project-Information {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    margin-bottom: 25px !important;
}
.row.project-overview {
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 100%); */
    border-radius: 6px;
    flex-wrap: initial;
}
.project-ninfo {
    padding: 15px !important;
}
.project-ninfo .col-md-10.pl-0,
.project-ninfo .col-md-10.pl-0 .row {
    align-items: center;
    display: flex;
}
.project-status {
    background-color: rgb(9 141 230 / 10%);
    border-radius: 6px 0px 0px 0px;
    height: 100%;
    padding: 30px 10px !important;
    justify-content: center;
    align-items: center;
    display: flex;
}
.project-status p{
  font-size: 12px;
  margin:0px;
}
.project-status img {
  width: 50px;
  height: 55px;
}
.project-name span {
    font-size: 32px;
    font-weight: 600;
}
span.highimp {
    color: #EA3D3D;
   margin-left: 5px;
}
span.mediumimp {
    color: #E58600;
   margin-left: 5px;
}
span.lowimp {
    color: #27AD74;
   margin-left: 5px;
}
.pinf {
    position: relative;
}
.projectnamerow p-inplace.p-element {
    position: relative;
    margin-right: 8px;
}
.pinf p {
    font-weight: 500;
    font-size: 16px !important;
}
.pinf label {
    color: #535353;
}
.kpipercent p {
    font-size: 44px !important;
    margin-bottom: 2px;
    line-height: 1;
}
.row.project-description {
    background-color: #fff;
    border-top: 1px solid #e0e0ee;
    padding: 15px 20px !important;
    border-radius: 0px 0px 6px 6px;
    width: 100%;
}
.project-description label {
    margin: 0px 10px 0px 0px !important;
    border-right: 1px solid #dbdbdb;
    padding-right: 10px;
}
.project-description p {
    margin: 0px;
    width: 75%;
    font-size: 16px;
}
.project-description span.readmore {
    color: #098de6;
    cursor: pointer;
    margin-left: 5px;
}
.editfields {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: flex-end;
    margin-top: 5px;
    width: 100%;
}
.editfields.prjdescef{
   position: unset;
   margin: 0px;
}
.projectnamerow {
    height: 36px;
}
.pinf.procowner,
.pinf.prjdept {
    width: 18%;
}
.pinf.prjowner,
.pinf.prjlastupdated {
    width: 15%;
}
.pinf.prjstatus {
    width: 11%;
}

/* Collaboration Styles Start */
.activecollaboration {
    padding: 0px;
    height: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
}
.collab {
    border-radius: 6px 6px 0px 0px;
    height: 530px;
    display: block;
}
.lftusermsg {
    background: #EDF6FD;
    border-radius: 0px 15px 15px 15px !important;
    padding: 20px 6px 10px 30px !important;
    margin: 20px 10px !important;
    position: relative;
    width: 77%;
}
.lftusermsg p {
    width: 100%;
}
.rgtusermsg {
    background: #42A7EB;
    border-radius: 15px 0px 15px 15px;
    padding: 25px 10px 2px !important;
    margin: 10px 0px 20px 0px !important;
    color: #fff;
    width: 77%;
    margin-left: 25% !important;
    position: relative;
}
.lftuserimg .user_keys {
    position: absolute;
    top: -4px;
}
.lftusermsg .user_keys.res-circle {
    position: absolute;
    top: -20px;
    left: -15px;
    background-color: #098de6;
    color: #fff;
}
.rgtusermsg p.rttime {
    text-align: right !important;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0px;
}
.colheads {
    font-weight: 600;
    font-size: 20px !important;
    /* margin-bottom: 15px; */
    margin-bottom: 0px;
}
h4.colheads.chatheader {
    padding: 10px 20px;
    border-bottom: 1px solid #dbdbdb;
}
.pinnedmsgs {
    background-color: #e5e5e5;
    padding: 5px 10px 5px 20px;
}
#message-body {
    height: 83%;
    overflow: auto;
    padding: 5px 20px;
}
.res-reply {
    position: absolute;
    top: 8px;
    right: 0px;
}
.rply-msg {
    background-color: aliceblue;
    color: #232832;
    border-radius: 6px;
    padding: 5px 10px;
    margin-top: 10px;
}
.rply-msg p {
    font-weight: 300;
    margin: 0px !important;
}
.collab p {
    margin-bottom: 10px;
}
.lftusermsg p.userinfo {
    color: #7D7D7D;
    font-size: 12px;
    margin-bottom: 0px;
}
.lftusermsg a {
    color: #098DE6;
}
.lftusermsg a img {
    padding-right: 5px;
}
.row.collabottom {
    padding: 10px !important;
    background: #f1f2f6;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
input.msgip {
    width: 88%;
    height: 56px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #979797;
    padding: 5px 5px 5px 15px;
}
.collabottom button {
    display: inline;
    background: transparent !important;
    padding: 0px 4px !important;
    min-width: 15px !important;
}
.collabottom button:last-child {
    padding: 0px 0px 0px 4px !important;
}
.emptychat img {
    margin-top: 10%;
}
.emptychat p {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
}
.collabottom textarea.p-inputtextarea.p-inputtext {
    border-radius: 10px;
    border-color: #979797;
    color: #232832;
    resize: none;
    box-shadow: none;
    height: 100%;
}
.collabottom textarea.p-inputtextarea.p-inputtext:focus {
    border-color: #098de6;
}
.collabottom textarea.p-inputtextarea.p-inputtext::placeholder {
    color: #7D7D7D;
}

/* Collaboration Styles End */

.acresources {
    border: 1px solid #dbdbdb;
    padding: 20px !important;
    border-radius: 6px;
    padding-bottom: 5px !important;
    background-color: #fff;
}
.acresources .blue-btntext {
    padding: 0px 10px !important;
    margin-bottom: 20px;
}
button.btn.blue-btntext a,
button.btn.blue-btntext,
button.btn.new-cancelbtn {
    color: #098de6 !important;
    font-size: 16px;
}
.imgInFirstCol td img {
    border: 2px solid #098de6;
    border-radius: 10px;
    margin-right: 2px;
}
.row.quick-actionscards {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 10px;
    height: 285px;
    align-items: center;
}
.qactionscard-info {
    width: 75px;
    background: #fff;
    text-align: center;
    border-radius: 100%;
    height: 75px;
    margin: 0 auto 20px auto;
    padding: 16px 0px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.16);
}
.quick-actionscards .qamiddlecard {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}
a.link-primary.linkss {
    color: #098de6;
    cursor: pointer;
}
p.text {
    margin-bottom: 18px;
}

/* quicksnapshot styles */
.row.quicksnapshot-cards {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    padding: 10px 15px !important;
    margin: 0px 0px 25px 0px !important;
}
.qcard-info {
    margin-left: 15px;
    width: 70%;
}
label.qcard-count {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 0px;
}
p.qcard-name {
    margin-bottom: 0;
    font-size: 16px;
}
.quick-actions {
    margin-bottom: 25px !important;
    align-items: center;
}
.quick-actions h6 {
    margin-bottom: 0px !important;
    line-height: 1.5;
    margin-right: 10px;
}
.quick-actions button.btn.blue-btntext {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
/* quicksnapshot styles */

/* Form Overlay New Styles Start */
.prjoverlay p.title_text {
  margin: 0;
  font-size: 18px;
  color: #232832;
  margin-top: 10px;
}
p-image.p-element.crtprgm {
  margin-top: 20px;
  display: block;
}
/* Form Overlay New Styles End */

/* Folderpopover New Styles Start */
button.btn.btn-primary.savefoldername {
    margin-top: 15px;
    float: right;
}
.docfldnam input.p-inputtext {
    width: 100%;
}
.docfldnam input.p-inputtext:focus {
  box-shadow: none !important;
}
.docfldnam button.btn {
  margin-top: 30px;
}
/* Folderpopover New Styles End */

button span {
    margin-left: 5px;
}
.res-circle {
    width: 32px;
    border-radius: 100%;
    height: 32px;
    margin-top: 7px;
    margin-left: 5px;
    padding: 5px 7px;
}

.rplY-div{
    margin-top: -20px;
}
