.row.project-Information {
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    margin-bottom: 25px !important;
}
.row.project-overview {
    background: linear-gradient(178.65deg, #FFFFFF 30.35%, #F1F1F1 118.7%);
    border-radius: 6px;
    flex-wrap: initial;
}
.project-ninfo {
    padding: 15px !important;
    align-items: end;
}
.project-ninfo .col-md-10.pl-0,
.project-ninfo .col-md-10.pl-0 .row {
    align-items: center;
    display: flex;
}
.project-status {
    background-color: rgb(9 141 230 / 10%);
    border-radius: 6px 0px 0px 0px;
    height: 100%;
    /* width: 75px; */
    width: 88px;
    padding: 30px 10px !important;
    justify-content: center;
    align-items: center;
    display: flex;
}
.project-status p{
  font-size: 12px;
  margin:0px;
}
.project-status img {
  width: 40px;
  /* height: 55px; */
}
.project-name span {
    font-size: 32px;
    font-weight: 400;
    color: #222;
    cursor: pointer;
}
span.highimp {
    color: #EA3D3D;
   margin-left: 5px;
}
span.mediumimp {
    color: #E58600;
   margin-left: 5px;
}
span.lowimp {
    color: #27AD74;
   margin-left: 5px;
}
.pinf {
    position: relative;
    width: 20% !important;
}
.pinf.prjowner p, .pinf.prjlastupdated p {
    height: 28px;
    margin-bottom: 0px;
}
.projectnamerow p-inplace.p-element {
    position: relative;
    margin-right: 8px;
}
.projectnamerow .prjname-priority {
    margin-top: 8px;
    /* display: flex;
    align-items: center; */
}
.prjname-priority span.priorlabels {
    align-items: flex-start;
    display: flex;
    margin-top: 8px;
    cursor: pointer;
}
.pinf p {
    font-weight: 400;
    font-size: 16px !important;
    color: #222;
    cursor: pointer;
    display: inline-block;
}
.pinf label {
    color: #535353;
    width: 100%;
}
/* .projectnamerow .p-inplace-content, .projectnamerow .editfields {
    width: 80px !important;
  } */
  .prjinfo-headerblk {
    width: 85%;
  }
.prjdetfields {
    display: flex;
    align-items: flex-start;
    margin-top: 26px;
}
.kpipercent {
    border-left: 1px solid #e0e0e0;
    padding-left:15px !important;
    text-align: center;
    width: 15%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.kpipercent p {
    font-size: 44px !important;
    margin-bottom: 2px;
    line-height: 1;
}
.row.project-description {
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    padding: 20px 10px 20px 8px !important;
    border-radius: 0px 0px 6px 6px;
    width: 100%;
    align-items: top;
    /* height: 100px; */
}
.project-description label {
    padding-right: 5px;
    /* font-size: 12px; */
    font-size: 14px;
    color: #535353;
    line-height: 25px;
    margin-bottom: 0px;
}
.project-description p {
    margin: 0px;
    width: 92%;
    font-size: 16px;
    border-left: 1px solid #d0d0d0;
    padding-left: 15px;
}
.project-description p span {
    width: 100%;
    display: inline-block;
    word-break: break-word;
    cursor: pointer;
}
.project-description span.readmore {
    color: #098de6;
    cursor: pointer;
    margin-left: 5px;
}
.editfields {
    display: flex;
    align-items: center;
    /* position: absolute; */
    justify-content: flex-end;
    margin-top: 5px;
    /* width: 150px !important; */
}
.editfields.prjdescef{
   position: unset;
   margin: 0px;
}
.projectnamerow {
    height: 36px;
}
.pinf.procowner {
    width: 25% !important;
}
.pinf.prjowner,
.pinf.prjlastupdated {
    width: 15%;
}
.pinf.prjstatus {
    width: 11%;
}

/* Collaboration Styles Start */
.activecollaboration {
    padding: 0px;
    height: 100%;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
}
.collab {
    border-radius: 6px 6px 0px 0px;
    height: 530px;
    display: block;
}
.lftusermsg {
    background: #EDF6FD;
    border-radius: 0px 8px 8px 8px !important;
    padding: 25px 6px 10px 30px !important;
    margin: 25px 10px 30px !important;
    position: relative;
    /* width: 77%; */
    width: 90%;
}
.usermessage {
    width: 100%;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}
.rgtusermsg {
    background: #eeeeee;
    border-radius: 8px 0px 8px 8px;
    padding: 25px 10px 2px !important;
    margin: 10px 0px 30px 0px !important;
    width: 90%;
    margin-left: 10% !important;
    /* width: 77%;
    margin-left: 25% !important; */
    position: relative;
}
.lftuserimg .user_keys {
    position: absolute;
    top: -4px;
}
.lftusermsg .user_keys.res-circle {
    position: absolute;
    top: -20px;
    left: -15px;
    background-color: #098de6;
    color: #fff;
    width: 32px;
    border-radius: 100%;
    height: 32px;
    margin-top: 7px;
    margin-left: 5px;
    padding: 6px 8px;
}
.rgtusermsg p.rttime {
    text-align: right !important;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0px;
}
.colheads {
    font-weight: 600;
    font-size: 20px !important;
    margin-bottom: 15px;
}
h4.colheads.chatheader {
    padding: 15px 20px 10px;
    /* border-bottom: 1px solid #d0d0d0; */
    margin-bottom: 0px;
}
.pinnedmsgs {
    background-color: #e5e5e5;
    padding: 8px 10px 8px 20px;
    display: flex;
    align-items: center;
}
#message-body {
    /* height: 88%; */
    height: inherit;
    overflow: auto;
    padding: 15px 20px 5px;
}
.res-reply {
    position: absolute;
    top: 4px;
    right: 5px;
}
.rgtusermsg p.userinfo {
    position: absolute;
    top: -18px;
    right: 8px;
    margin: 0px;
}
.rply-msg {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    color: #232832;
    border-radius: 6px;
    padding: 0px 5px;
    margin: 10px 0px 5px;
    padding-left: 0px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
}
.res-reply img.testplus {
    width: 13px;
    margin-right: 10px;
}
.pinnedmsgs img {
    width: 14px;
    margin-right: 10px;
}
.rply-msg p {
    font-weight: 300;
    margin: 0px !important;
    border-left: 4px solid #098de6;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.rply-div {
    position: absolute;
    bottom: 85px;
    width: 100%;
    background-color: rgb(220, 223, 250);
    border-radius: 0px !important;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.rply-div img.testplus {
    margin-left: 10px;
    width: 14px;
}
.lftusermsg p.userinfo {
    color: #7D7D7D;
    font-size: 12px;
    margin-bottom: 0px;
    position: absolute;
    top: -18px;
    left: 30px;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lftusermsg a {
    color: #098DE6;
}
.lftusermsg a img {
    padding-right: 5px;
}
.row.collabottom {
    padding: 10px !important;
    background: #f1f2f6;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
input.msgip {
    width: 88%;
    height: 56px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #979797;
    padding: 5px 5px 5px 15px;
}
.collabottom button {
    display: inline;
    background: transparent !important;
    padding: 0px 4px !important;
    min-width: 15px !important;
}
.collabottom button:last-child {
    padding: 0px 0px 0px 4px !important;
}
.emptychat img {
    margin-top: 10%;
}
.emptychat p {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
}
.collabottom textarea.p-inputtextarea.p-inputtext {
    border-radius: 6px;
    border-color: #979797;
    color: #232832;
    resize: none;
    box-shadow: none;
    height: 100%;
    background-color: #fff !important;
}
.collabottom textarea.p-inputtextarea.p-inputtext:focus {
    border-color: #4AB0F5;
}
.collabottom textarea.p-inputtextarea.p-inputtext::placeholder {
    color: #7D7D7D;
}

/* Collaboration Styles End */

.acresources {
    border: 1px solid #d0d0d0;
    padding: 20px !important;
    border-radius: 6px;
    background-color: #fff;
}
.acresources .blue-btntext {
    padding: 0px 10px !important;
    margin-bottom: 20px;
}
button.btn.blue-btntext a,
button.btn.blue-btntext {
    color: #098de6 !important;
    font-size: 16px;
}
.imgInFirstCol td img {
    border: 2px solid #098de6;
    border-radius: 10px;
    margin-right: 2px;
}
.row.quick-actionscards {
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    padding: 10px;
    height: 285px;
    align-items: center;
}
.qactionscard-info {
    width: 75px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    height: 75px;
    margin: 0 auto 20px auto;
    /* padding: 16px 0px; */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
}
.quick-actionscards .qamiddlecard {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}
a.link-primary.linkss {
    color: #098de6;
    cursor: pointer;
}
p.text {
    margin-bottom: 18px;
}

/* quicksnapshot styles */
.row.quicksnapshot-cards {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d0d0d0;
    padding: 10px 15px !important;
    margin: 0px 0px 25px 0px !important;
}
.qcard-infoimg {
    width: 25%;
}
.qcard-info {
    margin-left: 15px;
    width: 75%;
}
img.qcard-img {
    width: 46px !important;
    height: auto;
}
label.qcard-count {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 0px;
}
p.qcard-name {
    margin-bottom: 0;
    font-size: 16px;
}
.quick-actions {
    margin-bottom: 25px !important;
    align-items: center;
}
.quick-actions h6 {
    margin-bottom: 0px !important;
    line-height: 1.5;
    margin-right: 10px;
}
.quick-actions button.btn.blue-btntext {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    min-width: unset !important;
}
/* quicksnapshot styles */

/* Form Overlay New Styles Start */
.prjoverlay p.title_text {
  margin: 0;
  font-size: 18px;
  color: #232832;
  margin-top: 10px;
}
p-image.p-element.crtprgm {
  margin-top: 20px;
  display: block;
}
/* Form Overlay New Styles End */

/* Folderpopover New Styles Start */

.docfldnam input.p-inputtext {
    width: 100%;
}
.docfldnam input.p-inputtext:focus {
  box-shadow: none !important;
}
.docfldnam button.btn {
  margin-top: 30px;
}
/* Folderpopover New Styles End */

button span {
    margin-left: 5px;
}

.selectable {
    user-select: text;
    cursor: text;
}
.usersOverLay
{
    background: white;
    border: 1px solid #a5a5a5;
    border-radius: 6px;
    padding: 10px;
    position: inherit;
    bottom: 85px;
    width: 83%;
    box-shadow: 0px 5px 10px rgb( 0 0 0 /20%);
    font-size: 16px;
}
.usersOverLay ul{
    list-style-type: none
}

.row.main-content-head button.p-element.btn img {
    height: 18px;
}

.fileupsec {
    position: relative;
    display: flex;
    justify-content: center;
  }
  input[type="file"] {
    opacity: 0;
    cursor: pointer;
    width: 140px;
    z-index: 1;
    position: relative;
  }
  .fileupsec span {
    position: absolute;
    color: #098de6;
    padding: 3px 5px;
    /* left: 0px; */
    cursor: pointer;
  }
  .proj-desc{
    white-space: pre-line;
  }