::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-bar {
    height: 3px;
    width: 105%;
    background: gray;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer{
    height:0px !important;
    width: 0px !important;
    top: -16.5px !important;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer:after {
    height: 12px !important;
    width: 12px !important;
    left:0px;
    border-radius: 55% !important;
    border: 1px solid gray !important;
  }
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer:hover:after {
    height: 12px !important;
    width: 12px !important;
    border-radius: 55% !important;
    border: 1px solid gray !important;
  }
  ::ng-deep .custom_filter_slider .ng5-slider-active:after {
    background:white !important;
  }
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-model-value{
    color:gray;
    font-size: 11px;
    font-weight: bold;
    left:130px !important;
    top:-6px;
  }
.dataValues{
    margin-top: 10px;
    overflow: hidden auto;
    /* height: 325px;    */
    height: calc(100vh - 330px);
}
/* ::-webkit-scrollbar{
    width:10px !important;
    height: 0px !important;
} */
.data_values{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 13px;
    font-weight: normal;
    cursor:pointer;
    padding: 8px 10px;
    margin-bottom: 8px;
}
.data_values:hover{
    /* background-color: #00a0e3 !important;
    color: #fff; */
}
.inner-addon i{
    position: absolute;
    padding-left: 88%;
    pointer-events: none;
    width: 50px;
    margin-top: 10px
}
.right-addon input{ 
    padding-right: 20px !important;
    width: 120%; 
}
.selectall-btn{
  border-bottom: 1px solid gray;
  border-radius: 0;
}
.pill {
  background: #012e4c;
  color: #ffff;
  /* margin-top: 1px;
  margin-bottom: 1px; */
  padding: 6px 8px;
  width: 100px;
  /* text-align: center; */
  /* margin-left: 4px; */
  border-radius: 3px;
  margin-right: 10px;
}
.pill span{
  cursor: pointer;
  float: right;
}
.pill span:hover{
  font-weight: bold;
}

.barchart_graph{
  /* border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 20%); */
  background: #07051d;
  height: 200px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.piechart_graph{
  border: 1px solid #d1d1d1;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
  background: #ffff;
  width: 160px;
  height: 85px;
  border-radius: 4px;
  /* display: flex; */
  align-items: center;
  margin: 0px auto;
}
/* .max_time_select{
  position: relative;
  left: 290px;
  top: 20px;
}
.min_time_select{
  position: relative;
  top: 20px;
} */
.pie_label{
  /* position: relative;
    top: 30px; */
    font-weight: 600;
    margin-top: 20px;
}
.drp_btns {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.pp_chart {
  position: relative;
  /* left:70px */
}
.arrows {
  appearance: none;
  background-image: url('../../../../assets/images/PI/dual-arrow.svg');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
  cursor: pointer;
}

.arrows:focus {
  border-color: blue;
  outline: 0;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
  }

  /* Modal Content */
  .modal-content {
  position: fixed;
  left: 70px;
  top: 65px;
  width: 65% !important;
  height: 88.5%;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
  }
  .apply-btn{
    margin-top: 240px;
  }


  .container.m-contanier.form-body {
    /* height: calc(100% - 38px); */
    padding: 0px;
    width: 100%;
}
.form-footer {
  margin-top: auto !important;
  text-align: end;
  position: fixed;
  bottom: 10px;
  right: 15px;
}
.PI-filter-DVheader {
  display: flex;
  align-items: baseline;
}
.PI-filter-DVheading {
  width: 45%;
}
.PI-filter-DVheading p {
  font-size: 14px;
  font-weight: 600;
}
.PI-filter-DVbuttons {
  width: 55%;
}
.PI-filter-DVbuttons .btn-primary {
  margin-right: 0px !important;
}
.PI-filterby p {
  font-size: 14px !important;
  font-weight: 600;
  margin-bottom: 5px !important;
}
.event3 {
  width: 24%;
}
.variant_parcent {
  width: 56%;
}
.days {
  width: 20%;
}
.event3, .Covered, .days {
  font-size: 14px;
}
.timestamp-header .close {
  font-size: 28px !important;
  line-height: unset;
}
.timestamp-footer {
  margin-top: auto !important;
  text-align: end;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.modal-body.timestamp-body {
  height: calc(100% - 52px) !important;
}
.timestamp-footer .btn-primary {
  margin-right: 0px !important;
}
.timestamp-header.close {
  margin-top: 2px;
 }
img.hover-img {
  display: none;
}
.timestamp-header span:hover img.default-img, .pill span:hover img.default-img {
  display: none;
}
.timestamp-header span:hover img.hover-img, .pill span:hover img.hover-img {
  display: initial;
}
/* ::ng-deep popover-container{
  background-color: #eeeeee !important;
} */
.setvalue-btn button{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ::ng-deep .popover-content{
  padding: 9px 0px !important;
} */
