::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-bar {
    height: 3px;
    width: 105%;
    background: gray;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer{
    height:0px !important;
    width: 0px !important;
    top: -16.5px !important;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer:after {
    height: 12px !important;
    width: 12px !important;
    left:0px;
    border-radius: 55% !important;
    border: 1px solid gray !important;
  }
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer:hover:after {
    height: 12px !important;
    width: 12px !important;
    border-radius: 55% !important;
    border: 1px solid gray !important;
  }
  ::ng-deep .custom_filter_slider .ng5-slider-active:after {
    background:white !important;
  }
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-model-value{
    color:gray;
    font-size: 11px;
    font-weight: bold;
    left:130px !important;
    top:-6px;
  }

  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
  }

  /* Modal Content */
  .modal-content {
  left: 74px;
  top: 52px;
  width: 580px !important;
  height: 100%;
  background-color: #fefefe;
  padding: 15px 20px 0px;
  }
  
.container {
  padding: 0px;
  width: 100%;
}

.PI-filterby {
  /* margin-top: 15px; */
  margin-bottom: 15px !important;
}
.PI-filterby p {
  margin-bottom: 5px !important;
}
.filterValueshi8 {
  margin-top: 10px;
  /* overflow: hidden auto; */
  height: calc(100vh - 320px);
}
.data_values{
    border-radius: 6px;
    font-weight: normal;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 6px 10px !important;
    height: 45px;
    align-items: center;
    margin-bottom: 7px;
}
.data_values:hover {
  background-color: #ffffff;
  color: #098de6;
}
.pill {
  background: #012e4c;
  color: #ffff;
  padding: 6px 8px;
  width: 125px;
  border-radius: 3px;
  margin-right: 10px;
}
.pill span{
  cursor: pointer;
  float: right;
}
.pill span:hover{
  font-weight: bold;
}
.event3 {
  width: 24%;
}
.variant_parcent {
  width: 56%;
}
.days {
  width: 20%;
}
.event3, .Covered, .days {
  font-size: 14px;
}
.timestamp-header {
  padding: 5px 0px 10px !important;
  border-bottom: 1px solid #e5e5e5 !important;
}
.timestamp-header h3 {
  font-size: 16px;
  margin: 0px;
}
img.hover-img {
  display: none;
}
.timestamp-header span:hover img.default-img, .pill span:hover img.default-img {
  display: none;
}
.timestamp-header span:hover img.hover-img, .pill span:hover img.hover-img {
  display: initial;
}
.timestamp-header .close {
  padding: 0px;
  margin: 0px;
}
.modal-body.timestamp-body {
  /* height: calc(100% - 52px) !important;
  overflow: auto; */
  padding: 10px 0px;  
}
.timestamp-footer .btn-primary {
  margin-right: 0px !important;
}
.timestamp-footer {
  margin-top: auto !important;
  text-align: end;
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.piechart_graph{
  border: 1px solid #d1d1d1;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
  background: #ffff;
  width: 180px;
  height: 75px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 0px auto;
}
.pie_label{
    font-weight: 600;
}

.duration-clickable input.form-control, .duration-clickable select.form-control {
  height: 34px !important;
}
.setvalue-btn{
  text-align: right;
  margin-top: 15px;
}
.setvalue-btn button {
  height: 34px;
}



.inner-addon i{
    position: absolute;
    padding-left: 88%;
    pointer-events: none;
    width: 50px;
    margin-top: 10px
}
.right-addon input{ 
    padding-right: 20px !important;
    width: 120%; 
}

.arrows {
  appearance: none;
  background-image: url('../../../../assets/images/PI/dual-arrow.svg');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
  cursor: pointer;
}

.arrows:focus {
  border-color: blue;
  outline: 0;
}
