#foot {
    border-top: 1px solid #999999;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 300px;
    display: flex;
    right: 0;
    left: 0;
    bottom:-300px;
    background: white;
}

.slide-up
{
    bottom: 0px !important;
    transition: 1s;
}

.slide-down
{
    bottom: -300px !important;
    transition: 0.5s;
}

.filter_heading{
    background-color: #f4f4f4;
    height:35px;
    width: 100%
}

.filter_headinglabels{
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
}
.cross_close{
    margin-left: 90px;
    float:right;
    margin-top: -30px;
    margin-right: -85px;
}

.filter_typesOne{
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

.dataType_filter{
    float:left;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}

.dataType{
    margin-top: 10px;
}

.searchFilter{
    margin-left: 78%;
}

.search{
    color: gray !important;
    font-size: 13px;
    border: none ;
    background: white;
    text-align: center;
    outline: none;
}

.selectAll,.deselectAll{
    width: 100px !important;
    color: gray !important;
    font-size: 13px;
    border: none ;
    background: white;
    text-align: center;
    outline: none;
}

.selectAll:hover,.deselectAll:hover , .search:hover{
    padding-bottom: 0px;
    font-weight: 600;
    border-bottom: 2px solid lightgray !important;
    }

.type_filter, .percent_filter{
    font-size: 13px;
    font-weight: bold;
}

.filterSelection{
    border: none !important;
    border-bottom: 1px solid rgb(12, 12, 12) !important;
    box-shadow: none !important;
    outline: none;
    font-size: 12px;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 0px !important;
    width: 80%;
    font-weight: 500;
}

.filter_slider{
    width:70%;
    margin-top: -20px;
}

::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-bar {
    height: 3px;
    width: 105%;
    background: gray;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer{
    height:0px !important;
    width: 0px !important;
    top: -16.5px !important;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer:after {
    height: 12px !important;
    width: 12px !important;
    left:0px;
    border-radius: 55% !important;
    border: 1px solid gray !important;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-pointer:hover:after {
    height: 12px !important;
    width: 12px !important;
    border-radius: 55% !important;
    border: 1px solid gray !important;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider-active:after {
    background:white !important;
  }
  
  ::ng-deep .custom_filter_slider .ng5-slider .ng5-slider-model-value{
    color:gray;
    font-size: 11px;
    font-weight: bold;
    left:130px !important;
    top:-6px;
  }
.radio{
    margin-left: 30px;
    font-size: 13px;
}

.data_values{
    background: #f4f4f4;
    font-size: 13px;
    font-weight: 400;
    width: 99%;
    padding:10px;
    cursor:pointer;
}

.dataValues{
    overflow: scroll;
    height: 210px;
    padding: 5px;
}

::-webkit-scrollbar{
    width:0px !important;
    height: 0px !important;
}

.searchInput{
    margin-left: 70%;
    margin-right: 10px;
}

.reports{
    margin-top: 10px;
}
.reports td{
    padding: 8px;
}

.apply_button{
    border:1px solid #0162cb !important;
    border-radius: 25px !important;
    background-color: #0162cb !important;
    width: 60%;
    margin-top: 10px;
    margin-left: 50%;
    font-weight: bold;
    font-size: 12px;
    color: white;

}

/* .data_values.selected {
    background-color:gray;
} */
