        
<div class="container m-contanier form-body">
    <div class="col-md-12 p-0 form-group PI-filterby">
        <p class="filter_typesOne">Filter By</p>
                <select class="form-control filterSelection" name="filterBy" (change)="channgeFilter()" [(ngModel)]="filterby">
                    <option [value]="chart_filter[each]" *ngFor="let each of chart_filter_options;let i=index;trackBy:loopTrackBy" selected="{{i==0}}">{{chart_filter[each]}}</option>
                </select>           
    </div>                    
    <div class="col-md-12 p-0 form-group">
        <div *ngFor="let pill of appliedFilters" class="pill col-sm-2">{{pill}}
            <span (click)="removeTag(pill)">&times;</span>
        </div>
    </div>
    <div class="col-md-12 p-0 form-group" *ngIf="isActivity">
        <div class="col-md-12 p-0 PI-filter-DVheader">
            <div class="PI-filter-DVheading">
                <p class="dataType_filter">Data Values :</p>
            </div>
            <div class="PI-filter-DVbuttons">
                <button class="btn btn-default" (click)="selectAllDataValue()">Select All</button>
                <!-- <button class="btn eiap-btn btn-primary" *ngIf="isSelect" (click)="deselectAllDataValue()">Deselect All</button>          -->
                <!-- <button class="btn eiap-btn btn-primary" (click)="selectAllDataValue()" *ngIf="!isSelect">Select All</button> -->
                <button class="btn btn-primary" (click)="deselectAllDataValue()" [disabled]="isDeselectActivity">Deselect All</button>         
                <!-- <button *ngIf="!isSearch" class="btn" (click)="this.isSearch= !this.isSearch" >Search</button>  -->
                    <div class='inner-addon right-addon' *ngIf="isSearch">
                        <i class="fa fa-search " aria-hidden="true" style="color: gray"></i>
                        <input class="form-control border_bottom" placeholder="Search" type="text" name="search" [(ngModel)]="search_activity">
                    </div>
                    <!-- <div class='search-Input inner-addon right-addon'>
                        <i class="fa fa-search " aria-hidden="true" style="color: gray"></i>
                        <input class="form-control border_bottom" placeholder="Search" type="text" name="search">
                    </div> -->                    
            </div>
        </div>    
        <div class="col-sm-12 p-0 dataValues">
            <div *ngFor = "let data of dataValuesNames|filter:search_activity; let i = index;trackBy:loopTrackBy" >
                <div id="data" class="data_values activity_name" (click)="selectData(data, i)" [ngStyle]="{'background-color':data.selected === 'active' ? '#00a0e3' : '#fff','color':data.selected === 'active' ? '#fff' : '#000' }" >{{data.name}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0 form-group" *ngIf="isEndpoint">
        <div class="col-sm-12 p-0">
            <p class="dataType_filter">End Points :</p>
        </div>
        <div class="col-sm-12 p-0 dataValues">
            <div class="data_values activity_name" (click)="onStartPoint()">Start</div>
            <div *ngFor="let each of startPointArray;let i=index" [hidden]="!isStartPoint">
                <div id="data" class="data_values activity_name" (click)="selectedStartPoint(each,i)" [ngStyle]="{'background-color':each.selected === 'active' ? '#00a0e3' : '#fff','color':each.selected === 'active' ? '#fff' : '#000','margin-right':'10px','margin-left':'10px' }">{{each.name}}</div>
            </div>
            <div class="data_values activity_name" (click)="onEndPoint()">End</div>
            <div *ngFor="let eachvalue of endPointArray;let i=index" [hidden]="!isEndPoint">
                <div id="data" class="data_values activity_name" (click)="selectedEndPoint(eachvalue,i)" [ngStyle]="{'background-color':eachvalue.selected === 'active' ? '#00a0e3' : '#fff','color':eachvalue.selected === 'active' ? '#fff' : '#000','margin-right':'10px','margin-left':'10px' }">{{eachvalue.name}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0 form-group" *ngIf="isVariantFilter">
        <div class="col-md-12 p-0 PI-filter-DVheader">
            <div class="PI-filter-DVheading">
                <p class="dataType_filter">Variants :</p>
            </div>
             <div class="PI-filter-DVbuttons">
                <button class="btn btn-default" (click)="selectAllVariantList()">Select All</button>
                <!-- <button class="btn eiap-btn btn-primary" *ngIf="isSelect" (click)="deselectAllDataValue()">Deselect All</button>          -->
                <!-- <button class="btn eiap-btn btn-primary" (click)="selectAllDataValue()" *ngIf="!isSelect">Select All</button> -->
                <button class="btn btn-primary" (click)="deselectAllVariantList()" [disabled]="isApplyFilter">Deselect All</button>
            </div>
        </div>
        <div class="col-sm-12 p-0 dataValues">
            <div *ngFor = "let data of variantListarray|filter:search_activity; let i = index;trackBy:loopTrackBy" >
                <div id="data" class="data_values activity_name col-sm-12 d-flex" (click)="selectedVariant(data, i)" [ngStyle]="{'background-color':data.selected === 'active' ? '#00a0e3' : '#fff','color':data.selected === 'active' ? '#fff' : '#000' }" >
                    <div class='event3'>Variant <b>{{i+1}}</b></div>
                        <!-- <br/>{{caseParcent(data.casepercent)}}% of cases <br/> {{data.detail}} - {{timeConversion(data.days)}} -->
                        <!-- <div class="data_values activity_name"(click)="caseIdSelect(data,i)" class='col-sm-12 events1'><p>{{data.detail}}</p></div> -->
                        <div class='variant_parcent'>
                            <div  class='Covered'>Cases Covered <b>{{data.case_value}} ({{caseParcent(data.casepercent)}}%)</b></div>
                                <!-- <div (click)="caseIdSelect(data,i)" class='col-sm-12 events1'><p>{{data.detail}}</p></div> -->
                                <!-- <div  class='col-sm-3'></div> -->
                                    <!-- <div class="col-sm-9" *ngIf="data.selected === 'active'&&isvariantSelectedOne">
                                        <button class="play_button" (click)="playAnimation()" *ngIf="!isplay"><i class="fa fa-play"></i><span class="">Play</span></button>
                                        <button class="play_button" (click)="playAnimation()" *ngIf="isplay"><i class="fa fa-stop"></i><span class="">Stop</span></button>
                                    </div> -->                            
                        </div>
                        <div class='days' >{{timeConversion(data.days)}}</div>  
                </div>
            </div>
        </div>    
    </div>
</div>    
<div class="apply-btn form-footer">
    <!-- <div class="reports">
    <table>
        <tbody>
            <tr>
                <td>cases</td>
                <td>:</td>
                <td>{{reports[0].cases}}</td>
            </tr>
            <tr>
                <td>Activities</td>
                <td>:</td>
                <td>{{reports[0].activities}}</td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>:</td>
                <td>{{reports[0].roles}}</td>
            </tr>
            <tr>
                <td>Resources</td>
                <td>:</td>
                <td>{{reports[0].resources}}</td>
            </tr>
            <tr>
                <td>Started</td>
                <td>:</td>
                <td>{{reports[0].started}}</td>
            </tr>
            <tr>
                <td>Ended</td>
                <td>:</td>
                <td>{{reports[0].ended}}</td>
            </tr>
        </tbody>
    </table>
    </div> -->
<button  class="btn btn-primary eiap-btn" (click)="comboFilter()">Apply Filter</button>
<!-- <button *ngIf="isEndpoint" class="btn btn-primary eiap-btn" [disabled]='endptBt' (click)="applyEndpointFilter()">Apply Filter</button> -->
<!-- <button *ngIf="isVariantFilter" class="btn btn-primary eiap-btn" (click)="applyVariantFilter()">Apply Filter</button> -->

</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header timestamp-header">
            <span class="close" (click)="closePerformancePopup();">&times;</span>
            <h4>Time stamp</h4>
        </div>
        <div class="modal-body timestamp-body">                   
            <div class="row">
                <div class="col-md-12 p-0 ts-header">
                    <label class="label-control" for="performance_metrics">Filter Case By:</label>
                    <select name="pFilterType" class="border_bottom form-control" [(ngModel)]="pFilterType" (change)="this.setselectedFilter(pFilterType)" required>
                        <option value="noofcases">No of Cases</option>
                        <option value="caseutilization">Case Utilization</option>
                        <option value="caseduration">Case Duration</option>
                        <option value="meanactivetime">Mean active time</option>
                        <option value="medianactivetime">Median active time</option>
                        <option value="meanwaitingtime">Mean waiting time</option>
                        <option value="medianwaitingtime">Median waiting time</option>
                    </select>
                </div>
                <div class="ts-body">
                    <div class="col-md-12 p-0">
                        <div class="barchart_graph">
                            <ngx-charts-bar-vertical
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="single"
                                [gradient]="gradient"                          
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [legend]="showLegend"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                (select)="onSelect($event)">
                            </ngx-charts-bar-vertical>
                        </div>
                        <div class="filter-slider">
                            <ng5-slider [(value)]="vaue" [(highValue)]="highValue" (valueChange)="startValue($event)" [manualRefresh]="manualRefresh" (highValueChange)="endValue($event)"  [options]="options1"  ></ng5-slider>
                        </div>
                    </div>    
                    <div class="col-md-12 p-0 drp_btns">
                        <div class="col-md-4 p-0 min_time_select" >
                            <label class="label-control" for="timeStamp" style="display: inherit;">Minimum Duration</label>
                            <input type="text" class="arrows form-control" [value]="convertMS(minPerfValue)">
                        </div>
                        <div class="col-md-4 p-0 pp_chart">
                            <div class="piechart_graph">
                                <ngx-charts-pie-chart
                                    [view]="pieview"
                                    [scheme]="piecolorScheme"
                                    [results]="piesingle"
                                    [gradient]="piegradient"
                                    [legend]="pieshowLegend"
                                    [legendPosition]="legendPosition"
                                    [labels]="showLabels"
                                    [doughnut]="isDoughnut">
                                </ngx-charts-pie-chart>
                                <span class="pie_label">{{casePercentage}}% of cases</span>
                            </div>
                        </div>
                        <div class="col-md-4 p-0 max_time_select">
                            <label class="label-control" for="timeRange" style="display: inherit;">Maximum Duration</label>
                            <input type="text" class="arrows form-control" [value]="convertMS(maxPerfValue)">                        
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="timestamp-footer">
            <button type="button" class="btn btn-default" (click)="closePerformancePopup();">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="applyPerformanceFilter()">Apply Filter</button>                                                            
        </div>
    </div>
</div>


