@import "~bpmn-js/dist/assets/diagram-js.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn.css";
@import "enjoyhint/enjoyhint.css";
@import "~angular-notifier/styles";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "assets/css/global.css"; */
/* You can add global styles to this file, and also import other style files */
body, html {
  font-family: 'Roboto';
  user-select: none;
}
.breadcrumb{
    background-color: white !important;
    padding: 4px 22px;
    margin-bottom: 1px;
    list-style: none;
    border-radius: 4px;
}
.navbar-fixed-top{
  z-index: 1000 !important;
}
.input-group-text{
  color:blue;
}
/* Scroll bar styles :: starts */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border: 1px solid rgb(241, 238, 238);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgb(241, 238, 238); 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(241, 238, 238); 
}
/* Scroll bar styles :: ends */
/* Top Nav :: starts */
/* ul.nav.nav-tabs.justify-content-start {
    padding: 0% 10%;
    background: #f2f9ff;
}
.tab-content {
    padding: 0% 10%;
    min-height: 300px;
}
.nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent !important;
  color: #052a53 !important;
  border-radius: 0;
  border: 3px solid transparent;
  background-image: url(/assets/images/Group211.svg);
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: left;
  background-size: 40px;
  opacity: 1;
}
.nav-link {
  margin-bottom: 25px !important;
  color: #052a53 !important;
  border: 3px solid transparent !important; 
  background-image: url(/assets/images/Group211.svg);
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: left;
  background-size: 40px;
  opacity: 0.5;
  font-size: x-large;
}
.nav-tabs .nav-link{
  border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.nav-tabs .nav-link.active {
  border: 3px solid transparent !important;
}
.nav-tabs .nav-item {
  margin-bottom: -25px;
} */
/* generic styles */
.center{
  text-align: center;
}
.right{
  float:right;
}
.mat-expansion-panel-content.open{
  padding: 10px;
  border: 1px dotted #ccc;
}
.no-split-pane .as-split-gutter{
  display : none !important;
}
/* notifications to right */
notifier-notification{
    position: absolute;
    text-align: right;
    left: calc(100% - 325px) !important;
}
/* remove dropzone dotted border */
ngx-dropzone{
  border: none !important;
}
.djs-container svg{
  margin-left: 85px;
}
div[class^='diagram_container'] .djs-palette{
  display: none;
}
.djs-palette.two-column.open{
  width: 48px !important;
}
div[class^='diagram_container'] .djs-container svg{
  margin-left: 5px;
}
.bjs-powered-by{
  display:none !important;/* Against the license agreement */
}
/*spinner styles*/
.spincenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.spinoverlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #bebcbc66;
}
/*spinner styles*/
/* pagination styles */
.ngx-pagination{
  padding: 0;
}
.pagination{
  margin: 0 !important;
}
/* pagination styles */

/* button styles */
.header_addon{
  /* position: relative;
  top: -55px; */
  position: absolute !important;
  top: 105px;
  width: 100%;
}
.btn{
  margin-right: 5px;
}
.btn-thin{
  height: 25px;
  padding: 2px 20px !important;
  font-size: 12px !important;
  border-color:#0062cf !important;
}
.btn-primary{
  background-color:#0062cf !important;
  border-color:#0062cf !important;
  outline: none;
}
.btn:focus, .btn:active{
  outline: none;
}
.btn:hover{
  font-weight: 700 !important;
}
button:disabled{
  cursor: no-drop;
  background-color: grey;
}
.eiap-btn{
  border-radius: 20px !important;
  margin-left: 13px;
  margin-top: 5px;
  min-width: 120px;
}
.action-btn{
  width: 30px;
  height: 30px;
  color:#0162cb;
  border: 1px solid lightgray !important;
  cursor: pointer;
  outline: none;
  background-color: white;
  box-shadow: none !important;
}
.eiap_tooltip{
  background-color: #0061cf;
}
.error_msg{
  font-size: 10px;
  color: red;
  display: none;
}
.error_msg.show{
  display: block;
}
.label_icon{
  font-size: 11px;
  color: white;
  background: grey;
  padding: 3px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
.bg-red{
  background-color: red;
}
.bg-green{
  background-color: green;
}
.bg-orange{
  background-color: orange;
}
.invisible{
  visibility: hidden;
}
/* button styles */
/* .tabscomp .nav-link{
  padding-left: 50px !important;
} */
th {
  color: #464646;
  font-size: 13px;
  font-weight: 700;
}
ul.nav.nav-tabs.justify-content-start li {
  height: 38px !important;
}
ul.nav.nav-tabs.justify-content-start li a {
  height: 38px;
    color: #000;
    background: lightgray;
    
}
ul.nav.nav-tabs.justify-content-start{
  justify-content: start;
    margin-left: 3px;
}
a.nav-link.active {
  color: white !important;
  background: #0061cf !important;
}
.mat-progress-spinner circle{
  stroke: #0062cf;
}


/*RPA-Environments*/
.env-table>thead>tr>th{
  padding:18px;
  color: black;
  font-weight: bold;
  font-size:15px;
  background-color:white;
}
.env-btn-shadow{

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.env-btn{
display:inline-block;
}


.card-header{
  background: #f1eeee;
    padding: 8px;
    color: #0062cf;
    font-weight: 700;
    font-size: 16px;
}
.card{
  border-top: 1px solid gray;
  border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.card-body{
    padding:20px;
    overflow-y: scroll;
}
.pop-up{
  position: absolute;
    bottom: 0px;
    width: 100%;
    background: white;
    z-index: 1000;
    transition: width 2s;
    overflow-y: scroll;
}
.class-css{
  cursor: pointer;float: right;font-weight: 700;border: 1px solid gray;padding: 1px 6px
}
.iconfont{
font-size:15px; 
color:white;
}
.icon-button{  
 width: 50px; 
height: 50px; 
padding: 7px 10px; 
border-radius: 25px; 
font-size: 10px; 
text-align: center; 

}


.data > input[type=search]{
height: 70px;
}

.formelement{
padding:10px;
}
#particles-js {
  position: absolute;
  z-index: 0;
  width: 50%;
  height: 620px;
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
}

/*RPA-Environments*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }







/* d3 css */
 .node rect, .node circle{
    stroke: #333;
    /* fill: #02497D; */
    /* width: 200px; */
    }

    text {
        /* font-size: 14px; */
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
        transform: translate(5px, 0px);
        height: auto;
        width: auto;
        }
 
   .node{
        fill: #fff;
      }
    
    .edgePath path {
    stroke: #4c4c4c;
    fill: none;
    stroke-width: 0.3px;
    /* stroke-width: 1.5px; */
   
    }
    /* svg {
     overflow: scroll !important;
    } */

 
 div#tooltip_template span ul, .tipsy-inner ul {
  list-style: none;
  padding: 0px;
}

div#tooltip_template span ul li, .tipsy-inner ul li  {
  max-width: 320px;
  padding: 5px;
  /* border-bottom: 1px solid #323232; */
  letter-spacing: 0.5px;
}
div#tooltip_template span ul div, .tipsy-inner  ul div{
  display: inline;
}
div#tooltip_template span ul div:first-child , .tipsy-inner ul div:first-child{
  width: 70%;
  display: inline-block;
  word-break: break-word;
  padding-right: 1%;
}

div#tooltip_template span ul div:last-child, .tipsy-inner ul div:last-child {
  text-align: right;
  width: 29%;
  word-break: break-word;
}

div#tooltip_template.tooltip-panel p , .tipsy-inner p{
  background: rgb(250, 250, 250) !important;
  padding: 2px;
  text-align: center;
  /* font-size: 11px; */
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
div#tooltip_template.tooltip-panel p:first-child {
   margin-top: 0px !important;
   color: #333333;
   padding:5px;
}

.tipsy-inner p:first-child{
  margin-top: -10px 5px -10px -10px !important;
  color: #333333;
}
.tipsy-inner p{
  padding: 0px !important;
}
.tipsy-inner {
  text-align: left !important;
  max-width: 320px !important;
  min-width: 250px !important;
  scroll-margin-top: 10px !important;
  margin-top: 50px !important;
  background: rgb(250, 250, 250) !important;
  color:#0162cb;
  padding:3px !important;
  font-size: 10.5px !important;
}

.tipsy-inner ul li {
  padding: 0px !important;
}


.animationFlow {
  fill: none;
  stroke: black;
  opacity: 0.8;
  stroke-width: inherit;
  stroke-dasharray: 10, 4;
  animation: flow 1s linear infinite;
  -webkit-animation: flow 1s linear infinite;
}

@keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
  
}
.label{
  color: black !important;
  font-size: 14px !important;
}
/* .edgePath path.path {
  stroke: #4c4c4c;
  fill: none;
  stroke-width: 0.5px;
} */
.module-heading .breadcrumb {
  background-color: transparent !important;
  padding: 3px 10px;
  margin-bottom: 0px;
  color: #2676cf;
}
foreignObject{
  width: 80px !important;
  padding-right: 60px !important;
}
.breadcrumb>li+li:before {
  display: none;
}
.module-heading .breadcrumb a {
  color: #2676cf;
  padding: 0px 10px;
}