@import "~bpmn-js/dist/assets/diagram-js.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn.css";
@import "enjoyhint/enjoyhint.css";
@import "~angular-notifier/styles";
/* @import "assets/css/global.css"; */
/* You can add global styles to this file, and also import other style files */
body, html {
  font-family: 'Roboto';
}
.breadcrumb{
    background-color: white !important;
}
.navbar-fixed-top{
  z-index: 1000 !important;
}
.input-group-text{
  color:blue;
}
/* Scroll bar styles :: starts */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border: 1px solid rgb(241, 238, 238);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgb(241, 238, 238); 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(241, 238, 238); 
}
/* Scroll bar styles :: ends */
/* Top Nav :: starts */
/* ul.nav.nav-tabs.justify-content-start {
    padding: 0% 10%;
    background: #f2f9ff;
}
.tab-content {
    padding: 0% 10%;
    min-height: 300px;
}
.nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent !important;
  color: #052a53 !important;
  border-radius: 0;
  border: 3px solid transparent;
  background-image: url(/assets/images/Group211.svg);
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: left;
  background-size: 40px;
  opacity: 1;
}
.nav-link {
  margin-bottom: 25px !important;
  color: #052a53 !important;
  border: 3px solid transparent !important; 
  background-image: url(/assets/images/Group211.svg);
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: left;
  background-size: 40px;
  opacity: 0.5;
  font-size: x-large;
}
.nav-tabs .nav-link{
  border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.nav-tabs .nav-link.active {
  border: 3px solid transparent !important;
}
.nav-tabs .nav-item {
  margin-bottom: -25px;
} */
/* generic styles */
.right{
  float:right;
}
.mat-expansion-panel-content.open{
  padding: 10px;
  border: 1px dotted #ccc;
}
/* notifications to right */
notifier-notification{
  right: 12px;
  left: calc(100% - 350px) !important;
}
/* remove dropzone dotted border */
ngx-dropzone{
  border: none !important;
}
.djs-container svg{
  margin-left: 85px;
}
div[class^='diagram_container'] .djs-palette{
  display: none;
}
div[class^='diagram_container'] .djs-container svg{
  margin-left: 5px;
}
.bjs-powered-by{
  display:none !important;/* Against the license agreement */
}
/* .tabscomp .nav-link{
  padding-left: 50px !important;
} */
th {
  color: #464646;
  font-size: 13px;
  font-weight: 700;
}
ul.nav.nav-tabs.justify-content-start li {
  height: 38px !important;
}
ul.nav.nav-tabs.justify-content-start li a {
    color: #000;
    background: lightgray;
}
ul.nav.nav-tabs.justify-content-start{
  justify-content: start;
    margin-left: 3px;
}
a.nav-link.active {
  color: white !important;
  background: #0061cf !important;
}


/*RPA-Environments*/
.env-table>thead>tr>th{
  padding:18px;
  color: black;
  font-weight: bold;
  font-size:15px;
  background-color:white;
}



.env-btn-shadow{

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.env-btn{
display:inline-block;
}


.card-header{
  background: #f1eeee;
    padding: 8px;
    color: #0062cf;
    font-weight: 700;
    font-size: 16px;
}
.card{
  border-top: 1px solid gray;
  border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.card-body{
    padding:20px;
    overflow-y: scroll;
}
.pop-up{
  position: absolute;
    bottom: 0px;
    width: 100%;
    background: white;
    z-index: 1000;
    transition: width 2s;
    overflow-y: scroll;
}
.class-css{
  cursor: pointer;float: right;font-weight: 700;border: 1px solid gray;padding: 1px 6px
}
.iconfont{
font-size:15px; 
color:white;
}
.icon-button{  
 width: 50px; 
height: 50px; 
padding: 7px 10px; 
border-radius: 25px; 
font-size: 10px; 
text-align: center; 

}


.data > input[type=search]{
height: 70px;
}

.formelement{
padding:10px;
}
#particles-js {
  position: absolute;
  z-index: 0;
  width: 50%;
  height: 620px;
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
}

/*RPA-Environments*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
