.right_split {
  background-color:#f9f9f9;
  height: 100%;
  padding: 15px 20px 0px;
}
.splitter-headers {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 9999;
  cursor: pointer;
}
a.closeoverlay {
  margin-left: 10px;
}
