.right_split {
  background-color:#f9f9f9;
  height: 100%;
}
.splitter-headers {
  position: absolute;
  right: 15px;
  top: 18px;
  z-index: 9999;
  cursor: pointer;
}
a.closeoverlay {
  margin-left: 10px;
}
