table{
    width:100%;
}
.table_heading{
    color:gray;
    font-size: 17px;
    font-weight: 550;
    width:16%;
    padding:15px 0px;
}
.table_cell{
    padding:13px 0px;
    color:gray;
    font-size: 17px;
}
.btn_mode{
    border-radius:19px;
    float: right;
}
.label_cell{
    font-size: 13px;
}
.input_cell{
    padding:3px !important;
    border-left: none !important;
    border-right:none !important;
    border-top:none !important;
    
}
.form-control{
    box-shadow:none !important;
    background-color: transparent !important;
    border-radius: 0px !important;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.save_btn{
    margin-top:19px;
    border-radius: 21px;
    float: right;
    width: 40%;
    color:black !important;
    font-size: 18px !important;
    padding: 0px;

}
/* The Modal (background) */
.hd_overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
    }
    
    /* Modal Content */
    .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
    }
    
    /* The Close Button */
    .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    
    .modal-header {
    padding: 2px 16px;
    background-color: #e5e5e5;
    color: #000;
    }
    .modal-header .close {
    margin-top: 5px;
   }
    
    .modal-body {padding: 2px 16px;}
    /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    color: #287ad6;
    font-weight: 550;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
 .default_btn{
     background-color:green !important;
     color: white !important;
     border-radius: 13px;
     width:40%;
     text-align: center;
    display: inline-block;
 }
.search_btn
{
    padding:0px !important;
    margin-top:15px !important;
    background-color: transparent;
    margin-right: 0px !important;

}
.search_span{
    float:right;
}
.download_btn{
    border:1px solid gray;
    padding: 0px;
    width: 24px;
} 
.download_icon{
    width:90% !important;
    height: auto !important;
}  
.next_row{
    margin-top: 10px !important;
}
.overlay_container{
    margin-bottom: 82px !important;
}
 button.tablinks.active{
    color: #495057 !important;
    background-color: #fff !important;
    /* border-color: red green blue !important; */
    border-top:1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 4px;
} 
.phonenumber{
    width:112% !important;
    padding-left: 51px !important;
}
/* .iti__selected-flag{
    padding-right: 20px !important;
} */
