<div id="header_overlay" class="hd_overlay">
    <div class="modal-content" *ngIf="overlay_acc_dt">
        <div class="tab">
            <div class="container">
                <button class="tablinks" (click)="openTab($event, 'my_account')">My Account</button>
                <button class="tablinks" (click)="openTab($event, 'subscription')">Subscriptions</button>
                <button class="tablinks" (click)="openTab($event, 'payment_history')">Payment History</button>
                <button class="tablinks" (click)="openTab($event, 'payment_mode')">Payment Mode</button>
                <span class="search_span"><input class="search_btn" type="text" placeholder="Search">&nbsp;<i class="fa fa-search"></i></span>
            </div>
            <span class="close" (click)="slideDown();">&times;</span>
        </div>

        <div class="container overlay_container">
            <div id="my_account" class="tabcontent">
                <form (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="">
                                <label for="email" class="label_cell">Email</label><br>
                                <input type="email" name="email" class="form-control input_cell" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <label for="first_name" class="label_cell">First Name</label><br>
                                <input type="text" name="first_name" class="form-control input_cell" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <label for="last_name" class="label_cell">Last Name</label><br>
                                <input type="text" name="last_name" class="form-control input_cell" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <label for="job_title" class="label_cell">Job Title</label><br>
                                <input type="text" name="job_title" class="form-control input_cell" required>
                            </div>
                        </div>
                    </div>
                    <div class="row next_row">
                        <div class="col-md-3">
                            <div class="">
                                <label for="company" class="label_cell">Company</label><br>
                                <input type="text" name="company" class="form-control input_cell" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <label for="country" class="label_cell">Country</label><br>
                                <select type="text" name="country" class="form-control input_cell" required></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <label for="state" class="label_cell">State</label><br>
                                <select type="text" name="state" class="form-control input_cell" required></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <label for="city" class="label_cell">City</label><br>
                                <select type="text" name="city" class="form-control input_cell" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="row next_row">
                        <div class="col-md-3">
                            <div class="">
                                <label for="zip_code" class="label_cell">Zip Code</label><br>
                                <input type="number" name="zip_code" class="form-control input_cell" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <label for="phone" class="label_cell">Phone</label><br>
                                <input type="text" name="phone" class="form-control phonenumber" ng2TelInput (intlTelInputObject)="telInputObject($event)" />
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <button type="submit" class="btn btn-primary save_btn">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="subscription" class="tabcontent">
                <table>
                    <tr>
                        <th class="table_heading">Subscription Id</th>
                        <th class="table_heading">Product</th>
                        <th class="table_heading">Plan</th>
                        <th class="table_heading">Amount</th>
                        <th class="table_heading">Status</th>
                        <th class="table_heading">Action</th>
                    </tr>
                    <tr *ngFor="let details of table_details">
                        <td class="table_cell">{{details.sub_id}}</td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.plan}}</td>
                        <td class="table_cell">{{details.amount}}</td>
                        <td class="table_cell">{{details.status}}</td>
                        <td class="table_cell">
                            <button class="left" id="download"><img src="..\assets\icons\bpmn_Overview.svg"></button>
                            <!-- <i class="fa fa-times-circle-o"></i>  -->

                        </td>
                    </tr>
                </table>
            </div>

            <div id="payment_history" class="tabcontent">
                <table>
                    <tr>
                        <th class="table_heading">Invoice Number</th>
                        <th class="table_heading">Subscription Id</th>
                        <th class="table_heading">Amount</th>
                        <th class="table_heading">Due Date</th>
                        <th class="table_heading">Status</th>
                        <th class="table_heading">Action</th>
                    </tr>
                    <tr *ngFor="let details of table_details">
                        <td class="table_cell">{{details.sub_id}}</td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.plan}}</td>
                        <td class="table_cell">{{details.amount}}</td>
                        <td class="table_cell">{{details.status}}</td>
                        <td class="table_cell">
                            <button class="download_btn" id="download"><img  class="download_icon"  src="..\assets\downloadimage.svg"></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="payment_mode" class="tabcontent">
                <button class="btn btn-primary btn_mode">Add New card</button>
                <table>
                    <tr>
                        <th class="table_heading">Card Type</th>
                        <th class="table_heading">Card Number</th>
                        <th class="table_heading">Expiration Date</th>
                        <th class="table_heading">Created Date</th>
                        <th class="table_heading">Action</th>
                    </tr>
                    <tr *ngFor="let details of table_details">
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.sub_id}}<span class="default_btn">Default</span></td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell"></td>
                    </tr>

                </table>
            </div>
        </div>


    </div>





    <div class="modal-content" *ngIf="overlay_user_manage_dt">
        <div class="tab">
            <div class="container">
                <button class="tablinks" (click)="openTab($event, 'my_account')">Roles</button>
                <button class="tablinks" (click)="openTab($event, 'subscription')">Users</button>
            </div>
            <span class="close" (click)="slideDown();">&times;</span>
        </div>
        <div class="container overlay_container">


            <div id="my_account" class="tabcontent">
                <table>
                    <tr>
                        <th class="table_heading">Subscription Id</th>
                        <th class="table_heading">Product</th>
                        <th class="table_heading">Plan</th>
                        <th class="table_heading">Amount</th>
                        <th class="table_heading">Status</th>
                        <th class="table_heading">Action</th>
                    </tr>
                    <tr *ngFor="let details of table_details">
                        <td class="table_cell">{{details.sub_id}}</td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.plan}}</td>
                        <td class="table_cell">{{details.amount}}</td>
                        <td class="table_cell">{{details.status}}</td>
                        <td class="table_cell">{{details.action}}</td>
                    </tr>
                </table>
            </div>

            <div id="subscription" class="tabcontent">
                <table>
                    <tr>
                        <th class="table_heading">Invoice Number</th>
                        <th class="table_heading">Subscription Id</th>
                        <th class="table_heading">Amount</th>
                        <th class="table_heading">Due Date</th>
                        <th class="table_heading">Status</th>
                        <th class="table_heading">Action</th>
                    </tr>
                    <tr *ngFor="let details of table_details">
                        <td class="table_cell">{{details.sub_id}}</td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.plan}}</td>
                        <td class="table_cell">{{details.amount}}</td>
                        <td class="table_cell">{{details.status}}</td>
                        <td class="table_cell">{{details.action}}</td>
                    </tr>
                </table>
            </div>

            <div id="payment_mode" class="tabcontent">
                <button class="btn btn-primary btn_mode">Add New card</button>
                <table>
                    <tr>
                        <th class="table_heading">Card Type</th>
                        <th class="table_heading">Card Number</th>
                        <th class="table_heading">Expiration Date</th>
                        <th class="table_heading">Created Date</th>
                        <th class="table_heading">Action</th>
                    </tr>
                    <tr *ngFor="let details of table_details">
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.sub_id}}</td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.action}}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>





    <div class="modal-content" *ngIf="overlay_invite_user_dt">
        <div class="tab">
            <div class="container">
                <h3 class="config_alert_title">Invite User</h3>
            </div>
            <span class="close" (click)="slideDown();">&times;</span>
        </div>
        <div class="container overlay_container">
            <form class="form_invite_user row">
                <div class="form-group col-md-12 ">
                    <label for="email" class="label_cell">Email</label><br>
                    <input type="email" name="email" class="form-control invite_user_input" required>
                </div>
                <div class="form-group col-md-12">
                    <label for="city" class="label_cell">Application</label><br>
                    <select type="text" name="city" class="form-control invite_user_input" required></select>
                </div>
                <div class="form-group col-md-12">
                    <label for="city" class="label_cell">Role</label><br>
                    <select type="text" name="city" class="form-control invite_user_input" required></select>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary col-md-12">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-content" *ngIf="overlay_notifications_dt">
        <div class="tab notification-alignments1">
            <div style="padding-left:15px;">
                <!--class="container"-->
                <h4 class="notification_alert_title">Notifications</h4>
            </div>
            <span class="close" (click)="slideDown();">&times;</span>
        </div>
        <div class="notificatnmsgs ">
            <table class="table-hover">
                    <thead>
                      <tr>
                    <th class="notificationmessage">Notification Message</th>
                   <th class="notificationdate">Date</th>
                   <th class="notificationaction">Action</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="notificationList.errorMessage==undefined ">
                      <tr [id]="'ntf_'+messageList.id" [ngClass]="messageList.status == 'read'?'isRead':'unread'"     *ngFor="let messageList of notificationList | paginate: {id:'notification_page', itemsPerPage: 2, currentPage: c }; let i = index; trackBy:loopTrackBy;">
                        <td [id]="'msg_'+messageList.id"  (click)="notificationclick(messageList.id)" style="cursor: pointer;" class="notification_cell" >{{messageList.notificationAuditId[0].contentType}}</td>
                        <td [id]="'date_'+messageList.id"   (click)="notificationclick(messageList.id)" style="cursor: pointer;" class="notification_cell">{{messageList.createdAt | date}} {{messageList.createdAt.split("T")[1].split(".")[0]}}</td>
                        <!-- <td>{{messageList.createdAt | date:"HH:mm:ss"}}</td> -->
                        <td class="notification_action_cell"><span aria-hidden="true" (click)='deletnotification(messageList.id)' class="cross_delet">&times;</span>
                          <div id="myid" [ngClass]="messageList.id == dataid?'isdelet':''" class="deletconfm">
                              <div class="container-fluid deletefrm">
                            <h5 class="pull-left">Confirmation</h5>
                            <!-- <button type="button" class="close ">
                                <span aria-hidden="true">&times;</span>
                              </button> -->
                            <p class="pull-left">Are you sure you want to delete the notification ?</p>
                            <button class="pull-left confm" aria-label="Close" (click)="deleteNotification(messageList.id,i)">Yes</button>
                            <button class="confm pull-left" (click)="canceldeleteNotification(i)">No</button>
                            </div>
                            </div>
                          </td>

                      </tr>
                    </tbody>
                  </table>
                  <tbody  *ngIf="notificationList.errorMessage=='No records found' " >
                    <div class="ntfnorecords"><h4 style="font-size: 28px;">No records found</h4></div>
                  </tbody>
                  <div *ngIf="notificationList.errorMessage!='No records found'" class="notificationpagination">
                    <pagination-controls id="notification_page" maxSize="8" (pageChange)="c = $event"></pagination-controls>
                    </div>
        </div>
    </div>



    <div class="modal-content" *ngIf="overlay_config_alert_dt">
        <div class="tab">
            <div class="container">
                <h3 class="config_alert_title">Configure Alerts</h3>
            </div>
            <span class="close" (click)="slideDown();">&times;</span>
        </div>
        <div class="container overlay_container">
            <div>
                <button class="btn btn-primary create_alert_btn" (click)="openAlertModel()">Create Alert</button>
                <table>
                    <tr>
                        <th class="table_heading">Subscription Id</th>
                        <th class="table_heading">Product</th>
                        <th class="table_heading">Plan</th>
                        <th class="table_heading">Amount</th>
                        <th class="table_heading">Status</th>
                        <th class="table_heading">Action</th>
                    </tr>
                    <tr *ngFor="let details of table_details">
                        <td class="table_cell">{{details.sub_id}}</td>
                        <td class="table_cell">{{details.prod}}</td>
                        <td class="table_cell">{{details.plan}}</td>
                        <td class="table_cell">{{details.amount}}</td>
                        <td class="table_cell">{{details.status}}</td>
                        <td class="table_cell">{{details.action}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>











</div>

<ng-template class="dialog-model" #dialog_model id="dialog_model">
    <div class="row">
        <div class="col-md-6">
            <h3>Configure Alerts</h3>
        </div>
        <div class="col-md-6">
            <button class="close_modal" (click)="close();">&times;</button>
        </div>
    </div>


    <form class="form_alert_row row">
        <div class="form-group col-md-12 ">
            <label for="email" class="label_cell">Application</label><br>
            <select type="text" name="city" class="form-control invite_user_input" required></select>
        </div>
        <div class="form-group col-md-12">
            <label for="city" class="label_cell">Activity</label><br>
            <select type="text" name="city" class="form-control invite_user_input" required></select>
        </div>
        <div class="form-group col-md-12">
            <label for="city" class="label_cell">Type</label><br>
            <select type="text" name="city" class="form-control invite_user_input" required></select>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Channel</h5>
                <div class="row">
                    <div class="col-md-4">Push Notifications&nbsp;<span><input type="checkbox"></span></div>
                    <div class="col-md-4">Email&nbsp;<input type="checkbox"></div>
                    <div class="col-md-4">SMS&nbsp;<input type="checkbox"></div>
                </div>
            </div>

        </div>
        <br>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary col-md-12">Submit</button>
        </div>
    </form>

</ng-template>