.rpa-checkbox{
    display: flex;
    justify-content:center;
  }
  .rpa-table thead th {
  border-bottom-width: thin;
  border-bottom-color:#d9d9d9;
  }
  .rpa-table tfoot th{
    border-top-color:#d9d9d9;
    border-bottom-width: thin;
    font-weight: 200;
  }
  .rpa-table tbody tr td
  {
    border-top-color:#d9d9d9;
    border-bottom-width: thin;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  tr.mat-footer-row, tr.mat-row {
    height: auto !important;
  }
  
  .errspan{
    position: relative;
    z-index: 2;
    color: #dc3545;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding-right: 10px;
    line-height: 12px;
    }
  
  .rpa-tablebox{
  padding-top:10px;
  padding-bottom:10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border-radius: 10px;
  height: 900px;
  }
  .rpa-table.dataTable thead .rpa-checkbox-th{
    background : none;
  }
  
  .env-btn > button > img{
    color:black !important;
    width:25px;
    background-color: white !important;
  
  }
  
  .env-btn > button:disabled > img{
    color:rgb(116, 116, 116) !important;
    background-color:white!important;
  }
  .env-btn > button:disabled{
    background-color:white;
  }
  .env-btn > button > div{
    color:black !important;
  }
  
  .env-btn > button:disabled > div{
    color:lightgrey !important;
  }
  
  .rpa-image1 {
    height: 12px;
    width: 12px;
  }
  
  .field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  }
  
  td{
    white-space:nowrap;
  }
  
  th{
    white-space:nowrap;
  }
  
  /* ::-webkit-scrollbar-track {
    display:none;
  }
  
  ::-webkit-scrollbar-thumb {
  background:lightgray;
  }
  
  ::-webkit-scrollbar {
  width: 10px;
  height:4px
  } */
  
  :host ::ng-deep .table>thead>tr>th{
    background-color: rgb(74, 176, 245) !important;
    color: white !important;
    font-size: 18px !important;
    text-align: center !important;
  }
  
  :host ::ng-deep .mat-cell, .mat-footer-cell {
    font-size: 16px;
  }
  
  :host ::ng-deep .mat-sort-header-arrow {
    color: white;
  }
  
  
  :host ::ng-deep td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 9px;
    padding-bottom: 15px;
  }
  
  .env-btn{
    padding:5px !important;
  }
  