.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group],
.example-tree div[role=group]>.mat-tree-node {
    padding-left: 15px;
    /* margin-bottom: 15px; */
    cursor: pointer;
}

.vcm-treesmain {
    padding: 10px 15px;
    /* background-color: #f5f5f5;  */
}

.vcm-treesmain .example-tree {
    background-color: #f6f6f6 !important;
    padding: 0px 15px;
    height: auto;
}

.vcm-treesmain h4 {
    font-weight: 600;
    margin: 0px;
    color: #001c47;
    padding: 18px 15px 0px 20px;
    background-color: #f5f5f5;
    text-transform: capitalize;
}

.text-color {
    color: #00a1e4;
    cursor: pointer;
}

.custom-footer-content p {
    cursor: pointer !important;
    font-weight: 600;
}

.Apr-cnt h4 {
    border-bottom: 1px solid #ccc;
    color: #00a1e4;
    margin: 0px;
    padding: 0px 0px 10px;
}

.notif-close img {
    opacity: 0.2;
}

.submit button.btn.btn-primary {
    margin-right: 0px !important;
}

mat-drawer {
    width: 25%;
}

span.proc-title {
    color: #00a1e4 !important;
    font-size: 16px !important;
    /* font-weight: 600 !important; */
    margin-top: 18px;
}
.mat-tree-node span {
    color: #333c48;
    font-size: 14px;
    line-height: 22px;
}
img.procmenu {
    width: auto;
    height: 18px;
    margin-right: 6px;
    margin-top: 20px;
}
.close-btn h3 {
    padding: 10px 10px 10px 15px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    width: 90%;
}
.close-btn img{
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 14px;
}
.vcmdocs {
    border: 2px dashed #e7e7e7;
    background-color: #f5f5f5;
    padding: 20px 0px !important;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
.vcmdocs:hover {
    background-color: aliceblue;
}
.vcmdocs p {
    margin: 0px;
}
.vcmdocs img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0px auto;
}
.vcmdocs button {
    border: 1px solid #00a0e3 !important;
    color: #00a0e3;
    margin: 15px 0px 0px 0px !important;
    padding: 8px 25px !important;
}
.files img {
    float: right;
    /* opacity: 0.6; */
    cursor: pointer;  
    margin-top: 5px;
}
.files img:hover {
    opacity: 1;
}
.files span:hover .default-img {
    display: none;
}
.files span:hover .hover-img {
    display: initial;
}
.vcname {
    background-color: #fff;
}
.vcname input {
    position: relative;
}
.vcname button {
    position: absolute;
    top: 32px;
    right: 13px;
    min-width: auto !important;
    padding: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.vcm-treediv {
    height: calc(100% - 110px);
    background-color: #f5f5f5d6 !important;
}
.editcontent {
    /* height: calc(100vh - 235px); */
    height: calc(100vh - 255px);
}
span.sub-nodel1 {
    margin-left: -5px;
    margin-right: 10px;
}
span.sub-nodel2 {
    margin-left: 10px;
    color: #607087 !important;
    margin-right: 10px;
}
img.testplus2 {
    width: 14px;
    height: auto;
    margin-left: 7px;
}
button img.testplus {
    margin-left: 10px;
}