.packagecontentdiv {
  height: calc(100vh - 210px);
  overflow: auto;
}
.plandetailscont {
  height: 330px;
}
#planHeading{
  font-size: 20px;
}
#ctr{
    color: #098de6;
    font-size: 16px;
}
.plansBox{
  border: 1px solid #b5b5b5;
  border-radius: 6px;
  /* height: 100%; */
  padding: 15px;
  background-color: #fff;
  margin-right: 15px;
  width: 290px;
  margin-bottom: 15px;
}
.plansBox:hover{
  border: 1px solid #4AB0F5;
}
p.processes {
  margin-bottom: 10px;
}
.processes .fa-check-circle{
  color: green;
  margin-right: 10px;
}
.processes .fa-times-circle{
  margin-right: 10px;
  color:red;
}
.plandetailscont h4 {
  margin-bottom: 15px;
}
h4 .planName {
  color: #098de6;
  font-size: 20px;
  font-weight: 600;
}
.current-plan{
  background-color: red;
  color: white;
  border-radius: 3px;
  font-size: 11px !important;
  padding: 5px;
  float: right;
}
.requested-plan{
  background-color: green;
  color: white;
  border-radius: 3px !important;
  font-size: 11px !important;
  padding: 5px;
  float: right;
}
.selectplanbtn{
  border-radius: 3px;
  /* width: 100px; */
  padding: 5px !important;
  position: absolute;
  bottom: 15px;
}
.enterprice{
  color: #098de6;
  position: absolute;
  bottom: 45px;
}
.processes .limited {
    position: absolute;
    right: 15px;
    font-size: 12px;
    color: #535353;
    font-weight: 700;
}
.plandetailscont h5 {
  font-weight: 700;
  font-size: 20px;
}
.carddetail label {
  color: #535353;
  margin-bottom: 3px;
}
.carddetail p {
  font-weight: 500;
  font-size: 16px !important;
  margin-bottom: 10px;
}
.link {
  color: #098de6 !important;
  cursor: pointer;
  margin-left: 8px;
  font-size: 14px;
}
.errordiv{
  text-align: center;
  color: #a5a5a5;
  margin-top: 110px;
  margin-bottom: 170px;
}
