.userscontentdiv {
    padding: 5px 10px 0px;
    height: calc(100% - 40px);
    overflow: auto;
} 
.users-tablelist {
    height: calc(100% - 40px);
    overflow: auto;
}
.no-item-img{
    height: calc(100vh - 500px);
}
.newinntalx a:hover img.default-img {
    display: none;
}

.newinntalx a:hover img.hover-img {
    display: initial;
}

span.testtooltip {
    position: absolute;
    top: 45px;
    right: 8px;
    background-color: #001c47;
    color: #fff;
    width: max-content;
    padding: 3px 10px;
    border-radius: 4px;
    display: none;
    z-index: 999;
  }
  
  span.testtooltip:before {
    content: '';
    border: 2px solid #001c47;
    border-width: 0px 0px 2px 2px;
    position: absolute;
    padding: 4px;
    right: 13px;
    top:  -5px;
    background: #001c47;
    transform: rotate(45deg);
  }
  
  .tsttooltipbtn:hover span.testtooltip {
    display: block;
  }