<div class="h-100">
  <div class="inviteuser-btn" (click)="inviteUser()">
    <span pTooltip="Invite User" tooltipPosition="top">
      <img src="../../../../../assets/images-n/common/Invite-User.svg" alt="inviteUser" />
    </span>
  </div>
  <div class="">
    <app-dynamic-table
          [columns_list]="columns_list"
          [table_data]="userslist"
          (deleteItem)="deleteUser($event)"
          [screenTable]="'users_screen'"
          [dataKeyId]="'id'"
          [search_fields]="table_searchFields"
          (editRowById)="modifyUser($event)"
          [show_search_field]="true"
          [show_column_filter]="true"
          [show_clear_filter]="true"
        >
    </app-dynamic-table>
  </div>
</div>
