::ng-deep #projects_details_screen .mat-tab-label {
    height: 40px !important;
    justify-content: left !important;
    min-width: 100px !important;
}

#projects_details_screen button.btn.btn-primary {
  background-color: #00a0e3 !important;
  border-color: #00a0e3 !important;
}

.maindivfoprm button.btn.btn-primary.prj-form-btn-reset, .modelprfooter button.btn.btn-primary.prj-form-btn-reset {
  background-color: #fff !important;
  /* border: 1px solid #00a0e3 !important; */
  color: #00a0e3 !important;
}

.maindivfoprm button.btn.btn-primary.prj-form-btn-hover:hover, .modelprfooter button.btn.btn-primary.prj-form-btn-hover:hover {
  background-color: #001c47 !important;
  color: #fff !important;
  border-color: #001c47 !important;
}

.remove-action{
    color: red;
    font-size: 15px;
}

::ng-deep .modal-lr .modal-content {
  margin-top: 0px !important;
  height: 60%;
  width: 100%;
  overflow: hidden;
}
::ng-deep .modal-up .modal-content {
  margin-top: 0px !important;
  height: 60%;
  width: 100%;
  overflow: hidden;
}
.upload-action{
  color:#4AB0F5;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  
}
.align1{
  margin-top: 15px;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #00a0e3;
  /* background-color: black; */
  display: inline-block;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #00a0e3;
  fill: #00a0e3;
  /* background-color: #00a0e3; */
}

/* new styles */
img.testplus.hover-img ,
td span:hover img.testplus.default-img{
    display: none;
}
td span:hover img.testplus.hover-img {
    display: initial;
}
.projectrepo-body {
  height: calc(100% - 48px);
  overflow: auto;
  padding: 10px;
}
span.projects-menu-item {
  margin-left: 10px;
}
.projects-table-body {
  margin-top:5px;
}
.projects-table-body td>span {
  font-size: 13px !important;
}