<ngx-spinner bdColor="#bebcbc66" type="">
  <img src='assets\images\EZFlow_Loader.gif' class="ezflow-loader" alt=""/>
</ngx-spinner>

<div class="container-fluid main-content1 main-content">
  <div class="content-area RPA-Layout">
      <div class="rpa-layout-header">
          <div class="row main-content-head">
              <div class="col-md-6 rpa-header-data p-0">
                <h3>
                <label id="popup_title">
                  <button [disabled]="current_instance == undefined" *ngIf="! copilotBotId" class="clickable module-back-button d-flex imageBox"  (click)="removenodes()">
                    <img class="default-arrow" src="assets/images-n/projects/backarrow-default.svg" alt="">
                    <img class="hover-arrow" src="assets/images-n/projects/backarrow-hover.svg" alt=""> 
                  </button>
                  <button (click)="sendCopilotBackEvent()" class="clickable module-back-button d-flex imageBox" *ngIf="copilotBotId">
                   <img class="default-arrow" src="assets/images-n/projects/backarrow-default.svg" alt="">
                    <img class="hover-arrow" src="assets/images-n/projects/backarrow-hover.svg" alt=""> 
                  </button>
              </label>
              
              <span *ngIf="current_instance!=undefined" class="title_text_haspath">
                  <span routerLink="/pages/rpautomation/home" class="breadcrum-back">RPA Studio</span>
                   <span class="breadcrum-align">/</span>
                   <span  class="sub_title_text"> {{current_instance.finalbot.botName}}</span>
              </span>
          </h3>
                  <!-- <h3>
                    <button [disabled]="current_instance == undefined" class="clickable module-back-button d-flex"  (click)="removenodes()">
                      <img src="assets/images-n/projects/backarrow-hover.svg" alt="back-arrow">
                    </button>
                      <span class="rpa-main-title">RPA Studio</span>
                      <span class="rpatitsep" *ngIf="current_instance != undefined">/</span>
                      <span class="title_text" *ngIf="current_instance != undefined">{{current_instance.finalbot.botName}}</span>
                  </h3> -->

                  <!-- <div *ngIf="current_instance != undefined" class="rpa-subtitle">
          <span class="clickable module-back-button"  *ngIf="current_instance.botState.botId!=undefined" (click)="removenodes()"><i class="text-primary fas fa-arrow-left"></i></span>
          <span *ngIf="current_instance.botState.botId!=undefined">Created By: {{current_instance.botState.createdBy}}|{{current_instance.botState.lastSubmittedTS | date :'medium'}}</span>
        </div> -->
              </div>
              <div class="col-md-6 p-0">
                <div class="actionsmenu-right" *ngIf="!isActionsShow && current_instance == undefined">
                  <div class="action-item">
                    <button id="Environments" placement="bottom">
                      <img src="assets/images/RPA/icon_latest/desktop.svg" alt=""/>
                      <span>Environment</span>
                      <span class="caret"></span>
                    </button>
                  </div>
                  <div class="action-item hovericon bvcsave">
                    <button class="clr-hvr">
                      <img src="assets/images/RPA/icon_latest/save.svg" class="testplus1" alt="">
                    </button>
                  </div>
                  <div class="action-item hovericon">
                    <button >
                      <img src="assets/images/RPA/icon_latest/play.svg" class="testplus1" alt="">
                    </button>
                  </div>
              
                  <div class="action-item hovericon">
                    <button class="dropdown-action-item clickable dropdown-toggle tsttooltipbtn">
                      <img src="assets/images/RPA/icon_latest/Predefined Bots.svg" class="testplus1" alt="">
                      <span class="caret"></span>
                    </button>
              
                  </div>
                  <div class="action-item hovericon">
                    <button class="tsttooltipbtn">
                      <img src="assets/images/RPA/icon_latest/View Logs.svg" class="testplus1" alt="">
                    </button>
                  </div>
              
                  <div class="action-item hovericon">
                    <button class="tsttooltipbtn">
                      <img src="assets/images/RPA/RPA-Audit-1 (1).svg" class="testplus2" alt="">
                    </button>
                  </div>
              
                  <div class="action-item hovericon">
                    <button class="tsttooltipbtn">
                      <img src="assets/images/RPA/rpa-actions/group-activity.svg" class="testplus2" alt="">
                    </button>
                  </div>
              
                  <div class="action-item hovericon">
                    <button class="tsttooltipbtn">
                      <img src="assets/images/RPA/icon_latest/schedule.svg" class="testplus1" alt="">
                    </button>
                  </div>
                  <div class="action-item hovericon">
                    <button class="tsttooltipbtn" type="button">
                      <img src="assets/images/RPA/icon_latest/download.svg" class="testplus1" alt="">
                    </button>
                  </div>
              
                  <div class="action-item hovericon">
                    <button class="tsttooltipbtn">
                      <img src="assets/images/RPA/icon_latest/delete.svg" class="testplus1" alt="">
                    </button>
                  </div>
                  <div class="action-item hovericon">
                    <button class="tsttooltipbtn">
                      <img src="assets/images/RPA/icon_latest/reset.svg" class="testplus1" alt="">
                    </button>
                  </div>
                </div>
              
                <div class="actionsmenu-right" *ngIf="!isActionsShow && current_instance != undefined">
                  <!-- TODO -- Enable below for grouping feature in RPA designer -->
                  <div class="action-item hovericon" *ngIf="current_instance != undefined">
                    <button class="tsttooltipbtn" [disabled]="current_instance.finalbot==undefined"
                      (click)="current_instance.onOpenGroupOverlay()">
                      <img src="assets/images/RPA/rpa-actions/group-activity.svg" class="testplus2" alt="">
                      <!-- <span class="testtooltip">Activity Grouping</span> -->
                      <span class="testtooltip">Group</span>
                    </button>
                  </div>
                  <div class="action-item" *ngIf="current_instance != undefined" dropdown #dropdown="bs-dropdown"
                    [insideClick]="true">
                    <button class="dropdown-action-item clickable dropdown-toggle tsttooltipbtn" id="Environments" dropdownToggle type="button" aria-controls="environments">
                      <img src="assets/images/RPA/icon_latest/desktop.svg" alt=""/>
                      <span *ngIf="getSelectedEnvironments().length==0" class="plus">Environment</span>
                      <span *ngIf="getSelectedEnvironments().length>=1" class="plus">{{getSelectedEnvironments()[0].environmentName}}<span
                          *ngIf="getSelectedEnvironments().length>1">...({{getSelectedEnvironments().length}})</span></span>
                      <span class="caret"></span>
                      <span class="testtooltip">Environments</span>
                    </button>
                    <ul id="environments" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                      <li role="menuitem" *ngFor="let env of  current_instance.filteredEnvironments"
                        style="white-space: nowrap;">
                        <input #inputEl type="checkbox" [checked]="env.check==true"
                          (change)=" current_instance.checkUncheckEnvironments(env.environmentId,inputEl.checked)">  {{env.environmentName}}
                      </li>
                      <li role="menuitem" class="clickable" (click)="createEnvironment()">
                        <img src="assets/images/RPA/icon_latest/pluse-blue.svg" class="testplus" alt=""/>New
                      </li>
                    </ul>
                  </div>
                  <span class="bpsbtnsep">|</span>
                  <div class="action-item hovericon bvcsave">
                    <button class="clr-hvr tsttooltipbtn" [outsideClick]="true"
                      (click)="clear()"  #versionControlPopup="bs-popover" [popover]="popTemplate" placement="bottom">
                      <img src="assets/images/RPA/icon_latest/save.svg" class="testplus1" alt="">
                      <span class="testtooltip">Save Bot</span>
                    </button>
                  </div>
<!-- 
                  <div class="action-item" *ngIf="isProcessAnalyst">
                    <button disabled>
                      <img src="assets/images/RPA/icon_latest/save.svg" class="" alt="">
                    </button>
                  </div> -->
              
                  <div class="action-item hovericon">
                    <button class="tsttooltipbtn"
                      (click)=" current_instance.executeBot()">
                      <img src="assets/images/RPA/icon_latest/play.svg" class="testplus1" alt="">
                      <span class="testtooltip">Start Bot</span>
                    </button>
                  </div>

                  <!-- <div class="action-item" *ngIf="isProcessAnalyst">
                    <button disabled>
                      <img src="assets/images/RPA/icon_latest/play.svg" class="" alt="">
                    </button>
                  </div> -->
                  <!-- <div class="action-item hovericon" *ngIf="current_instance != undefined">
                    <button class="tsttooltipbtn" [disabled]="current_instance.savebotrespose==undefined || current_instance.pausebot==false" (click)=" current_instance.stopBot()">
                      <img src="assets/images/RPA/icon_latest/Stop Bot.svg"class="testplus1">
                      <span class="testtooltip">Stop Bot</span>
                    </button>
                  </div> -->
                  
                  <!-- Enable below code for predefined Bot feature in RPA Designer -->

                  <!-- <div class="action-item hovericon" *ngIf="current_instance != undefined" [isDisabled]="predefinedBotsList.length==0"
                    dropdown id="predefinedBotsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <button class="dropdown-action-item clickable dropdown-toggle tsttooltipbtn" id="predefinedBots" dropdownToggle
                      type="button" aria-controls="predefinedBotDropdown">
                      <img src="assets/images/RPA/icon_latest/Predefined Bots.svg" class="testplus1" alt="">
                      <span class="caret"></span>
                      <span class="testtooltip">Predefined Bots</span>
                    </button>
                    <ul id="predefinedBotDropdown" *dropdownMenu class="dropdown-menu action-menu-dropdown" role="menu"
                      aria-labelledby="button-basic">
                      <li role="menuitem" class="clickable" *ngFor="let predefinedBot of predefinedBotsList"
                        style="white-space: nowrap;">
                        <div [dndDraggable]="predefinedBot"> {{predefinedBot.botName}}</div>
                      </li>
                    </ul>
              
                  </div> -->
                  <span class="bpsbtnsep">|</span>
                  <div class="action-item hovericon" *ngIf="current_instance != undefined">
                    <button class="tsttooltipbtn" [disabled]="current_instance.finalbot==undefined"
                      (click)="current_instance.openLogs()">
                      <img src="assets/images/RPA/icon_latest/View Logs.svg" class="testplus1" alt="">
                      <span class="testtooltip">View Logs</span>
                    </button>
                  </div>
              
                  <div class="action-item hovericon" *ngIf="current_instance != undefined">
                    <button class="tsttooltipbtn" [disabled]="current_instance.finalbot==undefined" (click)="auditLogs()">
                      <img src="assets/images/RPA/RPA-Audit-1 (1).svg" class="testplus2" alt="">
                      <span class="testtooltip">Audit Logs</span>
                    </button>
                  </div>
              
                  <div class="action-item hovericon" *ngIf="current_instance != undefined">
                    <button class="tsttooltipbtn" [disabled]="current_instance.finalbot.botId==undefined || freetrail=='true'"
                      (click)=" current_instance.openScheduler()">
                      <img src="assets/images/RPA/icon_latest/schedule.svg" class="testplus1" alt="">
                      <span class="testtooltip">Scheduler</span>
                    </button>
                  </div>
                  <div class="action-item hovericon" *ngIf="current_instance != undefined">
                    <button  type="button" class="tsttooltipbtn" (click)="op.toggle($event)" [disabled]="current_instance.finalbot==undefined">
                      <img src="assets/images/RPA/icon_latest/download.svg" class="testplus1" alt="download">
                      <span class="testtooltip">Download</span>
                    </button>
                    <p-overlayPanel #op styleClass = download>
                        <div class="d-format"><a class="dropdown-item clickable"
                          (click)="current_instance.downloadJpeg()"><span>JPEG</span></a>
                        </div>
                        <div class="d-format"><a class="dropdown-item clickable"
                          (click)="current_instance.downloadPng()"><span>PNG</span></a>
                        </div>
                        <div class="d-format"><a class="dropdown-item clickable"
                          (click)="current_instance.downloadPdf()"><span>PDF</span></a>
                        </div>
                    </p-overlayPanel>
                   
                    <!-- <button class="tsttooltipbtn" type="button" [disabled]="current_instance.finalbot==undefined"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="assets/images/RPA/icon_latest/download.svg" class="testplus1" alt="">
                      <span class="testtooltip">Download</span>
                    </button>
                    <div class="rpa-dropdown dropdown-menu RPA-download" aria-labelledby="dropdownMenuButton">
                      <div class="d-format"><a class="dropdown-item clickable"
                          (click)=" current_instance.downloadJpeg()"><span>JPEG</span></a></div>
                      <div class="d-format"><a class="dropdown-item clickable"
                          (click)=" current_instance.downloadPng()"><span>PNG</span></a></div>
                      <div class="d-format"><a class="dropdown-item clickable"
                          (click)=" current_instance.downloadPdf()"><span>PDF</span></a></div>
                    </div> -->
                  </div>

                  <div class="action-item hovericon" *ngIf="current_instance != undefined && !isProcessAnalyst">
                    <button class="tsttooltipbtn"
                      [disabled]="current_instance.finalbot == undefined || isProcessAnalyst == true"
                      (click)=" current_instance.deleteBot()">
                      <img src="assets/images/RPA/icon_latest/delete.svg" class="testplus1" alt="">
                      <span class="testtooltip">Delete</span>
                    </button>
                  </div>

                  <div class="action-item" *ngIf="isProcessAnalyst">
                    <button class="" disabled>
                      <img src="assets/images/RPA/icon_latest/delete.svg" class="" alt="">
                    </button>
                  </div>

                  <div class="action-item hovericon" *ngIf="current_instance != undefined && !isProcessAnalyst">
                    <button class="tsttooltipbtn" (click)=" current_instance.resetDesigner()">
                      <img src="assets/images/RPA/icon_latest/reset.svg" class="testplus1" alt="">
                      <span class="testtooltip">Reset Bot</span>
                    </button>
                  </div>

                  <div class="action-item " *ngIf="isProcessAnalyst">
                    <button class="" disabled>
                      <img src="assets/images/RPA/icon_latest/reset.svg" class="" alt="">
                    </button>
                  </div>
                
                  <!-- <div class="action-item vrsn-btn" *ngIf="current_instance != undefined">
                    <p-toggleButton onLabel="V1" offLabel="V2" (click)="onChangeExecutionMode()" [(ngModel)]="executionMode"></p-toggleButton>
                  </div> -->
                </div>
              </div>
          </div>
          <div class="toolsetmenuicon">
              <span class="module-sub-header-title clickable">
                <span class="module-sub-header-title clickable">
                  <button  class="toolset-text"  (click)="toolsetSideNav=!(toolsetSideNav)">
                    <img src="assets/images/RPA/icon_latest/menu-line.svg" class="testplus" alt=""/>
                  </button>
                </span>
              </span>
          </div>
          <!-- <div class="col-md-3">
        <button  type="button" *ngIf="tabsArray.length > 0" class="btn btn-default" aria-hidden="true" placement="bottom" id="Load_Bot" (click)="rpa_studio.onLoad()">
            <img src="assets/images/RPA/icon_latest/load-blue.svg" class="default-img">
            <img src="assets/images/RPA/icon_latest/load.svg" class="hover-img">Load
          </button>
          
          <button  type="button"  *ngIf="tabsArray.length > 0"  class="btn btn-primary"  aria-hidden="true" placement="bottom" id="Create_Bot" (click)="rpa_studio.onCreate(0)">
            <img src="assets/images/Projects/White-plus.svg" class="testplus" />
            Create
          </button>
    </div> -->

      </div>
      <div class="toolset-mainheader">

          <mat-tab-group *ngIf="loadedBotsList.length!=0" class="tabs" (selectedTabChange)="change_active_bot($event)" [selectedIndex]="loadedBotsList.length -1 ">
              <mat-tab  *ngFor="let tab of loadedBotsList; let i=index;">
                  <ng-template mat-tab-label>
                      <span><img src="assets/images/Projects/bot.svg" class="bot-img" alt=""></span>
                      <span class="tab-botname">{{tab.botName}}</span>
                      <div class="text-right">
                          <button [id]="'close_bot_'+tab.botName" class="bot-close"   (click)="removetab(tab)">
              <img src="assets/images/RPA/icon_latest/close.svg" alt=""/>
            </button>
                      </div>
                  </ng-template>

                  
                  <mat-drawer-container class="example-container">
                    <mat-drawer #drawer [opened]="toolsetSideNav" style="z-index:0" mode="side" >
                      <app-rpa-toolset [toolsetItems]="toolsetItems" (closeToolset)="toolsetSideNav=false" #rpa_bot_instance></app-rpa-toolset>
                    </mat-drawer>
                        <mat-drawer-content>
                          <div class="row h-100">
                            <div class="col-md-12 check p-0 h-100" *ngIf="loadedBotsList.length!=0" >  
                              <app-rpa-studio-designerworkspace (onCreateBotDetails)="updateCreatedBotName($event)" [index]="i" [environmentsList]="environmentsList" [categoriesList]="categoriesList" [toolsetItems]="toolsetItems" [bot]="tab" #designerInstances [isBotValidated]="isBotValidated"></app-rpa-studio-designerworkspace>
                              <div class="rpa-custom-slider">
                                <button class="action-item hovericon" pTooltip="Zoom In" tooltipPosition="right" (click)="childBotWorkspace.zoomin('')">
                                  <img src="assets/images/RPA/icon_latest/Zoom In.svg" />
                                </button>
                                <button class="action-item hovericon" pTooltip="Zoom Out" tooltipPosition="right" (click)="childBotWorkspace.zoomout('')">
                                  <img src="assets/images/RPA/icon_latest/Zoom Out.svg" />
                                </button>
                                <button class="action-item hovericon" pTooltip="Fit to screen" tooltipPosition="right"
                                  (click)="childBotWorkspace.reset('')">
                                  <img src="assets/images/RPA/icon_latest/Fit screen.svg" />
                                </button>
                              </div>
                            </div>
                        
                          </div>
                        </mat-drawer-content>
                  </mat-drawer-container>
              
                    </mat-tab>
              <mat-tab [disabled]="true">
                  <ng-template mat-tab-label>
                      <span [matMenuTriggerFor]="menu" class="clickable text-primary" *ngIf="userRole!='User'" (click)="openTabOptions()">
          <img src="assets/images/RPA/icon_latest/add.svg" class="add-new" alt=""/>
        </span>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="openBotForm()" [disabled]="freetrail" *ngIf="userRole.includes('Process Owner') || userRole.includes('RPA Developer')">
              <img src="assets/images/RPA/icon_latest/add-fill.svg" class="menu-icon" alt=""/> Create New</button>
                          <hr>
                          <button mat-menu-item (click)="loadBotFormOverlay()" [disabled]="freetrail">
              <img src="assets/images/RPA/icon_latest/load-bot-fill.svg" class="menu-icon" alt=""/> Load</button>
                      </mat-menu>

                  </ng-template>
              </mat-tab>
          </mat-tab-group>
           <!-- <div class="rpa-bottom-tab" headerPosition="below">

              <div *ngIf="current_instance != undefined" class="footer-versions">
                  <select id="versions" (change)="version_change($event.target.value)" [value]="current_instance.selectedversion==undefined?0:current_instance.selectedversion">
                <option value=0 disabled>Select Version</option>
                <option  [value]="version.vId"  *ngFor="let version of current_instance.versionsList"  >
                  Version {{version.vId}}
                </option>
              </select>
              </div> 

          </div> -->
      </div>
      <ng-template #popTemplate>
        <div class="custom-content Apr-cnt">
          
          <div class="form-group">
            <label for="" class="label-control">Version</label>
             <select [(ngModel)]="version_type"  class="form-control">
              <option value="">No Selected Version</option>
              <option value="Major Version">Major Version</option>
              <option value="Minor Version">Minor Version</option>
            </select>   
          </div>
          <div class="form-group">
            <label for="" class="label-control">Comments</label>
            <textarea class="form-control" maxlength="255"  [(ngModel)]="comments"></textarea>
          </div>
          <div class="custom-footer-content">
            <button class="btn bluebg-button" (click)="SaveBot()">Save</button>
          </div>
        </div>
      </ng-template>
 



      
<!--load bot overlay-->
<div id="load-bot" class="rpa-modal">
  <app-split-overlay   (closeOverlay)="closeLoadBotFormOverlay()">
  <div class="h-100">
    <div class="create-header">
      <h3>Load Bot</h3>
    </div>
    <div class="createform-overlay">
      <form [formGroup]="loadBotForm" (ngSubmit)="onSubmitLoadBotFrom()" class="h-100">
        <div class="h-100">
          <div class="col-md-12 p-0 form-group">
            <label class="label-control" for="botDepartment">Category<span class="star">*</span></label>
            <select class="form-control" (change)="filterBotListByCategory()" formControlName="botDepartment"
              name="botDepartment">
              <option value="" selected hidden>Select Category</option>
              <option *ngFor="let category of categoriesList" [value]="category.categoryId">{{category.categoryName}}
              </option>
            </select>
            <div *ngIf="loadBotForm.get('botDepartment').invalid && loadBotForm.get('botDepartment').touched"
              class="required">
              Category Required
            </div>
          </div>
          <div class="col-md-12 p-0 form-group">
            <label class="label-control" for="botType">Bot<span class="star">*</span></label>
            <select class="form-control" formControlName="bot" name="bot">
              <option value="" selected hidden>Select Bot</option>
              <option *ngFor="let bot of filteredBotsList" [value]="bot.botId">{{bot.botName}}</option>
            </select>
            <div *ngIf="loadBotForm.get('bot').invalid && loadBotForm.get('bot').touched" class="required">
              Bot Required
            </div>
          </div>
        </div>
        <div class="createform-footer">
          <button class="btn bluebg-button" [disabled]="loadBotForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</app-split-overlay>
</div>


<div *ngIf="botFormVisibility" id="bot-form">
  <app-split-overlay (closeOverlay)="closeOverlay1($event)">
    <app-rpa-bot-form  (unsavedOutput)="submitUnsavedBotDetails($event)" [botDetails]="updateBotDetails" (closeFormOverlay)="botFormVisibility=false" (output)="onBotCreate($event)" [unsavedBot]="unsaved" [isCreateForm]="true" [categoriesList]="categoriesList"></app-rpa-bot-form>
  </app-split-overlay>
</div>

  <div *ngIf="isOpenSideOverlay">
    <app-split-overlay (closeOverlay)="closeSideOverlay($event)">
        <app-rpa-environment-form  (closeOverlay)="closeSideOverlay($event)"[updateenvdata]="{}"  [categoriesList]="categoriesList" [isCreate]="isCreate"></app-rpa-environment-form>
    </app-split-overlay>
</div>
<p-toast  [style]="{marginTop: '50px'}" key="rpadesignertoast"></p-toast>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" key="rpadesigner" [closable]="false" ></p-confirmDialog>
<!-- <p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"  [closable]="false" key="" ></p-confirmDialog> -->
