  <mat-tab-group class="tabs" [selectedIndex]="tabsArray.length-1" >
      <mat-tab  *ngFor="let tab of tabsArray">
        <ng-template mat-tab-label>
            <mat-icon class="text-primary">android</mat-icon>
            <span class="tab-botname">{{tab.botName}}</span>
            <div class="text-right">
              <button [id]="'close_bot_'+tab.botName"  class="bot-close" (click)="removetab(tab)">
                <img src="../../../../assets/images/RPA/icon_latest/close.svg" />
                <!-- <i class="fa fa-times"  ></i> -->
              </button>
            </div>
        </ng-template>
        <app-rpa-toolset [bot]="tab" ></app-rpa-toolset>
      </mat-tab>
  </mat-tab-group>
