<div class="maincontent">
    <div class="row main-content-head">
      <div class="col-md-8 pl-0">
        <h3>     
        <span class="sub_title_text">
            Screen Generation
          </span>
        </h3>
      </div>
      <div class="col-md-4 pr-0 text-right">
        <button class="btn grey-btn configure-pad" (click)="addNew()">
          <img src="./../../../../assets/images-n/dashboard/plus-square_grey.svg" alt="Add New" class="imgicon-width">
          <span class="plus">Add New</span>
        </button>
      </div>
    </div>
    <div class="main-content-body  table-height-adj">
      <div class="tabs_screen h-100">
          <div class="gridparentdiv">
            <app-dynamic-table
            [table_data]="screenlist"
            [screenTable]="'common'"
            [columns_list]="columns_list"
            (updateItem)="editScreen($event)"
            (deleteItem)="deleteScreen($event)"
            [show_delete_btn]="true"
            [show_edit_btn]="true"
            [show_column_filter]="true"
            [show_search_field]="true"
            [search_fields]="table_searchFields"
            [show_clear_filter]="true"
            [show_view_btn]="true"
            (viewItem)="viewDetails($event)" 
          ></app-dynamic-table>
          </div>
     
      </div>
  </div>
</div>

<p-confirmDialog #cd [style]="{width: '30vw'}" key="positionDialog" position="center" [baseZIndex]="10000" 
rejectButtonStyleClass="btn bluebg-button" [closable]="false">
<ng-template pTemplate="footer">
  <button type="button" pButton class="btn reset-btn" label="No" (click)="cd.reject()"></button>
  <button type="button" pButton class="btn bluebg-button" label="Yes" (click)="cd.accept()"></button>
</ng-template>
</p-confirmDialog>
<p-toast  [style]="{marginTop: '50px'}" ></p-toast>